.Bonus_base_c5c46 {
    width: 54rem;
    height: 54rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

    .Bonus_base__fitting_faca3 {
        opacity: .5;
    }
.Bonus_icon_ffef5 {
    width: 96rem;
    height: 96rem;
    background: no-repeat center / contain;
    position: absolute;
}
.Bonus_icon__battleBooster_aacce {
        top: -14rem;
        left: -20rem;
    }
.Bonus_icon__battleBoosterReplace_e88fe {
        top: -12rem;
        left: -20rem;
    }
.Bonus_icon__equipmentPlus_d0586 {
        top: -28rem;
        left: -20rem;
    }
.Bonus_icon__builtInEquipment_a084e {
        top: -21rem;
        left: -23rem;
    }
.Bonus_icon__equipmentModernized_be55d {
        top: -23rem;
        left: -19rem;
    }
.Bonus_icon__equipmentTrophyBasic_e4aa3,
    .Bonus_icon__equipmentTrophyUpgraded_b3eff {
        top: -23rem;
        left: -19rem;
    }

.Level_base_e747e {
    height: 16rem;
    background: center center / contain no-repeat;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

    .Level_base__level1_fee07 {
        width: 9rem;
    }

    .Level_base__level2_c750a {
        width: 12rem;
    }

    .Level_base__level3_ddb2e {
        width: 15rem;
    }

    .Level_base__level4_ef41e {
        width: 16rem;
    }

    .Level_base__level5_b9826 {
        width: 14rem;
    }

    .Level_base__level6_f02da {
        width: 17rem;
    }

    .Level_base__level7_ef46b {
        width: 20rem;
    }

    .Level_base__level8_f0173 {
        width: 23rem;
    }

    .Level_base__level9_d24a8 {
        width: 17rem;
    }

    .Level_base__level10_dff36 {
        width: 15rem;
    }

.Inside_image_bc8e2 {
    width: 48rem;
    height: 48rem;
    padding: 6rem;
    background: no-repeat center / contain;
}

    .Inside_image__fitting_c1486 {
        opacity: .5;
    }
.Inside_warning_b56ee {
    width: 54rem;
    height: 54rem;
    background: url('R.images.gui.maps.icons.library.icon_alert_32x32') no-repeat center / 32rem;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.Inside_change_f01df {
    width: 20rem;
    height: 20rem;
    background: url('R.images.gui.maps.icons.tanksetup.panel.change') no-repeat center / contain;
    position: absolute;
    top: 0;
    right: 0;
}

