/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Platoon_9c663a1 {
  display: flex;
  align-items: center;
}

.Platoon_button_a989ea7f {
  opacity: 0.7;
  transition: opacity 0.1s ease-out;
  cursor: pointer;
}
.Platoon_button_a989ea7f:hover {
  opacity: 0.9;
}
.Platoon_button_a989ea7f:active {
  opacity: 0.5;
}
.Platoon_button__disabled_e1f331be {
  opacity: 1;
  cursor: default;
  pointer-events: none;
}
.Platoon_button__search_a7562308 {
  position: relative;
}
.Platoon_button__search_a7562308::after {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-image: conic-gradient(from 90deg at 50% 50%, #fff 0deg, transparent 360deg);
  mask: radial-gradient(farthest-side, transparent 2rem, #000 0);
  mask-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 7rem;
  left: 8rem;
  animation: Platoon_rotation_78daa44d 1s infinite linear;
}
.mediaMediumWidth .Platoon_button__search_a7562308::after {
  width: 10rem;
  height: 10rem;
  top: 10rem;
  left: 11rem;
}

.Platoon_memberIconWrapper_3b1536c {
  width: 24rem;
  height: 24rem;
  position: relative;
}
.mediaMediumWidth .Platoon_memberIconWrapper_3b1536c {
  width: 32rem;
  height: 32rem;
}

.Platoon_memberIcon_7e29c5ae {
  opacity: 0.7;
  position: relative;
  transition: opacity 0.1s ease-out;
  cursor: pointer;
}
.Platoon_9c663a1:hover .Platoon_memberIcon_7e29c5ae {
  opacity: 0.9;
}
.Platoon_9c663a1:active .Platoon_memberIcon_7e29c5ae {
  opacity: 0.5;
}
.Platoon_memberIcon__searchState_78daa44d::after {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-image: conic-gradient(from 90deg at 50% 50%, #fff 0deg, transparent 360deg);
  background-position: center;
  background-size: contain;
  mask: radial-gradient(farthest-side, transparent 2rem, #000 0);
  mask-repeat: no-repeat;
  content: "";
  position: absolute;
  top: 7rem;
  left: 8rem;
  animation: Platoon_rotation_78daa44d 1s infinite linear;
}
.mediaMediumWidth .Platoon_memberIcon__searchState_78daa44d::after {
  width: 10rem;
  height: 10rem;
  top: 10rem;
  left: 11rem;
}
.Platoon_memberIcon__readyState_407793d7 {
  opacity: 0.8;
  content: "";
  position: absolute;
  top: -12rem;
  left: -12rem;
}
.mediaMediumWidth .Platoon_memberIcon__readyState_407793d7 {
  top: -16rem;
  left: -16rem;
}
.Platoon_9c663a1:active .Platoon_memberIcon__readyState_407793d7 {
  opacity: 0.6;
}

@keyframes Platoon_rotation_78daa44d {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}