.Error_base_de061 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}

.Error_background_cda17 {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.mapbox.bg') no-repeat center / cover;
    filter: brightness(50%);
    position: absolute;
    top: 0;
    left: 0;
}

.Error_content_ca5c9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
    position: relative;
}

.Error_image_cffdf {
    width: 432rem;
    height: 278rem;
    margin-bottom: 13rem;
    background: url('R.images.gui.maps.icons.mapbox.progressionError.gears') no-repeat center / contain;
}

.Error_base__small_dacaa .Error_image_cffdf,
    .Error_base__extraSmall_fda83 .Error_image_cffdf {
        width: 286rem;
        height: 184rem;
    }

.Error_title_f95f9 {
    color: #E9E2BF;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 12rem;
}

.Error_base__small_dacaa .Error_title_f95f9,
    .Error_base__extraSmall_fda83 .Error_title_f95f9 {
        color: #E9E2BF;
        font-size: 18rem;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 10rem;
    }

.Error_description_a006e {
    color: #C9C9B6;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    max-width: 530rem;
    text-align: center;
}

.Error_base__small_dacaa .Error_description_a006e,
    .Error_base__extraSmall_fda83 .Error_description_a006e {
        color: #C9C9B6;
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.3;
        max-width: 445rem;
    }

.CButton_base_bb13f {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, 0.6);
    position: relative;
    cursor: pointer;
}

    .CButton_base__main_dd05d,
    .CButton_base__primary_c75a2,
    .CButton_base__primaryGreen_ae65b,
    .CButton_base__primaryRed_b1341,
    .CButton_base__secondary_f2c20 {
        background-size: 100% 100%;
    }

    .CButton_base__main_dd05d {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_c75a2 {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_ae65b {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_b1341 {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_f2c20 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_f452b {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, 0.3), 0 0 0 1rem rgba(255,255,255, 0.15) inset;
        background-color: rgba(0,0,0, 0.15);
    }

    .CButton_base__extraSmall_e1273 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_c20a3,
    .CButton_base__medium_ef59a {
        padding: 0 20rem;
    }

    .CButton_base__small_c20a3 {
        min-height: 18rem;
    }

    .CButton_base__medium_ef59a {
        min-height: 32rem;
    }

    .CButton_base__large_bafd5 {
        min-height: 48rem;
    }

    .CButton_base__disabled_eef7a {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e957b {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_dd05d .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_c75a2 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_ae65b .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_b1341 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_f2c20 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_ccd7e {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_f2bb4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_b0875 .CButton_state_f2bb4 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, 0.2);
    }
.CButton_stateHighlightHover_bd0cb,
.CButton_stateHighlightActive_e9a8a,
.CButton_stateDisabled_ed209 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_bd0cb {
    background-image: linear-gradient(180deg, rgba(252,248,235, 0.25) 0%, rgba(252,248,235, 0.1) 50%, rgba(255,255,255, 0) 100%);
    opacity: 0;
}
.CButton_base_bb13f:hover .CButton_stateHighlightHover_bd0cb {
        opacity: 1;
    }
.CButton_base_bb13f:active .CButton_stateHighlightHover_bd0cb {
        opacity: 0;
    }
.CButton_base__disabled_eef7a:hover .CButton_stateHighlightHover_bd0cb {
        opacity: 0;
    }
.CButton_base__ghost_f452b .CButton_stateHighlightHover_bd0cb {
        box-shadow: 0 15rem 12rem 0 rgba(242,242,230, 0.11) inset;
        background-color: rgba(8,6,0, 0.18);
        background-image: none;
    }
.CButton_stateHighlightActive_e9a8a {
    background-image: linear-gradient(180deg, rgba(0,0,0, 0.3) 0%, rgba(0,0,0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_db27d .CButton_stateHighlightActive_e9a8a {
        opacity: 1;
    }
.CButton_stateDisabled_ed209 {
    background-color: rgba(0,0,0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_eef7a .CButton_stateDisabled_ed209 {
        visibility: inherit;
    }
.CButton_content_a99fc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_a99fc[lang='ja'],
    .CButton_content_a99fc[lang='ko'],
    .CButton_content_a99fc[lang='zh_tw'],
    .CButton_content_a99fc[lang='zh_sg'],
    .CButton_content_a99fc[lang='zh_cn'],
    .CButton_content_a99fc[lang='th'] {
        font-weight: 400;
    }
.CButton_base__main_dd05d .CButton_content_a99fc,
    .CButton_base__primaryRed_b1341 .CButton_content_a99fc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_f2c20 .CButton_content_a99fc {
        color: rgba(254,254,236, 0.75);
    }
.CButton_base__primaryGreen_ae65b .CButton_content_a99fc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
.CButton_base__extraSmall_e1273 .CButton_content_a99fc {
        font-size: 12rem;
    }
.CButton_base__small_c20a3 .CButton_content_a99fc {
        font-size: 14rem;
    }
.CButton_base__medium_ef59a .CButton_content_a99fc {
        font-size: 15rem;
    }
.CButton_base__large_bafd5 .CButton_content_a99fc {
        font-size: 18rem;
    }
.CButton_base__disabled_eef7a .CButton_content_a99fc {
        opacity: 0.6;
    }

.TextButton_base_a231c {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_bfac3 {
        flex-direction: row-reverse;
    }
.TextButton_icon_cdfc0 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_fc1bb,
    .TextButton_icon__forward_efa2d {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_efa2d {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_e2f0f {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_e32c0 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_d6e04 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_fc1bb .TextButton_glow_d6e04,
    .TextButton_icon__forward_efa2d .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_e2f0f .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_e32c0 .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_a231c:hover .TextButton_glow_d6e04 {
        opacity: 1;
    }
.TextButton_base_a231c:active .TextButton_glow_d6e04 {
        opacity: 0;
    }
.TextButton_caption_f4e8d {
    position: relative;
    transition: color .16s, text-shadow .16s;
}
.TextButton_caption__back_d358d,
    .TextButton_caption__forward_ff93d,
    .TextButton_caption__close_fc554 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_a231c:hover .TextButton_caption__back_d358d, .TextButton_base_a231c:hover .TextButton_caption__forward_ff93d, .TextButton_base_a231c:hover .TextButton_caption__close_fc554 {
            color: #fffa9f;
        }
.TextButton_base_a231c:active .TextButton_caption__back_d358d, .TextButton_base_a231c:active .TextButton_caption__forward_ff93d, .TextButton_base_a231c:active .TextButton_caption__close_fc554 {
            color: #FFDD99;
        }
.TextButton_caption__info_c263a {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_a231c:hover .TextButton_caption__info_c263a {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_a231c:active .TextButton_caption__info_c263a {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_d3960 {
    color: #7c7c6c;
}
.TextButton_base__left_ec79d .TextButton_goto_d3960 {
        margin-left: 8rem;
    }
.TextButton_base__right_bfac3 .TextButton_goto_d3960 {
        margin-right: 8rem;
    }
.TextButton_shine_f8873 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ec79d .TextButton_shine_f8873 {
        left: -4rem;
    }
.TextButton_base__right_bfac3 .TextButton_shine_f8873 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_a231c:hover .TextButton_shine_f8873 {
        opacity: 1;
    }
.TextButton_base_a231c:active .TextButton_shine_f8873 {
        opacity: 0;
    }

.HorizontalBar_base_fa517 {
    display: flex;
    width: 100%;
    height: 13rem;
    visibility: hidden;
    position: relative;
}

    .HorizontalBar_base__active_ad89b {
        visibility: visible;
    }

    .HorizontalBar_base_fa517 .disable,
    .HorizontalBar_base_fa517 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.HorizontalBar_leftButton_eb8c3,
.HorizontalBar_rightButton_f5116 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_eb8c3:hover, .HorizontalBar_rightButton_f5116:hover {
        opacity: 1;
    }

.HorizontalBar_leftButton_eb8c3 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_f5116 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_fd3af {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_bb7e0 {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem 7rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_bb7e0:hover {
        opacity: 1;
    }

.HorizontalBar_rail_a3d9e {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_a3d9e:hover {
        opacity: .7;
    }


.HorizontalScroll_base_a33a9 {
    width: 100%;
}

.HorizontalScroll_wrapper_b622e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_a2315 {
    width: 100%;
    margin-bottom: 7rem;
}

.Cards_base_e7dfc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 303rem;
    z-index: 1;
}

    .Cards_base__medium_af3bc {
        height: 373rem;
    }

    .Cards_base__large_cc2ff,
    .Cards_base__extraLarge_b0299 {
        height: 443rem;
    }

.Cards_cardListInner_d1f10 {
    display: flex;
    margin: 5rem 5rem 10rem;
    position: relative;
}

.Cards_scrollWrapper_fa36d {
    display: flex;
    justify-content: center;
}

.Cards_mask_a27be {
    width: 100%;
    margin-bottom: -25rem;
}

.mediaMedium .Cards_mask_a27be {
        margin-bottom: 0;
}

.Cards_arrow_d7f7a {
    width: 74rem;
    height: 142rem;
    margin-top: 23rem;
    background: no-repeat center / cover;
    z-index: 3;
    cursor: pointer;
}

.Cards_arrow_d7f7a:hover {
        filter: brightness(1.3) saturate(1.5);
    }

.Cards_arrow__left_f3c92 {
        margin-right: -60rem;
        background-image: url('R.images.gui.maps.icons.mapbox.progression.prev');
    }

.Cards_arrow__right_c59a6 {
        margin-left: -62rem;
        background-image: url('R.images.gui.maps.icons.mapbox.progression.next');
    }

.Cards_arrow__disabled_d0da3 {
        visibility: hidden;
        cursor: auto;
    }

.FormatText_base_f27a4 {
    display: flex;
    flex-wrap: wrap;
}

.Item_base_e6674 {
    width: 232rem;
    height: 100%;
    border: 1rem solid rgba(215, 215, 215, .3);
    border-radius: 2rem;
    background: no-repeat center / cover;
    position: relative;
}

    .Item_base__done_ccce9 {
        border-color: rgba(128, 212, 58, .5);
        box-shadow: 0 4px 10px rgba(0, 0, 0, .4), 0 0 5px rgba(128, 212, 58, .5);
    }

    .Item_base__medium_ec28f {
        width: 253rem;
    }

    .Item_base__large_fc726,
    .Item_base__extraLarge_d2bcb {
        width: 300rem;
    }

.Item_shadow_b13bc {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 4rem 10rem rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, .2);
    background-image: radial-gradient(50% 50% at 50% 50%, transparent, rgba(0, 0, 0, .3));
}

.Item_base__done_ccce9 .Item_shadow_b13bc {
        background-color: rgba(128, 212, 58, .1);
    }

.Item_blinkWrapper_d7060 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Item_blink_e2acf {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.mapbox.progression.highlight') no-repeat center / cover;
    mix-blend-mode: overlay;
    position: absolute;
    top: -100%;
    animation: Item_blinkAnim_d27b5 7s 5s infinite;
    animation-timing-function: cubic-bezier(.5, 1, .89, 1);
}

.Item_bubble_aa8d1 {
    width: 8rem;
    height: 8rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .6), 0 0 10rem rgba(254, 103, 0, .5), 0 0 12rem rgba(249, 0, 0, .8);
    background-color: #dd3b03;
    position: absolute;
    top: -4rem;
    right: -4rem;
    z-index: 1;
}

.Item_header_f5124 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, .4), transparent);
    position: absolute;
    top: 0;
    left: 0;
}

.Item_icon_e3d66 {
    width: 77rem;
    height: 77rem;
    margin-top: -5rem;
    margin-bottom: -22rem;
    background: url('R.images.gui.maps.icons.mapbox.progression.icon_rating') no-repeat center / cover;
}

.Item_base__medium_ec28f .Item_icon_e3d66 {
        margin-top: 0;
    }

.Item_base__large_fc726 .Item_icon_e3d66,
    .Item_base__extraLarge_d2bcb .Item_icon_e3d66 {
        width: 128rem;
        height: 128rem;
        margin-top: -14rem;
        margin-bottom: -44rem;
    }

.Item_base__special_af489 .Item_icon_e3d66 {
        background-image: url('R.images.gui.maps.icons.mapbox.progression.icon_rating');
    }

.Item_title_e79e0 {
    color: #FFFFFF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 200rem;
    text-align: center;
    overflow: hidden;
}

.Item_base__medium_ec28f .Item_title_e79e0 {
        width: 216rem;
    }

.Item_base__large_fc726 .Item_title_e79e0,
    .Item_base__extraLarge_d2bcb .Item_title_e79e0 {
        width: 260rem;
        font-size: 18rem;
    }

.Item_counter_bf595 {
    color: #FFFFFF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 4rem;
}

.Item_base__ready_a7568 .Item_counter_bf595 {
        color: #73903b;
    }

.Item_base__large_fc726 .Item_counter_bf595,
    .Item_base__extraLarge_d2bcb .Item_counter_bf595 {
        font-size: 18rem;
    }

.Item_highlight_cd811 {
    color: #FEAB34;
}

.Item_base__ready_a7568 .Item_highlight_cd811 {
        color: #80d43a;
    }

.Item_nameWrapper_e21e1 {

    color: rgba(255, 255, 255, .5);

    font-size: 24rem;

    font-weight: 700;

    line-height: 1.2;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
}

.Item_base__medium_ec28f .Item_nameWrapper_e21e1 {
        color: rgba(255, 255, 255, .5);
        font-size: 28rem;
        font-weight: 700;
        line-height: 1.1;
    }

.Item_base__large_fc726 .Item_nameWrapper_e21e1,
    .Item_base__extraLarge_d2bcb .Item_nameWrapper_e21e1 {
        color: rgba(255, 255, 255, .5);
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
    }

.Item_name_af9a3 {
    justify-content: center;
}

.Item_buttonWrapper_f97f5 {
    min-width: 160rem;
    position: absolute;
    bottom: 23rem;
    left: 50%;
    transform: translateX(-50%);
}

.Item_base__medium_ec28f .Item_buttonWrapper_f97f5 {
        bottom: 35rem;
    }

.Item_base__large_fc726 .Item_buttonWrapper_f97f5,
    .Item_base__extraLarge_d2bcb .Item_buttonWrapper_f97f5 {
        bottom: 35rem;
    }

.Item_base__large_fc726 .Item_button_bffd3,
    .Item_base__extraLarge_d2bcb .Item_button_bffd3 {
        height: 30rem;
    }

.Item_passed_d8991 {
    width: 64rem;
    height: 28rem;
    background: url('R.images.gui.maps.icons.mapbox.progression.passed') no-repeat center / cover;
    position: absolute;
    bottom: -14rem;
    left: 50%;
    transform: translateX(-32rem);
}

@keyframes Item_blinkAnim_d27b5 {
    0% {
        top: -100%;
    }

    30% {
        top: 100%;
    }

    100% {
        top: 100%;
    }
}

.ItemWrapper_base_b24df {
    padding-left: 15rem;
    opacity: 0;
    animation: ItemWrapper_appear_b97f3 .4s cubic-bezier(.5, 1, .89, 1) forwards;
    pointer-events: none;
}

    .ItemWrapper_base__enabled_d45c4 {
        pointer-events: auto;
    }

    .ItemWrapper_base__first_af068 {
        padding-left: 0;
    }

@keyframes ItemWrapper_appear_b97f3 {
    0% {
        opacity: 0;
        transform: translateY(50rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.Header_base_f164d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 83rem;
    margin-top: 47rem;
    padding-bottom: 10rem;
    position: relative;
}

    .Header_base__medium_d6270 {
        height: 95rem;
        margin-top: 70rem;
        transform: translateY(-17rem);
    }

    .Header_base__large_d3330,
    .Header_base__extraLarge_ad597 {
        height: 170rem;
        margin-top: 55rem;
        transform: translateY(-10rem);
    }

.Header_icon_e4377 {
    width: 90rem;
    height: 90rem;
    background: url('R.images.gui.maps.icons.mapbox.progression.mode') no-repeat center / cover;
    mask: linear-gradient(#000 50%, transparent 83%);
    mask-repeat: no-repeat;
    position: absolute;
    top: -30rem;
}

.Header_base__medium_d6270 .Header_icon_e4377 {
        width: 140rem;
        height: 140rem;
        top: -50rem;
    }

.Header_base__large_d3330 .Header_icon_e4377,
    .Header_base__extraLarge_ad597 .Header_icon_e4377 {
        width: 170rem;
        height: 170rem;
        top: -40rem;
    }

.Header_title_c04eb {
    color: #FEFEEC;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    z-index: 1;
}

.Header_base__medium_d6270 .Header_title_c04eb {
        color: #FEFEEC;
        font-size: 56rem;
        font-weight: 700;
        line-height: 1.1;
    }

.Header_base__large_d3330 .Header_title_c04eb,
    .Header_base__extraLarge_ad597 .Header_title_c04eb {
        color: #FEFEEC;
        font-size: 73rem;
        font-weight: 700;
        line-height: 1.1;
    }

.Header_date_c64bb {
    color: #FEFEEC;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.Header_base__large_d3330 .Header_date_c64bb,
    .Header_base__extraLarge_ad597 .Header_date_c64bb {
        color: #FEFEEC;
        font-size: 18rem;
        font-weight: 700;
        line-height: 1.1;
        margin-top: 10rem;
    }

.Header_subtitle_ee699 {
    margin-right: 7rem;
}

.Header_calendar_ad44d {
    width: 21rem;
    height: 21rem;
    margin-bottom: -1rem;
    background: url('R.images.gui.maps.icons.mapbox.progression.calendar') no-repeat center / cover;
}

.Header_separator_edcca {
    margin-top: -3rem;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_c37bf {
    width: 100%;
    height: var(--progress-bg-height);
    position: relative;
}
.ProgressBar_base__small_af6d6 {
        height: var(--progress-bg-height-small);
    }
.ProgressBar_background_a4e18 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: var(--progress-pattern-size);
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__small_e2b95 {
        height: var(--progress-bg-height-small);
    }
.ProgressBar_lineWrapper_e670c {
    display: flex;
    flex: 1;
}


.ProgressBarBlink_base_d7125 {
    width: var(--progress-glow-width);
    height: var(--progress-glow-height);
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: var(--progress-glow-mixBlendMode);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

    .ProgressBarBlink_base__small_b92f8 {
        width: var(--progress-glow-small-width);
        height: var(--progress-glow-small-height);
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_a3558 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    filter: var(--progress-line-filter);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_a9e8e {
        background-color: var(--progress-line-disabled);
    }
.ProgressLineImpose_base__finished_f889e {
        background-color: var(--progress-line-finished);
    }
.ProgressLineImpose_base__withoutBounce_c0ff9 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressLineImpose_pattern_a4023 {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: var(--progress-pattern-size);
    position: absolute;
    top: var(--progress-pattern-border-size);
    right: var(--progress-pattern-border-size);
    bottom: var(--progress-pattern-border-size);
    left: var(--progress-pattern-border-size);
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_pattern_a4023 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_pattern_a4023 {
        background-image: var(--progress-pattern-disabled);
        left: 0;
    }
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_pattern_a4023 {
        background-image: var(--progress-pattern-finished);
    }
.ProgressLineImpose_gradient_f73c0 {
    max-width: 8001px;
    background-image: var(--progress-pattern-gradient);
    mix-blend-mode: var(--progress-pattern-gradient-mixBlendMode);
    position: absolute;
    top: var(--progress-pattern-border-size);
    right: 0;
    bottom: var(--progress-pattern-border-size);
    left: 0;
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_gradient_f73c0 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_gradient_f73c0 {
        display: none;
    }
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_gradient_f73c0 {
        background-image: var(--progress-pattern-gradient-finished);
    }
.ProgressLineImpose_glow_f237a {
    width: var(--progress-glow-width);
    max-width: 8001px;
    height: var(--progress-glow-height);
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: var(--progress-glow-mixBlendMode);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_b7ffa {
        left: var(--progress-pattern-border-size);
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_glow_f237a,
    .ProgressLineImpose_base__finished_f889e .ProgressLineImpose_glow_f237a {
        display: none;
    }
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_glow_f237a {
        width: var(--progress-glow-small-width);
        height: var(--progress-glow-small-height);
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_f4d46 {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressBarDeltaGrow_glow_c912d {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 .ProgressBarDeltaGrow_glow_c912d {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_cfcd3 {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_dc2b6 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1), cubic-bezier(.21, .61, .35, 1);
    transition-property: width, transform;
}

.Reward_base_b1fec {
    display: flex;
    flex-direction: column;
    position: relative;
}

    .Reward_base__s48x48_ea3ee,
    .Reward_base__small_d4940 {
        width: 48rem;
        height: 48rem;
    }

    .Reward_base__s80x80_de3ac,
    .Reward_base__big_a4f0e {
        width: 80rem;
        height: 80rem;
    }

    .Reward_base__s128x100_c29f0 {
        width: 128rem;
        height: 100rem;
    }

    .Reward_base__s180x135_cb4c8 {
        width: 180rem;
        height: 135rem;
    }

    .Reward_base__s232x174_aea24 {
        width: 232rem;
        height: 174rem;
    }

    .Reward_base__s296x222_cbf7c {
        width: 296rem;
        height: 222rem;
    }

    .Reward_base__s400x300_bb29d {
        width: 400rem;
        height: 300rem;
    }

    .Reward_base__s600x450_c4f07 {
        width: 600rem;
        height: 450rem;
    }

.Reward_tooltipWrapper_af665 {
    height: 100%;
}

.Reward_icon_b619b {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_dac5c {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_ea3ee .Reward_overlay_dac5c,
    .Reward_base__small_d4940 .Reward_overlay_dac5c {
        width: 96rem;
        height: 96rem;
        background-size: 100%;
        overflow: visible;
    }

.Reward_base__s80x80_de3ac .Reward_overlay_dac5c,
    .Reward_base__big_a4f0e .Reward_overlay_dac5c {
        width: 128rem;
        height: 128rem;
    }

.Reward_base__s180x135_cb4c8 .Reward_overlay_dac5c {
        width: 266rem;
        height: 241rem;
    }

.Reward_base__s232x174_aea24 .Reward_overlay_dac5c {
        width: 344rem;
        height: 312rem;
    }

.Reward_base__s296x222_cbf7c .Reward_overlay_dac5c {
        width: 450rem;
        height: 408rem;
    }

.Reward_base__s400x300_bb29d .Reward_overlay_dac5c {
        width: 618rem;
        height: 590rem;
    }

.Reward_base__s600x450_c4f07 .Reward_overlay_dac5c {
        width: 670rem;
        height: 575rem;
    }

.Reward_base__normalize_b8703 .Reward_overlay_dac5c {
        width: 100%;
        height: 100%;
    }

.Reward_highlight_df36b {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_e2997 {
    position: relative;
}

.Reward_info_b27d2 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: -13rem;
    text-align: center;
    position: relative;
    z-index: 1;
}

.Reward_base__s48x48_ea3ee .Reward_info_b27d2,
    .Reward_base__small_d4940 .Reward_info_b27d2 {
        margin: -10rem -10rem 0;
    }

.Reward_info__multi_e08a5 {
        margin-right: 2rem;
        text-align: right;
    }

.Reward_base__s48x48_ea3ee .Reward_info__multi_e08a5,
        .Reward_base__small_d4940 .Reward_info__multi_e08a5 {
            margin-right: 0;
        }

.Reward_info__credits_ccc0d {
        color: #CED9D9;
    }

.Reward_info__gold_af0a5 {
        color: #FFC363;
    }

.Reward_info__bptaler_d4229,
    .Reward_info__crystal_b0d9d {
        color: #C9C9B6;
    }

.Reward_info__premiumTank_f53be {
        color: #FFDD99;
    }

.Reward_title_ab4e2 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    max-width: 80rem;
    margin: -13rem -16rem 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.mediaMedium .Reward_title_ab4e2 {
        max-width: 100rem;
        margin-left: -10rem;
        margin-right: -10rem;
}

.Reward_base__s48x48_ea3ee .Reward_title_ab4e2,
    .Reward_base__small_d4940 .Reward_title_ab4e2 {
        margin: -10rem -10rem 0;
    }

.Reward_timer_c097c {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_ea3ee .Reward_timer_c097c,
    .Reward_base__small_d4940 .Reward_timer_c097c {
        width: 23rem;
        height: 23rem;
        background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
        top: -6rem;
        right: -6rem;
    }

.Reward_base__s80x80_de3ac .Reward_timer_c097c,
    .Reward_base__big_a4f0e .Reward_timer_c097c {
        width: 48rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
        top: -14rem;
        right: -14rem;
    }


@keyframes RewardItem_hideReward_d7f13 {
    0% {
        filter: brightness(100%);
    }

    99% {
        filter: brightness(160%);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes RewardItem_showReward_a6ef1 {
    0% {
        opacity: 0;
    }

    1% {
        filter: brightness(160%);
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        filter: brightness(100%);
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes RewardItem_staticShine_c7e5d {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.5);
    }

    55% {
        opacity: .5;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes RewardItem_fade_bde7e {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes RewardItem_passed_cae00 {
    0% {
        opacity: 0;
        transform: translate(-50%, 20rem);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
.RewardItem_base_bb617 {
    position: relative;
}
.RewardItem_button_daa47 {
    padding: 0 10rem;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .25s;
}
.RewardItem_base__button_ddb3b:hover .RewardItem_button_daa47 {
        opacity: 1;
        transition-delay: .15s;
    }
.RewardItem_rewardWrapper_eda8f {
    transition: transform .25s .15s;
}
.RewardItem_base__button_ddb3b:hover .RewardItem_rewardWrapper_eda8f {
        transform: translateY(-20rem);
        transition-delay: 0s;
    }
.RewardItem_base__animated_a42fc .RewardItem_rewardCurrent_ec067 {
        opacity: 0;
        animation: RewardItem_showReward_a6ef1 1s ease-out 1s forwards;
    }
.RewardItem_animationItem_ce15c {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150rem;
    height: 150rem;
    pointer-events: none;
}
.RewardItem_animationItem__godRays_ec338 {
        background: url('swf://gui/flash/animations/mapbox/godRaysBP.swf') no-repeat center / contain;
        animation: RewardItem_fade_bde7e 1s ease-out 1s forwards;
    }
.RewardItem_animationItem__staticShine_cbe7a {
        background: url('R.images.gui.maps.icons.mapbox.progression.shine_taken_reward') no-repeat center / contain;
        mix-blend-mode: additive;
        transition: all;
        animation: RewardItem_staticShine_c7e5d 2s ease-out forwards;
    }
.RewardItem_animationItem__explosion_bba61 {
        background: url('swf://gui/flash/animations/mapbox/explosion.swf') no-repeat center / contain;
        animation: RewardItem_fade_bde7e 1s ease-out 1s forwards;
    }

.Rewards_base_cd82f {
    position: relative;
}

.Rewards_items_dbc6d {
    display: flex;
    flex-direction: row;
    opacity: 1;
    z-index: 1;
    transition: opacity .3s;
}

.Progression_base_c032d {
    width: 100%;
    margin-bottom: 15rem;
    position: relative;
}

.Progression_progressWrapper_e6fcf {
    width: 100%;
    margin-top: 100rem;
}

.Progression_base__large_a7a4b .Progression_progressWrapper_e6fcf,
    .Progression_base__extraLarge_c7d62 .Progression_progressWrapper_e6fcf {
        margin-top: 135rem;
    }

.Progression_progressBgWrapper_c73ce {
    position: relative;
}

.Progression_bgSection_a3591 {
    width: 1rem;
    height: 24rem;
    background-image: linear-gradient(transparent, rgb(146, 146, 146) 50%, transparent);
    position: absolute;
    top: -5rem;
    left: 100%;
}

.Progression_bgSectionNumber_a8ea3 {
    color: #8C8C7E;
    font-size: 12rem;
    line-height: 14rem;
    position: absolute;
    bottom: -33rem;
    left: 100%;
    transform: translateX(-50%);
    transition: color .3s;
}

.Progression_bgSectionNumber__passed_ebdbc {
        color: #FEAB34;
    }

.Progression_base__finally_b3c01 .Progression_bgSectionNumber_a8ea3 {
        color: #80D43A;
        transition: color 0s;
    }

.Progression_base__reset_c5669 .Progression_bgSectionNumber_a8ea3 {
        animation: Progression_color_c8509 .5s ease-in-out .3s backwards;
    }

.Progression_base__medium_c10f4 .Progression_bgSectionNumber_a8ea3,
    .Progression_base__large_a7a4b .Progression_bgSectionNumber_a8ea3,
    .Progression_base__extraLarge_c7d62 .Progression_bgSectionNumber_a8ea3 {
        font-size: 14rem;
        line-height: 16rem;
        bottom: -37rem;
    }

.Progression_progressRewardsWrapper_cd44a {
    margin-top: 10rem;
    position: relative;
}

.Progression_rewardsGroup_a9b46 {
    position: absolute;
    top: 35rem;
    left: 0;
    transform: translateX(-50%);
}

.Progression_base__large_a7a4b .Progression_rewardsGroup_a9b46,
    .Progression_base__extraLarge_c7d62 .Progression_rewardsGroup_a9b46 {
        top: 65rem;
    }

.Progression_progressBarWrapper_ab010 {
    position: relative;
}

.Progression_info_c15ab {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25rem;
}

.Progression_base__medium_c10f4 .Progression_info_c15ab,
    .Progression_base__large_a7a4b .Progression_info_c15ab,
    .Progression_base__extraLarge_c7d62 .Progression_info_c15ab {
        margin-top: 41rem;
    }

.Progression_title_e0a08 {
    color: #FEFEEC;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}

.Progression_base__medium_c10f4 .Progression_title_e0a08,
    .Progression_base__large_a7a4b .Progression_title_e0a08,
    .Progression_base__extraLarge_c7d62 .Progression_title_e0a08 {
        color: #FEFEEC;
        font-size: 18rem;
        font-weight: 700;
        line-height: 1.1;
    }

.Progression_highlight_e538b {
    color: #FEAB34;
}

.Progression_base__finally_b3c01 .Progression_highlight_e538b {
        animation: Progression_color_c8509 .5s ease-in-out .3s forwards;
    }

.Progression_base__reset_c5669 .Progression_highlight_e538b {
        animation: Progression_color_c8509 .5s ease-in-out .3s backwards;
    }

.Progression_description_d519a {
    margin-top: 3rem;
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Progression_base__medium_c10f4 .Progression_description_d519a,
    .Progression_base__large_a7a4b .Progression_description_d519a,
    .Progression_base__extraLarge_c7d62 .Progression_description_d519a {
        color: #8C8C7E;
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
    }

.Progression_restart_b2d68 {
    color: #FFDD99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    text-shadow: 0 0 15rem rgba(238,85,34, 1),
        0 0 8rem rgba(255,42,0, 1),
        0 0 4rem rgba(255,42,0, .25);
}

.Progression_base__medium_c10f4 .Progression_restart_b2d68,
    .Progression_base__large_a7a4b .Progression_restart_b2d68,
    .Progression_base__extraLarge_c7d62 .Progression_restart_b2d68 {
        color: #FFDD99;
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
    }

.Progression_timer_ef9d9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.Progression_timerIcon_f687f {
    width: 16rem;
    height: 16rem;
    margin-right: 5rem;
    margin-bottom: -3rem;
    background: url('R.images.gui.maps.icons.library.time_icon') center / cover no-repeat;
}

.Progression_base__medium_c10f4 .Progression_timerIcon_f687f,
    .Progression_base__large_a7a4b .Progression_timerIcon_f687f,
    .Progression_base__extraLarge_c7d62 .Progression_timerIcon_f687f {
        margin-bottom: -6rem;
    }

@keyframes Progression_color_c8509 {
    0% {
        color: #FEAB34;
    }

    100% {
        color: #80D43A;
    }
}

@keyframes MapBoxProgression_show_c9ee8 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes MapBoxProgression_appearUp_ca675 {
    0% {
        opacity: 0;
        transform: translateY(-50rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes MapBoxProgression_appearBottom_c00c2 {
    0% {
        opacity: 0;
        transform: translateY(50rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.MapBoxProgression_base_ddeb9 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: radial-gradient(50% 50% at 50% 50%, transparent, rgba(0, 0, 0, .5)),
        url('R.images.gui.maps.icons.mapbox.bg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FEFEEC;
    overflow: hidden;
    position: relative;
}

.MapBoxProgression_info_aa28c {
    position: absolute;
    top: 25rem;
    left: 25rem;
    z-index: 1;
    animation: MapBoxProgression_show_c9ee8 .5s ease-out forwards;
}

.MapBoxProgression_base__small_c79db .MapBoxProgression_info_aa28c {
        left: 40rem;
    }

.MapBoxProgression_base__medium_f597b .MapBoxProgression_info_aa28c {
        top: 35rem;
        left: 40rem;
    }

.MapBoxProgression_selectMode_c813a {
    display: flex;
    width: 210rem;
    height: 45rem;
    position: absolute;
    top: 25rem;
    right: 25rem;
    z-index: 1;
    animation: MapBoxProgression_show_c9ee8 .5s ease-out forwards;
}

.MapBoxProgression_base__small_c79db .MapBoxProgression_selectMode_c813a {
        right: 40rem;
    }

.MapBoxProgression_base__medium_f597b .MapBoxProgression_selectMode_c813a {
        top: 35rem;
        right: 40rem;
    }

.MapBoxProgression_icon_aa2f0 {
    width: 40rem;
    height: 40rem;
    margin: 0 7rem -2rem 0;
    background: url('R.images.gui.maps.icons.mapbox.entryPoint.icons.icon52x52') no-repeat center / contain;
}

.MapBoxProgression_content_b1373 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 986rem;
    height: 100%;
}

.MapBoxProgression_base__small_c79db .MapBoxProgression_content_b1373 {
        width: 1230rem;
    }

.MapBoxProgression_base__medium_f597b .MapBoxProgression_content_b1373 {
        width: 1335rem;
    }

.MapBoxProgression_base__large_d770c .MapBoxProgression_content_b1373,
    .MapBoxProgression_base__extraLarge_ce515 .MapBoxProgression_content_b1373 {
        width: 1885rem;
    }

.MapBoxProgression_header_bf5c1 {
    animation: MapBoxProgression_appearUp_ca675 .5s ease-out forwards;
}

.MapBoxProgression_progression_d2dba {
    align-self: center;
    width: 833rem;
    opacity: 0;
    animation: MapBoxProgression_appearBottom_c00c2 .5s ease-out 1.4s forwards;
    pointer-events: none;
}

.MapBoxProgression_progression__enabled_cd438 {
        pointer-events: auto;
    }

.MapBoxProgression_base__small_c79db .MapBoxProgression_progression_d2dba {
        width: 975rem;
    }

.MapBoxProgression_base__medium_f597b .MapBoxProgression_progression_d2dba {
        width: 1070rem;
    }

.MapBoxProgression_base__large_d770c .MapBoxProgression_progression_d2dba,
    .MapBoxProgression_base__extraLarge_ce515 .MapBoxProgression_progression_d2dba {
        width: 1270rem;
    }

