@keyframes Styles_fadeInWithScale_8a923a08 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Styles_slideUp_8a923a08 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Styles_blink_8a923a08 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Styles_scale_8a923a08 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Styles_rotate_8a923a08 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Styles_windowIn_8a923a08 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Styles_fadeOut_8a923a08 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Styles_fadeIn_8a923a08 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Styles_f631575c {
  line-height: normal;
}
.Styles_separator_46f5d10f {
  width: 283rem;
  height: 1rem;
  background: url("../../../../../styles/R.images.gui.maps.icons.battlePass.tooltips.Devider_points")
    50% / contain no-repeat;
}
.Styles_rewards_34671e2f {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 403rem;
  height: 154rem;
  background: url("../../../../../styles/R.images.gui.maps.icons.battlePass.tooltips.Ribbon_large")
    bottom/cover no-repeat;
  color: #c9c9b6;
  font-size: 14rem;
}
.Styles_f631575c {
  display: flex;
  flex-direction: row;
  width: 403rem;
  padding-left: 28rem;
  padding-bottom: 10rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.Gradient_devider") center top/100%
    40rem no-repeat;
  position: relative;
}
.Styles_separators_c0377bd4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 403rem;
  position: absolute;
}
.Styles_separator_46f5d10f {
  position: absolute;
  top: calc(40rem * 2);
  left: 50%;
  transform: translateX(-50%);
}
.Styles_tableHeader_21f2f6a {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40rem;
  color: #8c8c7e;
  font-size: 14rem;
}
.Styles_label_a324df6 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40rem;
  font-size: 14rem;
}
.Styles_label__table_52585929 {
  justify-content: flex-start;
  color: #8c8c7e;
}
.Styles_pointsColumn_28d0cee7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 25rem;
}
.Styles_labelColumn_bf6ee8a4 {
  flex: 1 1 auto;
}
@keyframes Point_fadeInWithScale_d8b7e333 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Point_slideUp_d8b7e333 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Point_blink_d8b7e333 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Point_scale_d8b7e333 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Point_rotate_d8b7e333 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Point_windowIn_d8b7e333 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Point_fadeOut_d8b7e333 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Point_fadeIn_d8b7e333 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Point_2663b7cb {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Point_points_2ee84436 {
  display: flex;
  flex-direction: row;
  color: #8c8c7e;
  font-size: 16rem;
}
.Point_points__special_d4c6e82f {
  color: #80d43a;
  font-size: 16rem;
}

.Point_value_bcd55687 {
  min-width: 2em;
  text-align: right;
}

.Point_additionalPoints_6e14e8ef {
  min-width: 2em;
  margin-left: 12rem;
  color: #fcf2c4;
  text-align: left;
  position: relative;
}
.Point_additionalPoints__special_235764b3 {
  color: #80d43a;
}

.Point_additionalPointsGlow_4455fb4d {
  width: 32rem;
  height: 38rem;
  margin-top: -20rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.additional_points_glow")
    center/contain no-repeat;
  position: absolute;
  top: 50%;
  left: -14rem;
  z-index: 1;
}

.Point_additionalPointsDivider_9b3c39ce {
  width: 1rem;
  height: 32rem;
  margin-top: -16rem;
  background: linear-gradient(transparent, #ffbd2f, transparent);
  position: absolute;
  top: 50%;
  left: -7rem;
  transform: rotate(14deg);
}

.Point_additionalPointsText_7c0fdaec {
  text-shadow: 0 0.5rem 0.2rem rgba(0, 0, 0, 0.66);
  position: relative;
  z-index: 2;
}

.Point_pointIcon_2442905f {
  width: 24rem;
  height: 24rem;
  margin-left: 6rem;
  margin-top: 4rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.points_24") center/contain no-repeat;
}
@keyframes PointsTable_fadeInWithScale_adbccef6 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes PointsTable_slideUp_adbccef6 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes PointsTable_blink_adbccef6 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes PointsTable_scale_adbccef6 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes PointsTable_rotate_adbccef6 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes PointsTable_windowIn_adbccef6 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes PointsTable_fadeOut_adbccef6 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes PointsTable_fadeIn_adbccef6 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PointsTable_pointIcon_363eb4a4 {
  width: 24rem;
  height: 24rem;
  margin-left: -2rem;
  margin-top: 4rem;
  margin-right: 16rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.points_24") center/contain no-repeat;
}

.PointsTable_headerText_6ce716db {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fefeec;
}
