@keyframes Content_fadeInWithScale_da09528a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Content_slideUp_da09528a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Content_blink_da09528a {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Content_scale_da09528a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Content_rotate_da09528a {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Content_windowIn_da09528a {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Content_fadeOut_da09528a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Content_fadeIn_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_b5324543 {
  width: 420rem;
  padding: 11rem 20rem 8rem;
}

.Content_image_f3e02a04 {
  width: 100%;
  height: 222rem;
  margin-bottom: 12rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.bptaler") no-repeat 50% / contain;
}

.Content_section_cf0c3481 {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(201, 201, 182, 0.07) 37%,
    rgba(201, 201, 182, 0.07) 63%,
    transparent
  );
}

.Content_title_73d62fc4 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 18rem 0 12rem;
}

.Content_text_8f35597f {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 20rem;
  line-height: 1.5;
}

.Content_secondaryText_69f1894 {
  color: #595950;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  margin: 16rem 0 17rem;
  line-height: 1.5;
}
