.BattleRoyaleWidget_base_75 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.BattleRoyaleWidget_icon_fe {
    position: absolute;
    top: auto;
    bottom: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: no-repeat 50% / contain;
    transform: translate(-50%, 0rem);
    pointer-events: auto;
}

.BattleRoyaleWidget_icon__huge_7f {
        width: 130rem;
        height: 130rem;
    }

.BattleRoyaleWidget_icon__big_cc,
    .BattleRoyaleWidget_icon__medium_c0,
    .BattleRoyaleWidget_icon__small_b1 {
        width: 64rem;
        height: 64rem;
    }

.BattleRoyaleWidget_icon__b0_8c,
    .BattleRoyaleWidget_icon__b1_a8 {
        top: 147rem;
    }

.BattleRoyaleWidget_icon__b0__medium_f5, .BattleRoyaleWidget_icon__b1__medium_35 {
            top: 103rem;
    }

.BattleRoyaleWidget_icon__b0__extraSmall_8e,
    .BattleRoyaleWidget_icon__b0__small_a8,
    .BattleRoyaleWidget_icon__b1__extraSmall_f0,
    .BattleRoyaleWidget_icon__b1__small_bb {
            top: 107rem;
    }

.BattleRoyaleWidget_icon__b2_30 {
        top: 5rem;
    }

.BattleRoyaleWidget_icon__b2__medium_3e {
            top: -4rem;
    }

.BattleRoyaleWidget_icon__b2__extraSmall_2c,
    .BattleRoyaleWidget_icon__b2__small_3f {
            top: 6rem;
    }

.BattleRoyaleWidget_icon__b3_44 {
        top: -10rem;
    }

.BattleRoyaleWidget_icon__b3__medium_1c {
            top: 14rem;
    }

.BattleRoyaleWidget_icon__b3__extraSmall_0d,
    .BattleRoyaleWidget_icon__b3__small_7c {
            top: 0;
    }

.BattleRoyaleWidget_icon__b4_2b {
        top: 22rem;
    }

.BattleRoyaleWidget_icon__b4__medium_d9 {
            top: 18rem;
    }

.BattleRoyaleWidget_icon__b4__extraSmall_a1,
    .BattleRoyaleWidget_icon__b4__small_96 {
            top: 12rem;
    }

.BattleRoyaleWidget_icon__b5_21 {
        top: 9rem;
    }

.BattleRoyaleWidget_icon__b5__medium_58 {
            top: 6rem;
    }

.BattleRoyaleWidget_icon__b5__extraSmall_27,
    .BattleRoyaleWidget_icon__b5__small_72 {
            top: 10rem;
    }

.BattleRoyaleWidget_icon__b6_3f {
        top: 3rem;
    }

.BattleRoyaleWidget_icon__b6__medium_6d {
            top: 6rem;
    }

.BattleRoyaleWidget_icon__b6__extraSmall_48,
    .BattleRoyaleWidget_icon__b6__small_b4 {
            top: 4rem;
    }

