/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MenuItem_root_28be5e00,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MenuItem_862e4b38[lang=ja], .MenuItem_862e4b38[lang=ko], .MenuItem_862e4b38[lang=vi], .MenuItem_862e4b38[lang=zh_tw], .MenuItem_862e4b38[lang=zh_sg], .MenuItem_862e4b38[lang=zh_cn], .MenuItem_862e4b38[lang=th] {
  font-family: Warhelios;
  letter-spacing: 0;
}
.MenuItem_862e4b38 {
  display: flex;
  flex-direction: column;
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
  position: relative;
  pointer-events: auto;
}
.MenuItem_862e4b38 + .MenuItem_862e4b38 {
  margin-top: 10rem;
}
.mediaMedium .MenuItem_862e4b38 + .MenuItem_862e4b38 {
  margin-top: 11rem;
}
.mediaLarge .MenuItem_862e4b38 + .MenuItem_862e4b38 {
  margin-top: 12rem;
}
.mediaExtraLarge .MenuItem_862e4b38 + .MenuItem_862e4b38 {
  margin-top: 13rem;
}
.mediaLarge .MenuItem_base__modeSelectorName_28be5e00 + .MenuItem_862e4b38 {
  margin-top: 15rem;
}
.MenuItem_base__enabledState_6f88d3d1 {
  cursor: pointer;
}

.MenuItem_modeSelector_1c338d85 {
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}
.MenuItem_base__enabledState_6f88d3d1:hover .MenuItem_modeSelector_1c338d85 {
  transform: translateX(6rem);
}

.MenuItem_modeIcon_1db29b3c {
  width: 64rem;
  height: 64rem;
  background: no-repeat 50%/contain;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.MenuItem_label_3cf912d3 {
  color: rgba(238, 237, 233, 0.9);
  font-size: 26rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  opacity: 0.8;
  transition: opacity 0.2s, transform 0.2s, text-shadow 0.2s, color 0.2s;
}
.mediaMedium .MenuItem_label_3cf912d3 {
  font-size: 28rem;
}
.mediaLarge .MenuItem_label_3cf912d3 {
  font-size: 34rem;
}
.mediaExtraLarge .MenuItem_label_3cf912d3 {
  font-size: 36rem;
}
.MenuItem_base__disabledState_28be5e00 .MenuItem_label_3cf912d3 {
  opacity: 0.5;
}
.MenuItem_base__enabledState_6f88d3d1:hover .MenuItem_label_3cf912d3 {
  color: #fcf6eb;
  text-shadow: 0 0 16rem rgba(255, 154, 82, 0.5), 0 0 8rem rgba(255, 196, 108, 0.24), 0 0 4rem rgba(252, 246, 235, 0.17);
}

.MenuItem_titleWrapper_cf46ff6b {
  display: flex;
  align-items: center;
  color: rgba(238, 237, 233, 0.9);
  transition: opacity 0.2s, transform 0.2s, text-shadow 0.2s, color 0.2s;
}
.MenuItem_base__disabledState_28be5e00 .MenuItem_titleWrapper_cf46ff6b {
  opacity: 0.5;
}
.MenuItem_base__enabledState_6f88d3d1:hover .MenuItem_titleWrapper_cf46ff6b {
  color: #fcf6eb;
  text-shadow: 0 0 16rem rgba(255, 154, 82, 0.5), 0 0 8rem rgba(255, 196, 108, 0.24), 0 0 4rem rgba(252, 246, 235, 0.17);
  transform: translateX(6rem);
}

.MenuItem_title_dd56437b {
  font-size: 24rem;
  font-weight: 600;
  line-height: 1.3em;
  opacity: 0.8;
}
.mediaLarge .MenuItem_title_dd56437b {
  font-size: 26rem;
  font-weight: 600;
  line-height: 1.3em;
}
.mediaExtraLarge .MenuItem_title_dd56437b {
  font-size: 28rem;
  font-weight: 600;
  line-height: 1.3em;
}

.MenuItem_arrow_d310b413 {
  opacity: 0.8;
  position: absolute;
  top: 4rem;
  left: -16rem;
}
.mediaLarge .MenuItem_arrow_d310b413 {
  width: 10rem;
  height: 22rem;
  top: 6rem;
  left: -19rem;
}
.mediaExtraLarge .MenuItem_arrow_d310b413 {
  top: 7rem;
}
.MenuItem_arrow__verticalCenter_4e18b706 {
  top: 50%;
  transform: translateY(-50%);
}
.mediaLarge .MenuItem_arrow__verticalCenter_4e18b706 {
  top: 50%;
}
.mediaExtraLarge .MenuItem_arrow__verticalCenter_4e18b706 {
  top: 50%;
}

.MenuItem_modeName_36c0339e {
  margin-top: 2rem;
  color: #ffe9cc;
  font-size: 16rem;
  font-weight: 500;
  line-height: 1;
  text-shadow: 0 0 40px rgba(255, 76, 60, 0.6), 0 0 24rem rgba(255, 233, 187, 0.3), 0 0 8rem rgba(255, 251, 239, 0.2);
  letter-spacing: 0.02em;
}
.mediaMedium .MenuItem_modeName_36c0339e {
  margin-top: 1rem;
}
.mediaLarge .MenuItem_modeName_36c0339e {
  margin-top: 2rem;
  font-size: 19rem;
}
.mediaExtraLarge .MenuItem_modeName_36c0339e {
  margin-top: -1rem;
  font-size: 22rem;
}
.MenuItem_base__disabledState_28be5e00 .MenuItem_modeName_36c0339e {
  opacity: 0.3;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Tooltip_root_648bdb8d,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Tooltip_d6454088 {
  display: none;
  padding: 23rem 25rem 27rem;
  border-image: url("R.atlases.components.tooltip_background") 24 fill/24rem;
  position: absolute;
  top: 100%;
  right: -6rem;
  z-index: 1;
  transform: translateY(4rem);
  pointer-events: none;
}
.Tooltip_base__left_9ad90f1d {
  right: 4rem;
}
.mediaMedium .Tooltip_base__left_9ad90f1d {
  right: 7rem;
}
.Tooltip_base__left_9ad90f1d.Tooltip_base__teamPoint_bae63392 {
  right: 13rem;
}
.mediaMedium .Tooltip_base__left_9ad90f1d.Tooltip_base__teamPoint_bae63392 {
  right: 28rem;
}
.Tooltip_base__top_11f48f50 {
  top: auto;
  bottom: 28rem;
}
.Tooltip_base__visible_69ef4f3f {
  display: flex;
}

.Tooltip_image_af622229 {
  width: 380rem;
  height: 220rem;
  border: 1rem solid #3d3b31;
  background: no-repeat 50%/cover;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Point_root_d8b7e333,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Point_8a5de05a {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.Point_title_41667fa8 {
  padding-left: 7rem;
  color: #fefeec;
  font-size: 12rem;
  font-weight: 700;
  text-shadow: 0 0 4px #000000;
  white-space: nowrap;
  position: absolute;
  top: -8rem;
  left: 100%;
  pointer-events: auto;
}
.Point_base__enemyBase_d8b7e333 .Point_title_41667fa8, .Point_base__main_d8b7e333 .Point_title_41667fa8 {
  padding-left: 19rem;
}
.mediaMedium .Point_base__enemyBase_d8b7e333 .Point_title_41667fa8, .mediaMedium .Point_base__main_d8b7e333 .Point_title_41667fa8 {
  padding-left: 33rem;
}
.Point_base__left_d8b7e333 .Point_title_41667fa8 {
  padding: 0 7rem 0 0;
  right: 100%;
  left: auto;
}
.mediaMedium .Point_base__left_d8b7e333 .Point_title_41667fa8 {
  padding-right: 9rem;
}
.Point_base__left_d8b7e333.Point_base__enemyBase_d8b7e333 .Point_title_41667fa8, .Point_base__left_d8b7e333.Point_base__main_d8b7e333 .Point_title_41667fa8 {
  padding: 0 19rem 0 0;
}
.mediaMedium .Point_base__left_d8b7e333.Point_base__enemyBase_d8b7e333 .Point_title_41667fa8, .mediaMedium .Point_base__left_d8b7e333.Point_base__main_d8b7e333 .Point_title_41667fa8 {
  padding-right: 33rem;
}
.Point_base__point_d8b7e333.Point_base__hover_d8b7e333 .Point_title_41667fa8 {
  padding-left: 8rem;
}
.mediaMedium .Point_base__point_d8b7e333.Point_base__hover_d8b7e333 .Point_title_41667fa8 {
  padding-left: 12rem;
}
.Point_base__point_d8b7e333.Point_base__hover_d8b7e333.Point_base__left_d8b7e333 .Point_title_41667fa8 {
  padding: 0 8rem 0 0;
}
.mediaMedium .Point_base__point_d8b7e333.Point_base__hover_d8b7e333.Point_base__left_d8b7e333 .Point_title_41667fa8 {
  padding-right: 12rem;
}
.Point_base__hover_d8b7e333 .Point_title_41667fa8 {
  color: #ffdd99;
  font-size: 14rem;
  text-shadow: 0 0 4rem #000000, 0 0 4rem rgba(255, 127, 0, 0.25), 0 0 8rem #ff2a00, 0 0 15rem #e52, 0 0 8rem rgba(0, 0, 0, 0.8);
  top: -9rem;
}
.mediaMedium .Point_base__hover_d8b7e333 .Point_title_41667fa8 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  top: -11rem;
}
.mediaMedium .Point_title_41667fa8 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  padding-left: 9rem;
  top: -11rem;
}

.Point_text_77acf975 {
  position: relative;
}

.Point_bullet_aedfa7e4 {
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: #fefeec;
  filter: drop-shadow(0 0 4rem rgba(0, 0, 0, 0.25));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}
.Point_base__hover_d8b7e333 .Point_bullet_aedfa7e4 {
  background-color: #ffdd99;
}
.mediaMedium .Point_bullet_aedfa7e4 {
  width: 12rem;
  height: 12rem;
}
.Point_base__point_d8b7e333.Point_base__hover_d8b7e333 .Point_bullet_aedfa7e4 {
  width: 10rem;
  height: 10rem;
  box-shadow: 0 0 4rem #000000, 0 0 4rem rgba(255, 127, 0, 0.25), 0 0 8rem #ff2a00, 0 0 15rem #e52, 0 0 8rem rgba(0, 0, 0, 0.8);
}
.mediaMedium .Point_base__point_d8b7e333.Point_base__hover_d8b7e333 .Point_bullet_aedfa7e4 {
  width: 18rem;
  height: 18rem;
}
.Point_base__enemyBase_d8b7e333 .Point_bullet_aedfa7e4, .Point_base__main_d8b7e333 .Point_bullet_aedfa7e4 {
  width: 32rem;
  height: 32rem;
  background: none;
  filter: none;
}
.mediaMedium .Point_base__enemyBase_d8b7e333 .Point_bullet_aedfa7e4, .mediaMedium .Point_base__main_d8b7e333 .Point_bullet_aedfa7e4 {
  width: 46rem;
  height: 46rem;
}

.Point_bulletTeamPointBG_88bf7cc6 {
  width: 60rem;
  height: 60rem;
  background: url(R.images.gui.maps.icons.mapsTraining.base_selected_small) no-repeat 50%/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.mediaMedium .Point_bulletTeamPointBG_88bf7cc6 {
  width: 102rem;
  height: 102rem;
  background-image: url(R.images.gui.maps.icons.mapsTraining.base_selected);
}
.Point_base__enemyBase_d8b7e333 .Point_bulletTeamPointBG_88bf7cc6 {
  width: 38rem;
  height: 38rem;
  background-image: url(R.images.gui.maps.icons.mapsTraining.base_disabled_small);
  background-position-y: 0;
}
.mediaMedium .Point_base__enemyBase_d8b7e333 .Point_bulletTeamPointBG_88bf7cc6 {
  width: 56rem;
  height: 56rem;
  background-image: url(R.images.gui.maps.icons.mapsTraining.base_disabled);
  background-position-y: 4rem;
}
.Point_base__hover_d8b7e333 .Point_bulletTeamPointBG_88bf7cc6 {
  background-image: url(R.images.gui.maps.icons.mapsTraining.base_selected_hover_small);
}
.mediaMedium .Point_base__hover_d8b7e333 .Point_bulletTeamPointBG_88bf7cc6 {
  background-image: url(R.images.gui.maps.icons.mapsTraining.base_selected_hover);
}
.Point_base__hover_d8b7e333.Point_base__enemyBase_d8b7e333 .Point_bulletTeamPointBG_88bf7cc6 {
  width: 52rem;
  height: 52rem;
  background-image: url(R.images.gui.maps.icons.mapsTraining.base_disabled_hover_small);
  background-position-y: 0;
}
.mediaMedium .Point_base__hover_d8b7e333.Point_base__enemyBase_d8b7e333 .Point_bulletTeamPointBG_88bf7cc6 {
  width: 84rem;
  height: 84rem;
  background-image: url(R.images.gui.maps.icons.mapsTraining.base_disabled_hover);
}

.Point_teamLabel_b2bb7afb {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  left: 1rem;
  z-index: 1;
}
.Point_teamLabel__mask_8fd6388a {
  color: #ffdd99;
  mask: linear-gradient(0deg, #ffdd99 0%, rgba(255, 221, 153, 0) 100%);
  mask-repeat: no-repeat;
}
.Point_base__enemyBase_d8b7e333 .Point_teamLabel_b2bb7afb {
  color: #e9e2bf;
  opacity: 0.4;
}
.mediaMedium .Point_teamLabel_b2bb7afb {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Minimap_root_a2d34e2a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Minimap_56313038 {
  width: 570rem;
  height: 570rem;
  border: 1rem solid rgba(112, 112, 112, 0.8);
  background: no-repeat 50%/contain;
  position: relative;
  pointer-events: auto;
}

.Minimap_scenario_d0d9ef72 {
  background: no-repeat 50%/contain;
}

.Minimap_bg_85adfa16 {
  width: 432rem;
  height: 432rem;
  background: url(R.images.gui.maps.icons.mapsTraining.minimap.bg_small) no-repeat 50%/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.mediaMedium .Minimap_bg_85adfa16 {
  width: 690rem;
  height: 690rem;
  background-image: url(R.images.gui.maps.icons.mapsTraining.minimap.bg);
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Info_root_3f9bb731,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Info_80cc32c {
  display: flex;
  align-items: center;
  align-self: flex-start;
  pointer-events: auto;
}

.Info_icon_7889eaa8 {
  width: 14rem;
  height: 14rem;
  background: url(R.images.gui.maps.icons.mapsTraining.info) no-repeat 50%/contain;
}

.Info_text_55959f92 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-left: 4rem;
  color: var(--color-general-secondary);
}
.mediaMedium .Info_text_55959f92 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .Info_text_55959f92 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#TextKey_root_591e8197,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.TextKey_583f19c3 {
  display: flex;
}

.TextKey_content_954e2172 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  padding-left: 13rem;
  color: #ffe4c0;
  isolation: isolate;
  position: relative;
}
.mediaMedium .TextKey_content_954e2172 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .TextKey_content_954e2172 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}
.TextKey_base__highlight_591e8197 .TextKey_content_954e2172 {
  color: #ffdd99;
  text-shadow: 0 0 4rem rgba(255, 127, 0, 0.25), 0 0 8rem #ff2a00, 0 0 14rem #e52, 0 0 8rem rgba(0, 0, 0, 0.8);
}

.TextKey_bullet_3d33d938 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #ffe4c0;
  position: absolute;
  top: 5rem;
  left: 0;
}
.mediaMedium .TextKey_bullet_3d33d938 {
  top: 8rem;
}
.TextKey_base__highlight_591e8197 .TextKey_bullet_3d33d938 {
  box-shadow: 0 0 4rem rgba(255, 127, 0, 0.25), 0 0 8rem #ff2a00, 0 0 14rem #e52, 0 0 8rem rgba(0, 0, 0, 0.8);
  background-color: #ffdd99;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ScenarioInfo_root_51d47cd5,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ScenarioInfo_b19f2c76 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.ScenarioInfo_shadow_22e6654b {
  position: absolute;
  left: -43rem;
  right: -43rem;
  top: -43rem;
  bottom: -43rem;
  border-radius: 121rem;
  background: #100f0f;
  filter: blur(40px);
  opacity: 0.6;
  left: -121rem;
  z-index: -1;
}

.ScenarioInfo_baseTitle_f08f6c2f {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-secondary);
}
.mediaMedium .ScenarioInfo_baseTitle_f08f6c2f {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .ScenarioInfo_baseTitle_f08f6c2f {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}

.ScenarioInfo_title_934c522d {
  font-size: 28rem;
  font-weight: 600;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  margin-top: 0;
  color: var(--color-general-primary);
  white-space: nowrap;
}
.mediaMedium .ScenarioInfo_title_934c522d {
  font-size: 56rem;
  font-weight: 600;
  line-height: 1.3em;
  margin-top: 2rem;
}

.ScenarioInfo_tacticTitle_aa75be90 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 6rem;
  color: var(--color-general-secondary);
  pointer-events: auto;
}
.mediaMedium .ScenarioInfo_tacticTitle_aa75be90 {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 18rem;
}

.ScenarioInfo_tacticDescr_b6c38411 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 2rem 0 13rem;
  color: var(--color-general-tertiary);
  line-height: 1.38;
  pointer-events: auto;
}
.mediaMedium .ScenarioInfo_tacticDescr_b6c38411 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 4rem 0 20rem;
}
.mediaExtraLarge .ScenarioInfo_tacticDescr_b6c38411 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}

.ScenarioInfo_paragraph_3d99fe50 {
  width: 100%;
  height: 7rem;
}
.mediaMedium .ScenarioInfo_paragraph_3d99fe50 {
  height: 10rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ScenarioRewards_root_1315023c,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ScenarioRewards_61c38a7d {
  display: flex;
}

.ScenarioRewards_rewards_cf548827 {
  padding-top: 11rem;
  position: relative;
}
.mediaMedium .ScenarioRewards_rewards_cf548827 {
  padding-top: 9rem;
}

.ScenarioRewards_title_d8c2d359 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 21rem;
  color: #c9c9b6;
  text-align: center;
}
.mediaMedium .ScenarioRewards_title_d8c2d359 {
  margin-bottom: 11rem;
}

.ScenarioRewards_shine_3e53614c {
  width: 173rem;
  height: 155rem;
  background: url(R.images.gui.maps.icons.mapsTraining.rewards_bg_small) no-repeat 50%/contain;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.mediaMedium .ScenarioRewards_shine_3e53614c {
  width: 290rem;
  height: 157rem;
  background-image: url(R.images.gui.maps.icons.mapsTraining.rewards_bg);
}

.ScenarioRewards_rewardClassMix_4167dff2 {
  margin: 0 3rem;
}
.mediaMedium .ScenarioRewards_rewardClassMix_4167dff2 {
  margin: 0 5rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ScenarioCard_root_cc1adb57,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ScenarioCard_ce43d9d5 {
  margin-right: 20rem;
  position: relative;
  cursor: pointer;
}
.ScenarioCard_base__selected_2f057ace {
  cursor: auto;
}

.ScenarioCard_card_71406647 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160rem;
  height: 130rem;
  padding-top: 14rem;
  border: 1rem solid rgba(255, 255, 255, 0.15);
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}
.ScenarioCard_base__completed_cc1adb57 .ScenarioCard_card_71406647 {
  border: 1rem solid rgba(122, 179, 0, 0.25);
  box-shadow: inset 0 0 12rem rgba(122, 179, 0, 0.05);
}
.ScenarioCard_base__completed_cc1adb57.ScenarioCard_base__hover_cc1adb57 .ScenarioCard_card_71406647 {
  border-color: rgba(105, 112, 77, 0.8);
}
.ScenarioCard_base__hover_cc1adb57 .ScenarioCard_card_71406647 {
  box-shadow: inset 0 0 40rem rgba(255, 255, 255, 0.1);
}
.ScenarioCard_base__selected_2f057ace .ScenarioCard_card_71406647 {
  border-color: rgba(174, 127, 44, 0.8);
  box-shadow: inset 0 0 40rem rgba(174, 127, 44, 0.1), 0 0 15rem rgba(238, 80, 3, 0.3), 0 0 6rem rgba(255, 42, 0, 0.1);
}
.ScenarioCard_card_71406647[lang=da] {
  padding-top: 2rem;
}

.ScenarioCard_borderShine_2675039f {
  border: 0.5rem solid;
  border-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 98%) 1 fill;
  position: absolute;
  top: -1rem;
  right: 0;
  left: 0;
}
.ScenarioCard_borderShine__bottom_28816297 {
  top: auto;
  bottom: -1rem;
}
.ScenarioCard_base__selected_2f057ace .ScenarioCard_borderShine_2675039f {
  border: none;
}
.ScenarioCard_base__completed_cc1adb57 .ScenarioCard_borderShine_2675039f {
  border-image-source: linear-gradient(270deg, rgba(100, 188, 31, 0) 2%, rgba(129, 234, 48, 0.3) 50%, rgba(100, 188, 31, 0) 98%);
}
.ScenarioCard_base__completed_cc1adb57.ScenarioCard_base__hover_cc1adb57 .ScenarioCard_borderShine_2675039f {
  border-image-source: linear-gradient(270deg, rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 98%);
}

.ScenarioCard_selectedOverlay_ee536659 {
  background: linear-gradient(180deg, rgba(255, 42, 0, 0.1) 0%, rgba(255, 42, 0, 0) 0.01%, rgba(255, 127, 0, 0.1) 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.ScenarioCard_shine_8e6c402e {
  width: 162rem;
  height: 52rem;
  background: url(R.images.gui.maps.icons.mapsTraining.shine) no-repeat 50%/contain;
  position: absolute;
  bottom: 0;
  left: 0;
}

.ScenarioCard_title_6b61c9ef {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: #8c8c7e;
  text-align: center;
}
.ScenarioCard_base__selected_2f057ace .ScenarioCard_title_6b61c9ef {
  color: #ffdd99;
}

.ScenarioCard_rewards_a3b83018 {
  position: absolute;
  top: 57rem;
  left: 46rem;
}
.ScenarioCard_base__anim_cc1adb57 .ScenarioCard_rewards_a3b83018 {
  transform: translateY(0);
  animation: ScenarioCard_rewards-out_cc1adb57 0.2s ease-out 0.5s forwards;
  pointer-events: none;
}

.ScenarioCard_completed_cf825958 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  position: absolute;
  top: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%);
  color: #80d43a;
  bottom: 16rem;
}
.ScenarioCard_base__anim_cc1adb57 .ScenarioCard_completed_cf825958 {
  opacity: 0;
  transform: translate(-50%) scale(0.8);
  animation: ScenarioCard_complete-in_cc1adb57 0.3s ease-in-out 0.6s forwards;
}

.ScenarioCard_checkmark_44ed786 {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%);
  width: 64rem;
  height: 28rem;
  background: url(R.images.gui.maps.icons.mapsTraining.checkmark) repeat 50%/contain;
  bottom: -14rem;
  pointer-events: none;
}
.ScenarioCard_base__selected_2f057ace .ScenarioCard_checkmark_44ed786 {
  height: 32rem;
  background-image: url(R.images.gui.maps.icons.mapsTraining.checkmark_selected);
  bottom: -17rem;
}
.ScenarioCard_base__anim_cc1adb57 .ScenarioCard_checkmark_44ed786 {
  opacity: 0;
  transform: translate(-50%) scale(0.8);
  animation: ScenarioCard_complete-in_cc1adb57 0.5s ease-in-out 1s forwards;
}

@keyframes ScenarioCard_complete-in_cc1adb57 {
  0% {
    opacity: 0;
    transform: translate(-50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%) scale(1);
  }
}
@keyframes ScenarioCard_rewards-out_cc1adb57 {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(15rem);
  }
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Scenarios_root_8d8d7a92,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Scenarios_638d959b {
  display: flex;
  padding-top: 14rem;
  position: relative;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#VehicleMarker_root_20624c4,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.VehicleMarker_516481a7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: transform linear 0.1s;
  animation: VehicleMarker_fadeIn_20624c4 0.1s linear 0.3s forwards;
}

.VehicleMarker_vehicle_c8d4fd9b {
  width: 36rem;
  height: 40rem;
  background: no-repeat 50%/contain;
}
.VehicleMarker_vehicle__mediumTank_333918a {
  background-image: url(R.images.gui.maps.icons.mapsTraining.mediumTank);
}
.VehicleMarker_vehicle__heavyTank_dd54eecd {
  background-image: url(R.images.gui.maps.icons.mapsTraining.heavyTank);
}

.VehicleMarker_title_29df78cd {
  font-size: 16rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: -4rem;
  color: #fefeec;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
.mediaMedium .VehicleMarker_title_29df78cd {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
}

.VehicleMarker_descr_e2b83108 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  display: flex;
  margin-top: 2rem;
  color: #e9e2bf;
  font-size: 18rem;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
  position: relative;
}
.mediaMedium .VehicleMarker_descr_e2b83108 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
}

.VehicleMarker_info_6781f30a {
  width: 14rem;
  height: 14rem;
  background: url(R.images.gui.maps.icons.mapsTraining.info) no-repeat 50%/contain;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(6rem, -5rem);
  pointer-events: auto;
}

@keyframes VehicleMarker_fadeIn_20624c4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MapOptions_root_12c9f853,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MapOptions_ce83a9ee {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.MapOptions_topPanel_ce2d0924 {
  width: 100%;
  height: 20%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: -var(--external-padding-top);
}

.MapOptions_leftPanel_6743a995 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 510rem;
  padding: 52rem 60rem 0 20rem;
  isolation: isolate;
  position: absolute;
  top: 0;
  bottom: 155rem;
  left: 10rem;
  pointer-events: none;
}
.mediaMedium .MapOptions_leftPanel_6743a995 {
  width: 600rem;
  padding: 46rem 80rem 0 40rem;
  left: -12rem;
}
.mediaLarge .MapOptions_leftPanel_6743a995 {
  padding-top: 86rem;
  left: 6rem;
}

.MapOptions_sceneWrapper_9de28b9c {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.MapOptions_marker_975481e1 {
  position: absolute;
  top: 0;
  left: 50%;
  pointer-events: none;
}

.MapOptions_rightPanel_f88edffc {
  display: flex;
  align-items: center;
  padding: 52rem 20rem 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 155rem;
  pointer-events: none;
}
.mediaMedium .MapOptions_rightPanel_f88edffc {
  padding: 46rem 40rem 0;
}
.mediaLarge .MapOptions_rightPanel_f88edffc {
  padding-top: 86rem;
}

.MapOptions_bottomPanel_a1410d79 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 195rem;
  border-top: 1rem solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: -var(--external-padding-bottom);
  left: 0;
}
.mediaMedium .MapOptions_bottomPanel_a1410d79 {
  height: 213rem;
}
.mediaLarge .MapOptions_bottomPanel_a1410d79 {
  height: 219rem;
}

.MapOptions_bottomPanelTitle_ae5b3b6f {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%);
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 470rem;
  height: 97rem;
  padding-top: 67rem;
  background: url(R.images.gui.maps.icons.mapsTraining.scenarios_title_shadow) no-repeat 50%/contain;
  color: #ffe4c0;
  text-align: center;
  top: -97rem;
}

.MapOptions_menuItems_764d3737 {
  position: absolute;
  top: 28rem;
  left: 30rem;
}
.mediaMedium .MapOptions_menuItems_764d3737 {
  top: 40rem;
  left: 30rem;
}
.mediaLarge .MapOptions_menuItems_764d3737 {
  top: 38rem;
  left: 48rem;
}
.mediaExtraLarge .MapOptions_menuItems_764d3737 {
  top: 65rem;
  left: 48rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#InfoButton_root_c58f1a93,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.InfoButton_border_f3a2eae1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.InfoButton_74c97479 {
  padding: 0;
  overflow: hidden;
}
.InfoButton_base__smallSize_c40e1b5c {
  height: 24rem;
}
.InfoButton_base__mediumSize_f347ecd3 {
  height: 32rem;
}

.InfoButton_content_1cc251f9 {
  flex: 1;
  height: 100%;
}
.InfoButton_base__smallSize_c40e1b5c .InfoButton_content_1cc251f9 {
  padding-left: 12rem;
  padding-right: 12rem;
}
.InfoButton_base__smallSize_c40e1b5c .InfoButton_content__label_a89c101d {
  padding-left: 9rem;
  padding-right: 9rem;
}
.InfoButton_base__mediumSize_f347ecd3 .InfoButton_content_1cc251f9 {
  padding-left: 18rem;
  padding-right: 18rem;
}

.InfoButton_border_f3a2eae1 {
  border-radius: 2rem;
  border-image: radial-gradient(ellipse 50% 60% at 50% 50%, rgba(170, 238, 255, 0.55) 50%, transparent 100%) 2/1rem 0 1rem 0 stretch;
}

.InfoButton_label_94741ae8 {
  color: #a4ecf1;
  font-weight: normal;
  letter-spacing: 0.03em;
  filter: drop-shadow(0rem 0rem 18rem 0rem rgba(31, 68, 255, 0.23)) drop-shadow(0rem 0rem 8rem 0rem rgba(0, 234, 255, 0.42)) drop-shadow(0rem 1rem 0rem 0rem rgba(13, 14, 16, 0.8));
}
.InfoButton_base__smallSize_c40e1b5c .InfoButton_label_94741ae8 {
  padding-bottom: 1rem;
  font-size: 18rem;
}
.InfoButton_base__mediumSize_f347ecd3 .InfoButton_label_94741ae8 {
  padding-bottom: 1rem;
  font-size: 20rem;
}
.InfoButton_icon_c58f1a93 + .InfoButton_label_94741ae8 {
  margin-left: 4rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MapCard_root_d4e974e5,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MapCard_7b82d161 {
  width: 225rem;
  height: 225rem;
  margin: 0 20rem 20rem 0;
  border: 1rem solid rgba(242, 242, 247, 0.2);
  box-shadow: inset 0 0 1rem #000000;
  isolation: isolate;
  position: relative;
  transition: border 0.16s ease-in-out;
  cursor: pointer;
  pointer-events: auto;
}
.mediaMedium .MapCard_7b82d161 {
  margin: 0 30rem 30rem 0;
}
.MapCard_base__disabled_b4b722ef {
  cursor: default;
}
.MapCard_base__completed_b07cd4fd {
  border: 1rem solid rgba(122, 179, 0, 0.8);
}
.MapCard_base__hover_ac4f3480 {
  border: 1rem solid rgba(242, 242, 247, 0.35);
}

.MapCard_background_fa151161 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: no-repeat 50%/contain;
}

.MapCard_contextShadow_62484de0 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 25%);
}

.MapCard_checkmark_5d0db5f9 {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%);
  width: 64rem;
  height: 28rem;
  background: url(R.images.gui.maps.icons.mapsTraining.checkmark) repeat 50%/contain;
  bottom: -14rem;
  pointer-events: none;
}

.MapCard_completed_c4d6cbe {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  position: absolute;
  top: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%);
  color: #80d43a;
  font-weight: 700;
  text-shadow: 0 0 2rem #000000;
  bottom: 13rem;
  pointer-events: none;
}

.MapCard_title_43f4df20 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  position: absolute;
  top: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%);
  color: #e9e2bf;
  text-shadow: 0 0 2rem #000000;
  top: 11rem;
  pointer-events: none;
}
.MapCard_title__disabled_10648906 {
  color: #8c8c7e;
}

.MapCard_overlayImage_7854c75b {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(R.images.gui.maps.icons.mapsTraining.disabled) repeat 0/auto;
}

.MapCard_overlaySaturation_64c7d29 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  mix-blend-mode: saturation;
}

.MapCard_overlayHover_300d3bfc {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  mix-blend-mode: screen;
  transition: opacity 0.16s ease-in-out;
}
.MapCard_base__hover_ac4f3480 .MapCard_overlayHover_300d3bfc {
  opacity: 1;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MapGroup_root_4121018b,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MapGroup_71166309 {
  margin-top: 11rem;
  position: relative;
}

.MapGroup_titleBlock_616330c6 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  color: #e9e2bf;
}
.mediaLarge .MapGroup_titleBlock_616330c6 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-left: 0rem;
}

.MapGroup_title_6b6ba6a9 {
  font-weight: 400;
}

.MapGroup_count_d9bfeba6 {
  margin-left: 5rem;
}

.MapGroup_status_c6ce8de {
  display: flex;
  margin: 4rem 0 0 -4rem;
}
.mediaLarge .MapGroup_status_c6ce8de {
  margin-left: 0;
}

.MapGroup_statusTitle_5c4dffbf {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 0 0 1rem 6rem;
  color: #8c8c7e;
}

.MapGroup_icon_ef9f14c8 {
  width: 9rem;
  height: 12rem;
  margin: 5rem 0 0 4rem;
  background: url(R.images.gui.maps.icons.mapsTraining.lockGrey) no-repeat 50%/contain;
}
.mediaLarge .MapGroup_icon_ef9f14c8 {
  margin-left: 0rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MapListEmpty_root_b8ed95a2,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MapListEmpty_2a00c67b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 991rem;
  height: 100%;
}

.MapListEmpty_block_b2e31e1f {
  width: 100%;
  height: 47rem;
  position: relative;
}

.MapListEmpty_title_b5425c3d {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%);
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #e9e2bf;
  top: -1rem;
}

.MapListEmpty_description_d9491eca {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 50%;
  transform: translate(-50%);
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: #8c8c7e;
  bottom: -3rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ScrollContainer_root_14e26b7c,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ScrollContainer_a913c1cf {
  mask-image: linear-gradient(to top, #000 100%);
  mask-repeat: no-repeat;
}
.ScrollContainer_base__top_1b8e4a94 {
  mask-image: linear-gradient(to top, #000 95%, transparent);
}
.ScrollContainer_base__bottom_a417efd7 {
  mask-image: linear-gradient(to bottom, #000 95%, transparent);
}
.ScrollContainer_base__both_3ad63038 {
  mask-image: linear-gradient(to bottom, transparent, #000 5%, #000 95%, transparent);
}

.ScrollContainer_scrollContent_aca70867 {
  align-self: center;
  width: 735rem;
  margin: 3rem 0 -6rem 20rem;
}
.mediaMedium .ScrollContainer_scrollContent_aca70867 {
  width: 991rem;
  margin-left: 0;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MapSelect_root_5a99af0e,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MapSelect_ad19ca6e {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.MapSelect_scrollArea_4adbceb3 {
  flex: 1;
  width: 100%;
  margin: 1rem 0;
  position: relative;
}

.MapSelect_scrollBar_24aba26a {
  position: absolute;
  top: 0;
  right: 5rem;
}

.MapSelect_group_2f1b30b1 {
  width: 735rem;
}
.mediaMedium .MapSelect_group_2f1b30b1 {
  width: 991rem;
}

.MapSelect_topBlock_5aab0dce {
  align-self: center;
  width: 735rem;
  height: 219rem;
  position: relative;
}
.mediaMedium .MapSelect_topBlock_5aab0dce {
  width: 991rem;
  height: 146rem;
}

.MapSelect_title_78aa501 {
  font-size: 40rem;
  font-weight: 600;
  line-height: 1.3em;
  margin: 22rem 0 0 10rem;
  color: #f2f2f7;
}
.mediaMedium .MapSelect_title_78aa501 {
  font-size: 40rem;
  font-weight: 600;
  line-height: 1.3em;
  margin: 32rem 0 0 0rem;
}
.mediaLarge .MapSelect_title_78aa501 {
  font-size: 56rem;
  font-weight: 600;
  line-height: 1.3em;
  margin: 24rem 0 0 0rem;
}
.mediaExtraLarge .MapSelect_title_78aa501 {
  font-size: 56rem;
  font-weight: 600;
  line-height: 1.3em;
  margin: 50rem 0 0 0rem;
}

.MapSelect_subtitle_839e0c65 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 1rem 0 0 10rem;
  color: #8c8c7e;
}
html[lang=ja] .MapSelect_subtitle_839e0c65, html[lang=ko] .MapSelect_subtitle_839e0c65, html[lang=zh_tw] .MapSelect_subtitle_839e0c65, html[lang=zh_sg] .MapSelect_subtitle_839e0c65, html[lang=zh_cn] .MapSelect_subtitle_839e0c65, html[lang=vi] .MapSelect_subtitle_839e0c65, html[lang=th] .MapSelect_subtitle_839e0c65 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
}
.mediaMedium .MapSelect_subtitle_839e0c65 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 1rem 0 0 0rem;
}
html[lang=ja] .mediaMedium .MapSelect_subtitle_839e0c65, html[lang=ko] .mediaMedium .MapSelect_subtitle_839e0c65, html[lang=zh_tw] .mediaMedium .MapSelect_subtitle_839e0c65, html[lang=zh_sg] .mediaMedium .MapSelect_subtitle_839e0c65, html[lang=zh_cn] .mediaMedium .MapSelect_subtitle_839e0c65, html[lang=vi] .mediaMedium .MapSelect_subtitle_839e0c65, html[lang=th] .mediaMedium .MapSelect_subtitle_839e0c65 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaLarge .MapSelect_subtitle_839e0c65 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: -5rem 0 0 0rem;
}
html[lang=ja] .mediaLarge .MapSelect_subtitle_839e0c65, html[lang=ko] .mediaLarge .MapSelect_subtitle_839e0c65, html[lang=zh_tw] .mediaLarge .MapSelect_subtitle_839e0c65, html[lang=zh_sg] .mediaLarge .MapSelect_subtitle_839e0c65, html[lang=zh_cn] .mediaLarge .MapSelect_subtitle_839e0c65, html[lang=vi] .mediaLarge .MapSelect_subtitle_839e0c65, html[lang=th] .mediaLarge .MapSelect_subtitle_839e0c65 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .MapSelect_subtitle_839e0c65 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: -5rem 0 0 0rem;
}
html[lang=ja] .mediaExtraLarge .MapSelect_subtitle_839e0c65, html[lang=ko] .mediaExtraLarge .MapSelect_subtitle_839e0c65, html[lang=zh_tw] .mediaExtraLarge .MapSelect_subtitle_839e0c65, html[lang=zh_sg] .mediaExtraLarge .MapSelect_subtitle_839e0c65, html[lang=zh_cn] .mediaExtraLarge .MapSelect_subtitle_839e0c65, html[lang=vi] .mediaExtraLarge .MapSelect_subtitle_839e0c65, html[lang=th] .mediaExtraLarge .MapSelect_subtitle_839e0c65 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.MapSelect_filter_5b3ef8dd {
  align-self: flex-end;
  position: absolute;
  top: 59rem;
  right: 10rem;
}
.mediaMedium .MapSelect_filter_5b3ef8dd {
  top: 69rem;
  right: 0;
}
.mediaLarge .MapSelect_filter_5b3ef8dd {
  top: 78rem;
}
.mediaExtraLarge .MapSelect_filter_5b3ef8dd {
  top: 104rem;
}

.MapSelect_line_a3a84e69 {
  align-self: center;
  width: 715rem;
  height: 1rem;
  margin-top: -108rem;
  background-color: rgba(242, 242, 247, 0.15);
}
.mediaMedium .MapSelect_line_a3a84e69 {
  width: 991rem;
  margin-top: -25rem;
}
.mediaLarge .MapSelect_line_a3a84e69 {
  width: 991rem;
  margin-top: -16rem;
}
.mediaExtraLarge .MapSelect_line_a3a84e69 {
  width: 991rem;
  margin-top: 10rem;
}

.MapSelect_maps_226e2e8a {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-self: center;
  width: 755rem;
  margin: 10rem -20rem 0 0;
}
.mediaMedium .MapSelect_maps_226e2e8a {
  width: 1021rem;
  margin: 10rem -30rem 0 0;
}

.MapSelect_filterBlock_dee82ed1 {
  display: flex;
}

.MapSelect_toggle_e1d33cf9 {
  width: 34rem;
  height: 24rem;
  padding: 0;
  z-index: 1;
}

.MapSelect_iconToggle_596a6b63 {
  width: 24rem;
  height: 24rem;
  background: url(R.images.gui.maps.icons.mapsTraining.toggleIcon_isComplete) no-repeat 50%/contain;
}

.MapSelect_input_d0f986df {
  box-sizing: border-box;
  width: 203rem;
  margin-left: 9rem;
  padding-right: 14rem;
}
html[lang=ja] .MapSelect_input_d0f986df, html[lang=ko] .MapSelect_input_d0f986df, html[lang=zh_tw] .MapSelect_input_d0f986df, html[lang=zh_sg] .MapSelect_input_d0f986df, html[lang=zh_cn] .MapSelect_input_d0f986df, html[lang=vi] .MapSelect_input_d0f986df, html[lang=th] .MapSelect_input_d0f986df {
  width: 183rem;
}
html[lang=ja] .mediaMedium .MapSelect_input_d0f986df, html[lang=ko] .mediaMedium .MapSelect_input_d0f986df, html[lang=zh_tw] .mediaMedium .MapSelect_input_d0f986df, html[lang=zh_sg] .mediaMedium .MapSelect_input_d0f986df, html[lang=zh_cn] .mediaMedium .MapSelect_input_d0f986df, html[lang=vi] .mediaMedium .MapSelect_input_d0f986df, html[lang=th] .mediaMedium .MapSelect_input_d0f986df {
  width: 203rem;
}

.MapSelect_info_aeb4de90 {
  padding-top: var(--external-padding-top);
  position: absolute;
  top: 86rem;
  left: 30rem;
}
.mediaMedium .MapSelect_info_aeb4de90 {
  top: 98rem;
  left: 30rem;
}
.mediaLarge .MapSelect_info_aeb4de90 {
  top: 108rem;
  left: 48rem;
}
.mediaExtraLarge .MapSelect_info_aeb4de90 {
  top: 129rem;
  left: 48rem;
}

.MapSelect_menuItems_3b44c8c5 {
  padding-top: var(--external-padding-top);
  position: absolute;
  top: 30rem;
  left: 30rem;
}
.mediaMedium .MapSelect_menuItems_3b44c8c5 {
  top: 41rem;
  left: 30rem;
}
.mediaLarge .MapSelect_menuItems_3b44c8c5 {
  top: 41rem;
  left: 48rem;
}
.mediaExtraLarge .MapSelect_menuItems_3b44c8c5 {
  top: 62rem;
  left: 48rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MapsTrainingPage_root_4698e372,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MapsTrainingPage_da7db6ae {
  width: 100%;
  height: 100%;
  padding-top: var(--external-padding-top);
  padding-bottom: var(--external-padding-bottom);
  overflow: hidden;
}
.MapsTrainingPage_base__select_cf7858dc {
  background: url(R.images.gui.maps.icons.mapsTraining.bg) no-repeat 50%/cover;
}