/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Content_6e60d4f2 {
  background: url(R.images.gui.maps.icons.seniorityAwards.notifications.vehicles_background)
    no-repeat center top;
}

.Content_imageWrapper_79644b98 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -4rem;
  position: relative;
}

.Content_image_717c0b1 {
  width: 213rem;
  height: 146rem;
}

.Content_count_47b057d4 {
  position: absolute;
  right: 10rem;
  bottom: 58rem;
}

.Content_countValue_972aab59 {
  margin-left: 3rem;
}
