.ExtraImage_base_ef5b0 {
    width: 16rem;
    height: 16rem;
    background: no-repeat center / contain;
}

    .ExtraImage_base__medium_a6828 {
        width: 32rem;
        height: 32rem;
    }

    .ExtraImage_base__big_a5484 {
        width: 48rem;
        height: 48rem;
    }

