.IconSetApp_base_a9718 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.IconSetApp_mainIcon_da81c {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.IconSetApp_container_b4cd6 {
    width: 180rem;
    height: 135rem;
    position: relative;
}

.IconSetApp_icon_bdd62 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

