/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Description_root_49efcb55,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Description_9a429ac6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Description_icon_61bd7cae {
  width: 770rem;
  height: 390rem;
  margin-bottom: 34rem;
  background: no-repeat center/contain;
}

.Description_title_fd356bf {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 6rem;
  color: var(--color-general-primary);
  font-weight: 600;
  text-align: center;
}

.Description_9c2cbcb1 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 0 40rem;
  padding-left: 100rem;
  padding-right: 100rem;
  color: var(--color-general-secondary);
  text-align: center;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#App_root_0,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_508c0064 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.App_content_3c8fdc2c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App_slidesWrapper_2389a8ac {
  width: 960rem;
  height: 610rem;
  position: relative;
}

.App_slide_24421c1a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.App_counter_1ccae048 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: -2rem;
  color: var(--color-general-secondary);
  font-weight: 600;
}

.App_arrowButton_4108196b {
  width: 48rem;
  height: 92rem;
  padding: 0;
  background: url(R.images.gui.maps.icons.skillTree.introPage.arrowRightSmall) no-repeat center/auto;
}
.App_arrowButton__left_1ff87043 {
  background-image: url(R.images.gui.maps.icons.skillTree.introPage.arrowLeftSmall);
}
.App_arrowButton__disabled_6db15a44 {
  opacity: 0.4;
}
.mediaMedium .App_arrowButton_4108196b {
  width: 74rem;
  height: 142rem;
  background-image: url(R.images.gui.maps.icons.skillTree.introPage.arrowRightBig);
}
.mediaMedium .App_arrowButton__left_1ff87043 {
  background-image: url(R.images.gui.maps.icons.skillTree.introPage.arrowLeftBig);
}