/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ErrorScreen_6fa54c0f {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 516rem;
  padding-bottom: 35rem;
}
.mediaLarge .ErrorScreen_6fa54c0f {
  padding-bottom: 27rem;
}

.ErrorScreen_icon_5cfee7d {
  width: 350rem;
  height: 224rem;
  margin-bottom: 8rem;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.error_icon) no-repeat center/contain;
}
.mediaLarge .ErrorScreen_icon_5cfee7d {
  width: 432rem;
  height: 278rem;
}

.ErrorScreen_title_c5b4d9cb {
  color: #fefeec;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12rem;
}
.mediaLarge .ErrorScreen_title_c5b4d9cb {
  color: #fefeec;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}

.ErrorScreen_description_164c1cd6 {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 28rem;
  text-align: center;
}

.ErrorScreen_button_4c0ae438 {
  width: 160rem;
  height: 32rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Footer_2bc55d13 {
  height: 100%;
  max-height: 64rem;
}
.mediaMedium .Footer_2bc55d13 {
  max-height: 72rem;
}

.Footer_infoIcon_fd977a0b {
  width: 16rem;
  height: 16rem;
  margin-bottom: 2rem;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.info) no-repeat center/cover;
}
.mediaMedium .Footer_infoIcon_fd977a0b {
  margin-bottom: 3rem;
}

.Footer_amountRewards_68a1b3f6 {
  color: #f2f2f7;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2rem;
}
.mediaMedium .Footer_amountRewards_68a1b3f6 {
  color: #f2f2f7;
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
}

.Footer_text_af3f22d1 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 26rem;
  margin-bottom: 12rem;
}
.mediaMedium .Footer_text_af3f22d1 {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 14rem;
}
.Footer_text__active_ade58048 {
  align-items: flex-end;
  color: #8c8c7e;
}

.Footer_actions_877c593c {
  display: flex;
  justify-content: center;
}

.Footer_button_c9561362 {
  min-width: 160rem;
  min-height: 24rem;
  margin: 0 10rem;
}
.mediaMedium .Footer_button_c9561362 {
  min-height: 32rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Tab_cb313e6e {
  width: 48rem;
  height: 48rem;
  position: relative;
  cursor: pointer;
}
.mediaLarge .Tab_cb313e6e {
  width: 80rem;
  height: 80rem;
}

.Tab_title_4526d246 {
  color: #f2f2f7;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  justify-content: center;
  width: 96rem;
  line-height: 14rem;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: opacity 0.5s, color 0.5s;
}
.mediaLarge .Tab_title_4526d246 {
  color: #f2f2f7;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  width: 112rem;
  top: 2rem;
}
.Tab_cb313e6e:hover .Tab_title_4526d246 {
  opacity: 0.6;
}
.Tab_base__selected_0 .Tab_title_4526d246, .Tab_base__selected_0:hover .Tab_title_4526d246 {
  color: #fff;
  opacity: 1;
}

.Tab_vehicle_f3b75eea {
  width: 100%;
  height: 100%;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.tab.vehicle_small) no-repeat center/contain;
  filter: brightness(1);
  transition: filter 0.5s;
}
.mediaLarge .Tab_vehicle_f3b75eea {
  background-image: url(R.images.gui.maps.icons.winback.selectableRewardView.tab.vehicle_large);
}
.Tab_cb313e6e:hover .Tab_vehicle_f3b75eea {
  filter: brightness(1.5);
}
.Tab_base__hasSelectedRewards_0 .Tab_vehicle_f3b75eea {
  opacity: 0.5;
}
.Tab_base__selected_0:hover .Tab_vehicle_f3b75eea, .Tab_base__hasSelectedRewards_0:hover .Tab_vehicle_f3b75eea {
  filter: brightness(1);
}

.Tab_discount_e3d3f89d {
  width: 66rem;
  height: 52rem;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.tab.discount_small) no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
}
.mediaLarge .Tab_discount_e3d3f89d {
  width: 80rem;
  height: 80rem;
  background-image: url(R.images.gui.maps.icons.winback.selectableRewardView.tab.discount_large);
}
.Tab_base__hasSelectedRewards_0 .Tab_discount_e3d3f89d {
  opacity: 0.5;
}

.Tab_vehicleLevel_7db1ed59 {
  color: #fefeec;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  width: 16rem;
  font-size: 11rem;
  text-align: center;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: opacity 0.5s;
}
.mediaLarge .Tab_vehicleLevel_7db1ed59 {
  color: #fefeec;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  width: 20rem;
  height: 18rem;
  top: 8rem;
  left: 10rem;
}
.Tab_base__hasSelectedRewards_0 .Tab_vehicleLevel_7db1ed59 {
  opacity: 0.5;
}

.Tab_check_4150e2cc {
  width: 100%;
  height: 100%;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.tab.check) no-repeat center/48rem;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s;
}
.Tab_base__hasSelectedRewards_0 .Tab_check_4150e2cc {
  opacity: 1;
}

.Tab_counterContainer_c3887ea6 {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 100%);
}
.mediaLarge .Tab_counterContainer_c3887ea6 {
  bottom: 5rem;
}
.mediaLarge .Tab_base__selected_0 .Tab_counterContainer_c3887ea6 {
  bottom: 7rem;
}

.Tab_counter_583b02dd {
  align-self: center;
  color: #f2f2f7;
  font-size: 12rem;
  font-weight: 700;
  line-height: 14rem;
  opacity: 0.6;
}
.mediaLarge .Tab_counter_583b02dd {
  color: #f2f2f7;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Tab_base__selected_0 .Tab_counter_583b02dd {
  color: #f2f2f7;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  opacity: 1;
}
.mediaLarge .Tab_base__selected_0 .Tab_counter_583b02dd {
  color: #f2f2f7;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}

.Tab_glow_69e84f94 {
  width: 192rem;
  height: 144rem;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.tab.glow_small) no-repeat center/contain;
  opacity: 0;
  mix-blend-mode: screen;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  pointer-events: none;
}
.mediaLarge .Tab_glow_69e84f94 {
  width: 248rem;
  height: 218rem;
  background-image: url(R.images.gui.maps.icons.winback.selectableRewardView.tab.glow_large);
  top: 54%;
}
.Tab_base__selected_0 .Tab_glow_69e84f94 {
  opacity: 1;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Categories_f4d88e4e {
  display: flex;
  align-items: flex-start;
}

.Categories_tab_68d8ebb1 {
  display: flex;
}

.Categories_separator_748175df {
  align-self: center;
  width: 9rem;
  height: 48rem;
  margin: 0 24rem;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.tab.separator_small) no-repeat center/contain;
}
.mediaLarge .Categories_separator_748175df {
  height: 80rem;
  margin: 0 28rem;
  background-image: url(R.images.gui.maps.icons.winback.selectableRewardView.tab.separator_large);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.SearchDetails_ee38a013 {
  color: #fefeec;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
}

.SearchDetails_shown_bc5c6253 {
  margin-right: 6rem;
  opacity: 0.8;
}

.SearchDetails_searchResults_14601553 {
  position: relative;
}
.SearchDetails_searchResults__empty_f8d756ca {
  animation: SearchDetails_blink_87a2f7f2 1.5s infinite ease-in-out;
}

.SearchDetails_glow_e7fb29b2 {
  width: 81rem;
  height: 86rem;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.glow_arrow) no-repeat center/contain;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 45rem);
  pointer-events: none;
}
.SearchDetails_glow__shown_4d2a544d {
  opacity: 1;
}

.SearchDetails_button_ecea6969 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  margin-left: 4rem;
  border: 1rem solid transparent;
  border-radius: 2rem;
  position: relative;
  transition: border-color 0.1s linear;
  cursor: pointer;
}
.SearchDetails_button_ecea6969:hover {
  border: 1rem solid rgba(190, 190, 190, 0.2);
}

.SearchDetails_buttonGradient_a070aa17 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#46453e, #211f19);
  opacity: 0;
  position: absolute;
  transition: opacity 0.1s linear;
}
.SearchDetails_button_ecea6969:hover .SearchDetails_buttonGradient_a070aa17 {
  opacity: 0.8;
}

.SearchDetails_buttonIcon_d4d9488f {
  width: 20rem;
  height: 20rem;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.filter_reset_icon) no-repeat center;
  background-size: 11rem 15rem;
  position: relative;
}

.SearchDetails_noResults_8abf95a0 {
  color: #ff2717;
}

@keyframes SearchDetails_blink_87a2f7f2 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes Filter_rotate_c0a62b94 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Filter_fadeIn_c0a62b94 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Filter_fadeInUp_c0a62b94 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.Filter_769b2910 {
  opacity: 0;
  animation-name: Filter_fadeIn_c0a62b94;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  width: 100%;
  height: 31rem;
}

.Filter_wrapper_1810d630 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Filter_controls_5318de77 {
  display: flex;
  align-items: center;
}

.Filter_input_22a531be {
  width: 194rem;
  height: 21rem;
  margin-right: 8rem;
}

.Filter_button_24015e2 {
  width: 56rem;
  height: 20rem;
}

.Filter_buttonIcon_bf5f2b43 {
  width: 34rem;
  height: 24rem;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.filter_button_icon) no-repeat center/contain;
}

.Filter_compensationPlaceholder_c721d50 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  align-self: center;
  text-shadow: 0 0 6rem #ff4d00;
}
.mediaLarge .Filter_compensationPlaceholder_c721d50 {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes Title_rotate_2e63cf3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Title_fadeIn_2e63cf3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Title_fadeInUp_2e63cf3 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.Title_f914446f {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title_4557be8d {
  opacity: 0;
  animation-name: Title_fadeInUp_2e63cf3;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1s;
  animation-iteration-count: 1;
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.mediaMedium .Title_4557be8d {
  color: #f2f2f7;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.mediaExtraLarge .Title_4557be8d {
  color: #f2f2f7;
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}

.Title_additionTitle_33baf030 {
  opacity: 0;
  animation-name: Title_fadeInUp_2e63cf3;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  color: #f2f2f7;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.mediaLarge .Title_additionTitle_33baf030 {
  color: #f2f2f7;
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.mediaExtraLarge .Title_additionTitle_33baf030 {
  color: #f2f2f7;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes Header_rotate_65f475ba {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Header_fadeIn_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Header_fadeInUp_65f475ba {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.Header_71860ac {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Header_title_d5112efd {
  margin-top: 28rem;
}
.mediaMedium .Header_title_d5112efd {
  margin-top: 36rem;
}
.mediaLarge .Header_title_d5112efd {
  margin-top: 40rem;
}
.mediaExtraLarge .Header_title_d5112efd {
  margin-top: 80rem;
}

.Header_categories_64d8d133 {
  opacity: 0;
  animation-name: Header_fadeIn_65f475ba;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  margin: 26rem 0;
}
.mediaSmall .Header_categories_64d8d133 {
  margin-top: 32rem;
}
.mediaLarge .Header_categories_64d8d133 {
  margin: 33rem 0 32rem;
}
.mediaExtraLarge .Header_categories_64d8d133 {
  margin-top: 46rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Card_dcd42ca2 {
  width: 236rem;
  height: 264rem;
  margin-right: 16rem;
  margin-bottom: 16rem;
  border: 1rem solid rgba(255, 255, 255, 0.04);
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.mediaLarge .Card_dcd42ca2 {
  margin-right: 20rem;
  margin-bottom: 20rem;
}
.mediaExtraLarge .Card_dcd42ca2 {
  margin-right: 24rem;
  margin-bottom: 24rem;
}
.Card_dcd42ca2:hover {
  border: 1rem solid rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 0 28rem rgba(255, 255, 255, 0.12);
  background-color: rgba(0, 0, 0, 0.4);
}
.Card_base__active_ed8b6279 {
  border: 1rem solid rgba(255, 178, 102, 0.68);
  box-shadow: 0 0 6rem rgba(255, 122, 0, 0.4), inset 0 0 28px rgba(255, 122, 0, 0.28);
  background: linear-gradient(0deg, rgba(255, 148, 71, 0.08), rgba(255, 148, 71, 0.08)), rgba(0, 0, 0, 0.56);
}
.Card_base__active_ed8b6279:hover {
  border: 1rem solid rgba(255, 178, 102, 0.8);
  box-shadow: 0 0 6rem rgba(255, 122, 0, 0.4), inset 0 0 28px rgba(255, 122, 0, 0.28);
  background: linear-gradient(0deg, rgba(255, 148, 71, 0.12), rgba(255, 148, 71, 0.12)), rgba(0, 0, 0, 0.56);
}
.Card_base__lastInRow_87358ec8 {
  margin-right: 0;
}
.mediaSmall .Card_base__lastInRow_87358ec8 {
  margin-right: 0;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.BluePrintReward_bluePrintIcon_40ce3690 {
  width: 180rem;
  height: 135rem;
  background: no-repeat center/contain;
  position: absolute;
  top: 24rem;
  left: 28rem;
}

.BluePrintReward_nationText_57b2ba50 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  display: flex;
  align-self: center;
  position: absolute;
  top: 197rem;
}

.BluePrintReward_hangarInformation_52e3336c {
  display: flex;
  align-items: center;
  position: absolute;
  top: 8rem;
  right: 12rem;
}

.BluePrintReward_hangarIcon_9428b075 {
  width: 30rem;
  height: 24rem;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.cards.in_hangar) no-repeat center/cover;
}

.BluePrintReward_countInHangar_cc31c0f0 {
  color: #c9c9b6;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 4rem;
}

.BluePrintReward_count_471c0ddb {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  position: absolute;
  top: 136rem;
  right: 36rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Discount_contentTitle_aabc06c6 {
  margin-bottom: 8rem;
}

.Discount_vehicleName_593705d2 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}

.Discount_columns_dd37923e {
  display: flex;
  flex-direction: row;
  position: relative;
}

.Discount_column_4474715f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Discount_column_4474715f + .Discount_column_4474715f {
  position: absolute;
  left: 100rem;
}

.Discount_title_8aa44d07 {
  color: #8c8c7e;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}

.Discount_customCurrency_bccb8a2e {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}

.Discount_oldData_5a3ff475 {
  color: #8c8c7e;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
}

.Discount_strikethrough_a35446e6 {
  width: 100%;
  height: 1rem;
  background-color: #8c8c7e;
  position: absolute;
  top: 9rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ForGift_8de3d134 {
  display: flex;
}

.ForGift_vehicleName_bea2b226 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.VehicleReward_nationImage_fd71a755 {
  width: 208rem;
  height: 172rem;
  background: no-repeat center/contain;
  position: absolute;
  top: 0;
  left: 0;
}

.VehicleReward_vehicleImage_404db75c {
  width: 180rem;
  height: 135rem;
  background: no-repeat center/contain;
  position: absolute;
  top: 23rem;
  left: 27rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Cards_9470dddc {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.Cards_discount_10f68e4b {
  margin-left: 16rem;
  position: absolute;
  top: 173rem;
}

.Cards_forGift_12751c8f {
  align-self: center;
  position: absolute;
  top: 198rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.NoFilteredVehicles_68489788 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.NoFilteredVehicles_info_d7361714 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16rem;
}

.NoFilteredVehicles_alertIcon_68b8edf4 {
  width: 16rem;
  height: 16rem;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.alertIcon) no-repeat center/cover;
}

.NoFilteredVehicles_text_179ecf3f {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 6rem;
}

.NoFilteredVehicles_button_deeba065 {
  width: 160rem;
  min-height: 24rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes ScrollableCards_rotate_8b2491e4 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ScrollableCards_fadeIn_8b2491e4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ScrollableCards_fadeInUp_8b2491e4 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.ScrollableCards_cefbdf39 {
  opacity: 0;
  animation-name: ScrollableCards_fadeIn_8b2491e4;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  height: 420rem;
  border-top: 1rem solid rgba(255, 255, 255, 0.1);
  border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
  position: relative;
}
.mediaMedium .ScrollableCards_cefbdf39 {
  height: 492rem;
}
.mediaLarge .ScrollableCards_cefbdf39 {
  height: 588rem;
}
.mediaExtraLarge .ScrollableCards_cefbdf39 {
  height: 832rem;
}

.ScrollableCards_shadow_cae4b9f5 {
  width: 100%;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.cards.lip) no-repeat center/contain;
  opacity: 0;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}
.ScrollableCards_shadow__visible_d6b82f2 {
  opacity: 1;
}
.ScrollableCards_shadow__top_d356f13f {
  top: 0;
  bottom: 50%;
  transform: translate(0, -50%);
}
.ScrollableCards_shadow__bottom_19ddd9b2 {
  top: 50%;
  bottom: 0;
  transform: translate(0, 50%) rotate(180deg);
}

.ScrollableCards_noFilteredVehicles_53905af9 {
  margin-top: 40rem;
}
.mediaMedium .ScrollableCards_noFilteredVehicles_53905af9 {
  margin-top: 48rem;
}
.mediaLarge .ScrollableCards_noFilteredVehicles_53905af9 {
  margin-top: 68rem;
}
.mediaExtraLarge .ScrollableCards_noFilteredVehicles_53905af9 {
  margin-top: 80rem;
}

.ScrollableCards_cards_5afe2eb9 {
  padding-top: 16rem;
}
.mediaLarge .ScrollableCards_cards_5afe2eb9 {
  padding-top: 20rem;
}
.mediaExtraLarge .ScrollableCards_cards_5afe2eb9 {
  padding-top: 24rem;
}

.ScrollableCards_scrollBar_6694810f {
  position: absolute;
  top: 0;
  right: -37rem;
}

.ScrollableCards_barThumb_ec5fb105 {
  opacity: 0.7;
}

.ScrollableCards_barRail_a535aa69 {
  border-color: rgba(60, 58, 46, 0.7);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInUp_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.App_9ac57ea8 {
  width: 100%;
  height: 100%;
  background: url(R.images.gui.maps.icons.winback.selectableRewardView.background) no-repeat center/cover;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}
.App_base__error_6a777ff1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App_base__hidden_1de0b422 {
  opacity: 0;
  pointer-events: none;
}

.App_closeButton_f5179698 {
  position: absolute;
  top: 30rem;
  right: 30rem;
}

.App_container_913d6f7c {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 740rem;
}
.mediaSmall .App_container_913d6f7c {
  width: 992rem;
}
.mediaMedium .App_container_913d6f7c {
  width: 1244rem;
}
.mediaLarge .App_container_913d6f7c {
  width: 1260rem;
}
.mediaExtraLarge .App_container_913d6f7c {
  width: 1536rem;
}

.App_footer_2e9c7b89 {
  opacity: 0;
  animation-name: App_fadeInUp_0;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1s;
  animation-iteration-count: 1;
  margin-top: 16rem;
}
.mediaMedium .App_footer_2e9c7b89 {
  margin-top: 28rem;
}
.mediaLarge .App_footer_2e9c7b89 {
  margin-top: 35rem;
}
.mediaExtraLarge .App_footer_2e9c7b89 {
  margin-top: 36rem;
}