/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Icon_root_55a8ab20,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes Icon_scaleFadeIn_55a8ab20 {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(-20rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes Icon_slideUp_55a8ab20 {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Icon_fadeIn_55a8ab20 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Icon_raysAppearance_55a8ab20 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Icon_rotate_55a8ab20 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Icon_window-in_55a8ab20 {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.Icon_glow_b6f80802 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.Icon_glow__light_3f310309 {
  width: 500rem;
  height: 500rem;
  margin: -250rem 0 0 -250rem;
  background: url(R.images.gui.maps.icons.elitewindow.lines) no-repeat center/contain;
  opacity: 0;
  mix-blend-mode: screen;
  animation: Icon_raysAppearance_55a8ab20 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s 1 forwards, Icon_rotate_55a8ab20 120s linear 1.2s infinite forwards;
  pointer-events: none;
}
.mediaMedium .Icon_glow__light_3f310309 {
  width: 800rem;
  height: 800rem;
  margin: -400rem 0 0 -400rem;
}
.Icon_glow__strong_cd5dd8a1 {
  width: 560rem;
  height: 560rem;
  margin: -260rem 0 0 -280rem;
  background: url("swf://gui/flash/animations/eliteWindow/rays.swf") no-repeat center/contain;
  opacity: 0;
  mix-blend-mode: screen;
  animation: Icon_slideUp_55a8ab20 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s 1 forwards;
  pointer-events: none;
}
.mediaMedium .Icon_glow__strong_cd5dd8a1 {
  width: 666rem;
  height: 666rem;
  margin: -313rem 0 0 -333rem;
}

.Icon_7f7c6297 {
  display: flex;
  position: relative;
}

.Icon_tankIcon_34bc69b9 {
  opacity: 0;
  animation-name: Icon_scaleFadeIn_55a8ab20;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  width: 300rem;
  height: 225rem;
  background: center/cover no-repeat;
}
.mediaMedium .Icon_tankIcon_34bc69b9 {
  width: 400rem;
  height: 300rem;
  margin-bottom: 10rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ProgressionBlock_root_6771ca21,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ProgressionBlock_textBackground_52823f45 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes ProgressionBlock_scaleFadeIn_6771ca21 {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(-20rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes ProgressionBlock_slideUp_6771ca21 {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ProgressionBlock_fadeIn_6771ca21 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ProgressionBlock_raysAppearance_6771ca21 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ProgressionBlock_rotate_6771ca21 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ProgressionBlock_window-in_6771ca21 {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.ProgressionBlock_29163b1a {
  display: flex;
  opacity: 0;
  position: relative;
  animation-name: ProgressionBlock_fadeIn_6771ca21;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

.ProgressionBlock_lockWrapper_721c0560 {
  display: flex;
  position: absolute;
  top: -12rem;
  left: 50%;
  transform: translateX(-50%);
}

.ProgressionBlock_lock_4669aa21 {
  width: 17rem;
  height: 24rem;
  background: url(R.images.gui.maps.icons.elitewindow.unlocked_lock) center/cover no-repeat;
  z-index: 1;
}

.ProgressionBlock_lockCloud_c5cf7fca {
  width: 400rem;
  height: 300rem;
  margin-top: -6rem;
  background: url(R.images.gui.maps.icons.elitewindow.modification_cloud) center/cover no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ProgressionBlock_content_8ce0e880 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 660rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  z-index: 1;
}
.mediaMedium .ProgressionBlock_content_8ce0e880 {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.ProgressionBlock_textBackground_52823f45 {
  background: linear-gradient(90deg, rgba(100, 60, 0, 0) 3.96%, rgba(255, 122, 0, 0.64) 29.85%, rgba(255, 122, 0, 0.63) 71.93%, rgba(100, 60, 0, 0) 92.73%);
  opacity: 0.2;
  z-index: -1;
}

.ProgressionBlock_title_a1a7cf79 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  color: var(--color-general-primary);
}

.ProgressionBlock_description_340e09db {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  justify-content: center;
  color: var(--color-general-secondary);
}

.ProgressionBlock_icon_230ee763 {
  width: 40rem;
  height: 24rem;
  background: url(R.images.gui.maps.icons.elitewindow.modification_icon) center/cover no-repeat;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Content_root_da09528a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes Content_scaleFadeIn_da09528a {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(-20rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes Content_slideUp_da09528a {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Content_fadeIn_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Content_raysAppearance_da09528a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Content_rotate_da09528a {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Content_window-in_da09528a {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.Content_glow_7d6ef440 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.Content_glow__light_d14d64a9 {
  width: 500rem;
  height: 500rem;
  margin: -250rem 0 0 -250rem;
  background: url(R.images.gui.maps.icons.elitewindow.lines) no-repeat center/contain;
  opacity: 0;
  mix-blend-mode: screen;
  animation: Content_raysAppearance_da09528a 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s 1 forwards, Content_rotate_da09528a 120s linear 1.2s infinite forwards;
  pointer-events: none;
}
.mediaMedium .Content_glow__light_d14d64a9 {
  width: 800rem;
  height: 800rem;
  margin: -400rem 0 0 -400rem;
}
.Content_glow__strong_4a868d52 {
  width: 560rem;
  height: 560rem;
  margin: -260rem 0 0 -280rem;
  background: url("swf://gui/flash/animations/eliteWindow/rays.swf") no-repeat center/contain;
  opacity: 0;
  mix-blend-mode: screen;
  animation: Content_slideUp_da09528a 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s 1 forwards;
  pointer-events: none;
}
.mediaMedium .Content_glow__strong_4a868d52 {
  width: 666rem;
  height: 666rem;
  margin: -313rem 0 0 -333rem;
}

.Content_9af045a3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-15rem);
}
.mediaLarge .Content_9af045a3 {
  transform: translateY(-40rem);
}
.mediaExtraLarge .Content_9af045a3 {
  transform: translateY(-60rem);
}
.Content_base__hasPostProgression_a9391767 {
  transform: translateY(0);
}
.mediaExtraLarge .Content_base__hasPostProgression_a9391767 {
  transform: translateY(-40rem);
}

.Content_main_f562db1d {
  display: flex;
  position: relative;
}

.Content_section_57c57489 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400rem;
}
.mediaMedium .Content_section_57c57489 {
  width: 500rem;
}
.Content_section_57c57489 + .Content_section_57c57489 {
  margin-left: 48rem;
}
.Content_section__image_7f1ebf74 {
  opacity: 0;
  animation-name: Content_scaleFadeIn_da09528a;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  width: 300rem;
  height: 225rem;
  margin-bottom: 16rem;
}
.mediaMedium .Content_section__image_7f1ebf74 {
  width: 400rem;
  height: 300rem;
  margin-bottom: 10rem;
}
.Content_section__body_8837b3f5 {
  opacity: 0;
  animation-name: Content_slideUp_da09528a;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.4s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Content_section__title_806db271 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 8rem;
  color: var(--color-general-primary);
}
.Content_section__description_e93395a4 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  justify-content: center;
  color: var(--color-general-primary);
}

.Content_prestigeBadge_a19642a7 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Content_prestigeEmblem_5e4cfab0 {
  transform: scale(0.73);
}
.mediaMedium .Content_prestigeEmblem_5e4cfab0 {
  transform: scale(1);
}

.Content_postProgression_9f8673d {
  margin-top: 31rem;
}
.mediaMedium .Content_postProgression_9f8673d {
  margin-top: 51rem;
}
.mediaLarge .Content_postProgression_9f8673d {
  margin-top: 90rem;
}

.Content_arrow_82982ba8 {
  width: 250rem;
  height: 250rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-40%);
}
.Content_arrow_82982ba8::after {
  opacity: 0;
  animation-name: Content_scaleFadeIn_da09528a;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  width: 100%;
  height: 100%;
  background: url("R.images.gui.maps.icons.elitewindow.arrow") no-repeat center/contain;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Footer_root_4308958a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes Footer_scaleFadeIn_4308958a {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(-20rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes Footer_slideUp_4308958a {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Footer_fadeIn_4308958a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Footer_raysAppearance_4308958a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Footer_rotate_4308958a {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Footer_window-in_4308958a {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.Footer_e604d473 {
  opacity: 0;
  animation-name: Footer_slideUp_4308958a;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  display: flex;
  justify-content: center;
}

.Footer_button_cc34b9a4 {
  min-width: 200rem;
  padding: 0 24rem;
}
.Footer_button_cc34b9a4 + .Footer_button_cc34b9a4 {
  margin-left: 20rem;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Header_ee5a2d07 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header_tankName_8c840ed3 {
  margin-bottom: -12rem;
}
.mediaMedium .Header_tankName_8c840ed3 {
  margin-bottom: -22rem;
}

.Header_vehicleText_b549f08a {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
  opacity: 1;
}

.Header_title_b0ea43f0 {
  color: var(--color-general-primary);
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.3em;
}
.mediaMedium .Header_title_b0ea43f0 {
  font-size: 80rem;
  font-weight: 700;
  line-height: 1.3em;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#App_root_0,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes App_scaleFadeIn_0 {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(-20rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_raysAppearance_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_window-in_0 {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.App_glow_abe7262e {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.App_glow__light_22babef0 {
  width: 500rem;
  height: 500rem;
  margin: -250rem 0 0 -250rem;
  background: url(R.images.gui.maps.icons.elitewindow.lines) no-repeat center/contain;
  opacity: 0;
  mix-blend-mode: screen;
  animation: App_raysAppearance_0 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s 1 forwards, App_rotate_0 120s linear 1.2s infinite forwards;
  pointer-events: none;
}
.mediaMedium .App_glow__light_22babef0 {
  width: 800rem;
  height: 800rem;
  margin: -400rem 0 0 -400rem;
}
.App_glow__strong_35dcd6d3 {
  width: 560rem;
  height: 560rem;
  margin: -260rem 0 0 -280rem;
  background: url("swf://gui/flash/animations/eliteWindow/rays.swf") no-repeat center/contain;
  opacity: 0;
  mix-blend-mode: screen;
  animation: App_slideUp_0 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s 1 forwards;
  pointer-events: none;
}
.mediaMedium .App_glow__strong_35dcd6d3 {
  width: 666rem;
  height: 666rem;
  margin: -313rem 0 0 -333rem;
}

body {
  overflow: hidden;
}

.App_f208273f {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: url(R.images.gui.maps.icons.elitewindow.background) no-repeat center/cover;
  position: relative;
  animation: App_window-in_0 0.4s both;
}

.App_backgroundGlare_3ba092e8 {
  background: url(R.images.gui.maps.icons.elitewindow.background_glare) no-repeat center/cover;
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App_header_494088d4 {
  opacity: 0;
  animation-name: App_slideUp_0;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  margin-top: 50rem;
}
.mediaLarge .App_header_494088d4 {
  margin-top: 80rem;
}
.mediaExtraLarge .App_header_494088d4 {
  margin-top: 100rem;
}

.App_footer_ac8fd39 {
  margin-bottom: 40rem;
}
.mediaMedium .App_footer_ac8fd39 {
  margin-bottom: 50rem;
}
.mediaLarge .App_footer_ac8fd39 {
  margin-bottom: 80rem;
}
.mediaExtraLarge .App_footer_ac8fd39 {
  margin-bottom: 100rem;
}

.App_closeButton_c796cf51 {
  position: absolute;
  top: 40rem;
  right: 40rem;
  z-index: 1;
}