/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Bonus_de50af4c {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
}

.Bonus_title_83ec6411 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.Bonus_row_99659264 {
  display: flex;
  position: relative;
}
.Bonus_row_99659264 + .Bonus_row_99659264 {
  margin-top: 4rem;
}

.Bonus_value_70b996b5 {
  padding-right: 8rem;
  position: absolute;
  right: 100%;
}

.Bonus_accentText_83ec6411 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.Bonus_counter_646ae1fb {
  display: flex;
}

.Bonus_iconClock_40179790 {
  width: 24rem;
  height: 24rem;
  background: url(R.images.gui.maps.icons.petSystem.clock_icon) no-repeat center/contain;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Warning_87784287 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  padding-top: 16rem;
  color: var(--color-status-alert);
  position: relative;
}
.Warning_87784287::before,
.Warning_87784287::after {
  height: 1rem;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
}
.Warning_87784287::before {
  background-image: url(R.images.gui.maps.icons.ui.grey_noise);
  opacity: 0.2;
}
.Warning_87784287::after {
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.07),
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.07)
  );
  opacity: 0.8;
}

.Warning_warningIcon_c547ee9d {
  width: 24rem;
  height: 24rem;
  margin-right: 6rem;
}

.Warning_warningText_aecebe45 {
  justify-content: center;
  flex-shrink: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_2f55a205 {
  margin-top: 8rem;
}

.App_inner_e279a242 {
  width: 418rem;
  padding: 16rem 16rem 24rem;
  background: url(R.images.gui.maps.icons.petSystem.tooltips.bg_flare) no-repeat left top/328rem
    172rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}

.App_header_37a37190 {
  margin-bottom: 18rem;
  padding-left: 86rem;
  padding-bottom: 15rem;
  position: relative;
}
.App_header_37a37190::before {
  height: 1rem;
  background-image: repeating-linear-gradient(
    90deg,
    transparent 0rem,
    transparent 2rem,
    #5a5a52 2rem,
    #5a5a52 3rem,
    transparent 3rem,
    transparent 4rem
  );
  background-size: 3rem 1rem;
  opacity: 0.5;
  position: absolute;
  right: 0;
  left: 0;
  mask-image: linear-gradient(90deg, transparent 0%, #fff 30%, #fff 70%, transparent 100%);
  mask-repeat: no-repeat;
  content: "";
  bottom: 0;
}

.App_icon_5868d441 {
  width: 96rem;
  height: 96rem;
  background: no-repeat center/contain;
  position: absolute;
  top: -33rem;
  left: -17rem;
}

.App_name_1d781831 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 4rem;
}

.App_breed_26f2e2f7 {
  font-size: 16rem;
  line-height: 1;
}

.App_content_7860a5c0 {
  padding-left: 86rem;
}

.App_warning_141659eb {
  margin: 16rem 4rem 0;
}
