/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_a3d8287e {
  width: 340rem;
  height: auto;
}

.App_card_e2802760 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 180rem;
}

.App_title_2810d51e {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-left: 23rem;
  color: rgba(238, 237, 233, 0.9);
  font-weight: 600;
}

.App_subtitle_b52dd7b8 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-left: 23rem;
  margin-bottom: 18rem;
  color: rgba(233, 231, 220, 0.5);
  font-weight: 500;
}

.App_text_6523a44e {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 15rem 12rem 30rem 23rem;
  color: #b2afab;
}