/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_31a760a2 {
  display: flex;
  flex-direction: column;
  width: 368rem;
  padding: 18rem 20rem 25rem;
}

.Content_title_1fdee2fe {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(238, 237, 233, 0.9);
  font-weight: 500;
}

.Content_image_a2b2b7e0 {
  align-self: center;
  width: 328rem;
  height: 140rem;
  margin-top: 25rem;
  background: url(R.images.gui.maps.icons.userMissions.challenges.tooltipIcons.shield_tooltip) no-repeat center/contain;
}

.Content_description_5209fcb {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 23rem;
  color: rgba(238, 237, 233, 0.5);
}