@keyframes IconTextBlock_fadeInWithScale_504d628e {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes IconTextBlock_slideUp_504d628e {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes IconTextBlock_blink_504d628e {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes IconTextBlock_scale_504d628e {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes IconTextBlock_rotate_504d628e {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes IconTextBlock_windowIn_504d628e {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes IconTextBlock_fadeOut_504d628e {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes IconTextBlock_fadeIn_504d628e {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.IconTextBlock_4710821f {
  display: flex;
  align-items: center;
}

.IconTextBlock_icon_f2e57275 {
  width: 36rem;
  height: 36rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.IconTextBlock_text_e1bd5a75 {
  width: 90%;
  margin-left: 10rem;
}