/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
  width: 100%;
  height: 12rem;
  position: relative;
}
.ProgressBar_base__medium_62 {
  height: 6rem;
}
.ProgressBar_base__small_df {
  height: 2rem;
}
.ProgressBar_background_51 {
  width: 100%;
  max-width: 8001px;
  height: 100%;
  background-image: var(--progress-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 0;
  left: 0;
}
.ProgressBar_background__medium_6e {
  height: 6rem;
}
.ProgressBar_background__small_46 {
  height: 2rem;
}
.ProgressBar_lineWrapper_6a {
  display: flex;
  flex: 1;
}

.ProgressBarBlink_base_24 {
  width: 60rem;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}

.ProgressBarBlink_base__medium_ec {
  width: 42rem;
  height: 70rem;
}

.ProgressBarBlink_base__small_0f {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
  max-width: 8001px;
  height: 100%;
  background-color: var(--progress-line-base);
  position: relative;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
  background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
  background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
  max-width: 8001px;
  background-image: var(--progress-pattern-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-disabled);
  left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
  max-width: 8001px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
  mix-blend-mode: overlay;
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: 1rem;
  left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
  display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0.5)
  );
}
.ProgressLineImpose_glow_a5 {
  width: 60rem;
  max-width: 8001px;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
  left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
  display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
  transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

.ExtendedText_base_71 {
  display: flex;
  line-height: 1.2;
  position: relative;
}

.ExtendedText_base__zeroPadding_25 {
  padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
  width: 100%;
}

.ExtendedText_truncated_97 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.ExtendedText_truncated__hide_31 {
  opacity: 0;
}

.ExtendedText_unTruncated_b8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  color: #ff2717;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.colors_blackReal_fc {
  color: #000000;
}

.colors_whiteReal_31 {
  color: #ffffff;
}

.colors_white_45 {
  color: #f2f2f7;
}

.colors_whiteOrange_81 {
  color: #fefeec;
}

.colors_whiteSpanish_c3 {
  color: #e9e2bf;
}

.colors_par_5b {
  color: #8c8c7e;
}

.colors_parSecondary_fd {
  color: #595950;
}

.colors_parTertiary_97 {
  color: #37362e;
}

.colors_red_79 {
  color: #ff2717;
}

.colors_redDark_73 {
  color: #b70000;
}

.colors_yellow_76 {
  color: #feab34;
}

.colors_orange_cd {
  color: #ee7000;
}

.colors_cream_0f {
  color: #ffdd99;
}

.colors_brown_82 {
  color: #cbac77;
}

.colors_greenBright_68 {
  color: #80d43a;
}

.colors_green_fa {
  color: #7ab300;
}

.colors_greenDark_a9 {
  color: #497212;
}

.colors_blueBooster_26 {
  color: #ccffff;
}

.colors_blueTeamkiller_86 {
  color: #09e2ff;
}

.colors_cred_35 {
  color: #ced9d9;
}

.colors_gold_c3 {
  color: #ffc363;
}

.colors_bond_ce {
  color: #c9c9b6;
}

.colors_prom_83 {
  color: #a29b70;
}

.renderers_noBreakWrapper_10 {
  display: flex;
  flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
  width: 100%;
  height: 0;
}

.renderers_newLine_bd {
  flex: 1;
  width: 100%;
}

.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

.WTWidget_base_4b {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.WTWidget_base__b1_78 {
  height: 90%;
}

.WTWidget_base__b2_9b,
.WTWidget_base__b3_48 {
  height: 50%;
  overflow: visible;
}

.WTWidget_emblem_4b {
  width: 72rem;
  height: 72rem;
  background: url("R.images.gui.maps.icons.mode_selector.mode.white_tiger.progress_icon") no-repeat
    50% / contain;
  position: relative;
}

.mediaLarge .WTWidget_emblem_4b {
  width: 136rem;
  height: 136rem;
}

.mediaMedium .WTWidget_base__b1_78 .WTWidget_emblem_4b,
.mediaMedium .WTWidget_base__b2_9b .WTWidget_emblem_4b {
  width: 136rem;
  height: 136rem;
}

.WTWidget_base__b1_78 .WTWidget_emblem_4b {
  top: 104rem;
}

.mediaLarge .WTWidget_base__b1_78 .WTWidget_emblem_4b {
  top: 146rem;
}

.WTWidget_base__b2_9b .WTWidget_emblem_4b {
  top: 3rem;
}

.mediaMedium .WTWidget_base__b2_9b .WTWidget_emblem_4b {
  top: -3rem;
}

.mediaLarge .WTWidget_base__b2_9b .WTWidget_emblem_4b {
  top: 3rem;
}

.WTWidget_base__b3_48 .WTWidget_emblem_4b {
  top: 3rem;
}

.mediaMedium .WTWidget_base__b3_48 .WTWidget_emblem_4b {
  top: 10rem;
}

.mediaLarge .WTWidget_base__b3_48 .WTWidget_emblem_4b {
  top: -15rem;
}

.WTWidget_base__b4_c9 .WTWidget_emblem_4b {
  width: 60rem;
  height: 60rem;
  top: 3rem;
}

.mediaLarge .WTWidget_base__b4_c9 .WTWidget_emblem_4b {
  width: 90rem;
  height: 90rem;
  top: -8rem;
}

.WTWidget_emblem__full_8a {
  background-image: url("R.images.gui.maps.icons.mode_selector.mode.white_tiger.progress_icon_done");
}

.WTWidget_checkmark_31 {
  width: 24rem;
  height: 24rem;
  background: url("R.images.white_tiger.gui.maps.icons.logo.check_green") center / contain no-repeat;
  visibility: hidden;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.WTWidget_checkmark__visible_3f {
  visibility: visible;
}

.mediaSmall .WTWidget_checkmark_31 {
  width: 32rem;
  height: 32rem;
}

.WTWidget_progress_f2 {
  color: #8c8c7e;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  width: 80%;
  position: absolute;
  top: 323rem;
  left: 50%;
  transform: translateX(-50%);
}

.mediaMedium .WTWidget_progress_f2 {
  top: 403rem;
}

.mediaLarge .WTWidget_progress_f2 {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  top: 478rem;
}

.WTWidget_base__b2_9b .WTWidget_progress_f2 {
  top: 160rem;
}

.mediaMedium .WTWidget_base__b2_9b .WTWidget_progress_f2 {
  top: 210rem;
}

.mediaLarge .WTWidget_base__b2_9b .WTWidget_progress_f2 {
  top: 245rem;
}

.WTWidget_base__b3_48 .WTWidget_progress_f2 {
  width: 70%;
  top: 104rem;
}

.mediaMedium .WTWidget_base__b3_48 .WTWidget_progress_f2 {
  top: 130rem;
}

.mediaLarge .WTWidget_base__b3_48 .WTWidget_progress_f2 {
  top: 160rem;
}

.WTWidget_collection_9a {
  margin-bottom: 9rem;
}

.WTWidget_base__b3_48 .WTWidget_collection_9a {
  margin-bottom: 4rem;
}

.mediaMedium .WTWidget_base__b3_48 .WTWidget_collection_9a {
  margin-bottom: 9rem;
}

.WTWidget_tickets_8d {
  color: #e9e2bf;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  position: absolute;
  top: 87rem;
  left: 50%;
  transform: translateX(-50%);
}

.mediaMedium .WTWidget_tickets_8d {
  top: 83rem;
}

.mediaLarge .WTWidget_tickets_8d {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  top: 125rem;
}

.WTWidget_base__b2_9b .WTWidget_tickets_8d {
  top: 135rem;
}

.mediaMedium .WTWidget_base__b2_9b .WTWidget_tickets_8d {
  top: 175rem;
}

.mediaLarge .WTWidget_base__b2_9b .WTWidget_tickets_8d {
  top: 187rem;
}

.WTWidget_base__b3_48 .WTWidget_tickets_8d {
  top: 88rem;
}

.mediaMedium .WTWidget_base__b3_48 .WTWidget_tickets_8d {
  top: 115rem;
}

.mediaLarge .WTWidget_base__b3_48 .WTWidget_tickets_8d {
  top: 135rem;
}

.WTWidget_ticketCount_9f {
  margin-left: 5rem;
  padding-right: 16rem;
  background: url("R.images.white_tiger.gui.maps.icons.tickets.ticket_16") no-repeat right center /
    16rem;
  color: #ffdd99;
}

.WTWidget_progressionWrapper_2b {
  display: flex;
  justify-content: center;
  align-content: center;
}

.WTWidget_base__b3_48 .WTWidget_progressionWrapper_2b {
  margin-bottom: 6rem;
}
