/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RewardItem_59394906 {
  display: flex;
  align-items: center;
  margin: 0 5rem;
  position: relative;
}

.RewardItem_image_81edae9d {
  display: flex;
  align-items: center;
  width: 48rem;
  height: 48rem;
  position: relative;
}
.RewardItem_image__counter_ef0853dc {
  margin-right: 8rem;
}

.RewardItem_icon_92ad1d7e {
  width: 100%;
  height: 100%;
  background: center/contain no-repeat;
  position: relative;
  z-index: 1;
}

.RewardItem_highlight_2e1285c7 {
  width: 100%;
  height: 100%;
  background: no-repeat center/contain;
  position: absolute;
  z-index: 0;
}

.RewardItem_overlay_1c840e54 {
  width: 96rem;
  height: 96rem;
  background: no-repeat center/100%;
  background-size: 100%;
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.RewardItem_overlay__attachment_60660836 {
  width: 48rem;
  height: 48rem;
}

.RewardItem_count_67ffed0c {
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 14rem;
  text-shadow: 0 1rem 0 rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(0) translateY(-16rem);
}

.RewardItem_label_a2fb4f7 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b2afab;
  font-size: 14rem;
  line-height: 1.1;
  text-align: center;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
}
.RewardItem_label__credits_7144921 {
  color: #c5cccc;
}
.RewardItem_label__gold_6a60a514 {
  color: #fecc88;
}
.RewardItem_label__freeXP_549c3dee {
  color: #ecca9d;
}
.RewardItem_label__crystal_e0fe533b {
  color: #baccbf;
}
.RewardItem_label__tankXP_a2f71600 {
  color: #dce0e0;
}

.RewardItem_compensation_8d198fdb {
  width: 16rem;
  height: 16rem;
  background: url("R.images.gui.maps.icons.userMissions.hub.challenge.compensation") no-repeat
    center center/contain;
  position: absolute;
  top: -5%;
  right: -6%;
  z-index: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Rewards_ff779b97 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 7rem;
}
