/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.VehicleItem_586f927b {
  display: flex;
  flex-direction: column;
  width: 98rem;
  position: relative;
}

.VehicleItem_vehicleIcon_be065974 {
  width: 64rem;
  height: 64rem;
  margin-left: 23rem;
  background: url(R.images.gui.maps.icons.personal_missions_30.tooltips.mission_progress.vehicle_empty)
    no-repeat center/cover;
}
.VehicleItem_base__completed_e538d77c .VehicleItem_vehicleIcon_be065974 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.tooltips.mission_progress.vehicle_filled);
}

.VehicleItem_label_d360b547 {
  font-size: 16rem;
  font-weight: 700;
  line-height: 1.3em;
  width: 100%;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-weight: 700;
  text-align: center;
}
.VehicleItem_base__completed_e538d77c .VehicleItem_label_d360b547 {
  color: rgba(var(--color-status-done-rgb), 0.9);
}

.VehicleItem_line_45efcf11 {
  width: 30rem;
  height: 1rem;
  background: #d9d9d9;
  opacity: 0.2;
  position: absolute;
  top: 31rem;
  right: -19rem;
}
.VehicleItem_line__vertical_b60df039 {
  width: 1rem;
  height: 14rem;
  top: 48rem;
  right: 49rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.InnerBlock_a92b837 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20rem;
}

.InnerBlock_title_8cfb58b5 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 13rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
}

.InnerBlock_total_6e746610 {
  color: rgba(var(--color-general-tertiary-rgb), 1);
}

.InnerBlock_vehicles_16d11ceb {
  display: flex;
  justify-content: center;
  margin: 2rem 0 20rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MissionProgressTooltip_a2ab3368 {
  width: 420rem;
  padding: 15rem 20rem 18rem;
}

.MissionProgressTooltip_title_34d67d31 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
}

.MissionProgressTooltip_description_56cc6402 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
  line-height: 22rem;
}

.MissionProgressTooltip_content_6844579 {
  margin-top: 15rem;
}

.MissionProgressTooltip_footer_f9c0540d {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 13rem;
  color: rgba(var(--color-general-tertiary-rgb), 0.6);
  line-height: 22rem;
}
