/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.SynergyRewards_96c42fe1 {
  display: flex;
}

.SynergyRewards_rewardInfo_7f0a1f67 {
  justify-content: flex-end;
  padding-right: 2rem;
  color: rgba(238, 237, 233, 0.9);
  font-size: 18rem;
}

.SynergyRewards_rewardInfoSynergy_a66e4fdb {
  justify-content: flex-end;
  color: #ecca9d;
  font-size: 28rem;
  text-shadow:
    0 0 2rem rgba(252, 246, 235, 0.16),
    0 0 8rem rgba(193, 139, 21, 0.5);
  transform: translateX(-2rem) translateY(-11rem);
}
