.App_base_eb {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  margin: 1rem; /* workaround for inject component https://jira-archive.lesta.group/browse/WOTD-227240*/
}
