.SwitchButton_base_23 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 25rem;
    padding: 0 5rem;
    border-radius: 3rem;
    background: linear-gradient(180deg, rgba(255,255,255, .1) 0%, rgba(255,255,255, 0) 100%) #4d4c45;
    position: relative;
}

    .SwitchButton_base__active_31 {
        border-radius: 3rem;
        background: linear-gradient(
                90deg,
                #ac802c 0%,
                #eece63 48.95%,
                #efd065 48.96%,
                #ae842e 100%
        );
    }

    .SwitchButton_base__warning_71 {
        background: linear-gradient(180deg, rgba(255,255,255, .1) 0%, rgba(149,27,0, .5) 100%) #4d4c45;
    }
.SwitchButton_buttonBack_ce,
.SwitchButton_buttonBackHovered_45 {
    border-radius: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
}
.SwitchButton_buttonBack_ce {
    background: linear-gradient(180deg, rgba(255,255,255, .1) 0%, rgba(255,255,255, 0) 100%) #393830;
}
.SwitchButton_buttonBackHovered_45 {
    background: linear-gradient(180deg, rgba(255,255,255, .2), rgba(255,255,255, .1)),
    linear-gradient(0deg, rgba(255,255,255, .1) 0%, rgba(255,255,255, 0) 100%)
    #393830;
    opacity: 0;
    transition: opacity .4s;
}
.SwitchButton_base__hovered_b4 .SwitchButton_buttonBackHovered_45 {
        opacity: 1;
    }
.SwitchButton_buttonGlow_4c {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.SwitchButton_base__active_31 .SwitchButton_buttonGlow_4c {
        background: linear-gradient(180deg, rgba(255,42,0, .1) 0%, transparent .01%, rgba(255,127,0, .1) 100%);
    }
.SwitchButton_base__warning_71 .SwitchButton_buttonGlow_4c {
        background: linear-gradient(180deg, transparent, rgba(255,0,0, .2) 100%);
    }
.SwitchButton_buttonIcon_d3 {
    width: 10rem;
    height: 3rem;
    border: 1rem solid #000;
    border-radius: 2rem;
    position: absolute;
    bottom: -1rem;
    left: 8rem;
}
.SwitchButton_base__normal_b4 .SwitchButton_buttonIcon_d3 {
        background: #3a3a3a;
    }
.SwitchButton_base__active_31 .SwitchButton_buttonIcon_d3 {
        box-shadow: 0 0 1rem rgba(255,144,0, .3), 0 0 1rem rgba(255,84,0, .4);
        background: #ffe566;
    }
.SwitchButton_base__warning_71 .SwitchButton_buttonIcon_d3 {
        box-shadow: 0 0 1rem rgba(255,0,0, .3), 0 0 1rem rgba(255,84,0, .4);
        background: #ff3205;
    }
.SwitchButton_buttonWarning_3f {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1rem solid rgba(255,39,23, .25);
    border-radius: 2rem;
    box-shadow: 0 0 10rem rgba(255,0,0, .1), inset 0 0 10rem rgba(255,0,0, .25);
    opacity: 0;
}
.SwitchButton_base__warning_71 .SwitchButton_buttonWarning_3f {
        animation: SwitchButton_blinking_ba ease-in-out infinite 2s;
    }
.SwitchButton_number_8a {
    width: 16rem;
    height: 16rem;
    background-size: contain;
    opacity: .2;
    position: relative;
}
.SwitchButton_base__active_31 .SwitchButton_number_8a {
        filter: none;
        opacity: 1;
    }
@keyframes SwitchButton_blinking_ba {
    50% {
        background: rgba(255,39,23, .1);
        opacity: 1;
    }
}

