.DogTag_base_cb781 {
    width: 200rem;
    height: 120rem;
    position: relative;
}

    .DogTag_base__big_a0a51 {
        width: 400rem;
        height: 240rem;
    }

.DogTag_engraving_ca9f2,
.DogTag_background_c6df2 {
    width: 100%;
    height: 100%;
    background: center / contain no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.AnimatedDogTag_base_a7a4f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200rem;
    height: 120rem;
    position: relative;
}

    .AnimatedDogTag_base__small_cbafa {
        width: 300rem;
        height: 180rem;
    }

    .AnimatedDogTag_base__medium_e49a0 {
        width: 400rem;
        height: 240rem;
    }

    .AnimatedDogTag_base__large_ebf4c {
        width: 500rem;
        height: 300rem;
    }

.AnimatedDogTag_shadow_de8c5 {
    width: 200rem;
    height: 134rem;
    background: url('R.images.gui.maps.icons.dogtags.icons.tocken_shadow') no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.AnimatedDogTag_base__small_cbafa .AnimatedDogTag_shadow_de8c5 {
        width: 300rem;
        height: 200rem;
    }

.AnimatedDogTag_base__medium_e49a0 .AnimatedDogTag_shadow_de8c5 {
        width: 406rem;
        height: 270rem;
    }

.AnimatedDogTag_base__large_ebf4c .AnimatedDogTag_shadow_de8c5 {
        width: 508rem;
        height: 338rem;
    }

.AnimatedDogTag_backplateBox_d78df {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.AnimatedDogTag_backplate_e119a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 26rem;
    background: no-repeat center / contain;
    transform: translateY(50%) rotate(4deg);
}

.AnimatedDogTag_base__extraSmall_d2bad .AnimatedDogTag_backplate_e119a {
        transform: translateY(57%) rotate(4deg);
    }

.AnimatedDogTag_base__small_cbafa .AnimatedDogTag_backplate_e119a {
        padding-top: 40rem;
    }

.AnimatedDogTag_base__medium_e49a0 .AnimatedDogTag_backplate_e119a {
        padding-top: 54rem;
    }

.AnimatedDogTag_base__large_ebf4c .AnimatedDogTag_backplate_e119a {
        padding-top: 64rem;
    }

.AnimatedDogTag_dogTag_d21e8 {
    width: 100%;
    height: 100%;
}

.AnimatedDogTag_videoBox_b5a8c {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
}

.AnimatedDogTag_base__extraSmall_d2bad .AnimatedDogTag_videoBox_b5a8c {
        transform: scale(.5);
    }

.AnimatedDogTag_base__small_cbafa .AnimatedDogTag_videoBox_b5a8c {
        transform: scale(.75);
    }

.AnimatedDogTag_base__medium_e49a0 .AnimatedDogTag_videoBox_b5a8c {
        transform: scale(1);
    }

.AnimatedDogTag_base__large_ebf4c .AnimatedDogTag_videoBox_b5a8c {
        transform: scale(1.25);
    }

.AnimatedDogTag_video_a8dec {
    width: 800rem;
    height: 600rem;
}

.Counter_base_f3549 {
    display: flex;
    align-items: center;
    color: rgba(201, 200, 196, .8);
    filter: drop-shadow(0 2rem 3rem #000) drop-shadow(0 2rem 3rem rgba(0,0,0, .3));
    mix-blend-mode: hard-light;
}

    .Counter_base__extraSmall_f013d {
        flex-direction: column;
    }

.Counter_text_f8d92 {
    max-width: 100rem;
    font-size: 14rem;
    font-weight: 700;
    line-height: 17rem;
    text-align: right;
    white-space: pre-wrap;
    position: relative;
}

.Counter_base__extraSmall_f013d .Counter_text_f8d92 {
        max-width: initial;
        white-space: normal;
    }

.Counter_base__medium_acc18 .Counter_text_f8d92 {
        font-size: 20rem;
        line-height: 22rem;
    }

.Counter_base__large_ed6ab .Counter_text_f8d92 {
        font-size: 25rem;
        line-height: 27rem;
    }

.Counter_count_e095d {
    padding-bottom: 4rem;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1;
    position: relative;
}

.Counter_base__small_e5954 .Counter_count_e095d {
        margin-left: 10rem;
        font-size: 37rem;
    }

.Counter_base__medium_acc18 .Counter_count_e095d {
        margin-left: 16rem;
        font-size: 50rem;
    }

.Counter_base__large_ed6ab .Counter_count_e095d {
        margin-left: 20rem;
        font-size: 62rem;
    }

.App_base_d239a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 100rem;
    overflow: hidden;
}

