.Location_base_fc9a2 {
    display: flex;
    align-items: center;
}

    .Location_base__countFirst_cfa10 {
        flex-direction: row-reverse;
    }

.Location_icon_b69e6 {
    width: 34rem;
    height: 24rem;
    background: no-repeat center / contain;
}

.Location_base__countFirst_cfa10 .Location_icon_b69e6 {
        transform: translateY(4rem);
    }

.Location_base__storage_e4a74 .Location_icon_b69e6 {
        background-image: url('R.images.gui.maps.icons.library.storage_icon');
    }

.Location_base__vehicle_f5008 .Location_icon_b69e6 {
        background-image: url('R.images.gui.maps.icons.tanksetup.proposals.location.tank');
    }

.Location_count_e7c86 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Location_base__countFirst_cfa10 .Location_count_e7c86 {
        color: #C9C9B6;
        font-size: 24rem;
        font-weight: 700;
        line-height: 1.2;
        line-height: 1;
    }

.Location_count__zero_a5474 {
        color: #B70000;
    }

