body {
  margin: 0;
  line-height: normal;
}

.App_base_aa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("R.images.gui.maps.icons.customization.progressive_items_view.background")
    no-repeat center / cover;
  position: relative;
}

.App_contentWrapper_bf {
  flex: 1;
  width: 100%;
}

.HorizontalBar_base_49 {
  display: flex;
  width: 100%;
  height: 13rem;
  position: relative;
}

.HorizontalBar_base__nonActive_82 {
  visibility: hidden;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transform: rotate(-90deg);
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
  opacity: 1;
}

.HorizontalBar_leftButton_5f {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.HorizontalBar_rightButton_03 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.HorizontalBar_track_0d {
  flex: 1;
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}

.HorizontalBar_thumb_fd {
  display: none;
  flex: 0 0 100%;
  width: 100%;
  min-width: 20rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb_horizontal")
    no-repeat center / 8rem 7rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
  opacity: 1;
}

.HorizontalBar_rail_32 {
  height: 0;
  border-top: 1rem solid #2f2e24;
  position: absolute;
  top: 6rem;
  right: 5rem;
  left: 5rem;
}

.HorizontalBar_rail_32:hover {
  opacity: 0.7;
}

.HorizontalScroll_base_29 {
  width: 100%;
}

.HorizontalScroll_wrapper_1e {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
  width: 100%;
  margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: 100%;
  position: relative;
}

.VerticalBar_base__nonActive_42 {
  visibility: hidden;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
  opacity: 1;
}

.VerticalBar_topButton_d7 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.VerticalBar_bottomButton_06 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.VerticalBar_track_df {
  flex: 1;
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
}

.VerticalBar_thumb_32 {
  display: flex;
  flex: 0 0 13rem;
  width: 13rem;
  height: 100%;
  min-height: 20rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb") no-repeat center /
    7rem 8rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_thumb_32:hover {
  opacity: 1;
}

.VerticalBar_rail_43 {
  width: 0;
  height: 100%;
  border-left: 1rem solid #2f2e24;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  position: absolute;
  top: 0;
  left: 6rem;
  z-index: 0;
}

.VerticalBar_rail_43:hover {
  opacity: 0.7;
}

.VerticalScroll_content_cb {
  height: 100%;
  overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
  display: flex;
}

.VerticalScroll_bar_1e {
  flex: 1;
  margin-left: 7rem;
}

.VerticalScroll_area_af {
  flex: 1;
}

.TextButton_base_b6 {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 12rem;
  position: relative;
  cursor: pointer;
}

.TextButton_base__right_39 {
  flex-direction: row-reverse;
}
.TextButton_icon_17 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.back");
  transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
  transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
  margin: -1rem 0;
  background-image: url("R.images.gui.maps.icons.components.text_button.close");
}
.TextButton_icon__info_33 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.info");
}
.TextButton_glow_a4 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.back_hover");
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.close_hover");
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.info_hover");
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
  opacity: 0;
}
.TextButton_caption_82 {
  position: relative;
  transition:
    color 0.16s,
    text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
  color: #ffdd99;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
  color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
  color: #ffdd99;
}
.TextButton_caption__info_23 {
  padding: 0 5rem;
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
  color: #e3ffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 12rem rgba(0, 234, 255, 1),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.6),
    0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
  color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
  margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
  margin-right: 8rem;
}
.TextButton_shine_e2 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transition: opacity 0.16s;
  pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
  left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
  right: -4rem;
  transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
  opacity: 0;
}

.ProgressionHeader_base_d3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fefeec;
  font-size: 20rem;
}

.ProgressionHeader_base__large_26 {
  font-size: 24rem;
}

.ProgressionHeader_line_60 {
  flex: 1;
  height: 2rem;
  background-color: rgba(254, 254, 236, 0.2);
}

.ProgressionHeader_title_3f {
  padding: 0 20rem 8rem;
}

.HoverContent_base_5c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fd9;
  font-size: 14rem;
  text-shadow:
    0 0 12rem rgba(255, 0, 0, 1),
    0 0 12rem rgba(255, 0, 0, 0.6),
    0 0 12rem rgba(255, 0, 0, 0.6),
    0 0 10rem rgba(255, 0, 0, 0.6),
    0 0 8rem rgba(255, 0, 0, 0.6);
}

.HoverContent_icon_99 {
  width: 100rem;
  height: 100rem;
  margin-top: -40rem;
  background: url("R.images.gui.maps.icons.customization.progeression_screen.decal_preview")
    no-repeat center / cover;
}

.HoverContent_text_e7 {
  margin-top: -35rem;
  background: url("R.images.gui.maps.icons.customization.progeression_screen.shadow") no-repeat 100%
    100% / cover;
}

.Icon_base_d5 {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.Icon_base__placeholder_9c {
  width: 20rem;
  height: 20rem;
  border: 3rem solid;
  border-color: #fff #fff #fff transparent;
  border-radius: 80%;
  opacity: 0.3;
  animation: Icon_rotating_90 1.2s linear infinite;
}

.Icon_imageTemp_1f {
  display: none;
}

@keyframes Icon_rotating_90 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Item_base_50 {
  display: flex;
  width: 20%;
}

.Item_base__first_a0 {
  width: 130rem;
}

.Item_base__firstSmall_e6 {
  width: 180rem;
}

.Item_base__firstMedium_f5 {
  width: 190rem;
}

.Item_base__firstLarge_53 {
  width: 230rem;
}
.Item_content_bb {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130rem;
}
.Item_content__small_9a {
  width: 180rem;
}
.Item_content__medium_66 {
  width: 190rem;
}
.Item_content__large_a3 {
  width: 230rem;
}
.Item_image_f0 {
  width: 100rem;
  height: 100rem;
  transform: scale(1);
  transition: transform 0.2s;
  cursor: pointer;
}
.Item_image__small_9c {
  width: 160rem;
  height: 160rem;
}
.Item_image__medium_fe {
  width: 170rem;
  height: 170rem;
}
.Item_image__large_38 {
  width: 190rem;
  height: 190rem;
}
.Item_image__locked_0f {
  opacity: 0.35;
  cursor: default;
  pointer-events: none;
}
.Item_image__progress_21 {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
.Item_image_f0:hover {
  transform: scale(1.15);
}
.Item_imageContainer_8f {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130rem;
  margin-bottom: 3rem;
  position: relative;
}
.Item_imageContainer__small_6c {
  width: 180rem;
  margin-bottom: 3rem;
}
.Item_imageContainer__medium_9a {
  width: 190rem;
  margin-bottom: 10rem;
}
.Item_imageContainer__large_17 {
  width: 230rem;
  margin-bottom: 15rem;
}
.Item_hoverContent_51 {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
  pointer-events: none;
}
.Item_imageContainer_8f:hover .Item_hoverContent_51 {
  opacity: 1;
}
.Item_itemProgression_d8 {
  margin-top: 1rem;
}
.Item_itemProgression__small_2e {
  margin-top: 7rem;
}
.Item_itemProgression__large_34 {
  margin-top: 0;
}
.Item_itemProgressionWithBar_f5 {
  margin-top: 6rem;
}
.Item_itemProgressionWithBar__small_20 {
  margin-top: 11rem;
}
.Item_itemProgressionWithBar__large_ab {
  margin-top: 5rem;
}
.Item_itemSeparator_1f {
  flex: 1;
  height: 100rem;
}
.Item_itemSeparator__small_94 {
  height: 160rem;
}
.Item_itemSeparator__medium_d6 {
  height: 170rem;
}
.Item_itemSeparator__large_ba {
  height: 190rem;
}

.ItemBlockDone_base_b5 {
  color: #80d43a;
  font-size: 14rem;
}

.ItemBlockDone_base__large_69 {
  font-size: 16rem;
}

.ItemBlockDone_contentContainer_04 {
  margin-left: -11rem;
  margin-top: 6rem;
  padding-left: 22rem;
  background: url("R.images.gui.maps.icons.library.done") no-repeat left / 22rem;
}

.ItemBlockDone_contentContainer__small_61 {
  margin-top: 12rem;
}

.ItemBlockDone_contentContainer__large_b2 {
  margin-top: 5rem;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
  width: 100%;
  height: 12rem;
  position: relative;
}
.ProgressBar_base__medium_62 {
  height: 6rem;
}
.ProgressBar_base__small_df {
  height: 2rem;
}
.ProgressBar_background_51 {
  width: 100%;
  max-width: 8001px;
  height: 100%;
  background-image: var(--progress-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 0;
  left: 0;
}
.ProgressBar_background__medium_6e {
  height: 6rem;
}
.ProgressBar_background__small_46 {
  height: 2rem;
}
.ProgressBar_lineWrapper_6a {
  display: flex;
  flex: 1;
}

.ProgressBarBlink_base_24 {
  width: 60rem;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}

.ProgressBarBlink_base__medium_ec {
  width: 42rem;
  height: 70rem;
}

.ProgressBarBlink_base__small_0f {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
  max-width: 8001px;
  height: 100%;
  background-color: var(--progress-line-base);
  position: relative;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
  background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
  background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
  max-width: 8001px;
  background-image: var(--progress-pattern-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-disabled);
  left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
  max-width: 8001px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
  mix-blend-mode: overlay;
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: 1rem;
  left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
  display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0.5)
  );
}
.ProgressLineImpose_glow_a5 {
  width: 60rem;
  max-width: 8001px;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
  left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
  display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
  transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

.ItemBlockProgression_base_19 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0;
}

.ItemBlockProgression_base__small_02 {
  padding-bottom: 10rem;
}

.ItemBlockProgression_text_d9 {
  color: #8c8c7e;
  font-size: 14rem;
}

.ItemBlockProgression_text__large_7e {
  font-size: 16rem;
}

.ItemBlockProgression_text__score_9d {
  margin-right: 3rem;
  color: #c9c9b6;
}

.ItemBlockProgression_count_b1 {
  margin-bottom: 5rem;
}

.ItemBlockProgression_description_b2 {
  margin-top: 5rem;
}

.Separator_base_44 {
  display: flex;
  flex: 1;
  position: relative;
}

.Separator_lock_98 {
  position: absolute;
  top: 50%;
  left: 50%;
}

.Separator_lockImage_6c {
  width: 10rem;
  height: 15rem;
  transform: translate(-50%, -60%);
}

.Separator_arrow_12 {
  width: 100%;
  height: 100%;
  background: url("R.images.gui.maps.icons.customization.progeression_screen.arrowx2") no-repeat
    right;
  background-size: 100rem 13rem;
}

.List_base_37 {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.ProgressionSequence_base_d9 {
  padding-bottom: 12rem;
}

.ProgressionSequence_base__small_c3 {
  padding-bottom: 20rem;
}

.ProgressionSequence_base__large_44 {
  padding-bottom: 35rem;
}

.ProgressionSequence_header_30 {
  width: 100%;
  margin-bottom: 20rem;
}

.Grid_base_d1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Grid_content_ec {
  display: flex;
  flex-direction: column;
  width: 990rem;
}

.Grid_content__small_a4 {
  width: 1330rem;
}

.Grid_content__medium_02 {
  width: 1550rem;
}

.Grid_content__large_c3 {
  width: 1750rem;
}

.Header_base_0d {
  color: #fefeec;
  font-size: 24rem;
}

.Header_tankTypeIcon_d6 {
  width: 83rem;
  height: 74rem;
  margin: 0 -12rem 0 -18rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.Header_contentContainer_85 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -6rem;
}

.Header_spaceAtTheEnd_c0 {
  margin-right: 6rem;
}

.ProgressiveItemsViewContent_base_54 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
  animation: ProgressiveItemsViewContent_fadeIn_8f 0.2s ease-in 0.1s forwards;
}

.ProgressiveItemsViewContent_overlay_2e {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.15;
  position: absolute;
  top: 0;
  left: 0;
}

.ProgressiveItemsViewContent_overlay__lowSettings_b6 {
  opacity: 0.4;
}

.ProgressiveItemsViewContent_closeBtn_c6 {
  position: absolute;
  top: 55rem;
  right: 28rem;
}

.ProgressiveItemsViewContent_infoBtn_f4 {
  position: absolute;
  top: 55rem;
  left: 26rem;
}

.ProgressiveItemsViewContent_header_b1 {
  margin: 30rem 0 20rem;
}

.ProgressiveItemsViewContent_grid_96 {
  padding: 40rem 0;
}

.ProgressiveItemsViewContent_scroll_7d {
  flex: 1;
  width: 100%;
}

.ProgressiveItemsViewContent_lip_6e {
  width: 100%;
  height: 320rem;
  background: url("R.images.gui.maps.icons.customization.gf_customization_cart.lip") 50% 0 / 100%
    100rem no-repeat;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 73rem;
  z-index: 1;
  transition:
    visibility 0s linear 1s,
    opacity 0.2s linear;
  pointer-events: none;
}

.ProgressiveItemsViewContent_lip__show_ea {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

@keyframes ProgressiveItemsViewContent_fadeIn_8f {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* TODO: media break points should be removed and taken from common folder when it's ready.*/

/*
@mixin media-xxl {
    @media (min-width: 2560px) and (min-height: 1440px) {
        @content;
    }
}

@mixin media-xl {
    @media (min-width: 1920px) and (min-height: 1080px) {
        @content;
    }
}
*/

/*
@mixin media-m {
    @media (min-width: 1440px) and (min-height: 776px) {
        @content;
    }
}
*/

.Tutorial_base_56 {
  width: 100%;
  height: 100%;
}

.Tutorial_overlay_5e {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.15;
}

.Tutorial_overlay__lowSettings_b4 {
  opacity: 0.4;
}

.Tutorial_scroll_fc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Tutorial_goBackContainer_3d {
  display: flex;
  position: absolute;
  top: 40rem;
  left: 0;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* TODO: media break points should be removed and taken from common folder when it's ready.*/

/*
@mixin media-xxl {
    @media (min-width: 2560px) and (min-height: 1440px) {
        @content;
    }
}

@mixin media-xl {
    @media (min-width: 1920px) and (min-height: 1080px) {
        @content;
    }
}
*/

/*
@mixin media-m {
    @media (min-width: 1440px) and (min-height: 776px) {
        @content;
    }
}
*/

.TutorialElement_base__small_19 {
  width: 277rem;
}

@media (min-width: 1366px) and (min-height: 768px) {
  .TutorialElement_base__small_19 {
    width: 300rem;
  }
}

.TutorialElement_base__medium_e2 {
  width: 430rem;
}

@media (min-width: 1366px) and (min-height: 768px) {
  .TutorialElement_base__medium_e2 {
    width: 460rem;
  }
}

.TutorialElement_icon__small_2e {
  width: 277rem;
  height: 170rem;
  background: no-repeat center / cover;
}

@media (min-width: 1366px) and (min-height: 768px) {
  .TutorialElement_icon__small_2e {
    width: 300rem;
    height: 170rem;
  }
}

.TutorialElement_icon__medium_3d {
  width: 430rem;
  height: 200rem;
  background: no-repeat center / cover;
}

@media (min-width: 1366px) and (min-height: 768px) {
  .TutorialElement_icon__medium_3d {
    width: 460rem;
    height: 200rem;
  }
}

.TutorialElement_elementTitle_15 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
}

.TutorialElement_elementTitle_container_66 {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.TutorialElement_elementDescription_82 {
  color: #8c8c7e;
  font-size: 14rem;
}

@media (min-width: 1600px) and (min-height: 900px) {
  .TutorialElement_elementDescription_82 {
    font-size: 16rem;
  }
}

/* TODO: media break points should be removed and taken from common folder when it's ready.*/

/*
@mixin media-xxl {
    @media (min-width: 2560px) and (min-height: 1440px) {
        @content;
    }
}

@mixin media-xl {
    @media (min-width: 1920px) and (min-height: 1080px) {
        @content;
    }
}
*/

/*
@mixin media-m {
    @media (min-width: 1440px) and (min-height: 776px) {
        @content;
    }
}
*/

.TutorialContent_base_cf {
  display: flex;
  justify-content: center;
}

.TutorialContent_main_03 {
  display: flex;
  flex-direction: column;
  width: 860rem;
  height: 100%;
  padding: 25rem 0 40rem;
}

@media (min-width: 1600px) and (min-height: 900px) {
  .TutorialContent_main_03 {
    width: 960rem;
  }
}

.TutorialContent_mainTitle_38 {
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 1600px) and (min-height: 900px) {
  .TutorialContent_mainTitle_38 {
    font-size: 56rem;
  }
}

.TutorialContent_mainTitleContainer_ef {
  display: flex;
  justify-content: center;
  margin: 14rem 0 13rem;
}

@media (min-width: 1600px) and (min-height: 900px) {
  .TutorialContent_mainTitleContainer_ef {
    margin: 14rem 20rem 0;
  }
}

.TutorialContent_mainDescription_8b {
  max-width: 650rem;
  color: #e9e2bf;
  font-size: 16rem;
  line-height: 24rem;
  text-align: center;
}

@media (min-width: 1600px) and (min-height: 900px) {
  .TutorialContent_mainDescription_8b {
    max-width: 880rem;
    color: #fefeec;
    font-size: 24rem;
    line-height: 32rem;
  }
}

.TutorialContent_mainDescriptionContainer_f5 {
  display: flex;
  justify-content: center;
  margin-bottom: 40rem;
}

@media (min-width: 1600px) and (min-height: 900px) {
  .TutorialContent_mainDescriptionContainer_f5 {
    margin: 20rem 20rem 44rem;
  }
}

.TutorialContent_image_97 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 880rem;
  height: 320rem;
  margin-bottom: 48rem;
  background: url("R.images.gui.maps.icons.customization.progressive_items_view.tutorial") no-repeat
    center / contain;
}

@media (min-width: 1600px) and (min-height: 900px) {
  .TutorialContent_image_97 {
    width: 960rem;
    height: 320rem;
  }
}

.TutorialContent_elementsBlock_6c {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 60rem;
}

.TutorialContent_elementsTitle_31 {
  color: #f2f2e7;
  font-size: 24rem;
  font-weight: 700;
}

.TutorialContent_elementsTitleContainer_40 {
  display: flex;
  margin: 4rem 0 18rem;
}

.TutorialContent_elementsDescription_be {
  color: #8c8c7e;
  font-size: 14rem;
}

@media (min-width: 1600px) and (min-height: 900px) {
  .TutorialContent_elementsDescription_be {
    font-size: 16rem;
  }
}

.TutorialContent_elementsDescriptionContainer_36 {
  margin-bottom: 20rem;
}

.TutorialContent_elementsContainer_68 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.TutorialContent_elementContainer__small_a7 {
  margin-right: 30rem;
}

.TutorialContent_elementContainer__medium_ad {
  margin-right: 20rem;
}

@media (min-width: 1600px) and (min-height: 900px) {
  .TutorialContent_elementContainer__medium_ad {
    margin-right: 40rem;
  }
}
