.TooltipDecorator_base_bf61f {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_bf8f8 .TooltipDecorator_decorator_f4de8 {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.atlases.components.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.FormatText_base_f27a4 {
  display: flex;
  flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_ae104 {
  color: #000000;
}

.FormatTextWithColorTags_whiteReal_c12a8 {
  color: #ffffff;
}

.FormatTextWithColorTags_white_c5665 {
  color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_fff65 {
  color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_d24b3 {
  color: #e9e2bf;
}

.FormatTextWithColorTags_par_ee7d9 {
  color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_a5b8c {
  color: #595950;
}

.FormatTextWithColorTags_parTertiary_a0c09 {
  color: #37362e;
}

.FormatTextWithColorTags_red_ad70c {
  color: #ff2717;
}

.FormatTextWithColorTags_redDark_afb30 {
  color: #b70000;
}

.FormatTextWithColorTags_yellow_e47d1 {
  color: #feab34;
}

.FormatTextWithColorTags_orange_e08c4 {
  color: #ee7000;
}

.FormatTextWithColorTags_cream_f2e96 {
  color: #ffdd99;
}

.FormatTextWithColorTags_brown_ed7be {
  color: #cbac77;
}

.FormatTextWithColorTags_greenBright_b0875 {
  color: #80d43a;
}

.FormatTextWithColorTags_green_d0263 {
  color: #7ab300;
}

.FormatTextWithColorTags_greenDark_f19b8 {
  color: #497212;
}

.FormatTextWithColorTags_blueBooster_fd3be {
  color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_fd915 {
  color: #09e2ff;
}

.FormatTextWithColorTags_cred_fdafa {
  color: #ced9d9;
}

.FormatTextWithColorTags_gold_ab90e {
  color: #ffc363;
}

.FormatTextWithColorTags_bond_e83f5 {
  color: #c9c9b6;
}

.FormatTextWithColorTags_prom_aa30c {
  color: #a29b70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_bf7ac {
  width: 0;
  color: #8c8c7e;
}

.Timer_base_d60a2 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Timer_icon_b6407 {
  width: 38rem;
  height: 38rem;
  margin: 0 -5rem;
  background: url("R.images.gui.maps.icons.battleMatters.common.timer") no-repeat center / contain;
  position: relative;
  top: 1rem;
}

.App_divider_a8359 {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
  mask-repeat: no-repeat;
}

.App_gradient_adb2c {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.App_base_c96f8 {
  width: 378rem;
}

.App_timer_b5185 {
  margin: 12rem 0;
}

.Header_divider_c5998 {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
  mask-repeat: no-repeat;
}

.Header_gradient_c25c7 {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.Header_base_f6636 {
  display: flex;
  flex-direction: column;
  height: 79rem;
  padding: 17rem 20rem 0;
  position: relative;
}

.Header_base__error_b5d4a,
.Header_base__completed_bc9df {
  justify-content: flex-end;
  align-items: center;
  height: 139rem;
}

.Header_image_f0ffb {
  height: 80rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.entryPoint.header") no-repeat
    center / contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.Header_base__completed_bc9df .Header_image_f0ffb,
.Header_base__error_b5d4a .Header_image_f0ffb {
  height: 180rem;
  background-image: url("R.images.gui.maps.icons.battleMatters.tooltips.entryPoint.header_alt");
}

.Header_title_ab92a {
  color: #e9e2bf;
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 3rem;
  position: relative;
}

.Header_base__error_b5d4a .Header_title_ab92a,
.Header_base__completed_bc9df .Header_title_ab92a {
  margin-bottom: -6rem;
}

.Header_progress_ac6be {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
}

.Reward_base_b1fec {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Reward_base__s48x48_ea3ee,
.Reward_base__small_d4940 {
  width: 48rem;
  height: 48rem;
}

.Reward_base__s80x80_de3ac,
.Reward_base__big_a4f0e {
  width: 80rem;
  height: 80rem;
}

.Reward_base__s128x100_c29f0 {
  width: 128rem;
  height: 100rem;
}

.Reward_base__s180x135_cb4c8 {
  width: 180rem;
  height: 135rem;
}

.Reward_base__s232x174_aea24 {
  width: 232rem;
  height: 174rem;
}

.Reward_base__s296x222_cbf7c {
  width: 296rem;
  height: 222rem;
}

.Reward_base__s400x300_bb29d {
  width: 400rem;
  height: 300rem;
}

.Reward_base__s600x450_c4f07 {
  width: 600rem;
  height: 450rem;
}

.Reward_tooltipWrapper_af665 {
  height: 100%;
}

.Reward_icon_b619b {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.Reward_overlay_dac5c {
  background: no-repeat center / 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.Reward_base__s48x48_ea3ee .Reward_overlay_dac5c,
.Reward_base__small_d4940 .Reward_overlay_dac5c {
  width: 96rem;
  height: 96rem;
  background-size: 100%;
  overflow: visible;
}

.Reward_base__s80x80_de3ac .Reward_overlay_dac5c,
.Reward_base__big_a4f0e .Reward_overlay_dac5c {
  width: 128rem;
  height: 128rem;
}

.Reward_base__s180x135_cb4c8 .Reward_overlay_dac5c {
  width: 266rem;
  height: 241rem;
}

.Reward_base__s232x174_aea24 .Reward_overlay_dac5c {
  width: 344rem;
  height: 312rem;
}

.Reward_base__s296x222_cbf7c .Reward_overlay_dac5c {
  width: 450rem;
  height: 408rem;
}

.Reward_base__s400x300_bb29d .Reward_overlay_dac5c {
  width: 618rem;
  height: 590rem;
}

.Reward_base__s600x450_c4f07 .Reward_overlay_dac5c {
  width: 670rem;
  height: 575rem;
}

.Reward_base__normalize_b8703 .Reward_overlay_dac5c {
  width: 100%;
  height: 100%;
}

.Reward_highlight_df36b {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  position: absolute;
  z-index: 0;
}

.Reward_image_e2997 {
  position: relative;
}

.Reward_info_b27d2 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-top: -13rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.Reward_base__s48x48_ea3ee .Reward_info_b27d2,
.Reward_base__small_d4940 .Reward_info_b27d2 {
  margin: -10rem -10rem 0;
}

.Reward_info__multi_e08a5 {
  margin-right: 2rem;
  text-align: right;
}

.Reward_base__s48x48_ea3ee .Reward_info__multi_e08a5,
.Reward_base__small_d4940 .Reward_info__multi_e08a5 {
  margin-right: 0;
}

.Reward_info__credits_ccc0d {
  color: #ced9d9;
}

.Reward_info__gold_af0a5 {
  color: #ffc363;
}

.Reward_info__bptaler_d4229,
.Reward_info__crystal_b0d9d {
  color: #c9c9b6;
}

.Reward_info__premiumTank_f53be {
  color: #ffdd99;
}

.Reward_title_ab4e2 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  max-width: 80rem;
  margin: -13rem -16rem 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.mediaMedium .Reward_title_ab4e2 {
  max-width: 100rem;
  margin-left: -10rem;
  margin-right: -10rem;
}

.Reward_base__s48x48_ea3ee .Reward_title_ab4e2,
.Reward_base__small_d4940 .Reward_title_ab4e2 {
  margin: -10rem -10rem 0;
}

.Reward_timer_c097c {
  background: no-repeat center / contain;
  position: absolute;
  z-index: 1;
}

.Reward_base__s48x48_ea3ee .Reward_timer_c097c,
.Reward_base__small_d4940 .Reward_timer_c097c {
  width: 23rem;
  height: 23rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.small.timer");
  top: -6rem;
  right: -6rem;
}

.Reward_base__s80x80_de3ac .Reward_timer_c097c,
.Reward_base__big_a4f0e .Reward_timer_c097c {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.big.timer");
  top: -14rem;
  right: -14rem;
}

.Rewards_base_e6f04 {
  display: flex;
}

.Rewards_base__vertical_e5a54 {
  flex-direction: column;
}

.Rewards_reward_cd984 {
  margin: 0 10rem;
}

.Rewards_reward__vertical_d30b6 {
  margin: 15rem 0;
}

.Rewards_divider_a64dc {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
  mask-repeat: no-repeat;
}

.Rewards_gradient_e19f4 {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.Rewards_base_a6900 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11rem 0 30rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.entryPoint.ribbon") no-repeat
    center / cover;
}

.Rewards_title_e5809 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  width: 100%;
  margin-bottom: 8rem;
  padding: 0 20rem;
}

.Rewards_reward_fb899 {
  margin: 0 8rem;
}

.Status_divider_a64c2 {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
  mask-repeat: no-repeat;
}

.Status_gradient_eba4f {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.Status_base_b7f7d {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13rem 20rem 0;
}

.Status_title_d5b11 {
  display: flex;
  align-items: center;
  margin-bottom: 12rem;
}

.Status_base__withDescription_deab8 .Status_title_d5b11 {
  margin-bottom: 8rem;
}

.Status_base__completed_d13cd .Status_title_d5b11 {
  color: #7ab300;
}

.Status_base__error_d58a3 .Status_title_d5b11 {
  color: #ee7000;
}

.Status_titleIcon_c9f40 {
  width: 16rem;
  height: 16rem;
  margin-right: 4rem;
  background: no-repeat center / contain;
}

.Status_base__completed_d13cd .Status_titleIcon_c9f40 {
  background-image: url("R.images.gui.maps.icons.library.done");
}

.Status_base__error_d58a3 .Status_titleIcon_c9f40 {
  background-image: url("R.images.gui.maps.icons.library.alertIcon");
}

.Status_description_d2f2a {
  margin-bottom: 18rem;
  color: #8c8c7e;
  text-align: center;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_c37bf {
  width: 100%;
  height: var(--progress-bg-height);
  position: relative;
}
.ProgressBar_base__small_af6d6 {
  height: var(--progress-bg-height-small);
}
.ProgressBar_background_a4e18 {
  width: 100%;
  max-width: 8001px;
  height: 100%;
  background-image: var(--progress-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: var(--progress-pattern-size);
  position: absolute;
  top: 0;
  left: 0;
}
.ProgressBar_background__small_e2b95 {
  height: var(--progress-bg-height-small);
}
.ProgressBar_lineWrapper_e670c {
  display: flex;
  flex: 1;
}

.ProgressBarBlink_base_d7125 {
  width: var(--progress-glow-width);
  height: var(--progress-glow-height);
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: var(--progress-glow-mixBlendMode);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}

.ProgressBarBlink_base__small_b92f8 {
  width: var(--progress-glow-small-width);
  height: var(--progress-glow-small-height);
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_a3558 {
  max-width: 8001px;
  height: 100%;
  background-color: var(--progress-line-base);
  filter: var(--progress-line-filter);
  position: relative;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressLineImpose_base__disabled_a9e8e {
  background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_f889e {
  background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_c0ff9 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_a4023 {
  max-width: 8001px;
  background-image: var(--progress-pattern-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: var(--progress-pattern-size);
  position: absolute;
  top: var(--progress-pattern-border-size);
  right: var(--progress-pattern-border-size);
  bottom: var(--progress-pattern-border-size);
  left: var(--progress-pattern-border-size);
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_pattern_a4023 {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_pattern_a4023 {
  background-image: var(--progress-pattern-disabled);
  left: 0;
}
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_pattern_a4023 {
  background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_f73c0 {
  max-width: 8001px;
  background-image: var(--progress-pattern-gradient);
  mix-blend-mode: var(--progress-pattern-gradient-mixBlendMode);
  position: absolute;
  top: var(--progress-pattern-border-size);
  right: 0;
  bottom: var(--progress-pattern-border-size);
  left: 0;
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_gradient_f73c0 {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_gradient_f73c0 {
  display: none;
}
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_gradient_f73c0 {
  background-image: var(--progress-pattern-gradient-finished);
}
.ProgressLineImpose_glow_f237a {
  width: var(--progress-glow-width);
  max-width: 8001px;
  height: var(--progress-glow-height);
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: var(--progress-glow-mixBlendMode);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.ProgressLineImpose_glow__left_b7ffa {
  left: var(--progress-pattern-border-size);
}
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_glow_f237a,
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_glow_f237a {
  display: none;
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_glow_f237a {
  width: var(--progress-glow-small-width);
  height: var(--progress-glow-small-height);
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_f4d46 {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_c912d {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 .ProgressBarDeltaGrow_glow_c912d {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_cfcd3 {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
}
.ProgressBarDeltaSimple_delta_dc2b6 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
  transition-property: width, transform;
}

.Task_divider_fcd93 {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
  mask-repeat: no-repeat;
}

.Task_gradient_b2a55 {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.Task_base_d318b {
  padding: 23rem 20rem 0;
}

.Task_title_aa928 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 16rem;
}

.Task_condition_db3aa {
  color: #e9e2bf;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 7rem;
}

.Task_description_c564c {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 31rem;
}

.Task_base__withProgress_cb4e4 .Task_description_c564c {
  margin-bottom: 7rem;
}

.Task_progress_b96f9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38rem;
}

.Task_progressValue_af804 {
  color: #8c8c7e;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10rem;
}

.Token_divider_c3d1f {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
  mask-repeat: no-repeat;
}

.Token_gradient_e27f9 {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.Token_base_d24b2 {
  color: #ffdd99;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  align-items: center;
  padding: 12rem 20rem 14rem;
}

.Token_imageContainer_a18ff {
  width: 36rem;
  height: 36rem;
  margin-right: 8rem;
  position: relative;
}

.Token_image_b6651 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("R.images.gui.maps.icons.battleMatters.common.token_36") no-repeat center /
    contain;
}

.Token_imageGlow_d695b {
  width: 68rem;
  height: 68rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.entryPoint.glow") no-repeat
    center / contain;
  position: absolute;
  top: -16rem;
  left: -16rem;
  animation: Token_rotate_a78cd 30s linear infinite;
}

.Token_text_c507c {
  flex: 1 1;
}

@keyframes Token_rotate_a78cd {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
