.TooltipDecorator_base_c9 {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.images.gui.maps.icons.tooltip.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_3c {
  color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
  color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
  color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
  color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
  color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
  color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
  color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
  color: #37362e;
}

.FormatTextWithColorTags_red_60 {
  color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
  color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
  color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
  color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
  color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
  color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
  color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
  color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
  color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
  color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
  color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
  color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
  color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
  color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
  color: #a29b70;
}

.Timer_base_41 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Timer_icon_26 {
  width: 38rem;
  height: 38rem;
  margin: 0 -5rem;
  background: url("R.images.gui.maps.icons.battleMatters.common.timer") no-repeat center / contain;
  position: relative;
  top: 1rem;
}

.App_divider_0d {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
}

.App_gradient_e8 {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.App_base_78 {
  width: 378rem;
}

.App_timer_ab {
  margin: 12rem 0;
}

.Header_divider_4b {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
}

.Header_gradient_13 {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.Header_base_42 {
  display: flex;
  flex-direction: column;
  height: 79rem;
  padding: 17rem 20rem 0;
  position: relative;
}

.Header_base__error_fc,
.Header_base__completed_5e {
  justify-content: flex-end;
  align-items: center;
  height: 139rem;
}

.Header_image_11 {
  height: 80rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.entryPoint.header") no-repeat
    center / contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.Header_base__completed_5e .Header_image_11,
.Header_base__error_fc .Header_image_11 {
  height: 180rem;
  background-image: url("R.images.gui.maps.icons.battleMatters.tooltips.entryPoint.header_alt");
}

.Header_title_85 {
  color: #e9e2bf;
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 3rem;
  position: relative;
}

.Header_base__error_fc .Header_title_85,
.Header_base__completed_5e .Header_title_85 {
  margin-bottom: -6rem;
}

.Header_progress_14 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
}

.Reward_base_ea {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
  width: 48rem;
  height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
  width: 80rem;
  height: 80rem;
}

.Reward_base__s128x100_c3 {
  width: 128rem;
  height: 100rem;
}

.Reward_base__s180x135_7c {
  width: 180rem;
  height: 135rem;
}

.Reward_base__s232x174_67 {
  width: 232rem;
  height: 174rem;
}

.Reward_base__s296x222_78 {
  width: 296rem;
  height: 222rem;
}

.Reward_base__s400x300_07 {
  width: 400rem;
  height: 300rem;
}

.Reward_base__s600x450_f8 {
  width: 600rem;
  height: 450rem;
}

.Reward_tooltipWrapper_b5 {
  height: 100%;
}

.Reward_icon_df {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.Reward_overlay_68 {
  background: no-repeat center / 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
  width: 96rem;
  height: 96rem;
  background-size: 100%;
  overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
  width: 128rem;
  height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
  width: 266rem;
  height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
  width: 344rem;
  height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
  width: 450rem;
  height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
  width: 618rem;
  height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
  width: 670rem;
  height: 575rem;
}

.Reward_highlight_36 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  position: absolute;
  z-index: 0;
}

.Reward_image_89 {
  position: relative;
}

.Reward_info_72 {
  margin-top: -13rem;
  color: #e9e2bf;
  font-size: 14rem;
  line-height: 18rem;
  text-align: center;
  z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
  margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
  margin-right: 2rem;
  text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
  margin-right: 0;
}

.Reward_info__credits_ef {
  color: #e9e2bf;
}

.Reward_info__gold_36 {
  color: #ffc363;
}

.Reward_info__crystal_36 {
  color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
  color: #ffdd99;
}

.Reward_timer_d3 {
  background: no-repeat center / contain;
  position: absolute;
  z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
  width: 23rem;
  height: 23rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.small.timer");
  top: -6rem;
  right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.big.timer");
  top: -14rem;
  right: -14rem;
}

.Rewards_base_26 {
  display: flex;
}

.Rewards_base__vertical_9f {
  flex-direction: column;
}

.Rewards_reward_7b {
  margin: 0 10rem;
}

.Rewards_reward__vertical_c6 {
  margin: 15rem 0;
}

.Rewards_divider_ab {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
}

.Rewards_gradient_02 {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.Rewards_base_51 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 11rem 0 30rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.entryPoint.ribbon") no-repeat
    center / cover;
}

.Rewards_title_39 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  width: 100%;
  margin-bottom: 8rem;
  padding: 0 20rem;
}

.Rewards_reward_bc {
  margin: 0 8rem;
}

.Status_divider_a3 {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
}

.Status_gradient_ab {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.Status_base_ab {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13rem 20rem 0;
}

.Status_title_5f {
  display: flex;
  align-items: center;
  margin-bottom: 12rem;
}

.Status_base__withDescription_72 .Status_title_5f {
  margin-bottom: 8rem;
}

.Status_base__completed_08 .Status_title_5f {
  color: #7ab300;
}

.Status_base__error_d4 .Status_title_5f {
  color: #ee7000;
}

.Status_titleIcon_46 {
  width: 16rem;
  height: 16rem;
  margin-right: 4rem;
  background: no-repeat center / contain;
}

.Status_base__completed_08 .Status_titleIcon_46 {
  background-image: url("R.images.gui.maps.icons.library.done");
}

.Status_base__error_d4 .Status_titleIcon_46 {
  background-image: url("R.images.gui.maps.icons.library.alertIcon");
}

.Status_description_fd {
  margin-bottom: 18rem;
  color: #8c8c7e;
  text-align: center;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
  width: 100%;
  height: 12rem;
  position: relative;
}
.ProgressBar_base__medium_62 {
  height: 6rem;
}
.ProgressBar_base__small_df {
  height: 2rem;
}
.ProgressBar_background_51 {
  width: 100%;
  max-width: 8001px;
  height: 100%;
  background-image: var(--progress-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 0;
  left: 0;
}
.ProgressBar_background__medium_6e {
  height: 6rem;
}
.ProgressBar_background__small_46 {
  height: 2rem;
}
.ProgressBar_lineWrapper_6a {
  display: flex;
  flex: 1;
}

.ProgressBarBlink_base_24 {
  width: 60rem;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}

.ProgressBarBlink_base__medium_ec {
  width: 42rem;
  height: 70rem;
}

.ProgressBarBlink_base__small_0f {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
  max-width: 8001px;
  height: 100%;
  background-color: var(--progress-line-base);
  position: relative;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
  background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
  background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
  max-width: 8001px;
  background-image: var(--progress-pattern-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-disabled);
  left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
  max-width: 8001px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
  mix-blend-mode: overlay;
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: 1rem;
  left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
  display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0.5)
  );
}
.ProgressLineImpose_glow_a5 {
  width: 60rem;
  max-width: 8001px;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
  left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
  display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
  transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

.Task_divider_b6 {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
}

.Task_gradient_7b {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.Task_base_69 {
  padding: 23rem 20rem 0;
}

.Task_title_c3 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 16rem;
}

.Task_condition_10 {
  color: #e9e2bf;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 7rem;
}

.Task_description_98 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 31rem;
}

.Task_base__withProgress_f1 .Task_description_98 {
  margin-bottom: 7rem;
}

.Task_progress_b7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38rem;
}

.Task_progressValue_42 {
  color: #8c8c7e;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10rem;
}

.Token_divider_17 {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.divider") repeat-x center /
    contain;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 38%,
    rgba(0, 0, 0, 0.3) 62%,
    transparent 100%
  );
}

.Token_gradient_96 {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(201, 201, 182, 0.07) 38%,
    rgba(201, 201, 182, 0.07) 62%,
    transparent 100%
  );
}

.Token_base_de {
  color: #ffdd99;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  align-items: center;
  padding: 12rem 20rem 14rem;
}

.Token_imageContainer_03 {
  width: 36rem;
  height: 36rem;
  margin-right: 8rem;
  position: relative;
}

.Token_image_2a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("R.images.gui.maps.icons.battleMatters.common.tokens.c_36x36.universal") no-repeat
    center / contain;
}

.Token_imageGlow_f2 {
  width: 68rem;
  height: 68rem;
  background: url("R.images.gui.maps.icons.battleMatters.tooltips.entryPoint.glow") no-repeat
    center / contain;
  position: absolute;
  top: -16rem;
  left: -16rem;
  animation: Token_rotate_00 30s linear infinite;
}

.Token_text_bf {
  flex: 1 1;
}

@keyframes Token_rotate_00 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
