.PopoverDecorator_base_d0107 {
  display: flex;
  position: absolute;
}

.PopoverDecorator_decorator_b4f33 {
  padding: 58rem;
  border-image-source: url("R.images.gui.maps.icons.popovers.popover_bg");
  border-image-slice: 90 fill;
  border-image-width: 90rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.PopoverDecorator_arrow_ef5d0 {
  background: no-repeat 0 0 / contain;
  position: absolute;
}

.PopoverDecorator_arrow__bottom_ebbbc,
.PopoverDecorator_arrow__top_bb330 {
  width: 301rem;
  height: 90rem;
  margin: 0 58rem;
  background-image: url("R.images.gui.maps.icons.popovers.popover_arrow_top");
  left: 50%;
}

.PopoverDecorator_arrow__left_d50c2,
.PopoverDecorator_arrow__right_ffef7 {
  width: 84rem;
  height: 181rem;
  margin: 58rem 0;
  background-image: url("R.images.gui.maps.icons.popovers.popover_arrow_left");
  top: 50%;
}

.PopoverDecorator_arrow__left_d50c2 {
  right: 10rem;
  transform: scaleX(-1) translateY(-90rem);
}

.PopoverDecorator_arrow__right_ffef7 {
  left: 10rem;
  transform: translateY(-90rem);
}

.PopoverDecorator_arrow__top_bb330 {
  bottom: 8rem;
  transform: scaleY(-1) translateX(-150rem);
}

.PopoverDecorator_arrow__bottom_ebbbc {
  top: 8rem;
  transform: translateX(-150rem);
}

.PopoverDecorator_closeBtn_dbed5 {
  width: 18rem;
  height: 18rem;
  background: url("R.images.gui.maps.icons.popovers.close_button_slim_up") no-repeat 0 0 / contain;
  position: absolute;
  top: 6rem;
  right: 6rem;
  z-index: 3;
  cursor: pointer;
}

.PopoverDecorator_closeBtn_dbed5:hover {
  filter: brightness(160%);
}

.PopoverDecorator_closeBtn_dbed5:active {
  background-image: url("R.images.gui.maps.icons.popovers.close_button_slim_press");
  filter: brightness(100%);
}

.PopoverDecorator_content_bc28d {
  position: relative;
  z-index: 2;
}

.App_base_cce00 {
  display: flex;
  flex-direction: column;
  width: 266rem;
  position: relative;
}

.App_header_cf579 {
  height: 65rem;
  padding: 16rem 28rem;
  position: relative;
}

.App_title_c9990 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}

.App_divider_cd0fe {
  width: 266rem;
  height: 80rem;
  background: url("R.images.gui.maps.icons.battleMatters.popovers.divider") no-repeat center /
    contain;
  position: absolute;
  top: 25rem;
  z-index: -1;
}

.App_body_a9a42 {
  padding: 17rem 13rem 17rem 28rem;
}

.App_section_c6eb1 {
  margin-bottom: 10rem;
}

.FilterSection_base_c4c0e {
  display: flex;
  flex-direction: column;
}

.FilterSection_title_d4793 {
  color: #595950;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 7rem;
}

.FilterSection_controls_cdb60 {
  display: flex;
  flex-wrap: wrap;
}

.FilterSection_toggle_f3ecf {
  margin-right: 15rem;
  margin-bottom: 14rem;
}

.ToggleButton_base_a0da0 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30rem;
  min-height: 20rem;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
}

.ToggleButton_base__button_ec23d.ToggleButton_base__active_ac70b {
  border-image: linear-gradient(90deg, #ac802c 0%, #eece63 48.95%, #efd065 48.96%, #ae842e 100%) 1 1
    1 stretch;
  border-image-width: 1rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.6),
    0 0 7rem rgba(250, 112, 0, 0.6);
  background: linear-gradient(
    180deg,
    rgba(255, 42, 0, 0.1) 0%,
    rgba(255, 42, 0, 0) 0.01%,
    rgba(255, 128, 0, 0.1) 100%
  );
}

.ToggleButton_base__button_ec23d.ToggleButton_base__active_ac70b:hover {
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.6),
    0 0 7rem rgba(250, 112, 0, 0.6),
    inset 0 0 40rem rgba(255, 255, 255, 0.1);
}

.ToggleButton_base__slot_d0746 {
  min-width: 80rem;
  min-height: 80rem;
  border: 1rem solid rgba(255, 255, 255, 0.15);
  background: rgba(0, 0, 0, 0.1);
}

.ToggleButton_base__slot_d0746:hover {
  background: radial-gradient(rgba(0, 0, 0, 0) 10%, rgba(150, 150, 150, 0.1));
}

.ToggleButton_base__slot_d0746:active,
.ToggleButton_base__slot_d0746 {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.2);
}

.ToggleButton_base__slot_d0746.ToggleButton_base__active_ac70b {
  border-image: linear-gradient(90deg, #ac802c 0%, #eece63 48.95%, #efd065 48.96%, #ae842e 100%) 1 1
    1 stretch;
  border-image-width: 1rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.6),
    0 0 7rem rgba(250, 112, 0, 0.6);
  background: linear-gradient(
    180deg,
    rgba(255, 42, 0, 0.1) 0%,
    rgba(255, 42, 0, 0) 0.01%,
    rgba(255, 128, 0, 0.1) 100%
  );
}

.ToggleButton_base__slot_d0746.ToggleButton_base__active_ac70b:active {
  background: rgba(0, 0, 0, 0.2);
}

.ToggleButton_base__disabled_c1e9d {
  cursor: initial;
  pointer-events: none;
}

.ToggleButton_texture_cb598 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("R.images.gui.maps.icons.components.button.standard_texture_file");
  background-size: 155rem 31rem;
  mix-blend-mode: soft-light;
  z-index: 1;
}

.ToggleButton_background_d5901 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  z-index: -1;
}

.ToggleButton_background__main_b350d {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_main");
}

.ToggleButton_background__primary_d0435 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary");
}

.ToggleButton_background__primaryGreen_b073d {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_green");
}

.ToggleButton_background__primaryRed_cb27b {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_red");
}

.ToggleButton_background__secondary_a1c84 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_secondary");
}

.ToggleButton_background__ghost_c391e {
  border-radius: 3rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
  background-color: rgba(0, 0, 0, 0.15);
}

.ToggleButton_content_a7a03 {
  color: #f1f0e0;
  font-size: 13rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 -1rem 2rem rgba(0, 0, 0, 0.7);
}

.ToggleButton_base__slot_d0746 .ToggleButton_content_a7a03 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 auto;
  position: relative;
  z-index: -1;
}

.ToggleButton_overlay_a0f82 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2rem;
  z-index: 3;
  pointer-events: none;
}

.ToggleButton_base__disabled_c1e9d .ToggleButton_overlay_a0f82 {
  margin: -1rem;
  background: url("R.images.gui.maps.icons.buttons.toggle_disable") repeat;
}

.ToggleButton_base__button_ec23d .ToggleButton_overlay_a0f82 {
  background-color: rgba(255, 255, 255, 0.04);
}

.ToggleButton_base__button_ec23d:hover .ToggleButton_overlay_a0f82 {
  box-shadow: inset 0 0 40rem rgba(255, 255, 255, 0.1);
}

.ToggleButton_base__button_ec23d:active .ToggleButton_overlay_a0f82 {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.2);
}

.ToggleButton_base__button_ec23d.ToggleButton_base__active_ac70b:active
  .ToggleButton_overlay_a0f82 {
  background: rgba(0, 0, 0, 0.2);
}

.ToggleButton_indicator_df92b {
  /* This Needs to be an even number otherwise translate(-50%) makes it at half a pixel position and causes sub pixel blurring */
  width: 16rem;
  height: 5rem;
  background: url("R.images.gui.maps.icons.buttons.toggle_switcher_off");
  background-size: 16rem 5rem;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, 0);
  pointer-events: none;
}

.ToggleButton_base__slot_d0746 .ToggleButton_indicator_df92b {
  width: 64rem;
  height: 32rem;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: -17rem;
}

.ToggleButton_base__slot_d0746.ToggleButton_base__active_ac70b .ToggleButton_indicator_df92b {
  background-image: url("R.images.gui.maps.icons.buttons.toggle_check");
}

.ToggleButton_base__button_ec23d.ToggleButton_base__active_ac70b .ToggleButton_indicator_df92b {
  background-image: url("R.images.gui.maps.icons.buttons.toggle_switcher_on");
}

.Toggle_base_c12d2 {
  box-shadow: 0 0 0 1rem #000;
}

.Toggle_icon_d31a4 {
  width: 26rem;
  height: 16rem;
  background: no-repeat center / contain;
}
