.TooltipDecorator_base_bf61f {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_bf8f8 .TooltipDecorator_decorator_f4de8 {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.atlases.components.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.AdvancedTooltipViewApp_base_aceef {
  display: flex;
  flex-direction: column;
  width: 416rem;
  color: #fff;
}

.AdvancedTooltipViewApp_header_f7838 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  padding: 20rem;
}

.AdvancedTooltipViewApp_movie_ad95d {
  width: 416rem;
  height: 240rem;
  margin: 5rem 0;
}

.AdvancedTooltipViewApp_description_ae089 {
  padding: 10rem 20rem 20rem;
  color: #8c8c7e;
}
