/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Index_62decda {
  display: flex;
  flex-direction: column;
  width: 308rem;
  padding: 10rem 20rem 13rem;
}

.Index_header_805f33ff {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
}

.Index_description_21b8299a,
.Index_timerBlock_6d6f592 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-tertiary-rgb), 0.9);
}

.Index_description_21b8299a {
  margin: 8rem 0 2rem;
  line-height: 20rem;
}

.Index_timerBlock_6d6f592 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 13rem;
}

.Index_divider_835afce3 {
  margin-bottom: 10rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Index_d037ad5c {
  width: 272rem;
  padding: 10rem 20rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_text_13feac86 {
  font-size: 20rem;
}
.App_text__bold_f88f7b4e {
  font-weight: 700;
}