.TextButton_base_b6 {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 12rem;
  position: relative;
  cursor: pointer;
}

.TextButton_base__right_39 {
  flex-direction: row-reverse;
}
.TextButton_icon_17 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.back");
  transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
  transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
  margin: -1rem 0;
  background-image: url("R.images.gui.maps.icons.components.text_button.close");
}
.TextButton_icon__info_33 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.info");
}
.TextButton_glow_a4 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.back_hover");
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.close_hover");
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.info_hover");
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
  opacity: 0;
}
.TextButton_caption_82 {
  position: relative;
  transition:
    color 0.16s,
    text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
  color: #ffdd99;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
  color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
  color: #ffdd99;
}
.TextButton_caption__info_23 {
  padding: 0 5rem;
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
  color: #e3ffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 12rem rgba(0, 234, 255, 1),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.6),
    0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
  color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
  margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
  margin-right: 8rem;
}
.TextButton_shine_e2 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transition: opacity 0.16s;
  pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
  left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
  right: -4rem;
  transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
  opacity: 0;
}

.Layout_base_81 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 996rem;
  height: 100%;
  position: relative;
}

.Layout_base__small_cb,
.Layout_base__medium_df {
  width: 1310rem;
}

.Layout_base__large_f6,
.Layout_base__huge_d2 {
  width: 1560rem;
}
.Layout_header_46 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10rem 0 20rem;
}
.Layout_base__compare_56 .Layout_header_46 {
  flex-direction: column;
  align-items: center;
}
.Layout_header__small_cb,
.Layout_header__tiny_4b {
  margin: 10rem 0 16rem;
}
.Layout_content_79 {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}
.Layout_base__compare_56 .Layout_content_79 {
  justify-content: center;
  margin-top: 7rem;
  padding-top: 20rem;
  padding-bottom: 10rem;
}
.Layout_main_df {
  width: 596rem;
  border-top: 1rem solid rgba(255, 255, 255, 0.1);
  border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
}
.Layout_base__compare_56 .Layout_main_df {
  width: 902rem;
}
.Layout_base__small_cb .Layout_main_df,
.Layout_base__medium_df .Layout_main_df {
  width: 902rem;
}
.Layout_base__large_f6 .Layout_main_df,
.Layout_base__huge_d2 .Layout_main_df {
  width: 1102rem;
}
.Layout_inner_3e {
  margin: 0 -16rem;
}
.Layout_base__large_f6 .Layout_inner_3e,
.Layout_base__huge_d2 .Layout_inner_3e {
  margin: 0 -20rem;
}
.Layout_footer_f4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 166rem;
  padding-top: 12rem;
}
.Layout_base__small_cb .Layout_footer_f4,
.Layout_base__medium_df .Layout_footer_f4,
.Layout_base__large_f6 .Layout_footer_f4,
.Layout_base__huge_d2 .Layout_footer_f4 {
  padding-top: 20rem;
}

.Slider_base_b2 {
  display: flex;
  align-items: center;
  width: 960rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.Slider_slider_91 {
  min-height: 670rem;
  position: relative;
}
.Slider_pageCounter_10 {
  color: #fefeec;
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  margin: 0 0 8rem;
}
.Slider_button_94 {
  width: 86rem;
  height: 120rem;
  margin-top: -40rem;
  border: none;
  background: url("R.images.gui.maps.icons.tanksetup.introduction.right_arrow") no-repeat center /
    contain;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  z-index: 1;
  transition: opacity linear 0.2s;
  cursor: pointer;
}
.Slider_button_94:hover {
  opacity: 1;
}
.Slider_button__back_42 {
  left: -126rem;
  transform: rotate(180deg);
}
.Slider_button__forward_a0 {
  right: -126rem;
}
.Slider_button__disabled_01 {
  background: url("R.images.gui.maps.icons.tanksetup.introduction.left_disabled_arrow") no-repeat
    center / contain;
  opacity: 1;
  transform: rotate(0);
  cursor: default;
}
.Slider_button__disabled_01.Slider_button__forward_a0 {
  transform: rotate(180deg);
}
.Slider_button__small_d0.Slider_button__back_42,
.Slider_button__tiny_43.Slider_button__back_42 {
  left: -40rem;
}
.Slider_button__small_d0.Slider_button__forward_a0,
.Slider_button__tiny_43.Slider_button__forward_a0 {
  right: -40rem;
}
.Slider_slide_2f {
  opacity: 0;
}
.Slider_slide__enter_8f {
  animation: Slider_fade-in_47 0.4s;
}
.Slider_slide__exit_71 {
  opacity: 1;
}
.Slider_slide__exitActive_ed {
  opacity: 0;
  position: absolute;
  top: 37rem;
  transition: opacity 0.2s linear;
}
.Slider_slide__exitDone_97 {
  opacity: 0;
}
@keyframes Slider_fade-in_47 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

.SlideContainer_title_a9 {
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 30rem;
  text-align: center;
}

.SlideContainer_title__large_29,
.SlideContainer_title__huge_68 {
  color: #f2f2f7;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}

.SlideContent_base_c4 {
  text-align: center;
}

.SlideContent_title_81 {
  color: #f2f2f7;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
}

.SlideContent_description_66 {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  max-width: 650rem;
}

.SlideContent_imageWrapper__tiny_0e {
  padding-left: 5%;
  padding-right: 5%;
}

.NewDevices_deviceName_d6 {
  white-space: nowrap;
}

.NewDevices_highlighted_1a {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}

.NewDevices_description_b2 {
  display: flex;
  justify-content: center;
  min-width: 680rem;
}

.NewDevices_image_28 {
  width: 960rem;
  max-width: 100%;
  height: 460rem;
  background: url("R.images.gui.maps.icons.tanksetup.introduction.slides.c_1") no-repeat center /
    contain;
}

.Category_base_4c {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  align-items: center;
}

.Category_name_5e {
  margin-left: -10rem;
}

.Category_image_c3 {
  width: 80rem;
  height: 80rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.NewCategory_categories_83 {
  display: flex;
  justify-content: center;
  margin-bottom: 30rem;
}

.NewCategory_image_8b {
  width: 960rem;
  max-width: 100%;
  height: 280rem;
  background: url("R.images.gui.maps.icons.tanksetup.introduction.slides.c_2") no-repeat center /
    contain;
}

.DeviceCost_row_70 {
  display: flex;
}

.DeviceCost_cell_17 {
  width: 50%;
}

.DeviceCost_subtitle_d5 {
  margin-top: 30rem;
  margin-bottom: 25rem;
}

.DeviceCost_subtitle__left_97 {
  padding-right: 30rem;
}

.DeviceCost_subtitle__right_c4 {
  padding-left: 20rem;
}

.DeviceCost_descriptionContainer_2d {
  max-width: 100%;
}

.DeviceCost_description_96 {
  max-width: 450rem;
}

.DeviceCost_description__left_8a {
  margin-right: 20rem;
}

.DeviceCost_description__right_2b {
  margin-left: 30rem;
}

.DeviceCost_image_f0 {
  width: 480rem;
  max-width: 100%;
  height: 320rem;
}

.DeviceCost_image__left_85 {
  background: url("R.images.gui.maps.icons.tanksetup.introduction.slides.c_3_left") no-repeat
    center / contain;
}

.DeviceCost_image__right_a5 {
  background: url("R.images.gui.maps.icons.tanksetup.introduction.slides.c_3_right") no-repeat
    center / contain;
}

.CButton_base_40 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
  background-size: 100% 100%;
}

.CButton_base__main_42 {
  background-image: url("R.images.gui.maps.icons.components.button.back_main");
}

.CButton_base__primary_7f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary");
}

.CButton_base__primaryGreen_6f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_green");
}

.CButton_base__primaryRed_ec {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_red");
}

.CButton_base__secondary_50 {
  background-image: url("R.images.gui.maps.icons.components.button.back_secondary");
}

.CButton_base__ghost_ed {
  border-radius: 3rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
  background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
  min-height: 17rem;
  padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
  padding: 0 20rem;
}

.CButton_base__small_df {
  min-height: 18rem;
}

.CButton_base__medium_74 {
  min-height: 32rem;
}

.CButton_base__disabled_d9 {
  cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_main");
}
.CButton_base__primary_7f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary");
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_green");
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_red");
}
.CButton_base__secondary_50 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_secondary");
}
.CButton_texture_fe {
  background: url("R.images.gui.maps.icons.components.button.standard_texture_file");
  background-size: 155rem 31rem;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_state_11 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
  border-radius: 2rem;
  box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
  transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
  background-image: linear-gradient(
    180deg,
    rgba(252, 248, 235, 0.25) 0%,
    rgba(252, 248, 235, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
  opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
  box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
  background-color: rgba(8, 6, 0, 0.18);
  background-image: none;
}
.CButton_stateHighlightActive_35 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
  opacity: 1;
}
.CButton_stateDisabled_54 {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("R.images.gui.maps.icons.components.button.texture_disable");
  background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
  opacity: 1;
}
.CButton_content_cc {
  display: flex;
  align-items: center;
  color: #f2f2e6;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 -1rem 1rem #000;
  letter-spacing: 0.03em;
  transform: translateY(-1rem);
}
.CButton_content_cc[lang="ja"],
.CButton_content_cc[lang="ko"],
.CButton_content_cc[lang="zh_tw"],
.CButton_content_cc[lang="zh_sg"],
.CButton_content_cc[lang="zh_cn"],
.CButton_content_cc[lang="th"] {
  font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
  color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
  font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
  font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
  font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
  opacity: 0.6;
}

.DeviceSlots_image_e2 {
  width: 960rem;
  max-width: 100%;
  height: 340rem;
  background: url("R.images.gui.maps.icons.tanksetup.introduction.slides.c_4") no-repeat center /
    contain;
}

.DeviceSlots_buttonContainer_43 {
  display: flex;
  justify-content: center;
  margin-top: 90rem;
}

.DeviceSlots_button_a2 {
  width: 160rem;
}

.IntroScreen_base_c0 {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url("R.images.gui.maps.icons.tanksetup.introduction.tantSetupInfopage") no-repeat
    center / cover;
  animation: IntroScreen_window-in_f1 0.4s both;
}

.IntroScreen_close_a4 {
  position: absolute;
  top: 51rem;
  right: 20rem;
  z-index: 1;
}

@keyframes IntroScreen_window-in_f1 {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
