/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#App_root_0,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_8652b774 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288rem;
  height: 288rem;
  padding-top: 14rem;
  background: url(R.images.gui.maps.icons.skillTree.notifications.perk_available.bg_nc) center/cover
    no-repeat;
}
.App_base__popUp_a232d9c9 {
  width: 288rem;
  height: 300rem;
  padding-top: 20rem;
  border: 1rem solid #575449;
  border-radius: 6rem;
  background:
    url(R.images.gui.maps.icons.skillTree.notifications.perk_available.bg) center/cover no-repeat,
    linear-gradient(180deg, #2c2a26 0%, #11110d 100%);
}

.App_close_1c04e534 {
  width: 12rem;
  height: 12rem;
  background: url(R.images.gui.maps.icons.skillTree.notifications.perk_available.close) center/cover
    no-repeat;
  filter: brightness(1);
  position: absolute;
  top: 13rem;
  right: 13rem;
  transition: filter ease-in-out 0.2s;
  cursor: pointer;
}
.App_close_1c04e534:hover {
  filter: brightness(1.3);
}

.App_text_61805f6f {
  width: 210rem;
  color: var(--color-general-primary);
  font-size: 18rem;
  font-weight: 500;
  line-height: 1.1em;
  text-align: center;
}

.App_icon_5880875b {
  width: 232rem;
  height: 174rem;
}

.App_button_aa1b2d3f {
  height: 32rem;
  margin-top: -18rem;
}
.App_base__popUp_a232d9c9 .App_button_aa1b2d3f {
  margin-top: 0;
}

.App_buttonText_6f445e5d {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 1rem;
  color: var(--color-general-primary);
  font-weight: 500;
  opacity: 0.9;
}
