/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.BackgroundEffects_backgroundEffect_7bb0c1b5 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.BackgroundEffects_47bdcaf9 {
  position: relative;
}

.BackgroundEffects_backgroundEffect_7bb0c1b5 {
  width: 768rem;
  height: 192rem;
}
.mediaLargeWidth .BackgroundEffects_backgroundEffect_7bb0c1b5 {
  width: 1024rem;
  height: 256rem;
}
.BackgroundEffects_backgroundEffect__rays_4ebbd8d0 {
  opacity: 0.5;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ButtonEffects_merged_86ab891d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ButtonEffects_merged_86ab891d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ButtonEffects_bdb5411e {
  position: relative;
}

.ButtonEffects_merged_86ab891d {
  width: 200rem;
  height: 97rem;
  /* translateY(-0.5rem) is used to fix subpixel misalignment caused by centering an element with an odd height */
  transform: translate(-50%, -50%) translateY(-0.5rem);
}
.mediaLargeWidth .ButtonEffects_merged_86ab891d {
  width: 240rem;
  height: 98rem;
  transform: translate(-50%, -50%);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ButtonText_textGlow_89301672 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ButtonText_textGlow_89301672 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ButtonText_841a3b01 {
  font-size: 23rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  position: relative;
}
.mediaLargeWidth .ButtonText_841a3b01 {
  font-size: 30rem;
}

.ButtonText_textGlow_89301672 {
  width: 100%;
  color: #fff;
  white-space: nowrap;
  filter: blur(4px);
  opacity: 0;
  mix-blend-mode: additive;
  coh-font-fit-mode: shrink;
  transition: opacity 0.1s;
}
.ButtonText_base__ready_5e741ba3 .ButtonText_textGlow_89301672 {
  color: #f00;
  filter: blur(14px);
  opacity: 0.2;
  animation: ButtonText_breath_5e741ba3 2s infinite;
}

.ButtonText_textWrapper_535d5dc6 {
  width: 100%;
  opacity: 0.9;
  transition: opacity 0.1s;
}
.ButtonText_base__disabled_5e741ba3 .ButtonText_textWrapper_535d5dc6 {
  opacity: 0.7;
}

.ButtonText_text_b56e6fa7 {
  white-space: nowrap;
  coh-font-fit-mode: shrink;
}
.ButtonText_base__active_5e741ba3 .ButtonText_text_b56e6fa7 {
  color: #ffe8e8;
  text-shadow:
    0 0 30px #f00,
    0 0 7px rgba(255, 112, 60, 0.6);
}
.ButtonText_base__ready_5e741ba3 .ButtonText_text_b56e6fa7,
.ButtonText_base__notReady_5e741ba3 .ButtonText_text_b56e6fa7 {
  color: #ffbeb3;
  text-shadow:
    0 0 30px #d10000,
    0 0 7px rgba(174, 6, 0, 0.6);
}
.ButtonText_base__disabled_5e741ba3 .ButtonText_text_b56e6fa7 {
  color: #929292;
}

.ButtonText_textOverlay_1bcba7de {
  white-space: nowrap;
  coh-font-fit-mode: shrink;
  mask-repeat: no-repeat;
}
.ButtonText_base__active_5e741ba3 .ButtonText_textOverlay_1bcba7de {
  color: #fff5e1;
  mask-image: linear-gradient(to top, #ffe8e8, #fff5e1);
}
.ButtonText_base__ready_5e741ba3 .ButtonText_textOverlay_1bcba7de,
.ButtonText_base__notReady_5e741ba3 .ButtonText_textOverlay_1bcba7de {
  color: #ffe3c8;
  mask-image: linear-gradient(to top, #ffbeb3, #ffe3c8);
}
.ButtonText_base__disabled_5e741ba3 .ButtonText_textOverlay_1bcba7de {
  color: #ababab;
  mask-image: linear-gradient(to top, #929292, #ababab);
}

@keyframes ButtonText_breath_5e741ba3 {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.9;
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ButtonWrapper_background_5f66b44f {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ButtonWrapper_border_4e5ba0c2 {
  width: 120rem;
  height: 43rem;
}
.mediaLargeWidth .ButtonWrapper_border_4e5ba0c2 {
  width: 166rem;
  height: 54rem;
}

.ButtonWrapper_button_ac00a3ae {
  width: 124rem;
  height: 47rem;
  padding: 0;
  position: relative;
  z-index: 0;
}
.mediaLargeWidth .ButtonWrapper_button_ac00a3ae {
  width: 170rem;
  height: 58rem;
}
.ButtonWrapper_button__disabled_5b8e9d9 {
  pointer-events: none;
}

.ButtonWrapper_background_5f66b44f {
  background: url(R.images.gui.maps.icons.header_footer.battle_button.button_default_small)
    center/contain no-repeat;
}
.mediaLargeWidth .ButtonWrapper_background_5f66b44f {
  background-image: url(R.images.gui.maps.icons.header_footer.battle_button.button_default_large);
}
.ButtonWrapper_background__disabled_4ab5c051 {
  background-image: url(R.images.gui.maps.icons.header_footer.battle_button.button_disabled_small);
}
.mediaLargeWidth .ButtonWrapper_background__disabled_4ab5c051 {
  background-image: url(R.images.gui.maps.icons.header_footer.battle_button.button_disabled_large);
}
.ButtonWrapper_background__notReady_d27296f9,
.ButtonWrapper_background__ready_2853577d {
  background-image: url(R.images.gui.maps.icons.header_footer.battle_button.button_notReady_small);
}
.mediaLargeWidth .ButtonWrapper_background__notReady_d27296f9,
.mediaLargeWidth .ButtonWrapper_background__ready_2853577d {
  background-image: url(R.images.gui.maps.icons.header_footer.battle_button.button_notReady_large);
}
.ButtonWrapper_background__appear_22cf4f98 {
  animation: ButtonWrapper_fadeIn_d27296f9 0.1s linear forwards;
}
.ButtonWrapper_background__dissapear_6a20b5f2 {
  animation: ButtonWrapper_flicker_d27296f9 0.6s linear forwards;
}

.ButtonWrapper_content_a523ce6e {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.ButtonWrapper_border_4e5ba0c2 {
  background: url(R.images.gui.maps.icons.header_footer.battle_button.border_small) center/contain
    no-repeat;
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.mediaLargeWidth .ButtonWrapper_border_4e5ba0c2 {
  background-image: url(R.images.gui.maps.icons.header_footer.battle_button.border_large);
}
.ButtonWrapper_button__ready_d27296f9 .ButtonWrapper_border_4e5ba0c2,
.ButtonWrapper_button__notReady_d27296f9 .ButtonWrapper_border_4e5ba0c2,
.ButtonWrapper_button__disabled_5b8e9d9 .ButtonWrapper_border_4e5ba0c2 {
  opacity: 0.6;
}

.ButtonWrapper_overlay_ccea80e8 {
  opacity: 0;
  position: absolute;
  top: 3rem;
  right: 3rem;
  bottom: 3rem;
  left: 3rem;
  z-index: 1;
  transition: opacity 0.1s;
  pointer-events: none;
}
.ButtonWrapper_button__disabled_5b8e9d9 .ButtonWrapper_overlay_ccea80e8 {
  opacity: 0.12;
  transition-delay: 0.5s;
}

@keyframes ButtonWrapper_flicker_d27296f9 {
  0% {
    opacity: 1;
  }
  11% {
    opacity: 0.3;
  }
  22% {
    opacity: 1;
  }
  33% {
    opacity: 0.5;
  }
  44% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ButtonWrapper_fadeIn_d27296f9 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.BattleButton_hoverOverlay_5196983d,
.BattleButton_buttonEffects_53b5d8e2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.BattleButton_reflector_47e1d14b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BattleButton_reflector_47e1d14b {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BattleButton_backgroundEffects_815ae971 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.BattleButton_reflector_47e1d14b {
  width: 120rem;
  height: 43rem;
}
.mediaLargeWidth .BattleButton_reflector_47e1d14b {
  width: 166rem;
  height: 54rem;
}

.BattleButton_40c20cf8 {
  position: relative;
  animation: BattleButton_fadeIn_ea4cde73 0.1s forwards;
}

.BattleButton_backgroundEffects_815ae971 {
  pointer-events: none;
}

.BattleButton_reflector_47e1d14b {
  background: url(R.images.gui.maps.icons.header_footer.battle_button.reflector_small)
    center/contain no-repeat;
  transition: opacity 0.1s;
}
.mediaLargeWidth .BattleButton_reflector_47e1d14b {
  background-image: url(R.images.gui.maps.icons.header_footer.battle_button.reflector_large);
}
.BattleButton_reflector__ready_ea4cde73,
.BattleButton_reflector__notReady_a8ef3bf5 {
  opacity: 0.6;
}

.BattleButton_hoverOverlay_5196983d {
  border-radius: 2rem;
  background-color: #ff7a64;
  opacity: 0;
  mix-blend-mode: screen;
  transition: opacity 0.2s;
}
.BattleButton_hoverOverlay_5196983d:hover {
  opacity: 0.2;
}

.BattleButton_buttonEffects_53b5d8e2 {
  pointer-events: none;
}

.BattleButton_desaturation_fb74a8a1 {
  border-radius: 2rem;
  background-color: #fff;
  opacity: 0.9;
  mix-blend-mode: color;
  position: absolute;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  left: 2rem;
  transition: opacity 0.1s 0.5s;
  pointer-events: none;
}
.BattleButton_desaturation__hidden_6167cc9c {
  opacity: 0;
  transition-delay: 0s;
}

.BattleButton_buttonText_8108fe79 {
  width: 105rem;
  pointer-events: none;
}
.mediaLargeWidth .BattleButton_buttonText_8108fe79 {
  width: 144rem;
}

@keyframes BattleButton_fadeIn_ea4cde73 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.InfoButton_border_f3a2eae1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.InfoButton_74c97479 {
  padding: 0;
  overflow: hidden;
}
.InfoButton_base__smallSize_c40e1b5c {
  height: 24rem;
}
.InfoButton_base__mediumSize_f347ecd3 {
  height: 32rem;
}

.InfoButton_content_1cc251f9 {
  flex: 1;
  height: 100%;
}
.InfoButton_base__smallSize_c40e1b5c .InfoButton_content_1cc251f9 {
  padding-left: 12rem;
  padding-right: 12rem;
}
.InfoButton_base__smallSize_c40e1b5c .InfoButton_content__label_a89c101d {
  padding-left: 9rem;
  padding-right: 9rem;
}
.InfoButton_base__mediumSize_f347ecd3 .InfoButton_content_1cc251f9 {
  padding-left: 18rem;
  padding-right: 18rem;
}

.InfoButton_border_f3a2eae1 {
  border-radius: 2rem;
  border-image: radial-gradient(
      ellipse 50% 60% at 50% 50%,
      rgba(170, 238, 255, 0.55) 50%,
      transparent 100%
    )
    2/1rem 0 1rem 0 stretch;
}

.InfoButton_label_94741ae8 {
  color: #a4ecf1;
  font-weight: normal;
  letter-spacing: 0.03em;
  filter: drop-shadow(0rem 0rem 18rem 0rem rgba(31, 68, 255, 0.23))
    drop-shadow(0rem 0rem 8rem 0rem rgba(0, 234, 255, 0.42))
    drop-shadow(0rem 1rem 0rem 0rem rgba(13, 14, 16, 0.8));
}
.InfoButton_base__smallSize_c40e1b5c .InfoButton_label_94741ae8 {
  padding-bottom: 1rem;
  font-size: 18rem;
}
.InfoButton_base__mediumSize_f347ecd3 .InfoButton_label_94741ae8 {
  padding-bottom: 1rem;
  font-size: 20rem;
}
.InfoButton_icon_c58f1a93 + .InfoButton_label_94741ae8 {
  margin-left: 4rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.NavigationBar_425ae997 {
  --between-elements-offset: 16rem;
  display: flex;
  align-items: center;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3;
}
.mediaMediumWidth .NavigationBar_425ae997 {
  --between-elements-offset: 20rem;
}
.mediaLargeWidth .NavigationBar_425ae997 {
  --between-elements-offset: 22rem;
  padding-bottom: 1rem;
  font-size: 22rem;
}
.mediaExtraLargeWidth .NavigationBar_425ae997 {
  font-size: 26rem;
}

.NavigationBar_button_c5ece62 {
  display: flex;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
}
.NavigationBar_button__backNavigation_7dc54008 {
  flex: 0 1;
}

.NavigationBar_label_4840a20f {
  margin-left: 10rem;
  color: rgba(235, 234, 231, 0.6);
  font-weight: 600;
  text-shadow:
    0 2rem 30rem rgba(23, 23, 23, 0.4),
    0 2rem rgba(0, 0, 0, 0.3);
  letter-spacing: 0.02em;
  transition: color 0.2s;
}
.NavigationBar_button__backNavigation_7dc54008 .NavigationBar_label_4840a20f {
  margin-left: 3rem;
}
.NavigationBar_button_c5ece62:hover .NavigationBar_label_4840a20f {
  color: rgba(235, 234, 231, 0.7);
}
.NavigationBar_button_c5ece62:active .NavigationBar_label_4840a20f {
  color: rgba(235, 234, 231, 0.5);
}

.NavigationBar_icon_95c9bdbb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 22rem;
  position: relative;
}
.mediaLargeWidth .NavigationBar_icon_95c9bdbb {
  width: 24rem;
  height: 24rem;
}
.mediaExtraLargeWidth .NavigationBar_icon_95c9bdbb {
  width: 28rem;
  height: 24rem;
  padding-bottom: 1rem;
}
.media-upscale .NavigationBar_icon_95c9bdbb {
  width: 24rem;
  height: 24rem;
  padding-bottom: 2rem;
}
.NavigationBar_button__backNavigation_7dc54008 .NavigationBar_icon_95c9bdbb {
  margin-left: -8rem;
}
.mediaMediumWidth .NavigationBar_button__backNavigation_7dc54008 .NavigationBar_icon_95c9bdbb {
  margin-left: -6rem;
}

.NavigationBar_iconImage_e695cd8e {
  width: 86rem;
  height: 86rem;
  background: center/contain no-repeat;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s;
  pointer-events: none;
}
.NavigationBar_iconImage__default_dfd5b7a7 {
  opacity: 1;
}
.NavigationBar_button_c5ece62:hover .NavigationBar_iconImage__default_dfd5b7a7,
.NavigationBar_button_c5ece62:active .NavigationBar_iconImage__default_dfd5b7a7 {
  opacity: 0;
}
.NavigationBar_button_c5ece62:hover .NavigationBar_iconImage__hover_c132ba6f {
  opacity: 1;
}
.NavigationBar_button_c5ece62:active .NavigationBar_iconImage__hover_c132ba6f {
  opacity: 0;
}
.NavigationBar_button_c5ece62:active .NavigationBar_iconImage__active_fbf5db52 {
  opacity: 1;
}
.NavigationBar_button__garageNavigation_69a10af0 .NavigationBar_iconImage__default_dfd5b7a7 {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_small_default);
}
.mediaLargeWidth
  .NavigationBar_button__garageNavigation_69a10af0
  .NavigationBar_iconImage__default_dfd5b7a7 {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_medium_default);
}
.mediaExtraLargeWidth
  .NavigationBar_button__garageNavigation_69a10af0
  .NavigationBar_iconImage__default_dfd5b7a7 {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_large_default);
}
.media-upscale
  .NavigationBar_button__garageNavigation_69a10af0
  .NavigationBar_iconImage__default_dfd5b7a7 {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_upscale_default);
}
.NavigationBar_button__garageNavigation_69a10af0 .NavigationBar_iconImage__hover_c132ba6f {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_small_hover);
}
.mediaLargeWidth
  .NavigationBar_button__garageNavigation_69a10af0
  .NavigationBar_iconImage__hover_c132ba6f {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_medium_hover);
}
.mediaExtraLargeWidth
  .NavigationBar_button__garageNavigation_69a10af0
  .NavigationBar_iconImage__hover_c132ba6f {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_large_hover);
}
.media-upscale
  .NavigationBar_button__garageNavigation_69a10af0
  .NavigationBar_iconImage__hover_c132ba6f {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_upscale_hover);
}
.NavigationBar_button__garageNavigation_69a10af0 .NavigationBar_iconImage__active_fbf5db52 {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_small_active);
}
.mediaLargeWidth
  .NavigationBar_button__garageNavigation_69a10af0
  .NavigationBar_iconImage__active_fbf5db52 {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_medium_active);
}
.mediaExtraLargeWidth
  .NavigationBar_button__garageNavigation_69a10af0
  .NavigationBar_iconImage__active_fbf5db52 {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_large_active);
}
.media-upscale
  .NavigationBar_button__garageNavigation_69a10af0
  .NavigationBar_iconImage__active_fbf5db52 {
  background-image: url(R.images.gui.maps.icons.header_footer.garageNavigation_upscale_active);
}
.NavigationBar_button__backNavigation_7dc54008 .NavigationBar_iconImage__default_dfd5b7a7 {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_small_default);
}
.mediaLargeWidth
  .NavigationBar_button__backNavigation_7dc54008
  .NavigationBar_iconImage__default_dfd5b7a7 {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_medium_default);
}
.mediaExtraLargeWidth
  .NavigationBar_button__backNavigation_7dc54008
  .NavigationBar_iconImage__default_dfd5b7a7 {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_large_default);
}
.media-upscale
  .NavigationBar_button__backNavigation_7dc54008
  .NavigationBar_iconImage__default_dfd5b7a7 {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_upscale_default);
}
.NavigationBar_button__backNavigation_7dc54008 .NavigationBar_iconImage__hover_c132ba6f {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_small_hover);
}
.mediaLargeWidth
  .NavigationBar_button__backNavigation_7dc54008
  .NavigationBar_iconImage__hover_c132ba6f {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_medium_hover);
}
.mediaExtraLargeWidth
  .NavigationBar_button__backNavigation_7dc54008
  .NavigationBar_iconImage__hover_c132ba6f {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_large_hover);
}
.media-upscale
  .NavigationBar_button__backNavigation_7dc54008
  .NavigationBar_iconImage__hover_c132ba6f {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_upscale_hover);
}
.NavigationBar_button__backNavigation_7dc54008 .NavigationBar_iconImage__active_fbf5db52 {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_small_active);
}
.mediaLargeWidth
  .NavigationBar_button__backNavigation_7dc54008
  .NavigationBar_iconImage__active_fbf5db52 {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_medium_active);
}
.mediaExtraLargeWidth
  .NavigationBar_button__backNavigation_7dc54008
  .NavigationBar_iconImage__active_fbf5db52 {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_large_active);
}
.media-upscale
  .NavigationBar_button__backNavigation_7dc54008
  .NavigationBar_iconImage__active_fbf5db52 {
  background-image: url(R.images.gui.maps.icons.header_footer.backNavigation_upscale_active);
}

.NavigationBar_divider_7592acb0 {
  height: 24rem;
}
.mediaLargeWidth .NavigationBar_divider_7592acb0 {
  height: 28rem;
}
.mediaExtraLargeWidth .NavigationBar_divider_7592acb0 {
  height: 32rem;
}

.NavigationBar_button_c5ece62,
.NavigationBar_pageTitle_5847696c {
  padding-right: var(--between-elements-offset);
}
.NavigationBar_divider_7592acb0 + .NavigationBar_button_c5ece62,
.NavigationBar_divider_7592acb0 + .NavigationBar_pageTitle_5847696c {
  padding-left: var(--between-elements-offset);
}

.NavigationBar_pageTitle_5847696c,
.NavigationBar_hiddenLabel_1fa48c6e {
  color: rgba(235, 234, 231, 0.3);
  font-weight: 500;
  text-shadow:
    0 2rem 30rem rgba(23, 23, 23, 0.3),
    0 2rem rgba(0, 0, 0, 0.2);
  letter-spacing: 0.02em;
  opacity: 0;
}
.NavigationBar_base__ready_69a10af0 .NavigationBar_pageTitle_5847696c,
.NavigationBar_base__ready_69a10af0 .NavigationBar_hiddenLabel_1fa48c6e {
  opacity: 1;
}

.NavigationBar_pageTitle_5847696c {
  flex: 1 1;
  overflow-wrap: normal;
}

.NavigationBar_hiddenLabel_1fa48c6e {
  flex: 0 1;
  overflow-wrap: normal;
}
.NavigationBar_base__ready_69a10af0 .NavigationBar_hiddenLabel_1fa48c6e {
  width: 0;
}
.NavigationBar_base__ready_69a10af0.NavigationBar_base__animating_69a10af0
  .NavigationBar_hiddenLabel_1fa48c6e {
  transition: width 0.2s ease-out;
}
.NavigationBar_base__ready_69a10af0
  .NavigationBar_button_c5ece62:hover
  .NavigationBar_hiddenLabel_1fa48c6e {
  width: var(--width);
}

.NavigationBar_hiddenLabelInner_8490d7c {
  padding-left: 0.3em;
}

.NavigationBar_infoButton_8aaee3f9 {
  margin-right: var(--between-elements-offset);
  padding-bottom: 1rem;
  opacity: 0;
}
.mediaLargeWidth .NavigationBar_infoButton_8aaee3f9 {
  padding-bottom: 0;
}
.NavigationBar_infoButton__last_efa963fb {
  margin-right: 0;
}
.NavigationBar_base__ready_69a10af0 .NavigationBar_infoButton_8aaee3f9 {
  opacity: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PlayersProfile_b15b3eb3 {
  display: flex;
  align-items: center;
  flex: 0 1;
}

.PlayersProfile_playerInfo_89f70778 {
  flex: 0 1;
  margin-top: 2rem;
  cursor: pointer;
}

.PlayersProfile_playerInfoWrapper_2ed6c121 {
  flex: 0 1;
}

.PlayersProfile_badgeWrapper_910cac78 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48rem;
  height: 48rem;
  margin-right: 5rem;
}
.mediaLargeWidth .PlayersProfile_badgeWrapper_910cac78 {
  margin-left: -6rem;
}

.PlayersProfile_suffixBadgeWrapper_a4096e4e {
  width: 48rem;
  height: 48rem;
  position: relative;
}

.PlayersProfile_badge_4050c3e9 {
  margin-right: 0;
}

.PlayersProfile_text_99417432 {
  font-size: 18rem;
  font-weight: 500;
  line-height: 1.3em;
  text-shadow:
    0 2rem 30rem rgba(23, 23, 23, 0.25),
    0 2rem rgba(0, 0, 0, 0.25);
}
.mediaLargeWidth .PlayersProfile_text_99417432 {
  font-size: 22rem;
}
.mediaExtraLargeWidth .PlayersProfile_text_99417432 {
  font-size: 26rem;
}
.PlayersProfile_text__name_2ed6c121 {
  flex: 0 1;
}
.PlayersProfile_text__teamKiller_8bf5e412 {
  color: #09e2ff;
}
.PlayersProfile_base__alertVisible_9b40d452 .PlayersProfile_text_99417432 {
  text-shadow:
    0 1rem 15rem rgba(23, 23, 23, 0.25),
    0 1rem 0 rgba(0, 0, 0, 0.25),
    0 0 9rem rgba(240, 66, 23, 0.98);
}

.PlayersProfile_anonymizerIcon_8632eb46,
.PlayersProfile_alertIcon_b8de5d15 {
  width: 20rem;
  height: 20rem;
  position: relative;
}
.PlayersProfile_anonymizerIcon_8632eb46::before,
.PlayersProfile_alertIcon_b8de5d15::before {
  background: center/contain no-repeat;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PlayersProfile_anonymizerIcon_8632eb46 {
  margin-left: 4rem;
}
.mediaExtraLargeWidth .PlayersProfile_anonymizerIcon_8632eb46 {
  margin-left: 8rem;
}
.PlayersProfile_anonymizerIcon_8632eb46::before {
  width: 24rem;
  height: 24rem;
  background-image: url(R.images.gui.maps.icons.header_footer.players_profile.anonimizer_icon_small);
}
.mediaExtraLargeWidth .PlayersProfile_anonymizerIcon_8632eb46::before {
  width: 32rem;
  height: 32rem;
  background-image: url(R.images.gui.maps.icons.header_footer.players_profile.anonimizer_icon_large);
}

.PlayersProfile_alertIcon_b8de5d15 {
  margin-left: 4rem;
}
.mediaExtraLargeWidth .PlayersProfile_alertIcon_b8de5d15 {
  margin-left: 12rem;
}
.PlayersProfile_alertIcon_b8de5d15::before {
  width: 28rem;
  height: 28rem;
  background-image: url(R.images.gui.maps.icons.header_footer.players_profile.alert_icon_small);
}
.mediaExtraLargeWidth .PlayersProfile_alertIcon_b8de5d15::before {
  width: 48rem;
  height: 48rem;
  background-image: url(R.images.gui.maps.icons.header_footer.players_profile.alert_icon_large);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Premiums_e458a55f {
  display: flex;
  align-items: center;
}
.Premiums_base__clickable_dd8e69b8 {
  cursor: pointer;
}

.Premiums_subscription_5299180c {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Premiums_subscription__unavailable_86efdd6c {
  filter: grayscale(100%);
  opacity: 0.8;
  cursor: default;
}

.Premiums_text_82711911 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  padding-left: 6rem;
  color: #edcb9e;
  font-weight: 500;
  text-shadow: var(--hangar-highlight-shadow);
  opacity: 0.95;
}
.mediaLargeWidth .Premiums_text_82711911 {
  font-size: 22rem;
}
.mediaExtraLargeWidth .Premiums_text_82711911 {
  font-size: 26rem;
}
.Premiums_text__premShop_a067f33c {
  display: none;
}
.mediaMediumWidth .Premiums_text__premShop_a067f33c {
  display: block;
}

.Premiums_divider_268fb4cd {
  height: 24rem;
  margin: 0 4rem;
}
.mediaMediumWidth .Premiums_divider_268fb4cd {
  height: 30rem;
}
.mediaLargeWidth .Premiums_divider_268fb4cd {
  margin: 0 12rem;
}

.Premiums_wotPlusImg_195105fb {
  width: 32rem;
  height: 32rem;
  background: no-repeat center/100% auto url(R.images.gui.maps.icons.subscription.wot_plus_32x32);
}
.mediaLargeWidth .Premiums_wotPlusImg_195105fb {
  width: 48rem;
  height: 48rem;
  background-image: url(R.images.gui.maps.icons.subscription.wot_plus_48x48);
}
.media-upscale .Premiums_wotPlusImg_195105fb {
  background-image: url(R.images.gui.maps.icons.subscription.wot_plus_96x96);
}
.Premiums_wotPlusImg__disabled_8e8e6ceb {
  background-image: url(R.images.gui.maps.icons.subscription.wot_plus_32x32_disabled);
}
.mediaLargeWidth .Premiums_wotPlusImg__disabled_8e8e6ceb {
  background-image: url(R.images.gui.maps.icons.subscription.wot_plus_48x48_disabled);
}
.media-upscale .Premiums_wotPlusImg__disabled_8e8e6ceb {
  background-image: url(R.images.gui.maps.icons.subscription.wot_plus_96x96_disabled);
}
.Premiums_wotPlusImg__pro_798bc63 {
  background-image: url(R.images.gui.maps.icons.subscription.wot_plus_pro_32x32);
}
.mediaLargeWidth .Premiums_wotPlusImg__pro_798bc63 {
  background-image: url(R.images.gui.maps.icons.subscription.wot_plus_pro_48x48);
}
.media-upscale .Premiums_wotPlusImg__pro_798bc63 {
  background-image: url(R.images.gui.maps.icons.subscription.wot_plus_pro_96x96);
}

.Premiums_alertIcon_da4f2f9b {
  width: 29rem;
  height: 27rem;
}

.Premiums_premiumImg_d5d73467 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center/100% auto url(R.images.gui.maps.icons.subscription.premium_32x32);
}
.mediaLargeWidth .Premiums_premiumImg_d5d73467 {
  width: 48rem;
  height: 48rem;
  background-image: url(R.images.gui.maps.icons.subscription.premium_48x48);
}
.media-upscale .Premiums_premiumImg_d5d73467 {
  background-image: url(R.images.gui.maps.icons.subscription.premium_96x96);
}
.Premiums_premiumImg__disabled_12a94c05 {
  background-image: url(R.images.gui.maps.icons.subscription.premium_32x32_disabled);
}
.mediaLargeWidth .Premiums_premiumImg__disabled_12a94c05 {
  background-image: url(R.images.gui.maps.icons.subscription.premium_48x48_disabled);
}
.media-upscale .Premiums_premiumImg__disabled_12a94c05 {
  background-image: url(R.images.gui.maps.icons.subscription.premium_96x96_disabled);
}

.Premiums_premiumShopImg_99a91f62 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center/100% auto url(R.images.gui.maps.icons.lobby.premshop_32x32);
}
.mediaLargeWidth .Premiums_premiumShopImg_99a91f62 {
  width: 48rem;
  height: 48rem;
  background-image: url(R.images.gui.maps.icons.lobby.premshop_48x48);
}
.media-upscale .Premiums_premiumShopImg_99a91f62 {
  background-image: url(R.images.gui.maps.icons.lobby.premshop_96x96);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.UserProfile_2146e52 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.UserProfile_divider_4a395a41 {
  height: 24rem;
  margin: 0 4rem;
}
.mediaMediumWidth .UserProfile_divider_4a395a41 {
  height: 30rem;
}
.mediaLargeWidth .UserProfile_divider_4a395a41 {
  margin: 0 12rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Activate_d05a6105 {
  margin-right: 2rem;
  position: relative;
  z-index: 0;
}
.mediaLargeWidth .Activate_d05a6105 {
  margin-right: 3rem;
}
.Activate_base__disabled_77f76d6c {
  pointer-events: none;
}

.Activate_wrapper_ea72f87a {
  display: flex;
  align-items: center;
  position: relative;
}

.Activate_iconWrapper_b884eeb8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24rem;
  height: 24rem;
  margin-right: 2rem;
}
.mediaLargeWidth .Activate_iconWrapper_b884eeb8 {
  width: 36rem;
  height: 36rem;
  margin-right: 4rem;
}

.Activate_icon_bfced9a9 {
  width: 46rem;
  height: 46rem;
  margin-top: 2rem;
  background: url(R.images.gui.maps.icons.personal_reserves.common.activate_small) no-repeat
    center/contain;
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.mediaLargeWidth .Activate_icon_bfced9a9 {
  width: 54rem;
  height: 54rem;
  margin-top: 1rem;
  background-image: url(R.images.gui.maps.icons.personal_reserves.common.activate_large);
}
.media-upscale .Activate_icon_bfced9a9 {
  background-image: url(R.images.gui.maps.icons.personal_reserves.common.activate_upscale);
}
.Activate_icon__glow_6978c825 {
  margin-top: -1rem;
  background-image: url(R.images.gui.maps.icons.personal_reserves.common.activate_small_glow);
}
.mediaLargeWidth .Activate_icon__glow_6978c825 {
  background-image: url(R.images.gui.maps.icons.personal_reserves.common.activate_large_glow);
}
.media-upscale .Activate_icon__glow_6978c825 {
  background-image: url(R.images.gui.maps.icons.personal_reserves.common.activate_glow_upscale);
}
.Activate_base__disabled_77f76d6c .Activate_icon_bfced9a9 {
  background-image: url(R.images.gui.maps.icons.personal_reserves.common.activate_disabled_small);
}
.mediaLargeWidth .Activate_base__disabled_77f76d6c .Activate_icon_bfced9a9 {
  background-image: url(R.images.gui.maps.icons.personal_reserves.common.activate_disabled_large);
}
.media-upscale .Activate_base__disabled_77f76d6c .Activate_icon_bfced9a9 {
  background-image: url(R.images.gui.maps.icons.personal_reserves.common.activate_disabled_upscale);
}

.Activate_amount_262c55ed {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
  z-index: 1;
}
.mediaLargeWidth .Activate_amount_262c55ed {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
}
.mediaExtraLargeWidth .Activate_amount_262c55ed {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
}

.Activate_text_6ca62bb4 {
  display: flex;
  align-items: center;
  color: #c8cbd0;
  text-shadow: var(--hangar-highlight-shadow);
  opacity: 0.85;
  transition: opacity 0.2s ease;
}
.Activate_text__limited_cd94941e {
  color: #fff5e1;
  text-shadow:
    0 0 13rem rgba(255, 32, 32, 0.6),
    0 0 9rem rgba(251, 167, 146, 0.3),
    0 0 3rem rgba(255, 239, 239, 0.2),
    0 1rem 0 #ec4117,
    0 1rem 0 rgba(255, 255, 255, 0.6);
  opacity: 1;
}
.Activate_base__disabled_77f76d6c .Activate_text_6ca62bb4 {
  color: #c8cbd0;
  text-shadow:
    0 1rem 15rem rgba(23, 23, 23, 0.4),
    0 1rem 0 rgba(0, 0, 0, 0.3);
  opacity: 0.5;
}

.Activate_textOverlay_a5c8a675 {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.Activate_textOverlay__limited_6c5cb381 {
  color: #ffe8e8;
  mask-image: linear-gradient(180deg, #fff5e1 0%, #ffe8e8 100%);
  mask-repeat: no-repeat;
  opacity: 1;
}
.Activate_base__disabled_77f76d6c .Activate_textOverlay_a5c8a675 {
  opacity: 0;
}

.Activate_hint_68b56ff6 {
  width: 100%;
  border-top: 1rem solid rgba(254, 254, 236, 0.1);
  color: #ffecd6;
  font-size: 14rem;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  text-shadow:
    0 0 16rem rgba(255, 154, 82, 0.5),
    0 0 8rem rgba(255, 196, 108, 0.24),
    0 0 4rem rgba(252, 246, 235, 0.16);
  letter-spacing: 0.03rem;
  white-space: nowrap;
  opacity: 0;
  position: absolute;
  bottom: -23rem;
  left: 0;
  transition: opacity 0.2s;
}
html[lang="ja"] .Activate_hint_68b56ff6,
html[lang="ko"] .Activate_hint_68b56ff6,
html[lang="zh_tw"] .Activate_hint_68b56ff6,
html[lang="zh_sg"] .Activate_hint_68b56ff6,
html[lang="zh_cn"] .Activate_hint_68b56ff6,
html[lang="vi"] .Activate_hint_68b56ff6,
html[lang="th"] .Activate_hint_68b56ff6 {
  min-width: 45rem;
  font-size: 11rem;
  bottom: -19rem;
}
.mediaLargeWidth .Activate_hint_68b56ff6 {
  font-size: 16rem;
  line-height: 1.25;
  bottom: -19rem;
}
html[lang="ja"] .mediaLargeWidth .Activate_hint_68b56ff6,
html[lang="ko"] .mediaLargeWidth .Activate_hint_68b56ff6,
html[lang="zh_tw"] .mediaLargeWidth .Activate_hint_68b56ff6,
html[lang="zh_sg"] .mediaLargeWidth .Activate_hint_68b56ff6,
html[lang="zh_cn"] .mediaLargeWidth .Activate_hint_68b56ff6,
html[lang="vi"] .mediaLargeWidth .Activate_hint_68b56ff6,
html[lang="th"] .mediaLargeWidth .Activate_hint_68b56ff6 {
  min-width: 55rem;
  font-size: 14rem;
}
.mediaExtraLargeWidth .Activate_hint_68b56ff6 {
  font-size: 18rem;
  line-height: 1.35;
  bottom: -23rem;
}
html[lang="ja"] .mediaExtraLargeWidth .Activate_hint_68b56ff6,
html[lang="ko"] .mediaExtraLargeWidth .Activate_hint_68b56ff6,
html[lang="zh_tw"] .mediaExtraLargeWidth .Activate_hint_68b56ff6,
html[lang="zh_sg"] .mediaExtraLargeWidth .Activate_hint_68b56ff6,
html[lang="zh_cn"] .mediaExtraLargeWidth .Activate_hint_68b56ff6,
html[lang="vi"] .mediaExtraLargeWidth .Activate_hint_68b56ff6,
html[lang="th"] .mediaExtraLargeWidth .Activate_hint_68b56ff6 {
  min-width: 62rem;
  font-size: 16rem;
  bottom: -25rem;
}
.Activate_d05a6105:hover .Activate_hint_68b56ff6 {
  opacity: 0.85;
}
.Activate_hint__glow_24eef452 {
  color: #fcf6eb;
  text-shadow:
    0 0 13rem rgba(255, 32, 36, 0.6),
    0 0 9rem rgba(251, 146, 148, 0.3),
    0 0 3rem rgba(255, 239, 239, 0.2);
}
.Activate_d05a6105:hover .Activate_hint__glow_24eef452 {
  opacity: 1;
}

.Activate_glow_d01917a6 {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #f30 27.13%,
    rgba(255, 21, 0, 0.35) 54.66%,
    rgba(179, 0, 0, 0) 100%
  );
  filter: blur(21px);
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  pointer-events: none;
}
.Activate_glow__limited_5e88d41 {
  width: 150%;
  height: 150%;
  opacity: 0.5;
}
.Activate_glow__alert_8001ed30 {
  width: 200%;
  height: 200%;
  opacity: 0.8;
}
.Activate_base__disabled_77f76d6c .Activate_glow_d01917a6 {
  opacity: 0;
}

.Activate_sparks_718002e7 {
  width: 70rem;
  height: 30rem;
  background: url(R.images.gui.maps.icons.personal_reserves.common.sparks_icon) repeat
    center/contain;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  pointer-events: none;
}
.mediaLargeWidth .Activate_sparks_718002e7 {
  width: 95rem;
  height: 44rem;
}
.Activate_sparks__visible_842edf80 {
  opacity: 1;
}
.Activate_base__disabled_77f76d6c .Activate_sparks_718002e7 {
  opacity: 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Card_background_d014d7d,
.Card_fill_68e6b048,
.Card_fillPattern_496f8980 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Card_71731d1d {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 32rem;
  position: relative;
}
.mediaLargeWidth .Card_71731d1d {
  width: 46rem;
  height: 36rem;
}
.Card_base__disabled_530f6e06 {
  filter: grayscale(100%);
  opacity: 0.6;
}

.Card_background_d014d7d {
  opacity: 0.2;
  transition: opacity 0.2s ease;
}
.Card_background__personal_57d23cf4 {
  background-image: linear-gradient(
    180deg,
    rgba(255, 249, 216, 0.2) 0%,
    rgba(255, 239, 216, 0.8) 100%
  );
}
.Card_background__clan_46c6fc44 {
  background-image: linear-gradient(
    180deg,
    rgba(114, 196, 255, 0.2) 0%,
    rgba(41, 165, 255, 0.8) 100%
  );
}
.Card_background__alert_9b1dc5e1 {
  background-image: linear-gradient(180deg, rgba(255, 60, 0, 0) 0%, rgba(255, 121, 24, 0.2) 100%);
  opacity: 1;
}

.Card_alert_402bb5af {
  width: 44rem;
  height: 132rem;
  background: url(R.images.gui.maps.icons.personal_reserves.common.cards.final_glow) no-repeat
    center center/100% auto;
  opacity: 0;
  position: absolute;
  top: -12rem;
  left: -8rem;
  transition: opacity 0.2s ease;
  pointer-events: none;
}
.mediaLargeWidth .Card_alert_402bb5af {
  width: 78rem;
  height: 208rem;
  top: -16rem;
  left: -16rem;
}
.Card_alert__visible_bf4a84a5 {
  opacity: 0.8;
}
.Card_base__disabled_530f6e06 .Card_alert_402bb5af {
  opacity: 0;
}

.Card_icon_1eb606a6 {
  width: 24rem;
  height: 24rem;
  position: relative;
  z-index: 1;
}
.mediaLargeWidth .Card_icon_1eb606a6 {
  width: 32rem;
  height: 32rem;
}

.Card_premium_44855832 {
  width: 60rem;
  height: 60rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  pointer-events: none;
}
.mediaLargeWidth .Card_premium_44855832 {
  width: 73rem;
  height: 72rem;
}
.Card_premium__visible_bd677cbc {
  opacity: 1;
}
.Card_base__disabled_530f6e06 .Card_premium_44855832 {
  opacity: 0;
}

.Card_timer_27a2857b {
  display: flex;
  justify-content: center;
  color: #ffe4c0;
  font-size: 12rem;
  font-weight: 500;
  line-height: 1.6;
  text-shadow:
    0 0 15rem rgba(23, 23, 23, 0.4),
    0 1rem 5rem rgba(0, 0, 0, 0.3),
    0 0 20rem rgba(255, 61, 0, 0.35),
    0 0 18rem rgba(255, 177, 86, 0.35),
    0 0 6rem rgba(255, 228, 159, 0.2);
  letter-spacing: 0.02rem;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s ease;
  pointer-events: none;
}
.mediaLargeWidth .Card_timer_27a2857b {
  font-size: 14rem;
}
.Card_timer__visible_bd677cbc {
  opacity: 1;
}

.Card_timerGlow_e2954b70 {
  width: 30rem;
  height: 25rem;
  background: url(R.images.gui.maps.icons.personal_reserves.common.cards.glow) no-repeat center
    center/100% auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mediaLargeWidth .Card_timerGlow_e2954b70 {
  width: 50rem;
  height: 35rem;
}

.Card_fill_68e6b048 {
  clip-path: inset(calc(100% - var(--fill_percentage)) 0 0 0);
}

.Card_fillPattern_496f8980 {
  background-size:
    cover,
    cover,
    100% 3rem;
}
.Card_fillPattern__personal_487b5eeb {
  background-image:
    linear-gradient(270deg, rgba(255, 249, 216, 0.25) 0%, rgba(255, 239, 216, 0.07) 100%),
    linear-gradient(
      180deg,
      rgba(255, 249, 216, 0.04) 0%,
      rgba(255, 244, 216, 0.2) 50%,
      rgba(255, 239, 216, 0.04) 100%
    ),
    repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1rem, transparent 3rem);
  opacity: 0.5;
}
.Card_fillPattern__clan_d7903601 {
  background-image:
    linear-gradient(270deg, rgba(41, 165, 255, 0.2) 0%, rgba(41, 165, 255, 0.07) 100%),
    linear-gradient(
      180deg,
      rgba(41, 165, 255, 0.05) 0%,
      rgba(41, 165, 255, 0.25) 50%,
      rgba(41, 165, 255, 0.05) 100%
    ),
    repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1rem, transparent 3rem);
  opacity: 0.5;
}
.Card_fillPattern__alert_fba99a76 {
  background-color: rgba(255, 191, 72, 0.2);
}

.Card_fillBorderTop_4308f9d9 {
  height: 1rem;
  background-color: #fff;
  mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0%,
    #fff 49.84%,
    rgba(255, 255, 255, 0.1) 100%
  );
  mask-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  top: calc(100% - var(--fill_percentage));
  right: 0;
  left: 0;
}
.Card_fillBorderTop__alert_b2944931 {
  mask-image: linear-gradient(
    to right,
    rgba(255, 187, 145, 0) 0%,
    #ffc76c 49.84%,
    rgba(255, 187, 145, 0) 100%
  );
}

.Card_fillBorderBottom_96ba37d9 {
  height: 1rem;
  background-color: #fff;
  mask-image: linear-gradient(
    to right,
    rgba(255, 187, 145, 0) 0%,
    #ffc76c 49.84%,
    rgba(255, 187, 145, 0) 100%
  );
  mask-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.2s ease;
}
.Card_fillBorderBottom__visible_594e8c6a {
  opacity: 0.2;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.List_background_dc475fe4,
.List_border_59b5e8fe,
.List_borderShadow_776a55b9 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.List_e706f6ab {
  position: relative;
}
.List_base__disabled_8303c2c1 {
  pointer-events: none;
}

.List_cards_efba95c2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.List_card_d0063856 {
  margin: 0;
}
.mediaLargeWidth .List_card_d0063856 {
  margin: 1rem;
}
.List_card_d0063856 + .List_card_d0063856 {
  margin-left: 1rem;
}

.List_background_dc475fe4 {
  border-radius: 2rem;
  background: #fff url(R.images.gui.maps.icons.personal_reserves.common.background_list) repeat
    center center/100% auto;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.List_background_dc475fe4 .List_e706f6ab:hover {
  opacity: 1;
}

.List_border_59b5e8fe {
  border-width: 1rem;
  border-style: solid;
  border-image: url(R.images.gui.maps.icons.ui_kit.common.secondary_border_pattern) 4/4rem round;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.List_e706f6ab:hover .List_border_59b5e8fe {
  opacity: 0.9;
}

.List_borderShadow_776a55b9 {
  box-shadow:
    0 0 16rem 0 rgba(255, 154, 82, 0.3),
    0 0 8rem 0 rgba(255, 196, 108, 0.24),
    0 0 4rem 0 rgba(252, 246, 235, 0.16),
    inset 0 0 0 1rem rgba(13, 14, 16, 0.32);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.List_e706f6ab:hover .List_borderShadow_776a55b9 {
  opacity: 0.4;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Reserves_43f2a7a7 {
  cursor: pointer;
}
.Reserves_base__disabled_58e2c36d {
  cursor: auto;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Hint_background_178d904f {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Hint_e53dd99e {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  min-height: 25rem;
  position: relative;
}

.Hint_background_178d904f {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 196, 108, 0.12) 0%,
    transparent 48%,
    transparent 100%
  );
  mask-image: linear-gradient(to left, transparent 0%, #8f8f8f 20%, #b3b3b3 80%, transparent 100%);
  mask-repeat: no-repeat;
}

.Hint_discountBackground_d56ce0a3 {
  width: 100rem;
  height: 27rem;
  background: url(R.images.gui.maps.icons.header_footer.discount_background_small) center/contain
    repeat;
  mask-image: linear-gradient(90deg, #d9d9d9 71%, rgba(115, 115, 115, 0) 90%);
  mask-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}
.mediaLargeWidth .Hint_discountBackground_d56ce0a3 {
  background-image: url(R.images.gui.maps.icons.header_footer.discount_background_medium);
}
.mediaExtraLargeWidth .Hint_discountBackground_d56ce0a3 {
  background-image: url(R.images.gui.maps.icons.header_footer.discount_background_large);
}

.Hint_discount_94b7b9ff {
  padding: 0;
  border: none;
  border-radius: 0;
  border-image-source: none;
  box-shadow: none;
  background-color: transparent;
}
.Hint_discount_94b7b9ff .Hint_onlyDiscount_8b648a0a,
.Hint_discountWithHintText_381cf018 .Hint_discount_94b7b9ff {
  min-width: 9rem;
  height: 15rem;
}
.mediaLargeWidth .Hint_discount_94b7b9ff .Hint_onlyDiscount_8b648a0a,
.mediaLargeWidth .Hint_discountWithHintText_381cf018 .Hint_discount_94b7b9ff {
  min-width: 11rem;
  height: 19rem;
}
.mediaExtraLargeWidth .Hint_discount_94b7b9ff .Hint_onlyDiscount_8b648a0a,
.mediaExtraLargeWidth .Hint_discountWithHintText_381cf018 .Hint_discount_94b7b9ff {
  min-width: 12rem;
  height: 21rem;
}
.Hint_discount_94b7b9ff::after {
  background: none;
  content: "";
}

.Hint_onlyHintText_751386e1,
.Hint_onlyDiscount_8b648a0a,
.Hint_discountWithHintText_381cf018 {
  border-top: 1rem solid rgba(254, 254, 236, 0.1);
  opacity: 0;
  position: absolute;
  top: 3rem;
  left: 0;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
}
.mediaLargeWidth .Hint_onlyHintText_751386e1,
.mediaLargeWidth .Hint_onlyDiscount_8b648a0a,
.mediaLargeWidth .Hint_discountWithHintText_381cf018 {
  top: 1rem;
}
.mediaExtraLargeWidth .Hint_onlyHintText_751386e1,
.mediaExtraLargeWidth .Hint_onlyDiscount_8b648a0a,
.mediaExtraLargeWidth .Hint_discountWithHintText_381cf018 {
  top: -2rem;
}

.Hint_onlyHintText_751386e1 {
  min-width: 100%;
  padding: 3rem 5rem 0;
  text-align: center;
}

.Hint_discountWithHintText_381cf018,
.Hint_onlyDiscount_8b648a0a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Hint_onlyDiscount_8b648a0a {
  padding: 4rem 5rem 0;
  padding-top: 4rem;
}
.mediaLargeWidth .Hint_onlyDiscount_8b648a0a {
  padding-top: 5rem;
}
.mediaExtraLargeWidth .Hint_onlyDiscount_8b648a0a {
  padding-top: 6rem;
}

.Hint_discountValue_b1f389fc,
.Hint_discountHintTitle_939c55ad {
  color: #ffd4d0;
  text-shadow:
    0 0 15rem rgba(255, 23, 2, 0.6),
    0 0 7rem #ff3a28,
    0 1rem 1rem #c13629;
  z-index: 1;
}

.Hint_discountValue_b1f389fc {
  overflow: visible;
}

.Hint_hintText_6f3fa83f,
.Hint_discountValue_b1f389fc,
.Hint_discountHintTitle_939c55ad {
  font-size: 14rem;
  font-weight: 500;
  line-height: 0.8;
}
html[lang="ja"] .Hint_hintText_6f3fa83f,
html[lang="ko"] .Hint_hintText_6f3fa83f,
html[lang="zh_tw"] .Hint_hintText_6f3fa83f,
html[lang="zh_sg"] .Hint_hintText_6f3fa83f,
html[lang="zh_cn"] .Hint_hintText_6f3fa83f,
html[lang="vi"] .Hint_hintText_6f3fa83f,
html[lang="th"] .Hint_hintText_6f3fa83f,
html[lang="ja"] .Hint_discountValue_b1f389fc,
html[lang="ko"] .Hint_discountValue_b1f389fc,
html[lang="zh_tw"] .Hint_discountValue_b1f389fc,
html[lang="zh_sg"] .Hint_discountValue_b1f389fc,
html[lang="zh_cn"] .Hint_discountValue_b1f389fc,
html[lang="vi"] .Hint_discountValue_b1f389fc,
html[lang="th"] .Hint_discountValue_b1f389fc,
html[lang="ja"] .Hint_discountHintTitle_939c55ad,
html[lang="ko"] .Hint_discountHintTitle_939c55ad,
html[lang="zh_tw"] .Hint_discountHintTitle_939c55ad,
html[lang="zh_sg"] .Hint_discountHintTitle_939c55ad,
html[lang="zh_cn"] .Hint_discountHintTitle_939c55ad,
html[lang="vi"] .Hint_discountHintTitle_939c55ad,
html[lang="th"] .Hint_discountHintTitle_939c55ad {
  font-size: 11rem;
}
.mediaLargeWidth .Hint_hintText_6f3fa83f,
.mediaLargeWidth .Hint_discountValue_b1f389fc,
.mediaLargeWidth .Hint_discountHintTitle_939c55ad {
  font-size: 16rem;
}
html[lang="ja"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="ko"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_tw"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_sg"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_cn"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="vi"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="th"] .mediaLargeWidth .Hint_hintText_6f3fa83f,
html[lang="ja"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="ko"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_tw"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_sg"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_cn"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="vi"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="th"] .mediaLargeWidth .Hint_discountValue_b1f389fc,
html[lang="ja"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="ko"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_tw"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_sg"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_cn"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="vi"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="th"] .mediaLargeWidth .Hint_discountHintTitle_939c55ad {
  font-size: 14rem;
}
.mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
.mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
.mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad {
  font-size: 18rem;
  line-height: 0.9;
}
html[lang="ja"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="ko"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_tw"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_sg"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="zh_cn"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="vi"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="th"] .mediaExtraLargeWidth .Hint_hintText_6f3fa83f,
html[lang="ja"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="ko"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_tw"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_sg"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="zh_cn"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="vi"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="th"] .mediaExtraLargeWidth .Hint_discountValue_b1f389fc,
html[lang="ja"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="ko"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_tw"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_sg"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="zh_cn"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="vi"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
html[lang="th"] .mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad {
  font-size: 16rem;
}

.Hint_hintText_6f3fa83f {
  text-shadow:
    0 0 16rem rgba(255, 154, 82, 0.5),
    0 0 8rem rgba(255, 196, 108, 0.24),
    0 0 4rem rgba(252, 246, 235, 0.16);
}

.Hint_discountHintTitle_939c55ad {
  margin-right: 5rem;
}

.mediaExtraLargeWidth .Hint_hintTitle_135a3ed,
.mediaExtraLargeWidth .Hint_discountHintTitle_939c55ad,
.mediaExtraLargeWidth .Hint_discountValue__withHint_e7bbe38f {
  transform: translateY(1rem);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Currency_92022680 + .Currency_92022680 .Currency_hintWrapper_530465b9,
.Currency_92022680 + .Currency_92022680 {
  padding-left: 10rem;
}
.mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 .Currency_hintWrapper_530465b9,
.Currency_92022680 + .Currency_92022680 .mediaExtraLargeWidth .Currency_hintWrapper_530465b9,
.mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 {
  padding-left: 20rem;
}

.Currency_92022680 {
  min-width: 50rem;
  position: relative;
}
.Currency_base__interactive_52396ddd {
  cursor: pointer;
}
.Currency_92022680 + .Currency_92022680 {
  min-width: 60rem;
}
.mediaLargeWidth .Currency_92022680 + .Currency_92022680 {
  min-width: 66rem;
}
.mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 {
  min-width: 70rem;
}

.Currency_currencyWrapper_b13579ba {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Currency_currencyIcon_346f8c78 {
  margin-left: 4rem;
  opacity: 0.9;
}

.Currency_value_b1cf6531 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  text-shadow: var(--hangar-highlight-shadow);
  white-space: nowrap;
  opacity: 0.85;
}
.mediaLargeWidth .Currency_value_b1cf6531 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
}
.mediaExtraLargeWidth .Currency_value_b1cf6531 {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
}
.Currency_value__unavailable_3a328d4 {
  margin-bottom: 2rem;
  line-height: 1;
}
.mediaLargeWidth .Currency_value__unavailable_3a328d4 {
  line-height: 1;
}
.mediaExtraLargeWidth .Currency_value__unavailable_3a328d4 {
  line-height: 1;
}

.Currency_dash_2806b61e + .Currency_dash_2806b61e {
  margin-left: 1rem;
}
.mediaLargeWidth .Currency_dash_2806b61e + .Currency_dash_2806b61e {
  margin-left: 0;
}

.Currency_formattedValue_b7cad7e0 {
  flex-wrap: nowrap;
}

.Currency_hintWrapper_530465b9 {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}
.Currency_hint_f9d16bb2 {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.Currency_base__hidden_271064ec .Currency_hint_f9d16bb2 {
  opacity: 0;
}

.Currency_text_f4484816 {
  mask-image: linear-gradient(to bottom, transparent, #e1d3c1);
  mask-repeat: no-repeat;
  color: #e1d3c1;
}
.Currency_text__overlay_64b93131 {
  color: #fcf6eb;
  mask-image: linear-gradient(to top, transparent, #fcf6eb);
}

.Currency_discountWithHintText_95e3324b {
  opacity: 0;
}
.Currency_base__discount_271064ec:hover .Currency_discountWithHintText_95e3324b {
  opacity: 1;
}

.Currency_onlyHintText_61ecd7b0 {
  opacity: 0;
}
.Currency_92022680:hover .Currency_onlyHintText_61ecd7b0 {
  opacity: 1;
}
.Currency_base__discount_271064ec:hover .Currency_onlyHintText_61ecd7b0 {
  opacity: 0;
}

.Currency_onlyDiscount_61ecd7b0 {
  opacity: 0;
}
.Currency_base__discount_271064ec .Currency_onlyDiscount_61ecd7b0 {
  opacity: 1;
}
.Currency_92022680:hover .Currency_onlyDiscount_61ecd7b0 {
  opacity: 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Wallet_fc600169 {
  display: flex;
  flex-direction: row;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RightSide_6958a8ae {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
.mediaLargeWidth .RightSide_6958a8ae {
  margin-right: -2rem;
}
.mediaExtraLargeWidth .RightSide_6958a8ae {
  margin-right: -4rem;
}

.RightSide_separator_fea82003 {
  height: 24rem;
  margin: 0 12rem 0 10rem;
}
.mediaMediumWidth .RightSide_separator_fea82003 {
  height: 30rem;
}
.mediaLargeWidth .RightSide_separator_fea82003 {
  margin: 0 16rem;
}
.mediaExtraLargeWidth .RightSide_separator_fea82003 {
  margin: 0 32rem;
}

.RightSide_economicBonusWidget_19a96443 {
  flex: 1;
}
.mediaMedium .RightSide_economicBonusWidget_19a96443 {
  margin-left: 12rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.VehicleInfo_4b77df3f {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  height: 24rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  filter: drop-shadow(0 1rem 15rem rgba(23, 23, 23, 0.24)) drop-shadow(0 1rem 0 rgba(0, 0, 0, 0.3));
  opacity: 0.9;
}
.VehicleInfo_base__battleRoyaleQueue_b5a06cbf {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  height: 28rem;
}

.VehicleInfo_details_3cde71e7 {
  color: rgba(var(--color-general-primary-rgb), 0.7);
  font-weight: 500;
}

.VehicleInfo_vehicleType_5f8aaab4 {
  margin-top: 1rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_fe4b7101 {
  --offset-top: 4rem;
  --offset-side: 30rem;
  display: flex;
  height: 57rem;
  padding-bottom: 6rem;
  position: relative;
  z-index: 0;
}
.mediaMediumWidth .App_fe4b7101 {
  --offset-top: 6rem;
  height: 59rem;
}
.mediaLargeWidth .App_fe4b7101 {
  --offset-top: 12rem;
  --offset-side: 48rem;
  height: 76rem;
}
.mediaExtraLargeWidth .App_fe4b7101 {
  --offset-top: 16rem;
  height: 82rem;
}
.App_base__oldStyle_ed955e9f {
  background: url(R.images.gui.maps.icons.header_footer.old_background_pattern) repeat
    center/contain;
}

.App_leftSide_6c377b80 {
  display: flex;
  flex: 1 1 100%;
  padding-top: var(--offset-top);
  padding-right: 8rem;
  padding-bottom: 1rem;
  z-index: 2;
}
.mediaExtraLargeWidth .App_leftSide_6c377b80 {
  padding-bottom: 2rem;
}

.App_userProfile_7aef8044 {
  max-width: 100%;
  padding-left: var(--offset-side);
  padding-top: 2rem;
}

.App_navigationBar_a5705175 {
  max-width: 100%;
}
.App_navigationBar_button_0,
.App_navigationBar_title_e132fcfa,
.App_navigationBar_infoButton_760d7047 {
  padding-top: 2rem;
}
.App_navigationBar_button__garageNavigation_e132fcfa {
  padding-left: var(--offset-side);
}
.App_navigationBar_button__backNavigation_0:first-child {
  padding-left: var(--offset-side);
}
.App_navigationBar_title_e132fcfa {
  padding-left: var(--offset-side);
}

.App_rightSide_f929369b {
  display: flex;
  justify-content: flex-end;
  padding-left: 8rem;
  padding-top: var(--offset-top);
  padding-right: var(--offset-side);
  z-index: 2;
}
.App_base__battleButtonVisible_0 .App_rightSide_f929369b {
  flex: 1 1 100%;
}

.App_battleButton_d35d5318 {
  margin-top: var(--offset-top);
  opacity: 0;
  z-index: 1;
}
.App_battleButton__fadein_18e051ce {
  animation: App_fadeIn_0 1s ease-in-out forwards;
  animation-delay: 1s;
}
.App_battleButton__withoutFadein_4337493d {
  opacity: 1;
}

.App_battleButtonEffects_1da8cd9d {
  top: calc(var(--offset-top) * -1);
}

.App_vehicleInfoWrapper_9f2ec684 {
  opacity: 0;
  position: absolute;
  top: 53rem;
  left: 50%;
  transform: translateX(-50%);
  animation: App_fadeIn_0 1s ease-in-out forwards;
  animation-delay: 1s;
}
.mediaMediumWidth .App_vehicleInfoWrapper_9f2ec684 {
  top: 57rem;
}
.mediaLargeWidth .App_vehicleInfoWrapper_9f2ec684 {
  top: 77rem;
}
.mediaExtraLargeWidth .App_vehicleInfoWrapper_9f2ec684 {
  top: 88rem;
}

@keyframes App_fadeIn_0 {
  to {
    opacity: 1;
  }
}
