.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

.ExtendedText_base_71 {
  display: flex;
  line-height: 1.2;
  position: relative;
}

.ExtendedText_base__zeroPadding_25 {
  padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
  width: 100%;
}

.ExtendedText_truncated_97 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.ExtendedText_truncated__hide_31 {
  opacity: 0;
}

.ExtendedText_unTruncated_b8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-content: flex-start;
  color: #ff2717;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.colors_blackReal_fc {
  color: #000000;
}

.colors_whiteReal_31 {
  color: #ffffff;
}

.colors_white_45 {
  color: #f2f2f7;
}

.colors_whiteOrange_81 {
  color: #fefeec;
}

.colors_whiteSpanish_c3 {
  color: #e9e2bf;
}

.colors_par_5b {
  color: #8c8c7e;
}

.colors_parSecondary_fd {
  color: #595950;
}

.colors_parTertiary_97 {
  color: #37362e;
}

.colors_red_79 {
  color: #ff2717;
}

.colors_redDark_73 {
  color: #b70000;
}

.colors_yellow_76 {
  color: #feab34;
}

.colors_orange_cd {
  color: #ee7000;
}

.colors_cream_0f {
  color: #ffdd99;
}

.colors_brown_82 {
  color: #cbac77;
}

.colors_greenBright_68 {
  color: #80d43a;
}

.colors_green_fa {
  color: #7ab300;
}

.colors_greenDark_a9 {
  color: #497212;
}

.colors_blueBooster_26 {
  color: #ccffff;
}

.colors_blueTeamkiller_86 {
  color: #09e2ff;
}

.colors_cred_35 {
  color: #ced9d9;
}

.colors_gold_c3 {
  color: #ffc363;
}

.colors_bond_ce {
  color: #c9c9b6;
}

.colors_prom_83 {
  color: #a29b70;
}

.renderers_noBreakWrapper_10 {
  display: flex;
  flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
  width: 100%;
  height: 0;
}

.renderers_newLine_bd {
  flex: 1;
  width: 100%;
}

.TankmanIcon_base_f9 {
  background: no-repeat center / contain;
}

.TankmanIcon_base__big_98 {
  width: 158rem;
  height: 118rem;
}

.TankmanIcon_base__small_b2,
.TankmanIcon_base__barracks_62 {
  width: 100rem;
  height: 60rem;
}

.TankmanIcon_base__special_3f {
  width: 444rem;
  height: 300rem;
}

.TankmanIcon_base__c_204x256_97 {
  width: 204rem;
  height: 256rem;
}

.TankmanIcon_innerShadow_c6 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("R.images.gui.maps.icons.tankmen.crew.icon_shadow") no-repeat center / contain;
  pointer-events: none;
}

.TankmanFolder_base_00 {
  display: flex;
  width: 270rem;
  height: 270rem;
  position: relative;
}

.mediaMedium .TankmanFolder_base_00 {
  width: 360rem;
  height: 360rem;
}

.TankmanFolder_activeZone_c3 {
  width: 200rem;
  height: 235rem;
  position: absolute;
  top: 15rem;
  left: 30rem;
  z-index: 1;
  cursor: pointer;
}

.mediaMedium .TankmanFolder_activeZone_c3 {
  width: 270rem;
  height: 290rem;
  top: 30rem;
  left: 40rem;
}

.TankmanFolder_folderLight_eb {
  width: 244rem;
  height: 300rem;
  background: url("R.images.gui.maps.icons.crew.folderLight") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -24rem;
  left: 18rem;
  transition: opacity 0.3s;
}

.mediaMedium .TankmanFolder_folderLight_eb {
  width: 325rem;
  height: 400rem;
  top: -32rem;
  left: 22rem;
}

.TankmanFolder_base__withLight_93 .TankmanFolder_folderLight_eb,
.TankmanFolder_base__hovered_f8 .TankmanFolder_folderLight_eb {
  opacity: 1;
}

.TankmanFolder_folder_f5 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background: url("R.images.gui.maps.icons.tankmen.crew.frames.folder") no-repeat center / contain;
  pointer-events: none;
}

.TankmanFolder_photoFrame_ae {
  width: 202rem;
  height: 178rem;
  background: url("R.images.gui.maps.icons.tankmen.crew.frames.photo_frame_small") no-repeat
    center / contain;
  position: absolute;
  top: 24rem;
  left: 40rem;
}

.mediaMedium .TankmanFolder_photoFrame_ae {
  width: 240rem;
  height: 210rem;
  top: 38rem;
  left: 80rem;
}

.TankmanFolder_base__big_60 .TankmanFolder_photoFrame_ae {
  width: 206rem;
  height: 240rem;
  background-image: url("R.images.gui.maps.icons.tankmen.crew.frames.photo_frame_big");
  top: 14rem;
  left: 38rem;
}

.mediaMedium .TankmanFolder_base__big_60 .TankmanFolder_photoFrame_ae {
  width: 260rem;
  height: 320rem;
  top: 20rem;
  left: 56rem;
}

.TankmanFolder_icon_74 {
  width: 124rem;
  height: 93rem;
  position: absolute;
  bottom: 46rem;
  left: 58rem;
}

.mediaMedium .TankmanFolder_icon_74 {
  width: 158rem;
  height: 118rem;
  bottom: 53rem;
  left: 59rem;
}

.TankmanFolder_base__big_60 .TankmanFolder_icon_74 {
  width: 152rem;
  height: 196rem;
  bottom: 24rem;
  left: 30rem;
}

.mediaMedium .TankmanFolder_base__big_60 .TankmanFolder_icon_74 {
  width: 204rem;
  height: 256rem;
  bottom: 32rem;
  left: 33rem;
}

.TankmanFolder_editTextWrapper_07 {
  opacity: 0.5;
  position: absolute;
  bottom: 50rem;
  left: 95rem;
  transition: opacity 0.3s;
}

.mediaMedium .TankmanFolder_editTextWrapper_07 {
  bottom: 76rem;
}

.TankmanFolder_base__withLight_93 .TankmanFolder_editTextWrapper_07,
.TankmanFolder_base__hovered_f8 .TankmanFolder_editTextWrapper_07 {
  opacity: 1;
}

.TankmanFolder_editText_4c {
  color: #ffdd99;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  width: 100rem;
  text-align: center;
  text-shadow:
    0rem 0rem 15rem #e52,
    0rem 0rem 8rem #ff2a00,
    0rem 0rem 4rem #ff7f0040;
}

.mediaMedium .TankmanFolder_editText_4c {
  width: 200rem;
}

.CButton_base_40 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
  background-size: 100% 100%;
}

.CButton_base__main_42 {
  background-image: url("R.images.gui.maps.icons.components.button.back_main");
}

.CButton_base__primary_7f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary");
}

.CButton_base__primaryGreen_6f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_green");
}

.CButton_base__primaryRed_ec {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_red");
}

.CButton_base__secondary_50 {
  background-image: url("R.images.gui.maps.icons.components.button.back_secondary");
}

.CButton_base__ghost_ed {
  border-radius: 3rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
  background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
  min-height: 17rem;
  padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
  padding: 0 20rem;
}

.CButton_base__small_df {
  min-height: 18rem;
}

.CButton_base__medium_74 {
  min-height: 32rem;
}

.CButton_base__disabled_d9 {
  cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_main");
}
.CButton_base__primary_7f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary");
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_green");
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_red");
}
.CButton_base__secondary_50 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_secondary");
}
.CButton_texture_fe {
  background: url("R.images.gui.maps.icons.components.button.standard_texture_file");
  background-size: 155rem 31rem;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_state_11 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
  border-radius: 2rem;
  box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
  transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
  background-image: linear-gradient(
    180deg,
    rgba(252, 248, 235, 0.25) 0%,
    rgba(252, 248, 235, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
  opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
  box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
  background-color: rgba(8, 6, 0, 0.18);
  background-image: none;
}
.CButton_stateHighlightActive_35 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
  opacity: 1;
}
.CButton_stateDisabled_54 {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("R.images.gui.maps.icons.components.button.texture_disable");
  background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
  opacity: 1;
}
.CButton_content_cc {
  display: flex;
  align-items: center;
  color: #f2f2e6;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 -1rem 1rem #000;
  letter-spacing: 0.03em;
  transform: translateY(-1rem);
}
.CButton_content_cc[lang="ja"],
.CButton_content_cc[lang="ko"],
.CButton_content_cc[lang="zh_tw"],
.CButton_content_cc[lang="zh_sg"],
.CButton_content_cc[lang="zh_cn"],
.CButton_content_cc[lang="th"] {
  font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
  color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
  font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
  font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
  font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
  opacity: 0.6;
}

.CurrentVehicleTrain_base_22 {
  display: flex;
  position: relative;
}
.CurrentVehicleTrain_container_ae {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mediaMedium .CurrentVehicleTrain_container_ae {
  flex-direction: row;
}
.CurrentVehicleTrain_tooltipHoverArea_cc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CurrentVehicleTrain_currentVehicle_9d {
  color: rgba(242, 242, 247, 0.6);
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.CurrentVehicleTrain_currentVehicleName_19 {
  color: #e9e2bf;
}
.CurrentVehicleTrain_currentVehicleName__isPremium_86 {
  color: #ffc363;
}
.CurrentVehicleTrain_retrainContainer_6a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.CurrentVehicleTrain_leftContainer_f4 {
  display: flex;
}
.CurrentVehicleTrain_rightContainer_60 {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.mediaMedium .CurrentVehicleTrain_rightContainer_60 {
  margin-top: 0rem;
}
.CurrentVehicleTrain_roleLevelContainer_95 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.CurrentVehicleTrain_roleLevelLabel_31 {
  color: rgba(242, 242, 247, 0.6);
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.CurrentVehicleTrain_roleLevelLabel__red_0e {
  color: #ff2717;
}
.mediaMedium .CurrentVehicleTrain_roleLevelLabel_31 {
  margin-left: 14rem;
}
.CurrentVehicleTrain_retrainBtnContainer_00 {
  width: 120rem;
  margin-left: 12rem;
  position: relative;
}
.CurrentVehicleTrain_discountIcon_04 {
  width: 80rem;
  height: 45rem;
  background: url("R.images.gui.maps.icons.tankmen.crew.discount_retrain") no-repeat center /
    contain;
  position: absolute;
  top: -13rem;
  right: -35rem;
}
.CurrentVehicleTrain_discountIcon__forText_d9 {
  top: -10rem;
  right: -30rem;
}
.CurrentVehicleTrain_retrainBtn_3e {
  width: 120rem;
  height: 20rem;
}
.CurrentVehicleTrain_frameGlow_80 {
  width: 120rem;
  height: 20rem;
  border: 1rem solid #ffdd99;
  border-radius: 2rem;
  filter: drop-shadow(0 0 4rem rgba(255, 127, 0, 0.25)) drop-shadow(0 0 8rem #ff2a00)
    drop-shadow(0 0 15rem #e52);
  position: absolute;
  top: 0;
  left: 0;
}
.CurrentVehicleTrain_trainLevelRateContainer_5c {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.CurrentVehicleTrain_trainLevelNumber_b0 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.CurrentVehicleTrain_trainLevelNumber__red_07 {
  color: #ff2717;
}
.CurrentVehicleTrain_trainLevelInfoIcon_27 {
  width: 14rem;
  height: 14rem;
  margin-left: 5rem;
  background: url("R.images.gui.maps.icons.tankmen.crew.information") no-repeat center / contain;
  position: relative;
  top: 2rem;
}
.CurrentVehicleTrain_discountContainer_24 {
  display: flex;
  position: relative;
}
.CurrentVehicleTrain_discountText_45 {
  color: #ffdd99;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  margin-left: 14rem;
  position: relative;
}

.Name_base_2d {
  color: #f2f2f7;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  display: flex;
  position: relative;
}

.mediaMedium .Name_base_2d {
  font-size: 36rem;
}

.Name_label_31 {
  line-height: 1.2;
}

.Name_voiceButton_00 {
  width: 34rem;
  height: 24rem;
  position: absolute;
  top: 50%;
  right: -14rem;
  transform: translate(100%, -50%);
}

.Name_soundIcon_2a {
  width: 24rem;
  height: 24rem;
  background: url("R.images.gui.maps.icons.tankmen.crew.sound") no-repeat center / contain;
}

.Role_base_e0 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.Role_role_2a {
  display: flex;
}

.Role_roleIcon_e6 {
  width: 18rem;
  height: 18rem;
  margin: 2rem 6rem 0 0;
  background: no-repeat center / contain;
}

.Role_roleName_79 {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}

.Role_commanderFeature_e2 {
  display: flex;
  align-items: center;
  height: 18rem;
  margin-top: 2rem;
}

.Role_sense_21 {
  width: 24rem;
  height: 24rem;
  background: url("R.images.gui.maps.icons.tankmen.skills.medium.commander_sixthSense") no-repeat
    center / contain;
}

.Role_commanderBonus_99 {
  width: 24rem;
  height: 24rem;
  background: url("R.images.gui.maps.icons.tankmen.skills.medium.comander_bonus") no-repeat center /
    contain;
}

.SpecializationSlots_base_1a {
  display: flex;
  flex-direction: row;
}

.SpecializationSlots_frame_85 {
  width: 150rem;
  height: 33rem;
  border: 1rem solid rgba(242, 242, 247, 0.1);
  border-radius: 2rem;
  position: relative;
  cursor: default;
}

.SpecializationSlots_frame__first_23 {
  margin-right: 10rem;
}

.SpecializationSlots_arrowsIcon_fc {
  width: 34rem;
  height: 34rem;
  background: url("R.images.gui.maps.icons.tankmen.crew.arrows") no-repeat center / contain;
}

.SpecializationSlots_changeVehicle_58 {
  color: #ffdd99;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 15rem #e52;
}

.SpecializationSlots_tier_68 {
  color: #fefeec;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}

.SpecializationSlots_vehicle_b6 {
  color: #fefeec;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  left: -19rem;
}

.SpecializationSlots_vehicleTypeIcon_77 {
  width: 48rem;
  height: 48rem;
  background: no-repeat center / contain;
  position: relative;
  left: -10rem;
}

.SpecializationSlots_info_7c {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 2rem 8rem;
  pointer-events: none;
}

.SpecializationSlots_flag_84 {
  width: 148rem;
  height: 31rem;
  background: no-repeat center / cover;
  position: absolute;
  top: 0;
  left: 0;
}

.SpecializationSlots_vehicleIcon_ec {
  width: 80rem;
  height: 31rem;
  background: no-repeat 0 / cover;
  position: absolute;
  top: 0;
  right: 0;
}

.SpecializationSlots_premVehicle_c3 {
  color: #ffc363;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  left: -19rem;
}

.TankmanInfoApp_base_8a {
  display: flex;
  flex-direction: row;
  min-width: 550rem;
  position: relative;
}

.mediaMedium .TankmanInfoApp_base_8a {
  min-width: 878rem;
}

.TankmanInfoApp_tankmanFolder_2d {
  margin: -30rem;
  position: relative;
}

.mediaMedium .TankmanInfoApp_tankmanFolder_2d {
  display: flex;
  margin: 0;
}

.TankmanInfoApp_descriptionBlock_f2 {
  display: flex;
  flex-direction: column;
}

.mediaMedium .TankmanInfoApp_descriptionBlock_f2 {
  margin: 63rem 0 0 -33rem;
}

.mediaLarge .TankmanInfoApp_descriptionBlock_f2 {
  margin-left: -31rem;
}

.TankmanInfoApp_role_71 {
  margin-top: -1rem;
}

.mediaMedium .TankmanInfoApp_role_71 {
  margin-top: 0;
}

.TankmanInfoApp_name_68 {
  margin-top: 2rem;
}

.mediaMedium .TankmanInfoApp_name_68 {
  margin-top: -1rem;
}

.TankmanInfoApp_description_a6 {
  color: rgba(242, 242, 247, 0.5);
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  width: 350rem;
  height: 40rem;
  margin-top: 6rem;
}

.mediaMedium .TankmanInfoApp_description_a6 {
  width: 550rem;
  height: 60rem;
  margin-top: 9rem;
}

.mediaExtraLarge .TankmanInfoApp_description_a6 {
  width: 668rem;
  height: 65rem;
  font-size: 16rem;
}

.TankmanInfoApp_currentVehicle_06 {
  margin-top: 15rem;
}

.TankmanInfoApp_nativeVehicle_5c {
  color: rgba(242, 242, 247, 0.6);
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 20rem;
}

.TankmanInfoApp_nativeVehicle__withDescription_03 {
  margin-top: 10rem;
}

.mediaExtraLarge .TankmanInfoApp_nativeVehicle__withDescription_03 {
  margin-top: 10rem;
}

.TankmanInfoApp_slots_a1 {
  margin-top: 9rem;
}

.TankmanInfoWrapper_base_5a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 80rem 0 0 425rem;
  position: relative;
}

.mediaSmall .TankmanInfoWrapper_base_5a {
  align-items: center;
  margin-left: 0;
}

.mediaMedium .TankmanInfoWrapper_base_5a {
  margin-top: 47rem;
}

.mediaLarge .TankmanInfoWrapper_base_5a {
  margin-top: 73rem;
}

.mediaExtraLarge .TankmanInfoWrapper_base_5a {
  margin-top: 145rem;
}
.TankmanInfoWrapper_content_b4 {
  display: flex;
  flex-direction: column;
  width: 602rem;
  height: 100%;
  position: relative;
}
.mediaMedium .TankmanInfoWrapper_content_b4 {
  width: 944rem;
}
.mediaLarge .TankmanInfoWrapper_content_b4 {
  width: 1060rem;
}
.TankmanInfoWrapper_tankmanInfo_80 {
  position: absolute;
  top: 0;
  left: 0;
}
.mediaSmall .TankmanInfoWrapper_tankmanInfo_80 {
  left: 24rem;
}
.mediaMedium .TankmanInfoWrapper_tankmanInfo_80 {
  left: 3rem;
}
.mediaLarge .TankmanInfoWrapper_tankmanInfo_80 {
  left: 9rem;
}
.TankmanInfoWrapper_children_66 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: calc(100vh - 362rem);
  margin: 247rem 0 0 -24rem;
  position: relative;
}
.mediaSmall .TankmanInfoWrapper_children_66 {
  margin-left: 0;
}
.mediaMedium .TankmanInfoWrapper_children_66 {
  max-height: calc(100vh - 413rem);
  margin-top: 331rem;
}
.mediaLarge .TankmanInfoWrapper_children_66 {
  max-height: calc(100vh - 449rem);
  margin-top: 341rem;
}
.mediaExtraLarge .TankmanInfoWrapper_children_66 {
  max-height: calc(100vh - 521rem);
}

.HorizontalBar_base_49 {
  display: flex;
  width: 100%;
  height: 13rem;
  position: relative;
}

.HorizontalBar_base__nonActive_82 {
  visibility: hidden;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transform: rotate(-90deg);
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
  opacity: 1;
}

.HorizontalBar_leftButton_5f {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.HorizontalBar_rightButton_03 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.HorizontalBar_track_0d {
  flex: 1;
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}

.HorizontalBar_thumb_fd {
  display: none;
  flex: 0 0 100%;
  width: 100%;
  min-width: 20rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb_horizontal")
    no-repeat center / 8rem 7rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
  opacity: 1;
}

.HorizontalBar_rail_32 {
  height: 0;
  border-top: 1rem solid #2f2e24;
  position: absolute;
  top: 6rem;
  right: 5rem;
  left: 5rem;
}

.HorizontalBar_rail_32:hover {
  opacity: 0.7;
}

.HorizontalScroll_base_29 {
  width: 100%;
}

.HorizontalScroll_wrapper_1e {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
  width: 100%;
  margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: 100%;
  position: relative;
}

.VerticalBar_base__nonActive_42 {
  visibility: hidden;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
  opacity: 0.3;
  cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
  width: 13rem;
  height: 13rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: no-repeat center / 7rem 5rem;
  opacity: 0.5;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
  opacity: 1;
}

.VerticalBar_topButton_d7 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}

.VerticalBar_bottomButton_06 {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}

.VerticalBar_track_df {
  flex: 1;
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
}

.VerticalBar_thumb_32 {
  display: flex;
  flex: 0 0 13rem;
  width: 13rem;
  height: 100%;
  min-height: 20rem;
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  background: #26241b url("R.images.gui.maps.icons.components.scroll_area.thumb") no-repeat center /
    7rem 8rem;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  transition: opacity 130ms linear;
  cursor: pointer;
}

.VerticalBar_thumb_32:hover {
  opacity: 1;
}

.VerticalBar_rail_43 {
  width: 0;
  height: 100%;
  border-left: 1rem solid #2f2e24;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  position: absolute;
  top: 0;
  left: 6rem;
  z-index: 0;
}

.VerticalBar_rail_43:hover {
  opacity: 0.7;
}

.VerticalScroll_content_cb {
  height: 100%;
  overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
  display: flex;
}

.VerticalScroll_bar_1e {
  flex: 1;
  margin-left: 7rem;
}

.VerticalScroll_area_af {
  flex: 1;
}

.ScrollWithLips_base_81 {
  width: 100%;
  position: relative;
}

.ScrollWithLips_fadeTop_3d {
  display: flex;
  height: 20rem;
  background: linear-gradient(
    180deg,
    #000 0%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.2;
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
  top: -1rem;
}

.ScrollWithLips_fadeBottom_44 {
  display: flex;
  height: 20rem;
  background: linear-gradient(
    180deg,
    #000 0%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0.2;
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
  bottom: -1rem;
  transform: rotate(180deg);
}

.ScrollWithLips_bar_52 {
  position: absolute;
  top: 0;
  right: -27rem;
}

.ScrollWithLips_content_fb {
  height: auto;
  max-height: 100%;
}

.AchievementsList_base_90 {
  display: flex;
  flex-direction: column;
  width: 582rem;
  position: relative;
  justify-items: center;
}

.mediaMedium .AchievementsList_base_90 {
  width: 854rem;
}

.mediaLarge .AchievementsList_base_90 {
  width: 948rem;
}

.AchievementsList_title_f4 {
  color: WHITE;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 25rem;
  text-align: center;
  opacity: 0.8;
}

.mediaMedium .AchievementsList_title_f4 {
  margin-top: 23rem;
  font-size: 16rem;
}

.AchievementsList_container_a7 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  position: relative;
}

.mediaLarge .AchievementsList_container_a7 {
  margin-top: 10rem;
}

.AchievementsList_item_10 {
  margin: 8rem 15rem;
}

.mediaMedium .AchievementsList_item_10 {
  margin: 12rem;
}

.mediaLarge .AchievementsList_item_10 {
  margin: 6rem;
}

.AchievementsList_bar_4a {
  padding-bottom: 10rem;
  right: -15rem;
}

.AchievementItem_base_45 {
  position: relative;
  width: 146rem;
  height: 146rem;
}

.AchievementItem_base__small_b4 {
  width: 67rem;
  height: 71rem;
}

.AchievementItem_icon_91 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
}

.AchievementItem_amountBG_46 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 16rem;
  padding: 1rem 4rem;
  border-radius: 4rem;
  background: radial-gradient(50% 50% at 50% 50%, #6c2222 0%, #481111 100%);
  position: absolute;
  right: 9rem;
  bottom: 10rem;
}

.AchievementItem_base__small_b4 .AchievementItem_amountBG_46 {
  right: -1rem;
  bottom: -1rem;
}

.AchievementItem_amount_65 {
  color: WHITE;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  margin: -2rem 1rem 0;
}

.BattlesInfo_base_25 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 126rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.08) 15%,
    rgba(255, 255, 255, 0.08) 85%,
    rgba(255, 255, 255, 0) 100%
  );
  position: relative;
}

.BattlesInfo_container_da {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 393rem;
  margin-top: 12rem;
  position: relative;
}

.Item_base_e0 {
  width: 106rem;
  height: 88rem;
  position: relative;
}

.Item_icon_81 {
  margin-left: 29rem;
  background: no-repeat center / contain;
  position: relative;
  width: 48rem;
  height: 48rem;
}

.Item_value_28 {
  color: WHITE;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: -13rem;
  text-align: center;
  text-shadow:
    0 1rem 2rem rgba(0, 0, 0, 0.25),
    0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.Item_name_35 {
  color: WHITE;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  width: 100%;
  line-height: 18rem;
  text-align: center;
  opacity: 0.8;
  position: absolute;
  top: 67rem;
  left: 0;
}

.RankItem_base_19 {
  width: 106rem;
  height: 88rem;
  position: relative;
}

.RankItem_icon_10 {
  width: 84rem;
  height: 62rem;
  margin-left: 11rem;
  background: no-repeat center / contain;
  mask-image: linear-gradient(to bottom, #000000 70%, transparent 100%);
}

.RankItem_name_9d {
  color: WHITE;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  width: 100%;
  line-height: 18rem;
  text-align: center;
  opacity: 0.8;
  position: absolute;
  top: 67rem;
  left: 0;
}

.NoAchievements_base_a5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.NoAchievements_icon_c7 {
  width: 118rem;
  height: 100rem;
  background: url("R.images.gui.maps.icons.crew.serviceRecord.noAchievementsIcon") no-repeat
    center / contain;
  position: relative;
}

.mediaLarge .NoAchievements_icon_c7 {
  width: 156rem;
  height: 132rem;
}

.NoAchievements_text_34 {
  color: #c9c9b6;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 25rem;
  position: relative;
}

.ServiceRecordApp_achievementsList_fd {
  flex: 1;
}

.ServiceRecordApp_noAchievements_07 {
  margin-top: 30rem;
  position: relative;
}

.mediaLarge .ServiceRecordApp_noAchievements_07 {
  margin-top: 50rem;
}
