.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, .6);
    position: relative;
    cursor: pointer;
}

    .CButton_base__main_42,
    .CButton_base__primary_7f,
    .CButton_base__primaryGreen_6f,
    .CButton_base__primaryRed_ec,
    .CButton_base__secondary_50 {
        background-size: 100% 100%;
    }

    .CButton_base__main_42 {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_7f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_6f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_ec {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_50 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_ed {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, .3),
            0 0 0 1rem rgba(255,255,255, .15) inset;
        background-color: rgba(0,0,0, .15);
    }

    .CButton_base__extraSmall_27 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_df,
    .CButton_base__medium_74 {
        padding: 0 20rem;
    }

    .CButton_base__small_df {
        min-height: 18rem;
    }

    .CButton_base__medium_74 {
        min-height: 32rem;
    }

    .CButton_base__disabled_d9 {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_7f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_6f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_ec .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_50 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow .16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, .2);
    }
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff, .CButton_base__firstHover_d5 .CButton_stateHighlightActive_35, .CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
        transition: opacity .16s ease-in-out;
    }
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(180deg, rgba(252,248,235, .25) 0%, rgba(252,248,235, .1) 50%, rgba(255,255,255, 0) 100%);
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
        opacity: 1;
    }
.CButton_base_40:active .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
        box-shadow: 0 15rem 12rem 0 rgba(242,242,230, .11) inset;
        background-color: rgba(8,6,0, .18);
        background-image: none;
    }
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0,0,0, .3) 0%, rgba(0,0,0, .15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
        opacity: 1;
    }
.CButton_stateDisabled_54 {
    background-color: rgba(0,0,0, .25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
        opacity: 1;
    }
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: .03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang=ja],
    .CButton_content_cc[lang=ko],
    .CButton_content_cc[lang=zh_tw],
    .CButton_content_cc[lang=zh_sg],
    .CButton_content_cc[lang=zh_cn],
    .CButton_content_cc[lang=th] {
        font-weight: 400;
    }
.CButton_base__main_42 .CButton_content_cc,
    .CButton_base__primaryRed_ec .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_50 .CButton_content_cc {
        color: rgba(254,254,236, .75);
    }
.CButton_base__primaryGreen_6f .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
.CButton_base__extraSmall_27 .CButton_content_cc {
        font-size: 12rem;
    }
.CButton_base__small_df .CButton_content_cc {
        font-size: 14rem;
    }
.CButton_base__medium_74 .CButton_content_cc {
        font-size: 15rem;
    }
.CButton_base__disabled_d9 .CButton_content_cc {
        opacity: .6;
    }

.Checkbox_base_36 {
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
}

    .Checkbox_base__disabled_08 {
        pointer-events: none;
    }

    .Checkbox_base__center_52 {
        align-items: center;
    }

    .Checkbox_base__bottom_28 {
        align-items: flex-end;
    }

.Checkbox_input_37 {
    border: 1rem solid rgba(190, 190, 190, .45);
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, .3);
    opacity: .6;
    position: relative;
    transition: background-color .1s linear;
}

.Checkbox_base__mouseDown_45 .Checkbox_input_37 {
        background-color: rgba(0, 0, 0, .4);
    }

.Checkbox_base__small_18 .Checkbox_input_37 {
        width: 12rem;
        height: 12rem;
    }

.Checkbox_base__medium_12 .Checkbox_input_37 {
        width: 18rem;
        height: 18rem;
    }

.Checkbox_base__large_f7 .Checkbox_input_37 {
        width: 24rem;
        height: 24rem;
    }

.Checkbox_base__extraLarge_c9 .Checkbox_input_37 {
        width: 32rem;
        height: 32rem;
    }

.Checkbox_alertOverlay_52 {
    position: absolute;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
    border: 1rem solid #feab34;
    border-radius: 2rem;
    box-shadow: inset 0 0 9rem rgba(0, 0, 0, .25);
    opacity: 0;
    pointer-events: none;
}

.Checkbox_base__alert_b7 .Checkbox_alertOverlay_52 {
        animation: Checkbox_blink_5e 2s ease-in-out infinite;
    }

.Checkbox_base__alert_b7.Checkbox_base__checked_a2 .Checkbox_alertOverlay_52,
    .Checkbox_base__alert_b7.Checkbox_base__disabled_08 .Checkbox_alertOverlay_52 {
        opacity: 0;
        animation: initial;
    }

.Checkbox_inputHoverOverlay_36 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #201f1c, #494741);
    opacity: 0;
    transition: opacity .1s linear;
    pointer-events: none;
}

.Checkbox_base_36:hover .Checkbox_inputHoverOverlay_36 {
        opacity: .8;
    }

.Checkbox_base_36.Checkbox_base__mouseDown_45:hover .Checkbox_inputHoverOverlay_36 {
        opacity: 0;
    }

.Checkbox_highlight_b8 {
    background: no-repeat 50% / contain;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .1s linear;
    pointer-events: none;
}

.Checkbox_base__checked_a2 .Checkbox_highlight_b8 {
        opacity: 1;
    }

.Checkbox_base__checked_a2.Checkbox_base__disabled_08 .Checkbox_highlight_b8 {
        opacity: 0;
    }

.Checkbox_base__small_18 .Checkbox_highlight_b8 {
        width: 34rem;
        height: 34rem;
    }

.Checkbox_base__medium_12 .Checkbox_highlight_b8 {
        width: 40rem;
        height: 40rem;
    }

.Checkbox_base__large_f7 .Checkbox_highlight_b8 {
        width: 46rem;
        height: 46rem;
    }

.Checkbox_base__extraLarge_c9 .Checkbox_highlight_b8 {
        width: 54rem;
        height: 54rem;
    }

.Checkbox_base__main_3a.Checkbox_base__small_18 .Checkbox_highlight_b8 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.checkbox_s');
    }

.Checkbox_base__main_3a.Checkbox_base__medium_12 .Checkbox_highlight_b8 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.checkbox_m');
    }

.Checkbox_base__main_3a.Checkbox_base__large_f7 .Checkbox_highlight_b8 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.checkbox_l');
    }

.Checkbox_base__main_3a.Checkbox_base__extraLarge_c9 .Checkbox_highlight_b8 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.checkbox_xl');
    }

.Checkbox_base__primary_ab.Checkbox_base__small_18 .Checkbox_highlight_b8 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.checkbox_s_green');
    }

.Checkbox_base__primary_ab.Checkbox_base__medium_12 .Checkbox_highlight_b8 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.checkbox_m_green');
    }

.Checkbox_base__primary_ab.Checkbox_base__large_f7 .Checkbox_highlight_b8 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.checkbox_l_green');
    }

.Checkbox_base__primary_ab.Checkbox_base__extraLarge_c9 .Checkbox_highlight_b8 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.checkbox_xl_green');
    }

.Checkbox_checkmark_60 {
    background: center / contain no-repeat;
    opacity: 0;
    position: absolute;
    left: 0;
}

.Checkbox_base__checked_a2 .Checkbox_checkmark_60 {
        /* Using a transition causes the image to blink on appear */
        animation: Checkbox_fadeIn_1a .1s linear 0 normal forwards;
    }

.Checkbox_base__checked_a2.Checkbox_base__disabled_08 .Checkbox_checkmark_60 {
        opacity: .5;
    }

.Checkbox_base__small_18 .Checkbox_checkmark_60 {
        width: 11rem;
        height: 11rem;
    }

.Checkbox_base__medium_12 .Checkbox_checkmark_60 {
        width: 19rem;
        height: 20rem;
        transform: translate(1rem, -4rem);
    }

.Checkbox_base__large_f7 .Checkbox_checkmark_60 {
        width: 23rem;
        height: 24rem;
        transform: translate(3rem, -3rem);
    }

.Checkbox_base__extraLarge_c9 .Checkbox_checkmark_60 {
        width: 36rem;
        height: 36rem;
        transform: translate(2rem, -8rem);
    }

.Checkbox_base__main_3a.Checkbox_base__small_18 .Checkbox_checkmark_60 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.icon_checked_s');
    }

.Checkbox_base__main_3a.Checkbox_base__medium_12 .Checkbox_checkmark_60 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.icon_checked_m');
    }

.Checkbox_base__main_3a.Checkbox_base__large_f7 .Checkbox_checkmark_60 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.icon_checked_l');
    }

.Checkbox_base__main_3a.Checkbox_base__extraLarge_c9 .Checkbox_checkmark_60 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.icon_checked_xl');
    }

.Checkbox_base__primary_ab.Checkbox_base__small_18 .Checkbox_checkmark_60 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.icon_checked_s_green');
    }

.Checkbox_base__primary_ab.Checkbox_base__medium_12 .Checkbox_checkmark_60 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.icon_checked_m_green');
    }

.Checkbox_base__primary_ab.Checkbox_base__large_f7 .Checkbox_checkmark_60 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.icon_checked_l_green');
    }

.Checkbox_base__primary_ab.Checkbox_base__extraLarge_c9 .Checkbox_checkmark_60 {
        background-image: url('R.images.gui.maps.icons.components.checkbox.icon_checked_xl_green');
    }

.Checkbox_label_bc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
    padding-left: 10rem;
    position: relative;
}

.Checkbox_labelContent_64 {
    color: #8c8c7e;
    font-size: 14rem;
    line-height: 1.15;
    transition: color .1s linear;
}

.Checkbox_base__extraLarge_c9 .Checkbox_labelContent_64 {
        font-size: 16rem;
    }

.Checkbox_base_36:hover .Checkbox_labelContent_64 {
        color: #c8c8b6;
    }

.Checkbox_base__disabled_08 .Checkbox_labelContent_64,
    .Checkbox_base__disabled_08:hover .Checkbox_labelContent_64 {
        color: #37362e;
    }

@keyframes Checkbox_fadeIn_1a {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Checkbox_blink_5e {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.Currency_base_57 {
    display: flex;
    align-items: center;
    position: relative;
}
.Currency_icon_c5 {
    --icon-height: 16rem;
    --icon-width: var(--icon-height);
    width: var(--icon-width);
    height: var(--icon-height);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.Currency_base__small_af .Currency_icon_c5,
    .Currency_base__big_bc .Currency_icon_c5,
    .Currency_base__large_65 .Currency_icon_c5,
    .Currency_base__extraLarge_4d .Currency_icon_c5 {
        transform: translateY(3rem);
    }
.Currency_icon__credits-small_9b {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
    }
.Currency_icon__credits-big_96 {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_1');
    }
.Currency_icon__credits-large_ac {
        --icon-height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_silver');
    }
.Currency_base__large_65 .Currency_icon__credits-large_ac {
            transform: translateY(4rem);
        }
.Currency_icon__credits-extraLarge_16 {
        --icon-height: 80rem;
        margin-right: -2rem;
        background-image: url('R.images.gui.maps.icons.library.credits_icon_80x80');
    }
.Currency_icon__gold-small_86 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
    }
.Currency_base__small_af .Currency_icon__gold-small_86 {
            transform: translateY(2rem);
        }
.Currency_icon__gold-big_15 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_1');
    }
.Currency_base__big_bc .Currency_icon__gold-big_15 {
            transform: translateY(4rem);
        }
.Currency_icon__gold-large_36 {
        --icon-height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_gold');
    }
.Currency_base__large_65 .Currency_icon__gold-large_36 {
            transform: translateY(4rem);
        }
.Currency_icon__gold-extraLarge_a0 {
        --icon-height: 80rem;
        background-image: url('R.images.gui.maps.icons.library.gold_icon_80x80');
    }
.Currency_icon__crystal-small_27 {
        background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
    }
.Currency_base__small_af .Currency_icon__crystal-small_27 {
            transform: translateY(2rem);
        }
.Currency_icon__crystal-big_cd {
        --icon-height: 22rem;
        --icon-width: 23rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_23x22');
    }
.Currency_base__big_bc .Currency_icon__crystal-big_cd {
            transform: translateY(4rem);
        }
.Currency_icon__crystal-large_d3 {
        --icon-height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_bonds');
    }
.Currency_icon__crystal-extraLarge_09 {
        --icon-height: 80rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_80x80');
    }
.Currency_base__extraLarge_4d .Currency_icon__crystal-extraLarge_09 {
            transform: translateY(7rem);
        }
.Currency_icon__xp-small_a7 {
        background-image: url('R.images.gui.maps.icons.library.NormalXpIcon');
    }
.Currency_base__small_af .Currency_icon__xp-small_a7 {
            transform: translateY(1rem);
        }
.Currency_icon__xp-big_97 {
        --icon-height: 22rem;
        --icon-width: 23rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.xpIcon_23x22');
    }
.Currency_base__big_bc .Currency_icon__xp-big_97 {
            transform: translateY(2rem);
        }
.Currency_icon__xp-large_6b {
        --icon-height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.exp');
    }
.Currency_icon__xp-extraLarge_67 {
        --icon-height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.xp_tank_icon_80x80');
    }
.Currency_icon__freeXP-small_ca {
        background-image: url('R.images.gui.maps.icons.library.freeXPIcon16x16');
    }
.Currency_base__small_af .Currency_icon__freeXP-small_ca {
            transform: translateY(1rem);
        }
.Currency_icon__freeXP-big_21 {
        --icon-height: 24rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.freeXPIconBig24x24');
    }
.Currency_icon__freeXP-large_c8 {
        --icon-height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.freeExp');
    }
.Currency_icon__freeXP-extraLarge_58 {
        --icon-height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.free_xp_icon_80x80');
    }
.Currency_base__extraLarge_4d .Currency_icon__freeXP-extraLarge_58 {
            transform: translateY(4rem);
        }
.Currency_icon__equipCoin-small_32 {
        --icon-height: 16rem;
        margin-right: -2rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoin_1');
    }
.Currency_base__small_af .Currency_icon__equipCoin-small_32 {
            transform: translateX(-1rem) translateY(1rem);
        }
.Currency_icon__equipCoin-big_79 {
        --icon-height: 24rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoinBig');
    }
.Currency_base__big_bc .Currency_icon__equipCoin-big_79 {
            transform: translateX(-5rem) translateY(3rem);
        }
.Currency_icon__equipCoin-large_2c {
        --icon-height: 48rem;
        margin-right: 2rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.equipCoin');
    }
.Currency_icon__equipCoin-extraLarge_8a {
        --icon-height: 80rem;
        margin-right: 8rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoin_icon_80x80');
    }
.Currency_base__extraLarge_4d .Currency_icon__equipCoin-extraLarge_8a {
            transform: translateX(2rem) translateY(4rem);
        }
.Currency_value_e1 {
    /* font-size inherit does not work here, so 1em means the size does not change */
    /* stylelint-disable-next-line */
    --font-size: 1em;
    font-size: var(--font-size);
    position: relative;
    z-index: 2;
}
.Currency_base__small_af .Currency_value_e1 {
        padding-right: 2rem;
    }
.Currency_base__big_bc .Currency_value_e1 {
        --font-size: 24rem;
        padding-right: 5rem;
        font-weight: 700;
    }
.Currency_base__big_bc .Currency_value_e1 + .Currency_icon_c5 {
            font-size: 24rem;
        }
.Currency_base__large_65 .Currency_value_e1 {
        --font-size: 36rem;
        font-weight: 700;
    }
.Currency_base__large_65 .Currency_value_e1 + .Currency_icon_c5 {
            font-size: 36rem;
        }
.Currency_base__extraLarge_4d .Currency_value_e1 {
        --font-size: 56rem;
        font-weight: 700;
    }
.Currency_value__freeXP_cb {
        color: #F2F2F7;
    }
.Currency_value__credits_76 {
        color: #CED9D9;
    }
.Currency_value__gold_dd {
        color: #FFC363;
    }
.Currency_value__xp_b0,
    .Currency_value__crystal_19,
    .Currency_value__equipCoin_d0 {
        color: #C9C9B6;
    }
.Currency_base__small_af .Currency_value__notEnough_56 {
            color: #FF2717;
        }
.Currency_base__big_bc .Currency_value__notEnough_56 {
            color: #B70000;
        }
.Currency_base__large_65 .Currency_value__notEnough_56 {
            color: #B70000;
        }
.Currency_base__extraLarge_4d .Currency_value__notEnough_56 {
            color: #B70000;
        }
.Currency_stock_87 {
    height: 13rem;
    color: #FFDD99;
    font-size: 13rem;
    line-height: 1;
    position: relative;
    z-index: 0;
    pointer-events: none;
}
.Currency_stock__indent_a1 {
        margin-left: 2rem;
    }
.Currency_base__small_af .Currency_stock_87 {
        transform: translateY(0rem);
    }
.Currency_base__big_bc .Currency_stock_87 {
        transform: translateY(4rem);
    }
.Currency_base__large_65 .Currency_stock_87 {
        transform: translateY(10rem);
    }
.Currency_base__extraLarge_4d .Currency_stock_87 {
        transform: translateY(18rem);
    }
.Currency_stock__interactive_93 {
        pointer-events: auto;
    }
.Currency_stockBackground_82 {
    width: 80rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -27rem;
    bottom: 0;
    z-index: -1;
    transform: translateY(17rem);
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_39 {
        flex-direction: row-reverse;
    }
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
    .TextButton_icon__forward_59 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_59 {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_53 {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_33 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
    .TextButton_icon__forward_59 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_53 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_33 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_b6:hover .TextButton_glow_a4 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_glow_a4 {
        opacity: 0;
    }
.TextButton_caption_82 {
    position: relative;
    transition: color .16s, text-shadow .16s;
}
.TextButton_caption__back_b9,
    .TextButton_caption__forward_4e,
    .TextButton_caption__close_36 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_b6:hover .TextButton_caption__back_b9, .TextButton_base_b6:hover .TextButton_caption__forward_4e, .TextButton_base_b6:hover .TextButton_caption__close_36 {
            color: #fffa9f;
        }
.TextButton_base_b6:active .TextButton_caption__back_b9, .TextButton_base_b6:active .TextButton_caption__forward_4e, .TextButton_base_b6:active .TextButton_caption__close_36 {
            color: #FFDD99;
        }
.TextButton_caption__info_23 {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_b6:hover .TextButton_caption__info_23 {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_b6:active .TextButton_caption__info_23 {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
        margin-left: 8rem;
    }
.TextButton_base__right_39 .TextButton_goto_e7 {
        margin-right: 8rem;
    }
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
        left: -4rem;
    }
.TextButton_base__right_39 .TextButton_shine_e2 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_b6:hover .TextButton_shine_e2 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_shine_e2 {
        opacity: 0;
    }

.CurrencyBalance_base_e7 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40rem;
}

.CurrencyBalance_currency_b6 {
    height: 20rem;
    margin-left: 20rem;
    padding-left: 20rem;
    background-repeat: no-repeat;
    background-size: 16rem 16rem;
    color: #c9c9b6;
    font-size: 14rem;
}

.CurrencyBalance_currency__credit_7f {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
        background-position: 0 2rem;
        color: #ced9d9;
    }

.CurrencyBalance_currency__gold_27 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
        background-position: 0 1rem;
        color: #ffc363;
    }

.CurrencyBalance_currency__crystal_7d {
        background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
    }

.CurrencyBalance_currency__freexp_06 {
        background-image: url('R.images.gui.maps.icons.library.FreeXpIcon_2');
        background-position: 0 1rem;
    }

.App_base_8a {
    width: 100%;
    height: 100%;
    background-color: rgba(19,18,16, .5);
}

.App_funds_61 {
    position: absolute;
    top: 0;
    right: 32rem;
}

.App_close_ce {
    position: absolute;
    top: 60rem;
    right: 32rem;
}

.App_content_59 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.App_moduleIcon_12 {
    width: 180rem;
    height: 135rem;
    margin-top: -135rem;
}

.App_title_e7 {
    margin-top: 45rem;
    color: #F2F2F7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.App_cannotMountContainer_36 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24rem;
}

.App_cannotMountReason_7b {
    margin-top: 19rem;
    color: #FF2717;
}

.App_depotText_79 {
    margin-top: 5rem;
    color: #8C8C7E;
}

.App_line_a8 {
    width: 720rem;
    height: 20rem;
    margin-top: 24rem;
    margin-bottom: 24rem;
    background: url('R.images.gui.maps.icons.research.line') no-repeat center / contain;
}

.App_costContainer_7a {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 180rem;
    min-width: 180rem;
}

.App_costLabel_38 {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-right: 4rem;
    color: #8C8C7E;
}

.App_checkboxContainer_17 {
    display: flex;
    align-items: center;
    margin-top: 16rem;
}

.App_checkboxLabel_42 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem;
}

.App_prevModule_b4 {
    color: #FEAB34;
}

.App_infoIcon_03 {
    width: 14rem;
    height: 14rem;
    margin-left: 5rem;
    background: url('R.images.gui.maps.icons.research.icon_info_white') no-repeat center / cover;
}

.App_buttonsContainer_f9 {
    display: flex;
    justify-content: center;
    width: 220rem;
    margin-top: 24rem;
}

.App_wideButton_97 {
    width: 160rem;
    margin: 0 6rem;
}

