.TextButton_base_a231c {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_bfac3 {
        flex-direction: row-reverse;
    }
.TextButton_icon_cdfc0 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_fc1bb,
    .TextButton_icon__forward_efa2d {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_efa2d {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_e2f0f {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_e32c0 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_d6e04 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_fc1bb .TextButton_glow_d6e04,
    .TextButton_icon__forward_efa2d .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_e2f0f .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_e32c0 .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_a231c:hover .TextButton_glow_d6e04 {
        opacity: 1;
    }
.TextButton_base_a231c:active .TextButton_glow_d6e04 {
        opacity: 0;
    }
.TextButton_caption_f4e8d {
    position: relative;
    transition: color .16s, text-shadow .16s;
}
.TextButton_caption__back_d358d,
    .TextButton_caption__forward_ff93d,
    .TextButton_caption__close_fc554 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_a231c:hover .TextButton_caption__back_d358d, .TextButton_base_a231c:hover .TextButton_caption__forward_ff93d, .TextButton_base_a231c:hover .TextButton_caption__close_fc554 {
            color: #fffa9f;
        }
.TextButton_base_a231c:active .TextButton_caption__back_d358d, .TextButton_base_a231c:active .TextButton_caption__forward_ff93d, .TextButton_base_a231c:active .TextButton_caption__close_fc554 {
            color: #FFDD99;
        }
.TextButton_caption__info_c263a {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_a231c:hover .TextButton_caption__info_c263a {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_a231c:active .TextButton_caption__info_c263a {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_d3960 {
    color: #7c7c6c;
}
.TextButton_base__left_ec79d .TextButton_goto_d3960 {
        margin-left: 8rem;
    }
.TextButton_base__right_bfac3 .TextButton_goto_d3960 {
        margin-right: 8rem;
    }
.TextButton_shine_f8873 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ec79d .TextButton_shine_f8873 {
        left: -4rem;
    }
.TextButton_base__right_bfac3 .TextButton_shine_f8873 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_a231c:hover .TextButton_shine_f8873 {
        opacity: 1;
    }
.TextButton_base_a231c:active .TextButton_shine_f8873 {
        opacity: 0;
    }

.Background_base_eea46 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #141823;
}

.Background_image_b1c9e {
    width: 1470rem;
    height: 767rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mediaSmall .Background_image_b1c9e {
        width: 1900rem;
        height: 992rem;
}

.mediaMedium .Background_image_b1c9e {
        width: 2300rem;
        height: 1200rem;
}

.mediaLarge .Background_image_b1c9e {
        width: 2700rem;
        height: 1409rem;
}

.mediaExtraLarge .Background_image_b1c9e {
        width: 3640rem;
        height: 1900rem;
}

.App_base_c3b3d {
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: relative;
    transition: opacity 0;
}

    .App_base__visible_f130e {
        opacity: 1;
    }
.App_content_a0a3c {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.App_backButton_e77c0 {
    position: absolute;
    top: 11rem;
    left: 8rem;
}
.mediaMedium .App_backButton_e77c0 {
        top: 31rem;
        left: 28rem;
}

.HorizontalBar_base_fa517 {
    display: flex;
    width: 100%;
    height: 13rem;
    visibility: hidden;
    position: relative;
}

    .HorizontalBar_base__active_ad89b {
        visibility: visible;
    }

    .HorizontalBar_base_fa517 .disable,
    .HorizontalBar_base_fa517 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.HorizontalBar_leftButton_eb8c3,
.HorizontalBar_rightButton_f5116 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_eb8c3:hover, .HorizontalBar_rightButton_f5116:hover {
        opacity: 1;
    }

.HorizontalBar_leftButton_eb8c3 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_f5116 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_fd3af {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_bb7e0 {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem 7rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_bb7e0:hover {
        opacity: 1;
    }

.HorizontalBar_rail_a3d9e {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_a3d9e:hover {
        opacity: .7;
    }


.HorizontalScroll_base_a33a9 {
    width: 100%;
}

.HorizontalScroll_wrapper_b622e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_a2315 {
    width: 100%;
    margin-bottom: 7rem;
}

.VerticalBar_base_b5610 {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    visibility: hidden;
    position: relative;
}

    .VerticalBar_base__active_be260 {
        visibility: visible;
    }

    .VerticalBar_base_b5610 .disable,
    .VerticalBar_base_b5610 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.VerticalBar_topButton_c2227,
.VerticalBar_bottomButton_ef09b {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_topButton_c2227:hover, .VerticalBar_bottomButton_ef09b:hover {
        opacity: 1;
    }

.VerticalBar_topButton_c2227 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.VerticalBar_bottomButton_ef09b {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.VerticalBar_track_e3345 {
    flex: 1;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
}

.VerticalBar_thumb_a34e7 {
    display: none;
    flex: 0 0 13rem;
    width: 13rem;
    height: 100%;
    min-height: 20rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb') no-repeat center / 7rem 8rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_thumb_a34e7:hover {
        opacity: 1;
    }

.VerticalBar_rail_ff232 {
    width: 0;
    height: 100%;
    border-left: 1rem solid #2f2e24;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
}

.VerticalBar_rail_ff232:hover {
        opacity: .7;
    }


.VerticalScroll_content_fe263 {
    height: 100%;
    overflow-y: hidden;
}

.VerticalScroll_defaultScroll_e27f5 {
    display: flex;
}

.VerticalScroll_bar_b8700 {
    flex: 1;
    margin-left: 7rem;
}

.VerticalScroll_area_b5a82 {
    flex: 1;
}

.FormatText_base_f27a4 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_ae104 {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_c12a8 {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_c5665 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_fff65 {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_d24b3 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_ee7d9 {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_a5b8c {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a0c09 {
    color: #37362E;
}

.FormatTextWithColorTags_red_ad70c {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_afb30 {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_e47d1 {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_e08c4 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_f2e96 {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_ed7be {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_b0875 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_d0263 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_f19b8 {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_fd3be {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_fd915 {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_fdafa {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_ab90e {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_e83f5 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_aa30c {
    color: #A29B70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_bf7ac {
    width: 0;
    color: #8C8C7E;
}

.Card_base_b79b4 {
    width: 260rem;
    height: 171rem;
    position: relative;
    cursor: pointer;
}
    .mediaSmall .Card_base_b79b4 {
        width: 312rem;
        height: 205rem;
}
    .mediaMedium .Card_base_b79b4 {
        width: 338rem;
        height: 222rem;
}
.Card_wrapper_cb355 {
    width: 100%;
    height: 100%;
    border: 1rem solid rgba(255,255,255, .2);
    border-radius: 2rem;
    background-color: rgba(0,0,0, .3);
    overflow: hidden;
    position: relative;
}
.Card_nationImage_ddcc3 {
    width: 213rem;
    height: 177rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 0;
    left: 0;
}
.Card_vehicleImage_ec67f {
    width: 180rem;
    height: 134rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
}
.Card_overlay_c0464 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background-color: rgba(38, 37, 33, .8);
    opacity: 0;
    position: relative;
    transition: opacity .2s linear;
}
.Card_base_b79b4:hover .Card_overlay_c0464 {
        opacity: 1;
    }
.Card_text_c9fe1 {
    padding: 0 12rem;
    position: absolute;
    top: 126rem;
    transform: translateY(0%);
    transition: top .2s cubic-bezier(.64, .04, .35, 1), transform .2s cubic-bezier(.64, .04, .35, 1);
}
.mediaSmall .Card_text_c9fe1 {
        top: 160rem;
}
.mediaMedium .Card_text_c9fe1 {
        padding: 0 18rem;
        top: 169rem;
}
.Card_base_b79b4:hover .Card_text_c9fe1 {
        top: 85.5rem;
        transform: translateY(-50%);
    }
.mediaSmall .Card_base_b79b4:hover .Card_text_c9fe1 {
            top: 102.5rem;
}
.mediaMedium .Card_base_b79b4:hover .Card_text_c9fe1 {
            top: 111rem;
}
.Card_vehicleName_b842d {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 8rem;
}
.mediaMedium .Card_vehicleName_b842d {
        color: #E9E2BF;
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
}
.Card_additionsText_bc891 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    opacity: 0;
    transition: opacity .2s ease-in;
}
.Card_base_b79b4:hover .Card_additionsText_bc891 {
        opacity: 1;
    }
.Card_crewIcon_feabd {
    width: 24rem;
    height: 24rem;
    margin-top: -2rem;
    background: url('R.images.gui.maps.icons.battleMatters.vehicleSelection.prize_crew') no-repeat center / contain;
}
.Card_hangarIcon_a1ce8 {
    width: 24rem;
    height: 24rem;
    margin-top: -2rem;
    background: url('R.images.gui.maps.icons.battleMatters.vehicleSelection.prize_hangarslot') no-repeat center / contain;
}
.Card_compareButton_ed934 {
    display: none;
    width: 48rem;
    height: 36rem;
    background: url('R.images.gui.maps.icons.battleMatters.vehicleSelection.compare_btn') no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.Card_base_b79b4:hover .Card_compareButton_ed934 {
        display: block;
    }

.Cards_base_c9bc5 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.Cards_card_c2797 {
    margin-right: 16rem;
    margin-bottom: 16rem;
}

.mediaSmall .Cards_card_c2797 {
        margin-right: 19rem;
        margin-bottom: 19rem;
}

.mediaMedium .Cards_card_c2797 {
        margin-right: 21rem;
        margin-bottom: 21rem;
}

.Cards_card__lastInRow_d09ba {
        margin-right: 0;
    }

.mediaSmall .Cards_card__lastInRow_d09ba {
            margin-right: 0;
}

.DefaultView_base_ca5d0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.DefaultView_container_f3cad {
    width: 812rem;
}

.mediaSmall .DefaultView_container_f3cad {
        width: 974rem;
}

.mediaMedium .DefaultView_container_f3cad {
        width: 1056rem;
}

.DefaultView_title_cdaac {
    color: #FEFEEC;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 35rem;
    margin-bottom: 6rem;
}

.mediaMedium .DefaultView_title_cdaac {
        color: #FEFEEC;
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
        margin-top: 45rem;
        margin-bottom: 10rem;
}

.DefaultView_subtitle_b3274 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 15rem;
    text-align: center;
    white-space: pre-wrap;
}

.mediaMedium .DefaultView_subtitle_b3274 {
        color: #E9E2BF;
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
}

.DefaultView_tokenExpiring_ed0cc {
    margin-bottom: 16rem;
}

.DefaultView_noFilteredVehicles_efc37 {
    margin-top: 68rem;
}

.DefaultView_cards_d351f {
    flex: 1 1 auto;
    width: 100%;
    /* to avoid clicks from the bottom panel - see WOTD-214022*/
    margin-bottom: 1rem;
    position: relative;
}

.DefaultView_scrollSensitiveArea_f516d {
    width: 100%;
    height: 100%;
}

.DefaultView_scrollableArea_ea953 {
    padding-top: 20rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.DefaultView_scrollBar_e34e6 {
    height: 98%;
    position: absolute;
    top: 0;
    right: 8rem;
}

.CButton_base_bb13f {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, 0.6);
    position: relative;
    cursor: pointer;
}

    .CButton_base__main_dd05d,
    .CButton_base__primary_c75a2,
    .CButton_base__primaryGreen_ae65b,
    .CButton_base__primaryRed_b1341,
    .CButton_base__secondary_f2c20 {
        background-size: 100% 100%;
    }

    .CButton_base__main_dd05d {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_c75a2 {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_ae65b {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_b1341 {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_f2c20 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_f452b {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, 0.3), 0 0 0 1rem rgba(255,255,255, 0.15) inset;
        background-color: rgba(0,0,0, 0.15);
    }

    .CButton_base__extraSmall_e1273 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_c20a3,
    .CButton_base__medium_ef59a {
        padding: 0 20rem;
    }

    .CButton_base__small_c20a3 {
        min-height: 18rem;
    }

    .CButton_base__medium_ef59a {
        min-height: 32rem;
    }

    .CButton_base__large_bafd5 {
        min-height: 48rem;
    }

    .CButton_base__disabled_eef7a {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e957b {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_dd05d .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_c75a2 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_ae65b .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_b1341 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_f2c20 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_ccd7e {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_f2bb4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_b0875 .CButton_state_f2bb4 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, 0.2);
    }
.CButton_stateHighlightHover_bd0cb,
.CButton_stateHighlightActive_e9a8a,
.CButton_stateDisabled_ed209 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_bd0cb {
    background-image: linear-gradient(180deg, rgba(252,248,235, 0.25) 0%, rgba(252,248,235, 0.1) 50%, rgba(255,255,255, 0) 100%);
    opacity: 0;
}
.CButton_base_bb13f:hover .CButton_stateHighlightHover_bd0cb {
        opacity: 1;
    }
.CButton_base_bb13f:active .CButton_stateHighlightHover_bd0cb {
        opacity: 0;
    }
.CButton_base__disabled_eef7a:hover .CButton_stateHighlightHover_bd0cb {
        opacity: 0;
    }
.CButton_base__ghost_f452b .CButton_stateHighlightHover_bd0cb {
        box-shadow: 0 15rem 12rem 0 rgba(242,242,230, 0.11) inset;
        background-color: rgba(8,6,0, 0.18);
        background-image: none;
    }
.CButton_stateHighlightActive_e9a8a {
    background-image: linear-gradient(180deg, rgba(0,0,0, 0.3) 0%, rgba(0,0,0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_db27d .CButton_stateHighlightActive_e9a8a {
        opacity: 1;
    }
.CButton_stateDisabled_ed209 {
    background-color: rgba(0,0,0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_eef7a .CButton_stateDisabled_ed209 {
        visibility: inherit;
    }
.CButton_content_a99fc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_a99fc[lang='ja'],
    .CButton_content_a99fc[lang='ko'],
    .CButton_content_a99fc[lang='zh_tw'],
    .CButton_content_a99fc[lang='zh_sg'],
    .CButton_content_a99fc[lang='zh_cn'],
    .CButton_content_a99fc[lang='th'] {
        font-weight: 400;
    }
.CButton_base__main_dd05d .CButton_content_a99fc,
    .CButton_base__primaryRed_b1341 .CButton_content_a99fc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_f2c20 .CButton_content_a99fc {
        color: rgba(254,254,236, 0.75);
    }
.CButton_base__primaryGreen_ae65b .CButton_content_a99fc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
.CButton_base__extraSmall_e1273 .CButton_content_a99fc {
        font-size: 12rem;
    }
.CButton_base__small_c20a3 .CButton_content_a99fc {
        font-size: 14rem;
    }
.CButton_base__medium_ef59a .CButton_content_a99fc {
        font-size: 15rem;
    }
.CButton_base__large_bafd5 .CButton_content_a99fc {
        font-size: 18rem;
    }
.CButton_base__disabled_eef7a .CButton_content_a99fc {
        opacity: 0.6;
    }

.NoFilteredVehicles_base_a93d5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NoFilteredVehicles_header_d7911 {
    display: flex;
    align-items: center;
    margin-bottom: 15rem;
}

.NoFilteredVehicles_alertIcon_e2deb {
    width: 18rem;
    height: 18rem;
    margin-right: 4rem;
    background: url('R.images.gui.maps.icons.battleMatters.vehicleSelection.alert') no-repeat center / contain;
}

.NoFilteredVehicles_text_f89f1 {
    color: #C9C9B6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.InputControl_base_f4ab4 {
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 100%;
    border: 1rem solid #464538;
    border-radius: 2rem;
    box-shadow: inset 0 0 1rem #000, inset 0 0 8rem #000;
    position: relative;
    transition: border .3s ease-in-out;
    cursor: text;
}

    .InputControl_base__focused_ba7b6 {
        border-color: #626156;
    }

    .InputControl_base__alert_cb1b2 {
        border-color: #EE7000;
        box-shadow: inset 0 0 1rem #000, inset 0 0 8rem #000,
            inset 0 0 6rem #8d0d03;
    }

    .InputControl_base__error_e4c3f {
        border-color: #FF2717;
        box-shadow: inset 0 0 1rem #000, inset 0 0 8rem #000,
            inset 0 0 6rem #8d0d03;
    }

    .InputControl_base__done_cc223 {
        border-color: #7AB300;
    }

    .InputControl_base__disabled_e78dc {
        cursor: default;
    }

.InputControl_input_e57f3 {
    flex: 1;
    border: none;
    background-color: transparent;
    color: #8C8C7E;
    position: relative;
    z-index: 1;
}

.InputControl_base__small_cabee .InputControl_input_e57f3 {
    font-size: 12rem;
        padding: 1rem 4rem 2rem 8rem;
    }

.InputControl_base__medium_eeb01 .InputControl_input_e57f3 {
    font-size: 14rem;
        padding: 1rem 4rem 2rem 8rem;
    }

.InputControl_base__large_edb9f .InputControl_input_e57f3 {
    font-size: 16rem;
        padding: 4rem 6rem 5rem 12rem;
    }

.InputControl_base__withIcon_e7c92.InputControl_base__small_cabee .InputControl_input__search_a32c2 {
            padding-left: 20rem;
        }

.InputControl_base__withIcon_e7c92.InputControl_base__medium_eeb01 .InputControl_input__search_a32c2 {
            padding-left: 24rem;
        }

.InputControl_base__withIcon_e7c92.InputControl_base__large_edb9f .InputControl_input__search_a32c2 {
            padding-left: 36rem;
        }

.InputControl_base__disabled_e78dc .InputControl_input_e57f3 {
        color: #37362E;
        pointer-events: none;
    }

.InputControl_input_e57f3::selection {
        background-color: #8C8C7E;
        color: #37362E;
    }

.InputControl_disabled_bf6b4 {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.library.disabled_pattern') center / 9rem;
    opacity: .8;
    position: absolute;
}

.InputControl_placeholder_d9002 {
    color: #595950;
    position: absolute;
    left: 8rem;
    pointer-events: none;
}

.InputControl_base__small_cabee .InputControl_placeholder_d9002 {
    font-size: 12rem;
    }

.InputControl_base__medium_eeb01 .InputControl_placeholder_d9002 {
    font-size: 14rem;
    }

.InputControl_base__large_edb9f .InputControl_placeholder_d9002 {
    font-size: 16rem;
        left: 12rem;
    }

.InputControl_base__withIcon_e7c92.InputControl_base__small_cabee .InputControl_placeholder__search_aa544 {
            left: 20rem;
        }

.InputControl_base__withIcon_e7c92.InputControl_base__medium_eeb01 .InputControl_placeholder__search_aa544 {
            left: 24rem;
        }

.InputControl_base__withIcon_e7c92.InputControl_base__large_edb9f .InputControl_placeholder__search_aa544 {
            left: 36rem;
        }

.InputControl_base__disabled_e78dc .InputControl_placeholder_d9002 {
        color: #37362E;
    }

.InputControl_icon_c3178 {
    background: no-repeat center / contain;
    position: absolute;
    left: 8rem;
    z-index: 1;
    pointer-events: none;
}

.InputControl_base__small_cabee .InputControl_icon__search_ee1cf {
            width: 8rem;
            height: 8rem;
        }

.InputControl_base__medium_eeb01 .InputControl_icon__search_ee1cf {
            width: 10rem;
            height: 10rem;
        }

.InputControl_base__large_edb9f .InputControl_icon__search_ee1cf {
            width: 16rem;
            height: 16rem;
            left: 12rem;
        }

.InputControl_base__disabled_e78dc .InputControl_icon_c3178 {
        opacity: .5;
    }

.InputControl_clear_b919e {
    opacity: .6;
    position: absolute;
    right: 4rem;
    z-index: 1;
    cursor: pointer;
}

.InputControl_clear_b919e:hover {
        opacity: 1;
    }

.InputControl_base__small_cabee .InputControl_clear_b919e {
        width: 12rem;
        height: 12rem;
        background: url('R.images.gui.maps.icons.components.input.close_small') no-repeat center / 8rem;
    }

.InputControl_base__medium_eeb01 .InputControl_clear_b919e {
        width: 14rem;
        height: 14rem;
        background: url('R.images.gui.maps.icons.components.input.close_medium') no-repeat center / 10rem;
    }

.InputControl_base__large_edb9f .InputControl_clear_b919e {
        width: 20rem;
        height: 20rem;
        background: url('R.images.gui.maps.icons.components.input.close_large') no-repeat center / 16rem;
        right: 6rem;
    }

.HelperMessage_base_eb8f7 {
    display: flex;
    width: 100%;
    opacity: 0;
    transition: opacity ease .2s;
    pointer-events: none;
}

    .HelperMessage_base__shown_cb0a1 {
        opacity: 1;
    }

.HelperMessage_icon_f1876 {
    width: 16rem;
    height: 16rem;
    margin-right: 5rem;
    background: no-repeat center / contain;
}

.HelperMessage_message_b8293 {
    flex: 1;
}

.HelperMessage_message__alert_a0180 {
        color: #EE7000;
    }

.HelperMessage_message__error_d77b3 {
        color: #FF2717;
    }

.HelperMessage_message__done_d0460 {
        color: #7AB300;
    }

.Input_base_a5987 {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0, .6);
    background-color: rgba(23,23,15, .8);
    position: relative;
}

    .Input_base__small_faf1a {
        height: 18rem;
    }

    .Input_base__medium_fb2c5 {
        height: 24rem;
    }

    .Input_base__large_c8881 {
        height: 32rem;
    }

.Input_helper_c00ba {
    height: 100%;
    position: absolute;
    top: 3rem;
    left: 0;
    transform: translateY(100%);
}

.PopoverDecorator_base_d0107 {
    display: flex;
    position: absolute;
}

.PopoverDecorator_decorator_b4f33 {
    padding: 58rem;
    border-image-source: url('R.images.gui.maps.icons.popovers.popover_bg');
    border-image-slice: 90 fill;
    border-image-width: 90rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.PopoverDecorator_arrow_ef5d0 {
    background: no-repeat 0 0 / contain;
    position: absolute;
}

.PopoverDecorator_arrow__bottom_ebbbc,
    .PopoverDecorator_arrow__top_bb330 {
        width: 301rem;
        height: 90rem;
        margin: 0 58rem;
        background-image: url('R.images.gui.maps.icons.popovers.popover_arrow_top');
        left: 50%;
    }

.PopoverDecorator_arrow__left_d50c2,
    .PopoverDecorator_arrow__right_ffef7 {
        width: 84rem;
        height: 181rem;
        margin: 58rem 0;
        background-image: url('R.images.gui.maps.icons.popovers.popover_arrow_left');
        top: 50%;
    }

.PopoverDecorator_arrow__left_d50c2 {
        right: 10rem;
        transform: scaleX(-1) translateY(-90rem);
    }

.PopoverDecorator_arrow__right_ffef7 {
        left: 10rem;
        transform: translateY(-90rem);
    }

.PopoverDecorator_arrow__top_bb330 {
        bottom: 8rem;
        transform: scaleY(-1) translateX(-150rem);
    }

.PopoverDecorator_arrow__bottom_ebbbc {
        top: 8rem;
        transform: translateX(-150rem);
    }

.PopoverDecorator_closeBtn_dbed5 {
    width: 18rem;
    height: 18rem;
    background: url('R.images.gui.maps.icons.popovers.close_button_slim_up') no-repeat 0 0 / contain;
    position: absolute;
    top: 6rem;
    right: 6rem;
    z-index: 3;
    cursor: pointer;
}

.PopoverDecorator_closeBtn_dbed5:hover {
        filter: brightness(160%);
    }

.PopoverDecorator_closeBtn_dbed5:active {
        background-image: url('R.images.gui.maps.icons.popovers.close_button_slim_press');
        filter: brightness(100%);
    }

.PopoverDecorator_content_bc28d {
    position: relative;
    z-index: 2;
}

.SearchPanel_base_c2710 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 11rem;
    position: relative;
}

.SearchPanel_controls_e4311 {
    display: flex;
    align-items: center;
}

.SearchPanel_searchField_f1fe0 {
    width: 194rem;
    margin-right: 8rem;
}

.SearchPanel_input_a60c6 {
    height: 22rem;
}

.SearchPanel_filterButton_b2d7d {
    height: 20rem;
    padding-left: 13rem;
    padding-right: 9rem;
    overflow: hidden;
}

.SearchPanel_filterButtonIcon_a094a {
    width: 34rem;
    height: 24rem;
    background: url('R.images.gui.maps.icons.battleMatters.vehicleSelection.tank_filter') no-repeat center / contain;
}

.SearchPanel_divider_c4ec1 {
    height: 1rem;
    box-shadow: 0 1rem 3rem 1rem rgba(0,0,0, .25);
    background-color: rgba(255,255,255, .1);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.SearchResult_base_eae2f {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
}

.SearchResult_text_fc784 {
    margin-right: 8rem;
    color: #C9C9B6;
}

.SearchResult_filterApplied_b6511 {
    position: relative;
}

.SearchResult_filterAppliedIcon_a0650 {
    width: 81rem;
    height: 86rem;
    background: url('R.images.gui.maps.icons.battleMatters.vehicleSelection.filtered_count') no-repeat center / contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -21rem);
}

.SearchResult_showedCount_ff9f3 {
    color: #E9E2BF;
}

.SearchResult_filterApplied__empty_a5aab .SearchResult_showedCount_ff9f3 {
        color: #FF2717;
    }

.SearchResult_searchResults_f314c {
    position: relative;
}

.SearchResult_filterApplied__empty_a5aab .SearchResult_searchResults_f314c {
        animation: SearchResult_blink_bc2d0 1.5s infinite ease-in-out;
    }

.SearchResult_resetHoverArea_cab3e {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    margin-left: 5rem;
    border: 1rem solid rgba(190, 190, 190, .1);
    border-radius: 2rem;
    position: relative;
    transition: border-color .1s linear;
    cursor: pointer;
}

.SearchResult_resetHoverArea_cab3e:hover {
        border-color: rgba(190, 190, 190, .2);
    }

.SearchResult_resetIconBg_f8ad5 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#46453e, #211f19);
    opacity: 0;
    position: absolute;
    transition: opacity .1s linear;
}

.SearchResult_resetHoverArea_cab3e:hover .SearchResult_resetIconBg_f8ad5 {
        opacity: .8;
    }

.SearchResult_resetIcon_e2c3a {
    width: 9rem;
    height: 9rem;
    background: url('R.images.gui.maps.icons.battleMatters.vehicleSelection.close') no-repeat center / contain;
    position: relative;
    bottom: 1rem;
}

@keyframes SearchResult_blink_bc2d0 {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Timer_base_d60a2 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Timer_icon_b6407 {
    width: 38rem;
    height: 38rem;
    margin: 0 -5rem;
    background: url('R.images.gui.maps.icons.battleMatters.common.timer') no-repeat center / contain;
    position: relative;
    top: 1rem;
}

.TokenExpiring_base_bc206 {
    display: flex;
    align-items: center;
}

.TokenExpiring_glow_caea8 {
    width: 190rem;
    height: 22rem;
    background: url('R.images.gui.maps.icons.battleMatters.vehicleSelection.expiring_glow') no-repeat center / cover;
}

.mediaMedium .TokenExpiring_glow_caea8 {
        width: 279rem;
        background-image: url('R.images.gui.maps.icons.battleMatters.vehicleSelection.expiring_glow_large');
}

.TokenExpiring_glow__left_edcd1 {
        transform: rotate(180deg);
    }

.TokenExpiring_timer_dd8a6 {
    margin-right: 7rem;
}

.NoVehicles_base_e6867 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 103rem;
}
    .mediaMedium .NoVehicles_base_e6867 {
        padding-top: 123rem;
}
    .mediaLarge .NoVehicles_base_e6867 {
        padding-top: 193rem;
}

.NoVehicles_image_acb20 {
    width: 358rem;
    height: 220rem;
    background: url('R.images.gui.maps.icons.battleMatters.vehicleSelection.no_vehicles') no-repeat center / contain;
}

.mediaMedium .NoVehicles_image_acb20 {
        width: 480rem;
        height: 255rem;
        margin-bottom: 12rem;
        background-image: url('R.images.gui.maps.icons.battleMatters.vehicleSelection.no_vehicles_large');
}

.NoVehicles_title_acd6b {
    color: #FEFEEC;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10rem;
}

.mediaMedium .NoVehicles_title_acd6b {
        color: #FEFEEC;
        font-size: 24rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 12rem;
}

.NoVehicles_subtitle_b24f5 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.mediaMedium .NoVehicles_subtitle_b24f5 {
        color: #E9E2BF;
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
}

