/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_8ee77ed {
  display: flex;
  flex-direction: column;
  width: 368rem;
  padding-top: 18rem;
}

.App_title_f53d8db4 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0 20rem;
  color: rgba(238, 237, 233, 0.9);
  font-weight: 500;
  line-height: 100%;
}

.App_description_c94a25d1 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 15rem 20rem 0;
  color: rgba(238, 237, 233, 0.5);
}

.App_footer_6954e057 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 18rem;
  background: url(R.images.gui.maps.icons.userMissions.challenges.tooltipIcons.restart_tooltip_footer_bg)
    no-repeat center/cover;
  color: rgba(238, 237, 233, 0.9);
}

.App_icon_efac1a20 {
  margin-left: 5rem;
}

.App_separator_edcf04ac {
  width: 100%;
  height: 3rem;
  background: url(R.images.gui.maps.icons.userMissions.challenges.tooltipIcons.separator) no-repeat
    center/cover;
}

.App_textBlock_a1aa5c7e {
  margin: 20rem;
}

.App_currentNumber_d28826b0 {
  font-weight: 600;
}

.App_commonNumber_c5925018 {
  color: rgba(238, 237, 233, 0.5);
  font-weight: 600;
}

.App_currency_d28826b0 {
  font-weight: 600;
}
