.TooltipDecorator_base_bf61f {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_bf8f8 .TooltipDecorator_decorator_f4de8 {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.Currency_base_ed02c {
    display: flex;
    align-items: center;
    position: relative;
}
.Currency_icon_d34e3 {
    width: 16rem;
    height: 16rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.Currency_base__small_af876 .Currency_icon_d34e3,
    .Currency_base__big_f6388 .Currency_icon_d34e3,
    .Currency_base__large_fb228 .Currency_icon_d34e3,
    .Currency_base__extraLarge_d0b11 .Currency_icon_d34e3 {
        transform: translateY(3rem);
    }
.Currency_icon__credits-small_cb645 {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
    }
.Currency_icon__credits-big_bb614 {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_1');
    }
.Currency_icon__credits-large_b65af {
        width: 48rem;
        height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_silver');
    }
.Currency_base__large_fb228 .Currency_icon__credits-large_b65af {
            transform: translateY(4rem);
        }
.Currency_icon__credits-extraLarge_a4a53 {
        width: 80rem;
        height: 80rem;
        margin-right: -2rem;
        background-image: url('R.images.gui.maps.icons.library.credits_icon_80x80');
    }
.Currency_icon__gold-small_eee32 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
    }
.Currency_base__small_af876 .Currency_icon__gold-small_eee32 {
            transform: translateY(2rem);
        }
.Currency_icon__gold-big_e419a {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_1');
    }
.Currency_base__big_f6388 .Currency_icon__gold-big_e419a {
            transform: translateY(4rem);
        }
.Currency_icon__gold-large_c3a99 {
        width: 48rem;
        height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_gold');
    }
.Currency_base__large_fb228 .Currency_icon__gold-large_c3a99 {
            transform: translateY(4rem);
        }
.Currency_icon__gold-extraLarge_f2852 {
        width: 80rem;
        height: 80rem;
        background-image: url('R.images.gui.maps.icons.library.gold_icon_80x80');
    }
.Currency_icon__crystal-small_d8644 {
        background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
    }
.Currency_base__small_af876 .Currency_icon__crystal-small_d8644 {
            transform: translateY(2rem);
        }
.Currency_icon__crystal-big_f2873 {
        width: 23rem;
        height: 22rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_23x22');
    }
.Currency_base__big_f6388 .Currency_icon__crystal-big_f2873 {
            transform: translateY(4rem);
        }
.Currency_icon__crystal-large_cf068 {
        width: 48rem;
        height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_bonds');
    }
.Currency_icon__crystal-extraLarge_a9843 {
        width: 80rem;
        height: 80rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_80x80');
    }
.Currency_base__extraLarge_d0b11 .Currency_icon__crystal-extraLarge_a9843 {
            transform: translateY(7rem);
        }
.Currency_icon__xp-small_f3b46 {
        background-image: url('R.images.gui.maps.icons.library.NormalXpIcon');
    }
.Currency_base__small_af876 .Currency_icon__xp-small_f3b46 {
            transform: translateY(1rem);
        }
.Currency_icon__xp-big_c984a {
        width: 23rem;
        height: 22rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.xpIcon_23x22');
    }
.Currency_base__big_f6388 .Currency_icon__xp-big_c984a {
            transform: translateY(2rem);
        }
.Currency_icon__xp-large_e9a09 {
        width: 48rem;
        height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.exp');
    }
.Currency_icon__xp-extraLarge_f90f7 {
        width: 80rem;
        height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.xp_tank_icon_80x80');
    }
.Currency_icon__freeXP-small_bcda1 {
        background-image: url('R.images.gui.maps.icons.library.freeXPIcon16x16');
    }
.Currency_base__small_af876 .Currency_icon__freeXP-small_bcda1 {
            transform: translateY(1rem);
        }
.Currency_icon__freeXP-big_eb64e {
        width: 24rem;
        height: 24rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.freeXPIconBig24x24');
    }
.Currency_icon__freeXP-large_e46b0 {
        width: 48rem;
        height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.freeExp');
    }
.Currency_icon__freeXP-extraLarge_e41b1 {
        width: 80rem;
        height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.free_xp_icon_80x80');
    }
.Currency_base__extraLarge_d0b11 .Currency_icon__freeXP-extraLarge_e41b1 {
            transform: translateY(4rem);
        }
.Currency_icon__eliteXP-small_c4a51 {
        background-image: url('R.images.gui.maps.icons.library.EliteXpIcon-2');
    }
.Currency_base__small_af876 .Currency_icon__eliteXP-small_c4a51 {
            transform: translateY(1rem);
        }
.Currency_icon__eliteXP-big_eceb0 {
        width: 24rem;
        height: 24rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.EliteXpIconBig');
    }
.Currency_icon__eliteXP-large_e35ab {
        width: 48rem;
        height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.icons.library.elite_exp_48x48');
    }
.Currency_icon__eliteXP-extraLarge_a17d5 {
        width: 80rem;
        height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.elite_exp_80x80');
    }
.Currency_base__extraLarge_d0b11 .Currency_icon__eliteXP-extraLarge_a17d5 {
            transform: translateY(4rem);
        }
.Currency_icon__equipCoin-small_d3b9a {
        width: 16rem;
        height: 16rem;
        margin-right: -2rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoin_1');
    }
.Currency_base__small_af876 .Currency_icon__equipCoin-small_d3b9a {
            transform: translateX(-1rem) translateY(1rem);
        }
.Currency_icon__equipCoin-big_c34e1 {
        width: 24rem;
        height: 24rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoinBig');
    }
.Currency_base__big_f6388 .Currency_icon__equipCoin-big_c34e1 {
            transform: translateX(-5rem) translateY(3rem);
        }
.Currency_icon__equipCoin-large_b1b5e {
        width: 48rem;
        height: 48rem;
        margin-right: 2rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.equipCoin');
    }
.Currency_icon__equipCoin-extraLarge_a7b90 {
        width: 80rem;
        height: 80rem;
        margin-right: 8rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoin_icon_80x80');
    }
.Currency_base__extraLarge_d0b11 .Currency_icon__equipCoin-extraLarge_a7b90 {
            transform: translateX(2rem) translateY(4rem);
        }
.Currency_value_bb176 {
    /* font-size inherit does not work here, so 1em means the size does not change */
    /* stylelint-disable-next-line */
    font-size: 1em;
    position: relative;
    z-index: 2;
}
.Currency_base__small_af876 .Currency_value_bb176 {
        padding-right: 2rem;
    }
.Currency_base__big_f6388 .Currency_value_bb176 {
        padding-right: 5rem;
        font-size: 24rem;
        font-weight: 700;
    }
.Currency_base__big_f6388 .Currency_value_bb176 + .Currency_icon_d34e3 {
            font-size: 24rem;
        }
.Currency_base__large_fb228 .Currency_value_bb176 {
        font-size: 36rem;
        font-weight: 700;
    }
.Currency_base__large_fb228 .Currency_value_bb176 + .Currency_icon_d34e3 {
            font-size: 36rem;
        }
.Currency_base__extraLarge_d0b11 .Currency_value_bb176 {
        font-size: 56rem;
        font-weight: 700;
    }
.Currency_value__freeXP_db401 {
        color: #F2F2F7;
    }
.Currency_value__credits_c98c5 {
        color: #CED9D9;
    }
.Currency_value__gold_b8214 {
        color: #FFC363;
    }
.Currency_value__xp_eda0a,
    .Currency_value__crystal_cf72e,
    .Currency_value__equipCoin_cb08d,
    .Currency_value__eliteXP_de450 {
        color: #C9C9B6;
    }
.Currency_base__small_af876 .Currency_value__notEnough_db10a {
            color: #FF2717;
        }
.Currency_base__big_f6388 .Currency_value__notEnough_db10a {
            color: #B70000;
        }
.Currency_base__large_fb228 .Currency_value__notEnough_db10a {
            color: #B70000;
        }
.Currency_base__extraLarge_d0b11 .Currency_value__notEnough_db10a {
            color: #B70000;
        }
.Currency_stock_bffbc {
    height: 13rem;
    color: #FFDD99;
    font-size: 13rem;
    line-height: 1;
    position: relative;
    z-index: 0;
    pointer-events: none;
}
.Currency_stock__indent_c4c0d {
        margin-left: 2rem;
    }
.Currency_base__small_af876 .Currency_stock_bffbc {
        transform: translateY(0rem);
    }
.Currency_base__big_f6388 .Currency_stock_bffbc {
        transform: translateY(4rem);
    }
.Currency_base__large_fb228 .Currency_stock_bffbc {
        transform: translateY(10rem);
    }
.Currency_base__extraLarge_d0b11 .Currency_stock_bffbc {
        transform: translateY(18rem);
    }
.Currency_stock__interactive_e78a9 {
        pointer-events: auto;
    }
.Currency_stockBackground_c8ab1 {
    width: 80rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -27rem;
    bottom: 0;
    z-index: -1;
    transform: translateY(17rem);
}

.ExtendedText_base_d9fc1 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

    .ExtendedText_base__zeroPadding_d1a1c {
        padding: 0;
    }

    .ExtendedText_base__isTruncationAvailable_cb880 {
        width: 100%;
    }

.ExtendedText_truncated_a4268 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_d75b4 {
        opacity: 0;
    }

.ExtendedText_unTruncated_ff478 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #FF2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.ExtendedText_tooltip_b5abd {
    display: flex;
}

.ExtendedText_tooltip__justify-flex-start_ade81 {
        justify-content: flex-start;
    }

.ExtendedText_tooltip__justify-center_aa541 {
        justify-content: center;
    }

.ExtendedText_tooltip__justify-flex-end_af6c3 {
        justify-content: flex-end;
    }

.ExtendedText_tooltip__align-flex-start_fbfc0 {
        align-content: flex-start;
    }

.ExtendedText_tooltip__align-center_d5b4a {
        align-content: center;
    }

.ExtendedText_tooltip__align-flex-end_fc0e0 {
        align-content: flex-end;
    }

.colors_blackReal_a68be {
    color: #000000;
}

.colors_whiteReal_f79f8 {
    color: #FFFFFF;
}

.colors_white_b5c87 {
    color: #F2F2F7;
}

.colors_whiteOrange_ba58d {
    color: #FEFEEC;
}

.colors_whiteSpanish_fd764 {
    color: #E9E2BF;
}

.colors_par_e836f {
    color: #8C8C7E;
}

.colors_parSecondary_f260a {
    color: #595950;
}

.colors_parTertiary_d47f7 {
    color: #37362E;
}

.colors_red_c02cb {
    color: #FF2717;
}

.colors_redDark_cdd63 {
    color: #B70000;
}

.colors_yellow_ec93b {
    color: #FEAB34;
}

.colors_orange_bbde2 {
    color: #EE7000;
}

.colors_cream_e3bb8 {
    color: #FFDD99;
}

.colors_brown_bcb6a {
    color: #CBAC77;
}

.colors_greenBright_e6055 {
    color: #80D43A;
}

.colors_green_b6f21 {
    color: #7AB300;
}

.colors_greenDark_ce9bf {
    color: #497212;
}

.colors_blueBooster_b2848 {
    color: #CCFFFF;
}

.colors_blueTeamkiller_e7dd8 {
    color: #09E2FF;
}

.colors_cred_ddb07 {
    color: #CED9D9;
}

.colors_gold_c405a {
    color: #FFC363;
}

.colors_bond_bb139 {
    color: #C9C9B6;
}

.colors_prom_d1186 {
    color: #A29B70;
}

.renderers_noBreakWrapper_d986b {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_f90ed {
    width: 100%;
    height: 0;
}

.renderers_newLine_ee778 {
    flex: 1;
    width: 100%;
}

.renderers_word_ac32d {
    white-space: pre;
    overflow-wrap: normal;
}

.QuickTrainingDiscountTooltipApp_base_df38c {
    display: flex;
    flex-direction: column;
    padding: 18rem 20rem 14rem;
}

.QuickTrainingDiscountTooltipApp_title_ef7eb {
    color: #E9E2BF;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 8rem;
}

.QuickTrainingDiscountTooltipApp_label_b1e9d {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.QuickTrainingDiscountTooltipApp_label_b1e9d + .QuickTrainingDiscountTooltipApp_label_b1e9d {
        margin-top: 4rem;
    }

