.FormatText_base_f27a4 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_a7528 {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_c93c4 {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_bff67 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_ba20a {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_d6685 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_b2500 {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_b5531 {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_f91eb {
    color: #37362E;
}

.FormatTextWithColorTags_red_ef6d4 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_fab5f {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_b7f3d {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_c4526 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_ae09d {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_dd780 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_f7a10 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_f840d {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_d2b50 {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_de02c {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_ab670 {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_c1b4e {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_e35db {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_bdcc0 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_e0cfe {
    color: #A29B70;
}

.App_base_e6884 {
    text-align: center;
}

.App_warning_bcb5e {
    display: flex;
    flex-direction: row;
    margin-bottom: 11rem;
}

.App_alertImage_d9e7d {
    width: 16rem;
    height: 16rem;
    margin-top: 4rem;
    margin-right: 8rem;
    background: url('R.images.gui.maps.icons.library.alertIcon') no-repeat 50% / contain;
}

.App_warningText_ec044 {
    justify-content: center;
    align-items: flex-start;
    color: #EE7000;
}

.App_mainText_d633f {
    justify-content: center;
    align-items: flex-start;
}

