body {
  margin: 0;
  line-height: normal;
  overflow: hidden;
}

.TextButton_base_b6 {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 12rem;
  position: relative;
  cursor: pointer;
}

.TextButton_base__right_39 {
  flex-direction: row-reverse;
}
.TextButton_icon_17 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.back");
  transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
  transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
  margin: -1rem 0;
  background-image: url("R.images.gui.maps.icons.components.text_button.close");
}
.TextButton_icon__info_33 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.info");
}
.TextButton_glow_a4 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.back_hover");
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.close_hover");
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.info_hover");
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
  opacity: 0;
}
.TextButton_caption_82 {
  position: relative;
  transition:
    color 0.16s,
    text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
  color: #ffdd99;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
  color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
  color: #ffdd99;
}
.TextButton_caption__info_23 {
  padding: 0 5rem;
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
  color: #e3ffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 12rem rgba(0, 234, 255, 1),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.6),
    0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
  color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
  margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
  margin-right: 8rem;
}
.TextButton_shine_e2 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transition: opacity 0.16s;
  pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
  left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
  right: -4rem;
  transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
  opacity: 0;
}

.CButton_base_40 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
  background-size: 100% 100%;
}

.CButton_base__main_42 {
  background-image: url("R.images.gui.maps.icons.components.button.back_main");
}

.CButton_base__primary_7f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary");
}

.CButton_base__primaryGreen_6f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_green");
}

.CButton_base__primaryRed_ec {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_red");
}

.CButton_base__secondary_50 {
  background-image: url("R.images.gui.maps.icons.components.button.back_secondary");
}

.CButton_base__ghost_ed {
  border-radius: 3rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
  background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
  min-height: 17rem;
  padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
  padding: 0 20rem;
}

.CButton_base__small_df {
  min-height: 18rem;
}

.CButton_base__medium_74 {
  min-height: 32rem;
}

.CButton_base__disabled_d9 {
  cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_main");
}
.CButton_base__primary_7f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary");
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_green");
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_red");
}
.CButton_base__secondary_50 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_secondary");
}
.CButton_texture_fe {
  background: url("R.images.gui.maps.icons.components.button.standard_texture_file");
  background-size: 155rem 31rem;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_state_11 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
  border-radius: 2rem;
  box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
  transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
  background-image: linear-gradient(
    180deg,
    rgba(252, 248, 235, 0.25) 0%,
    rgba(252, 248, 235, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
  opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
  box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
  background-color: rgba(8, 6, 0, 0.18);
  background-image: none;
}
.CButton_stateHighlightActive_35 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
  opacity: 1;
}
.CButton_stateDisabled_54 {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("R.images.gui.maps.icons.components.button.texture_disable");
  background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
  opacity: 1;
}
.CButton_content_cc {
  display: flex;
  align-items: center;
  color: #f2f2e6;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 -1rem 1rem #000;
  letter-spacing: 0.03em;
  transform: translateY(-1rem);
}
.CButton_content_cc[lang="ja"],
.CButton_content_cc[lang="ko"],
.CButton_content_cc[lang="zh_tw"],
.CButton_content_cc[lang="zh_sg"],
.CButton_content_cc[lang="zh_cn"],
.CButton_content_cc[lang="th"] {
  font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
  color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
  font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
  font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
  font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
  opacity: 0.6;
}

@keyframes Footer_fadeOut_c0 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes Footer_fadeIn_01 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes Footer_fadeInWithScale_7b {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Footer_slideUp_fd {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Footer_scale_0e {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
.Footer_base_43 {
  max-width: 800rem;
  min-height: 32rem;
  margin-top: -32rem;
}
.Footer_content_4d {
  margin-top: -210rem;
  position: relative;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .Footer_content_4d {
    margin-top: -243rem;
  }
}
.Footer_buttonContainer_a8 {
  opacity: 0;
  animation-name: Footer_slideUp_fd;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.6s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

@keyframes Header_fadeOut_88 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes Header_fadeIn_cd {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes Header_fadeInWithScale_d6 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Header_slideUp_ce {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Header_scale_06 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
.Header_base_fb {
  align-items: center;
}
.Header_title_f5 {
  opacity: 0;
  animation-name: Header_slideUp_ce;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  color: #f2f2f7;
  font-size: 56rem;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .Header_title_f5 {
    font-size: 73rem;
  }
}
.Header_status_07 {
  opacity: 0;
  animation-name: Header_slideUp_ce;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.8s;
  animation-iteration-count: 1;
  color: #f2f2f7;
  font-size: 24rem;
  font-weight: 700;
  text-align: center;
}

@keyframes MainReward_fadeOut_a9 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes MainReward_fadeIn_d8 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes MainReward_fadeInWithScale_27 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes MainReward_slideUp_21 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes MainReward_scale_80 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
.MainReward_base_bf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100rem;
  position: relative;
  z-index: 4;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .MainReward_base_bf {
    margin-top: -200rem;
  }
}
.MainReward_firstReward_cb {
  opacity: 0;
  animation-name: MainReward_fadeInWithScale_27;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.2s;
  animation-iteration-count: 1;
  width: 150rem;
  height: 200rem;
  margin-left: 70rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  z-index: 3;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .MainReward_firstReward_cb {
    width: 200rem;
    height: 250rem;
    margin-left: 70rem;
  }
}
.MainReward_secondReward_90 {
  opacity: 0;
  animation-name: MainReward_fadeInWithScale_27;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.6s;
  animation-iteration-count: 1;
  width: 270rem;
  height: 203rem;
  margin-left: 35rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  z-index: 3;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .MainReward_secondReward_90 {
    width: 360rem;
    height: 270rem;
    margin-left: 85rem;
  }
}
.MainReward_rewardAmount_69 {
  opacity: 0;
  animation-name: MainReward_fadeInWithScale_27;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.2s;
  animation-iteration-count: 1;
  margin-top: 170rem;
  margin-right: 20rem;
  color: #e9e2bf;
  font-size: 24rem;
  font-weight: 700;
  line-height: 20rem;
  text-align: right;
  position: relative;
  z-index: 4;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .MainReward_rewardAmount_69 {
    margin-top: 210rem;
    font-size: 48rem;
    line-height: 40rem;
  }
}
.MainReward_rewards_ac {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 500rem;
  margin-top: -85rem;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .MainReward_rewards_ac {
    min-width: 700rem;
    margin-top: -5rem;
  }
}
.MainReward_ribbon_76 {
  opacity: 0;
  animation-name: MainReward_slideUp_21;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1s;
  animation-iteration-count: 1;
  width: 1280rem;
  height: 334rem;
  margin-left: -640rem;
  margin-top: -190rem;
  background: url("R.images.gui.maps.icons.dedication.ribbon_small") no-repeat center center /
    contain;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .MainReward_ribbon_76 {
    width: 1600rem;
    height: 400rem;
    margin-left: -800rem;
    margin-top: -185rem;
    background-image: url("R.images.gui.maps.icons.dedication.ribbon");
  }
}
.MainReward_rays_7d {
  width: 910rem;
  height: 910rem;
  margin: -455rem 0 0 -500rem;
  background: url("R.images.gui.maps.icons.dedication.lines") no-repeat center center / contain;
  opacity: 0;
  mix-blend-mode: additive;
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 2;
  animation-name: MainReward_raysAppearance_21, MainReward_rotate_cc;
  animation-duration: 0.8s, 120s;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1), linear;
  animation-delay: 0.8s, 1.2s;
  animation-iteration-count: 1, infinite;
  pointer-events: none;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .MainReward_rays_7d {
    width: 1300rem;
    height: 1300rem;
    margin: -650rem 0 0 -650rem;
  }
}
@keyframes MainReward_raysAppearance_21 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes MainReward_rotate_cc {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes App_fadeOut_c9 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes App_fadeIn_ce {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInWithScale_bb {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_31 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_93 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
.App_base_45 {
  opacity: 0;
  animation-name: App_fadeInWithScale_bb;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 37rem;
  background: url("R.images.gui.maps.icons.dedication.bg") no-repeat center center / cover;
}
.App_overlay_f7 {
  background-color: rgba(17, 17, 17, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.App_close_4d {
  position: absolute;
  top: 30rem;
  right: 30rem;
  z-index: 1;
}
.App_header_14 {
  position: relative;
  top: 90rem;
  z-index: 1;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .App_header_14 {
    top: 128rem;
  }
}
.App_content_87 {
  max-height: 1080rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.App_rewardContent_1e {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 500rem;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .App_rewardContent_1e {
    min-width: 700rem;
  }
}
.App_rewards_62 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-width: 500rem;
  position: relative;
  z-index: 0;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .App_rewards_62 {
    min-width: 700rem;
  }
}
.App_glow_d9 {
  width: 652rem;
  height: 622rem;
  margin: -400rem 0 0 -350rem;
  opacity: 0;
  mix-blend-mode: additive;
  position: absolute;
  top: 50%;
  left: 50%;
  animation-name: App_slideUp_31;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.2s;
  animation-iteration-count: 1;
}
@media (min-width: 1601px) and (min-height: 901px) {
  .App_glow_d9 {
    width: 727rem;
    height: 693rem;
    margin: -450rem 0 0 -350rem;
  }
}
.App_light_3e {
  opacity: 0;
  animation-name: App_fadeIn_ce;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1s;
  animation-iteration-count: 1;
  width: 700rem;
  height: 700rem;
  background: url("R.images.gui.maps.icons.dedication.light") no-repeat center center / contain;
  mix-blend-mode: overlay;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
@media (min-width: 1601px) and (min-height: 901px) {
  .App_light_3e {
    width: 997rem;
    height: 999rem;
  }
}
@keyframes App_light-rotation_ac {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
