/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#TextMask_root_dc1ad29f,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.TextMask_gradient_4dbfb7a9 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.TextMask_9987747a {
  color: transparent;
  position: relative;
}

.TextMask_gradient__top_f63df556 {
  color: #ffe4c0;
  mask-image: linear-gradient(180deg, #fff 60%, transparent 100%);
}
.TextMask_gradient__bottom_9724ea06 {
  color: #fecc88;
  mask-image: linear-gradient(180deg, transparent 19%, #fff 62%);
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Header_root_65f475ba,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes Header_fadeIn_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Header_7d83acf6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header_subTitleWrapper_dd95ac49 {
  display: flex;
  align-items: center;
  margin-bottom: 11rem;
}
.mediaMedium .Header_subTitleWrapper_dd95ac49 {
  margin-bottom: 14rem;
}

.Header_subTitle_11b912d7 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: -0.2rem;
}
.mediaMedium .Header_subTitle_11b912d7 {
  font-size: 32rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.mediaLarge .Header_subTitle_11b912d7 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 600;
  letter-spacing: 0.34rem;
}

.Header_arrow_de9151 {
  display: flex;
  align-items: center;
  padding: 0 25rem;
}

.Header_arrowHead_4e2a2709 {
  width: 8rem;
  height: 8rem;
  background: #ffe4c0;
  transform: rotate(45deg);
}

.Header_arrowBody_27276e71 {
  width: 1rem;
  height: 1rem;
  background-color: #ffe4c0;
  z-index: 1;
  animation: Header_expandWidth_65f475ba 0.5s ease-in-out 0.5s forwards;
}
.Header_arrow__left_65f475ba .Header_arrowBody_27276e71 {
  mask-image: linear-gradient(270deg, rgb(0, 0, 0) -40%, rgba(0, 0, 0, 0) 100%);
}
.Header_arrow__right_65f475ba .Header_arrowBody_27276e71 {
  mask-image: linear-gradient(90deg, rgb(0, 0, 0) -40%, rgba(0, 0, 0, 0) 100%);
}

@keyframes Header_expandWidth_65f475ba {
  to {
    width: 240rem;
  }
}
.Header_title_c5f44fd0 {
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 11rem;
  color: rgba(var(--color-general-primary-rgb), 1);
  letter-spacing: -0.2rem;
  z-index: 1;
}
.mediaMedium .Header_title_c5f44fd0 {
  margin-bottom: 15rem;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
}
.mediaLarge .Header_title_c5f44fd0 {
  margin-bottom: 13rem;
  font-size: 80rem;
  font-weight: 700;
  line-height: 1.3em;
}
.mediaExtraLarge .Header_title_c5f44fd0 {
  margin-bottom: 14rem;
}

.Header_underTitleWrapper_4dc05e5a {
  opacity: 0;
  animation-name: Header_fadeIn_65f475ba;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
}
.mediaMedium .Header_underTitleWrapper_4dc05e5a {
  max-width: 600rem;
}
.mediaLarge .Header_underTitleWrapper_4dc05e5a {
  max-width: 660rem;
}
.Header_underTitleWrapper_4dc05e5a {
  max-width: 521rem;
  position: relative;
}

.Header_wing_c1b09cf4 {
  opacity: 0;
  animation-name: Header_slideDown-20rem_65f475ba;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
}
@keyframes Header_slideDown-20rem_65f475ba {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.Header_wing_c1b09cf4 {
  width: 249rem;
  height: 104rem;
  background: no-repeat center/contain;
  position: absolute;
  top: -60rem;
}
.mediaLarge .Header_wing_c1b09cf4 {
  width: 278rem;
  height: 116rem;
  top: -72rem;
}
.mediaExtraLarge .Header_wing_c1b09cf4 {
  top: -63rem;
}
.Header_wing__left_a6e40196 {
  background-image: url("R.images.gui.maps.icons.achievements.rewardView.collector20.wing_left_small");
  left: -147rem;
}
.mediaMedium .Header_wing__left_a6e40196 {
  left: -160rem;
}
.mediaLarge .Header_wing__left_a6e40196 {
  background-image: url("R.images.gui.maps.icons.achievements.rewardView.collector20.wing_left_medium");
  left: -188rem;
}
.Header_wing__right_f408d2da {
  background-image: url("R.images.gui.maps.icons.achievements.rewardView.collector20.wing_right_small");
  right: -147rem;
}
.mediaMedium .Header_wing__right_f408d2da {
  right: -160rem;
}
.mediaLarge .Header_wing__right_f408d2da {
  background-image: url("R.images.gui.maps.icons.achievements.rewardView.collector20.wing_right_medium");
  right: -188rem;
}

.Header_underTitle_a88a751e {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.3rem;
}
.mediaMedium .Header_underTitle_a88a751e {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  line-height: 1.11;
  letter-spacing: 0.34rem;
}
.mediaLarge .Header_underTitle_a88a751e {
  font-size: 20rem;
  letter-spacing: 0.39rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#AnimatedReward_root_acd88dcf,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.AnimatedReward_1789d927 {
  display: flex;
  position: relative;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MainRewards_root_56da68ed,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes MainRewards_fadeIn_56da68ed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.MainRewards_info_ac9a95de,
.MainRewards_title_b9294abf {
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 24rem;
  font-weight: 600;
}
.mediaMedium .MainRewards_info_ac9a95de,
.mediaMedium .MainRewards_title_b9294abf {
  font-size: 28rem;
}

.MainRewards_f647a436 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.MainRewards_reward_7b876cb8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.MainRewards_captions_4f8422d {
  width: 296rem;
  padding: 0 16rem;
  text-align: center;
  position: relative;
}
.mediaMedium .MainRewards_captions_4f8422d {
  width: 400rem;
}

.MainRewards_title_b9294abf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  word-break: break-word;
  overflow-wrap: break-word;
}

.MainRewards_info_ac9a95de {
  margin-top: -40rem;
  margin-right: 30rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#App_root_0,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_video_b460a12e,
.App_decorWrapper_bb0bfe54 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.App_5c487cff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 44rem 50rem 40rem;
  background: no-repeat center/cover;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.mediaMedium .App_5c487cff {
  padding-top: 40rem;
}
.mediaLarge .App_5c487cff {
  padding-top: 38rem;
}
.mediaExtraLarge .App_5c487cff {
  padding-top: 88rem;
  padding-bottom: 90rem;
}

.App_video_b460a12e {
  z-index: 0;
  pointer-events: none;
}

.App_closeButton_f5179698 {
  position: absolute;
  top: 30rem;
  right: 30rem;
}

.App_content_6d450fd7 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
  position: relative;
  z-index: 1;
}

.App_wrapperRewards_af08fa77 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.App_reward_da80d895 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90rem;
  z-index: 2;
}
.mediaMedium .App_reward_da80d895 {
  margin-bottom: 130rem;
}
.mediaLarge .App_reward_da80d895 {
  margin-bottom: 154rem;
}
.mediaExtraLarge .App_reward_da80d895 {
  margin-bottom: 296rem;
}

.App_mainRewardCaption_5929e7e0 {
  margin-top: 15rem;
}
.mediaMedium .App_mainRewardCaption_5929e7e0 {
  margin-top: 24rem;
}

.App_mainRewardWrapper_8617d087 {
  margin-bottom: 32rem;
}
.mediaMedium .App_mainRewardWrapper_8617d087 {
  margin-bottom: 52rem;
}

.App_ribbonWrapper_2210ce95 {
  width: 1280rem;
  height: 506rem;
  margin-left: -639rem;
  margin-top: -113rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
.mediaMedium .App_ribbonWrapper_2210ce95 {
  width: 1600rem;
  height: 630rem;
  margin-left: -801rem;
  margin-top: -148rem;
}
.mediaLarge .App_ribbonWrapper_2210ce95 {
  width: 1920rem;
  height: 750rem;
  margin-left: -960rem;
  margin-top: -190rem;
}
.mediaExtraLarge .App_ribbonWrapper_2210ce95 {
  margin-top: -250rem;
}
.App_ribbonWrapper_2210ce95 {
  width: 1280rem;
  height: 506rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.App_godraysWrapper_bbc67cd8 {
  width: 1280rem;
  height: 506rem;
  margin-left: -639rem;
  margin-top: -113rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}
.mediaMedium .App_godraysWrapper_bbc67cd8 {
  width: 1600rem;
  height: 630rem;
  margin-left: -801rem;
  margin-top: -148rem;
}
.mediaLarge .App_godraysWrapper_bbc67cd8 {
  width: 1920rem;
  height: 750rem;
  margin-left: -960rem;
  margin-top: -190rem;
}
.mediaExtraLarge .App_godraysWrapper_bbc67cd8 {
  margin-top: -250rem;
}
.App_godraysWrapper_bbc67cd8 {
  width: 1280rem;
  height: 506rem;
  mix-blend-mode: additive;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
}

.App_ribbon_f6a1d903 {
  width: 100%;
  height: 100%;
  background: url("R.images.gui.maps.icons.awards.multipleAwards.ribbon_gold") no-repeat center
    center/contain;
}

.App_raysWrapper_e48e223c {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App_godrays_3df409cd {
  width: 600rem;
  height: 600rem;
  background: url("swf://gui/flash/animations/glows/rays.swf") no-repeat 50% / contain;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.mediaMedium .App_godrays_3df409cd {
  width: 720rem;
  height: 720rem;
}
.mediaLarge .App_godrays_3df409cd {
  width: 850rem;
  height: 850rem;
}

.App_rays_20aa2b69 {
  width: 600rem;
  height: 600rem;
  background: url("R.images.gui.maps.icons.awards.multipleAwards.rays") no-repeat center
    center/contain;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  animation-name: App_rotate_0;
  animation-duration: 120s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  pointer-events: none;
}
.mediaMedium .App_rays_20aa2b69 {
  width: 650rem;
  height: 650rem;
}
.mediaLarge .App_rays_20aa2b69 {
  width: 750rem;
  height: 750rem;
}

.App_wrapperButton_6d5ac65d {
  display: flex;
  justify-content: center;
}

.App_button_7b36300d {
  height: 32rem;
  padding: 0 24rem;
}
.mediaMedium .App_button_7b36300d {
  height: 48rem;
}

.App_button_7b36300d .App_buttonContent_cd42fca3 {
  padding-bottom: 3rem;
  font-size: 20rem;
}
.mediaMedium .App_button_7b36300d .App_buttonContent_cd42fca3 {
  padding-bottom: 5rem;
  font-size: 28rem;
}

@keyframes App_rotate_0 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
