.TooltipDecorator_base_bf61f {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_bf8f8 .TooltipDecorator_decorator_f4de8 {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.FormatText_base_f27a4 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_a7528 {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_c93c4 {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_bff67 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_ba20a {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_d6685 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_b2500 {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_b5531 {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_f91eb {
    color: #37362E;
}

.FormatTextWithColorTags_red_ef6d4 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_fab5f {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_b7f3d {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_c4526 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_ae09d {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_dd780 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_f7a10 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_f840d {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_d2b50 {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_de02c {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_ab670 {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_c1b4e {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_e35db {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_bdcc0 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_e0cfe {
    color: #A29B70;
}

.SimplyFormatTooltipApp_base_a8e22 {
    width: 100%;
    max-width: 384rem;
    padding: 13rem 15rem 17rem 20rem;
}

.SimplyFormatTooltipApp_header_d4ce8 {
    color: #E9E2BF;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}

.SimplyFormatTooltipApp_header__withBody_b0fd9 {
        margin-bottom: 5rem;
    }

.SimplyFormatTooltipApp_body_ea7e6 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    white-space: pre;
}

