/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#NoReward_root_62432963,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.NoReward_df5f369d {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
.NoReward_base__animTitleAndRewards_33d8d8dc {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.9s;
}

.NoReward_item_609c8ec6 {
  font-size: 24rem;
  font-weight: 600;
  line-height: 1.3em;
  margin-top: -7rem;
  color: var(--color-general-primary);
}
.mediaMedium .NoReward_item_609c8ec6 {
  font-size: 26rem;
  font-weight: 600;
  line-height: 1.3em;
}
.NoReward_item__got_2dcf33e6 {
  color: #80d43a;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Reward_root_21f091ec,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Reward_9adeba6d {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 15rem;
  opacity: 0;
  transform: translateY(-20%);
}
.Reward_base__animTitleAndRewards_5453263b {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}
.mediaMedium .Reward_9adeba6d {
  margin-top: 0;
}

.Reward_icon_14f53da {
  width: 80rem;
  height: 80rem;
  margin-top: 10rem;
  background: no-repeat 50% / contain;
}

.Reward_info_ecc88b80 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  margin-top: -12rem;
  color: #c9c9b6;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ResultRewards_root_98e63ed1,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ResultRewards_85664010 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110rem;
  opacity: 0;
  position: relative;
}
.mediaMedium .ResultRewards_85664010 {
  height: 170rem;
}
.ResultRewards_base__animTitleAndRewards_dcbfbde {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.4s;
}

.ResultRewards_ribbon_58ccf247 {
  width: 1192rem;
  height: 188rem;
  background: url(R.images.gui.maps.icons.mapsTraining.reward.ribbon_small) no-repeat 50% / contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.mediaMedium .ResultRewards_ribbon_58ccf247 {
  width: 1920rem;
  height: 290rem;
  background-image: url(R.images.gui.maps.icons.mapsTraining.reward.ribbon);
}

.ResultRewards_rewards_14b6654c {
  display: flex;
  margin-top: -11rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#StatItem_root_8e756938,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.StatItem_a31bdbd0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90rem;
  margin: 0 20rem;
  opacity: 0;
  transform: translateY(-20%);
}
.StatItem_base__animTitleAndRewards_74e8ec86 {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.StatItem_icon_66c37868 {
  width: 90rem;
  height: 74rem;
  background: no-repeat 50% / contain;
}
.StatItem_icon__destroy_b668e97f {
  background-image: url(R.images.gui.maps.icons.mapsTraining.reward.icon_tank_destroy);
}
.StatItem_icon__timer_3919f07e {
  background-image: url(R.images.gui.maps.icons.mapsTraining.reward.timer_icon);
}

.StatItem_value_a101cfaf {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  margin-top: -13rem;
  color: var(--color-general-primary);
}

.StatItem_valueAll_868af080 {
  margin-left: 6rem;
}

.StatItem_description_76994ec8 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 4rem;
  color: rgba(var(--color-general-secondary-rgb), 0.7);
  text-align: center;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Tank_root_ac0a1e29,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Tank_64c86de0 {
  width: 600rem;
  height: 363rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.Tank_wrap_51cfa705 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.Tank_image_20e440df {
  width: 100%;
  height: 450rem;
  background: no-repeat 50% / contain;
}

.Tank_bg_73a7932a {
  width: 980rem;
  height: 286rem;
  background: no-repeat 50% / contain;
  position: absolute;
  bottom: 0;
  left: -140rem;
}
.Tank_bg__back_9e9e3ca6 {
  background-image: url(R.images.gui.maps.icons.mapsTraining.reward.backgorund_vic);
}
.Tank_base__defeat_ac0a1e29 .Tank_bg__back_9e9e3ca6 {
  background-image: url(R.images.gui.maps.icons.mapsTraining.reward.backgorund_defeat);
}
.Tank_bg__foreground_e800b10c {
  background-image: url(R.images.gui.maps.icons.mapsTraining.reward.foreground_vic);
}
.Tank_base__defeat_ac0a1e29 .Tank_bg__foreground_e800b10c {
  background-image: url(R.images.gui.maps.icons.mapsTraining.reward.foreground_defeat);
}

.Tank_back_29d05476 {
  width: 590rem;
  height: 133rem;
  background: radial-gradient(50% 50% at 50% 50%, #000000 0%, transparent 100%);
  position: absolute;
  bottom: 0;
  left: 55rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ResultStats_root_26af54b4,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ResultStats_e4f76c93 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 325rem;
  opacity: 0;
  position: relative;
}
.mediaMedium .ResultStats_e4f76c93 {
  height: 320rem;
}
.ResultStats_base__animTitleAndRewards_e6090ee9 {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.4s;
}

.ResultStats_stats_9b9ef8ba {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 199rem;
  z-index: 1;
}
.mediaMedium .ResultStats_stats_9b9ef8ba {
  margin-top: 195rem;
}

.ResultStats_separator_6f7d9820 {
  height: 26rem;
  background: url(R.images.gui.maps.icons.mapsTraining.reward.separator_small_vic) no-repeat 50% /
    contain;
  position: absolute;
  right: 0;
  bottom: -25rem;
  left: 0;
}
.ResultStats_separator__failed_989f1494 {
  background-image: url(R.images.gui.maps.icons.mapsTraining.reward.separator_small_defeat);
}
.mediaMedium .ResultStats_separator_6f7d9820 {
  height: 33rem;
  background-image: url(R.images.gui.maps.icons.mapsTraining.reward.separator_vic);
  bottom: -31rem;
}
.mediaMedium .ResultStats_separator_6f7d9820.ResultStats_separator__failed_989f1494 {
  background-image: url(R.images.gui.maps.icons.mapsTraining.reward.separator_defeat);
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MapsTrainingResult_root_b1ce801b,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MapsTrainingResult_15b08403 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden;
}

.MapsTrainingResult_bg_cc8b01b4 {
  position: absolute;
  left: -6rem;
  right: -6rem;
  top: -6rem;
  bottom: -6rem;
  background: no-repeat 50% / cover;
  filter: blur(3rem);
  z-index: -1;
}

.MapsTrainingResult_bgFogging_e9f701a4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.MapsTrainingResult_bgShape_91f3b597 {
  height: 808rem;
  background: radial-gradient(
    100% 100% at 50% 0%,
    rgba(72, 182, 237, 0.22) 0%,
    rgba(70, 161, 200, 0.13) 36%,
    transparent 100%
  );
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: opacity 0.7s ease-out 0.6s;
}
.MapsTrainingResult_base__animTitleAndRewards_b1ce801b .MapsTrainingResult_bgShape_91f3b597 {
  opacity: 1;
}

.MapsTrainingResult_box_b69e0d39 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -17vh;
}
.mediaMedium .MapsTrainingResult_box_b69e0d39 {
  margin-top: -23vh;
}

.MapsTrainingResult_mapTitle_9022ef51 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  color: var(--color-general-secondary);
  font-weight: 400;
  opacity: 0;
  position: relative;
  bottom: -6rem;
  transform: translateY(-50rem);
}
.mediaMedium .MapsTrainingResult_mapTitle_9022ef51 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.3em;
}
.MapsTrainingResult_base__animTitleAndRewards_b1ce801b .MapsTrainingResult_mapTitle_9022ef51 {
  opacity: 0.7;
  transform: translateY(0);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.MapsTrainingResult_titleWrapper_10cffc1b {
  display: flex;
  align-items: center;
  position: relative;
  top: 1rem;
  z-index: 1;
}
.mediaMedium .MapsTrainingResult_titleWrapper_10cffc1b {
  top: 0;
}

.MapsTrainingResult_titleBG_8d4d9b39 {
  width: 1024rem;
  height: 204rem;
  background: url(R.images.gui.maps.icons.mapsTraining.reward.title_bg_small) no-repeat 50% / cover;
  opacity: 0;
  mix-blend-mode: screen;
  position: absolute;
  top: -78rem;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.7s ease-out 0.6s;
}
.mediaMedium .MapsTrainingResult_titleBG_8d4d9b39 {
  width: 1920rem;
  height: 381rem;
  background-image: url(R.images.gui.maps.icons.mapsTraining.reward.title_bg);
  top: -174rem;
}
.MapsTrainingResult_base__animTitleAndRewards_b1ce801b .MapsTrainingResult_titleBG_8d4d9b39 {
  opacity: 1;
}

.MapsTrainingResult_title_dda0f6aa {
  display: flex;
  color: #ffffff;
  font-size: 73rem;
  font-weight: 700;
  opacity: 0;
  mask: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  mask-repeat: no-repeat;
  transform: translateY(-50rem);
}
.mediaMedium .MapsTrainingResult_title_dda0f6aa {
  font-size: 96rem;
}
.MapsTrainingResult_base__animTitleAndRewards_b1ce801b .MapsTrainingResult_title_dda0f6aa {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.MapsTrainingResult_close_4c7f7d48 {
  opacity: 0;
  position: absolute;
  top: 31rem;
  right: 28rem;
  z-index: 2;
  transition: opacity 0.6s ease-out 1.2s;
}
.MapsTrainingResult_base__animTitleAndRewards_b1ce801b .MapsTrainingResult_close_4c7f7d48 {
  opacity: 1;
}

.MapsTrainingResult_button_5ef0f480 {
  width: 157rem;
  height: 30rem;
  opacity: 0;
  position: absolute;
  bottom: 60rem;
  left: 50%;
  transform: translateX(-50%);
}
.MapsTrainingResult_base__animTitleAndRewards_b1ce801b .MapsTrainingResult_button_5ef0f480 {
  opacity: 1;
  transition: opacity 0.6s ease-out 1.2s;
}
.mediaMedium .MapsTrainingResult_button_5ef0f480 {
  bottom: 79rem;
}
