.Container_base_c0f66 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 54rem;
  height: 54rem;
  position: relative;
}

.Container_base__grabbing_cbe17 {
  pointer-events: none;
}

.Container_base_c0f66 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
  cursor: pointer;
}

.Container_base__hangar_b9572:hover {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

.Container_base__setup_f3a64:hover {
  box-shadow: inset 0 0 12rem rgba(255, 255, 255, 0.05);
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.Container_base__compare_b1bf5 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.Container_base__compare_b1bf5:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.Container_base__selected_f7ab3,
.Container_base__selected_f7ab3:hover {
  box-shadow:
    0 0 0 1rem rgba(249, 201, 111, 0.5),
    inset 0 0 3rem rgba(255, 96, 0, 0.2),
    inset 0 0 10rem rgba(255, 0, 0, 0.25),
    0 0 10rem rgba(255, 0, 0, 0.25);
  background-image: none;
  cursor: default;
}

.Container_base__dragIn_d818b {
  box-shadow: inset 0 0 12rem rgba(255, 255, 255, 0.05);
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.Container_base__dragInActive_aa8ec {
  box-shadow:
    0 0 0 1rem rgba(249, 201, 111, 0.5),
    inset 0 0 3rem rgba(255, 96, 0, 0.2),
    inset 0 0 10rem rgba(255, 0, 0, 0.25),
    0 0 10rem rgba(255, 0, 0, 0.25);
  background-image: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

.Container_base__toggle_cbba7 {
  border-image-source: url("R.images.gui.maps.icons.tanksetup.panel.toggle");
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  cursor: pointer;
}

.Container_base__toggle_cbba7:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.Container_base__disabled_d7748,
.Container_base__disabled_d7748:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  cursor: default;
}
