/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Row_a52ddf2a {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  align-items: flex-start;
  padding-bottom: 3rem;
  position: relative;
}

.Row_title_6c4bc0c8 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
  position: relative;
}
.Row_title__colon_6c475686 {
  margin-right: 4rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.BattlePassPoints_row__battlePassPoints_4e755749::after, .BattlePassPoints_row__reward_4e755749::after {
  width: 97rem;
  height: 28rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -1rem;
  left: 0;
  transform: translateX(-12rem);
}

.BattlePassPoints_leftColumn_b241ec5 {
  display: flex;
  justify-content: flex-end;
  width: 105rem;
  padding-right: 8rem;
}

.BattlePassPoints_row_bfb51350 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.BattlePassPoints_row__battlePassPoints_4e755749::after {
  height: 54rem;
  background-image: url(R.images.gui.maps.icons.tooltip.battlePassBackground);
  content: "";
}
.BattlePassPoints_row__reward_4e755749::after {
  background-image: url(R.images.gui.maps.icons.tooltip.limitBackground);
  content: "";
}

.BattlePassPoints_leftColumn_b241ec5 {
  z-index: 1;
}

.BattlePassPoints_property_c8f33cb7 {
  color: var(--color-general-tertiary);
}
.BattlePassPoints_property__limitReached_aee9a154 {
  color: rgba(238, 237, 233, 0.9);
}

.BattlePassPoints_currency_28a36732 {
  flex-wrap: wrap;
  color: rgba(238, 237, 233, 0.9);
}

.BattlePassPoints_icon_bf5b9876 {
  margin-left: 4rem;
}

.BattlePassPoints_text_fe4f3086 {
  max-width: 280rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Bonds_row__bonds_34572d0b::after, .Bonds_row__limitReached_34572d0b::after {
  width: 97rem;
  height: 28rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -1rem;
  left: 0;
  transform: translateX(-12rem);
}

.Bonds_leftColumn_a37479d6 {
  display: flex;
  justify-content: flex-end;
  width: 105rem;
  padding-right: 8rem;
}

.Bonds_row_eedc2ff2 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.Bonds_row__bonds_34572d0b::after {
  background-image: url(R.images.gui.maps.icons.tooltip.bondsBackground);
  content: "";
}
.Bonds_row__limitReached_34572d0b::after {
  height: 29rem;
  background-image: url(R.images.gui.maps.icons.tooltip.limitBackground);
  content: "";
  top: -2rem;
}

.Bonds_leftColumn_a37479d6 {
  z-index: 1;
}
.Bonds_row__displayTimer_34572d0b .Bonds_leftColumn_a37479d6 {
  justify-content: flex-start;
  width: auto;
  min-width: 105rem;
  margin-left: 56rem;
}

.Bonds_timerWrapper_520aac9d {
  transform: translateX(4rem);
}

.Bonds_timer_49fb046e {
  margin-right: 4rem;
}

.Bonds_currency_e32a6c4d {
  flex-wrap: wrap-reverse;
}

.Bonds_icon_4ddeb604 {
  margin-left: 4rem;
}

.Bonds_property_57b4db27 {
  display: none;
  color: var(--color-general-tertiary);
}
.Bonds_property__limit_e8d508c6 {
  display: block;
}
.Bonds_property__earningProgress_1dc4f208 {
  display: block;
  color: rgba(238, 237, 233, 0.9);
}

.Bonds_text_dad80fb6 {
  max-width: 280rem;
}
.Bonds_row__displayTimer_34572d0b .Bonds_text_dad80fb6 {
  max-width: 224rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Earnings_row__multiplier_16fcb8c8::after {
  width: 97rem;
  height: 28rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: -1rem;
  left: 0;
  transform: translateX(-12rem);
}

.Earnings_leftColumn_940b9a0e {
  display: flex;
  justify-content: flex-end;
  width: 105rem;
  padding-right: 8rem;
}

.Earnings_96294922 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-left: 105rem;
  color: rgba(238, 237, 233, 0.9);
  font-weight: 600;
}

.Earnings_row_850c7c9b {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.Earnings_row__multiplier_16fcb8c8::after {
  height: 27rem;
  background: linear-gradient(90deg, #ef2400 0%, rgba(67, 11, 11, 0) 100%);
  opacity: 0.3;
  content: "";
}

.Earnings_icon_c10adc2c {
  margin-left: 4rem;
}

.Earnings_currency_61ac411b {
  color: rgba(238, 237, 233, 0.9);
}

.Earnings_text_a6c4a45b {
  max-width: 280rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Crew_2339425e {
  align-items: center;
}

.Crew_79af07ed {
  display: flex;
}
.Crew_79af07ed + .Crew_79af07ed {
  margin-left: 6rem;
}

.Crew_icon_26258836 {
  align-self: center;
  width: 16rem;
  height: 16rem;
  fill: #b3afab;
}

.Crew_sign_a456f030 {
  margin-left: 3rem;
  color: var(--color-general-tertiary);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Rent_leftColumn_a909b981 {
  display: flex;
  justify-content: flex-end;
  width: 105rem;
  padding-right: 8rem;
}

.Rent_rentValue_f91a4efd {
  margin-right: 4rem;
  color: rgba(238, 237, 233, 0.9);
}

.Rent_text_94f0c0d7 {
  max-width: 280rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Role_c276c189 {
  color: rgba(238, 237, 233, 0.9);
}

.Role_vehicleRoleIcon_a0c92760 {
  transform: translateY(25%);
}

.Role_property_8f6d69d9 {
  max-width: 224rem;
  margin-left: 4rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.TradeIn_leftColumn_e8d75ad6 {
  display: flex;
  justify-content: flex-end;
  width: 105rem;
  padding-right: 8rem;
}

.TradeIn_tradeInIcon_2cde5b72 {
  width: 24rem;
  height: 24rem;
  background: url(R.images.gui.maps.icons.tradeIn.trade_in_icon_small) no-repeat center/contain;
}

.TradeIn_text_1e5d2ead {
  max-width: 280rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.WotPlus_wotPlus_c07472c2::after, .WotPlus_wotPlus__timer_fb00f649::after {
  width: 24rem;
  height: 24rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 100%;
  transform: translateX(-8rem);
}

.WotPlus_wotPlus_c07472c2 {
  max-width: 280rem;
}
.WotPlus_wotPlus_c07472c2::after {
  background-image: url(R.images.gui.maps.icons.tooltip.wotPlus);
  content: "";
}
.media-upscale .WotPlus_wotPlus_c07472c2::after {
  background-image: url(R.images.gui.maps.icons.tooltip.wotPlus_upscale);
}
.WotPlus_wotPlus__timer_fb00f649::after {
  background-image: url(R.images.gui.maps.icons.ui_kit.rental_counter.rent_x24x24);
  content: "";
}
.media-upscale .WotPlus_wotPlus__timer_fb00f649::after {
  background-image: url(R.images.gui.maps.icons.ui_kit.rental_counter.rent_x48x48);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Header_name_154815cc {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-left: 105rem;
  color: rgba(238, 237, 233, 0.9);
  font-weight: 600;
}

.Header_tier_e0bb96ee {
  max-width: 280rem;
  margin-left: 105rem;
  color: rgba(238, 237, 233, 0.9);
}

.Header_level_d1428bec {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}

.Header_tierText_ab47090b {
  max-width: 244rem;
}

.Header_row_d4a891e5 {
  margin-left: 105rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.EliteSystem_leftColumn_6aa7810f {
  display: flex;
  justify-content: flex-end;
  width: 105rem;
  padding-right: 8rem;
}

.EliteSystem_c476a5a0 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  padding-bottom: 0;
}

.EliteSystem_leftColumn_6aa7810f {
  transform: translateY(-calc(8rem));
}

.EliteSystem_eliteSystem_5a135969 {
  display: flex;
  flex-direction: column;
  max-width: 280rem;
}
.EliteSystem_eliteSystem__prestige_2b06b89c {
  transform: translateY(4rem);
}

.EliteSystem_values_c91f1a15 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 276rem;
  color: var(--color-general-tertiary);
}

.EliteSystem_currency_4591b107 {
  flex-wrap: wrap-reverse;
  margin-bottom: 4rem;
  color: var(--color-general-secondary);
}

.EliteSystem_icon_505ae9fd {
  margin-left: 4rem;
}

.EliteSystem_slash_f65daa35 {
  margin: 0 4rem;
}

.EliteSystem_xp_4e0b1db9 {
  color: rgba(238, 237, 233, 0.9);
}

.EliteSystem_progressBarBorder_45636892 {
  display: none;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ServiceRecords_leftColumn_c596dc1b {
  display: flex;
  justify-content: flex-end;
  width: 105rem;
  padding-right: 8rem;
}

.ServiceRecords_title_40d609e8 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-left: 105rem;
  margin-bottom: 6rem;
  color: rgba(238, 237, 233, 0.9);
  font-weight: 600;
}

.ServiceRecords_eliteSystem_aeef0cfd {
  margin-bottom: -3rem;
}

.ServiceRecords_leftColumn_c596dc1b {
  color: rgba(238, 237, 233, 0.9);
}

.ServiceRecords_text_e426fb24 {
  max-width: 280rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.SpecialAbility_gradient_73f7ba6b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.SpecialAbility_leftColumn_7e97137f {
  display: flex;
  justify-content: flex-end;
  width: 105rem;
  padding-right: 8rem;
}

.SpecialAbility_gradient_73f7ba6b {
  background: linear-gradient(90deg, rgba(201, 201, 182, 0) 0%, #c9c9b6 38%, #c9c9b6 65%, rgba(201, 201, 182, 0) 100%);
  opacity: 0.07;
}

.SpecialAbility_rightColumn_4229b20e {
  display: flex;
  flex-direction: column;
  max-width: 280rem;
}

.SpecialAbility_title_10243315 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(238, 237, 233, 0.9);
  font-weight: 600;
}

.SpecialAbility_icon_eed3b29c {
  margin-top: 6rem;
}

.SpecialAbility_text_f255c0f5 {
  line-height: 1.1em;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Tooltip_decorator_9aef02ef {
  width: 420rem;
  margin: 18rem 12rem 20rem;
  padding: 0;
  border-image: url(R.images.gui.maps.icons.tooltip.background_with_border) 4 fill/4rem round;
  box-shadow: 0 0 32px rgba(15, 15, 15, 0.6);
}

.Tooltip_fdfde46e {
  padding: 18rem 12rem 20rem;
  background: url(R.images.gui.maps.icons.tooltip.topStandart) left top/contain no-repeat;
}
.Tooltip_base__elite_ae2bf179 {
  background-image: url(R.images.gui.maps.icons.tooltip.topElite);
}

.Tooltip_vehicleType_b877a704 {
  position: absolute;
  top: 13rem;
  left: 35rem;
  z-index: 1;
}
.Tooltip_vehicleType__elite_bb248964 {
  left: 27rem;
}

.Tooltip_section_b726d2f2 {
  padding-top: 11rem;
  padding-bottom: 10rem;
  color: var(--color-general-tertiary);
  position: relative;
}
.Tooltip_section_b726d2f2::after {
  width: 312rem;
  height: 9rem;
  background: url(R.images.gui.maps.icons.tooltip.divider) center/contain no-repeat;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.Tooltip_section__header_c649b074 {
  padding-top: 0;
}
.Tooltip_section__earnings_e52798af {
  padding-bottom: 15rem;
}

.Tooltip_status_29b423b3 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  align-self: center;
  padding-top: 15rem;
  font-weight: 600;
}