.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_d5 {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_d8 {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_b9 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_ea {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_54 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_c1 {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_4e {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_14 {
    color: #37362E;
}

.FormatTextWithColorTags_red_d9 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_ea {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_48 {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_ad {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_96 {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_27 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_04 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_58 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_b3 {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_ab {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_d3 {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_28 {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_74 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_58 {
    color: #A29B70;
}

.Icon_base_67 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App_base_86 {
    margin-top: -3rem;
    text-align: center;
}

.App_warningText_7b {
    margin-bottom: 12rem;
}

.App_mainText_74 {
    justify-content: center;
    align-items: flex-start;
}

.App_punishmentText_a8 {
    margin-top: 20rem;
    margin-bottom: -4rem;
}

