@keyframes AdditionalRewards_fadeInWithScale_3afa6e1a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AdditionalRewards_slideUp_3afa6e1a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AdditionalRewards_blink_3afa6e1a {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes AdditionalRewards_scale_3afa6e1a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes AdditionalRewards_rotate_3afa6e1a {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes AdditionalRewards_windowIn_3afa6e1a {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AdditionalRewards_fadeOut_3afa6e1a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes AdditionalRewards_fadeIn_3afa6e1a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.AdditionalRewards_c7f66cac {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.AdditionalRewards_title_3afa6e1a,
.AdditionalRewards_subtitle_a92605c8 {
  opacity: 0;
  animation-name: AdditionalRewards_slideUp_3afa6e1a;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.4s;
  animation-iteration-count: 1;
  justify-content: center;
  margin: 0 0 10rem;
  color: #e9e2bf;
  font-size: 14rem;
  text-align: center;
  position: relative;
  z-index: 4;
}
.AdditionalRewards_title__updateAnimation_3afa6e1a,
.AdditionalRewards_subtitle__updateAnimation_c25f706f {
  opacity: 0;
  animation-name: AdditionalRewards_slideUp_3afa6e1a;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.8s;
  animation-iteration-count: 1;
}

.AdditionalRewards_subtitle_a92605c8 {
  max-width: 730rem;
  margin-top: 96rem;
}
.mediaLarge .AdditionalRewards_subtitle_a92605c8 {
  max-width: 1100rem;
  margin-top: 140rem;
}
.mediaExtraLarge .AdditionalRewards_subtitle_a92605c8 {
  margin-top: 160rem;
}

.AdditionalRewards_reward_79ca4edb {
  margin: 0 10rem;
  position: relative;
}

.AdditionalRewards_rewardsList_532db93b {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AdditionalRewards_buttonWrapper_7e5f069f {
  opacity: 0;
  animation-name: AdditionalRewards_slideUp_3afa6e1a;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.8s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 140rem;
  position: relative;
  z-index: 4;
}
.mediaLarge .AdditionalRewards_buttonWrapper_7e5f069f {
  min-width: 160rem;
}

.AdditionalRewards_footer_ffae6df {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AdditionalRewards_caption_860c56bc {
  opacity: 0;
  animation-name: AdditionalRewards_slideUp_3afa6e1a;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.4s;
  animation-iteration-count: 1;
  color: #e9e2bf;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 30rem 0;
  text-align: center;
  position: relative;
  z-index: 4;
}
@keyframes Banner_fadeInWithScale_fad1ffcf {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Banner_slideUp_fad1ffcf {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Banner_blink_fad1ffcf {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Banner_scale_fad1ffcf {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Banner_rotate_fad1ffcf {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Banner_windowIn_fad1ffcf {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Banner_fadeOut_fad1ffcf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Banner_fadeIn_fad1ffcf {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Banner_d226745a {
  max-width: 800rem;
  position: relative;
  z-index: 0;
}

.Banner_content_b0220cfe {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.Banner_icon_5d6fa4df {
  width: 160rem;
  height: 115rem;
  background: url("R.images.gui.maps.icons.battlePass.rewards.battle_pass_banner") no-repeat
    center/contain;
}
.mediaLarge .Banner_icon_5d6fa4df {
  width: 210rem;
  height: 150rem;
}

.Banner_description_ac932ff {
  max-width: 500rem;
  margin-left: 5rem;
}

.Banner_title_f8c86772 {
  color: #f2f2f7;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 5rem;
}
.mediaLarge .Banner_title_f8c86772 {
  margin-bottom: 10rem;
  font-size: 36rem;
}

.Banner_text_6a6f5026 {
  color: #e9e2bf;
  font-size: 16rem;
  line-height: 20rem;
}

.Banner_buttonContainer_9bae7c89 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.Banner_buttonWrapper_4e9f1fa3 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 140rem;
}
.mediaLarge .Banner_buttonWrapper_4e9f1fa3 {
  min-width: 160rem;
}

.Banner_buttonGlow_d6f79d6a {
  width: 769rem;
  height: 452rem;
  margin: -226rem 0 0 -384rem;
  background: url("R.images.gui.maps.icons.battlePass.rewards.button_blink") no-repeat
    center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  pointer-events: none;
}
@keyframes Footer_fadeInWithScale_4308958a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Footer_slideUp_4308958a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Footer_blink_4308958a {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Footer_scale_4308958a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Footer_rotate_4308958a {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Footer_windowIn_4308958a {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Footer_fadeOut_4308958a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Footer_fadeIn_4308958a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Footer_f09fca09 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.Footer_base__withPostProgressionPath_67ee05f9 {
  margin-top: 40rem;
}
.mediaMedium .Footer_base__withPostProgressionPath_67ee05f9 {
  margin-top: 50rem;
}

.Footer_postProgressionInfo_90b6969f {
  color: #fd9;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 520rem;
  height: 98rem;
  text-align: center;
  position: relative;
}
.mediaMedium .Footer_postProgressionInfo_90b6969f {
  width: 632rem;
  height: 118rem;
}

.Footer_lockImage_39ae8112 {
  width: 520rem;
  height: 196rem;
  background: url("R.images.gui.maps.icons.battlePass.rewards.lock_small") no-repeat center/contain;
  mix-blend-mode: normal;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.mediaMedium .Footer_lockImage_39ae8112 {
  width: 632rem;
  height: 238rem;
  background-image: url("R.images.gui.maps.icons.battlePass.rewards.lock");
}

.Footer_title_d3857cd {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  max-width: 800rem;
  margin-bottom: 16rem;
  text-align: center;
  opacity: 0.5;
}
.Footer_title__highlight_97414ca4 {
  color: #e9e2bf;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
  max-width: 900rem;
  opacity: 1;
}
.mediaMedium .Footer_title__highlight_97414ca4 {
  color: #e9e2bf;
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}

.Footer_buttonContainer_873ac017 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-width: 140rem;
  position: relative;
}
.mediaLarge .Footer_buttonContainer_873ac017 {
  min-width: 160rem;
}

.Footer_postProgressionButton_45a39895 {
  margin-left: 12rem;
}
@keyframes ChapterLogo_fadeInWithScale_c213492a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ChapterLogo_slideUp_c213492a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ChapterLogo_blink_c213492a {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes ChapterLogo_scale_c213492a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ChapterLogo_rotate_c213492a {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ChapterLogo_windowIn_c213492a {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ChapterLogo_fadeOut_c213492a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ChapterLogo_fadeIn_c213492a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ChapterLogo_aa1334cf {
  opacity: 0;
  animation-name: ChapterLogo_fadeInWithScale_c213492a;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.2s;
  animation-iteration-count: 1;
  width: 400rem;
  height: 300rem;
  background: no-repeat center/contain;
  position: relative;
}
.mediaMedium .ChapterLogo_aa1334cf {
  width: 600rem;
  height: 450rem;
}
@keyframes Glow_fadeInWithScale_a44066b8 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Glow_slideUp_a44066b8 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Glow_blink_a44066b8 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Glow_scale_a44066b8 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Glow_rotate_a44066b8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Glow_windowIn_a44066b8 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Glow_fadeOut_a44066b8 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Glow_fadeIn_a44066b8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Glow_ae7a850f {
  position: relative;
}

.Glow_91b75819 {
  width: 560rem;
  height: 560rem;
  margin-left: -280rem;
  margin-top: -280rem;
  opacity: 0;
  mix-blend-mode: additive;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: Glow_fadeIn_a44066b8 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 1.2s forwards 1;
}
.mediaMedium .Glow_91b75819 {
  width: 666rem;
  height: 666rem;
  margin-left: -333rem;
  margin-top: -333rem;
}
.mediaLarge .Glow_91b75819 {
  width: 800rem;
  height: 800rem;
  margin-left: -400rem;
  margin-top: -400rem;
}
@keyframes AttachmentOverlay_fadeInWithScale_2ef6ad7b {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AttachmentOverlay_slideUp_2ef6ad7b {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AttachmentOverlay_blink_2ef6ad7b {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes AttachmentOverlay_scale_2ef6ad7b {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes AttachmentOverlay_rotate_2ef6ad7b {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes AttachmentOverlay_windowIn_2ef6ad7b {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AttachmentOverlay_fadeOut_2ef6ad7b {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes AttachmentOverlay_fadeIn_2ef6ad7b {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.AttachmentOverlay_cb258ef {
  width: 100%;
  height: 100%;
  background: no-repeat center/100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
@keyframes Compensation_fadeInWithScale_db29c4dc {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Compensation_slideUp_db29c4dc {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Compensation_blink_db29c4dc {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Compensation_scale_db29c4dc {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Compensation_rotate_db29c4dc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Compensation_windowIn_db29c4dc {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Compensation_fadeOut_db29c4dc {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Compensation_fadeIn_db29c4dc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Compensation_50897e74 {
  width: 48rem;
  height: 48rem;
  background: no-repeat center/contain;
}
@keyframes TankName_fadeInWithScale_a6870619 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes TankName_slideUp_a6870619 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes TankName_blink_a6870619 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes TankName_scale_a6870619 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes TankName_rotate_a6870619 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes TankName_windowIn_a6870619 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes TankName_fadeOut_a6870619 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes TankName_fadeIn_a6870619 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.TankName_6f5fa973 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #e9e2bf;
  line-height: 1.3;
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.mediaMedium .TankName_6f5fa973 {
  font-size: 18rem;
}
.TankName_base__wide_bdc02313 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.mediaMedium .TankName_base__wide_bdc02313 {
  font-size: 24rem;
}

.TankName_type_be575ae0 {
  width: 56rem;
  height: 50rem;
  margin: 0 -10rem;
  background: no-repeat center/contain;
}
.TankName_base__wide_bdc02313 .TankName_type_be575ae0 {
  margin: 0 -8rem;
}
.mediaMedium .TankName_base__wide_bdc02313 .TankName_type_be575ae0 {
  width: 83rem;
  height: 74rem;
  margin: 0 -14rem;
}
@keyframes Text_fadeInWithScale_e1d6e9be {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Text_slideUp_e1d6e9be {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Text_blink_e1d6e9be {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Text_scale_e1d6e9be {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Text_rotate_e1d6e9be {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Text_windowIn_e1d6e9be {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Text_fadeOut_e1d6e9be {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Text_fadeIn_e1d6e9be {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Text_textCenter_a832bab6 {
  justify-content: center;
}
@keyframes Title_fadeInWithScale_2e63cf3 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Title_slideUp_2e63cf3 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Title_blink_2e63cf3 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Title_scale_2e63cf3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Title_rotate_2e63cf3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Title_windowIn_2e63cf3 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Title_fadeOut_2e63cf3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Title_fadeIn_2e63cf3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Title_ddf5c9be {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Title_37b34825 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  line-height: 1.3;
}
.mediaMedium .Title_37b34825 {
  font-size: 18rem;
}
.Title_base__wide_2e63cf3 .Title_37b34825 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  line-height: 1.3;
}
.mediaMedium .Title_base__wide_2e63cf3 .Title_37b34825 {
  font-size: 22rem;
}
.Title_base__credits_2e63cf3 .Title_37b34825 {
  color: #ced9d9;
}
.Title_base__gold_2e63cf3 .Title_37b34825 {
  color: #ffc363;
}
.Title_base__bptaler_2e63cf3 .Title_37b34825,
.Title_base__crystal_2e63cf3 .Title_37b34825 {
  color: #c9c9b6;
}

.Title_subtitle_918f7dda {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.mediaMedium .Title_subtitle_918f7dda {
  font-size: 18rem;
}
.Title_base__wide_2e63cf3 .Title_subtitle_918f7dda {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.mediaMedium .Title_base__wide_2e63cf3 .Title_subtitle_918f7dda {
  font-size: 22rem;
}
@keyframes Reward_fadeInWithScale_21f091ec {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Reward_slideUp_21f091ec {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Reward_blink_21f091ec {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Reward_scale_21f091ec {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Reward_rotate_21f091ec {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Reward_windowIn_21f091ec {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Reward_fadeOut_21f091ec {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Reward_fadeIn_21f091ec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Reward_c14bb065 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10rem;
  position: relative;
}
.mediaMedium .Reward_c14bb065 {
  margin: 0;
}

.Reward_imageWrapper_ee9e0933 {
  position: relative;
}

.Reward_image_39bfebdb {
  opacity: 0;
  animation-name: Reward_fadeInWithScale_21f091ec;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.2s;
  animation-iteration-count: 1;
  width: 232rem;
  height: 174rem;
  background: no-repeat center/contain;
  position: relative;
}
.mediaMedium .Reward_image_39bfebdb {
  width: 400rem;
  height: 300rem;
}
.Reward_base__updateAnimation_21f091ec .Reward_image_39bfebdb {
  opacity: 0;
  animation-name: Reward_fadeInWithScale_21f091ec;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
}
.Reward_base__wide_21f091ec .Reward_image_39bfebdb {
  width: 400rem;
  height: 300rem;
}
.mediaMedium .Reward_base__wide_21f091ec .Reward_image_39bfebdb {
  width: 600rem;
  height: 450rem;
}
.mediaMedium .Reward_base__small_21f091ec .Reward_image_39bfebdb {
  width: 296rem;
  height: 222rem;
}

.Reward_compensation_298a4419 {
  position: absolute;
}
.Reward_compensation__wide_725e7d79 {
  top: 10%;
  right: 12%;
}
.mediaMedium .Reward_compensation__wide_725e7d79 {
  top: 18%;
  right: 15%;
}
.Reward_compensation__small_a906de0f {
  top: 0;
  right: 0;
}
.mediaLarge .Reward_compensation__small_a906de0f {
  top: 7%;
  right: 5%;
}

.Reward_attachment_48a1a96b {
  opacity: 0;
  animation-name: Reward_fadeInWithScale_21f091ec;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.2s;
  animation-iteration-count: 1;
}
.Reward_base__updateAnimation_21f091ec .Reward_attachment_48a1a96b {
  opacity: 0;
  animation-name: Reward_fadeInWithScale_21f091ec;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.Reward_title_eac8d89d {
  opacity: 0;
  animation-name: Reward_fadeIn_21f091ec;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.4s;
  animation-iteration-count: 1;
  width: 110%;
  text-align: center;
  position: relative;
  z-index: 4;
}
.Reward_base__updateAnimation_21f091ec .Reward_title_eac8d89d {
  opacity: 0;
  animation-name: Reward_fadeInWithScale_21f091ec;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
}
.Reward_base__wide_21f091ec .Reward_title_eac8d89d {
  width: 380rem;
}
.mediaMedium .Reward_base__wide_21f091ec .Reward_title_eac8d89d {
  position: relative;
  top: -24rem;
}
.mediaLarge .Reward_base__wide_21f091ec .Reward_title_eac8d89d {
  position: static;
}

.Reward_count_b77b0d34 {
  opacity: 0;
  animation-name: Reward_fadeIn_21f091ec;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.8s;
  animation-iteration-count: 1;
  color: #e9e2bf;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
  top: 82%;
  right: 5%;
  z-index: 4;
}
.mediaMedium .Reward_count_b77b0d34 {
  right: 10%;
}
.Reward_base__updateAnimation_21f091ec .Reward_count_b77b0d34 {
  opacity: 0;
  animation-name: Reward_fadeInWithScale_21f091ec;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
}
@keyframes Rewards_fadeInWithScale_405577a5 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Rewards_slideUp_405577a5 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Rewards_blink_405577a5 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Rewards_scale_405577a5 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Rewards_rotate_405577a5 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Rewards_windowIn_405577a5 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Rewards_fadeOut_405577a5 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Rewards_fadeIn_405577a5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Rewards_1a8854f {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Rewards_base__updateSize_222a87fa {
  height: 300rem;
}
.mediaMedium .Rewards_base__updateSize_222a87fa {
  height: 450rem;
}
@keyframes Ribbon_fadeInWithScale_18efb3f8 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Ribbon_slideUp_18efb3f8 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Ribbon_blink_18efb3f8 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Ribbon_scale_18efb3f8 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Ribbon_rotate_18efb3f8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Ribbon_windowIn_18efb3f8 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Ribbon_fadeOut_18efb3f8 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Ribbon_fadeIn_18efb3f8 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Ribbon_2234841 {
  opacity: 0;
  animation-name: Ribbon_slideUp_18efb3f8;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1s;
  animation-iteration-count: 1;
  width: 1366rem;
  height: 356rem;
  margin-left: -683rem;
  background: no-repeat center center/contain;
  opacity: 0;
  position: absolute;
  top: 10rem;
  left: 50%;
}
.mediaMedium .Ribbon_2234841 {
  width: 1600rem;
  height: 417rem;
  margin-left: -800rem;
  top: 40rem;
}
.mediaLarge .Ribbon_2234841 {
  width: 1920rem;
  height: 500rem;
  margin-left: -960rem;
}
.Ribbon_base__indentWide_72bb1f1 {
  top: 60rem;
}
.mediaMedium .Ribbon_base__indentWide_72bb1f1 {
  top: 120rem;
}
@keyframes MainRewards_fadeInWithScale_56da68ed {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes MainRewards_slideUp_56da68ed {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes MainRewards_blink_56da68ed {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes MainRewards_scale_56da68ed {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes MainRewards_rotate_56da68ed {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes MainRewards_windowIn_56da68ed {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes MainRewards_fadeOut_56da68ed {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes MainRewards_fadeIn_56da68ed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MainRewards_c825d49e {
  display: flex;
  justify-content: center;
  position: relative;
}

.MainRewards_glow_31c8c598 {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mediaMedium .MainRewards_glow_31c8c598 {
  top: 50%;
}

.MainRewards_rays_11ac61d3 {
  width: 910rem;
  height: 910rem;
  margin-left: -455rem;
  margin-top: -455rem;
  background: url("R.images.gui.maps.icons.battlePass.rewards.lines") no-repeat center
    center/contain;
  opacity: 0;
  mix-blend-mode: additive;
  position: absolute;
  top: 60%;
  left: 50%;
  animation:
    MainRewards_raysAppearance_56da68ed 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s forwards,
    MainRewards_rotate_56da68ed 120s linear 1.2s infinite forwards;
  pointer-events: none;
}
.mediaMedium .MainRewards_rays_11ac61d3 {
  width: 1080rem;
  height: 1080rem;
  margin-left: -540rem;
  margin-top: -540rem;
}
.mediaLarge .MainRewards_rays_11ac61d3 {
  width: 1300rem;
  height: 1300rem;
  margin-left: -650rem;
  margin-top: -650rem;
}

@keyframes MainRewards_raysAppearance_56da68ed {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes MainRewards_rotate_56da68ed {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_fadeInWithScale_0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_blink_0 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes App_scale_0 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes App_rotate_0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes App_windowIn_0 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_1b1884ba {
  display: flex;
  width: 100%;
  height: 100%;
  background: #000 no-repeat center/cover;
  overflow: hidden;
  position: relative;
}

.App_overlay_ce1d3259 {
  background-color: rgba(17, 17, 17, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.App_overlay__common_f6f1f131 {
  background-color: rgba(17, 17, 17, 0.5);
}

.App_main_20c49be8 {
  opacity: 0;
  animation-name: App_fadeInWithScale_0;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 40rem 0 50rem;
}
.mediaExtraLarge .App_main_20c49be8 {
  padding-top: 100rem;
  padding-bottom: 100rem;
}

.App_close_110976dc {
  position: absolute;
  top: 42rem;
  right: 42rem;
  z-index: 2;
}

.App_content_d2251eca {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  position: relative;
}

.App_header_c3dc2c23 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.App_rewards_927ebd71 {
  width: 100%;
  position: relative;
}
.App_rewards__additionalCentring_6f33396d {
  transform: translateY(-37rem);
}
.mediaMedium .App_rewards__additionalCentring_6f33396d {
  transform: translateY(-10rem);
}
.mediaLarge .App_rewards__additionalCentring_6f33396d {
  transform: translateY(-37rem);
}

.App_additionalRewards_2598f029 {
  width: 100%;
  margin-top: 30rem;
  position: absolute;
  top: 100%;
  left: 0;
}
.mediaMedium .App_additionalRewards_2598f029 {
  margin-top: 10rem;
}
.mediaLarge .App_additionalRewards_2598f029 {
  margin-top: 80rem;
}
.mediaExtraLarge .App_additionalRewards_2598f029 {
  margin-top: 110rem;
}
.App_additionalRewards__slideTop_bc21615e {
  transform: translateY(calc(var(--banner-height) / -2.5));
}
.App_additionalRewards__animateSlide_9db8979b {
  transition: transform 0.3s ease-in-out 0.3s;
}

.App_base__buyWithLevels_0 .App_mainRewards_de1e5f92 {
  margin-top: 74rem;
}
.App_mainRewards__slideTop_bc21615e {
  transform: translateY(calc(var(--banner-height) / -2.5));
}
.App_mainRewards__animateSlide_7838291c {
  transition: transform 0.3s ease-in-out 0.2s;
}

.App_footer_e0204304 {
  opacity: 0;
  animation-name: App_slideUp_0;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.6s;
  animation-iteration-count: 1;
}
.App_footer__hide_642d4e09 {
  opacity: 1;
  animation-name: App_fadeOut_0;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  pointer-events: none;
}
.App_footer__diffTop_8dc6cdec {
  margin-top: 0;
}

.App_banner_e0204304 {
  opacity: 0;
  animation-name: App_slideUp_0;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.6s;
  animation-iteration-count: 1;
}
.App_banner__showPreparation_ca795627 {
  opacity: 0;
  animation-name: App_slideUp_0;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.4s;
  animation-iteration-count: 1;
  position: absolute;
  bottom: 50rem;
  z-index: 1;
}
.mediaExtraLarge .App_banner__showPreparation_ca795627 {
  bottom: 100rem;
}
