.Background_base_bc628 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.Background_bg_b4d99 {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 0;
}

.Background_bg__invisible_f209e {
        display: none;
    }

.Background_image_c9989 {
    display: none;
    position: absolute;
}

.Progress_base_a0e1d {
    width: 100%;
    height: 5rem;
    position: relative;
}

.Progress_back_e20c3 {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
}

.Progress_fore_eeb44 {
    height: 100%;
    background-color: #c2b593;
    position: absolute;
    top: 0;
    left: 0;
}

.ContentFooter_base_dc289 {
    display: flex;
    flex-direction: column-reverse;
}

.ContentFooter_title_f0dc9 {
    filter: drop-shadow(0 4rem 4rem rgba(0,0,0, .25));
    margin-bottom: 4rem;
    font-size: 36rem;
    font-weight: 700;
}

@media (min-width: 1366px) and (min-height: 768px) {

.ContentFooter_title_f0dc9 {
        margin-bottom: 13rem;
        font-size: 56rem
}
    }

.ContentFooter_title__only_a0960 {
        margin-bottom: 23rem;
    }

@media (min-width: 1366px) and (min-height: 768px) {

.ContentFooter_title__only_a0960 {
            margin-bottom: 37rem;
            font-size: 36rem
    }
    }

.ContentFooter_description_fe58b {
    filter: drop-shadow(0 4rem 4rem rgba(0,0,0, .25));
    display: inline;
    flex-wrap: wrap;
    width: 680rem;
    margin-bottom: 33rem;
    font-size: 15rem;
    font-weight: 400;
}

@media (min-width: 1366px) and (min-height: 768px) {

.ContentFooter_description_fe58b {
        margin-bottom: 60rem;
        font-size: 20rem
}
    }

.ContentFooter_progressBar_d35c8 {
    margin-bottom: 60rem;
}

@media (min-width: 1366px) and (min-height: 768px) {

.ContentFooter_progressBar_d35c8 {
        margin-bottom: 80rem
}
    }

.ContentFooter_progressBar__alwaysOnTop_f6b3d {
        z-index: 2;
    }

.ContentFooter_statusText_da3e9 {
    filter: drop-shadow(0 4rem 4rem rgba(0,0,0, .25));
    margin-bottom: 4rem;
    font-size: 14rem;
    font-weight: 800;
}

@media (min-width: 1366px) and (min-height: 768px) {

.ContentFooter_statusText_da3e9 {
        margin-bottom: 13rem;
        font-size: 18rem
}
    }

.ContentFooter_statusText__alwaysOnTop_af368 {
        z-index: 2;
    }

.LogoSlide_base_fc635 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.LogoSlide_backLogo_f4f31 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1920rem;
    height: 1080rem;
    margin-top: 60rem;
    background: url('img://gui/maps/loading/login_bg.png') no-repeat center / cover;
}

.LogoSlide_logo_f0e8a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 490rem;
    height: 320rem;
    margin-top: -95rem;
    background: url('img://gui/maps/loading/login_logo.png') no-repeat center / cover;
}

@media (min-width: 1366px) and (min-height: 768px) {

.LogoSlide_logo_f0e8a {
        width: 800rem;
        height: 560rem;
        margin-top: -80rem;
        background: url('img://gui/maps/loading/login_logo_big.png') no-repeat center / cover
}
    }

.LogoSlide_awards_da55c {
    width: 764rem;
    height: 114rem;
    background: url('img://gui/maps/loading/awards.png') no-repeat center / cover;
    position: absolute;
    bottom: 20rem;
    left: 50%;
    transform: translateX(-50%);
}

.Content_base_e1e35 {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #dacca8;
}

.Content_background_f7a82 {
    position: absolute;
    top: 0;
    left: 0;
}

.Content_label_aeea1 {
    color: #595950;
    font-size: 14rem;
    font-weight: 800;
}

.Content_version_b5532 {
    position: absolute;
    bottom: 6rem;
    left: 14rem;
}

.Content_copyright_ca0f6 {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
}

.Content_ageRating_d6f2d {
    width: 300rem;
    height: 135rem;
    background: no-repeat right / contain;
    position: absolute;
    top: 46rem;
    right: 37rem;
}

.Content_contentFooter_a6d4c {
    position: absolute;
    right: 60rem;
    bottom: 0;
    left: 60rem;
}

@media (min-width: 1366px) and (min-height: 768px) {

.Content_contentFooter_a6d4c {
        right: 108rem;
        left: 108rem
}
    }

.Content_fairPlayMessage_b87e8 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024rem;
    height: 768rem;
    background: url('img://gui/maps/loading/fair_play_message.png') no-repeat center / cover;
}

@media (min-width: 1366px) and (min-height: 768px) {

.Content_fairPlayMessage_b87e8 {
        width: 1920rem;
        height: 1080rem;
        background: url('img://gui/maps/loading/fair_play_message_big.png') no-repeat center / cover
}
    }

.Content_vignette_be487 {
    width: 100vw;
    height: 100vh;
    background: url('img://gui/maps/loading/vignette_loading.png') no-repeat center / 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.Content_vignette__invisible_f8184 {
        display: none;
    }

.Content_info_deb4a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 20rem;
    font-size: 16rem;
    position: absolute;
    top: calc(50vh + 35rem);
    bottom: 133rem;
}

@media (min-width: 1366px) and (min-height: 768px) {

.Content_info_deb4a {
        top: calc(50vh + 160rem)
}
    }

.Content_info__default_fc16a {
        height: 55rem;
        color: #8c8c7e;
        top: auto;
        bottom: 5rem;
    }

@media (min-width: 1366px) and (min-height: 768px) {

.Content_info__default_fc16a {
            height: 75rem;
            top: auto
    }
    }

.Content_info__korea_e4c87 {
        font-size: 32rem;
    }

@media (min-width: 1600px) and (min-height: 900px) {

.Content_info__korea_e4c87 {
            font-size: 50rem
    }
    }

.Content_info__china_bfcfe {
        color: #fefeec;
    }

.Content_logo_f6b83 {
    width: 250rem;
    height: 50rem;
    background: url('img://gui/maps/loading/wot_logo.png') no-repeat center / 100% 100%;
    position: absolute;
    top: 43rem;
    left: 50rem;
}

@media (min-width: 1366px) and (min-height: 768px) {

.Content_logo_f6b83 {
        top: 61rem;
        left: 100rem
}
    }

@media (min-width: 1600px) and (min-height: 900px) {

.Content_logo_f6b83 {
        width: 330rem;
        height: 67rem;
        background: url('img://gui/maps/loading/wot_logo_big.png') no-repeat center / 100% 100%;
        left: 97rem
}
    }

@keyframes Content_fadeIn_a23c2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.App_base_af335 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.App_content_ec868 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.App_dimmer_a500d {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.App_dimmer__visible_fb2a7 {
        opacity: 1;
    }

.App_dimmer__fadeOut_eb4b1 {
        animation: App_fadeOut_cd55f linear;
    }

.App_dimmer__fadeIn_adc60 {
        animation: App_fadeIn_cc058 linear;
    }

@keyframes App_fadeIn_cc058 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes App_fadeOut_cd55f {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

