/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Content_root_da09528a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.Content_imageWrapper_6f46b305 {
  width: 148rem;
  height: 148rem;
  margin: 9rem 0 13rem 13rem;
  position: relative;
}
.Content_base__popUp_da09528a .Content_imageWrapper_6f46b305 {
  width: 132rem;
  height: 132rem;
  margin: 0 0 32rem;
}
.Content_base__withTimer_da09528a.Content_base__popUp_da09528a .Content_imageWrapper_6f46b305 {
  width: 124rem;
  height: 124rem;
  margin: 0 0 22rem;
}

.Content_glow_a85ea47f {
  width: 270rem;
  height: 270rem;
  background: url(R.images.gui.maps.icons.seniorityAwards.notifications.glow) no-repeat
    center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-51%, -50%);
  pointer-events: none;
}

.Content_image_1228470b {
  width: 148rem;
  height: 148rem;
  position: relative;
}
.Content_base__popUp_da09528a .Content_image_1228470b {
  width: 132rem;
  height: 132rem;
}
.Content_base__withTimer_da09528a.Content_base__popUp_da09528a .Content_image_1228470b {
  width: 124rem;
  height: 124rem;
}

.Content_count_bea3ba24 {
  position: absolute;
  bottom: 1rem;
  left: 91rem;
}
.Content_base__popUp_da09528a .Content_count_bea3ba24 {
  bottom: -4rem;
  left: 84rem;
}
.Content_base__popUp_da09528a.Content_base__withTimer_da09528a .Content_count_bea3ba24 {
  bottom: -3rem;
  left: 80rem;
}

.Content_countValue_c534e566 {
  margin-left: 2rem;
}

.Content_base__withTimer_da09528a .Content_title_b1f21cd5 {
  margin-bottom: 7rem;
}
.Content_base__popUp_da09528a .Content_title_b1f21cd5 {
  margin-bottom: 22rem;
}
.Content_base__popUp_da09528a.Content_base__withTimer_da09528a .Content_title_b1f21cd5 {
  margin-bottom: 2rem;
}

.Content_timer_70ef4d3b {
  margin-bottom: 17rem;
}
.Content_base__popUp_da09528a .Content_timer_70ef4d3b {
  margin-bottom: 8rem;
}
