@keyframes Footer_fadeIn_4308958a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Footer_877c593c {
  display: flex;
  justify-content: center;
}@keyframes Content_fadeIn_da09528a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_3cc327d5 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1;
}@keyframes Header_fadeIn_65f475ba {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Header_bb6ea0e2 {
  display: flex;
  border-bottom: 1rem solid rgba(237, 230, 217, 0.1);
}

.Header_label_301e7bba {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-secondary);
  line-height: 1.1;
  text-shadow: 0 2rem 0 rgba(0, 0, 0, 0.3), 0 2rem 30rem rgba(23, 23, 23, 0.4);
}
.mediaLarge .Header_label_301e7bba {
  font-size: 22rem;
  line-height: 1.15;
}@keyframes Item_fadeIn_5f6fcc69 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Item_c5163bf {
  position: relative;
}@keyframes RewardRow_fadeIn_eeac5b76 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RewardRow_ca050985 {
  width: 100%;
  color: #fff;
}

.RewardRow_heading_101fdc8c {
  margin-bottom: 8rem;
}

.RewardRow_content_b55b0faa {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1;
  margin-bottom: 24rem;
}

.RewardRow_reward_625e7be {
  margin: 0 28rem 12rem 0;
  position: relative;
}@keyframes Count_fadeIn_d63373f8 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Count_36ff5cb1 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  color: var(--color-general-primary);
  position: absolute;
  top: 100%;
  right: 2rem;
  transform: translateY(-7rem);
}@keyframes Image_fadeIn_f239db79 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Image_e025628e {
  width: 100%;
  height: 80rem;
  background: no-repeat center/contain;
  position: relative;
}

.Image_overlay_ed672d5e {
  width: 128rem;
  height: 128rem;
  background: no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Image_overlay__normalize_2bfd2959 {
  width: 80rem;
  height: 80rem;
}

.Image_iconCompensation_9f702d91 {
  width: 24rem;
  height: 24rem;
  background: no-repeat center/contain;
  position: absolute;
  top: -8rem;
  right: -8rem;
}@keyframes Label_fadeIn_e3f8b3ce {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Label_25cbbcaf {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.2em;
  display: flex;
  justify-content: center;
  width: 92rem;
  color: var(--color-currency-credits);
  text-align: center;
  transform: translateY(-7rem);
}
.Label_label__credits_c318c9f1 {
  color: var(--color-currency-credits);
}
.Label_label__vehicles_e3f8b3ce, .Label_label__gold_e3f8b3ce, .Label_label__premium_e3f8b3ce, .Label_label__premiumTank_5d5126e1 {
  color: var(--color-currency-gold);
}
.Label_label__crystal_e3f8b3ce, .Label_label__bptaler_e3f8b3ce, .Label_label__freeXP_34a7d691 {
  color: var(--color-currency-bond);
}
.Label_label__customizations_b90b17f2 {
  color: var(--color-general-secondary);
}

.Label_accentGold_5d5126e1 {
  color: var(--color-currency-gold);
}@keyframes Reward_fadeIn_21f091ec {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Reward_e23f2c77 {
  width: 80rem;
  height: 80rem;
}

.Reward_wrapper_b54b4dc5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}@keyframes RewardRow_fadeIn_eeac5b76 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RewardRow_f98d6058 {
  display: flex;
  flex-direction: column;
}

.RewardRow_header_e3184570 {
  padding-bottom: 10rem;
}
.mediaLarge .RewardRow_header_e3184570 {
  margin-bottom: 6rem;
}

.RewardRow_content_9bd36497 {
  margin: 0 -8rem 36rem;
}
.mediaLarge .RewardRow_content_9bd36497 {
  margin-bottom: 50rem;
}
.RewardRow_base__small_eeac5b76 .RewardRow_content_9bd36497 {
  margin-bottom: 0;
}

.RewardRow_item_a2938aed {
  padding: 8rem;
}@keyframes Content_fadeIn_da09528a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_a7c73ed5 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Content_a7c73ed5 .Content_scroll_9fcfd0ba {
  width: 752rem;
  height: 100%;
}

.Content_a7c73ed5 .Content_scrollBar_32fb5c63 {
  right: -40rem;
}
.mediaLarge .Content_a7c73ed5 .Content_scrollBar_32fb5c63 {
  right: -50rem;
}

.Content_c61849db {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 752rem;
  min-height: 100%;
  margin: 0 30rem;
}@keyframes App_fadeIn_0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_b494b37e {
  width: 100%;
  height: 100%;
  background: no-repeat center/cover;
  position: relative;
  z-index: 0;
}

.App_b494b37e .App_closeButton_24dcdb0b {
  position: absolute;
  top: 30rem;
  right: 30rem;
  z-index: 1;
}

.App_header_fcbfe4a9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.mediaMedium .App_header_fcbfe4a9 {
  padding-top: 42rem;
}
.mediaLarge .App_header_fcbfe4a9 {
  padding-top: 50rem;
}

.App_b494b37e .App_title_903814c5 {
  line-height: 1;
}

.App_scrollArea_4a3767fe {
  padding: 120rem 20rem;
}
.mediaMedium .App_scrollArea_4a3767fe {
  padding: 130rem 20rem;
}
.mediaLarge .App_scrollArea_4a3767fe {
  padding: 150rem 20rem;
}
.mediaExtraLarge .App_scrollArea_4a3767fe {
  padding: 270rem 20rem;
}

.App_footer_36d816be {
  padding-bottom: 40rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.mediaMedium .App_footer_36d816be {
  padding-bottom: 48rem;
}
.mediaLarge .App_footer_36d816be {
  padding-bottom: 60rem;
}