.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_39 {
        flex-direction: row-reverse;
    }
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
    .TextButton_icon__forward_59 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_59 {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_53 {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_33 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
    .TextButton_icon__forward_59 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_53 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_33 .TextButton_glow_a4 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_b6:hover .TextButton_glow_a4 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_glow_a4 {
        opacity: 0;
    }
.TextButton_caption_82 {
    position: relative;
    transition: color .16s, text-shadow .16s;
}
.TextButton_caption__back_b9,
    .TextButton_caption__forward_4e,
    .TextButton_caption__close_36 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_b6:hover .TextButton_caption__back_b9, .TextButton_base_b6:hover .TextButton_caption__forward_4e, .TextButton_base_b6:hover .TextButton_caption__close_36 {
            color: #fffa9f;
        }
.TextButton_base_b6:active .TextButton_caption__back_b9, .TextButton_base_b6:active .TextButton_caption__forward_4e, .TextButton_base_b6:active .TextButton_caption__close_36 {
            color: #FFDD99;
        }
.TextButton_caption__info_23 {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_b6:hover .TextButton_caption__info_23 {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_b6:active .TextButton_caption__info_23 {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
        margin-left: 8rem;
    }
.TextButton_base__right_39 .TextButton_goto_e7 {
        margin-right: 8rem;
    }
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
        left: -4rem;
    }
.TextButton_base__right_39 .TextButton_shine_e2 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_b6:hover .TextButton_shine_e2 {
        opacity: 1;
    }
.TextButton_base_b6:active .TextButton_shine_e2 {
        opacity: 0;
    }

.App_base_0c {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 30rem;
    background: url('R.images.gui.maps.icons.storage.background') no-repeat center / cover;
    position: relative;
    animation-name: App_windowIn_18;
    animation-duration: .5s;
    animation-fill-mode: both;
}

.App_shadow_d8 {
    background-color: rgba(0,0,0, .1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.App_close_64 {
    position: absolute;
    top: 13rem;
    right: 8rem;
}

@keyframes App_windowIn_18 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.HorizontalBar_base_49 {
    display: flex;
    width: 100%;
    height: 13rem;
    position: relative;
}

    .HorizontalBar_base__nonActive_82 {
        visibility: hidden;
    }

    .HorizontalBar_base_49 .disable,
    .HorizontalBar_base_49 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover, .HorizontalBar_rightButton_03:hover {
        opacity: 1;
    }

.HorizontalBar_leftButton_5f {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_03 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_0d {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_fd {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem 7rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
        opacity: 1;
    }

.HorizontalBar_rail_32 {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_32:hover {
        opacity: .7;
    }


.HorizontalScroll_base_29 {
    width: 100%;
}

.HorizontalScroll_wrapper_1e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
    width: 100%;
    margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    position: relative;
}

    .VerticalBar_base__nonActive_42 {
        visibility: hidden;
    }

    .VerticalBar_base_f3 .disable,
    .VerticalBar_base_f3 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_topButton_d7:hover, .VerticalBar_bottomButton_06:hover {
        opacity: 1;
    }

.VerticalBar_topButton_d7 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.VerticalBar_bottomButton_06 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.VerticalBar_track_df {
    flex: 1;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
}

.VerticalBar_thumb_32 {
    display: flex;
    flex: 0 0 13rem;
    width: 13rem;
    height: 100%;
    min-height: 20rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb') no-repeat center / 7rem 8rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_thumb_32:hover {
        opacity: 1;
    }

.VerticalBar_rail_43 {
    width: 0;
    height: 100%;
    border-left: 1rem solid #2f2e24;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
}

.VerticalBar_rail_43:hover {
        opacity: .7;
    }


.VerticalScroll_content_cb {
    height: 100%;
    overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
    display: flex;
}

.VerticalScroll_bar_1e {
    flex: 1;
    margin-left: 7rem;
}

.VerticalScroll_area_af {
    flex: 1;
}

.Currency_base_57 {
    display: flex;
    align-items: center;
    position: relative;
}
.Currency_icon_c5 {
    --icon-height: 16rem;
    --icon-width: var(--icon-height);
    width: var(--icon-width);
    height: var(--icon-height);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.Currency_base__small_af .Currency_icon_c5,
    .Currency_base__big_bc .Currency_icon_c5,
    .Currency_base__large_65 .Currency_icon_c5,
    .Currency_base__extraLarge_4d .Currency_icon_c5 {
        transform: translateY(3rem);
    }
.Currency_icon__credits-small_9b {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
    }
.Currency_icon__credits-big_96 {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_1');
    }
.Currency_icon__credits-large_ac {
        --icon-height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_silver');
    }
.Currency_base__large_65 .Currency_icon__credits-large_ac {
            transform: translateY(4rem);
        }
.Currency_icon__credits-extraLarge_16 {
        --icon-height: 80rem;
        margin-right: -2rem;
        background-image: url('R.images.gui.maps.icons.library.credits_icon_80x80');
    }
.Currency_icon__gold-small_86 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
    }
.Currency_base__small_af .Currency_icon__gold-small_86 {
            transform: translateY(2rem);
        }
.Currency_icon__gold-big_15 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_1');
    }
.Currency_base__big_bc .Currency_icon__gold-big_15 {
            transform: translateY(4rem);
        }
.Currency_icon__gold-large_36 {
        --icon-height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_gold');
    }
.Currency_base__large_65 .Currency_icon__gold-large_36 {
            transform: translateY(4rem);
        }
.Currency_icon__gold-extraLarge_a0 {
        --icon-height: 80rem;
        background-image: url('R.images.gui.maps.icons.library.gold_icon_80x80');
    }
.Currency_icon__crystal-small_27 {
        background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
    }
.Currency_base__small_af .Currency_icon__crystal-small_27 {
            transform: translateY(2rem);
        }
.Currency_icon__crystal-big_cd {
        --icon-height: 22rem;
        --icon-width: 23rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_23x22');
    }
.Currency_base__big_bc .Currency_icon__crystal-big_cd {
            transform: translateY(4rem);
        }
.Currency_icon__crystal-large_d3 {
        --icon-height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_bonds');
    }
.Currency_icon__crystal-extraLarge_09 {
        --icon-height: 80rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_80x80');
    }
.Currency_base__extraLarge_4d .Currency_icon__crystal-extraLarge_09 {
            transform: translateY(7rem);
        }
.Currency_icon__xp-small_a7 {
        background-image: url('R.images.gui.maps.icons.library.NormalXpIcon');
    }
.Currency_base__small_af .Currency_icon__xp-small_a7 {
            transform: translateY(1rem);
        }
.Currency_icon__xp-big_97 {
        --icon-height: 22rem;
        --icon-width: 23rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.xpIcon_23x22');
    }
.Currency_base__big_bc .Currency_icon__xp-big_97 {
            transform: translateY(2rem);
        }
.Currency_icon__xp-large_6b {
        --icon-height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.exp');
    }
.Currency_icon__xp-extraLarge_67 {
        --icon-height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.xp_tank_icon_80x80');
    }
.Currency_icon__freeXP-small_ca {
        background-image: url('R.images.gui.maps.icons.library.freeXPIcon16x16');
    }
.Currency_base__small_af .Currency_icon__freeXP-small_ca {
            transform: translateY(1rem);
        }
.Currency_icon__freeXP-big_21 {
        --icon-height: 24rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.freeXPIconBig24x24');
    }
.Currency_icon__freeXP-large_c8 {
        --icon-height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.freeExp');
    }
.Currency_icon__freeXP-extraLarge_58 {
        --icon-height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.free_xp_icon_80x80');
    }
.Currency_base__extraLarge_4d .Currency_icon__freeXP-extraLarge_58 {
            transform: translateY(4rem);
        }
.Currency_icon__equipCoin-small_32 {
        --icon-height: 16rem;
        margin-right: -2rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoin_1');
    }
.Currency_base__small_af .Currency_icon__equipCoin-small_32 {
            transform: translateX(-1rem) translateY(1rem);
        }
.Currency_icon__equipCoin-big_79 {
        --icon-height: 24rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoinBig');
    }
.Currency_base__big_bc .Currency_icon__equipCoin-big_79 {
            transform: translateX(-5rem) translateY(3rem);
        }
.Currency_icon__equipCoin-large_2c {
        --icon-height: 48rem;
        margin-right: 2rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.equipCoin');
    }
.Currency_icon__equipCoin-extraLarge_8a {
        --icon-height: 80rem;
        margin-right: 8rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoin_icon_80x80');
    }
.Currency_base__extraLarge_4d .Currency_icon__equipCoin-extraLarge_8a {
            transform: translateX(2rem) translateY(4rem);
        }
.Currency_value_e1 {
    /* font-size inherit does not work here, so 1em means the size does not change */
    /* stylelint-disable-next-line */
    --font-size: 1em;
    font-size: var(--font-size);
    position: relative;
    z-index: 2;
}
.Currency_base__small_af .Currency_value_e1 {
        padding-right: 2rem;
    }
.Currency_base__big_bc .Currency_value_e1 {
        --font-size: 24rem;
        padding-right: 5rem;
        font-weight: 700;
    }
.Currency_base__big_bc .Currency_value_e1 + .Currency_icon_c5 {
            font-size: 24rem;
        }
.Currency_base__large_65 .Currency_value_e1 {
        --font-size: 36rem;
        font-weight: 700;
    }
.Currency_base__large_65 .Currency_value_e1 + .Currency_icon_c5 {
            font-size: 36rem;
        }
.Currency_base__extraLarge_4d .Currency_value_e1 {
        --font-size: 56rem;
        font-weight: 700;
    }
.Currency_value__freeXP_cb {
        color: #F2F2F7;
    }
.Currency_value__credits_76 {
        color: #CED9D9;
    }
.Currency_value__gold_dd {
        color: #FFC363;
    }
.Currency_value__xp_b0,
    .Currency_value__crystal_19,
    .Currency_value__equipCoin_d0 {
        color: #C9C9B6;
    }
.Currency_base__small_af .Currency_value__notEnough_56 {
            color: #FF2717;
        }
.Currency_base__big_bc .Currency_value__notEnough_56 {
            color: #B70000;
        }
.Currency_base__large_65 .Currency_value__notEnough_56 {
            color: #B70000;
        }
.Currency_base__extraLarge_4d .Currency_value__notEnough_56 {
            color: #B70000;
        }
.Currency_stock_87 {
    height: 13rem;
    color: #FFDD99;
    font-size: 13rem;
    line-height: 1;
    position: relative;
    z-index: 0;
    pointer-events: none;
}
.Currency_stock__indent_a1 {
        margin-left: 2rem;
    }
.Currency_base__small_af .Currency_stock_87 {
        transform: translateY(0rem);
    }
.Currency_base__big_bc .Currency_stock_87 {
        transform: translateY(4rem);
    }
.Currency_base__large_65 .Currency_stock_87 {
        transform: translateY(10rem);
    }
.Currency_base__extraLarge_4d .Currency_stock_87 {
        transform: translateY(18rem);
    }
.Currency_stock__interactive_93 {
        pointer-events: auto;
    }
.Currency_stockBackground_82 {
    width: 80rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -27rem;
    bottom: 0;
    z-index: -1;
    transform: translateY(17rem);
}

.TankName_base_f1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    line-height: 1.3;
}

    .TankName_base__sizeMedium_3a {
        color: #FEFEEC;
        font-size: 24rem;
        font-weight: 400;
        line-height: 1.2;
    }

    .TankName_base__sizBig_a9 {
        color: #F2F2F7;
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
    }

    .TankName_base__typeWhite_32 {
        color: #F2F2F7;
    }

    .TankName_base__typeWhiteSpanish_e2 {
        color: #E9E2BF;
    }

.TankName_base__typeColored_bc .TankName_level_bb {
        color: #E9E2BF;
    }

.TankName_type_3c {
    width: 42rem;
    height: 38rem;
    margin: 0 -9rem;
    background: no-repeat center / contain;
    position: relative;
    top: -8rem;
}

.TankName_type__elite_cc {
        margin: 0 -6rem;
    }

.TankName_base__sizeMedium_3a .TankName_type_3c,
    .TankName_base__sizeBig_2b .TankName_type_3c {
        width: 83rem;
        height: 73rem;
        margin: 0 -23rem;
        top: -16rem;
    }

.TankName_base__sizeMedium_3a .TankName_type__elite_cc, .TankName_base__sizeBig_2b .TankName_type__elite_cc {
            margin: 0 -16rem;
        }

.TankName_base__sizeBig_2b .TankName_type_3c {
        margin: 0 -23rem;
        top: -14rem;
    }

.TankName_base__sizeBig_2b .TankName_type__elite_cc {
            margin: 0 -13rem;
        }

.TankName_base__typeColored_bc .TankName_name_56 {
        color: #8C8C7E;
    }

.TankName_base__tagPremiumIGR_26 .TankName_name_56 {
        padding-left: 13rem;
        background: url('R.images.gui.maps.icons.library.premium_igr_ico') no-repeat left 50% / 10rem 10rem;
    }

.TankName_premiumIGR_25 {
    width: 10rem;
    height: 10rem;
    margin: 0 3rem 0 -2rem;
    background: url('R.images.gui.maps.icons.library.premium_igr_ico') no-repeat center / contain;
    position: relative;
    top: 5rem;
}

.ShortenedText_base_fe {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 18rem;
    opacity: 0;
    overflow: hidden;
    transition: opacity ease .2s;
}

    .ShortenedText_base__shown_af {
        opacity: 1;
    }

.SelectButton_base_2a {
    width: 46rem;
    height: 42rem;
    margin: 0 14rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

    .SelectButton_base__plus_45 {
        background-image: url('R.images.gui.maps.icons.selectableReward.reward.selectButton.plus_enabled');
    }

    .SelectButton_base__plus_45:hover {
            background-image: url('R.images.gui.maps.icons.selectableReward.reward.selectButton.plus_hover');
        }

    .SelectButton_base__plus_45.SelectButton_base__disabled_4b {
            background-image: url('R.images.gui.maps.icons.selectableReward.reward.selectButton.plus_disabled');
            cursor: default;
        }

    .SelectButton_base__minus_8a {
        background-image: url('R.images.gui.maps.icons.selectableReward.reward.selectButton.minus_enabled');
    }

    .SelectButton_base__minus_8a:hover {
            background-image: url('R.images.gui.maps.icons.selectableReward.reward.selectButton.minus_hover');
        }

    .SelectButton_base__minus_8a.SelectButton_base__disabled_4b {
            background-image: url('R.images.gui.maps.icons.selectableReward.reward.selectButton.minus_disabled');
            cursor: default;
        }

.Storage_base_53 {
    display: flex;
    align-items: center;
}

    .Storage_base__reversed_8f {
        flex-direction: row-reverse;
    }

.Storage_icon_6a {
    width: 30rem;
    height: 30rem;
    background: url('R.images.gui.maps.icons.library.storage_icon') no-repeat center / contain;
}

.Storage_count_7a {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Storage_base__reversed_8f .Storage_count_7a {
        color: #C9C9B6;
        font-size: 22rem;
        font-weight: 700;
        line-height: 1.2;
        margin-top: -4rem;
    }

.Storage_count__zero_54 {
        color: #B70000;
    }

.Price_base_61 {
    display: flex;
    position: relative;
}

.Price_price_1b {
    display: flex;
}

.Price_price__discount_29 {
        padding-right: 20rem;
    }

.Availability_base_51 {
    width: 30rem;
    height: 30rem;
    background: url('R.images.gui.maps.icons.customization.installed_on_tank_icon') no-repeat center / contain;
}

.Options_base_b3 {
    display: flex;
}

    .Options_base__visually_03 {
        margin-bottom: -8rem;
    }

    .Options_base__hidden_82 {
        opacity: 0;
        animation: Options_options-hide_10 .25s;
    }

    .Options_base__shown_84 {
        animation: Options_options-show_5a .25s;
    }
@keyframes Options_options-show_5a {
    0% {
        opacity: 0;
        transform: translateY(6rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Options_options-hide_10 {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(6rem);
    }
}

.Layout_base_81 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 996rem;
    height: 100%;
    position: relative;
}

    .Layout_base__small_cb,
    .Layout_base__medium_df {
        width: 1310rem;
    }

    .Layout_base__large_f6,
    .Layout_base__huge_d2 {
        width: 1560rem;
    }
.Layout_header_46 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10rem 0 20rem;
}
.Layout_base__compare_56 .Layout_header_46 {
        flex-direction: column;
        align-items: center;
    }
.Layout_header__small_cb,
    .Layout_header__tiny_4b {
        margin: 10rem 0 16rem;
    }
.Layout_content_79 {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}
.Layout_base__compare_56 .Layout_content_79 {
        justify-content: center;
        margin-top: 7rem;
        padding-top: 20rem;
        padding-bottom: 10rem;
    }
.Layout_main_df {
    width: 596rem;
    border-top: 1rem solid rgba(255,255,255, .1);
    border-bottom: 1rem solid rgba(255,255,255, .1);
}
.Layout_base__compare_56 .Layout_main_df {
        width: 902rem;
    }
.Layout_base__small_cb .Layout_main_df,
    .Layout_base__medium_df .Layout_main_df {
        width: 902rem;
    }
.Layout_base__large_f6 .Layout_main_df,
    .Layout_base__huge_d2 .Layout_main_df {
        width: 1102rem;
    }
.Layout_inner_3e {
    margin: 0 -16rem;
}
.Layout_base__large_f6 .Layout_inner_3e,
    .Layout_base__huge_d2 .Layout_inner_3e {
        margin: 0 -20rem;
    }
.Layout_footer_f4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 166rem;
    padding-top: 12rem;
}
.Layout_base__small_cb .Layout_footer_f4,
    .Layout_base__medium_df .Layout_footer_f4,
    .Layout_base__large_f6 .Layout_footer_f4,
    .Layout_base__huge_d2 .Layout_footer_f4 {
        padding-top: 20rem;
    }

.Unit_base_15 {
    color: #80D43A;
    position: relative;
}

    .Unit_base__special_37 {
        color: #b4ff48;
    }
.Unit_glow_38 {
    width: 60rem;
    height: 60rem;
    background: url('R.images.gui.maps.icons.tanksetup.hangar.bonus_glow') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.Unit_base__special_37 .Unit_glow_38 {
        opacity: 1;
        animation: Unit_glow_38 .25s;
    }
@keyframes Unit_glow_38 {
    0% {
        opacity: 0;
    }

    10%,
    100% {
        opacity: 1;
    }
}

.Bonus_base_aa {
    max-width: 100%;
}

.Bonus_text_48 {
    flex: 1;
}

.Bonuses_base_af {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    line-height: 18rem;
}
.Bonuses_bonus_d1 {
    display: flex;
}
.Bonuses_text_37 {
    flex: 1;
}
.Bonuses_effect_f8 {
    color: #FFC363;
}
.Bonuses_icon_40 {
    width: 10rem;
    height: 16rem;
    background: url('R.images.gui.maps.icons.tanksetup.cards.effect') no-repeat center / contain;
    position: relative;
    top: 2rem;
    left: -2rem;
}

.EquipmentSlot_base_16 {
    transition-timing-function: ease-in-out;
    transition-duration: .16s;
    transition-property: border;
    width: 420rem;
    height: 200rem;
    border: 1rem solid rgba(0,0,0, 0);
    border-radius: 3rem;
    background-color: rgba(255,255,255, .05);
    position: relative;
    cursor: pointer;
}

    .EquipmentSlot_base_16:hover {
        background-color: rgba(255,255,255, .1);
    }

    .EquipmentSlot_base__selected_88,
    .EquipmentSlot_base__selected_88:hover {
        border: 1rem solid #a48b72;
        box-shadow: inset 0 0 20rem rgba(255, 77, 0, .25);
        background: rgba(255, 140, 109, .12);
        filter: drop-shadow(0 0 0 #f00);
    }

.EquipmentSlot_container_89 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.EquipmentSlot_glowContainer_69 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.EquipmentSlot_outerGlow_e8 {
    width: 100%;
    height: 100%;
    transition-timing-function: ease-in-out;
    transition-duration: .16s;
    transition-property: opacity;
    border: 2rem solid #f9c96f;
    border-radius: 3rem;
    filter: blur(5px);
    opacity: 0;
    position: absolute;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.EquipmentSlot_base__selected_88 .EquipmentSlot_outerGlow_e8 {
        opacity: .5;
    }

.EquipmentSlot_selectedGlow_62 {
    width: 300rem;
    height: 300rem;
    transition-timing-function: ease-in-out;
    transition-duration: .16s;
    transition-property: opacity;
    background: no-repeat center / contain;
    background-image: url('R.images.gui.maps.icons.tanksetup.cards.selected_glow');
    opacity: 0;
    position: absolute;
    top: -90rem;
    right: -90rem;
}

.EquipmentSlot_base__selected_88 .EquipmentSlot_selectedGlow_62 {
        opacity: .5;
    }

.EquipmentSlot_image_c0 {
    width: 80rem;
    height: 80rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 15rem;
    right: 20rem;
}

.EquipmentSlot_types_fa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.EquipmentSlot_overlay_4e {
    width: 128rem;
    height: 128rem;
    background: no-repeat center / contain;
    position: absolute;
    top: -11rem;
    right: 5rem;
}

.EquipmentSlot_name_6b {
    display: flex;
    width: 186rem;
    color: #C9C9B6;
    font-size: 15rem;
    line-height: 17rem;
    position: absolute;
    top: 20rem;
    left: 20rem;
}

.EquipmentSlot_details_51 {
    position: absolute;
    top: 66rem;
    right: 125rem;
    bottom: 62rem;
    left: 20rem;
}

.EquipmentSlot_options_ba {
    display: flex;
    position: absolute;
    right: 20rem;
    bottom: 17rem;
}

.EquipmentSlot_vehicleName_bb {
    display: flex;
    position: absolute;
    right: 19rem;
    bottom: -4rem;
}

.EquipmentSlot_price_ed {
    display: flex;
    opacity: 1;
    position: absolute;
    bottom: 17rem;
    left: 20rem;
}

.EquipmentSlot_countText_a8 {
    transition-timing-function: ease-in-out;
    transition-duration: .16s;
    transition-property: opacity;
    color: #F2F2F7;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    opacity: 0;
    position: absolute;
    bottom: 17rem;
    left: 50%;
    transform: translateX(-50%);
}

.EquipmentSlot_base__selected_88 .EquipmentSlot_countText_a8,
    .EquipmentSlot_base_16:hover .EquipmentSlot_countText_a8 {
        opacity: 1;
    }

.EquipmentSlot_select_34 {
    transition-timing-function: ease-in-out;
    transition-duration: .16s;
    transition-property: opacity;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
}

.EquipmentSlot_base_16:hover .EquipmentSlot_select_34 {
        opacity: 1;
    }

.EquipmentSlot_glow_43 {
    transition-timing-function: ease-in-out;
    transition-duration: .16s;
    transition-property: opacity;
    width: 206rem;
    height: 78rem;
    background: url('R.images.gui.maps.icons.tanksetup.cards.amount_glow') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.EquipmentSlot_base__selected_88 .EquipmentSlot_glow_43,
    .EquipmentSlot_base_16:hover .EquipmentSlot_glow_43 {
        opacity: 1;
    }

.EquipmentGroup_base_b9 {
    display: flex;
    flex-direction: column;
}
.EquipmentGroup_slotsContainer_da {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: -16rem;
    margin-right: -16rem;
    padding-top: 16rem;
    overflow: hidden;
}
.EquipmentGroup_slot_db {
    margin: 0 0 16rem 16rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_16 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_ca {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362E;
}

.FormatTextWithColorTags_red_60 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_c5 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_4e {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_90 {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_71 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_dd {
    color: #A29B70;
}

.EquipmentHeader_base_ab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30rem;
    border-bottom: 1rem solid rgba(255,255,255, .1);
    transition: opacity .15s ease-in-out;
}

    .EquipmentHeader_base__hidden_d6 {
        opacity: 0;
    }
.EquipmentHeader_lineBlock_cd {
    display: flex;
}
.EquipmentHeader_label_3d {
    color: #C9C9B6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.EquipmentHeader_labelValue_4e {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.EquipmentHeader_vehicleNameLabel_db {
    color: #C9C9B6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 20rem;
    margin-right: 6rem;
}
.EquipmentHeader_vehicleInfo_95 {
    margin-top: 1rem;
}

.CurrencyBlock_base_46 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.CurrencyBlock_currency_1c {
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-right: 8rem;
    margin-bottom: 1rem;
}

.Content_base_8f {
    width: 856rem;
}

    .mediaSmall .Content_base_8f {
        width: 1292rem;
}
.Content_base_8f {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 1rem solid rgba(255,255,255, .1);
    position: relative;
}
.Content_headerContainer_7b {
    width: 100%;
    height: 30rem;
    position: relative;
}
.Content_topHeader_28 {
    width: 100%;
    position: absolute;
}
.Content_header_db {
    margin-right: 12rem;
}
.Content_currencyBlock_09 {
    position: absolute;
    right: -7rem;
    bottom: 10rem;
}
.Content_currency_b4 {
    color: #C9C9B6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Content_scrollArea_eb {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.Content_bar_a4 {
    margin-right: -25rem;
}
.Content_gap_3b {
    margin-bottom: 23rem;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, .6);
    position: relative;
    cursor: pointer;
}

    .CButton_base__main_42,
    .CButton_base__primary_7f,
    .CButton_base__primaryGreen_6f,
    .CButton_base__primaryRed_ec,
    .CButton_base__secondary_50 {
        background-size: 100% 100%;
    }

    .CButton_base__main_42 {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_7f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_6f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_ec {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_50 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_ed {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, .3),
            0 0 0 1rem rgba(255,255,255, .15) inset;
        background-color: rgba(0,0,0, .15);
    }

    .CButton_base__extraSmall_27 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_df,
    .CButton_base__medium_74 {
        padding: 0 20rem;
    }

    .CButton_base__small_df {
        min-height: 18rem;
    }

    .CButton_base__medium_74 {
        min-height: 32rem;
    }

    .CButton_base__disabled_d9 {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_7f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_6f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_ec .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_50 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow .16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, .2);
    }
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff, .CButton_base__firstHover_d5 .CButton_stateHighlightActive_35, .CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
        transition: opacity .16s ease-in-out;
    }
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(180deg, rgba(252,248,235, .25) 0%, rgba(252,248,235, .1) 50%, rgba(255,255,255, 0) 100%);
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
        opacity: 1;
    }
.CButton_base_40:active .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
        box-shadow: 0 15rem 12rem 0 rgba(242,242,230, .11) inset;
        background-color: rgba(8,6,0, .18);
        background-image: none;
    }
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0,0,0, .3) 0%, rgba(0,0,0, .15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
        opacity: 1;
    }
.CButton_stateDisabled_54 {
    background-color: rgba(0,0,0, .25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
        opacity: 1;
    }
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: .03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang=ja],
    .CButton_content_cc[lang=ko],
    .CButton_content_cc[lang=zh_tw],
    .CButton_content_cc[lang=zh_sg],
    .CButton_content_cc[lang=zh_cn],
    .CButton_content_cc[lang=th] {
        font-weight: 400;
    }
.CButton_base__main_42 .CButton_content_cc,
    .CButton_base__primaryRed_ec .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_50 .CButton_content_cc {
        color: rgba(254,254,236, .75);
    }
.CButton_base__primaryGreen_6f .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
.CButton_base__extraSmall_27 .CButton_content_cc {
        font-size: 12rem;
    }
.CButton_base__small_df .CButton_content_cc {
        font-size: 14rem;
    }
.CButton_base__medium_74 .CButton_content_cc {
        font-size: 15rem;
    }
.CButton_base__disabled_d9 .CButton_content_cc {
        opacity: .6;
    }

.FormatTextWithColorTags_blackReal_d5 {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_d8 {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_b9 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_ea {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_54 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_c1 {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_4e {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_14 {
    color: #37362E;
}

.FormatTextWithColorTags_red_d9 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_ea {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_48 {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_ad {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_96 {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_27 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_04 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_58 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_b3 {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_ab {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_d3 {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_28 {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_74 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_58 {
    color: #A29B70;
}

.FooterIconValue_base_d4 {
    display: flex;
    flex-direction: row;
}

.FooterIconValue_label_33 {
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: none;
    margin-right: 4rem;
}

.mediaMediumWidth .FooterIconValue_label_33 {
        display: block;
}

.FooterIconValue_value_fa {
    color: #C9C9B6;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-right: 2rem;
}

.FooterIconValue_icon_0f {
    width: 30rem;
    height: 24rem;
    background: no-repeat center / contain;
}

.Footer_base_7b {
    width: 856rem;
}

    .mediaSmall .Footer_base_7b {
        width: 1292rem;
}

.Footer_base_7b {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20rem;
    padding-bottom: 40rem;
}

.mediaLarge .Footer_base_7b {
        padding-bottom: 70rem;
}

.Footer_leftBlock_eb {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 5rem;
}

.Footer_rightBlock_4c {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Footer_currencyBlock_44 {
    display: flex;
    flex-direction: row;
    margin-right: 10rem;
    padding-top: 5rem;
}

.Footer_price_14 {
    margin-top: -8rem;
}

.Footer_notEnoughMoney_1d {
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-left: 4rem;
}

.Footer_btnHangar_26 {
    margin-right: 22rem;
}

.Footer_button_0f {
    min-width: 125rem;
}

.Footer_button_0f + .Footer_button_0f {
        margin-left: 10rem;
    }

.Header_base_85 {
    width: 856rem;
}

    .mediaSmall .Header_base_85 {
        width: 1292rem;
}

.Header_base_85 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.Header_titleBlock_ca {
    margin-bottom: 7rem;
}

.Header_base__notEnoughMoney_fb .Header_titleBlock_ca {
        margin-bottom: 17rem;
    }

.Header_title_5a {
    color: #F2F2F7;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    justify-content: center;
}

.Header_base__notEnoughMoney_fb .Header_title_5a {
        color: #F2F2F7;
        font-size: 28rem;
        font-weight: 700;
        line-height: 1.1;
        width: 1024rem;
    }

.Header_subTitle_b8 {
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    justify-content: center;
    width: 800rem;
    margin-bottom: 20rem;
}

.Header_base__notEnoughMoney_fb .Header_subTitle_b8 {
        margin-bottom: 15rem;
        color: #EE7000;
    }

.Header_equipCoinIcon_09 {
    width: 16rem;
    height: 16rem;
    margin-top: 4rem;
    margin-right: 1rem;
    background: url('R.images.gui.maps.icons.library.equipCoin_1') no-repeat center / contain;
}

.Header_base__notEnoughMoney_fb .Header_equipCoinIcon_09 {
        width: 23rem;
        height: 23rem;
        margin-top: 1rem;
        margin-right: -2rem;
        background: url('R.images.gui.maps.icons.library.alertIcon1') no-repeat center / contain;
    }

