.Counter_base_b457c {
    display: flex;
    min-width: 14rem;
    height: 14rem;
    position: relative;
    z-index: 0;
    animation: Counter_show_a62c2 ease-in-out forwards;
}

    .Counter_base__big_d6a57 {
        min-width: 21rem;
        height: 21rem;
    }

    .Counter_base__small_ea547 {
        min-width: 13rem;
        height: 13rem;
    }

    .Counter_base__empty_c2ad2 {
        min-width: 6rem;
        height: 6rem;
    }

    .Counter_base__animated_fb5ef {
        animation-duration: .2s;
    }

    .Counter_base__hidden_b1e71 {
        animation-name: Counter_hide_d1bf0;
    }
.Counter_bg_f25ac {
    border: 1rem solid #fe4e0f;
    border-radius: 7rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, .3),
            0 0 6rem rgba(254,103,0, .2),
            0 0 12rem 4rem rgba(249,0,0, .3);
    background-image: url('R.images.gui.maps.icons.components.counter.pattern');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.Counter_base__big_d6a57 .Counter_bg_f25ac {
        border-radius: 11rem;
    }
.Counter_base__small_ea547 .Counter_bg_f25ac {
        border-radius: 7rem;
    }
.Counter_value_d1de3 {
    display: flex;
    padding: 0 4rem;
    color: #fefeec;
    font-size: 11rem;
    line-height: 13rem;
    white-space: nowrap;
}
.Counter_base__big_d6a57 .Counter_value_d1de3 {
        padding: 0 7rem;
        font-size: 14rem;
        line-height: 20rem;
    }
.Counter_base__small_ea547 .Counter_value_d1de3 {
        font-size: 9rem;
        line-height: 12rem;
    }
.Counter_value__text_bb007 {
        padding: 0 7rem;
    }
.Counter_base__big_d6a57 .Counter_value__text_bb007 {
            padding: 0 10rem;
        }
.Counter_base__small_ea547 .Counter_value__text_bb007 {
            padding: 0 5rem;
            font-size: 10rem;
        }
.Counter_base__pattern_d1fff .Counter_value_d1de3 {
        display: none;
    }
.Counter_plus_a405c {
    position: relative;
    top: -1rem;
}
.Counter_pattern_a4be2 {
    display: none;
}
.Counter_base__pattern_d1fff .Counter_pattern_a4be2 {
        display: block;
        border-radius: 50%;
        background-image: url('R.images.gui.maps.icons.components.counter.pattern');
        opacity: .8;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
@keyframes Counter_show_a62c2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes Counter_hide_d1bf0 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.DogTag_base_cb781 {
    width: 200rem;
    height: 120rem;
    position: relative;
}

    .DogTag_base__big_a0a51 {
        width: 400rem;
        height: 240rem;
    }

.DogTag_engraving_ca9f2,
.DogTag_background_c6df2 {
    width: 100%;
    height: 100%;
    background: center / contain no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.Card_base_d29ef {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150rem;
    height: 90rem;
    border: 1rem solid rgba(255,255,255, .2);
    border-radius: 2rem;
    box-shadow: inset 0 0 28rem 0 rgba(255,255,255, .1);
    background-color: rgba(0,0,0, .4);
    position: relative;
    cursor: pointer;
}
    .mediaMedium .Card_base_d29ef {
        width: 200rem;
        height: 120rem;
}
    .Card_base_d29ef:hover {
        box-shadow: inset 0 0 28rem 0 rgba(255,255,255, .2);
        background-color: rgba(13, 13, 13, .4);
    }
    .Card_base__current_a4559,
    .Card_base__current_a4559:hover {
        border: 1rem solid #ffb266;
        box-shadow: inset 0 0 28rem 0 rgba(255, 122, 0, .1);
        cursor: default;
    }

.Card_dogTag_e4724 {
    width: 120rem;
    height: 72rem;
    opacity: .8;
}

.mediaMedium .Card_dogTag_e4724 {
        width: 160rem;
        height: 96rem;
}

.Card_base_d29ef:hover .Card_dogTag_e4724 {
        opacity: 1;
    }

.Card_base__locked_fa9e4 .Card_dogTag_e4724 {
        opacity: .5;
    }

.Card_base__current_a4559 .Card_dogTag_e4724 {
        opacity: 1;
    }

.Card_status_b42ba {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.Card_counter_f9bad {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.Status_base_ceea7 {
    display: flex;
}

.Status_glow_acb3e {
    width: 154rem;
    height: 50rem;
    background: url('R.images.gui.maps.icons.dogtags.icons.glow_orange') center / contain no-repeat;
    mix-blend-mode: screen;
}

.mediaMedium .Status_glow_acb3e {
        width: 206rem;
        height: 68rem;
}

.Status_icon_dd1a3 {
    width: 48rem;
    height: 48rem;
    background: url('R.images.gui.maps.icons.dogtags.icons.check_orange') center / contain no-repeat;
    position: absolute;
    bottom: -21rem;
    left: 50%;
    transform: translateX(-50%);
}

.Status_base__lock_f83e2 .Status_icon_dd1a3 {
        width: 40rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.icons.dogtags.icons.lock_glow');
        bottom: -22rem;
    }

.Cards_base_cab68 {
    display: flex;
}

.Cards_info_af80e {
    color: rgba(255,255,255, .3);
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    max-width: 920rem;
    text-align: center;
    position: absolute;
    top: -18rem;
    left: 50%;
    transform: translate(-50%, -100%);
    animation-name: Cards_fadeIn_e660c;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    pointer-events: none;
}

.Cards_card_cfd20 + .Cards_card_cfd20 {
        margin-left: 16rem;
    }

@keyframes Cards_fadeIn_e660c {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.AnimatedDogTag_base_a7a4f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200rem;
    height: 120rem;
    position: relative;
}

    .AnimatedDogTag_base__small_cbafa {
        width: 300rem;
        height: 180rem;
    }

    .AnimatedDogTag_base__medium_e49a0 {
        width: 400rem;
        height: 240rem;
    }

    .AnimatedDogTag_base__large_ebf4c {
        width: 500rem;
        height: 300rem;
    }

.AnimatedDogTag_shadow_de8c5 {
    width: 200rem;
    height: 134rem;
    background: url('R.images.gui.maps.icons.dogtags.icons.tocken_shadow') no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.AnimatedDogTag_base__small_cbafa .AnimatedDogTag_shadow_de8c5 {
        width: 300rem;
        height: 200rem;
    }

.AnimatedDogTag_base__medium_e49a0 .AnimatedDogTag_shadow_de8c5 {
        width: 406rem;
        height: 270rem;
    }

.AnimatedDogTag_base__large_ebf4c .AnimatedDogTag_shadow_de8c5 {
        width: 508rem;
        height: 338rem;
    }

.AnimatedDogTag_backplateBox_d78df {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.AnimatedDogTag_backplate_e119a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 26rem;
    background: no-repeat center / contain;
    transform: translateY(50%) rotate(4deg);
}

.AnimatedDogTag_base__extraSmall_d2bad .AnimatedDogTag_backplate_e119a {
        transform: translateY(57%) rotate(4deg);
    }

.AnimatedDogTag_base__small_cbafa .AnimatedDogTag_backplate_e119a {
        padding-top: 40rem;
    }

.AnimatedDogTag_base__medium_e49a0 .AnimatedDogTag_backplate_e119a {
        padding-top: 54rem;
    }

.AnimatedDogTag_base__large_ebf4c .AnimatedDogTag_backplate_e119a {
        padding-top: 64rem;
    }

.AnimatedDogTag_dogTag_d21e8 {
    width: 100%;
    height: 100%;
}

.AnimatedDogTag_videoBox_b5a8c {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
}

.AnimatedDogTag_base__extraSmall_d2bad .AnimatedDogTag_videoBox_b5a8c {
        transform: scale(.5);
    }

.AnimatedDogTag_base__small_cbafa .AnimatedDogTag_videoBox_b5a8c {
        transform: scale(.75);
    }

.AnimatedDogTag_base__medium_e49a0 .AnimatedDogTag_videoBox_b5a8c {
        transform: scale(1);
    }

.AnimatedDogTag_base__large_ebf4c .AnimatedDogTag_videoBox_b5a8c {
        transform: scale(1.25);
    }

.AnimatedDogTag_video_a8dec {
    width: 800rem;
    height: 600rem;
}

.Counter_base_f3549 {
    display: flex;
    align-items: center;
    color: rgba(201, 200, 196, .8);
    filter: drop-shadow(0 2rem 3rem #000) drop-shadow(0 2rem 3rem rgba(0,0,0, .3));
    mix-blend-mode: hard-light;
}

    .Counter_base__extraSmall_f013d {
        flex-direction: column;
    }

.Counter_text_f8d92 {
    max-width: 100rem;
    font-size: 14rem;
    font-weight: 700;
    line-height: 17rem;
    text-align: right;
    white-space: pre-wrap;
    position: relative;
}

.Counter_base__extraSmall_f013d .Counter_text_f8d92 {
        max-width: initial;
        white-space: normal;
    }

.Counter_base__medium_acc18 .Counter_text_f8d92 {
        font-size: 20rem;
        line-height: 22rem;
    }

.Counter_base__large_ed6ab .Counter_text_f8d92 {
        font-size: 25rem;
        line-height: 27rem;
    }

.Counter_count_e095d {
    padding-bottom: 4rem;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1;
    position: relative;
}

.Counter_base__small_e5954 .Counter_count_e095d {
        margin-left: 10rem;
        font-size: 37rem;
    }

.Counter_base__medium_acc18 .Counter_count_e095d {
        margin-left: 16rem;
        font-size: 50rem;
    }

.Counter_base__large_ed6ab .Counter_count_e095d {
        margin-left: 20rem;
        font-size: 62rem;
    }

.DogTagInfo_base_c2e6d {
    position: relative;
}

.DogTagInfo_infoContainer_f735c {
    position: absolute;
    top: 0;
    right: 10rem;
}

.mediaExtraLarge .DogTagInfo_infoContainer_f735c {
        right: 50rem;
}

.DogTagInfo_dogTagContainer_bffda {
    position: absolute;
    top: 0;
    left: 110rem;
}

.mediaMedium .DogTagInfo_dogTagContainer_bffda {
        top: -50rem;
        left: 182rem;
}

.mediaExtraLarge .DogTagInfo_dogTagContainer_bffda {
        top: -60rem;
        left: 190rem;
}

.AdvancedAchievement_base_b5cc3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

    .AdvancedAchievement_base__s100x100_e6ec4 {
        width: 100rem;
        height: 100rem;
    }

    .AdvancedAchievement_base__s128x128_d7f67 {
        width: 128rem;
        height: 128rem;
    }

    .AdvancedAchievement_base__s180x180_f3345 {
        width: 180rem;
        height: 180rem;
    }

    .AdvancedAchievement_base__s280x280_e6151 {
        width: 280rem;
        height: 280rem;
    }

    .AdvancedAchievement_base__s360x360_a8a0f {
        width: 360rem;
        height: 360rem;
    }

    .AdvancedAchievement_base__s420x420_e7ce1 {
        width: 420rem;
        height: 420rem;
    }

    .AdvancedAchievement_base__flexable_d9380 {
        width: 100%;
        height: 100%;
    }

.AdvancedAchievement_background_d31eb,
.AdvancedAchievement_border_d866e {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat center / contain;
}

.AdvancedAchievement_icon_efd33 {
    background: no-repeat center / contain;
    position: relative;
}

.AdvancedAchievement_base__shield_db21a .AdvancedAchievement_icon__bottom_bb7ce {
            transform: translateY(18%);
        }

.AdvancedAchievement_base__s180x180_f3345.AdvancedAchievement_base__shield_db21a .AdvancedAchievement_icon__bottom_bb7ce {
                transform: translateY(20%);
            }

.AdvancedAchievement_base__s420x420_e7ce1.AdvancedAchievement_base__shield_db21a .AdvancedAchievement_icon__bottom_bb7ce {
                transform: translateY(21%);
            }

.AdvancedAchievement_base__s100x100_e6ec4.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__bottom_bb7ce {
                bottom: -6rem;
            }

.AdvancedAchievement_base__s128x128_d7f67.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__bottom_bb7ce,
            .AdvancedAchievement_base__s180x180_f3345.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__bottom_bb7ce {
                bottom: -8rem;
            }

.AdvancedAchievement_base__s280x280_e6151.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__bottom_bb7ce,
            .AdvancedAchievement_base__s360x360_a8a0f.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__bottom_bb7ce,
            .AdvancedAchievement_base__s420x420_e7ce1.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__bottom_bb7ce,
            .AdvancedAchievement_base__flexable_d9380.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__bottom_bb7ce {
                transform: translateY(8%);
            }

.AdvancedAchievement_base__shield_db21a .AdvancedAchievement_icon__top_d2dc3 {
            transform: translateY(-18%);
        }

.AdvancedAchievement_base__s180x180_f3345.AdvancedAchievement_base__shield_db21a .AdvancedAchievement_icon__top_d2dc3 {
                transform: translateY(-20%);
            }

.AdvancedAchievement_base__s420x420_e7ce1.AdvancedAchievement_base__shield_db21a .AdvancedAchievement_icon__top_d2dc3 {
                transform: translateY(-21%);
            }

.AdvancedAchievement_base__s100x100_e6ec4.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__top_d2dc3 {
                bottom: 6rem;
            }

.AdvancedAchievement_base__s128x128_d7f67.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__top_d2dc3,
            .AdvancedAchievement_base__s180x180_f3345.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__top_d2dc3 {
                bottom: 8rem;
            }

.AdvancedAchievement_base__s280x280_e6151.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__top_d2dc3,
            .AdvancedAchievement_base__s360x360_a8a0f.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__top_d2dc3,
            .AdvancedAchievement_base__s420x420_e7ce1.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__top_d2dc3,
            .AdvancedAchievement_base__flexable_d9380.AdvancedAchievement_base__circular_c061e .AdvancedAchievement_icon__top_d2dc3 {
                transform: translateY(-8%);
            }

.AdvancedAchievement_stage_fa16e {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    background: url('R.images.gui.maps.icons.advanced_achievements.stage.stage_s36x36') no-repeat center / contain;
    color: #fd9;
    font-weight: 700;
    position: absolute;
    top: 66%;
}

.AdvancedAchievement_base__s100x100_e6ec4 .AdvancedAchievement_stage_fa16e {
        width: 36rem;
        height: 36rem;
        font-size: 12rem;
        font-weight: 400;
        top: 58%;
    }

.AdvancedAchievement_base__s128x128_d7f67 .AdvancedAchievement_stage_fa16e,
    .AdvancedAchievement_base__s180x180_f3345 .AdvancedAchievement_stage_fa16e {
        width: 48rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.icons.advanced_achievements.stage.stage_s48x48');
        font-size: 17rem;
        top: 57%;
    }

.AdvancedAchievement_base__s180x180_f3345 .AdvancedAchievement_stage_fa16e {
        top: 63%;
    }

.AdvancedAchievement_base__s280x280_e6151 .AdvancedAchievement_stage_fa16e {
        width: 64rem;
        height: 64rem;
        background-image: url('R.images.gui.maps.icons.advanced_achievements.stage.stage_s64x64');
        font-size: 22rem;
        top: 66%;
    }

.AdvancedAchievement_base__s360x360_a8a0f .AdvancedAchievement_stage_fa16e {
        width: 96rem;
        height: 96rem;
        padding-bottom: 5rem;
        background-image: url('R.images.gui.maps.icons.advanced_achievements.stage.stage_s96x96');
        font-size: 34rem;
        top: 64%;
    }

.AdvancedAchievement_base__s360x360_a8a0f .AdvancedAchievement_stage_fa16e[lang='ko'] {
            padding: 8rem 0 0;
        }

.AdvancedAchievement_base__s360x360_a8a0f .AdvancedAchievement_stage_fa16e.AdvancedAchievement_base__s360x360_a8a0f .AdvancedAchievement_stage_fa16e[lang='zh_cn'],
        .AdvancedAchievement_base__s360x360_a8a0f .AdvancedAchievement_stage_fa16e.AdvancedAchievement_base__s360x360_a8a0f .AdvancedAchievement_stage_fa16e[lang='zh_tw'] {
            padding: 3rem 0 0;
        }

.AdvancedAchievement_base__s420x420_e7ce1 .AdvancedAchievement_stage_fa16e {
        width: 128rem;
        height: 128rem;
        background-image: url('R.images.gui.maps.icons.advanced_achievements.stage.stage_s128x128');
        font-size: 40rem;
        top: 61%;
    }

.AdvancedAchievement_stage_fa16e[lang='ja'] {
        padding: 2rem 0 0;
    }

.AdvancedAchievement_stage_fa16e[lang='ko'] {
        padding: 4rem 0 0;
    }

.AdvancedAchievement_stage_fa16e.AdvancedAchievement_stage_fa16e[lang='zh_cn'],
    .AdvancedAchievement_stage_fa16e.AdvancedAchievement_stage_fa16e[lang='zh_tw'] {
        padding-bottom: 0;
    }

.MultilineOverflow_base_fdbdb {
    position: relative;
}

    .MultilineOverflow_base__truncated_b87b3 .MultilineOverflow_text_d0f75 {
            opacity: 0;
        }

    .MultilineOverflow_base__truncated_b87b3 .MultilineOverflow_truncatedContent_a6589 {
            opacity: 1;
        }

.MultilineOverflow_singleLine_c3524 {
    white-space: pre;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

.MultilineOverflow_truncatedContent_a6589 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.MultilineOverflow_line_d2e93 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.AchievementShortcut_base_f83fe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 392rem;
    height: 68rem;
    padding: 4rem 24rem 0 60rem;
    border: 1rem solid rgba(255,255,255, .03);
    border-radius: 2rem;
    box-shadow: 0 5rem 10rem 0 rgba(0,0,0, .1),
                0 2rem 2rem 0 rgba(0,0,0, .2);
    background-color: rgba(255,255,255, .06);
    position: relative;
    transition: background-color .2s ease-in;
    cursor: pointer;
}
    .mediaMedium .AchievementShortcut_base_f83fe {
        width: 464rem;
        padding-left: 65rem;
        padding-right: 20rem;
}
    .mediaExtraLarge .AchievementShortcut_base_f83fe {
        width: 504rem;
        height: 80rem;
        padding-left: 80rem;
        padding-right: 20rem;
}
    .AchievementShortcut_base_f83fe:hover {
        background-color: rgba(255,255,255, .08);
    }
    .AchievementShortcut_base__received_bddc8 {
        padding-top: 0;
        padding-bottom: 2rem;
        background-color: rgba(216, 169, 143, .04);
    }
    .AchievementShortcut_base__received_bddc8:hover {
            background-color: rgba(216, 169, 143, .07);
        }

.AchievementShortcut_achievement_dd9da {
    filter: brightness(1);
    position: absolute;
    top: -30rem;
    left: 0;
    transform: translateX(-50%);
    transition: filter .2s ease-in;
}

.mediaExtraLarge .AchievementShortcut_achievement_dd9da {
        top: -50rem;
}

.AchievementShortcut_base_f83fe:hover .AchievementShortcut_achievement_dd9da {
        filter: brightness(1.1);
    }

.AchievementShortcut_inner_d672d {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fefeec;
    font-size: 16rem;
    font-weight: 700;
}

.mediaExtraLarge .AchievementShortcut_inner_d672d {
        font-size: 18rem;
}

.AchievementShortcut_base__received_bddc8 .AchievementShortcut_inner_d672d {
        color: #cbac77;
    }

.AchievementShortcut_text_d81ad {
    flex: 1;
}

.AchievementShortcut_achievementStage_c1203 {
    width: 38rem;
    height: 38rem;
}

.AchievementShortcut_iconCheck_f95a0 {
    width: 28rem;
    height: 28rem;
    margin: 2rem 4rem 0 0;
    background: url('R.images.gui.maps.icons.dogtags.icons.check') no-repeat center / contain;
}

.AchievementShortcut_button_bd9f9 {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-top: -2rem;
}

.AchievementShortcut_buttonCaption_ac6bf {
    color: #FFDD99;
    font-size: 14rem;
    text-shadow: 0 0 15rem #e52,
                 0 0 8rem #ff2a00;
}

.AchievementShortcut_iconArrow_f38ec {
    width: 32rem;
    height: 32rem;
    background: url('R.images.gui.maps.icons.components.text_button.back') no-repeat center / contain;
    transform: rotate(180deg) translate(6rem, 1rem);
    pointer-events: none;
}

.Info_base_f84c1 {
    display: flex;
    flex-direction: column;
    width: 430rem;
}
    .mediaMedium .Info_base_f84c1 {
        width: 500rem;
}

.Info_title_b6641 {
    color: #FEFEEC;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}

.mediaExtraLarge .Info_title_b6641 {
        color: #FEFEEC;
        font-size: 28rem;
        font-weight: 700;
        line-height: 1.1;
}

.Info_description_f0af0 {
    margin-top: 16rem;
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 19rem;
}

.mediaExtraLarge .Info_description_f0af0 {
        font-size: 18rem;
        line-height: 24rem;
}

.Info_achievementShortcut_b71d2 {
    margin-left: 38rem;
    margin-top: 40rem;
    margin-bottom: 60rem;
}

.mediaMedium .Info_achievementShortcut_b71d2 {
        margin-left: 36rem;
}

.mediaExtraLarge .Info_achievementShortcut_b71d2 {
        margin-top: 50rem;
        margin-bottom: 70rem;
}

.CButton_base_bb13f {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, 0.6);
    position: relative;
    cursor: pointer;
}

    .CButton_base__main_dd05d,
    .CButton_base__primary_c75a2,
    .CButton_base__primaryGreen_ae65b,
    .CButton_base__primaryRed_b1341,
    .CButton_base__secondary_f2c20 {
        background-size: 100% 100%;
    }

    .CButton_base__main_dd05d {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_c75a2 {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_ae65b {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_b1341 {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_f2c20 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_f452b {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, 0.3), 0 0 0 1rem rgba(255,255,255, 0.15) inset;
        background-color: rgba(0,0,0, 0.15);
    }

    .CButton_base__extraSmall_e1273 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_c20a3,
    .CButton_base__medium_ef59a {
        padding: 0 20rem;
    }

    .CButton_base__small_c20a3 {
        min-height: 18rem;
    }

    .CButton_base__medium_ef59a {
        min-height: 32rem;
    }

    .CButton_base__large_bafd5 {
        min-height: 48rem;
    }

    .CButton_base__disabled_eef7a {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e957b {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_dd05d .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_c75a2 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_ae65b .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_b1341 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_f2c20 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_ccd7e {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_f2bb4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_b0875 .CButton_state_f2bb4 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, 0.2);
    }
.CButton_stateHighlightHover_bd0cb,
.CButton_stateHighlightActive_e9a8a,
.CButton_stateDisabled_ed209 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_bd0cb {
    background-image: linear-gradient(180deg, rgba(252,248,235, 0.25) 0%, rgba(252,248,235, 0.1) 50%, rgba(255,255,255, 0) 100%);
    opacity: 0;
}
.CButton_base_bb13f:hover .CButton_stateHighlightHover_bd0cb {
        opacity: 1;
    }
.CButton_base_bb13f:active .CButton_stateHighlightHover_bd0cb {
        opacity: 0;
    }
.CButton_base__disabled_eef7a:hover .CButton_stateHighlightHover_bd0cb {
        opacity: 0;
    }
.CButton_base__ghost_f452b .CButton_stateHighlightHover_bd0cb {
        box-shadow: 0 15rem 12rem 0 rgba(242,242,230, 0.11) inset;
        background-color: rgba(8,6,0, 0.18);
        background-image: none;
    }
.CButton_stateHighlightActive_e9a8a {
    background-image: linear-gradient(180deg, rgba(0,0,0, 0.3) 0%, rgba(0,0,0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_db27d .CButton_stateHighlightActive_e9a8a {
        opacity: 1;
    }
.CButton_stateDisabled_ed209 {
    background-color: rgba(0,0,0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_eef7a .CButton_stateDisabled_ed209 {
        visibility: inherit;
    }
.CButton_content_a99fc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_a99fc[lang='ja'],
    .CButton_content_a99fc[lang='ko'],
    .CButton_content_a99fc[lang='zh_tw'],
    .CButton_content_a99fc[lang='zh_sg'],
    .CButton_content_a99fc[lang='zh_cn'],
    .CButton_content_a99fc[lang='th'] {
        font-weight: 400;
    }
.CButton_base__main_dd05d .CButton_content_a99fc,
    .CButton_base__primaryRed_b1341 .CButton_content_a99fc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_f2c20 .CButton_content_a99fc {
        color: rgba(254,254,236, 0.75);
    }
.CButton_base__primaryGreen_ae65b .CButton_content_a99fc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
.CButton_base__extraSmall_e1273 .CButton_content_a99fc {
        font-size: 12rem;
    }
.CButton_base__small_c20a3 .CButton_content_a99fc {
        font-size: 14rem;
    }
.CButton_base__medium_ef59a .CButton_content_a99fc {
        font-size: 15rem;
    }
.CButton_base__large_bafd5 .CButton_content_a99fc {
        font-size: 18rem;
    }
.CButton_base__disabled_eef7a .CButton_content_a99fc {
        opacity: 0.6;
    }

.Status_base_b274a {
    position: relative;
}

.Status_status_e0a2c {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Status_equipText_ececf {
    color: #FFDD99;
    filter: drop-shadow(0 0 15rem #e52) drop-shadow(0 0 8rem #ff2a00) drop-shadow(0 0 4rem #ff7f0040);
}

.Status_check_ece46 {
    width: 48rem;
    height: 48rem;
    margin: -14rem -8rem;
    background: url('R.images.gui.maps.icons.dogtags.icons.check_orange') no-repeat center / contain;
}

.Status_button_cdf16 {
    min-width: 160rem;
}

.Header_base_c7380 {
    display: flex;
    align-items: center;
    padding-left: 42rem;
    padding-top: 54rem;
    padding-bottom: 20rem;
}

.Header_title_e635d {
    color: #F2F2F7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaMedium .Header_title_e635d {
        color: #F2F2F7;
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
}

.mediaExtraLarge .Header_title_e635d {
        color: #F2F2F7;
        font-size: 56rem;
        font-weight: 700;
        line-height: 1.1;
}

.Header_infoButton_c87da {
    margin-left: 10rem;
    margin-top: 5rem;
}

.Header_infoIcon_f0285 {
    width: 14rem;
    height: 14rem;
    margin: 7rem 8rem 5rem;
    background: url('R.images.gui.maps.icons.dogtags.icons.icon_info_white') center / contain no-repeat;
    cursor: pointer;
}

.Onboarding_base_a7a29 {
    width: 840rem;
    height: 590rem;
    border-radius: 5rem;
    background: url('R.images.gui.maps.icons.dogtags.onboarding_window') center / cover no-repeat;
    overflow: hidden;
}
    .mediaMedium .Onboarding_base_a7a29 {
        width: 1024rem;
        height: 720rem;
}

.Onboarding_header_eeaee {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49rem;
    position: relative;
}

.mediaMedium .Onboarding_header_eeaee {
        height: 60rem;
}

.Onboarding_header_eeaee > .Onboarding_center_f12d1 {
        color: #E9E2BF;
        font-size: 18rem;
        font-weight: 800;
        line-height: 20rem;
    }

.Onboarding_header_eeaee .Onboarding_closeBtn_d0310 {
        position: absolute;
        right: 15rem;
    }

.Onboarding_body_e1428 {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.Onboarding_overlayReveal_bac28 {
    width: 100%;
}

.Onboarding_overlay_de704 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
    background: url('R.images.gui.maps.icons.dogtags.icons.onboarding_overlay') no-repeat;
    background-size: cover;
    position: relative;
}

.Onboarding_playBtnWrapper_cfdc4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.Onboarding_playBtnWrapper_cfdc4:hover .Onboarding_playBtn_d36ea {
            background-image: url('R.images.gui.maps.icons.dogtags.icons.play_hover');
        }

.Onboarding_playBtn_d36ea {
    width: 62rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.dogtags.icons.play') no-repeat;
    background-size: contain;
}

.Onboarding_footer_d65b6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49rem;
    position: relative;
}

.mediaMedium .Onboarding_footer_d65b6 {
        height: 60rem;
}

.Onboarding_pagination_d8a36 {
    display: flex;
    align-items: center;
}

.Onboarding_paginationBtn_a8fd5 {
    width: 28rem;
    margin: 0 5rem;
    padding-bottom: 1rem;
    border: 1rem solid rgba(140,140,126, .3);
    border-radius: 2rem;
    color: #8C8C7E;
    font-size: 14rem;
    line-height: 18rem;
    text-align: center;
    overflow: visible;
    position: relative;
    cursor: pointer;
}

.Onboarding_paginationBtn_a8fd5.Onboarding_selected_dbfa8 {
        border: solid 1rem #ac802c;
        box-shadow: inset 0 0 7rem 7rem rgba(255, 70, 0, .12);
        color: #E9E2BF;
    }

.Onboarding_replay_bdc21 {
    display: flex;
    align-items: center;
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 18rem;
    position: absolute;
    left: 10rem;
    cursor: pointer;
}

.Onboarding_replay_bdc21 .Onboarding_replayIcon_aa002 {
        width: 24rem;
        height: 24rem;
        margin-left: 10rem;
        margin-right: 5rem;
        background: url('R.images.gui.maps.icons.dogtags.icons.replay') no-repeat;
        background-size: contain;
    }

.Onboarding_replay_bdc21:hover {
        color: #E9E2BF;
    }

.Onboarding_replay_bdc21:hover .Onboarding_replayIcon_aa002 {
            background-image: url('R.images.gui.maps.icons.dogtags.icons.replay_hover');
        }

.Onboarding_overlayInnerWrapper_d430b {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
    margin-bottom: 20rem;
}

.mediaMedium .Onboarding_overlayInnerWrapper_d430b {
        margin-top: 430rem;
}

.Onboarding_overlayTitle_e261d {
    color: #fff;
    font-size: 28rem;
    font-weight: 800;
}

.Onboarding_overlayText_e05fb {
    width: 600rem;
    margin: 10rem 0 20rem;
    color: #8C8C7E;
    font-size: 18rem;
    font-weight: 400;
    line-height: 24rem;
    text-align: center;
}

.Reveal_slideOut_aa277 {
    opacity: 1;
    transform: translateY(0);
    animation: Reveal_slideOut_aa277 200ms cubic-bezier(.32, 0, .67, 0) forwards;
    pointer-events: none;
}
.Reveal_slideIn_f8a82 {
    opacity: 0;
    transform: translateY(20rem);
    animation: Reveal_slideIn_f8a82 200ms cubic-bezier(.33, 1, .68, 1) forwards;
    pointer-events: auto;
}
.Reveal_slideLeftOut_b720c {
    opacity: 1;
    transform: translateY(0);
    animation: Reveal_slideLeftOut_b720c 200ms cubic-bezier(.6, .04, .98, .34) forwards;
    pointer-events: none;
}
.Reveal_slideLeftIn_a47c4 {
    opacity: 0;
    transform: translateY(40rem);
    animation: Reveal_slideLeftIn_a47c4 200ms cubic-bezier(.07, .82, .17, 1) forwards;
    pointer-events: auto;
}
.Reveal_slideRightOut_a19ff {
    opacity: 1;
    transform: translateY(0);
    animation: Reveal_slideRightOut_a19ff 200ms cubic-bezier(.6, .04, .98, .34) forwards;
    pointer-events: none;
}
.Reveal_slideRightIn_c2556 {
    opacity: 0;
    transform: translateY(-40rem);
    animation: Reveal_slideRightIn_c2556 200ms cubic-bezier(.07, .82, .17, 1) forwards;
    pointer-events: auto;
}
.Reveal_fadeOut_c5c25 {
    opacity: 1;
    animation: Reveal_fadeOut_c5c25 200ms cubic-bezier(.65, 0, .35, 1) forwards;
    pointer-events: none;
}
.Reveal_fadeIn_ce84a {
    opacity: 0;
    animation: Reveal_fadeIn_ce84a 200ms cubic-bezier(.65, 0, .35, 1) forwards;
    pointer-events: auto;
}
.Reveal_bg_fadeOut_bbb8b {
    opacity: 1;
    animation: Reveal_fadeOutBlur_b0c21 200ms cubic-bezier(.65, 0, .35, 1) forwards;
    pointer-events: none;
}
.Reveal_bg_fadeIn_de95a {
    opacity: 0;
    animation: Reveal_fadeInBlur_e10cd 200ms cubic-bezier(.65, 0, .35, 1) forwards;
    pointer-events: auto;
}
.Reveal_fadeDownIn_ea726 {
    opacity: 0;
    transform: translateY(-50rem);
    animation: Reveal_fadeInUp_ceeb2 800ms cubic-bezier(.07, .82, .17, 1) forwards;
}
.Reveal_fadeDownOut_a1268 {
    opacity: 1;
    transform: translateY(0);
    animation: Reveal_fadeInDown_a4cfb 800ms cubic-bezier(.6, .04, .98, .34) forwards;
}
@keyframes Reveal_slideOut_aa277 {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20rem);
    }
}
@keyframes Reveal_slideIn_f8a82 {
    from {
        opacity: 0;
        transform: translateY(20rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Reveal_slideLeftOut_b720c {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(40rem);
    }
}
@keyframes Reveal_slideLeftIn_a47c4 {
    from {
        opacity: 0;
        transform: translateX(40rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes Reveal_slideRightOut_a19ff {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-40rem);
    }
}
@keyframes Reveal_slideRightIn_c2556 {
    from {
        opacity: 0;
        transform: translateX(-40rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes Reveal_fadeOut_c5c25 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes Reveal_fadeIn_ce84a {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes Reveal_fadeInBlur_e10cd {
    from {
        filter: blur(7px);
        opacity: 0;
    }

    to {
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes Reveal_fadeOutBlur_b0c21 {
    from {
        filter: blur(0);
        opacity: 1;
    }

    to {
        filter: blur(7px);
        opacity: 0;
    }
}
@keyframes Reveal_fadeInUp_ceeb2 {
    from {
        opacity: 0;
        transform: translateY(-50rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Reveal_fadeInDown_a4cfb {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-50rem);
    }
}

.TextButton_base_a231c {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_bfac3 {
        flex-direction: row-reverse;
    }
.TextButton_icon_cdfc0 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_fc1bb,
    .TextButton_icon__forward_efa2d {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_efa2d {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_e2f0f {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_e32c0 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_d6e04 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_fc1bb .TextButton_glow_d6e04,
    .TextButton_icon__forward_efa2d .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_e2f0f .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_e32c0 .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_a231c:hover .TextButton_glow_d6e04 {
        opacity: 1;
    }
.TextButton_base_a231c:active .TextButton_glow_d6e04 {
        opacity: 0;
    }
.TextButton_caption_f4e8d {
    position: relative;
    transition: color .16s, text-shadow .16s;
}
.TextButton_caption__back_d358d,
    .TextButton_caption__forward_ff93d,
    .TextButton_caption__close_fc554 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_a231c:hover .TextButton_caption__back_d358d, .TextButton_base_a231c:hover .TextButton_caption__forward_ff93d, .TextButton_base_a231c:hover .TextButton_caption__close_fc554 {
            color: #fffa9f;
        }
.TextButton_base_a231c:active .TextButton_caption__back_d358d, .TextButton_base_a231c:active .TextButton_caption__forward_ff93d, .TextButton_base_a231c:active .TextButton_caption__close_fc554 {
            color: #FFDD99;
        }
.TextButton_caption__info_c263a {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_a231c:hover .TextButton_caption__info_c263a {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_a231c:active .TextButton_caption__info_c263a {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_d3960 {
    color: #7c7c6c;
}
.TextButton_base__left_ec79d .TextButton_goto_d3960 {
        margin-left: 8rem;
    }
.TextButton_base__right_bfac3 .TextButton_goto_d3960 {
        margin-right: 8rem;
    }
.TextButton_shine_f8873 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ec79d .TextButton_shine_f8873 {
        left: -4rem;
    }
.TextButton_base__right_bfac3 .TextButton_shine_f8873 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_a231c:hover .TextButton_shine_f8873 {
        opacity: 1;
    }
.TextButton_base_a231c:active .TextButton_shine_f8873 {
        opacity: 0;
    }

.OnboardingIntro_base_fd987 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App_base_c8e53 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.dogtags.icons.animated.background') no-repeat center / cover;
    overflow: hidden;
}
.App_content_d0933 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1366rem;
    min-height: 100%;
    position: relative;
}
.mediaSmall .App_content_d0933 {
        max-width: 1600rem;
        max-height: 900rem;
}
.mediaMedium .App_content_d0933 {
        max-width: 1920rem;
        max-height: 1080rem;
}
.mediaLarge .App_content_d0933 {
        max-width: 2560rem;
        max-height: 1440rem;
}
.App_content__blur_d6e63 {
        filter: blur(7px);
    }
.App_backBtnWrapper_cd64c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20rem;
    position: absolute;
    top: 60rem;
    left: 10rem;
    z-index: 2;
}
.App_header_e076f {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}
.mediaMedium .App_header_e076f {
        margin-top: 20rem;
}
.mediaLarge .App_header_e076f {
        margin-top: 10rem;
}
.mediaExtraLarge .App_header_e076f {
        margin-top: 20rem;
}
.mediaLarge .App_header__padding_fc6fe {
            padding-top: 33rem;
}
.App_dogTagInfo_db429 {
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-200rem);
}
.App_cards_dd3be {
    position: absolute;
    bottom: 70rem;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
}
.mediaExtraLarge .App_cards_dd3be {
        bottom: 90rem;
}

