.TooltipDecorator_base_bf61f {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_bf8f8 .TooltipDecorator_decorator_f4de8 {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.Currency_base_ed02c {
    display: flex;
    align-items: center;
    position: relative;
}
.Currency_icon_d34e3 {
    width: 16rem;
    height: 16rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.Currency_base__small_af876 .Currency_icon_d34e3,
    .Currency_base__big_f6388 .Currency_icon_d34e3,
    .Currency_base__large_fb228 .Currency_icon_d34e3,
    .Currency_base__extraLarge_d0b11 .Currency_icon_d34e3 {
        transform: translateY(3rem);
    }
.Currency_icon__credits-small_cb645 {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
    }
.Currency_icon__credits-big_bb614 {
        background-image: url('R.images.gui.maps.icons.library.CreditsIcon_1');
    }
.Currency_icon__credits-large_b65af {
        width: 48rem;
        height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_silver');
    }
.Currency_base__large_fb228 .Currency_icon__credits-large_b65af {
            transform: translateY(4rem);
        }
.Currency_icon__credits-extraLarge_a4a53 {
        width: 80rem;
        height: 80rem;
        margin-right: -2rem;
        background-image: url('R.images.gui.maps.icons.library.credits_icon_80x80');
    }
.Currency_icon__gold-small_eee32 {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
    }
.Currency_base__small_af876 .Currency_icon__gold-small_eee32 {
            transform: translateY(2rem);
        }
.Currency_icon__gold-big_e419a {
        background-image: url('R.images.gui.maps.icons.library.GoldIcon_1');
    }
.Currency_base__big_f6388 .Currency_icon__gold-big_e419a {
            transform: translateY(4rem);
        }
.Currency_icon__gold-large_c3a99 {
        width: 48rem;
        height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_gold');
    }
.Currency_base__large_fb228 .Currency_icon__gold-large_c3a99 {
            transform: translateY(4rem);
        }
.Currency_icon__gold-extraLarge_f2852 {
        width: 80rem;
        height: 80rem;
        background-image: url('R.images.gui.maps.icons.library.gold_icon_80x80');
    }
.Currency_icon__crystal-small_d8644 {
        background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
    }
.Currency_base__small_af876 .Currency_icon__crystal-small_d8644 {
            transform: translateY(2rem);
        }
.Currency_icon__crystal-big_f2873 {
        width: 23rem;
        height: 22rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_23x22');
    }
.Currency_base__big_f6388 .Currency_icon__crystal-big_f2873 {
            transform: translateY(4rem);
        }
.Currency_icon__crystal-large_cf068 {
        width: 48rem;
        height: 48rem;
        margin-left: -1rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_bonds');
    }
.Currency_icon__crystal-extraLarge_a9843 {
        width: 80rem;
        height: 80rem;
        background-image: url('R.images.gui.maps.icons.library.crystal_80x80');
    }
.Currency_base__extraLarge_d0b11 .Currency_icon__crystal-extraLarge_a9843 {
            transform: translateY(7rem);
        }
.Currency_icon__xp-small_f3b46 {
        background-image: url('R.images.gui.maps.icons.library.NormalXpIcon');
    }
.Currency_base__small_af876 .Currency_icon__xp-small_f3b46 {
            transform: translateY(1rem);
        }
.Currency_icon__xp-big_c984a {
        width: 23rem;
        height: 22rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.xpIcon_23x22');
    }
.Currency_base__big_f6388 .Currency_icon__xp-big_c984a {
            transform: translateY(2rem);
        }
.Currency_icon__xp-large_e9a09 {
        width: 48rem;
        height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.exp');
    }
.Currency_icon__xp-extraLarge_f90f7 {
        width: 80rem;
        height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.xp_tank_icon_80x80');
    }
.Currency_icon__freeXP-small_bcda1 {
        background-image: url('R.images.gui.maps.icons.library.freeXPIcon16x16');
    }
.Currency_base__small_af876 .Currency_icon__freeXP-small_bcda1 {
            transform: translateY(1rem);
        }
.Currency_icon__freeXP-big_eb64e {
        width: 24rem;
        height: 24rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.freeXPIconBig24x24');
    }
.Currency_icon__freeXP-large_e46b0 {
        width: 48rem;
        height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.freeExp');
    }
.Currency_icon__freeXP-extraLarge_e41b1 {
        width: 80rem;
        height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.free_xp_icon_80x80');
    }
.Currency_base__extraLarge_d0b11 .Currency_icon__freeXP-extraLarge_e41b1 {
            transform: translateY(4rem);
        }
.Currency_icon__eliteXP-small_c4a51 {
        background-image: url('R.images.gui.maps.icons.library.EliteXpIcon-2');
    }
.Currency_base__small_af876 .Currency_icon__eliteXP-small_c4a51 {
            transform: translateY(1rem);
        }
.Currency_icon__eliteXP-big_eceb0 {
        width: 24rem;
        height: 24rem;
        margin-left: -5rem;
        background-image: url('R.images.gui.maps.icons.library.EliteXpIconBig');
    }
.Currency_icon__eliteXP-large_e35ab {
        width: 48rem;
        height: 48rem;
        margin: 0 -5rem 0 -6rem;
        background-image: url('R.images.gui.maps.icons.library.elite_exp_48x48');
    }
.Currency_icon__eliteXP-extraLarge_a17d5 {
        width: 80rem;
        height: 80rem;
        margin: 0 -5rem;
        background-image: url('R.images.gui.maps.icons.library.elite_exp_80x80');
    }
.Currency_base__extraLarge_d0b11 .Currency_icon__eliteXP-extraLarge_a17d5 {
            transform: translateY(4rem);
        }
.Currency_icon__equipCoin-small_d3b9a {
        width: 16rem;
        height: 16rem;
        margin-right: -2rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoin_1');
    }
.Currency_base__small_af876 .Currency_icon__equipCoin-small_d3b9a {
            transform: translateX(-1rem) translateY(1rem);
        }
.Currency_icon__equipCoin-big_c34e1 {
        width: 24rem;
        height: 24rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoinBig');
    }
.Currency_base__big_f6388 .Currency_icon__equipCoin-big_c34e1 {
            transform: translateX(-5rem) translateY(3rem);
        }
.Currency_icon__equipCoin-large_b1b5e {
        width: 48rem;
        height: 48rem;
        margin-right: 2rem;
        background-image: url('R.images.gui.maps.shop.rewards.c_48x48.equipCoin');
    }
.Currency_icon__equipCoin-extraLarge_a7b90 {
        width: 80rem;
        height: 80rem;
        margin-right: 8rem;
        background-image: url('R.images.gui.maps.icons.library.equipCoin_icon_80x80');
    }
.Currency_base__extraLarge_d0b11 .Currency_icon__equipCoin-extraLarge_a7b90 {
            transform: translateX(2rem) translateY(4rem);
        }
.Currency_value_bb176 {
    /* font-size inherit does not work here, so 1em means the size does not change */
    /* stylelint-disable-next-line */
    font-size: 1em;
    position: relative;
    z-index: 2;
}
.Currency_base__small_af876 .Currency_value_bb176 {
        padding-right: 2rem;
    }
.Currency_base__big_f6388 .Currency_value_bb176 {
        padding-right: 5rem;
        font-size: 24rem;
        font-weight: 700;
    }
.Currency_base__big_f6388 .Currency_value_bb176 + .Currency_icon_d34e3 {
            font-size: 24rem;
        }
.Currency_base__large_fb228 .Currency_value_bb176 {
        font-size: 36rem;
        font-weight: 700;
    }
.Currency_base__large_fb228 .Currency_value_bb176 + .Currency_icon_d34e3 {
            font-size: 36rem;
        }
.Currency_base__extraLarge_d0b11 .Currency_value_bb176 {
        font-size: 56rem;
        font-weight: 700;
    }
.Currency_value__freeXP_db401 {
        color: #F2F2F7;
    }
.Currency_value__credits_c98c5 {
        color: #CED9D9;
    }
.Currency_value__gold_b8214 {
        color: #FFC363;
    }
.Currency_value__xp_eda0a,
    .Currency_value__crystal_cf72e,
    .Currency_value__equipCoin_cb08d,
    .Currency_value__eliteXP_de450 {
        color: #C9C9B6;
    }
.Currency_base__small_af876 .Currency_value__notEnough_db10a {
            color: #FF2717;
        }
.Currency_base__big_f6388 .Currency_value__notEnough_db10a {
            color: #B70000;
        }
.Currency_base__large_fb228 .Currency_value__notEnough_db10a {
            color: #B70000;
        }
.Currency_base__extraLarge_d0b11 .Currency_value__notEnough_db10a {
            color: #B70000;
        }
.Currency_stock_bffbc {
    height: 13rem;
    color: #FFDD99;
    font-size: 13rem;
    line-height: 1;
    position: relative;
    z-index: 0;
    pointer-events: none;
}
.Currency_stock__indent_c4c0d {
        margin-left: 2rem;
    }
.Currency_base__small_af876 .Currency_stock_bffbc {
        transform: translateY(0rem);
    }
.Currency_base__big_f6388 .Currency_stock_bffbc {
        transform: translateY(4rem);
    }
.Currency_base__large_fb228 .Currency_stock_bffbc {
        transform: translateY(10rem);
    }
.Currency_base__extraLarge_d0b11 .Currency_stock_bffbc {
        transform: translateY(18rem);
    }
.Currency_stock__interactive_e78a9 {
        pointer-events: auto;
    }
.Currency_stockBackground_c8ab1 {
    width: 80rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -27rem;
    bottom: 0;
    z-index: -1;
    transform: translateY(17rem);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_c37bf {
    width: 100%;
    height: var(--progress-bg-height);
    position: relative;
}
.ProgressBar_base__small_af6d6 {
        height: var(--progress-bg-height-small);
    }
.ProgressBar_background_a4e18 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: var(--progress-pattern-size);
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__small_e2b95 {
        height: var(--progress-bg-height-small);
    }
.ProgressBar_lineWrapper_e670c {
    display: flex;
    flex: 1;
}


.ProgressBarBlink_base_d7125 {
    width: var(--progress-glow-width);
    height: var(--progress-glow-height);
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: var(--progress-glow-mixBlendMode);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

    .ProgressBarBlink_base__small_b92f8 {
        width: var(--progress-glow-small-width);
        height: var(--progress-glow-small-height);
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_a3558 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    filter: var(--progress-line-filter);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_a9e8e {
        background-color: var(--progress-line-disabled);
    }
.ProgressLineImpose_base__finished_f889e {
        background-color: var(--progress-line-finished);
    }
.ProgressLineImpose_base__withoutBounce_c0ff9 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressLineImpose_pattern_a4023 {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: var(--progress-pattern-size);
    position: absolute;
    top: var(--progress-pattern-border-size);
    right: var(--progress-pattern-border-size);
    bottom: var(--progress-pattern-border-size);
    left: var(--progress-pattern-border-size);
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_pattern_a4023 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_pattern_a4023 {
        background-image: var(--progress-pattern-disabled);
        left: 0;
    }
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_pattern_a4023 {
        background-image: var(--progress-pattern-finished);
    }
.ProgressLineImpose_gradient_f73c0 {
    max-width: 8001px;
    background-image: var(--progress-pattern-gradient);
    mix-blend-mode: var(--progress-pattern-gradient-mixBlendMode);
    position: absolute;
    top: var(--progress-pattern-border-size);
    right: 0;
    bottom: var(--progress-pattern-border-size);
    left: 0;
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_gradient_f73c0 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_gradient_f73c0 {
        display: none;
    }
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_gradient_f73c0 {
        background-image: var(--progress-pattern-gradient-finished);
    }
.ProgressLineImpose_glow_f237a {
    width: var(--progress-glow-width);
    max-width: 8001px;
    height: var(--progress-glow-height);
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: var(--progress-glow-mixBlendMode);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_b7ffa {
        left: var(--progress-pattern-border-size);
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_glow_f237a,
    .ProgressLineImpose_base__finished_f889e .ProgressLineImpose_glow_f237a {
        display: none;
    }
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_glow_f237a {
        width: var(--progress-glow-small-width);
        height: var(--progress-glow-small-height);
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_f4d46 {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressBarDeltaGrow_glow_c912d {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 .ProgressBarDeltaGrow_glow_c912d {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_cfcd3 {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_dc2b6 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1), cubic-bezier(.21, .61, .35, 1);
    transition-property: width, transform;
}

.ExtendedText_base_d9fc1 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

    .ExtendedText_base__zeroPadding_d1a1c {
        padding: 0;
    }

    .ExtendedText_base__isTruncationAvailable_cb880 {
        width: 100%;
    }

.ExtendedText_truncated_a4268 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_d75b4 {
        opacity: 0;
    }

.ExtendedText_unTruncated_ff478 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #FF2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.ExtendedText_tooltip_b5abd {
    display: flex;
}

.ExtendedText_tooltip__justify-flex-start_ade81 {
        justify-content: flex-start;
    }

.ExtendedText_tooltip__justify-center_aa541 {
        justify-content: center;
    }

.ExtendedText_tooltip__justify-flex-end_af6c3 {
        justify-content: flex-end;
    }

.ExtendedText_tooltip__align-flex-start_fbfc0 {
        align-content: flex-start;
    }

.ExtendedText_tooltip__align-center_d5b4a {
        align-content: center;
    }

.ExtendedText_tooltip__align-flex-end_fc0e0 {
        align-content: flex-end;
    }

.colors_blackReal_a68be {
    color: #000000;
}

.colors_whiteReal_f79f8 {
    color: #FFFFFF;
}

.colors_white_b5c87 {
    color: #F2F2F7;
}

.colors_whiteOrange_ba58d {
    color: #FEFEEC;
}

.colors_whiteSpanish_fd764 {
    color: #E9E2BF;
}

.colors_par_e836f {
    color: #8C8C7E;
}

.colors_parSecondary_f260a {
    color: #595950;
}

.colors_parTertiary_d47f7 {
    color: #37362E;
}

.colors_red_c02cb {
    color: #FF2717;
}

.colors_redDark_cdd63 {
    color: #B70000;
}

.colors_yellow_ec93b {
    color: #FEAB34;
}

.colors_orange_bbde2 {
    color: #EE7000;
}

.colors_cream_e3bb8 {
    color: #FFDD99;
}

.colors_brown_bcb6a {
    color: #CBAC77;
}

.colors_greenBright_e6055 {
    color: #80D43A;
}

.colors_green_b6f21 {
    color: #7AB300;
}

.colors_greenDark_ce9bf {
    color: #497212;
}

.colors_blueBooster_b2848 {
    color: #CCFFFF;
}

.colors_blueTeamkiller_e7dd8 {
    color: #09E2FF;
}

.colors_cred_ddb07 {
    color: #CED9D9;
}

.colors_gold_c405a {
    color: #FFC363;
}

.colors_bond_bb139 {
    color: #C9C9B6;
}

.colors_prom_d1186 {
    color: #A29B70;
}

.renderers_noBreakWrapper_d986b {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_f90ed {
    width: 100%;
    height: 0;
}

.renderers_newLine_ee778 {
    flex: 1;
    width: 100%;
}

.renderers_word_ac32d {
    white-space: pre;
    overflow-wrap: normal;
}

.SkillProgression_progressSection_a19e8,
.SkillProgression_discount_e7365 {
    padding: 0 20rem;
}

.SkillProgression_progressSection_a19e8 {
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
}

.SkillProgression_progressSection__available_aae84 {
        margin-top: 24rem;
    }

.SkillProgression_progressValues_b458b {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.SkillProgression_percents_b5f1e {
    color: #FEAB34;
}

.SkillProgression_percents__full_ebb6a {
        color: #FFDD99;
    }

.SkillProgression_xpValues_e21b7 {
    position: relative;
}

.SkillProgression_currentValue_c2914 {
    color: #C9C9B6;
}

.SkillProgression_discountValue_e4f36 {
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    position: absolute;
    top: -16rem;
    right: 18rem;
}

.SkillProgression_discountCrossLine_d6b80 {
    width: 100%;
    height: 1rem;
    background-color: #595950;
    position: absolute;
    right: 0;
    bottom: 7rem;
}

.SkillProgression_totalValue_d54cb {
    color: #8C8C7E;
}

.SkillProgression_totalValue__withDiscount_dcc43 {
        color: #FEFEEC;
        text-shadow: 0 0 4rem rgba(255, 127, 0, .25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
    }

.SkillProgression_discount_e7365 {
    display: flex;
    margin-top: 28rem;
}

.SkillProgression_discountLabel_bd77f {
    margin: -3rem 0 0 6rem;
}

.SkillProgression_infoIcon_e43eb {
    width: 14rem;
    height: 14rem;
    background: url('R.images.gui.maps.icons.crew.profile.info') no-repeat center / contain;
}

.NormalSkill_header_e7a06,
.NormalSkill_description_ca9e0 {
    padding: 0 20rem;
}

.NormalSkill_header_e7a06 {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.NormalSkill_description_ca9e0 {
    margin-top: 8rem;
}

.ZeroSkill_header_dda53,
.ZeroSkill_description_bf4be {
    padding: 0 20rem;
}

.ZeroSkill_header_dda53 {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    align-items: center;
}

.ZeroSkill_icon_d29a9 {
    width: 20rem;
    height: 20rem;
    margin-right: 15rem;
    background: url('R.images.gui.maps.icons.crew.profile.zero_icon') no-repeat center / contain;
    filter: drop-shadow(0px 0px 14px rgba(255,255,255, .5));
}

.ZeroSkill_title_ebd9a {
    margin-bottom: 2rem;
}

.ZeroSkill_description_bf4be {
    display: flex;
    align-items: center;
    height: 65rem;
    margin-top: 18rem;
    background: url('R.images.gui.maps.icons.crew.profile.zero_tooltip_background') no-repeat center / contain;
}

.EmptySkillTooltipApp_base_d82d2 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 360rem;
    min-height: 138rem;
    padding: 20rem 0;
}

