/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.DailyQuestTooltip_rewardsText_e3c9f036 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 15rem;
  color: var(--color-general-tertiary);
}

.DailyQuestTooltip_divider_e2b4b1fd {
  margin: 8rem 0 4rem;
}

.DailyQuestTooltip_rewardItem_9acd3b8a {
  margin: 0 15rem 0 -5rem;
}

.DailyQuestTooltip_rewards_bf27319f {
  margin-bottom: 15rem;
}