/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Index_42aa9bb9 {
  width: 100%;
  max-width: 434rem;
  padding: 12rem 20rem;
}
.Index_base__withHeader_7d114cd0 {
  max-width: 382rem;
  padding-bottom: 21rem;
}

.Index_title_79c25340 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 3rem;
  color: var(--color-general-primary);
  font-weight: 600;
  opacity: 0.9;
}

.Index_body_b1cb19fb {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
  line-height: 22rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.BulletListTem_71e7474e {
  display: flex;
}

.BulletListTem_bullet_5d2661b1 {
  margin-right: 8rem;
}

.BulletListTem_content_74f42074 {
  flex: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.InnerBlock_ea6c3fd8 {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  color: var(--color-general-tertiary);
  line-height: 1.2;
}

.InnerBlock_title_15bf72a {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
}

.InnerBlock_description_20b6cccd {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 14rem;
  line-height: 22rem;
}

.InnerBlock_subTitle_b0d5cb4f {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 10rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
}

.InnerBlock_bullets_813d7b5 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  padding: 0 0 7rem 12rem;
  line-height: 20rem;
}

.InnerBlock_bullets_813d7b5 > div + div {
  margin-top: 6rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Index_3644a37a {
  display: flex;
  flex-direction: column;
  width: 400rem;
  padding: 7rem 23rem 20rem;
}

.Index_icon_d52a6788 {
  align-self: center;
  width: 296rem;
  height: 222rem;
  margin-bottom: 7rem;
  background: no-repeat center/cover;
}

.Index_footer_b90ef2bf {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 17rem;
  color: rgba(var(--color-general-tertiary-rgb), 0.6);
  line-height: 22rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.InnerBlock_196a7ac9 {
  display: flex;
}

.InnerBlock_icon_be2c6db5 {
  width: 80rem;
  height: 80rem;
  margin-left: -10rem;
  background: url(R.images.gui.maps.icons.personal_missions_30.points.c_80x80) no-repeat
    center/cover;
}

.InnerBlock_textBlock_fedd1516 {
  display: flex;
  flex-direction: column;
  flex: 0 1;
  margin: 3rem 0 0 2rem;
}

.InnerBlock_title_5e7e6bb2 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
}

.InnerBlock_description_37b78534 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 7rem 0 3rem 10rem;
  color: var(--color-general-tertiary);
  line-height: 20rem;
}

.InnerBlock_description_37b78534 > div + div {
  margin-top: 6rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Index_40f8809b {
  width: 496rem;
  padding: 24rem 20rem 20rem;
}

.Index_title_499790e {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  color: var(--color-general-primary);
  font-weight: 600;
  opacity: 0.9;
}

.Index_description_d1292557 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: 2rem 0 25rem;
  color: var(--color-general-tertiary);
  line-height: 22rem;
}

.Index_footer_162a858a {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 16rem;
  color: rgba(var(--color-general-tertiary-rgb), 0.6);
  line-height: 22rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_text_13feac86 {
  font-size: 20rem;
}
.App_text__bold_f88f7b4e {
  font-weight: 700;
}
