.InputControl_base_38 {
  display: flex;
  align-items: center;
  min-width: 100%;
  height: 100%;
  border: 1rem solid #464538;
  border-radius: 2rem;
  box-shadow:
    inset 0 0 1rem #000,
    inset 0 0 8rem #000;
  position: relative;
  transition: border 0.3s ease-in-out;
  cursor: text;
}

.InputControl_base__focused_07 {
  border-color: #626156;
}

.InputControl_base__alert_e6 {
  border-color: #ee7000;
  box-shadow:
    inset 0 0 1rem #000,
    inset 0 0 8rem #000,
    inset 0 0 6rem #8d0d03;
}

.InputControl_base__error_34 {
  border-color: #ff2717;
  box-shadow:
    inset 0 0 1rem #000,
    inset 0 0 8rem #000,
    inset 0 0 6rem #8d0d03;
}

.InputControl_base__done_2e {
  border-color: #7ab300;
}

.InputControl_base__disabled_96 {
  cursor: default;
}

.InputControl_input_98 {
  flex: 1;
  border: none;
  background-color: transparent;
  color: #8c8c7e;
  position: relative;
  z-index: 1;
}

.InputControl_base__small_78 .InputControl_input_98 {
  font-size: 12rem;
  line-height: 14rem;
  padding: 1rem 4rem 2rem 8rem;
}

.InputControl_base__medium_c9 .InputControl_input_98 {
  font-size: 14rem;
  padding: 1rem 4rem 2rem 8rem;
}

.InputControl_base__large_42 .InputControl_input_98 {
  font-size: 16rem;
  padding: 4rem 6rem 5rem 12rem;
}

.InputControl_base__extraMedium_41 .InputControl_input_98 {
  font-size: 16rem;
  padding: 4rem 6rem 5rem 12rem;
}

.InputControl_base__extraLarge_a6 .InputControl_input_98 {
  font-size: 22rem;
  padding: 10rem 45rem 10rem 19rem;
}

.InputControl_base__monoLarge_e8 .InputControl_input_98 {
  color: #8c8c7e;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  padding: 0 0 3rem 17rem;
}

.InputControl_base__monoSmall_e8 .InputControl_input_98 {
  color: #8c8c7e;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  padding: 0 0 4rem 11rem;
}

.InputControl_base__withIcon_39.InputControl_base__small_78 .InputControl_input__search_a7 {
  padding-left: 20rem;
}

.InputControl_base__withIcon_39.InputControl_base__medium_c9 .InputControl_input__search_a7 {
  padding-left: 24rem;
}

.InputControl_base__withIcon_39.InputControl_base__large_42 .InputControl_input__search_a7 {
  padding-left: 36rem;
}

.InputControl_base__withIcon_39.InputControl_base__extraLarge_a6 .InputControl_input__search_a7 {
  padding-left: 46rem;
}

.InputControl_base__disabled_96 .InputControl_input_98 {
  color: #37362e;
  pointer-events: none;
}

.InputControl_input_98::selection {
  background-color: #8c8c7e;
  color: #37362e;
}

.InputControl_disabled_e7 {
  width: 100%;
  height: 100%;
  background: url("R.images.gui.maps.icons.library.disabled_pattern") center / 9rem;
  opacity: 0.8;
  position: absolute;
}

.InputControl_placeholder_fe {
  color: #595950;
  position: absolute;
  left: 8rem;
  pointer-events: none;
}

.InputControl_base__small_78 .InputControl_placeholder_fe {
  font-size: 12rem;
  line-height: 14rem;
}

.InputControl_base__medium_c9 .InputControl_placeholder_fe {
  font-size: 14rem;
}

.InputControl_base__large_42 .InputControl_placeholder_fe {
  font-size: 16rem;
  left: 12rem;
}

.InputControl_base__extraMedium_41 .InputControl_placeholder_fe {
  font-size: 16rem;
  left: 12rem;
}

.InputControl_base__extraLarge_a6 .InputControl_placeholder_fe {
  font-size: 22rem;
  left: 19rem;
}

.InputControl_base__withIcon_39.InputControl_base__small_78 .InputControl_placeholder__search_b4 {
  left: 20rem;
}

.InputControl_base__withIcon_39.InputControl_base__medium_c9 .InputControl_placeholder__search_b4 {
  left: 24rem;
}

.InputControl_base__withIcon_39.InputControl_base__large_42 .InputControl_placeholder__search_b4 {
  left: 36rem;
}

.InputControl_base__withIcon_39.InputControl_base__extraMedium_41
  .InputControl_placeholder__search_b4 {
  left: 36rem;
}

.InputControl_base__withIcon_39.InputControl_base__extraLarge_a6
  .InputControl_placeholder__search_b4 {
  left: 45rem;
}

.InputControl_base__disabled_96 .InputControl_placeholder_fe {
  color: #37362e;
}

.InputControl_icon_78 {
  background: no-repeat center / contain;
  position: absolute;
  left: 8rem;
  z-index: 1;
  pointer-events: none;
}

.InputControl_base__small_78 .InputControl_icon__search_37 {
  width: 8rem;
  height: 8rem;
}

.InputControl_base__medium_c9 .InputControl_icon__search_37 {
  width: 10rem;
  height: 10rem;
}

.InputControl_base__large_42 .InputControl_icon__search_37,
.InputControl_base__extraMedium_41 .InputControl_icon__search_37,
.InputControl_base__extraLarge_a6 .InputControl_icon__search_37 {
  width: 16rem;
  height: 16rem;
  left: 12rem;
}

.InputControl_base__disabled_96 .InputControl_icon_78 {
  opacity: 0.5;
}

.InputControl_clear_a8 {
  opacity: 0.6;
  position: absolute;
  right: 4rem;
  z-index: 1;
  cursor: pointer;
}

.InputControl_clear_a8:hover {
  opacity: 1;
}

.InputControl_base__small_78 .InputControl_clear_a8 {
  width: 12rem;
  height: 12rem;
  background: url("R.images.gui.maps.icons.components.input.close_small") no-repeat 50% / 8rem;
}

.InputControl_base__medium_c9 .InputControl_clear_a8 {
  width: 14rem;
  height: 14rem;
  background: url("R.images.gui.maps.icons.components.input.close_medium") no-repeat 50% / 10rem;
}

.InputControl_base__large_42 .InputControl_clear_a8,
.InputControl_base__extraMedium_41 .InputControl_clear_a8,
.InputControl_base__extraLarge_a6 .InputControl_clear_a8 {
  width: 20rem;
  height: 20rem;
  background: url("R.images.gui.maps.icons.components.input.close_large") no-repeat 50% / 16rem;
  right: 6rem;
}

.HelperMessage_base_6b {
  display: flex;
  width: 100%;
  opacity: 0;
  transition: opacity ease 0.2s;
  pointer-events: none;
}

.HelperMessage_base__shown_10 {
  opacity: 1;
}

.HelperMessage_icon_87 {
  width: 16rem;
  height: 16rem;
  margin-right: 5rem;
  background: no-repeat center / contain;
}

.HelperMessage_message_ef {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  flex: 1;
}

.HelperMessage_message__alert_4a {
  color: #ee7000;
}

.HelperMessage_message__error_d6 {
  color: #ff2717;
}

.HelperMessage_message__done_2d {
  color: #7ab300;
}

.HelperMessage_base__small_d9 .HelperMessage_message_ef,
.HelperMessage_base__extraSmall_50 .HelperMessage_message_ef {
  margin-top: -2rem;
  font-size: 12rem;
  line-height: 1.2;
}

.Input_base_66 {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  background-color: #1c1b12;
  position: relative;
}

.Input_base__small_86 {
  height: 18rem;
}

.Input_base__medium_f4 {
  height: 24rem;
}

.Input_base__large_f9 {
  height: 32rem;
}

.Input_base__extraMedium_86 {
  height: 36rem;
}

.Input_base__extraLarge_ce {
  height: 49rem;
}

.Input_helper_ef {
  height: 100%;
  position: absolute;
  top: 3rem;
  left: 0;
  transform: translateY(100%);
}

.RemoteValidationIcon_spinner_10 {
  width: 22rem;
  height: 22rem;
  background: url("R.images.gui.maps.icons.account_completion.turnarouder") no-repeat center /
    contain;
  animation: RemoteValidationIcon_rotation_93 2s linear infinite;
}

.RemoteValidationIcon_ok_9a {
  width: 22rem;
  height: 22rem;
  background: url("R.images.gui.maps.icons.account_completion.turnarouder_ok") no-repeat center /
    contain;
}

@keyframes RemoteValidationIcon_rotation_93 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.SuggestionList_base_e0 {
  padding: 58rem;
  border-image-source: url("R.images.gui.maps.icons.popovers.popover_bg");
  border-image-slice: 90 fill;
  border-image-width: 90rem;
}

.SuggestionList_arrow_a2 {
  width: 84rem;
  height: 181rem;
  margin: 58rem 0;
  background: url("R.images.gui.maps.icons.popovers.popover_arrow_left") no-repeat 0 0 / contain;
  position: absolute;
  top: 50%;
  left: 10rem;
  transform: translateY(-90rem);
}

.SuggestionList_list_95 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 11rem 32rem;
}

.SuggestionList_variant_22 {
  width: auto;
  margin: 8rem 0;
  color: #e9e2bf;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
}

.SuggestionList_underline_44 {
  height: 3rem;
  margin: 0 -1rem;
  background: url("R.images.gui.maps.icons.account_completion.dash") -3rem 0 / auto repeat-x;
}

@keyframes NameField_showIn_82 {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes NameField_showOut_a3 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes NameField_fadeIn_0d {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes NameField_fadeOut_83 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes NameField_windowIn_9b {
  from {
    opacity: 0;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.NameField_base_b8 {
  width: 400rem;
  position: relative;
}

.NameField_base_b8.NameField_base__small_d4,
.NameField_base_b8.NameField_base__extraSmall_36 {
  width: 280rem;
}

.NameField_name_4a {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  position: absolute;
  top: -5rem;
  left: 0;
  transform: translateY(-100%);
}

.NameField_base__small_d4 .NameField_name_4a,
.NameField_base__extraSmall_36 .NameField_name_4a {
  font-size: 12rem;
  top: -2rem;
}

.NameField_input_17 {
  margin-right: 28rem;
}

.NameField_input__big_bc {
  margin-right: -10rem;
}

.NameField_validationIcon_7e {
  position: absolute;
  top: 8rem;
  right: 8rem;
  cursor: pointer;
}

.NameField_validationIcon__big_a9 {
  top: 14rem;
}

.NameField_suggestions_19 {
  opacity: 1;
  position: absolute;
  top: -113rem;
  right: -344rem;
  z-index: 1;
  transition: opacity linear 0.3s;
}

.NameField_suggestions__big_4e {
  top: -106rem;
}

.NameField_suggestions__hidden_3a {
  opacity: 0;
}

.TextButton_base_b6 {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 12rem;
  position: relative;
  cursor: pointer;
}

.TextButton_base__right_39 {
  flex-direction: row-reverse;
}
.TextButton_icon_17 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.back");
  transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
  transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
  margin: -1rem 0;
  background-image: url("R.images.gui.maps.icons.components.text_button.close");
}
.TextButton_icon__info_33 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.info");
}
.TextButton_glow_a4 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.back_hover");
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.close_hover");
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.info_hover");
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
  opacity: 0;
}
.TextButton_caption_82 {
  position: relative;
  transition:
    color 0.16s,
    text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
  color: #ffdd99;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
  color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
  color: #ffdd99;
}
.TextButton_caption__info_23 {
  padding: 0 5rem;
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
  color: #e3ffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 12rem rgba(0, 234, 255, 1),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.6),
    0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
  color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
  margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
  margin-right: 8rem;
}
.TextButton_shine_e2 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transition: opacity 0.16s;
  pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
  left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
  right: -4rem;
  transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
  opacity: 0;
}

.CurtainSubViewTemplate_base_a7 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 580rem;
  height: 100vh;
  position: relative;
  cursor: auto;
}
.CurtainSubViewTemplate_base__small_53,
.CurtainSubViewTemplate_base__extraSmall_2d {
  width: 386rem;
}

.CurtainSubViewTemplate_closeButton_40 {
  position: absolute;
  top: 11rem;
  right: 9rem;
}

.CurtainSubViewTemplate_base__small_53 .CurtainSubViewTemplate_closeButton_40,
.CurtainSubViewTemplate_base__extraSmall_2d .CurtainSubViewTemplate_closeButton_40 {
  right: 5rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

.EmailIcon_base_57 {
  width: 13rem;
  height: 14rem;
  margin-bottom: 1rem;
  background: url("R.images.gui.maps.icons.account_completion.icon_attention") no-repeat 50% /
    contain;
}

@keyframes Title_showIn_6a {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes Title_showOut_62 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes Title_fadeIn_93 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes Title_fadeOut_06 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes Title_windowIn_bc {
  from {
    opacity: 0;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.Title_base_eb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title_icon_01 {
  width: 272rem;
  height: 206rem;
  margin-bottom: -6rem;
  background: url("R.images.gui.maps.icons.account_completion.rectangle") no-repeat 50% / contain;
  position: relative;
}

.Title_base__small_0d .Title_icon_01,
.Title_base__extraSmall_66 .Title_icon_01 {
  width: 194rem;
  height: 152rem;
  margin-bottom: 0;
  background-image: url("R.images.gui.maps.icons.account_completion.rectangle_small");
}

.Title_title_9f {
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 17rem;
}

.Title_base__small_0d .Title_title_9f,
.Title_base__extraSmall_66 .Title_title_9f {
  color: #f2f2f7;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 9rem;
}

.Title_br_3d {
  width: 100%;
}

.Title_subTitle_af {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 560rem;
  margin-bottom: 30rem;
}

.Title_subTitle__binding_30 {
  color: #8c8c7e;
}

.Title_base__small_0d .Title_subTitle_af,
.Title_base__extraSmall_66 .Title_subTitle_af {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  width: 300rem;
  margin: 0 10rem 23rem;
}

@keyframes WarningMessage_showIn_39 {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes WarningMessage_showOut_a8 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes WarningMessage_fadeIn_76 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes WarningMessage_fadeOut_a2 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes WarningMessage_windowIn_c5 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.WarningMessage_base_b9 {
  color: #ee7000;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  animation: WarningMessage_fadeIn_76 0.5s 0.2s both;
}

.WarningMessage_icon_3e {
  width: 24rem;
  height: 24rem;
  margin-top: -1rem;
  background: url("R.images.gui.maps.icons.library.alertBigIcon") no-repeat 50% / contain;
}

.WarningMessage_base__large_f8 .WarningMessage_icon_3e {
  width: 32rem;
  height: 32rem;
  flex: 1 0 100%;
  margin-bottom: 10rem;
  background-image: url("R.images.gui.maps.icons.account_completion.warningLarge");
}

.WarningMessage_br_98 {
  width: 100%;
}

.CButton_base_40 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
  background-size: 100% 100%;
}

.CButton_base__main_42 {
  background-image: url("R.images.gui.maps.icons.components.button.back_main");
}

.CButton_base__primary_7f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary");
}

.CButton_base__primaryGreen_6f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_green");
}

.CButton_base__primaryRed_ec {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_red");
}

.CButton_base__secondary_50 {
  background-image: url("R.images.gui.maps.icons.components.button.back_secondary");
}

.CButton_base__ghost_ed {
  border-radius: 3rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
  background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
  min-height: 17rem;
  padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
  padding: 0 20rem;
}

.CButton_base__small_df {
  min-height: 18rem;
}

.CButton_base__medium_74 {
  min-height: 32rem;
}

.CButton_base__disabled_d9 {
  cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_main");
}
.CButton_base__primary_7f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary");
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_green");
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_red");
}
.CButton_base__secondary_50 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_secondary");
}
.CButton_texture_fe {
  background: url("R.images.gui.maps.icons.components.button.standard_texture_file");
  background-size: 155rem 31rem;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_state_11 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
  border-radius: 2rem;
  box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
  transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
  background-image: linear-gradient(
    180deg,
    rgba(252, 248, 235, 0.25) 0%,
    rgba(252, 248, 235, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
  opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
  box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
  background-color: rgba(8, 6, 0, 0.18);
  background-image: none;
}
.CButton_stateHighlightActive_35 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
  opacity: 1;
}
.CButton_stateDisabled_54 {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("R.images.gui.maps.icons.components.button.texture_disable");
  background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
  opacity: 1;
}
.CButton_content_cc {
  display: flex;
  align-items: center;
  color: #f2f2e6;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 -1rem 1rem #000;
  letter-spacing: 0.03em;
  transform: translateY(-1rem);
}
.CButton_content_cc[lang="ja"],
.CButton_content_cc[lang="ko"],
.CButton_content_cc[lang="zh_tw"],
.CButton_content_cc[lang="zh_sg"],
.CButton_content_cc[lang="zh_cn"],
.CButton_content_cc[lang="th"] {
  font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
  color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
  font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
  font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
  font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
  opacity: 0.6;
}

@keyframes WGNPCurtainTemplate_showIn_e1 {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes WGNPCurtainTemplate_showOut_27 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes WGNPCurtainTemplate_fadeIn_c6 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes WGNPCurtainTemplate_fadeOut_bd {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes WGNPCurtainTemplate_windowIn_58 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.WGNPCurtainTemplate_base_33 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 730rem;
}

.WGNPCurtainTemplate_base__small_35 .WGNPCurtainTemplate_base_33,
.WGNPCurtainTemplate_base__extraSmall_7c .WGNPCurtainTemplate_base_33 {
  min-height: 600rem;
}

.WGNPCurtainTemplate_content_50 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.WGNPCurtainTemplate_footer_ea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WGNPCurtainTemplate_divider_ce {
  width: 416rem;
  height: 1rem;
  margin-bottom: 22rem;
  background-color: #ffffff;
  opacity: 0.1;
}

.WGNPCurtainTemplate_base__small_35 .WGNPCurtainTemplate_divider_ce,
.WGNPCurtainTemplate_base__extraSmall_7c .WGNPCurtainTemplate_divider_ce {
  width: 306rem;
}

.WGNPCurtainTemplate_warningBox_4c {
  height: 110rem;
  position: relative;
}

.WGNPCurtainTemplate_base__small_35 .WGNPCurtainTemplate_warningBox_4c,
.WGNPCurtainTemplate_base__extraSmall_7c .WGNPCurtainTemplate_warningBox_4c {
  height: 82rem;
}

.WGNPCurtainTemplate_warning_3f {
  margin-top: -4rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.WGNPCurtainTemplate_button_ea {
  width: 232rem;
}

.RenamingViewApp_field_47 {
  display: flex;
  justify-content: center;
  margin-top: 18rem;
}
