@keyframes Icon_fadeIn_55a8ab20 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Icon_6c79e3e6 {
  width: 36rem;
  height: 36rem;
  background: no-repeat center/contain;
}@keyframes Description_fadeIn_49efcb55 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Description_9414e750 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
  line-height: 1.1;
}@keyframes Heading_fadeIn_da06193d {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Heading_f7efc3ba {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 400;
}@keyframes Info_fadeIn_3f9bb731 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Info_bc45ff6f {
  display: flex;
  align-items: center;
}

.Info_image_becb520f {
  width: 44rem;
}

.Info_text_49672a8d {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  flex-shrink: 1;
  color: var(--color-general-tertiary);
  line-height: 1.1;
}@keyframes Tooltip_fadeIn_648bdb8d {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Tooltip_description_94cd0a81 {
  margin-top: 4rem;
}

.Tooltip_divider_e05cf029 {
  margin: 10rem 0;
}@keyframes Box_fadeIn_0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Box_mainArt_ffe0e197 {
  width: 296rem;
  height: 222rem;
  background: no-repeat center/contain;
}

.Box_shield_6c5351b6 {
  transform: translateX(-3rem);
}@keyframes App_fadeIn_0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_76b0d555 {
  width: 340rem;
  padding: 18rem 20rem;
  background-color: #0d0d0c;
}

.App_content_459d87fe {
  width: 100%;
}