html {
  overflow: hidden;
}

body {
  margin: 1rem;
}

.Tabs_base_d9 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Tabs_base__vertical_c0 {
  flex-direction: row;
}

.Tabs_list_0a {
  display: flex;
  position: relative;
}

.Tabs_list__centered_dc {
  justify-content: center;
  align-items: center;
}

.Tabs_wrapper_2d {
  display: flex;
}

.Tabs_wrapper__centered_d8 {
  justify-content: center;
  align-items: center;
}

.Tabs_wrapper__vertical_a5 {
  flex-direction: column;
}

.Counter_base_9e {
  display: flex;
  min-width: 14rem;
  height: 14rem;
  position: relative;
  z-index: 0;
  animation: Counter_show_be ease-in-out forwards;
}

.Counter_base__big_19 {
  min-width: 21rem;
  height: 21rem;
}

.Counter_base__small_3b {
  min-width: 13rem;
  height: 13rem;
}

.Counter_base__empty_98 {
  min-width: 6rem;
  height: 6rem;
}

.Counter_base__animated_40 {
  animation-duration: 0.2s;
}

.Counter_base__hidden_56 {
  animation-name: Counter_hide_b6;
}
.Counter_bg_74 {
  border: 1rem solid #fe4e0f;
  border-radius: 7rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 6rem rgba(254, 103, 0, 0.2),
    0 0 12rem 4rem rgba(249, 0, 0, 0.3);
  background-image: url("R.images.gui.maps.icons.components.counter.pattern");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.Counter_base__big_19 .Counter_bg_74 {
  border-radius: 11rem;
}
.Counter_base__small_3b .Counter_bg_74 {
  border-radius: 7rem;
}
.Counter_value_3e {
  display: flex;
  padding: 0 4rem;
  color: #fefeec;
  font-size: 11rem;
  line-height: 13rem;
  white-space: nowrap;
}
.Counter_base__big_19 .Counter_value_3e {
  padding: 0 7rem;
  font-size: 14rem;
  line-height: 20rem;
}
.Counter_base__small_3b .Counter_value_3e {
  font-size: 9rem;
  line-height: 12rem;
}
.Counter_value__text_d6 {
  padding: 0 7rem;
}
.Counter_base__big_19 .Counter_value__text_d6 {
  padding: 0 10rem;
}
.Counter_base__small_3b .Counter_value__text_d6 {
  padding: 0 5rem;
  font-size: 10rem;
}
.Counter_base__pattern_71 .Counter_value_3e {
  display: none;
}
.Counter_plus_15 {
  position: relative;
  top: -1rem;
}
.Counter_pattern_83 {
  display: none;
}
.Counter_base__pattern_71 .Counter_pattern_83 {
  display: block;
  border-radius: 50%;
  background-image: url("R.images.gui.maps.icons.components.counter.pattern");
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@keyframes Counter_show_be {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes Counter_hide_b6 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.Tab_base_dd {
  display: flex;
  align-items: center;
  height: 32rem;
  padding: 0 32rem 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 229, 0.4);
  font-size: 14rem;
  position: relative;
  z-index: 0;
  transition: color 0.16s ease-in-out;
  cursor: pointer;
}

.Tab_base_dd:hover {
  color: #ffdaab;
}

.Tab_base__first_4a {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.Tab_base__last_96 {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.Tab_base__medium_ec {
  height: 46rem;
  padding-bottom: 2rem;
  font-size: 16rem;
}

.Tab_base__active_5d {
  color: #ffe0b6;
  cursor: default;
  pointer-events: none;
}
.Tab_divider_ca {
  width: 1rem;
  height: 100%;
  background: url("R.images.gui.maps.icons.components.tabs.tab.separator") no-repeat 50% 50%;
  opacity: 0;
  position: absolute;
  top: 0;
  right: -1rem;
  transition: opacity 0.16s ease-in-out;
}
.Tab_divider__show_62 {
  opacity: 1;
}
.Tab_state_6c {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: background-color 0.16s ease-in-out;
  pointer-events: none;
}
.Tab_base_dd:hover .Tab_state_6c,
.Tab_base__active_5d .Tab_state_6c {
  background-color: rgba(255, 85, 0, 0.06);
  opacity: 1;
}
.Tab_base__active_5d .Tab_state_6c {
  border: 1rem solid rgba(255, 85, 0, 0.2);
  opacity: 1;
}
.Tab_stateHighlight_1e {
  width: 337rem;
  height: 168rem;
  background: url("R.images.gui.maps.icons.components.tabs.tab.highlight") 50% 50% no-repeat;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.16s ease-in-out;
}
.Tab_base__active_5d .Tab_stateHighlight_1e {
  opacity: 1;
}
.Tab_stateBorder_64 {
  width: 1rem;
  background: url("R.images.gui.maps.icons.components.tabs.tab.border") 0 50% no-repeat;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: opacity 0.16s ease-in-out;
}
.Tab_base__active_5d .Tab_stateBorder_64 {
  opacity: 1;
}
.Tab_stateBorder__positionLeft_e7 {
  left: -1rem;
}
.Tab_stateBorder__positionRight_db {
  right: -1rem;
}
.Tab_counter_e1 {
  position: absolute;
  top: 0;
  right: 10rem;
  transform: translateY(-50%);
}

.Content_base_b4 {
  width: 100%;
  height: 100%;
}

.Content_tabs_0f {
  margin-top: 20rem;
}
