/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ScrollContent_862845d4 {
  display: flex;
  position: relative;
}

.ScrollContent_alignedWrapper_aeca2e8f {
  display: flex;
  justify-content: center;
}

.ScrollContent_scrollBar_fa01fa0a {
  width: auto;
  position: absolute;
  top: 50%;
  right: 50rem;
  left: 50rem;
  transform: translateY(250rem);
}
.mediaLarge .ScrollContent_scrollBar_fa01fa0a {
  transform: translateY(350rem);
}
.mediaExtraLarge .ScrollContent_scrollBar_fa01fa0a {
  transform: translateY(400rem);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Highlight_e258b804 {
  width: 100%;
  height: 100%;
  background: no-repeat center/contain;
  position: absolute;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Image_f3f63595 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: center/contain no-repeat;
  position: relative;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Overlay_5823bbf {
  background: no-repeat center/100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.Overlay_base__s24x24_4e2b74ec {
  width: 48rem;
  height: 48rem;
}
.Overlay_base__s48x48_3c7155a, .Overlay_base__small_2862b81b {
  width: 96rem;
  height: 96rem;
  background-size: 100%;
  overflow: visible;
}
.Overlay_base__s80x80_3c7155a, .Overlay_base__big_83274ce6 {
  width: 128rem;
  height: 128rem;
}
.Overlay_base__s180x135_508d8721 {
  width: 266rem;
  height: 241rem;
}
.Overlay_base__s232x174_f7e25f10 {
  width: 344rem;
  height: 312rem;
}
.Overlay_base__s296x222_88d0c030 {
  width: 360rem;
  height: 332rem;
}
.Overlay_base__s360x270_ac8e531b {
  width: 550rem;
  height: 512rem;
}
.Overlay_base__s400x300_e1cde049 {
  width: 618rem;
  height: 590rem;
}
.Overlay_base__s600x450_bfd47780 {
  width: 670rem;
  height: 575rem;
}
.Overlay_base__trophy_3c7155a.Overlay_base__s180x135_508d8721 {
  width: 248rem;
  height: 224rem;
}
.Overlay_base__trophy_3c7155a.Overlay_base__s232x174_f7e25f10 {
  width: 232rem;
  height: 174rem;
}
.Overlay_base__trophy_3c7155a.Overlay_base__s296x222_88d0c030 {
  width: 296rem;
  height: 222rem;
}
.Overlay_base__trophy_3c7155a.Overlay_base__s360x270_ac8e531b {
  width: 360rem;
  height: 270rem;
}
.Overlay_base__normalize_428f4b67 {
  width: 100%;
  height: 100%;
}
.Overlay_base__normalize_428f4b67.Overlay_base__small_2862b81b {
  width: 48rem;
  height: 48rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Container_6c2fdff0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Attachment_109d6468 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400rem;
  height: 410rem;
  margin: 0;
  position: relative;
}
.mediaLarge .Attachment_109d6468 {
  width: 580rem;
  height: 520rem;
}

.Attachment_attachmentHighlight_d7fbdbe6 {
  z-index: 0;
}

.Attachment_attachmentOverlay_aab126a3 {
  z-index: 2;
}

.Attachment_video_c86f988c {
  width: 711rem;
  height: 400rem;
  mix-blend-mode: screen;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.mediaLarge .Attachment_video_c86f988c {
  width: 1067rem;
  height: 650rem;
}

.Attachment_name_4d1f2df8 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 30rem;
  font-weight: 500;
  line-height: 1.15;
}
.mediaLarge .Attachment_name_4d1f2df8 {
  margin-top: 30rem;
  font-size: 40rem;
  line-height: 1.1;
}

.Attachment_description_4b8654e5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 22rem;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.6;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Header_9981b078 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Header_title_48684f06 {
  width: 80%;
  height: 51rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 46rem;
  font-weight: 600;
  line-height: 1.1;
}
.mediaMedium .Header_title_48684f06 {
  height: 64rem;
  font-size: 64rem;
  line-height: 1;
}

.Header_description_20baac9 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 90%;
  margin-top: 10rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  line-height: 1.2;
  text-align: center;
}
.mediaMedium .Header_description_20baac9 {
  margin-top: 20rem;
  font-size: 28rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_7b0d0f3d {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: no-repeat center/cover;
  position: relative;
}

.App_close_f5179698 {
  position: absolute;
  top: 30rem;
  right: 30rem;
}

.App_header_8f98007e {
  margin-top: 65rem;
}
.mediaLarge .App_header_8f98007e {
  margin-top: 75rem;
}
.mediaExtraLarge .App_header_8f98007e {
  margin-top: 115rem;
}

.App_content_9d82d0a5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 390rem;
  margin: 20rem 35rem 40rem;
}
.mediaLarge .App_content_9d82d0a5 {
  height: 600rem;
  margin: 20rem 50rem 40rem;
}
.mediaExtraLarge .App_content_9d82d0a5 {
  height: 680rem;
  margin: 30rem 50rem 50rem;
}

.App_footer_9f29f1a9 {
  margin-bottom: 50rem;
}
.mediaMedium .App_footer_9f29f1a9 {
  margin-bottom: 70rem;
}
.mediaExtraLarge .App_footer_9f29f1a9 {
  margin-bottom: 150rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#root,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}