.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.Box_mt__XS_0c {
            margin-top: 4rem;
        }
        .Box_mt__SM_eb {
            margin-top: 8rem;
        }
        .Box_mt__SMp_cf {
            margin-top: 10rem;
        }
        .Box_mt__MD_25 {
            margin-top: 16rem;
        }
        .Box_mt__MDp_49 {
            margin-top: 20rem;
        }
        .Box_mt__LG_e8 {
            margin-top: 32rem;
        }
        .Box_mt__XL_83 {
            margin-top: 64rem;
        }

.Box_mr__XS_7c {
            margin-right: 4rem;
        }

.Box_mr__SM_08 {
            margin-right: 8rem;
        }

.Box_mr__SMp_06 {
            margin-right: 10rem;
        }

.Box_mr__MD_4a {
            margin-right: 16rem;
        }

.Box_mr__MDp_b6 {
            margin-right: 20rem;
        }

.Box_mr__LG_d0 {
            margin-right: 32rem;
        }

.Box_mr__XL_db {
            margin-right: 64rem;
        }

.Box_mb__XS_bb {
            margin-bottom: 4rem;
        }

.Box_mb__SM_83 {
            margin-bottom: 8rem;
        }

.Box_mb__SMp_04 {
            margin-bottom: 10rem;
        }

.Box_mb__MD_ed {
            margin-bottom: 16rem;
        }

.Box_mb__MDp_65 {
            margin-bottom: 20rem;
        }

.Box_mb__LG_c8 {
            margin-bottom: 32rem;
        }

.Box_mb__XL_f8 {
            margin-bottom: 64rem;
        }

.Box_ml__XS_8a {
            margin-left: 4rem;
        }

.Box_ml__SM_e6 {
            margin-left: 8rem;
        }

.Box_ml__SMp_fb {
            margin-left: 10rem;
        }

.Box_ml__MD_2b {
            margin-left: 16rem;
        }

.Box_ml__MDp_c7 {
            margin-left: 20rem;
        }

.Box_ml__LG_39 {
            margin-left: 32rem;
        }

.Box_ml__XL_4a {
            margin-left: 64rem;
        }

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
        font-size: 10rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_paragraph-P12_22 {
        font-size: 12rem;
        font-weight: 400;
        line-height: 1.3;
}
.Text_paragraph-P14_a7 {
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.3;
}
.Text_paragraph-P16_90 {
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
}
.Text_paragraph-P18_50 {
        font-size: 18rem;
        font-weight: 400;
        line-height: 1.25;
}
.Text_paragraph-P24_33 {
        font-size: 24rem;
        font-weight: 400;
        line-height: 32rem;
}
.Text_heading-H14_8b {
        font-size: 14rem;
        font-weight: 700;
        line-height: 1.15;
}
.Text_heading-H15_9e {
        font-size: 15rem;
        font-weight: 700;
        line-height: 1.15;
}
.Text_heading-H18_b7 {
        font-size: 18rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H20R_f6 {
        font-size: 20rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_heading-H22_27 {
        font-size: 22rem;
        font-weight: 700;
        line-height: 1.2;
}
.Text_heading-H24R_be {
        font-size: 24rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_heading-H24_0c {
        font-size: 24rem;
        font-weight: 700;
        line-height: 1.2;
}
.Text_heading-H28_78 {
        font-size: 28rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H36_32 {
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H56_c3 {
        font-size: 56rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H73_8f {
        font-size: 73rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H144_a9 {
        font-size: 144rem;
        font-weight: 700;
        line-height: 1;
}
.Text_BLACK_REAL_30 {
        color: #000000;
    }
.Text_WHITE_REAL_bc {
        color: #FFFFFF;
    }
.Text_WHITE_62 {
        color: #F2F2F7;
    }
.Text_WHITE_ORANGE_54 {
        color: #FEFEEC;
    }
.Text_WHITE_SPANISH_df {
        color: #E9E2BF;
    }
.Text_PAR_15 {
        color: #8C8C7E;
    }
.Text_PAR_SECONDARY_5d {
        color: #595950;
    }
.Text_PAR_TERTIARY_c9 {
        color: #37362E;
    }
.Text_INFO_RED_30 {
        color: #FF0000;
    }
.Text_RED_66 {
        color: #FF2717;
    }
.Text_RED_DARK_d8 {
        color: #B70000;
    }
.Text_YELLOW_ed {
        color: #FEAB34;
    }
.Text_ORANGE_be {
        color: #EE7000;
    }
.Text_CREAM_57 {
        color: #FFDD99;
    }
.Text_BROWN_18 {
        color: #CBAC77;
    }
.Text_GREEN_BRIGHT_3f {
        color: #80D43A;
    }
.Text_GREEN_e3 {
        color: #7AB300;
    }
.Text_GREEN_DARK_f1 {
        color: #497212;
    }
.Text_BLUE_BOOSTER_21 {
        color: #CCFFFF;
    }
.Text_BLUE_TEAMKILLER_ab {
        color: #09E2FF;
    }
.Text_CRED_f7 {
        color: #CED9D9;
    }
.Text_GOLD_28 {
        color: #FFC363;
    }
.Text_BOND_be {
        color: #C9C9B6;
    }
.Text_PROM_65 {
        color: #A29B70;
    }

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_16 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_ca {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362E;
}

.FormatTextWithColorTags_red_60 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_c5 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_4e {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_90 {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_71 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_dd {
    color: #A29B70;
}

.App_base_84 {
    display: flex;
    flex-direction: column;
    width: 340rem;
}

.App_header_99 {
    width: 100%;
    padding: 17rem 28rem 7rem;
}

.App_topHeader_d7 {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10rem;
}

.App_description_da {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 8rem;
}

.App_secondHeader_cb {
    color: #E9E2BF;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}

.App_availableEquipment_3a {
    width: 100%;
    padding: 12rem 28rem;
    background: linear-gradient(90deg, transparent 0%, rgba(201, 201, 182, 0.08) 38.22%, rgba(201, 201, 182, 0.08) 64.56%, transparent 100%);
}

.App_availableEquipmentInner_cc {
    padding: 10rem;
}

.App_divider_8b {
    display: flex;
    align-self: center;
    width: 304rem;
    height: 9rem;
    margin-bottom: -4rem;
    background: url('R.images.gui.maps.icons.paragons.tooltips.resetBranchTooltip.divider') no-repeat center / contain;
}

.VehicleName_base_04 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    position: relative;
}

.VehicleName_nation_82 {
    width: 26rem;
    height: 16rem;
    margin-right: 10rem;
    background: no-repeat center / contain;
}

.mediaSmall .VehicleName_nation_82 {
        position: relative;
        top: 2rem;
}

.VehicleName_class_9c {
    width: 34rem;
    height: 34rem;
    margin: 0 -4rem;
    background: no-repeat center / contain;
}

.mediaSmall .VehicleName_class_9c {
        width: 83rem;
        height: 74rem;
        margin: 0 -12rem;
        position: relative;
        top: 3rem;
}

