.DisabledBlock_base_f4a90 {
  padding-top: 14rem;
}

.DisabledBlock_warningTitle_fc3a0 {
  color: #ee7000;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  display: flex;
  align-items: center;
}

.DisabledBlock_warningIcon_cb907 {
  width: 16rem;
  height: 16rem;
  margin-right: 5rem;
  background: url("R.images.gui.maps.icons.library.alertIcon") no-repeat 50% / contain;
}
