/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.InfoBlock_6397a401 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280rem;
}
.mediaMedium .InfoBlock_6397a401 {
  width: 336rem;
}
.mediaExtraLarge .InfoBlock_6397a401 {
  width: 410rem;
}

.InfoBlock_image_1d210903 {
  margin-bottom: 4rem;
}
.mediaExtraLarge .InfoBlock_image_1d210903 {
  margin-bottom: 10rem;
}

.InfoBlock_title_f9733081 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 8rem;
  color: var(--color-general-primary);
}
.mediaExtraLarge .InfoBlock_title_f9733081 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 10rem;
}

.InfoBlock_description_d01681a2 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  justify-content: center;
  color: rgba(var(--color-general-primary-rgb), 0.5);
}
.mediaLarge .InfoBlock_description_d01681a2 {
  font-size: 18rem;
}
.mediaExtraLarge .InfoBlock_description_d01681a2 {
  font-size: 20rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes App_rotate_0 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInUp_0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.App_a630decb {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}
.App_base__hidden_1de0b422 {
  opacity: 0;
  pointer-events: none;
}

.App_background_c144dcf {
  width: 100%;
  height: 100%;
  background: url(R.images.gui.maps.icons.winback.umgIntro.background) no-repeat center/cover;
  position: absolute;
  z-index: -1;
}

.App_bgFoggingAndBlurring_46add9c6 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(7rem);
}

.App_container_4d03d2df {
  opacity: 0;
  animation-name: App_fadeIn_0;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.App_closeButton_f5179698 {
  position: absolute;
  top: 30rem;
  right: 30rem;
}

.App_title_90cd7d2b {
  color: #f2f2f7;
  font-size: 40rem;
  font-weight: 700;
  line-height: 1.1;
  position: absolute;
  top: 57rem;
}
.mediaMedium .App_title_90cd7d2b {
  color: #f2f2f7;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.mediaLarge .App_title_90cd7d2b {
  top: 77rem;
}
.mediaExtraLarge .App_title_90cd7d2b {
  font-size: 80rem;
  top: 94rem;
}

.App_content_1d3433ea {
  display: flex;
  transform: translateY(-20rem);
}
.mediaMedium .App_content_1d3433ea {
  transform: translateY(-26rem);
}
.mediaExtraLarge .App_content_1d3433ea {
  transform: translateY(-36rem);
}

.App_spacer_1025ce59 {
  width: 44rem;
}
.mediaMedium .App_spacer_1025ce59 {
  width: 80rem;
}
.mediaLarge .App_spacer_1025ce59 {
  width: 84rem;
}
.mediaExtraLarge .App_spacer_1025ce59 {
  width: 116rem;
}

.App_confirmButton_d8666e75 {
  min-width: 180rem;
  position: absolute;
  bottom: 60rem;
}
.mediaMedium .App_confirmButton_d8666e75 {
  bottom: 90rem;
}
.mediaLarge .App_confirmButton_d8666e75 {
  min-width: 160rem;
  bottom: 80rem;
}
.mediaExtraLarge .App_confirmButton_d8666e75 {
  bottom: 120rem;
}
