/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#MinorTooltipApp_root_43ccc26d,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.MinorTooltipApp_5b82eb9 {
  display: flex;
  flex-direction: column;
  width: 468rem;
  padding: 20rem 20rem 16rem;
  box-shadow: inset 0 0 10px rgba(59, 59, 46, 0.86);
}

.MinorTooltipApp_title_f04b2f36 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
  margin: -8rem 0 -1rem;
  color: var(--color-general-primary);
  font-weight: 500;
}

.MinorTooltipApp_list_ae5b4d0d {
  display: flex;
  flex-direction: column;
}

.MinorTooltipApp_listItem_1ead5cf4 {
  display: flex;
  flex-direction: row;
  margin-top: 18rem;
}

.MinorTooltipApp_icon_b368bf7a {
  width: 48rem;
  height: 48rem;
  margin: -2rem 0 0 -4rem;
  background: no-repeat 50%/contain;
}

.MinorTooltipApp_content_be274dc5 {
  display: flex;
  flex-direction: column;
  margin: 0 40rem 0 9rem;
}

.MinorTooltipApp_heading_853cca73 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 3rem;
  color: var(--color-general-primary);
  font-weight: 400;
}

.MinorTooltipApp_text_1274dab7 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
  line-height: 1.1;
}