.PopoverDecorator_base_ed {
  display: flex;
  position: absolute;
}

.PopoverDecorator_decorator_d3 {
  padding: 58rem;
  border-image-source: url("R.images.gui.maps.icons.popovers.popover_bg");
  border-image-slice: 90 fill;
  border-image-width: 90rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.PopoverDecorator_arrow_8a {
  background: no-repeat 0 0 / contain;
  position: absolute;
}

.PopoverDecorator_arrow__bottom_c3,
.PopoverDecorator_arrow__top_6e {
  width: 301rem;
  height: 90rem;
  margin: 0 58rem;
  background-image: url("R.images.gui.maps.icons.popovers.popover_arrow_top");
  left: 50%;
}

.PopoverDecorator_arrow__left_7a,
.PopoverDecorator_arrow__right_b6 {
  width: 84rem;
  height: 181rem;
  margin: 58rem 0;
  background-image: url("R.images.gui.maps.icons.popovers.popover_arrow_left");
  top: 50%;
}

.PopoverDecorator_arrow__left_7a {
  right: 10rem;
  transform: scaleX(-1) translateY(-90rem);
}

.PopoverDecorator_arrow__right_b6 {
  left: 10rem;
  transform: translateY(-90rem);
}

.PopoverDecorator_arrow__top_6e {
  bottom: 8rem;
  transform: scaleY(-1) translateX(-150rem);
}

.PopoverDecorator_arrow__bottom_c3 {
  top: 8rem;
  transform: translateX(-150rem);
}

.PopoverDecorator_closeBtn_32 {
  width: 18rem;
  height: 18rem;
  background: url("R.images.gui.maps.icons.popovers.close_button_slim_up") no-repeat 0 0 / contain;
  position: absolute;
  top: 6rem;
  right: 6rem;
  z-index: 3;
  cursor: pointer;
}

.PopoverDecorator_closeBtn_32:hover {
  filter: brightness(160%);
}

.PopoverDecorator_closeBtn_32:active {
  background-image: url("R.images.gui.maps.icons.popovers.close_button_slim_press");
  filter: brightness(100%);
}

.PopoverDecorator_content_f0 {
  position: relative;
  z-index: 2;
}

.CButton_base_40 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
  background-size: 100% 100%;
}

.CButton_base__main_42 {
  background-image: url("R.images.gui.maps.icons.components.button.back_main");
}

.CButton_base__primary_7f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary");
}

.CButton_base__primaryGreen_6f {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_green");
}

.CButton_base__primaryRed_ec {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_red");
}

.CButton_base__secondary_50 {
  background-image: url("R.images.gui.maps.icons.components.button.back_secondary");
}

.CButton_base__ghost_ed {
  border-radius: 3rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
  background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
  min-height: 17rem;
  padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
  padding: 0 20rem;
}

.CButton_base__small_df {
  min-height: 18rem;
}

.CButton_base__medium_74 {
  min-height: 32rem;
}

.CButton_base__disabled_d9 {
  cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_main");
}
.CButton_base__primary_7f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary");
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_green");
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_red");
}
.CButton_base__secondary_50 .CButton_back_e5 {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_secondary");
}
.CButton_texture_fe {
  background: url("R.images.gui.maps.icons.components.button.standard_texture_file");
  background-size: 155rem 31rem;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_state_11 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
  border-radius: 2rem;
  box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
  transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
  background-image: linear-gradient(
    180deg,
    rgba(252, 248, 235, 0.25) 0%,
    rgba(252, 248, 235, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
  opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
  opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
  box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
  background-color: rgba(8, 6, 0, 0.18);
  background-image: none;
}
.CButton_stateHighlightActive_35 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
  opacity: 1;
}
.CButton_stateDisabled_54 {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("R.images.gui.maps.icons.components.button.texture_disable");
  background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
  opacity: 1;
}
.CButton_content_cc {
  display: flex;
  align-items: center;
  color: #f2f2e6;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 -1rem 1rem #000;
  letter-spacing: 0.03em;
  transform: translateY(-1rem);
}
.CButton_content_cc[lang="ja"],
.CButton_content_cc[lang="ko"],
.CButton_content_cc[lang="zh_tw"],
.CButton_content_cc[lang="zh_sg"],
.CButton_content_cc[lang="zh_cn"],
.CButton_content_cc[lang="th"] {
  font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
  color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
  text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
  font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
  font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
  font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
  opacity: 0.6;
}

.Checkbox_base_36 {
  display: flex;
  align-items: flex-start;
  position: relative;
  cursor: pointer;
}

.Checkbox_base__disabled_08 {
  pointer-events: none;
}

.Checkbox_base__center_52 {
  align-items: center;
}

.Checkbox_base__bottom_28 {
  align-items: flex-end;
}

.Checkbox_input_37 {
  border: 1rem solid rgba(190, 190, 190, 0.45);
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.6;
  position: relative;
  transition: background-color 0.1s linear;
}

.Checkbox_base__mouseDown_45 .Checkbox_input_37 {
  background-color: rgba(0, 0, 0, 0.4);
}

.Checkbox_base__small_18 .Checkbox_input_37 {
  width: 12rem;
  height: 12rem;
}

.Checkbox_base__medium_12 .Checkbox_input_37 {
  width: 18rem;
  height: 18rem;
}

.Checkbox_base__large_f7 .Checkbox_input_37 {
  width: 24rem;
  height: 24rem;
}

.Checkbox_base__extraLarge_c9 .Checkbox_input_37 {
  width: 32rem;
  height: 32rem;
}

.Checkbox_alertOverlay_52 {
  position: absolute;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  border: 1rem solid #feab34;
  border-radius: 2rem;
  box-shadow: inset 0 0 9rem rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
}

.Checkbox_base__alert_b7 .Checkbox_alertOverlay_52 {
  animation: Checkbox_blink_5e 2s ease-in-out infinite;
}

.Checkbox_base__alert_b7.Checkbox_base__checked_a2 .Checkbox_alertOverlay_52,
.Checkbox_base__alert_b7.Checkbox_base__disabled_08 .Checkbox_alertOverlay_52 {
  opacity: 0;
  animation: initial;
}

.Checkbox_inputHoverOverlay_36 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #201f1c, #494741);
  opacity: 0;
  transition: opacity 0.1s linear;
  pointer-events: none;
}

.Checkbox_base_36:hover .Checkbox_inputHoverOverlay_36 {
  opacity: 0.8;
}

.Checkbox_base_36.Checkbox_base__mouseDown_45:hover .Checkbox_inputHoverOverlay_36 {
  opacity: 0;
}

.Checkbox_highlight_b8 {
  background: no-repeat 50% / contain;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.1s linear;
  pointer-events: none;
}

.Checkbox_base__checked_a2 .Checkbox_highlight_b8 {
  opacity: 1;
}

.Checkbox_base__checked_a2.Checkbox_base__disabled_08 .Checkbox_highlight_b8 {
  opacity: 0;
}

.Checkbox_base__small_18 .Checkbox_highlight_b8 {
  width: 34rem;
  height: 34rem;
}

.Checkbox_base__medium_12 .Checkbox_highlight_b8 {
  width: 40rem;
  height: 40rem;
}

.Checkbox_base__large_f7 .Checkbox_highlight_b8 {
  width: 46rem;
  height: 46rem;
}

.Checkbox_base__extraLarge_c9 .Checkbox_highlight_b8 {
  width: 54rem;
  height: 54rem;
}

.Checkbox_base__main_3a.Checkbox_base__small_18 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_s");
}

.Checkbox_base__main_3a.Checkbox_base__medium_12 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_m");
}

.Checkbox_base__main_3a.Checkbox_base__large_f7 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_l");
}

.Checkbox_base__main_3a.Checkbox_base__extraLarge_c9 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_xl");
}

.Checkbox_base__primary_ab.Checkbox_base__small_18 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_s_green");
}

.Checkbox_base__primary_ab.Checkbox_base__medium_12 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_m_green");
}

.Checkbox_base__primary_ab.Checkbox_base__large_f7 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_l_green");
}

.Checkbox_base__primary_ab.Checkbox_base__extraLarge_c9 .Checkbox_highlight_b8 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.checkbox_xl_green");
}

.Checkbox_checkmark_60 {
  background: center / contain no-repeat;
  opacity: 0;
  position: absolute;
  left: 0;
}

.Checkbox_base__checked_a2 .Checkbox_checkmark_60 {
  /* Using a transition causes the image to blink on appear */
  animation: Checkbox_fadeIn_1a 0.1s linear 0 normal forwards;
}

.Checkbox_base__checked_a2.Checkbox_base__disabled_08 .Checkbox_checkmark_60 {
  opacity: 0.5;
}

.Checkbox_base__small_18 .Checkbox_checkmark_60 {
  width: 11rem;
  height: 11rem;
}

.Checkbox_base__medium_12 .Checkbox_checkmark_60 {
  width: 19rem;
  height: 20rem;
  transform: translate(1rem, -4rem);
}

.Checkbox_base__large_f7 .Checkbox_checkmark_60 {
  width: 23rem;
  height: 24rem;
  transform: translate(3rem, -3rem);
}

.Checkbox_base__extraLarge_c9 .Checkbox_checkmark_60 {
  width: 36rem;
  height: 36rem;
  transform: translate(2rem, -8rem);
}

.Checkbox_base__main_3a.Checkbox_base__small_18 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_s");
}

.Checkbox_base__main_3a.Checkbox_base__medium_12 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_m");
}

.Checkbox_base__main_3a.Checkbox_base__large_f7 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_l");
}

.Checkbox_base__main_3a.Checkbox_base__extraLarge_c9 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_xl");
}

.Checkbox_base__primary_ab.Checkbox_base__small_18 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_s_green");
}

.Checkbox_base__primary_ab.Checkbox_base__medium_12 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_m_green");
}

.Checkbox_base__primary_ab.Checkbox_base__large_f7 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_l_green");
}

.Checkbox_base__primary_ab.Checkbox_base__extraLarge_c9 .Checkbox_checkmark_60 {
  background-image: url("R.images.gui.maps.icons.components.checkbox.icon_checked_xl_green");
}

.Checkbox_label_bc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
  padding-left: 10rem;
  position: relative;
}

.Checkbox_labelContent_64 {
  color: #8c8c7e;
  font-size: 14rem;
  line-height: 1.15;
  transition: color 0.1s linear;
}

.Checkbox_base__extraLarge_c9 .Checkbox_labelContent_64 {
  font-size: 16rem;
}

.Checkbox_base_36:hover .Checkbox_labelContent_64 {
  color: #c8c8b6;
}

.Checkbox_base__disabled_08 .Checkbox_labelContent_64,
.Checkbox_base__disabled_08:hover .Checkbox_labelContent_64 {
  color: #37362e;
}

@keyframes Checkbox_fadeIn_1a {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Checkbox_blink_5e {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Counter_base_9e {
  display: flex;
  min-width: 14rem;
  height: 14rem;
  position: relative;
  z-index: 0;
  animation: Counter_show_be ease-in-out forwards;
}

.Counter_base__big_19 {
  min-width: 21rem;
  height: 21rem;
}

.Counter_base__small_3b {
  min-width: 13rem;
  height: 13rem;
}

.Counter_base__empty_98 {
  min-width: 6rem;
  height: 6rem;
}

.Counter_base__animated_40 {
  animation-duration: 0.2s;
}

.Counter_base__hidden_56 {
  animation-name: Counter_hide_b6;
}
.Counter_bg_74 {
  border: 1rem solid #fe4e0f;
  border-radius: 7rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 6rem rgba(254, 103, 0, 0.2),
    0 0 12rem 4rem rgba(249, 0, 0, 0.3);
  background-image: url("R.images.gui.maps.icons.components.counter.pattern");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.Counter_base__big_19 .Counter_bg_74 {
  border-radius: 11rem;
}
.Counter_base__small_3b .Counter_bg_74 {
  border-radius: 7rem;
}
.Counter_value_3e {
  display: flex;
  padding: 0 4rem;
  color: #fefeec;
  font-size: 11rem;
  line-height: 13rem;
  white-space: nowrap;
}
.Counter_base__big_19 .Counter_value_3e {
  padding: 0 7rem;
  font-size: 14rem;
  line-height: 20rem;
}
.Counter_base__small_3b .Counter_value_3e {
  font-size: 9rem;
  line-height: 12rem;
}
.Counter_value__text_d6 {
  padding: 0 7rem;
}
.Counter_base__big_19 .Counter_value__text_d6 {
  padding: 0 10rem;
}
.Counter_base__small_3b .Counter_value__text_d6 {
  padding: 0 5rem;
  font-size: 10rem;
}
.Counter_base__pattern_71 .Counter_value_3e {
  display: none;
}
.Counter_plus_15 {
  position: relative;
  top: -1rem;
}
.Counter_pattern_83 {
  display: none;
}
.Counter_base__pattern_71 .Counter_pattern_83 {
  display: block;
  border-radius: 50%;
  background-image: url("R.images.gui.maps.icons.components.counter.pattern");
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@keyframes Counter_show_be {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes Counter_hide_b6 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

.TextButton_base_b6 {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 12rem;
  position: relative;
  cursor: pointer;
}

.TextButton_base__right_39 {
  flex-direction: row-reverse;
}
.TextButton_icon_17 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.back");
  transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
  transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
  margin: -1rem 0;
  background-image: url("R.images.gui.maps.icons.components.text_button.close");
}
.TextButton_icon__info_33 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.info");
}
.TextButton_glow_a4 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.back_hover");
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.close_hover");
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
  background-image: url("R.images.gui.maps.icons.components.text_button.info_hover");
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
  opacity: 0;
}
.TextButton_caption_82 {
  position: relative;
  transition:
    color 0.16s,
    text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
  color: #ffdd99;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
  color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
  color: #ffdd99;
}
.TextButton_caption__info_23 {
  padding: 0 5rem;
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
  color: #e3ffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 12rem rgba(0, 234, 255, 1),
    0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.6),
    0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
  color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
  margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
  margin-right: 8rem;
}
.TextButton_shine_e2 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transition: opacity 0.16s;
  pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
  left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
  right: -4rem;
  transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
  opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
  opacity: 0;
}

.TextOverflow_base_3b {
  flex: 0 1 auto;
  width: auto;
  line-height: 1.3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.DropDownControl_base_c3 {
  display: flex;
  height: 100%;
  border: 1rem solid #464538;
  border-radius: 2rem;
  box-shadow:
    inset 0 0 1rem #000,
    inset 0 0 8rem #000;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

.DropDownControl_base__small_28 {
  height: 24rem;
}

.DropDownControl_base__medium_d0 {
  height: 32rem;
}

.DropDownControl_base__over_cc {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.DropDownControl_base__down_b3,
.DropDownControl_base__open_ed {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.DropDownControl_base__focused_d1 {
  border-color: #75552c;
}

.DropDownControl_base__selected_0f {
  border-color: #7ab300;
}

.DropDownControl_base__disabled_80 {
  cursor: default;
}
.DropDownControl_label_3a {
  display: flex;
  align-items: flex-end;
  flex: 1;
  padding: 0 8rem;
  color: #8c8c7e;
}
.DropDownControl_label__small_08 {
  padding-bottom: 2rem;
  font-size: 14rem;
}
.DropDownControl_label__medium_61 {
  padding-bottom: 5rem;
  font-size: 16rem;
}
.DropDownControl_label__placeholder_c0 {
  color: #595950;
}
.DropDownControl_base__down_b3 .DropDownControl_label_3a,
.DropDownControl_base__open_ed .DropDownControl_label_3a {
  opacity: 0.8;
}
.DropDownControl_base__disabled_80 .DropDownControl_label_3a {
  color: #37362e;
}
.DropDownControl_button_12 {
  display: flex;
  background: url("R.images.gui.maps.icons.components.dropdown.button") no-repeat center / 100%;
  position: relative;
  top: 1rem;
  right: 1rem;
  pointer-events: none;
}
.DropDownControl_button__small_13 {
  width: 22rem;
  height: 20rem;
}
.DropDownControl_button__medium_ba {
  width: 28rem;
  height: 28rem;
}
.DropDownControl_base__down_b3 .DropDownControl_button_12 {
  opacity: 0.6;
}
.DropDownControl_base__open_ed .DropDownControl_button_12 {
  opacity: 0.8;
}
.DropDownControl_base__disabled_80 .DropDownControl_button_12 {
  opacity: 0.8;
}
.DropDownControl_gradient_ea {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
}
.DropDownControl_disabled_a5 {
  width: 100%;
  height: 100%;
  background: url("R.images.gui.maps.icons.library.disabled_pattern") center / 9rem;
  opacity: 0.8;
  position: absolute;
}
.DropDownControl_arrow_a2 {
  background: no-repeat center / contain;
  position: absolute;
}
.DropDownControl_arrow__small_ed {
  width: 9rem;
  height: 6rem;
  background-image: url("R.images.gui.maps.icons.components.dropdown.arrow_small");
  top: 7rem;
  left: 7rem;
}
.DropDownControl_arrow__medium_9e {
  width: 13rem;
  height: 7rem;
  background-image: url("R.images.gui.maps.icons.components.dropdown.arrow_medium");
  top: 11rem;
  left: 8rem;
}
.DropDownControl_base__open_ed .DropDownControl_arrow_a2 {
  transform: rotate(180deg);
}
.DropDownControl_alert_d7 {
  border: 1rem solid #ee7000;
  border-radius: 2rem;
  box-shadow: inset 0 0 6rem rgba(141, 13, 3, 0.1);
  position: absolute;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  z-index: 1;
  animation: DropDownControl_blink_1e 2s ease-in-out infinite;
  pointer-events: none;
}
@keyframes DropDownControl_blink_1e {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ScrollArea_base_47 {
  width: 100%;
  min-width: 1rem;
  min-height: 1rem;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.ScrollArea_base__scrollIndent_1d.ps--active-y {
  padding-right: 13rem;
}

.ScrollArea_base__scrollIndent_1d.ps--active-х {
  padding-bottom: 13rem;
}

.ScrollArea_base__verticalScrollbarMargin_50 .ps__rail-y {
  margin: 20rem 0;
  right: 5rem;
}

.ScrollArea_base__multiple_44 .ps__rail-y {
  margin-bottom: 30rem;
}

.ScrollArea_base__hidden_ec {
  visibility: hidden;
}
.ps--scrolling-dragging {
  cursor: move;
}
.ps__rail-x,
.ps__thumb-x {
  height: 13rem;
  position: absolute;
}
.ps__rail-y,
.ps__thumb-y {
  width: 13rem;
  position: absolute;
}
.ps__thumb-x,
.ps__button-start-x,
.ps__button-end-x,
.ps__thumb-y,
.ps__button-start-y,
.ps__button-end-y {
  border: 1rem solid #7e7b68;
  box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
  opacity: 0.7;
}
.ps__thumb-x:hover,
.ps__button-start-x:hover,
.ps__button-end-x:hover,
.ps__thumb-y:hover,
.ps__button-start-y:hover,
.ps__button-end-y:hover {
  opacity: 1;
}
.ps__thumb-x,
.ps__button-start-x,
.ps__button-end-x {
  bottom: -6rem;
}
.ps__thumb-y,
.ps__button-start-y,
.ps__button-end-y {
  right: -6rem;
}
.ps__rail-x {
  display: none;
  margin-left: 15rem;
  border-top: 6rem solid transparent;
  border-bottom: 6rem solid transparent;
  bottom: 0;
  cursor: pointer;
}
.ps__rail-y {
  display: none;
  margin-top: 15rem;
  border-left: 6rem solid transparent;
  border-right: 6rem solid transparent;
  right: 0;
  cursor: pointer;
}
.ps__track_x,
.ps__track_y {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.background");
  background-size: 1rem;
  position: relative;
}
.ps__track_x:hover,
.ps__track_y:hover {
  opacity: 0.7;
}
.ps__track_x {
  width: 100%;
  height: 1rem;
  background-repeat: repeat-x;
  background-position: 50% 0;
}
.ps__track_y {
  width: 1rem;
  height: 100%;
  background-repeat: repeat-y;
  background-position: 0 50%;
}
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
}
.ps__thumb-x,
.ps__thumb-y {
  background: #26241b 50% 50% no-repeat;
  transition: opacity linear 0.13s;
}
.ps__thumb-x:active,
.ps__thumb-y:active {
  opacity: 0.7;
}
.ps__thumb-x {
  min-width: 10rem;
  background-image: url("R.images.gui.maps.icons.components.scroll_area.thumb_horizontal");
  background-size: 8rem 7rem;
}
.ps__thumb-y {
  min-height: 10rem;
  background-image: url("R.images.gui.maps.icons.components.scroll_area.thumb");
  background-size: 7rem 8rem;
}
.ps__button-start-x,
.ps__button-end-x,
.ps__button-start-y,
.ps__button-end-y {
  width: 13rem;
  height: 13rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 7rem 5rem;
  position: absolute;
}
.ps__button-start-x.disabled,
.ps__button-end-x.disabled,
.ps__button-start-y.disabled,
.ps__button-end-y.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.ps__button-start-x,
.ps__button-start-y {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_top");
}
.ps__button-end-x,
.ps__button-end-y {
  background-image: url("R.images.gui.maps.icons.components.scroll_area.arrow_down");
}
.ps__button-start-x,
.ps__button-end-x {
  transform: rotate(-90deg);
}
.ps__button-start-x {
  left: -14rem;
}
.ps__button-end-x {
  right: -14rem;
}
.ps__button-start-y {
  top: -14rem;
}
.ps__button-end-y {
  bottom: -14rem;
}

.DropDownItem_base_aa {
  padding-left: 8rem;
  padding-right: 8rem;
  color: #8c8c7e;
  cursor: pointer;
}

.DropDownItem_base_aa:hover {
  background-color: #1c1b12;
}

.DropDownItem_base__small_4c {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.DropDownItem_base__medium_1f {
  padding-top: 6rem;
  padding-bottom: 8rem;
}

.DropDownItem_base__selected_80 {
  color: #cbac77;
}

.DropDownItem_base__disabled_75 {
  color: #37362e;
  pointer-events: none;
}

.DropDownItems_base__withScroll_63 {
  padding-right: 15rem;
}

.DropDownList_base_fd {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 198rem;
  position: relative;
}

.DropDownList_base__small_3b {
  font-size: 14rem;
  line-height: 16rem;
}

.DropDownList_base__medium_3b {
  font-size: 16rem;
  line-height: 18rem;
}
.DropDownList_scrollMix_67 .ps__rail-y {
  right: 1rem;
}

.PureDropDown_base_d0 {
  display: flex;
  flex-direction: column;
  width: 200rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  background-color: rgba(23, 23, 15, 0.8);
  position: relative;
}

.PureDropDown_base__small_72 {
  height: 24rem;
}

.PureDropDown_base__medium_e8 {
  height: 32rem;
}
.PureDropDown_control__down_d5 {
  z-index: 3;
}
.PureDropDown_list_64 {
  display: flex;
  width: 100%;
  border: 1rem solid #464538;
  border-radius: 2rem;
  background-color: #090906;
  position: absolute;
  left: 0;
  transition: opacity 0.25s;
}
.PureDropDown_list__up_54 {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.PureDropDown_list__down_83 {
  opacity: 1;
  z-index: 2;
}
.PureDropDown_list__under_d6 {
  margin-top: -1rem;
  top: 100%;
}
.PureDropDown_list__above_87 {
  top: 1rem;
  transform: translateY(-100%);
}

.RadioButton_base_d9 {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.RadioButton_base__disabled_84 {
  opacity: 0.5;
  cursor: default;
}

.RadioButton_input_24 {
  display: flex;
  position: relative;
}

.RadioButton_base__small_71 .RadioButton_input_24 {
  width: 12rem;
  height: 12rem;
  margin-right: 6rem;
}

.RadioButton_base__medium_d8 .RadioButton_input_24 {
  width: 18rem;
  height: 18rem;
  margin-right: 8rem;
}

.RadioButton_blank_b5,
.RadioButton_blankHover_5e,
.RadioButton_blankMousedown_0e,
.RadioButton_check_f2,
.RadioButton_checkHover_c6,
.RadioButton_checkMousedown_a7 {
  opacity: 0;
  pointer-events: none;
}

.RadioButton_transition_b3 {
  transition: opacity 0.1s ease-out;
}

.RadioButton_blank_b5 {
  position: absolute;
  top: -3rem;
  right: -3rem;
  bottom: -3rem;
  left: -3rem;
}

.RadioButton_base__small_71 .RadioButton_blank_b5 {
  background: url("R.images.gui.maps.icons.components.radiobutton.blank_small") center / 16rem
    no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_blank_b5 {
  background: url("R.images.gui.maps.icons.components.radiobutton.blank_medium") center / 18rem
    no-repeat;
}

.RadioButton_base__blank_46 .RadioButton_blank_b5 {
  opacity: 1;
}

.RadioButton_blankHover_5e {
  position: absolute;
  top: -3rem;
  right: -3rem;
  bottom: -3rem;
  left: -3rem;
}

.RadioButton_base__small_71 .RadioButton_blankHover_5e {
  background: url("R.images.gui.maps.icons.components.radiobutton.blank_small_hover") center / 16rem
    no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_blankHover_5e {
  background: url("R.images.gui.maps.icons.components.radiobutton.blank_medium_hover") center /
    18rem no-repeat;
}

.RadioButton_base__blankHover_9a .RadioButton_blankHover_5e {
  opacity: 1;
}

.RadioButton_blankMousedown_0e {
  position: absolute;
  top: -3rem;
  right: -3rem;
  bottom: -3rem;
  left: -3rem;
}

.RadioButton_base__small_71 .RadioButton_blankMousedown_0e {
  background: url("R.images.gui.maps.icons.components.radiobutton.blank_small_mousedown") center /
    16rem no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_blankMousedown_0e {
  background: url("R.images.gui.maps.icons.components.radiobutton.blank_medium_mousedown") center /
    18rem no-repeat;
}

.RadioButton_base__blankMousedown_cd .RadioButton_blankMousedown_0e {
  opacity: 1;
}

.RadioButton_base__small_71 .RadioButton_check_f2 {
  position: absolute;
  top: -3rem;
  right: -3rem;
  bottom: -3rem;
  left: -3rem;
  background: url("R.images.gui.maps.icons.components.radiobutton.checked_small") center / 16rem
    no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_check_f2 {
  position: absolute;
  top: -15rem;
  right: -15rem;
  bottom: -15rem;
  left: -15rem;
  background: url("R.images.gui.maps.icons.components.radiobutton.checked_medium") center / 48rem
    no-repeat;
}

.RadioButton_base__check_fe .RadioButton_check_f2 {
  opacity: 1;
}

.RadioButton_base__small_71 .RadioButton_checkHover_c6 {
  position: absolute;
  top: -3rem;
  right: -3rem;
  bottom: -3rem;
  left: -3rem;
  background: url("R.images.gui.maps.icons.components.radiobutton.checked_small_hover") center /
    16rem no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_checkHover_c6 {
  position: absolute;
  top: -15rem;
  right: -15rem;
  bottom: -15rem;
  left: -15rem;
  background: url("R.images.gui.maps.icons.components.radiobutton.checked_medium_hover") center /
    48rem no-repeat;
}

.RadioButton_base__checkHover_2f .RadioButton_checkHover_c6 {
  opacity: 1;
}

.RadioButton_base__small_71 .RadioButton_checkMousedown_a7 {
  position: absolute;
  top: -3rem;
  right: -3rem;
  bottom: -3rem;
  left: -3rem;
  background: url("R.images.gui.maps.icons.components.radiobutton.checked_small_mousedown") center /
    16rem no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_checkMousedown_a7 {
  position: absolute;
  top: -15rem;
  right: -15rem;
  bottom: -15rem;
  left: -15rem;
  background: url("R.images.gui.maps.icons.components.radiobutton.checked_medium_mousedown")
    center / 48rem no-repeat;
}

.RadioButton_base__checkMousedown_83 .RadioButton_checkMousedown_a7 {
  opacity: 1;
}

.RadioButton_label_7f {
  color: #8c8c7e;
  line-height: 1.3;
  transition:
    color 0.1s ease-out,
    opacity 0.1s ease-out;
}

.RadioButton_base_d9:hover > .RadioButton_label_7f {
  color: #e9e2bf;
}

.RadioButton_base_d9.RadioButton_base__disabled_84 > .RadioButton_label_7f,
.RadioButton_base_d9.RadioButton_base__disabled_84:hover > .RadioButton_label_7f {
  color: #8c8c7e;
  transition: none;
}

.RadioButton_base__small_71 .RadioButton_label_7f {
  font-size: 12rem;
}

.RadioButton_base__medium_d8 .RadioButton_label_7f {
  font-size: 14rem;
}

.RadioGroup_base_6e {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RadioGroup_radio_3b {
  margin-right: 8rem;
}

.mediaMedium .RadioGroup_radio_3b {
  margin-right: 10rem;
}

.RadioGroup_label_86 {
  margin-left: 0;
}

.ToggleButton_base_19 {
  border-radius: 2rem;
  position: relative;
}

.ToggleButton_overlay_6b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2rem;
  pointer-events: none;
}

.ToggleButton_base__active_6c .ToggleButton_overlay_6b {
  border: 1rem solid rgba(255, 195, 99, 0.75);
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.6),
    0 0 7px rgba(238, 112, 0, 0.5);
  background: linear-gradient(
    180deg,
    rgba(255, 42, 0, 0.1) 0%,
    rgba(255, 42, 0, 0) 0.01%,
    rgba(255, 127, 0, 0.1) 100%
  );
}

.ToggleButton_button_1c {
  padding: 0;
}

.ToggleButton_indicator_9b {
  width: 40rem;
  height: 29rem;
  background: url("R.images.gui.maps.icons.buttons.toggle_indicator") no-repeat center / contain;
  position: absolute;
  bottom: -14rem;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
}

.ToggleButton_base__active_6c .ToggleButton_indicator_9b {
  background-image: url("R.images.gui.maps.icons.buttons.toggle_indicator_active");
}

.ToggleButton_counter_63 {
  position: absolute;
  top: -6rem;
  right: -3rem;
  pointer-events: none;
}

.FilterTitle_base_53 {
  display: flex;
}

.FilterTitle_label_14 {
  color: #595950;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  z-index: 1;
}

.FilterTitle_discount_49 {
  height: 18rem;
  position: relative;
}

.FilterTitle_discountIcon_d4 {
  width: 48rem;
  height: 34rem;
  background: url("R.images.gui.maps.icons.crew.filter.popover.discount") no-repeat center / contain;
  mix-blend-mode: screen;
  position: absolute;
  top: -6rem;
  left: -23rem;
  pointer-events: none;
}

.ToggleIcon_base_31 {
  width: 34rem;
  height: 24rem;
}

.ToggleIcon_base__small_0e {
  width: 30rem;
  height: 20rem;
}

.ToggleIcon_icon_9e {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat 50% / 34rem 24rem;
}

.VehicleTier_base_99 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34rem;
  height: 24rem;
  color: #fefeec;
  font-size: 11rem;
  font-weight: 400;
}

.VehicleTier_base__small_67 {
  width: 30rem;
  height: 20rem;
}

.ToggleButtonIcon_icon__vehicleType_6d {
  background-size: 9rem 12rem;
}
.ToggleButtonIcon_icon__nation_76,
.ToggleButtonIcon_icon__vehicleGradePrimary_40 {
  background-size: 26rem 16rem;
}
.ToggleButtonIcon_icon__tankmanRole_f4 {
  background-size: 14rem 14rem;
  opacity: 0.6;
}
.ToggleButtonIcon_icon__selected_29 .ToggleButtonIcon_icon__tankmanRole_f4 {
  opacity: 1;
}
.ToggleButtonIcon_icon__tankmanKind_44,
.ToggleButtonIcon_icon__vehicleGradeElite_de,
.ToggleButtonIcon_icon__locationRecruit_85,
.ToggleButtonIcon_icon__locationTankman_02,
.ToggleButtonIcon_icon__locationUnique_aa {
  background-size: 24rem 24rem;
}
.ToggleButtonIcon_icon__personalDataType_ed,
.ToggleButtonIcon_icon__tankmanKindDismissed_d8 {
  background-size: 34rem 24rem;
}
.ToggleButtonIcon_icon__vehicleGradePremium_ec {
  background-size: 20rem 17rem;
}

.FilterToggleGroup_base_bd {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.FilterToggleGroup_title_5c {
  padding-bottom: 8rem;
}

.FilterToggleGroup_content_1b {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.FilterToggleGroup_toggle_c2 {
  width: auto;
  height: auto;
}

.FilterToggleGroup_base__inPopup_51 .FilterToggleGroup_toggle_c2 {
  width: 30rem;
  height: 20rem;
  margin: 0 15rem 14rem 0;
}

.NumberRange_base_65 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #8c8c7e;
}

.NumberRange_base__animation_70 {
  animation: NumberRange_blinkAnim_5f cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite 1.5s;
}

.NumberRange_from_45 {
  color: #8c8c7e;
}

.NumberRange_from__red_53 {
  color: #ff2717;
}

.NumberRange_separatorWrapper_5a {
  position: relative;
}

.NumberRange_separator_61 {
  padding: 0 4rem;
}

.NumberRange_counterGlow_f6 {
  width: 74rem;
  height: 57rem;
  margin-left: -37rem;
  background: url("R.images.gui.maps.icons.customization.filter_arrow") no-repeat 50%/ 74rem 57rem;
  position: absolute;
  left: 50%;
}

@keyframes NumberRange_blinkAnim_5f {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.NumberRangeWithLabel_base_fd {
  display: flex;
}

.NumberRangeWithLabel_title_e3 {
  padding-right: 4rem;
}

.NumberRangeWithLabel_counterGlow_fa {
  width: 74rem;
  height: 57rem;
  background: url("R.images.gui.maps.icons.customization.filter_arrow") no-repeat 50%/ 74rem 57rem;
  position: absolute;
}

.NumberRangeWithLabel_blink_15 {
  animation: NumberRangeWithLabel_blink_15 400ms 100ms forwards linear;
}

@keyframes NumberRangeWithLabel_blink_15 {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(2);
  }

  100% {
    filter: brightness(1);
  }
}

.Filters_base_c3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.Filters_reverse_26 {
  flex-direction: row-reverse;
}

.Filters_filtersPopover_22 {
  width: 48rem;
  height: 24rem;
  min-height: 24rem;
  margin-right: 0;
  position: relative;
  z-index: 2;
}

.mediaMedium .Filters_filtersPopover_22 {
  height: 32rem;
  min-height: 32rem;
}

.mediaSmall .Filters_filtersPopoverUpdate_e7 {
  height: 24rem;
  min-height: 24rem;
}

.Filters_filtersPopoverIcon_bc {
  width: 24rem;
  height: 24rem;
  background: url("R.images.gui.maps.icons.customization.icon_filter") no-repeat center / 24rem
    24rem;
}

.Filters_buttonFavorites_f4 {
  width: 34rem;
  height: 24rem;
  margin-left: 12rem;
  margin-right: 12rem;
}

.mediaMedium .Filters_buttonFavorites_f4 {
  margin-left: 16rem;
  margin-right: 16rem;
}

.Filters_counterWrapper_dd {
  position: relative;
}

.Filters_filterNumbers_72 {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 74rem;
  position: absolute;
  top: -38rem;
  left: -14rem;
  z-index: 1;
}

.mediaMedium .Filters_filterNumbers_72 {
  top: -40rem;
}

.Filters_filtersClearButton_eb {
  width: 27rem;
  height: 21rem;
  margin-left: 9rem;
  border-radius: 1rem;
}

.Filters_filtersClearIcon_79 {
  width: 15rem;
  height: 15rem;
  background: url("R.images.gui.maps.icons.customization.icon_close") no-repeat center / 15rem 15rem;
}

.Filters_hiddenItemCounter_d1 {
  position: absolute;
  top: -7rem;
  right: -7rem;
  z-index: 3;
}

.FiltersDropdown_base_89 {
  width: 100%;
}

.FiltersDropdown_customItem_24[class*="selected"] {
  color: #ffdd99;
}

.FiltersDropdown_customList_fa {
  width: 100%;
}

.FiltersPopover_base_99 {
  box-sizing: content-box;
  width: 292rem;
  padding: 16rem 0 0;
}

.FiltersPopover_filtersTitle_8f {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 8rem;
  padding: 0 23rem;
}

.FiltersPopover_filtersCounterText_a6 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-direction: row;
  padding: 0 23rem;
  vertical-align: middle;
  white-space: nowrap;
}

.FiltersPopover_filtersCounterValue_e1 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 4rem;
  margin-right: 3rem;
}

.FiltersPopover_allFiltersCounterValue_99 {
  margin-left: 4rem;
}

.FiltersPopover_filtersContent_47 {
  padding: 29rem 23rem 31rem;
  background: url("R.images.gui.maps.icons.customization.small_lip") no-repeat 50% -9rem / contain;
}

.FiltersPopover_filterItem_6c {
  width: 100%;
}

.FiltersPopover_filterButton_4d {
  width: 46rem;
  height: 20rem;
  margin-right: 12rem;
  margin-bottom: 12rem;
}

.FiltersPopover_filterButtonBase_80 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 20rem;
}

.FiltersPopover_filterButtonIcon_c4 {
  width: 46rem;
  height: auto;
  margin-top: 2rem;
  background-size: contain;
  position: static;
}

.FiltersPopover_filterFormButtonIcon_31 {
  margin-top: 1rem;
  background-size: cover;
  position: static;
}

.FiltersPopover_filterLabel_98 {
  color: #595950;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 9rem;
}

.FiltersPopover_filterBody_21 {
  margin-bottom: 7rem;
}

.FiltersPopover_anotherVehCheck_9b {
  margin-top: 7rem;
}

.FiltersPopover_filterBodyMarginTop_a6 {
  margin-top: 7rem;
}

.FiltersPopover_filterBodyMarginBottom_63 {
  margin-bottom: 14rem;
}

.FiltersPopover_filterColumns_63 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.FiltersPopover_filtersFooter_86 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -46rem;
  padding-top: 38rem;
  background-position: 0 1rem;
}

.FiltersPopover_resetButtonWrapper_59 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.FiltersPopover_filtersResetButton_9c {
  width: 160rem;
  height: 24rem;
  margin-top: 13rem;
}

.FiltersPopover_hiddenItemCounter_44 {
  margin-left: -7rem;
  margin-top: -9rem;
}

/* Icons */

.FiltersPopover_buttonAppliedIcon_03 {
  width: 30rem;
  height: 18rem;
  background: url("R.images.gui.maps.icons.customization.icon_applied") no-repeat center / contain;
}

.FiltersPopover_buttonPremiumIcon_cd {
  width: 54rem;
  height: 18rem;
  background: url("R.images.gui.maps.icons.customization.favorite_filter") no-repeat center /
    contain;
}

.FiltersPopover_buttonHistoricIcon_b4 {
  width: 24rem;
  height: 23rem;
  background: url("R.images.gui.maps.icons.customization.icon_hist") no-repeat center / contain;
}

.FiltersPopover_buttonNonhistoricIcon_75 {
  width: 21rem;
  height: 18rem;
  background: url("R.images.gui.maps.icons.customization.icon_non_historical_max") no-repeat
    center / contain;
}

.FiltersPopover_buttonFantasticalIcon_af {
  width: 21rem;
  height: 18rem;
  background: url("R.images.gui.maps.icons.customization.icon_fantastical_mini") no-repeat center /
    contain;
}

.FiltersPopover_alertCaption_52 {
  margin-left: 8rem;
  position: relative;
}

.FiltersPopover_alertIcon_44 {
  background-image: url("R.images.gui.maps.icons.customization.icon_notification_alert");
}

.FiltersPopover_alertGlow_97 {
  display: none;
}
