.Counter_base_8c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -70rem;
}
.mediaMedium .Counter_base_8c {
  margin-top: -80rem;
}
.mediaLarge .Counter_base_8c {
  margin-top: -59rem;
}

.Counter_base_8c.Counter_base__entryPointTooltip_2f {
  margin-top: -59rem;
}

.Counter_counterGlow_ae {
  background: url("R.images.gui.maps.icons.resourceWell.counter_glow") no-repeat center / contain;
  position: absolute;
  pointer-events: none;
}

.Counter_base__mainScreen_aa .Counter_counterGlow_ae {
  width: 488rem;
  height: 108rem;
  top: -65rem;
}

.mediaMedium .Counter_base__mainScreen_aa .Counter_counterGlow_ae {
  top: -75rem;
}

.mediaLarge .Counter_base__mainScreen_aa .Counter_counterGlow_ae {
  top: -63rem;
}

.Counter_base__entryPointTooltip_2f .Counter_counterGlow_ae {
  width: 300rem;
  height: 168rem;
  top: -10rem;
}

.Counter_counterBg_d9 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("R.images.gui.maps.icons.resourceWell.counter_bg") no-repeat center / contain;
  position: relative;
  pointer-events: none;
}

.Counter_base__mainScreen_aa .Counter_counterBg_d9 {
  width: 310rem;
  height: 200rem;
  top: -40rem;
}

.mediaLarge .Counter_base__mainScreen_aa .Counter_counterBg_d9 {
  top: -50rem;
}

.Counter_base__entryPointTooltip_2f .Counter_counterBg_d9 {
  width: 100%;
  height: 124rem;
  padding-bottom: 5rem;
  text-align: center;
}

.Counter_counterNumber_8b {
  pointer-events: auto;
}

.Counter_counterNumber__less_8b {
  text-shadow:
    0 0 4rem rgba(255, 127, 0, 0.25),
    0 0 8rem #ff2a00,
    0 0 15rem #e52;
}

.Counter_base__mainScreen_aa .Counter_counterNumber_8b {
  color: #ffdd99;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: -10rem;
}

.mediaLarge .Counter_base__mainScreen_aa .Counter_counterNumber_8b {
  font-size: 56rem;
}

.Counter_base__entryPointTooltip_2f .Counter_counterNumber_8b {
  color: #ffdd99;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}

.Counter_tanksOverText_72 {
  opacity: 0.5;
}

.Counter_base__mainScreen_aa .Counter_tanksOverText_72 {
  color: #e9e2bf;
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: -10rem;
}

.mediaMedium .Counter_base__mainScreen_aa .Counter_tanksOverText_72 {
  color: #e9e2bf;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}

.Counter_base__entryPointTooltip_2f .Counter_tanksOverText_72 {
  color: #e9e2bf;
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

.Counter_errorWrapper_a2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
}

.Counter_alertIcon_cf {
  width: 24rem;
  height: 24rem;
  background: url("R.images.gui.maps.icons.resourceWell.alertIcon") no-repeat center / contain;
  z-index: 1;
}

.Counter_errorLines_6e {
  color: #ffdd99;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
  position: relative;
  top: -23rem;
}
