.TextButton_base_a231c {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

    .TextButton_base__right_bfac3 {
        flex-direction: row-reverse;
    }
.TextButton_icon_cdfc0 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_fc1bb,
    .TextButton_icon__forward_efa2d {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.back');
        transform: translateY(1rem);
    }
.TextButton_icon__forward_efa2d {
        transform: rotate(180deg) translateY(1rem);
    }
.TextButton_icon__close_e2f0f {
        margin: -1rem 0;
        background-image: url('R.images.gui.maps.icons.components.text_button.close');
    }
.TextButton_icon__info_e32c0 {
        margin: -1rem -5rem;
        background-image: url('R.images.gui.maps.icons.components.text_button.info');
    }
.TextButton_glow_d6e04 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}
.TextButton_icon__back_fc1bb .TextButton_glow_d6e04,
    .TextButton_icon__forward_efa2d .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
    }
.TextButton_icon__close_e2f0f .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
    }
.TextButton_icon__info_e32c0 .TextButton_glow_d6e04 {
        background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
    }
.TextButton_base_a231c:hover .TextButton_glow_d6e04 {
        opacity: 1;
    }
.TextButton_base_a231c:active .TextButton_glow_d6e04 {
        opacity: 0;
    }
.TextButton_caption_f4e8d {
    position: relative;
    transition: color .16s, text-shadow .16s;
}
.TextButton_caption__back_d358d,
    .TextButton_caption__forward_ff93d,
    .TextButton_caption__close_fc554 {
        color: #FFDD99;
        text-shadow: 0 0 10rem rgba(255,42,0, 1),
            0 0 10rem rgba(255,42,0, .4),
            0 0 10rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4),
            0 0 2rem rgba(255,42,0, .4),
            0 0 1rem rgba(255,42,0, .4);
    }
.TextButton_base_a231c:hover .TextButton_caption__back_d358d, .TextButton_base_a231c:hover .TextButton_caption__forward_ff93d, .TextButton_base_a231c:hover .TextButton_caption__close_fc554 {
            color: #fffa9f;
        }
.TextButton_base_a231c:active .TextButton_caption__back_d358d, .TextButton_base_a231c:active .TextButton_caption__forward_ff93d, .TextButton_base_a231c:active .TextButton_caption__close_fc554 {
            color: #FFDD99;
        }
.TextButton_caption__info_c263a {
        padding: 0 5rem;
        color: #CCFFFF;
        text-shadow: 0 0 12rem rgba(31,68,255, .8),
            0 0 8rem #00eaff;
    }
.TextButton_base_a231c:hover .TextButton_caption__info_c263a {
            color: #e3ffff;
            text-shadow: 0 0 12rem rgba(31,68,255, .8),
                0 0 12rem rgba(0,234,255, 1),
                0 0 8rem #00eaff;
        }
.TextButton_base_a231c:active .TextButton_caption__info_c263a {
            color: #CCFFFF;
            text-shadow: 0 0 12rem rgba(31,68,255, .6),
                0 0 8rem #00eaff;
        }
.TextButton_goto_d3960 {
    color: #7c7c6c;
}
.TextButton_base__left_ec79d .TextButton_goto_d3960 {
        margin-left: 8rem;
    }
.TextButton_base__right_bfac3 .TextButton_goto_d3960 {
        margin-right: 8rem;
    }
.TextButton_shine_f8873 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity .16s;
    pointer-events: none;
}
.TextButton_base__left_ec79d .TextButton_shine_f8873 {
        left: -4rem;
    }
.TextButton_base__right_bfac3 .TextButton_shine_f8873 {
        right: -4rem;
        transform: rotate(180deg);
    }
.TextButton_base_a231c:hover .TextButton_shine_f8873 {
        opacity: 1;
    }
.TextButton_base_a231c:active .TextButton_shine_f8873 {
        opacity: 0;
    }

.MapPoint_base_ccc82 {
    width: 80rem;
    height: 80rem;
    cursor: default;
}

    .MapPoint_base__hidden_e1534 {
        display: none;
    }

    .MapPoint_base__static_c0af9 {
        cursor: pointer;
        pointer-events: none;
    }

    .MapPoint_base__hovered_a369b {
        cursor: pointer;
    }

.MapPoint_point_ffacf {
    width: 80rem;
    height: 80rem;
    background: center / cover no-repeat;
    pointer-events: none;
}

.MapPoint_point__1_ca79d {
            background-image: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.green_pin1');
        }

.MapPoint_base__hovered_a369b .MapPoint_point__1_ca79d {
                background-image: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.red_pin1');
            }

.MapPoint_point__2_e75f7 {
            background-image: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.green_pin2');
        }

.MapPoint_base__hovered_a369b .MapPoint_point__2_e75f7 {
                background-image: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.red_pin2');
            }

.MapPoint_point__3_ac9cc {
            background-image: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.green_pin3');
        }

.MapPoint_base__hovered_a369b .MapPoint_point__3_ac9cc {
                background-image: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.red_pin3');
            }

.MapPoint_hitArea_b2eff {
    width: 32rem;
    height: 32rem;
    position: absolute;
    top: 26rem;
    left: 26rem;
    pointer-events: auto;
}

.CButton_base_bb13f {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, 0.6);
    position: relative;
    cursor: pointer;
}

    .CButton_base__main_dd05d,
    .CButton_base__primary_c75a2,
    .CButton_base__primaryGreen_ae65b,
    .CButton_base__primaryRed_b1341,
    .CButton_base__secondary_f2c20 {
        background-size: 100% 100%;
    }

    .CButton_base__main_dd05d {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_c75a2 {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_ae65b {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_b1341 {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_f2c20 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_f452b {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, 0.3), 0 0 0 1rem rgba(255,255,255, 0.15) inset;
        background-color: rgba(0,0,0, 0.15);
    }

    .CButton_base__extraSmall_e1273 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_c20a3,
    .CButton_base__medium_ef59a {
        padding: 0 20rem;
    }

    .CButton_base__small_c20a3 {
        min-height: 18rem;
    }

    .CButton_base__medium_ef59a {
        min-height: 32rem;
    }

    .CButton_base__large_bafd5 {
        min-height: 48rem;
    }

    .CButton_base__disabled_eef7a {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e957b {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_dd05d .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_c75a2 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_ae65b .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_b1341 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_f2c20 .CButton_back_e957b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_ccd7e {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_f2bb4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_b0875 .CButton_state_f2bb4 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, 0.2);
    }
.CButton_stateHighlightHover_bd0cb,
.CButton_stateHighlightActive_e9a8a,
.CButton_stateDisabled_ed209 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_bd0cb {
    background-image: linear-gradient(180deg, rgba(252,248,235, 0.25) 0%, rgba(252,248,235, 0.1) 50%, rgba(255,255,255, 0) 100%);
    opacity: 0;
}
.CButton_base_bb13f:hover .CButton_stateHighlightHover_bd0cb {
        opacity: 1;
    }
.CButton_base_bb13f:active .CButton_stateHighlightHover_bd0cb {
        opacity: 0;
    }
.CButton_base__disabled_eef7a:hover .CButton_stateHighlightHover_bd0cb {
        opacity: 0;
    }
.CButton_base__ghost_f452b .CButton_stateHighlightHover_bd0cb {
        box-shadow: 0 15rem 12rem 0 rgba(242,242,230, 0.11) inset;
        background-color: rgba(8,6,0, 0.18);
        background-image: none;
    }
.CButton_stateHighlightActive_e9a8a {
    background-image: linear-gradient(180deg, rgba(0,0,0, 0.3) 0%, rgba(0,0,0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_db27d .CButton_stateHighlightActive_e9a8a {
        opacity: 1;
    }
.CButton_stateDisabled_ed209 {
    background-color: rgba(0,0,0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_eef7a .CButton_stateDisabled_ed209 {
        visibility: inherit;
    }
.CButton_content_a99fc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_a99fc[lang='ja'],
    .CButton_content_a99fc[lang='ko'],
    .CButton_content_a99fc[lang='zh_tw'],
    .CButton_content_a99fc[lang='zh_sg'],
    .CButton_content_a99fc[lang='zh_cn'],
    .CButton_content_a99fc[lang='th'] {
        font-weight: 400;
    }
.CButton_base__main_dd05d .CButton_content_a99fc,
    .CButton_base__primaryRed_b1341 .CButton_content_a99fc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_f2c20 .CButton_content_a99fc {
        color: rgba(254,254,236, 0.75);
    }
.CButton_base__primaryGreen_ae65b .CButton_content_a99fc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
.CButton_base__extraSmall_e1273 .CButton_content_a99fc {
        font-size: 12rem;
    }
.CButton_base__small_c20a3 .CButton_content_a99fc {
        font-size: 14rem;
    }
.CButton_base__medium_ef59a .CButton_content_a99fc {
        font-size: 15rem;
    }
.CButton_base__large_bafd5 .CButton_content_a99fc {
        font-size: 18rem;
    }
.CButton_base__disabled_eef7a .CButton_content_a99fc {
        opacity: 0.6;
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_c37bf {
    width: 100%;
    height: var(--progress-bg-height);
    position: relative;
}
.ProgressBar_base__small_af6d6 {
        height: var(--progress-bg-height-small);
    }
.ProgressBar_background_a4e18 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: var(--progress-pattern-size);
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__small_e2b95 {
        height: var(--progress-bg-height-small);
    }
.ProgressBar_lineWrapper_e670c {
    display: flex;
    flex: 1;
}


.ProgressBarBlink_base_d7125 {
    width: var(--progress-glow-width);
    height: var(--progress-glow-height);
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: var(--progress-glow-mixBlendMode);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

    .ProgressBarBlink_base__small_b92f8 {
        width: var(--progress-glow-small-width);
        height: var(--progress-glow-small-height);
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_a3558 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    filter: var(--progress-line-filter);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_a9e8e {
        background-color: var(--progress-line-disabled);
    }
.ProgressLineImpose_base__finished_f889e {
        background-color: var(--progress-line-finished);
    }
.ProgressLineImpose_base__withoutBounce_c0ff9 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressLineImpose_pattern_a4023 {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: var(--progress-pattern-size);
    position: absolute;
    top: var(--progress-pattern-border-size);
    right: var(--progress-pattern-border-size);
    bottom: var(--progress-pattern-border-size);
    left: var(--progress-pattern-border-size);
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_pattern_a4023 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_pattern_a4023 {
        background-image: var(--progress-pattern-disabled);
        left: 0;
    }
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_pattern_a4023 {
        background-image: var(--progress-pattern-finished);
    }
.ProgressLineImpose_gradient_f73c0 {
    max-width: 8001px;
    background-image: var(--progress-pattern-gradient);
    mix-blend-mode: var(--progress-pattern-gradient-mixBlendMode);
    position: absolute;
    top: var(--progress-pattern-border-size);
    right: 0;
    bottom: var(--progress-pattern-border-size);
    left: 0;
}
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_gradient_f73c0 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_gradient_f73c0 {
        display: none;
    }
.ProgressLineImpose_base__finished_f889e .ProgressLineImpose_gradient_f73c0 {
        background-image: var(--progress-pattern-gradient-finished);
    }
.ProgressLineImpose_glow_f237a {
    width: var(--progress-glow-width);
    max-width: 8001px;
    height: var(--progress-glow-height);
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: var(--progress-glow-mixBlendMode);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_b7ffa {
        left: var(--progress-pattern-border-size);
    }
.ProgressLineImpose_base__disabled_a9e8e .ProgressLineImpose_glow_f237a,
    .ProgressLineImpose_base__finished_f889e .ProgressLineImpose_glow_f237a {
        display: none;
    }
.ProgressLineImpose_base__small_da260 .ProgressLineImpose_glow_f237a {
        width: var(--progress-glow-small-width);
        height: var(--progress-glow-small-height);
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_f4d46 {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressBarDeltaGrow_glow_c912d {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b1398 .ProgressBarDeltaGrow_glow_c912d {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_cfcd3 {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_dc2b6 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1), cubic-bezier(.21, .61, .35, 1);
    transition-property: width, transform;
}

.Footer_base_a8cb6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Footer_progressBarWrapper_b4237 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 557rem;
    padding-bottom: 20rem;
}

.Footer_progressBarLabel_d20d3 {
    color: #C9C9B6;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 5rem;
}

.Footer_buttonsWrapper_e4f27 {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.mediaLarge .Footer_buttonsWrapper_e4f27 {
        padding-top: 30rem;
}

.Footer_button_a6833 {
    min-width: 160rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

@keyframes Header_fadeIn_f7f60 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Header_fadeInWithScale_cd1bf {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Header_slideUp_bc3f8 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Header_slideLeft_e7181 {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.Header_base_cb7e5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Header_title_f3c4a {
    opacity: 0;
    animation-name: Header_slideUp_bc3f8;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.07, .82, .17, 1);
    animation-delay: .4s;
    animation-iteration-count: 1;
    color: #8C8C7E;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    width: 737rem;
    margin-bottom: 7rem;
}

.mediaMedium .Header_title_f3c4a {
        color: #8C8C7E;
        font-size: 24rem;
        font-weight: 700;
        line-height: 1.2;
        width: 981rem;
        margin-bottom: 8rem;
}

.Header_subTitle_e98d9 {
    opacity: 0;
    animation-name: Header_slideUp_bc3f8;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.07, .82, .17, 1);
    animation-delay: .4s;
    animation-iteration-count: 1;
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    width: 760rem;
    text-align: center;
}

.FormatText_base_f27a4 {
    display: flex;
    flex-wrap: wrap;
}

.Survey_base_fb39c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    .Survey_base__empty_f7dd2 {
        display: none;
    }

    .Survey_base__finish_b1a59 {
        display: flex;
    }

.Survey_title_efe1a {
    color: #FEFEEC;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    width: 930rem;
    line-height: 1.35;
    text-align: center;
    z-index: 3;
}

.mediaMedium .Survey_title_efe1a {
        color: #FEFEEC;
        font-size: 56rem;
        font-weight: 700;
        line-height: 1.1;
        width: 1520rem;
        line-height: 1.35;
}

.mediaLarge .Survey_title_efe1a {
        width: 1610rem;
}

.Survey_title_efe1a[lang=th] {
        line-height: 1.45;
    }

.Survey_title_efe1a[lang=ja] {
        color: #FEFEEC;
        font-size: 28rem;
        font-weight: 700;
        line-height: 1.1;
        line-height: 1.35;
    }

.mediaMedium .Survey_title_efe1a[lang=ja] {
            color: #FEFEEC;
            font-size: 56rem;
            font-weight: 700;
            line-height: 1.1;
            line-height: 1.35;
}

.Survey_base__defaultFirst_cab07 .Survey_title_efe1a {
        margin-top: 38rem;
    }

.mediaMedium .Survey_base__defaultFirst_cab07 .Survey_title_efe1a {
            margin-top: 0;
}

.Survey_base__defaultFirst_cab07 .Survey_title_efe1a[lang=ja] {
            margin-top: 40rem;
        }

.mediaMedium .Survey_base__defaultFirst_cab07 .Survey_title_efe1a[lang=ja] {
                margin-top: 0;
}

.Survey_content_f8488 {
    margin-top: 0;
}

.mediaMedium .Survey_content_f8488 {
        margin-top: 20rem;
}

.mediaLarge .Survey_content_f8488 {
        margin-top: 50rem;
}

.Survey_base__vehicle_c5129 .Survey_content_f8488 {
        margin-top: 20rem;
    }

.mediaMedium .Survey_base__vehicle_c5129 .Survey_content_f8488 {
            margin-top: 50rem;
}

.Survey_base__table_c379b .Survey_content_f8488 {
        margin-top: 30rem;
    }

.mediaMedium .Survey_base__table_c379b .Survey_content_f8488 {
            margin-top: 50rem;
}

.Survey_base__multipleChoice_dfce8 .Survey_content_f8488,
    .Survey_base__map_a9dae .Survey_content_f8488,
    .Survey_base__textarea_b4914 .Survey_content_f8488 {
        margin-top: 15rem;
    }

.mediaMedium .Survey_base__multipleChoice_dfce8 .Survey_content_f8488, .mediaMedium .Survey_base__map_a9dae .Survey_content_f8488, .mediaMedium .Survey_base__textarea_b4914 .Survey_content_f8488 {
            margin-top: 50rem;
}

.Survey_base__defaultFirst_cab07 .Survey_content_f8488 {
        margin-top: -18rem;
    }

.mediaLarge .Survey_base__defaultFirst_cab07 .Survey_content_f8488 {
            margin-top: 50rem;
}

.Survey_base__defaultFirst_cab07 .Survey_content_f8488[lang=ja],
        .Survey_base__defaultFirst_cab07 .Survey_content_f8488[lang=th] {
            margin-top: -30rem;
        }

.mediaMedium .Survey_base__defaultFirst_cab07 .Survey_content_f8488[lang=ja], .mediaMedium .Survey_base__defaultFirst_cab07 .Survey_content_f8488[lang=th] {
                margin-top: 50rem;
}

.Survey_base__defaultFirst_cab07 .Survey_content_f8488[lang=ko] {
            margin-top: -10rem;
        }

.mediaMedium .Survey_base__defaultFirst_cab07 .Survey_content_f8488[lang=ko] {
                margin-top: 50rem;
}

.Survey_base__tableFirst_bf391 .Survey_content_f8488 {
        margin-top: 30rem;
    }

.mediaMedium .Survey_base__tableFirst_bf391 .Survey_content_f8488 {
            margin-top: 50rem;
}

.Survey_base__tableFirst_bf391 .Survey_content_f8488[lang=ja],
        .Survey_base__tableFirst_bf391 .Survey_content_f8488[lang=th] {
            margin-top: 20rem;
        }

.mediaMedium .Survey_base__tableFirst_bf391 .Survey_content_f8488[lang=ja], .mediaMedium .Survey_base__tableFirst_bf391 .Survey_content_f8488[lang=th] {
                margin-top: 50rem;
}

.Survey_base__tableFirst_bf391 .Survey_content_f8488[lang=ko] {
            margin-top: 5rem;
        }

.mediaMedium .Survey_base__tableFirst_bf391 .Survey_content_f8488[lang=ko] {
                margin-top: 50rem;
}

.FinishContent_base_ee1fb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.FinishContent_image_f4e6b {
    width: 240rem;
    height: 240rem;
    margin-top: -50rem;
    background: url('R.images.gui.maps.icons.mapbox.survey.finalCheck') no-repeat center / cover;
}

.mediaMedium .FinishContent_image_f4e6b {
        margin-top: -80rem;
}

.FinishContent_text_fc0d2 {
    color: #FEFEEC;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    width: 930rem;
    margin-top: -22rem;
    text-align: center;
}

.mediaMedium .FinishContent_text_fc0d2 {
        color: #FEFEEC;
        font-size: 56rem;
        font-weight: 700;
        line-height: 1.1;
        width: 1610rem;
}

.ToggleButton_base_a0da0 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30rem;
    min-height: 20rem;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
}

    .ToggleButton_base__button_ec23d.ToggleButton_base__active_ac70b {
    border-image: linear-gradient(90deg, #ac802c 0%, #eece63 48.95%, #efd065 48.96%, #ae842e 100%) 1 1 1 stretch;
    border-image-width: 1rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, .6), 0 0 7rem rgba(250, 112, 0, .6);
    background: linear-gradient(180deg, rgba(255,42,0, .1) 0%, rgba(255,42,0, 0) .01%, rgba(255,128,0, .1) 100%);
        }

    .ToggleButton_base__button_ec23d.ToggleButton_base__active_ac70b:hover {
                box-shadow: 0 0 0 1rem rgba(0,0,0, .6), 0 0 7rem rgba(250,112,0, .6), inset 0 0 40rem rgba(255,255,255, .1);
            }

    .ToggleButton_base__slot_d0746 {
        min-width: 80rem;
        min-height: 80rem;
        border: 1rem solid rgba(255,255,255, .15);
        background: rgba(0,0,0, .1);
    }

    .ToggleButton_base__slot_d0746:hover {
            background: radial-gradient(rgba(0,0,0, 0) 10%, rgba(150,150,150, .1));
        }

    .ToggleButton_base__slot_d0746:active,.ToggleButton_base__slot_d0746  {
            box-shadow: none;
            background: rgba(0,0,0, .2);
        }

    .ToggleButton_base__slot_d0746.ToggleButton_base__active_ac70b {
    border-image: linear-gradient(90deg, #ac802c 0%, #eece63 48.95%, #efd065 48.96%, #ae842e 100%) 1 1 1 stretch;
    border-image-width: 1rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, .6), 0 0 7rem rgba(250, 112, 0, .6);
    background: linear-gradient(180deg, rgba(255,42,0, .1) 0%, rgba(255,42,0, 0) .01%, rgba(255,128,0, .1) 100%);
        }

    .ToggleButton_base__slot_d0746.ToggleButton_base__active_ac70b:active {
                background: rgba(0,0,0, .2);
            }

    .ToggleButton_base__disabled_c1e9d {
        cursor: initial;
        pointer-events: none;
    }

.ToggleButton_texture_cb598 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    z-index: 1;
}

.ToggleButton_background_d5901 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    z-index: -1;
}

.ToggleButton_background__main_b350d {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }

.ToggleButton_background__primary_d0435 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }

.ToggleButton_background__primaryGreen_b073d {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

.ToggleButton_background__primaryRed_cb27b {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

.ToggleButton_background__secondary_a1c84 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

.ToggleButton_background__ghost_c391e {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, .3), 0 0 0 1rem rgba(255,255,255, .15) inset;
        background-color: rgba(0,0,0, .15);
    }

.ToggleButton_content_a7a03 {
    color: #f1f0e0;
    font-size: 13rem;
    font-weight: 300;
    text-align: center;
    text-shadow: 0 -1rem 2rem rgba(0,0,0, .7);
}

.ToggleButton_base__slot_d0746 .ToggleButton_content_a7a03 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 auto;
        position: relative;
        z-index: -1;
    }

.ToggleButton_overlay_a0f82 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2rem;
    z-index: 3;
    pointer-events: none;
}

.ToggleButton_base__disabled_c1e9d .ToggleButton_overlay_a0f82 {
        margin: -1rem;
        background: url('R.images.gui.maps.icons.buttons.toggle_disable') repeat;
    }

.ToggleButton_base__button_ec23d .ToggleButton_overlay_a0f82 {
        background-color: rgba(255,255,255, .04);
    }

.ToggleButton_base__button_ec23d:hover .ToggleButton_overlay_a0f82 {
        box-shadow: inset 0 0 40rem rgba(255,255,255, .1);
    }

.ToggleButton_base__button_ec23d:active .ToggleButton_overlay_a0f82 {
        box-shadow: none;
        background: rgba(0,0,0, .2);
    }

.ToggleButton_base__button_ec23d.ToggleButton_base__active_ac70b:active .ToggleButton_overlay_a0f82 {
        background: rgba(0,0,0, .2);
    }

.ToggleButton_indicator_df92b {
    /* This Needs to be an even number otherwise translate(-50%) makes it at half a pixel position and causes sub pixel blurring */
    width: 16rem;
    height: 5rem;
    background: url('R.images.gui.maps.icons.buttons.toggle_switcher_off');
    background-size: 16rem 5rem;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0);
    pointer-events: none;
}

.ToggleButton_base__slot_d0746 .ToggleButton_indicator_df92b {
        width: 64rem;
        height: 32rem;
        background-image: none;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        bottom: -17rem;
    }

.ToggleButton_base__slot_d0746.ToggleButton_base__active_ac70b .ToggleButton_indicator_df92b {
        background-image: url('R.images.gui.maps.icons.buttons.toggle_check');
    }

.ToggleButton_base__button_ec23d.ToggleButton_base__active_ac70b .ToggleButton_indicator_df92b {
        background-image: url('R.images.gui.maps.icons.buttons.toggle_switcher_on');
    }

.SurveyTextOption_base_d6ae3 {
    display: flex;
}

.SurveyTextOption_toggle_dbddf {
    width: 185rem;
    min-height: 56rem;
}

.mediaMedium .SurveyTextOption_toggle_dbddf {
        width: 213rem;
        min-height: 66rem;
}

.SurveyTextOption_toggle__extendedSmall_ec19f {
        width: 220rem;
    }

.mediaMedium .SurveyTextOption_toggle__extendedSmall_ec19f {
            width: 300rem;
}

.SurveyTextOption_toggle__large_fc664 {
        width: 320rem;
    }

.mediaMedium .SurveyTextOption_toggle__large_fc664 {
            width: 368rem;
}

.SurveyTextOption_buttonTitle_b8da4 {
    margin-top: -6rem;
    padding-left: 20rem;
    padding-right: 20rem;
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
    line-height: 1;
}

.mediaMedium .SurveyTextOption_buttonTitle_b8da4 {
        color: #E9E2BF;
        font-size: 20rem;
        font-weight: 400;
        line-height: 1.2;
        line-height: 1;
}

.SurveyTextOption_buttonTitle_b8da4[lang=ja] {
        margin-top: 0;
    }

.SurveyTextOption_buttonTitle_b8da4[lang=ko] {
        margin-top: 2rem;
    }

.SurveyTextOption_buttonTitle_b8da4[lang=ja],
    .SurveyTextOption_buttonTitle_b8da4[lang=ko] {
        color: #E9E2BF;
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
        line-height: 1.3;
    }

.mediaMedium .SurveyTextOption_buttonTitle_b8da4[lang=ja], .mediaMedium .SurveyTextOption_buttonTitle_b8da4[lang=ko] {
            color: #E9E2BF;
            font-size: 20rem;
            font-weight: 400;
            line-height: 1.2;
            line-height: 1.3;
}

.ImageSurveyContent_base_bd2f9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ImageSurveyContent_image_bdd8b {
    width: 1024rem;
    height: 364rem;
    margin-bottom: 18rem;
    background: no-repeat center / contain;
}

.mediaMedium .ImageSurveyContent_image_bdd8b {
        margin-bottom: 35rem;
}

.ImageSurveyContent_buttons_c0683 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ImageSurveyContent_toggle_b0ae8 {
    margin-right: 10rem;
}

.mediaMedium .ImageSurveyContent_toggle_b0ae8 {
        margin-right: 20rem;
}

.ImageSurveyContent_toggle__last_b0722 {
        margin-right: 0;
    }

.mediaMedium .ImageSurveyContent_toggle__last_b0722 {
            margin-right: 0;
}

.SurveyImageOption_base_d1485 {
    display: flex;
}

.SurveyImageOption_toggle_fef52 {
    width: 140rem;
    min-height: 190rem;
    margin: 0 5rem;
}

.mediaMedium .SurveyImageOption_toggle_fef52 {
        width: 180rem;
        min-height: 220rem;
        margin: 0 10rem;
}

.SurveyImageOption_toggleContent_ba269 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 190rem;
}

.mediaMedium .SurveyImageOption_toggleContent_ba269 {
        min-height: 220rem;
}

.SurveyImageOption_buttonImage_ccd43 {
    width: 80rem;
    height: 80rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 20rem;
    left: 30rem;
}

.mediaMedium .SurveyImageOption_buttonImage_ccd43 {
        width: 180rem;
        height: 135rem;
        top: 10rem;
        left: 0;
}

.SurveyImageOption_buttonTitle_d370a {
    color: #E9E2BF;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
    width: 130rem;
    padding-top: 75rem;
}

.mediaMedium .SurveyImageOption_buttonTitle_d370a {
        color: #E9E2BF;
        font-size: 24rem;
        font-weight: 400;
        line-height: 1.2;
        width: 170rem;
        padding-top: 90rem;
}

.SurveyImageOption_buttonTitle_d370a[lang=de] {
        color: #E9E2BF;
        font-size: 18rem;
        font-weight: 400;
        line-height: 1.25;
    }

.mediaMedium .SurveyImageOption_buttonTitle_d370a[lang=de] {
            color: #E9E2BF;
            font-size: 24rem;
            font-weight: 400;
            line-height: 1.2;
}

.VehicleSurveyContent_base_f4837 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.VehicleSurveyContent_buttons_b6fa3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.VehicleSurveyContent_toggleContent_e43da {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.VehicleSurveyContent_buttonImage_ad90b {
    width: 80rem;
    height: 80rem;
    background: no-repeat center / contain;
}

.mediaMedium .VehicleSurveyContent_buttonImage_ad90b {
        width: 180rem;
        height: 135rem;
}

.VehicleSurveyContent_buttonTitle_e0f3e {
    color: #E9E2BF;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.mediaMedium .VehicleSurveyContent_buttonTitle_e0f3e {
        color: #E9E2BF;
        font-size: 24rem;
        font-weight: 400;
        line-height: 1.2;
}

.Option_base_ba89a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.Option_questionTitle_aed29 {
    color: #E9E2BF;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: -2rem;
}

.mediaMedium .Option_questionTitle_aed29 {
        color: #E9E2BF;
        font-size: 24rem;
        font-weight: 400;
        line-height: 1.2;
        margin-top: -6rem;
}

.Option_questionTitle__small_a350b {
        width: 150rem;
    }

.mediaMedium .Option_questionTitle__small_a350b {
            width: 174rem;
}

.Option_questionTitle__medium_c989a {
        width: 392rem;
    }

.mediaMedium .Option_questionTitle__medium_c989a {
            width: 450rem;
}

.Option_questionTitle__large_fa495 {
        width: 582rem;
    }

.mediaMedium .Option_questionTitle__large_fa495 {
            width: 684rem;
}

.Option_icon_c0370 {
    width: 48rem;
    height: 48rem;
    background: no-repeat center / contain;
}

.Option_buttons_d08b2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
}

.Option_toggle_ea0f5 {
    margin-left: 10rem;
}

.mediaMedium .Option_toggle_ea0f5 {
        margin-left: 20rem;
}

.Option_buttonTitle_e5a76 {
    color: #E9E2BF;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.TableSurveyContent_base_bfc27 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.TableSurveyContent_option_a224a {
    padding-bottom: 13rem;
}
.TableSurveyContent_option_a224a + .TableSurveyContent_option_a224a {
        padding-top: 13rem;
        border-top: 1rem solid rgba(255, 255, 255, .2);
    }
.TableSurveyContent_blank_a99f8 {
    width: 1024rem;
    height: calc(var(--rows)*70rem + (var(--rows) - 1)*13rem);
}
.mediaMedium .TableSurveyContent_blank_a99f8 {
        height: calc(var(--rows)*80rem + (var(--rows) - 1)*13rem);
}

.TextArea_base_d2cae {
    width: 100%;
    position: relative;
}

.TextArea_textAreaWrapper_f674a {
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(69,68,55, .7);
    background-color: rgba(13,13,12, .7);
    transition: box-shadow .35s ease-in-out;
}

.TextArea_textAreaWrapper__focused_cf8e9 {
        box-shadow: 0 0 0 1rem #663c1f;
    }

.TextArea_textArea_fb0f6 {
    color: #C9C9B6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 100%;
    height: 100%;
    padding: 5rem 7rem 5rem 10rem;
    border: none;
    background-color: rgba(0,0,0, 0);
    line-height: 18rem;
}

.TextArea_textArea__disabled_eb743 {
        opacity: .3;
        pointer-events: none;
    }

.TextArea_textArea__hint_e4f46 {
        color: #5f5f56;
    }

.TextArea_textArea_fb0f6::selection {
        background-color: #8C8C7E;
        color: #37362E;
    }

.Answer_base_ef26c {
    display: flex;
    flex-direction: column;
    width: 534rem;
}

.Answer_header_bb116 {
    display: flex;
    justify-content: space-between;
    width: 534rem;
    height: 40rem;
    margin-top: -14rem;
}

.Answer_pointNameWrapper_a9c34 {
    display: flex;
    align-items: center;
}

.Answer_pointName_adf3a {
    color: #FEFEEC;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.Answer_point_c7272 {
    width: 80rem;
    height: 80rem;
    margin: -7rem 0 0 -19rem;
    background: center / cover no-repeat;
}

.Answer_point__1_e0791 {
            background-image: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.green_pin1');
        }

.Answer_point__2_cd254 {
            background-image: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.green_pin2');
        }

.Answer_point__3_f950b {
            background-image: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.green_pin3');
        }

.Answer_textArea_f45ee {
    width: 534rem;
    height: 100rem;
}

.Answer_closeButton_d384c {
    width: 32rem;
    height: 32rem;
    margin: 4rem -8rem 0 0;
    background: url('R.images.gui.maps.icons.components.text_button.close') no-repeat center / contain;
    position: relative;
}

.Answer_closeButton__overState_b9d49 {
        cursor: pointer;
    }

.Answer_glow_cbe88 {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.components.text_button.close_hover') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .16s;
}

.Answer_glow__overState_c801e:hover {
            opacity: 1;
        }

.Answers_base_c41a3 {
    width: 534rem;
    height: 420rem;
    position: relative;
}

.Answers_answers_fd095 {
    position: absolute;
    z-index: 3;
}

.Answers_answer_dc68a {
    width: 534rem;
    height: 130rem;
    position: absolute;
}

.InfoBlock_base_b6d3b {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450rem;
    height: 420rem;
}

.InfoBlock_arrow_aa24e {
    width: 250rem;
    height: 250rem;
    background: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.info_arrow') no-repeat center / contain;
    transform: rotate(180deg);
}

.InfoBlock_blocks_d38de {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-right: 36rem;
}

.InfoBlock_infoElement_b18e7 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 96rem;
}

.InfoBlock_infoElementText_ed9e1 {
    color: #FFDD99;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
    width: 220rem;
    margin-top: -2rem;
    text-align: left;
    text-shadow: 0 0 4rem rgba(255, 127, 0, .25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
}

.InfoBlock_infoIcon_ab031 {
    width: 80rem;
    height: 80rem;
    background: center / contain no-repeat;
}

.InfoBlock_infoIcon__hand_bdc31 {
        background-image: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.arm_map');
    }

.InfoBlock_infoIcon__point_ba1c9 {
        background-image: url('R.images.gui.maps.icons.mapbox.survey.template.interactiveMap.big_3pin');
    }

.InteractiveMapSurveyContent_base_c08dd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.InteractiveMapSurveyContent_rightBlock_d1aa7 {
    width: 534rem;
    height: 420rem;
    position: relative;
}

.InteractiveMapSurveyContent_answers_ce639 {
    position: absolute;
}

.MapImage_base_d2ba5 {
    width: 420rem;
    height: 420rem;
    position: relative;
}

.MapImage_imageBorder_a9039 {
    width: 1024rem;
    height: 600rem;
    margin: -81rem 0 0 -302rem;
    background: url('R.images.gui.maps.icons.mapbox.survey.template.image.borderShineMap') no-repeat center / contain;
    top: 50%;
    left: 50%;
    pointer-events: none;
}

.MapImage_image_fc3f2 {
    width: 418rem;
    height: 418rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 1rem;
    left: 1rem;
    pointer-events: none;
}

.MapImage_image__events_c59e7 {
        pointer-events: auto;
    }

.MapImage_image__hand_d18b0 {
        cursor: pointer;
    }

.MapBlock_base_a3f33 {
    width: 450rem;
    height: 420rem;
    position: relative;
}

.MapBlock_point_d6164 {
    width: 80rem;
    height: 80rem;
    position: absolute;
    pointer-events: none;
}

.MapBlock_point__hidden_e0331 {
        display: none;
    }

.OpenedQuestionContent_base_c808f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    .OpenedQuestionContent_base__small_da9f2 {
        padding-top: 25rem;
    }

    .mediaMedium .OpenedQuestionContent_base__small_da9f2 {
            padding-top: 0;
}

.OpenedQuestionContent_mapWrapper_d151d {
    width: 450rem;
    height: calc(2rem + var(--iconHeight));
    padding: 1rem 0 0 1rem;
    position: relative;
}

.OpenedQuestionContent_textWrapper_a98d0 {
    width: 420rem;
    height: calc(2rem + var(--iconHeight));
    z-index: 3;
}

.OpenedQuestionContent_textAreaSize_a563e {
    width: 420rem;
    height: calc(2rem + var(--iconHeight));
}

.OpenedQuestionContent_textAreaFont_d52fa {
    line-height: 17rem;
}

.OpenedQuestionContent_imageBorder_d14ff {
    width: 1024rem;
    height: 600rem;
    margin: -81rem 0 0 -302rem;
    background: url('R.images.gui.maps.icons.mapbox.survey.template.image.borderShineMap') no-repeat center / contain;
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.OpenedQuestionContent_image_c9c16 {
    width: 418rem;
    height: var(--iconHeight);
    background: no-repeat center / contain;
    z-index: 2;
    pointer-events: none;
}

.MultipleChoiceQuestionContent_base_df395 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1024rem;
}
    .mediaMedium .MultipleChoiceQuestionContent_base_df395 {
        width: 1200rem;
}

.MultipleChoiceQuestionContent_buttons_c2380 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.MultipleChoiceQuestionContent_toggle_eb975 {
    margin: 13rem 5rem;
}

.mediaMedium .MultipleChoiceQuestionContent_toggle_eb975 {
        margin: 15rem 10rem;
}

@keyframes App_fadeIn_f3b93 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes App_fadeInWithScale_af02f {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes App_slideUp_bc503 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes App_slideLeft_ce558 {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.App_base_c9260 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.App_container_b7d3a {
    opacity: 0;
    animation-name: App_fadeInWithScale_af02f;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.07, .82, .17, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.App_bg_d3047 {
    position: absolute;
    top: -6rem;
    right: -6rem;
    bottom: -6rem;
    left: -6rem;
    background: no-repeat 50% / cover;
    filter: blur(3rem);
    z-index: -1;
}

.App_blackout_fa9c4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, .8);
}

.App_blackout__emptyMap_abd9c {
        background-color: #000000;
    }

.App_close_cce00 {
    position: absolute;
    top: 40rem;
    right: 40rem;
}

.App_header_cce15 {
    width: 100%;
    position: absolute;
    top: 40rem;
    left: 0;
}

.mediaMedium .App_header_cce15 {
        top: 32rem;
}

.App_survey_b9e6d {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    z-index: 1;
}

.App_content_ac068 {
    margin-top: -70rem;
    z-index: 1;
}

.mediaLarge .App_content_ac068 {
        margin-top: -30rem;
}

.App_footer_bc82f {
    opacity: 0;
    animation-name: App_slideUp_bc503;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.07, .82, .17, 1);
    animation-delay: 1s;
    animation-iteration-count: 1;
    width: 100%;
    position: absolute;
    bottom: 50rem;
    z-index: 3;
    pointer-events: none;
}

.mediaMedium .App_footer_bc82f {
        bottom: 45rem;
}

.mediaLarge .App_footer_bc82f {
        bottom: 80rem;
}

.App_footer__clickable_b8df5 {
        pointer-events: auto;
    }

