.FormatText_base_f27a4 {
  display: flex;
  flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_a7528 {
  color: #000000;
}

.FormatTextWithColorTags_whiteReal_c93c4 {
  color: #ffffff;
}

.FormatTextWithColorTags_white_bff67 {
  color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_ba20a {
  color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_d6685 {
  color: #e9e2bf;
}

.FormatTextWithColorTags_par_b2500 {
  color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_b5531 {
  color: #595950;
}

.FormatTextWithColorTags_parTertiary_f91eb {
  color: #37362e;
}

.FormatTextWithColorTags_red_ef6d4 {
  color: #ff2717;
}

.FormatTextWithColorTags_redDark_fab5f {
  color: #b70000;
}

.FormatTextWithColorTags_yellow_b7f3d {
  color: #feab34;
}

.FormatTextWithColorTags_orange_c4526 {
  color: #ee7000;
}

.FormatTextWithColorTags_cream_ae09d {
  color: #ffdd99;
}

.FormatTextWithColorTags_brown_dd780 {
  color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f7a10 {
  color: #80d43a;
}

.FormatTextWithColorTags_green_f840d {
  color: #7ab300;
}

.FormatTextWithColorTags_greenDark_d2b50 {
  color: #497212;
}

.FormatTextWithColorTags_blueBooster_de02c {
  color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_ab670 {
  color: #09e2ff;
}

.FormatTextWithColorTags_cred_c1b4e {
  color: #ced9d9;
}

.FormatTextWithColorTags_gold_e35db {
  color: #ffc363;
}

.FormatTextWithColorTags_bond_bdcc0 {
  color: #c9c9b6;
}

.FormatTextWithColorTags_prom_e0cfe {
  color: #a29b70;
}

.BonusBattles_base_baeaa {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.BonusBattles_light_f2857 {
  width: 403rem;
  height: 92rem;
  background: url("R.images.gui.maps.icons.mode_selector.common.bonus_light") no-repeat 50% /
    contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.BonusBattles_divider_c3310 {
  width: 74rem;
  height: 1rem;
  background: url("R.images.gui.maps.icons.mode_selector.common.bonus_decoration") no-repeat 50% /
    contain;
}

.BonusBattles_divider__right_a2049 {
  transform: scaleX(-1);
}

.BonusBattles_icon_c8b44 {
  width: 16rem;
  height: 16rem;
  background: url("R.images.gui.maps.icons.rankedBattles.bonusIcons.c_16x16") no-repeat 50% /
    contain;
}

.BonusBattles_amount_d3dfb {
  color: #fefeec;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  min-width: 8rem;
  margin: -2rem 0 0 2rem;
}

.Rank_base_aa338 {
  position: relative;
  pointer-events: auto;
}

.Rank_icon_be9a7 {
  width: 58rem;
  height: 80rem;
  background: no-repeat 50% / contain;
}

.Rank_icon__small_c0c2e {
  width: 42rem;
  height: 56rem;
}

.Rank_icon__large_d46b9 {
  width: 80rem;
  height: 110rem;
}

.Rank_icon__next_ae1bb {
  filter: saturate(0);
}

.Rank_frame_a7ea0 {
  width: 74rem;
  height: 94rem;
  position: absolute;
  top: -8rem;
  left: -7rem;
}

.Rank_frame__small_cb74e {
  width: 50rem;
  height: 64rem;
  top: -4rem;
  left: -4rem;
}

.Rank_frame__large_a4c2a {
  width: 100rem;
  height: 130rem;
  top: -10rem;
  left: -10rem;
}

.Rank_unburnable_e5e1c {
  background: url("R.images.gui.maps.icons.rankedBattles.ranks.unburnable.small") no-repeat 50% /
    contain;
}

.Rank_unburnable__small_b9547 {
  background-image: url("R.images.gui.maps.icons.rankedBattles.ranks.unburnable.tiny");
}

.Rank_unburnable__large_bf29b {
  background-image: url("R.images.gui.maps.icons.rankedBattles.ranks.unburnable.medium");
}

.Rank_shield_a8360 {
  background: url("R.images.gui.maps.icons.rankedBattles.ranks.shields.small") no-repeat 50% /
    contain;
}

.Rank_shield__small_dad71 {
  background-image: url("R.images.gui.maps.icons.rankedBattles.ranks.shields.tiny");
}

.Rank_shield__large_d00c9 {
  background-image: url("R.images.gui.maps.icons.rankedBattles.ranks.shields.medium");
}

.Rank_hp_dc456 {
  color: #000000;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 22rem;
  background: url("R.images.gui.maps.icons.rankedBattles.ranks.shields.plate.empty.small") no-repeat
    50% / contain;
  font-weight: 700;
  position: absolute;
  top: -14rem;
  right: -12rem;
}

.Rank_hp__small_ca163 {
  color: #000000;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  width: 16rem;
  height: 18rem;
  background-image: url("R.images.gui.maps.icons.rankedBattles.ranks.shields.plate.empty.tiny");
  font-weight: 700;
  top: -8rem;
  right: -7rem;
}

.Rank_hp__large_e6d65 {
  color: #000000;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  width: 24rem;
  height: 28rem;
  background-image: url("R.images.gui.maps.icons.rankedBattles.ranks.shields.plate.empty.medium");
  font-weight: 700;
  top: -16rem;
  right: -14rem;
}

.Rank_hpValue_ab06d {
  margin-top: -2rem;
}

.Division_base_c7abf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290rem;
  height: 130rem;
  position: relative;
  pointer-events: auto;
}

.Division_base__extraSmall_f6928 {
  width: 166rem;
  height: 64rem;
}

.Division_base__small_c0a3d {
  width: 240rem;
  height: 64rem;
}

.Division_base__smedium_b2d95 {
  width: 240rem;
  height: 100rem;
}

.Division_base__medium_b0e0a {
  width: 290rem;
  height: 100rem;
}

.Division_base__large_e1c79 {
  width: 240rem;
  height: 130rem;
}

.Division_steps_df10c {
  display: flex;
  flex-direction: row;
  margin: 0 15rem;
}

.Division_steps__wide_b527f {
  margin: 0 25rem;
}

.Division_steps__side_d7aa5 {
  margin-left: -50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}

.Division_base__extraSmall_f6928 .Division_steps__side_d7aa5,
.Division_base__small_c0a3d .Division_steps__side_d7aa5 {
  margin-left: -30rem;
}

.Division_base__medium_b0e0a .Division_steps__side_d7aa5,
.Division_base__smedium_b2d95 .Division_steps__side_d7aa5 {
  margin-left: -40rem;
}

.Division_base__large_e1c79 .Division_steps__side_d7aa5 {
  margin-left: -51rem;
}

.Division_step_f3a5f {
  width: 100rem;
  height: 110rem;
  margin: 0 -43rem 0 -42rem;
  background: url("R.images.gui.maps.icons.mode_selector.common.ranks_step_normal_big") no-repeat
    50% / contain;
}

.Division_step__notReceived_f1bac {
  background-image: url("R.images.gui.maps.icons.mode_selector.common.ranks_step_disabled_big");
}

.Division_step__small_bd705 {
  width: 50rem;
  height: 55rem;
  margin: 0 -21rem;
  background-image: url("R.images.gui.maps.icons.mode_selector.common.ranks_step_normal_small");
}

.Division_step__small_bd705.Division_step__notReceived_f1bac {
  background-image: url("R.images.gui.maps.icons.mode_selector.common.ranks_step_disabled_small");
}

.RankedStat_base_a7faa {
  width: 50rem;
  height: 50rem;
  position: relative;
  pointer-events: auto;
}

.RankedStat_base__large_d5163 {
  width: 64rem;
  height: 64rem;
}

.RankedStat_icon_fc877 {
  width: 50rem;
  height: 50rem;
  background: no-repeat 50% / contain;
}

.RankedStat_icon__efficiency_e49a6 {
  background-image: url("R.images.gui.maps.icons.rankedBattles.stats.c_50.efficiency");
}

.RankedStat_icon__efficiency__large_cb0a8 {
  width: 64rem;
  height: 64rem;
  background-image: url("R.images.gui.maps.icons.rankedBattles.stats.c_64.efficiency");
}

.RankedStat_icon__position_ff7a4 {
  background-image: url("R.images.gui.maps.icons.rankedBattles.stats.c_50.position");
}

.RankedStat_icon__position__large_f1cb7 {
  width: 64rem;
  height: 64rem;
  background-image: url("R.images.gui.maps.icons.rankedBattles.stats.c_64.position");
}

.RankedStat_value_a3746 {
  color: #f2f2f7;
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(-50%);
  text-shadow:
    0 0 12rem rgba(242, 242, 247, 0.5),
    0 0 7rem rgba(242, 242, 247, 0.5);
  bottom: -3rem;
}

.RankedStat_value__medium_d5a5a {
  color: #fefeec;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  bottom: 2rem;
}

.RankedStat_value__small_f6005 {
  color: #fefeec;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  bottom: 14rem;
}

.RankedStat_delta_e59f8 {
  color: #80d43a;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  text-shadow:
    0 0 12rem rgba(128, 212, 58, 0.5),
    0 0 7rem rgba(128, 212, 58, 0.5);
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translate(-50%, 100%);
}

.RankedStat_delta__medium_a1c65 {
  color: #80d43a;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  bottom: 4rem;
}

.RankedStat_delta__small_fea71 {
  color: #80d43a;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  bottom: 15rem;
}

.RankedStat_delta__minus_eafe6 {
  color: #ff2717;
  text-shadow:
    0 0 12rem rgba(255, 39, 23, 0.5),
    0 0 7rem rgba(255, 39, 23, 0.5);
}

.RankedStat_arrow_ee8ac {
  width: 11rem;
  height: 16rem;
  margin: 1rem 2rem 0 0;
  background: url("R.images.gui.maps.icons.rankedBattles.league.delta_plus") no-repeat 50% / contain;
}

.RankedStat_arrow__minus_e817a {
  background-image: url("R.images.gui.maps.icons.rankedBattles.league.delta_minus");
}

.League_base_fdca1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290rem;
  height: 130rem;
  position: relative;
  pointer-events: auto;
}

.League_base__extraSmall_c212d,
.League_base__tiny_b83f7 {
  align-items: flex-start;
  width: 166rem;
  height: 64rem;
}

.League_base__small_b3dce {
  align-items: flex-start;
  width: 240rem;
  height: 64rem;
}

.League_base__smedium_a4133 {
  width: 240rem;
  height: 100rem;
}

.League_base__medium_c15bb {
  width: 290rem;
  height: 100rem;
}

.League_base__large_bf94f {
  width: 240rem;
  height: 130rem;
}
.League_icon_af410 {
  width: 100rem;
  height: 100rem;
  margin: 0 16rem;
  background: no-repeat 50% / contain;
}
.League_base__small_b3dce .League_icon_af410,
.League_base__extraSmall_c212d .League_icon_af410,
.League_base__tiny_b83f7 .League_icon_af410 {
  width: 64rem;
  height: 64rem;
  margin: 0;
}
.League_base__large_bf94f .League_icon_af410 {
  width: 130rem;
  height: 130rem;
  margin: 0 5rem;
}
.League_base__extraLarge_e9593 .League_icon_af410 {
  width: 130rem;
  height: 130rem;
  margin: 0 16rem;
}

.RankedWidget_base_af3f7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.RankedWidget_qualBattles_dc707 {
  color: #e9e2bf;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  text-shadow:
    0 1rem 2rem #000000,
    0 0 3rem #000000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.RankedWidget_qualBattles__b0_c1f94,
.RankedWidget_qualBattles__b1_c1d30 {
  top: 125rem;
}

.RankedWidget_qualBattles__b0__medium_c913e,
.RankedWidget_qualBattles__b1__medium_fb67c {
  top: 70rem;
}

.RankedWidget_qualBattles__b0__extraSmall_a7c74,
.RankedWidget_qualBattles__b0__small_ead2a,
.RankedWidget_qualBattles__b1__extraSmall_e6ef3,
.RankedWidget_qualBattles__b1__small_ca79e {
  color: #e9e2bf;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  top: 94rem;
}

.RankedWidget_qualBattles__b2_cdf5b {
  top: 60rem;
}

.RankedWidget_qualBattles__b2__medium_e7452 {
  top: 57rem;
}

.RankedWidget_qualBattles__b2__extraSmall_bfad1,
.RankedWidget_qualBattles__b2__small_ac28a {
  color: #e9e2bf;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  top: 33rem;
}

.RankedWidget_qualBattles__b3_e45bf {
  top: 55rem;
}

.RankedWidget_qualBattles__b3__medium_dc20c {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  top: 45rem;
}

.RankedWidget_qualBattles__b3__extraSmall_f44b7,
.RankedWidget_qualBattles__b3__small_c7ff7 {
  color: #e9e2bf;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  top: 30rem;
}

.RankedWidget_qualBattles__b4_ed699 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  top: 32rem;
}

.RankedWidget_qualBattles__b4__medium_baa15 {
  top: 26rem;
}

.RankedWidget_qualBattles__b4__extraSmall_a799f,
.RankedWidget_qualBattles__b4__small_a5c7f {
  color: #e9e2bf;
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
  top: 22rem;
}

.RankedWidget_ranks__b0_b25e7,
.RankedWidget_ranks__b1_fe8ed {
  margin-top: 146rem;
}

.RankedWidget_ranks__b0__medium_bf959,
.RankedWidget_ranks__b1__medium_fb234 {
  margin-top: 104rem;
}

.RankedWidget_ranks__b0__extraSmall_e993c,
.RankedWidget_ranks__b0__small_aa868,
.RankedWidget_ranks__b1__extraSmall_e245c,
.RankedWidget_ranks__b1__small_bd702 {
  margin-top: 112rem;
}

.RankedWidget_ranks__b2_d1c5c {
  margin-top: 10rem;
}

.RankedWidget_ranks__b2__medium_d314a {
  margin-top: 25rem;
}

.RankedWidget_ranks__b2__extraSmall_c95e4,
.RankedWidget_ranks__b2__small_d0249 {
  margin-top: 12rem;
}

.RankedWidget_ranks__b3_bdddd {
  margin-top: 7rem;
}

.RankedWidget_ranks__b3__medium_c24e3 {
  margin-top: 13rem;
}

.RankedWidget_ranks__b3__extraSmall_e32b1,
.RankedWidget_ranks__b3__small_a63e8 {
  margin-top: 2rem;
}

.RankedWidget_ranks__b4_a7bc2 {
  margin-top: 12rem;
}

.RankedWidget_ranks__b4__medium_fd2f4 {
  margin-top: 7rem;
}

.RankedWidget_ranks__b4__extraSmall_f1b4d,
.RankedWidget_ranks__b4__small_d733a {
  margin-top: 1rem;
  transform: scale(0.75);
}

.RankedWidget_ranks__qual__b0__medium_d9458,
.RankedWidget_ranks__qual__b1__medium_e058a {
  margin-top: 90rem;
}

.RankedWidget_ranks__qual__b2__medium_b3feb {
  margin-top: 23rem;
}

.RankedWidget_ranks__qual__b3__extraLarge_de881,
.RankedWidget_ranks__qual__b3__large_d6a96 {
  margin-top: 20rem;
}

.RankedWidget_ranks__qual__b3__medium_d3e2f {
  margin-top: 26rem;
}

.RankedWidget_ranks__qual__b3__extraSmall_d30ae,
.RankedWidget_ranks__qual__b3__small_e63f7 {
  margin-top: 10rem;
}

.RankedWidget_bonus_f5916 {
  position: absolute;
  bottom: 20rem;
  left: 50%;
  transform: translateX(-50%);
}

.RankedWidget_bonus__b0_bd954,
.RankedWidget_bonus__b1_a3740 {
  bottom: 302rem;
}

.RankedWidget_bonus__b0__extraSmall_ba800,
.RankedWidget_bonus__b0__small_ae876,
.RankedWidget_bonus__b1__extraSmall_fc5ec,
.RankedWidget_bonus__b1__small_ff705 {
  bottom: 181rem;
}

.RankedWidget_bonus__b0__medium_cec85,
.RankedWidget_bonus__b1__medium_b6cf8 {
  bottom: 226rem;
}

.RankedWidget_bonus__b2_d5405 {
  bottom: 118rem;
}

.RankedWidget_bonus__b2__extraSmall_c9dc0,
.RankedWidget_bonus__b2__small_e1265 {
  bottom: 80rem;
}

.RankedWidget_bonus__b2__medium_b2523 {
  bottom: 81rem;
}

.RankedWidget_bonus__b5__extraSmall_a46bc,
.RankedWidget_bonus__b5__small_b73c7 {
  bottom: 13rem;
}

.RankedWidget_bonus__b6__extraSmall_b8819,
.RankedWidget_bonus__b6__small_b28c2 {
  bottom: 7rem;
}
