.FormatText_base_f27a4 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_ae104 {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_c12a8 {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_c5665 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_fff65 {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_d24b3 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_ee7d9 {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_a5b8c {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a0c09 {
    color: #37362E;
}

.FormatTextWithColorTags_red_ad70c {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_afb30 {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_e47d1 {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_e08c4 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_f2e96 {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_ed7be {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_b0875 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_d0263 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_f19b8 {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_fd3be {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_fd915 {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_fdafa {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_ab90e {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_e83f5 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_aa30c {
    color: #A29B70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_bf7ac {
    width: 0;
    color: #8C8C7E;
}

.Icon_base_bfe62 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SimpleTextApp_base_e1cc6 {
    text-align: center;
}

.SimpleTextApp_formatText_bfadc {
    justify-content: center;
    align-items: flex-start;
}

