.AdditionalReward_base_6a {
  position: relative;
  z-index: 0;
}

.AdditionalReward_info_51 {
  color: #ffdd99;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaMedium .AdditionalReward_info_51 {
  color: #ffdd99;
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}

.AdditionalReward_infoIco_60 {
  width: 24rem;
  height: 24rem;
  background: url("R.images.gui.maps.icons.resourceWell.icon_info") no-repeat center / contain;
  transform: translateY(2rem);
}

.AdditionalReward_content_7d {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  position: relative;
}

.AdditionalReward_shadow_15 {
  width: 460rem;
  height: 162rem;
  background: url("R.images.gui.maps.icons.resourceWell.award.number_shadow") no-repeat center /
    contain;
  position: absolute;
  left: 50%;
  z-index: -2;
  pointer-events: none;
}

.AdditionalReward_shadow__top_26 {
  top: -59rem;
  transform: translateX(-50%) rotate(180deg);
}

.mediaExtraLarge .AdditionalReward_shadow__top_26 {
  top: -58rem;
}

.AdditionalReward_shadow__bottom_50 {
  bottom: -59rem;
  transform: translateX(-50%);
}

.AdditionalReward_bg_ea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("R.images.gui.maps.icons.resourceWell.award.bg_s") no-repeat center / contain;
  z-index: -1;
}

.mediaLarge .AdditionalReward_bg_ea {
  background-image: url("R.images.gui.maps.icons.resourceWell.award.bg_m");
}

.AdditionalReward_glow_a2 {
  width: 180rem;
  height: 180rem;
  mix-blend-mode: screen;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.mediaLarge .AdditionalReward_glow_a2 {
  width: 220rem;
  height: 220rem;
}

.AdditionalReward_reward_37 {
  width: 642rem;
  height: 96rem;
  background: url("R.images.gui.maps.icons.resourceWell.award.number_3") no-repeat center / 642rem
    96rem;
}

.mediaLarge .AdditionalReward_reward_37 {
  width: 670rem;
  height: 128rem;
}

.AdditionalReward_reward__digits4_92 {
  background-image: url("R.images.gui.maps.icons.resourceWell.award.number_4");
}

.AdditionalReward_reward__digits5_8c {
  background-image: url("R.images.gui.maps.icons.resourceWell.award.number_5");
}

.AdditionalReward_tooltip_6a {
  width: 150rem;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.mediaLarge .AdditionalReward_tooltip_6a {
  width: 180rem;
}

.AdditionalReward_number_a3 {
  color: #fdc37e;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-shadow:
    0px 0px 3px rgba(255, 66, 0, 0.6),
    0px 0px 11px rgba(208, 24, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -60%);
}

.AdditionalReward_numberDigit_31 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 40rem;
  margin: 4rem 1.6rem 0;
  color: #ff9fa7;
  font-weight: 400;
  text-shadow:
    0 0 2rem #f00,
    0 0 2rem #f00;
}
