/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
  width: 100%;
  height: 12rem;
  position: relative;
}
.ProgressBar_base__medium_62 {
  height: 6rem;
}
.ProgressBar_base__small_df {
  height: 2rem;
}
.ProgressBar_background_51 {
  width: 100%;
  max-width: 8001px;
  height: 100%;
  background-image: var(--progress-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 0;
  left: 0;
}
.ProgressBar_background__medium_6e {
  height: 6rem;
}
.ProgressBar_background__small_46 {
  height: 2rem;
}
.ProgressBar_lineWrapper_6a {
  display: flex;
  flex: 1;
}

.ProgressBarBlink_base_24 {
  width: 60rem;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  pointer-events: none;
}

.ProgressBarBlink_base__medium_ec {
  width: 42rem;
  height: 70rem;
}

.ProgressBarBlink_base__small_0f {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
  max-width: 8001px;
  height: 100%;
  background-color: var(--progress-line-base);
  position: relative;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
  background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
  background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
  max-width: 8001px;
  background-image: var(--progress-pattern-base);
  background-repeat: repeat;
  background-position: 0 50%;
  background-size: 3rem 10rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-disabled);
  left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
  background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
  max-width: 8001px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
  mix-blend-mode: overlay;
  position: absolute;
  top: 1rem;
  right: 0;
  bottom: 1rem;
  left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
  top: 0;
  bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
  display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0.5)
  );
}
.ProgressLineImpose_glow_a5 {
  width: 60rem;
  max-width: 8001px;
  height: 100rem;
  background-image: var(--progress-glow);
  background-size: contain;
  mix-blend-mode: lighten;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
  left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
  display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
  width: 44rem;
  height: 43rem;
  background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
  transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
  width: 0;
  max-width: 8001px;
  height: 100%;
  box-shadow: var(--progress-delta-shadow);
  background-color: var(--progress-delta-color);
  position: absolute;
  bottom: 0;
  transform-origin: right center;
  transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
  transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
  transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

.Card_base_9d {
  display: flex;
  align-items: center;
  width: 320rem;
  height: 60rem;
  padding-right: 14rem;
  background: url("R.images.gui.maps.icons.missions.daily.widgets.big_bg_bonus") no-repeat 50% /
    cover;
  position: relative;
  cursor: pointer;
}
.Card_border_65 {
  background-image: linear-gradient(135deg, transparent 1%, #ffffff 87%, transparent 87%);
  clip-path: polygon(
    0 0,
    320rem 0,
    320rem 1rem,
    1rem 1rem,
    1rem 59rem,
    320rem 59rem,
    320rem 60rem,
    0 60rem,
    0 0
  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Card_border__show_99 {
  animation: Card_borderSlide_4f 1s cubic-bezier(0.21, 0.61, 0.35, 1) 0.15s both;
}
.Card_hoverBg_70 {
  background: url("R.images.gui.maps.icons.missions.daily.widgets.big_bg_onhover") no-repeat 50% /
    contain;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.1s ease-in-out;
}
.Card_base_9d:hover .Card_hoverBg_70 {
  opacity: 0.4;
}
.Card_icon_79 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32rem;
  height: 32rem;
  margin: 14rem;
  background: url("R.images.gui.maps.icons.bootcamp.progress.start_32") no-repeat 50% / contain;
  position: relative;
}
.Card_description_2f {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Card_progressCounter_a9 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
}
.Card_current_35 {
  color: #feab34;
}
.Card_separator_66 {
  margin: 0 2rem;
}
.Card_progressBar_49 {
  margin: 4rem 0 0 2rem;
}
@keyframes Card_borderSlide_4f {
  from {
    opacity: 1;
    transform: translateX(-320rem);
  }

  to {
    opacity: 0;
    transform: translateX(0);
  }
}

.BootcampQuestWidgetApp_base_07 {
  display: flex;
  margin: 1rem;
  overflow: hidden;
}
