/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Particles_b7c425ba {
  pointer-events: none;
}

.Particles_video_dadccd98 {
  position: absolute;
  bottom: 0;
}
.Particles_video__glow_27caffe2,
.Particles_video__sparks_390a3794 {
  left: 50%;
  transform: translateX(-50%);
}
.Particles_video__glow_27caffe2 {
  width: 1024rem;
  filter: brightness(200%);
  opacity: 0.3;
}
.Particles_video__sparks_390a3794,
.Particles_video__newCampaignSparks_b536df1c {
  filter: brightness(150%);
}
.Particles_video__newCampaignGlow_6d8cdfa1,
.Particles_video__newCampaignSparks_b536df1c {
  width: 512rem;
  height: 512rem;
  left: 50%;
  transform: translateX(74rem);
}
.mediaMedium .Particles_video__newCampaignGlow_6d8cdfa1,
.mediaMedium .Particles_video__newCampaignSparks_b536df1c {
  transform: translateX(142rem);
}
.mediaLarge .Particles_video__newCampaignGlow_6d8cdfa1,
.mediaLarge .Particles_video__newCampaignSparks_b536df1c {
  transform: translateX(211rem);
}
.mediaExtraLarge .Particles_video__newCampaignGlow_6d8cdfa1,
.mediaExtraLarge .Particles_video__newCampaignSparks_b536df1c {
  transform: translateX(402rem);
}
.Particles_video__newCampaignGlow_6d8cdfa1 {
  filter: brightness(200%);
  opacity: 0.5;
}

.Particles_wrapper_7a6969a2 {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  transition: opacity 1s;
}
.Particles_wrapper__hidden_efb078a7 {
  opacity: 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Background_81dbcfb6 {
  display: flex;
  width: 1640rem;
  height: 956rem;
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.mediaMedium .Background_81dbcfb6 {
  width: 2010rem;
  height: 1172rem;
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_medium);
}
.mediaLarge .Background_81dbcfb6 {
  width: 2404rem;
  height: 1400rem;
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_large);
}
.mediaExtraLarge .Background_81dbcfb6 {
  width: 3160rem;
  height: 1840rem;
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_extraLarge);
}
.media-upscale .Background_81dbcfb6 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_extraLarge);
}

.Background_lightLeft_cac88ec4,
.Background_lightRight_5a3c0254 {
  background: no-repeat center/contain;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.Background_base__locked_26effab7 .Background_lightLeft_cac88ec4,
.Background_base__completedWithHonor_26effab7 .Background_lightLeft_cac88ec4,
.Background_base__locked_26effab7 .Background_lightRight_5a3c0254,
.Background_base__completedWithHonor_26effab7 .Background_lightRight_5a3c0254 {
  opacity: 1;
}

.Background_lightLeft_cac88ec4 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_left);
}
.mediaMedium .Background_lightLeft_cac88ec4 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_left_medium);
}
.mediaLarge .Background_lightLeft_cac88ec4 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_left_large);
}
.mediaExtraLarge .Background_lightLeft_cac88ec4 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_left_extraLarge);
}
.media-upscale .Background_lightLeft_cac88ec4 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_left_extraLarge);
}

.Background_lightRight_5a3c0254 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_right);
}
.mediaMedium .Background_lightRight_5a3c0254 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_right_medium);
}
.mediaLarge .Background_lightRight_5a3c0254 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_right_large);
}
.mediaExtraLarge .Background_lightRight_5a3c0254 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_right_extraLarge);
}
.media-upscale .Background_lightRight_5a3c0254 {
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.background_right_extraLarge);
}

.Background_content_6c5e4ec3 {
  width: 1050rem;
  height: 385rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mediaMedium .Background_content_6c5e4ec3 {
  width: 1290rem;
  height: 470rem;
}
.mediaLarge .Background_content_6c5e4ec3 {
  width: 1525rem;
  height: 570rem;
}
.mediaExtraLarge .Background_content_6c5e4ec3 {
  width: 2002rem;
  height: 738rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Threads_8f7c55a4 {
  width: 100%;
  height: 100%;
}

.Threads_image_bd974d01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.OperationCard_f80d92be {
  position: relative;
}

.OperationCard_background_82f0a58d {
  width: 172rem;
  height: 172rem;
  background: no-repeat center/contain;
  filter: brightness(1);
  transition: filter 0.4s cubic-bezier(0.1, 0.7, 0.7, 1);
}
.mediaMedium .OperationCard_background_82f0a58d {
  width: 210rem;
  height: 210rem;
}
.mediaLarge .OperationCard_background_82f0a58d {
  width: 250rem;
  height: 250rem;
}
.mediaExtraLarge .OperationCard_background_82f0a58d {
  width: 330rem;
  height: 330rem;
}
.OperationCard_base__third_dcb7ac10 .OperationCard_background_82f0a58d {
  width: 144rem;
  height: 144rem;
}
.mediaMedium .OperationCard_base__third_dcb7ac10 .OperationCard_background_82f0a58d {
  width: 176rem;
  height: 176rem;
}
.mediaLarge .OperationCard_base__third_dcb7ac10 .OperationCard_background_82f0a58d {
  width: 212rem;
  height: 212rem;
}
.mediaExtraLarge .OperationCard_base__third_dcb7ac10 .OperationCard_background_82f0a58d {
  width: 280rem;
  height: 280rem;
}
.OperationCard_background__dark_f4047eec {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.OperationCard_badge_f518b903,
.OperationCard_alert_dcb7ac10,
.OperationCard_sparks_dcb7ac10,
.OperationCard_glowHover_bb419c45,
.OperationCard_maskedArea_676613e3 {
  position: absolute;
  pointer-events: none;
}

.OperationCard_badge_f518b903 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.OperationCard_badge__dark_e9065fb1 {
  opacity: 1;
}

.OperationCard_wrapper_545a72bd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 60rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 48rem;
  left: 55rem;
}
.mediaMedium .OperationCard_wrapper_545a72bd {
  top: 66rem;
  left: 73rem;
}
.mediaLarge .OperationCard_wrapper_545a72bd {
  top: 83rem;
  left: 93rem;
}
.mediaExtraLarge .OperationCard_wrapper_545a72bd {
  top: 121rem;
  left: 131rem;
}
.OperationCard_base__third_dcb7ac10 .OperationCard_wrapper_545a72bd {
  top: 40rem;
  left: 40rem;
}
.mediaMedium .OperationCard_base__third_dcb7ac10 .OperationCard_wrapper_545a72bd {
  top: 55rem;
  left: 55rem;
}
.mediaLarge .OperationCard_base__third_dcb7ac10 .OperationCard_wrapper_545a72bd {
  top: 73rem;
  left: 73rem;
}
.mediaExtraLarge .OperationCard_base__third_dcb7ac10 .OperationCard_wrapper_545a72bd {
  top: 105rem;
  left: 105rem;
}

.OperationCard_name_28d35292 {
  color: #1e1a17;
  font-size: 15rem;
  font-weight: 500;
  position: absolute;
  bottom: 46rem;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 200ms ease-in-out;
}
.mediaMedium .OperationCard_name_28d35292 {
  font-size: 18rem;
  bottom: 56rem;
  left: 103rem;
}
.mediaLarge .OperationCard_name_28d35292 {
  font-size: 22rem;
  bottom: 67rem;
  left: 122rem;
}
.mediaExtraLarge .OperationCard_name_28d35292 {
  font-size: 26rem;
  bottom: 91rem;
  left: 161rem;
}
.OperationCard_base__third_dcb7ac10 .OperationCard_name_28d35292 {
  bottom: 11rem;
  left: 74rem;
}
.mediaMedium .OperationCard_base__third_dcb7ac10 .OperationCard_name_28d35292 {
  bottom: 14rem;
  left: 90rem;
}
.mediaLarge .OperationCard_base__third_dcb7ac10 .OperationCard_name_28d35292 {
  bottom: 17rem;
  left: 109rem;
}
.mediaExtraLarge .OperationCard_base__third_dcb7ac10 .OperationCard_name_28d35292 {
  bottom: 26rem;
  left: 143rem;
}
.OperationCard_base__light_dcb7ac10 .OperationCard_name_28d35292 {
  opacity: 0.75;
}
.OperationCard_base__active_dcb7ac10.OperationCard_base__firstTwo_dcb7ac10
  .OperationCard_name_28d35292 {
  bottom: 29rem;
}
.mediaMedium
  .OperationCard_base__active_dcb7ac10.OperationCard_base__firstTwo_dcb7ac10
  .OperationCard_name_28d35292 {
  bottom: 36rem;
  left: 103rem;
}
.mediaLarge
  .OperationCard_base__active_dcb7ac10.OperationCard_base__firstTwo_dcb7ac10
  .OperationCard_name_28d35292 {
  bottom: 43rem;
  left: 122rem;
}
.mediaExtraLarge
  .OperationCard_base__active_dcb7ac10.OperationCard_base__firstTwo_dcb7ac10
  .OperationCard_name_28d35292 {
  bottom: 60rem;
  left: 159rem;
}
.OperationCard_base__active_dcb7ac10.OperationCard_base__third_dcb7ac10
  .OperationCard_name_28d35292 {
  left: 73rem;
}
.mediaMedium
  .OperationCard_base__active_dcb7ac10.OperationCard_base__third_dcb7ac10
  .OperationCard_name_28d35292 {
  bottom: 14rem;
  left: 90rem;
}
.mediaLarge
  .OperationCard_base__active_dcb7ac10.OperationCard_base__third_dcb7ac10
  .OperationCard_name_28d35292 {
  bottom: 17rem;
  left: 108rem;
}
.mediaExtraLarge
  .OperationCard_base__active_dcb7ac10.OperationCard_base__third_dcb7ac10
  .OperationCard_name_28d35292 {
  bottom: 26rem;
  left: 143rem;
}

.OperationCard_hoverArea_c18fdca8 {
  width: 45%;
  height: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.OperationCard_base__third_dcb7ac10 .OperationCard_hoverArea_c18fdca8 {
  width: 70%;
  height: 70%;
  transform: translate(-54%, -44%);
}
.OperationCard_base__active_dcb7ac10.OperationCard_base__firstTwo_dcb7ac10
  .OperationCard_hoverArea_c18fdca8 {
  width: 60%;
  height: 56%;
  transform: translate(-51%, -44%);
}
.OperationCard_base__active_dcb7ac10.OperationCard_base__third_dcb7ac10
  .OperationCard_hoverArea_c18fdca8 {
  width: 96%;
  height: 85%;
  transform: translate(-51%, -50%);
}
.OperationCard_hoverArea__available_dcb7ac10:hover {
  cursor: pointer;
}
.OperationCard_hoverArea__available_dcb7ac10:hover ~ .OperationCard_background_82f0a58d {
  filter: brightness(1.2);
}
.OperationCard_hoverArea__available_dcb7ac10:hover ~ .OperationCard_glowHover_bb419c45 {
  opacity: 1;
}
.OperationCard_hoverArea__available_dcb7ac10:hover
  ~ .OperationCard_maskedArea_676613e3
  .OperationCard_glareHover_ccf115c7 {
  transform: rotate(20deg) translate(-20%, -24%);
  transition-timing-function: cubic-bezier(0.1, 0.7, 0.7, 1);
}

.OperationCard_glowHover_bb419c45 {
  width: 76%;
  height: 66%;
  border-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.card_glow) 60
    fill/60rem;
  opacity: 0;
  mix-blend-mode: overlay;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-52%, -56%);
  transition: opacity 0.4s cubic-bezier(0.1, 0.7, 0.7, 1);
}
.mediaMedium .OperationCard_glowHover_bb419c45 {
  border-image-width: 75rem;
}
.mediaLarge .OperationCard_glowHover_bb419c45 {
  border-image-width: 90rem;
}
.mediaExtraLarge .OperationCard_glowHover_bb419c45 {
  border-image-width: 110rem;
}
.OperationCard_base__third_dcb7ac10 .OperationCard_glowHover_bb419c45 {
  width: 110%;
  height: 90%;
  transform: translate(-49%, -52%);
}
.OperationCard_base__active_dcb7ac10.OperationCard_base__firstTwo_dcb7ac10
  .OperationCard_glowHover_bb419c45 {
  width: 96%;
  height: 74%;
  transform: translate(-52%, -52%);
}
.OperationCard_base__active_dcb7ac10.OperationCard_base__third_dcb7ac10
  .OperationCard_glowHover_bb419c45 {
  width: 140%;
  height: 114%;
  transform: translate(-51%, -58%);
}

.OperationCard_maskedArea_676613e3 {
  width: 38%;
  height: 26%;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -69%);
  pointer-events: none;
}
.OperationCard_base__third_dcb7ac10 .OperationCard_maskedArea_676613e3 {
  width: 69%;
  height: 47%;
  transform: translate(-50%, -50%);
}
.OperationCard_base__active_dcb7ac10.OperationCard_base__firstTwo_dcb7ac10
  .OperationCard_maskedArea_676613e3 {
  width: 54%;
  height: 36%;
  transform: translate(-53%, -56%);
}
.OperationCard_base__active_dcb7ac10.OperationCard_base__third_dcb7ac10
  .OperationCard_maskedArea_676613e3 {
  width: 88%;
  height: 60%;
  transform: translate(-52%, -63%);
}

.OperationCard_glareHover_ccf115c7,
.OperationCard_glareAttention_49917f45 {
  width: 150%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -1%,
    rgba(255, 255, 255, 0.3) 42%,
    rgba(255, 255, 255, 0.6) 78%,
    rgba(255, 255, 255, 0) 87%
  );
  opacity: 0.4;
  mix-blend-mode: screen;
}

.OperationCard_glareAttention_49917f45 {
  pointer-events: none;
}

.OperationCard_glareHover_ccf115c7 {
  transform: rotate(20deg) translate(-20%, -120%);
  transition: transform 0.4s cubic-bezier(0.7, 0.1, 1, 0.7);
}
.OperationCard_base__dark_dcb7ac10 .OperationCard_glareHover_ccf115c7 {
  opacity: 0.2;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Operation_campaignCard_8ac4ca25 {
  z-index: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Campaign_b9d0bb1c {
  position: relative;
}

.Campaign_threads_204a77c9 {
  position: absolute;
  top: 0;
  left: 0;
}

.Campaign_arrow_7ed28fa8,
.Campaign_operation_5f4543bc {
  position: absolute;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_d6e1c064 {
  width: 100%;
  height: 100%;
  position: relative;
}

.Content_videoWrapper_3b55dd2b {
  width: 512rem;
  height: 256rem;
  position: absolute;
  top: -145rem;
  z-index: 1;
  pointer-events: none;
}
.Content_base__firstTwo_da09528a .Content_videoWrapper_3b55dd2b {
  left: 150rem;
}
.Content_base__third_da09528a .Content_videoWrapper_3b55dd2b,
.Content_base__completedWithHonor_da09528a .Content_videoWrapper_3b55dd2b,
.Content_base__locked_da09528a .Content_videoWrapper_3b55dd2b {
  right: -60rem;
}

.Content_video_112ed3f2 {
  width: 100%;
  height: 100%;
}

.Content_campaign_697bf9ad {
  height: 100%;
  position: absolute;
}
.Content_campaign__first_6b0c43f0 {
  width: 295rem;
  left: 15rem;
}
.mediaMedium .Content_campaign__first_6b0c43f0 {
  width: 360rem;
  left: 20rem;
}
.mediaLarge .Content_campaign__first_6b0c43f0 {
  width: 430rem;
  left: 15rem;
}
.mediaExtraLarge .Content_campaign__first_6b0c43f0 {
  width: 563rem;
  left: 25rem;
}
.Content_campaign__second_d4ebfd7b {
  width: 290rem;
  left: 310rem;
}
.mediaMedium .Content_campaign__second_d4ebfd7b {
  width: 360rem;
  left: 380rem;
}
.mediaLarge .Content_campaign__second_d4ebfd7b {
  width: 435rem;
  left: 445rem;
}
.mediaExtraLarge .Content_campaign__second_d4ebfd7b {
  width: 572rem;
  left: 589rem;
}
.Content_campaign__third_5147ffb6 {
  width: 390rem;
  left: 655rem;
  transform: translate(-2rem, -12rem);
}
.mediaMedium .Content_campaign__third_5147ffb6 {
  width: 480rem;
  left: 805rem;
}
.mediaLarge .Content_campaign__third_5147ffb6 {
  width: 585rem;
  left: 942rem;
  transform: translateY(-12rem);
}
.mediaExtraLarge .Content_campaign__third_5147ffb6 {
  width: 766rem;
  left: 1238rem;
  transform: translate(-1rem, -15rem);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Completed_3554cb33 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Completed_icon_b7a72552 {
  transform: translateY(55rem);
}
.mediaLarge .Completed_icon_b7a72552 {
  transform: translateY(78rem);
}

.Completed_title_b2013ee0 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
  line-height: 56rem;
}
.mediaLarge .Completed_title_b2013ee0 {
  font-size: 73rem;
  line-height: 73rem;
}

.Completed_subtitle_446b5d0f {
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-size: 20rem;
  font-weight: 600;
}
.mediaLarge .Completed_subtitle_446b5d0f {
  font-size: 24rem;
}

.Completed_fireParticles_4048a7dc {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  pointer-events: none;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Locked_33fcc4e0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 845rem;
  height: 41rem;
  background: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.lock_background)
    no-repeat center/contain;
  position: relative;
}
.mediaLarge .Locked_33fcc4e0 {
  height: 60rem;
  background-image: url(R.images.gui.maps.icons.personal_missions_30.campaign_selector.lock_background_big);
  font-size: 26rem;
}

.Locked_icon_2a64ac0 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55rem);
}
.mediaLarge .Locked_icon_2a64ac0 {
  transform: translate(-50%, -61rem);
}

.Locked_subtitle_2b8a289f {
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 20rem;
  font-weight: 600;
  z-index: 1;
}
.mediaLarge .Locked_subtitle_2b8a289f {
  font-size: 26rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Congratulations_d8cbc768 {
  display: flex;
  justify-content: center;
  min-width: 800rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-size: 20rem;
  font-weight: 400;
  position: absolute;
  bottom: -8rem;
  left: 50%;
  transform: translateX(-50%);
}
.mediaLarge .Congratulations_d8cbc768 {
  font-size: 26rem;
}

.Congratulations_status_c5e8d951 {
  margin-left: 12rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Control_9644b6b9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -76rem;
  left: 50%;
  transform: translateX(-50%);
}
.mediaLarge .Control_9644b6b9 {
  top: -100rem;
}

.Control_status_40fde3b8 {
  display: flex;
  justify-content: center;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-size: 22rem;
  font-weight: 600;
}
.mediaLarge .Control_status_40fde3b8 {
  font-size: 26rem;
  line-height: 36rem;
}
.Control_base__firstTimeEntrance_da09528a .Control_status_40fde3b8 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.Control_base__blocked_da09528a .Control_status_40fde3b8 {
  pointer-events: none;
}

.Control_wrapper_76264813 {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  overflow: hidden;
}

.Control_buttonContent_8e527c3 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.Control_base__firstTimeEntrance_da09528a .Control_buttonContent_8e527c3 {
  color: rgba(0, 0, 0, 0.9);
}

.Control_alert_4069240a {
  margin-left: 6rem;
}

.Control_info_a90b2e50 {
  transform: translateX(-2rem);
}
.mediaMedium .Control_info_a90b2e50 {
  transform: translate(-2rem, 1rem);
}
.mediaLarge .Control_info_a90b2e50 {
  transform: translate(-2rem, 2rem);
}

.Control_glareAttention_8e622eb7 {
  width: 200%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) -1%,
    rgba(255, 255, 255, 0.3) 42%,
    rgba(255, 255, 255, 0.6) 78%,
    rgba(255, 255, 255, 0) 87%
  );
  opacity: 1;
  position: absolute;
  top: auto;
  left: auto;
  pointer-events: none;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Switcher_b045409e {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Switcher_content_b19c6c99 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Switcher_content__left_bd242217 {
  transform: translate(-50%, 0);
}
.Switcher_base__firstTwo_9ba1e4f .Switcher_content__left_bd242217,
.Switcher_base__firstTimeEntrance_9ba1e4f .Switcher_content__left_bd242217 {
  opacity: 0;
  pointer-events: none;
}
.Switcher_content__right_52928bd0 {
  transform: translate(50%, 0);
}
.Switcher_base__third_9ba1e4f .Switcher_content__right_52928bd0 {
  opacity: 0;
  pointer-events: none;
}
.Switcher_base__firstTimeEntrance_9ba1e4f .Switcher_content__right_52928bd0 {
  opacity: 1;
  pointer-events: auto;
}

.Switcher_base__firstTimeEntrance_9ba1e4f
  .Switcher_content__left_bd242217.Switcher_content__visible_fb2be705 {
  opacity: 1;
  pointer-events: auto;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Footer_d2687e3 {
  position: relative;
}
.Footer_base__firstTwo_4308958a,
.Footer_base__default_4308958a,
.Footer_base__third_6ab8fda8 {
  width: 550rem;
  height: 150rem;
}
.mediaMedium .Footer_base__firstTwo_4308958a,
.mediaMedium .Footer_base__default_4308958a,
.mediaMedium .Footer_base__third_6ab8fda8 {
  width: 666rem;
}
.mediaLarge .Footer_base__firstTwo_4308958a,
.mediaLarge .Footer_base__default_4308958a,
.mediaLarge .Footer_base__third_6ab8fda8 {
  width: 790rem;
}
.mediaExtraLarge .Footer_base__firstTwo_4308958a,
.mediaExtraLarge .Footer_base__default_4308958a,
.mediaExtraLarge .Footer_base__third_6ab8fda8 {
  width: 1070rem;
}
.Footer_base__locked_4308958a,
.Footer_base__completedWithHonor_954c2d1e {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.CampaignSelector_particles_6921a00e {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.CampaignSelector_c83ac2ea {
  width: 100%;
  height: 100%;
  background: #0b1217;
  overflow: hidden;
  position: relative;
}

.CampaignSelector_content_7f268683 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.CampaignSelector_base__blocked_39b3c306 .CampaignSelector_content_7f268683 {
  pointer-events: none;
}

.CampaignSelector_background_2a460990 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CampaignSelector_footer_b309f959 {
  position: relative;
}
.CampaignSelector_base__firstTwo_39b3c306 .CampaignSelector_footer_b309f959,
.CampaignSelector_base__default_39b3c306 .CampaignSelector_footer_b309f959,
.CampaignSelector_base__third_39b3c306 .CampaignSelector_footer_b309f959 {
  margin-left: 110rem;
  margin-top: 508rem;
}
.mediaMedium .CampaignSelector_base__firstTwo_39b3c306 .CampaignSelector_footer_b309f959,
.mediaMedium .CampaignSelector_base__default_39b3c306 .CampaignSelector_footer_b309f959,
.mediaMedium .CampaignSelector_base__third_39b3c306 .CampaignSelector_footer_b309f959 {
  margin-left: 131rem;
  margin-top: 621rem;
}
.mediaLarge .CampaignSelector_base__firstTwo_39b3c306 .CampaignSelector_footer_b309f959,
.mediaLarge .CampaignSelector_base__default_39b3c306 .CampaignSelector_footer_b309f959,
.mediaLarge .CampaignSelector_base__third_39b3c306 .CampaignSelector_footer_b309f959 {
  margin-left: 145rem;
  margin-top: 787rem;
}
.mediaExtraLarge .CampaignSelector_base__firstTwo_39b3c306 .CampaignSelector_footer_b309f959,
.mediaExtraLarge .CampaignSelector_base__default_39b3c306 .CampaignSelector_footer_b309f959,
.mediaExtraLarge .CampaignSelector_base__third_39b3c306 .CampaignSelector_footer_b309f959 {
  margin-left: 247rem;
  margin-top: 1051rem;
}
.CampaignSelector_base__locked_39b3c306 .CampaignSelector_footer_b309f959 {
  margin-top: 625rem;
}
.mediaMedium .CampaignSelector_base__locked_39b3c306 .CampaignSelector_footer_b309f959 {
  margin-top: 749rem;
}
.mediaLarge .CampaignSelector_base__locked_39b3c306 .CampaignSelector_footer_b309f959 {
  margin-top: 883rem;
}
.mediaExtraLarge .CampaignSelector_base__locked_39b3c306 .CampaignSelector_footer_b309f959 {
  margin-top: 1158rem;
}
.CampaignSelector_base__completedWithHonor_39b3c306 .CampaignSelector_footer_b309f959 {
  margin-top: 445rem;
}
.mediaMedium .CampaignSelector_base__completedWithHonor_39b3c306 .CampaignSelector_footer_b309f959 {
  margin-top: 543rem;
}
.mediaLarge .CampaignSelector_base__completedWithHonor_39b3c306 .CampaignSelector_footer_b309f959 {
  margin-top: 625rem;
}
.mediaExtraLarge
  .CampaignSelector_base__completedWithHonor_39b3c306
  .CampaignSelector_footer_b309f959 {
  margin-top: 970rem;
}

.CampaignSelector_video_8f009bf0 {
  width: 100%;
  opacity: 0.15;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
