.TextButton_base_a231c {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  font-size: 12rem;
  position: relative;
  cursor: pointer;
}

.TextButton_base__right_bfac3 {
  flex-direction: row-reverse;
}
.TextButton_icon_cdfc0 {
  width: 32rem;
  height: 32rem;
  background: no-repeat center / contain;
  position: relative;
}
.TextButton_icon__back_fc1bb,
.TextButton_icon__forward_efa2d {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.back");
  transform: translateY(1rem);
}
.TextButton_icon__forward_efa2d {
  transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_e2f0f {
  margin: -1rem 0;
  background-image: url("R.images.gui.maps.icons.components.text_button.close");
}
.TextButton_icon__info_e32c0 {
  margin: -1rem -5rem;
  background-image: url("R.images.gui.maps.icons.components.text_button.info");
}
.TextButton_glow_d6e04 {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.16s;
}
.TextButton_icon__back_fc1bb .TextButton_glow_d6e04,
.TextButton_icon__forward_efa2d .TextButton_glow_d6e04 {
  background-image: url("R.images.gui.maps.icons.components.text_button.back_hover");
}
.TextButton_icon__close_e2f0f .TextButton_glow_d6e04 {
  background-image: url("R.images.gui.maps.icons.components.text_button.close_hover");
}
.TextButton_icon__info_e32c0 .TextButton_glow_d6e04 {
  background-image: url("R.images.gui.maps.icons.components.text_button.info_hover");
}
.TextButton_base_a231c:hover .TextButton_glow_d6e04 {
  opacity: 1;
}
.TextButton_base_a231c:active .TextButton_glow_d6e04 {
  opacity: 0;
}
.TextButton_caption_f4e8d {
  position: relative;
  transition:
    color 0.16s,
    text-shadow 0.16s;
}
.TextButton_caption__back_d358d,
.TextButton_caption__forward_ff93d,
.TextButton_caption__close_fc554 {
  color: #ffdd99;
  text-shadow:
    0 0 10rem rgba(255, 42, 0, 1),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 10rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4),
    0 0 2rem rgba(255, 42, 0, 0.4),
    0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_a231c:hover .TextButton_caption__back_d358d,
.TextButton_base_a231c:hover .TextButton_caption__forward_ff93d,
.TextButton_base_a231c:hover .TextButton_caption__close_fc554 {
  color: #fffa9f;
}
.TextButton_base_a231c:active .TextButton_caption__back_d358d,
.TextButton_base_a231c:active .TextButton_caption__forward_ff93d,
.TextButton_base_a231c:active .TextButton_caption__close_fc554 {
  color: #ffdd99;
}
.TextButton_caption__info_c263a {
  padding: 0 5rem;
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 8rem #00eaff;
}
.TextButton_base_a231c:hover .TextButton_caption__info_c263a {
  color: #e3ffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.8),
    0 0 12rem rgba(0, 234, 255, 1),
    0 0 8rem #00eaff;
}
.TextButton_base_a231c:active .TextButton_caption__info_c263a {
  color: #ccffff;
  text-shadow:
    0 0 12rem rgba(31, 68, 255, 0.6),
    0 0 8rem #00eaff;
}
.TextButton_goto_d3960 {
  color: #7c7c6c;
}
.TextButton_base__left_ec79d .TextButton_goto_d3960 {
  margin-left: 8rem;
}
.TextButton_base__right_bfac3 .TextButton_goto_d3960 {
  margin-right: 8rem;
}
.TextButton_shine_f8873 {
  width: 90rem;
  height: 40rem;
  background: url("R.images.gui.maps.icons.components.text_button.shine") no-repeat center / contain;
  opacity: 0;
  position: absolute;
  top: -4rem;
  transition: opacity 0.16s;
  pointer-events: none;
}
.TextButton_base__left_ec79d .TextButton_shine_f8873 {
  left: -4rem;
}
.TextButton_base__right_bfac3 .TextButton_shine_f8873 {
  right: -4rem;
  transform: rotate(180deg);
}
.TextButton_base_a231c:hover .TextButton_shine_f8873 {
  opacity: 1;
}
.TextButton_base_a231c:active .TextButton_shine_f8873 {
  opacity: 0;
}

@keyframes Background_fadeIn_c07d0 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes Background_fadeInThreeQuarters_ff40c {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.75;
  }
}
@keyframes Background_fadeInHalf_e1a69 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}
@keyframes Background_fadeOut_afce0 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes Background_fadeInWithScale_f95f7 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Background_slideUp_be4df {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Background_scale_a55c7 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes Background_raysAppearance_f2457 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Background_rotate_f7007 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.Background_base_dd108 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Background_light_c91f3 {
  opacity: 0;
  animation-name: Background_fadeInThreeQuarters_ff40c;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1s;
  animation-iteration-count: 1;
  width: 51.92%;
  /* to achieve ratio of 997*999px*/
  padding-bottom: 100.2%;
  background: url("R.images.gui.maps.icons.awards.multipleAwards.light") no-repeat center / contain;
  mix-blend-mode: overlay;
  position: absolute;
}
.Background_light__gold_efaa8 {
  opacity: 0;
  animation-name: Background_fadeInHalf_e1a69;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1s;
  animation-iteration-count: 1;
  background-image: url("R.images.gui.maps.icons.awards.multipleAwards.light_gold");
}
.Background_rays_feb20 {
  opacity: 0;
  animation-name: Background_raysAppearance_f2457, Background_rotate_f7007;
  animation-duration: 1.5s, 120s;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1), linear;
  animation-delay: 0.8s, 1.2s;
  animation-iteration-count: 1, infinite;
  width: 67.7%;
  /* to achieve ratio of 1300*1298px*/
  padding-bottom: 99.84%;
  background: url("R.images.gui.maps.icons.awards.multipleAwards.rays") no-repeat center / contain;
  mix-blend-mode: screen;
  position: absolute;
}
.Background_ribbon_af96f {
  opacity: 0;
  animation-name: Background_fadeIn_c07d0;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.8s;
  animation-iteration-count: 1;
  width: 100%;
  padding-top: 26.04%;
  background: url("R.images.gui.maps.icons.awards.multipleAwards.ribbon_regular") no-repeat center /
    contain;
  position: absolute;
}
.Background_ribbon__gold_ee5aa {
  background-image: url("R.images.gui.maps.icons.awards.multipleAwards.ribbon_gold");
}
.Background_base__extraSmall_a89f3.Background_base__additional_b709e .Background_ribbon_af96f {
  top: 27%;
}

.CButton_base_bb13f {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
}

.CButton_base__main_dd05d,
.CButton_base__primary_c75a2,
.CButton_base__primaryGreen_ae65b,
.CButton_base__primaryRed_b1341,
.CButton_base__secondary_f2c20 {
  background-size: 100% 100%;
}

.CButton_base__main_dd05d {
  background-image: url("R.images.gui.maps.icons.components.button.back_main");
}

.CButton_base__primary_c75a2 {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary");
}

.CButton_base__primaryGreen_ae65b {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_green");
}

.CButton_base__primaryRed_b1341 {
  background-image: url("R.images.gui.maps.icons.components.button.back_primary_red");
}

.CButton_base__secondary_f2c20 {
  background-image: url("R.images.gui.maps.icons.components.button.back_secondary");
}

.CButton_base__ghost_f452b {
  border-radius: 3rem;
  box-shadow:
    0 0 0 1rem rgba(0, 0, 0, 0.3),
    0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
  background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_e1273 {
  min-height: 17rem;
  padding: 0 16rem;
}

.CButton_base__small_c20a3,
.CButton_base__medium_ef59a {
  padding: 0 20rem;
}

.CButton_base__small_c20a3 {
  min-height: 18rem;
}

.CButton_base__medium_ef59a {
  min-height: 32rem;
}

.CButton_base__large_bafd5 {
  min-height: 48rem;
}

.CButton_base__disabled_eef7a {
  cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e957b {
  border-image-slice: 4 fill;
  border-image-width: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_base__main_dd05d .CButton_back_e957b {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_main");
}
.CButton_base__primary_c75a2 .CButton_back_e957b {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary");
}
.CButton_base__primaryGreen_ae65b .CButton_back_e957b {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_green");
}
.CButton_base__primaryRed_b1341 .CButton_back_e957b {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_primary_red");
}
.CButton_base__secondary_f2c20 .CButton_back_e957b {
  border-image-source: url("R.images.gui.maps.icons.components.button.back_secondary");
}
.CButton_texture_ccd7e {
  background: url("R.images.gui.maps.icons.components.button.standard_texture_file");
  background-size: 155rem 31rem;
  mix-blend-mode: soft-light;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_state_f2bb4 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_b0875 .CButton_state_f2bb4 {
  border-radius: 2rem;
  box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_bd0cb,
.CButton_stateHighlightActive_e9a8a,
.CButton_stateDisabled_ed209 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.CButton_stateHighlightHover_bd0cb {
  background-image: linear-gradient(
    180deg,
    rgba(252, 248, 235, 0.25) 0%,
    rgba(252, 248, 235, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
}
.CButton_base_bb13f:hover .CButton_stateHighlightHover_bd0cb {
  opacity: 1;
}
.CButton_base_bb13f:active .CButton_stateHighlightHover_bd0cb {
  opacity: 0;
}
.CButton_base__disabled_eef7a:hover .CButton_stateHighlightHover_bd0cb {
  opacity: 0;
}
.CButton_base__ghost_f452b .CButton_stateHighlightHover_bd0cb {
  box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
  background-color: rgba(8, 6, 0, 0.18);
  background-image: none;
}
.CButton_stateHighlightActive_e9a8a {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
  opacity: 0;
}
.CButton_base__highlightActive_db27d .CButton_stateHighlightActive_e9a8a {
  opacity: 1;
}
.CButton_stateDisabled_ed209 {
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url("R.images.gui.maps.icons.components.button.texture_disable");
  background-size: 15rem 15rem;
  visibility: hidden;
}
.CButton_base__disabled_eef7a .CButton_stateDisabled_ed209 {
  visibility: inherit;
}
.CButton_content_a99fc {
  display: flex;
  align-items: center;
  color: #f2f2e6;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 -1rem 1rem #000;
  letter-spacing: 0.03em;
  transform: translateY(-1rem);
}
.CButton_content_a99fc[lang="ja"],
.CButton_content_a99fc[lang="ko"],
.CButton_content_a99fc[lang="zh_tw"],
.CButton_content_a99fc[lang="zh_sg"],
.CButton_content_a99fc[lang="zh_cn"],
.CButton_content_a99fc[lang="th"] {
  font-weight: 400;
}
.CButton_base__main_dd05d .CButton_content_a99fc,
.CButton_base__primaryRed_b1341 .CButton_content_a99fc {
  text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_f2c20 .CButton_content_a99fc {
  color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_ae65b .CButton_content_a99fc {
  text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_e1273 .CButton_content_a99fc {
  font-size: 12rem;
}
.CButton_base__small_c20a3 .CButton_content_a99fc {
  font-size: 14rem;
}
.CButton_base__medium_ef59a .CButton_content_a99fc {
  font-size: 15rem;
}
.CButton_base__large_bafd5 .CButton_content_a99fc {
  font-size: 18rem;
}
.CButton_base__disabled_eef7a .CButton_content_a99fc {
  opacity: 0.6;
}

.Footer_base_d402c {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Footer_buttonContainer_ea196 {
  padding: 0 8rem;
}

.Footer_button_e869c {
  min-width: 150rem;
}

@keyframes Header_fadeIn_e3f9c {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes Header_fadeInThreeQuarters_dde2e {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.75;
  }
}
@keyframes Header_fadeInHalf_b06e7 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}
@keyframes Header_fadeOut_b6865 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes Header_fadeInWithScale_d3ac0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Header_slideUp_edf7a {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Header_scale_c18ae {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes Header_raysAppearance_db39c {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes Header_rotate_b9677 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.Header_base_aeb04 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #f2f2f7;
  text-align: center;
}
.Header_title_a17f6 {
  opacity: 0;
  animation-name: Header_slideUp_edf7a;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.6s;
  animation-iteration-count: 1;
  margin-bottom: 4rem;
  font-size: 24rem;
  line-height: 120%;
}
.Header_title__withIcon_a3af3 {
  padding-left: 33rem;
  position: relative;
}
.Header_base__extraSmall_fd6a5 .Header_title__withIcon_a3af3 {
  padding-left: 24rem;
}
.Header_base__large_be344 .Header_title_a17f6 {
  margin-bottom: 6rem;
}
.Header_base__small_b16dc .Header_title_a17f6 {
  font-size: 20rem;
}
.Header_base__extraSmall_fd6a5 .Header_title_a17f6 {
  font-size: 16rem;
}
.Header_titleIcon_d8829 {
  width: 21rem;
  height: 21rem;
  background: no-repeat center / contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.Header_base__extraSmall_fd6a5 .Header_titleIcon_d8829 {
  width: 16rem;
  height: 16rem;
}
.Header_subTitle_f5c18 {
  opacity: 0;
  animation-name: Header_slideUp_edf7a;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0.8s;
  animation-iteration-count: 1;
  color: #f2f2f7;
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}
.Header_base__small_b16dc .Header_subTitle_f5c18 {
  color: #f2f2f7;
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Header_base__extraSmall_fd6a5 .Header_subTitle_f5c18 {
  color: #f2f2f7;
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}

.Reward_base_b1fec {
  display: flex;
  flex-direction: column;
  position: relative;
}

.Reward_base__s48x48_ea3ee,
.Reward_base__small_d4940 {
  width: 48rem;
  height: 48rem;
}

.Reward_base__s80x80_de3ac,
.Reward_base__big_a4f0e {
  width: 80rem;
  height: 80rem;
}

.Reward_base__s128x100_c29f0 {
  width: 128rem;
  height: 100rem;
}

.Reward_base__s180x135_cb4c8 {
  width: 180rem;
  height: 135rem;
}

.Reward_base__s232x174_aea24 {
  width: 232rem;
  height: 174rem;
}

.Reward_base__s296x222_cbf7c {
  width: 296rem;
  height: 222rem;
}

.Reward_base__s400x300_bb29d {
  width: 400rem;
  height: 300rem;
}

.Reward_base__s600x450_c4f07 {
  width: 600rem;
  height: 450rem;
}

.Reward_tooltipWrapper_af665 {
  height: 100%;
}

.Reward_icon_b619b {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  z-index: 1;
}

.Reward_overlay_dac5c {
  background: no-repeat center / 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.Reward_base__s48x48_ea3ee .Reward_overlay_dac5c,
.Reward_base__small_d4940 .Reward_overlay_dac5c {
  width: 96rem;
  height: 96rem;
  background-size: 100%;
  overflow: visible;
}

.Reward_base__s80x80_de3ac .Reward_overlay_dac5c,
.Reward_base__big_a4f0e .Reward_overlay_dac5c {
  width: 128rem;
  height: 128rem;
}

.Reward_base__s180x135_cb4c8 .Reward_overlay_dac5c {
  width: 266rem;
  height: 241rem;
}

.Reward_base__s232x174_aea24 .Reward_overlay_dac5c {
  width: 344rem;
  height: 312rem;
}

.Reward_base__s296x222_cbf7c .Reward_overlay_dac5c {
  width: 450rem;
  height: 408rem;
}

.Reward_base__s400x300_bb29d .Reward_overlay_dac5c {
  width: 618rem;
  height: 590rem;
}

.Reward_base__s600x450_c4f07 .Reward_overlay_dac5c {
  width: 670rem;
  height: 575rem;
}

.Reward_base__normalize_b8703 .Reward_overlay_dac5c {
  width: 100%;
  height: 100%;
}

.Reward_highlight_df36b {
  width: 100%;
  height: 100%;
  background: no-repeat center / contain;
  position: absolute;
  z-index: 0;
}

.Reward_image_e2997 {
  position: relative;
}

.Reward_info_b27d2 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-top: -13rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.Reward_base__s48x48_ea3ee .Reward_info_b27d2,
.Reward_base__small_d4940 .Reward_info_b27d2 {
  margin: -10rem -10rem 0;
}

.Reward_info__multi_e08a5 {
  margin-right: 2rem;
  text-align: right;
}

.Reward_base__s48x48_ea3ee .Reward_info__multi_e08a5,
.Reward_base__small_d4940 .Reward_info__multi_e08a5 {
  margin-right: 0;
}

.Reward_info__credits_ccc0d {
  color: #ced9d9;
}

.Reward_info__gold_af0a5 {
  color: #ffc363;
}

.Reward_info__bptaler_d4229,
.Reward_info__crystal_b0d9d {
  color: #c9c9b6;
}

.Reward_info__premiumTank_f53be {
  color: #ffdd99;
}

.Reward_title_ab4e2 {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  max-width: 80rem;
  margin: -13rem -16rem 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.mediaMedium .Reward_title_ab4e2 {
  max-width: 100rem;
  margin-left: -10rem;
  margin-right: -10rem;
}

.Reward_base__s48x48_ea3ee .Reward_title_ab4e2,
.Reward_base__small_d4940 .Reward_title_ab4e2 {
  margin: -10rem -10rem 0;
}

.Reward_timer_c097c {
  background: no-repeat center / contain;
  position: absolute;
  z-index: 1;
}

.Reward_base__s48x48_ea3ee .Reward_timer_c097c,
.Reward_base__small_d4940 .Reward_timer_c097c {
  width: 23rem;
  height: 23rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.small.timer");
  top: -6rem;
  right: -6rem;
}

.Reward_base__s80x80_de3ac .Reward_timer_c097c,
.Reward_base__big_a4f0e .Reward_timer_c097c {
  width: 48rem;
  height: 48rem;
  background-image: url("R.images.gui.maps.icons.quests.bonuses.big.timer");
  top: -14rem;
  right: -14rem;
}

.Value_base_cd8a9 {
  padding: 0 8rem;
  color: #e9e2bf;
  text-align: center;
}

.Value_base__multi_c05ba {
  text-align: right;
}

.Value_base__credits_d61c1 {
  color: #ced9d9;
}

.Value_base__gold_b79de {
  color: #ffc363;
}

.Value_base__crystal_bbbe1 {
  color: #c9c9b6;
}

.Value_base__premiumTank_d3d6d {
  color: #ffdd99;
}

.Value_base__sizeMin_ca456 {
  padding: 0 5rem;
}

.TankName_base_c083b {
  display: flex;
  align-items: center;
}

.TankName_typeContainer_f3124 {
  width: 64rem;
  height: 100%;
  position: relative;
}

.TankName_base__small_c77a2.TankName_base__sizeMiddle_ec953 .TankName_typeContainer_f3124,
.TankName_base__extraSmall_b5936.TankName_base__sizeMiddle_ec953 .TankName_typeContainer_f3124 {
  width: 30rem;
}

.TankName_base__smallIcon_b9e9a .TankName_typeContainer_f3124 {
  width: 26rem;
  height: 24rem;
}

.TankName_type_cc9e0 {
  width: 81rem;
  height: 73rem;
  background: no-repeat center / contain;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.TankName_base__small_c77a2.TankName_base__sizeMiddle_ec953 .TankName_type_cc9e0,
.TankName_base__extraSmall_b5936.TankName_base__sizeMiddle_ec953 .TankName_type_cc9e0 {
  width: 40rem;
  height: 36rem;
}

.TankName_base__smallIcon_b9e9a .TankName_type_cc9e0 {
  width: 24rem;
  height: 24rem;
  top: 50%;
}

.VehicleName_base_ba2e5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.VehicleName_title_a70b8 {
  color: #e9e2bf;
}

.VehicleName_typeContainer_b5675 {
  width: 64rem;
  height: 100%;
  position: relative;
}

.VehicleName_base__small_e7e1d.VehicleName_base__sizeMiddle_d514d .VehicleName_typeContainer_b5675,
.VehicleName_base__extraSmall_e3ea9.VehicleName_base__sizeMiddle_d514d
  .VehicleName_typeContainer_b5675 {
  width: 30rem;
}

.VehicleName_type_d68ea {
  width: 81rem;
  height: 73rem;
  background: no-repeat center / contain;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.VehicleName_base__small_e7e1d.VehicleName_base__sizeMiddle_d514d .VehicleName_type_d68ea,
.VehicleName_base__extraSmall_e3ea9.VehicleName_base__sizeMiddle_d514d .VehicleName_type_d68ea {
  width: 40rem;
  height: 36rem;
}

.VehicleName_meta_d5619 {
  margin-top: 17rem;
  padding-left: 40rem;
  padding-right: 9rem;
  font-size: 20rem;
  line-height: 24rem;
  position: relative;
}

.VehicleName_meta__rent_fe9cd {
  color: #ffdd99;
  text-shadow: 0 0 12rem #f00;
}

.VehicleName_meta__fromStorage_cf6f5 {
  color: #80d43a;
}

.VehicleName_base__small_e7e1d.VehicleName_base__sizeMiddle_d514d .VehicleName_meta_d5619,
.VehicleName_base__extraSmall_e3ea9.VehicleName_base__sizeMiddle_d514d .VehicleName_meta_d5619 {
  margin-top: 5rem;
  padding-left: 35rem;
  font-size: 14rem;
  line-height: 18rem;
}

.VehicleName_icon_bb6c0 {
  width: 40rem;
  height: 40rem;
  background: no-repeat left center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.VehicleName_meta__rent_fe9cd .VehicleName_icon_bb6c0 {
  background-image: url("R.images.gui.maps.icons.awards.multipleAwards.clock_small");
  background-size: contain;
  top: 65%;
}

.VehicleName_meta__fromStorage_cf6f5 .VehicleName_icon_bb6c0 {
  background-image: url("R.images.gui.maps.icons.awards.multipleAwards.garage");
}

.VehicleName_base__small_e7e1d.VehicleName_base__sizeMiddle_d514d .VehicleName_icon_bb6c0,
.VehicleName_base__extraSmall_e3ea9.VehicleName_base__sizeMiddle_d514d .VehicleName_icon_bb6c0 {
  width: 37rem;
  height: 37rem;
}

.AdditionInform_compensationIcon_be353 {
  width: 48rem;
  height: 48rem;
  background: url("R.images.gui.maps.icons.awards.multipleAwards.convert") no-repeat center /
    contain;
  position: absolute;
  top: 17%;
  right: 17%;
}

.AdditionInform_compensationIcon__sizeMiddle_b5950.AdditionInform_compensationIcon__small_f0752,
.AdditionInform_compensationIcon__sizeMiddle_b5950.AdditionInform_compensationIcon__extraSmall_beef0,
.AdditionInform_compensationIcon__sizeMin_da952 {
  width: 24rem;
  height: 24rem;
  top: -5rem;
  right: -5rem;
}

.AdditionInform_rent_ab3cd {
  width: 38%;
  padding-bottom: 100%;
  background: url("R.images.gui.maps.icons.awards.multipleAwards.clock_big") no-repeat center /
    contain;
  color: #ffffff;
  position: absolute;
  right: -9%;
  bottom: -4%;
  z-index: 1;
}

.AdditionInform_title_cbdcb {
  font-size: 24rem;
  line-height: 120%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

.AdditionInform_title__value_fd407 {
  width: 100%;
}

.AdditionInform_title__sizeMiddle_b59d0.AdditionInform_title__small_b0602,
.AdditionInform_title__sizeMiddle_b59d0.AdditionInform_title__extraSmall_aa4b5 {
  font-size: 14rem;
  line-height: 18rem;
}

.AdditionInform_title__sizeMin_d831e {
  font-size: 14rem;
  line-height: 18rem;
  bottom: 13rem;
}

.Reward_base_e58a8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 3;
}

.Reward_base__sizeMax_ecdf2 {
  width: 600rem;
  height: 450rem;
}

.Reward_base__sizeMax_ecdf2.Reward_base__small_ac3f5,
.Reward_base__sizeMax_ecdf2.Reward_base__extraSmall_cb756 {
  width: 360rem;
  height: 270rem;
}

.Reward_base__sizeMiddle_dbf08 {
  width: 360rem;
  height: 270rem;
  margin: 0 20rem;
}

.Reward_base__sizeMiddle_dbf08.Reward_base__medium_d003b {
  margin: 0;
}

.Reward_base__sizeMiddle_dbf08.Reward_base__small_ac3f5,
.Reward_base__sizeMiddle_dbf08.Reward_base__extraSmall_cb756 {
  width: 180rem;
  height: 135rem;
}

.Reward_base__sizeMiddle_dbf08.Reward_base__extraSmall_cb756 {
  margin: 0 12rem;
}

.Reward_base__sizeMin_b13ec {
  width: 80rem;
  height: 80rem;
  margin: 0 20rem;
}

.Reward_base__sizeMin_b13ec.Reward_base__small_ac3f5 {
  margin: 0 16rem;
}

.Reward_base__sizeMin_b13ec.Reward_base__extraSmall_cb756 {
  margin: 0 8rem;
}

.Reward_base__sizeMax_ecdf2 .Reward_equipmentPlus_c954b {
  top: 43%;
  left: 42%;
}

.Reward_base__small_ac3f5.Reward_base__sizeMax_ecdf2 .Reward_equipmentPlus_c954b,
.Reward_base__extraSmall_cb756.Reward_base__sizeMax_ecdf2 .Reward_equipmentPlus_c954b {
  top: 46%;
  left: 45%;
}

.Reward_base__sizeMiddle_dbf08 .Reward_equipmentPlus_c954b {
  top: 48%;
  left: 44%;
}

.Reward_base__small_ac3f5.Reward_base__sizeMiddle_dbf08 .Reward_equipmentPlus_c954b,
.Reward_base__extraSmall_cb756.Reward_base__sizeMiddle_dbf08 .Reward_equipmentPlus_c954b {
  top: 52%;
  left: 56%;
}

.Reward_base__sizeMin_b13ec .Reward_equipmentPlus_c954b {
  top: 48%;
  left: 44%;
}

.Reward_base__sizeMax_ecdf2 .Reward_battleBoosterReplace_c13ad,
.Reward_base__sizeMax_ecdf2 .Reward_battleBooster_c5809 {
  top: 60%;
  left: 48%;
}

.Reward_base__small_ac3f5.Reward_base__sizeMax_ecdf2 .Reward_battleBoosterReplace_c13ad,
.Reward_base__extraSmall_cb756.Reward_base__sizeMax_ecdf2 .Reward_battleBoosterReplace_c13ad,
.Reward_base__small_ac3f5.Reward_base__sizeMax_ecdf2 .Reward_battleBooster_c5809,
.Reward_base__extraSmall_cb756.Reward_base__sizeMax_ecdf2 .Reward_battleBooster_c5809 {
  top: 55%;
  left: 55%;
}

.Reward_base__sizeMiddle_dbf08 .Reward_battleBoosterReplace_c13ad,
.Reward_base__sizeMiddle_dbf08 .Reward_battleBooster_c5809 {
  top: 53%;
  left: 55%;
}

.Reward_base__sizeMin_b13ec .Reward_battleBoosterReplace_c13ad,
.Reward_base__sizeMin_b13ec .Reward_battleBooster_c5809 {
  top: 58%;
  left: 38%;
}

.Reward_base__sizeMin_b13ec .Reward_battleBoosterReplace_c13ad {
  top: 55%;
  left: 60%;
}

.Reward_baseReward_b9e44 {
  width: 100%;
  height: 100%;
}

@keyframes AnimatedReward_fadeIn_d886f {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes AnimatedReward_fadeInThreeQuarters_f78fe {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.75;
  }
}
@keyframes AnimatedReward_fadeInHalf_cc606 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}
@keyframes AnimatedReward_fadeOut_dab79 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes AnimatedReward_fadeInWithScale_e3a10 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes AnimatedReward_slideUp_c14a1 {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes AnimatedReward_scale_c84f7 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes AnimatedReward_raysAppearance_bedd0 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes AnimatedReward_rotate_e383a {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.AnimatedReward_base_c1457 {
  position: relative;
  z-index: 3;
  transition-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  transition-duration: 0.3s;
  transition-property: opacity, transform;
}
.AnimatedReward_base_c1457.AnimatedReward_entering_ea767 {
  opacity: 0;
  transform: scale(1.15);
}
.AnimatedReward_base_c1457.AnimatedReward_entered_d3d16 {
  opacity: 1;
  transform: scale(1);
}

@keyframes RewardList_fadeIn_fbf41 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes RewardList_fadeInThreeQuarters_cf382 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.75;
  }
}
@keyframes RewardList_fadeInHalf_e6c73 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}
@keyframes RewardList_fadeOut_d10a4 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes RewardList_fadeInWithScale_fffc0 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes RewardList_slideUp_b44cc {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes RewardList_scale_af6a7 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes RewardList_raysAppearance_fdd40 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes RewardList_rotate_e5e07 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.RewardList_base_b9faf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.RewardList_mainRewards_fccd5 {
  display: flex;
  justify-content: center;
}
.RewardList_additional_beed7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 105rem;
  position: relative;
  z-index: 3;
}
.RewardList_base__small_e0994 .RewardList_additional_beed7,
.RewardList_base__extraSmall_af935 .RewardList_additional_beed7 {
  padding-top: 90rem;
}
.RewardList_base__sizeMiddle_f5264.RewardList_base__additional_e9285 .RewardList_additional_beed7,
.RewardList_base__sizeMin_f9400.RewardList_base__additional_e9285 .RewardList_additional_beed7 {
  padding-top: 138rem;
}
.RewardList_base__medium_cfcdf.RewardList_base__sizeMiddle_f5264.RewardList_base__additional_e9285
  .RewardList_additional_beed7,
.RewardList_base__medium_cfcdf.RewardList_base__sizeMin_f9400.RewardList_base__additional_e9285
  .RewardList_additional_beed7 {
  padding-top: 106rem;
}
.RewardList_base__small_e0994.RewardList_base__sizeMiddle_f5264.RewardList_base__additional_e9285
  .RewardList_additional_beed7,
.RewardList_base__extraSmall_af935.RewardList_base__sizeMiddle_f5264.RewardList_base__additional_e9285
  .RewardList_additional_beed7,
.RewardList_base__small_e0994.RewardList_base__sizeMin_f9400.RewardList_base__additional_e9285
  .RewardList_additional_beed7,
.RewardList_base__extraSmall_af935.RewardList_base__sizeMin_f9400.RewardList_base__additional_e9285
  .RewardList_additional_beed7 {
  padding-top: 121rem;
}
.RewardList_additionalWrapper_d4ce9 {
  display: flex;
}
.RewardList_additionalTitle_f7200 {
  opacity: 0;
  animation-name: RewardList_slideUp_b44cc;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1s;
  animation-iteration-count: 1;
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 20rem;
}
.RewardList_base__small_e0994 .RewardList_additionalTitle_f7200,
.RewardList_base__extraSmall_af935 .RewardList_additionalTitle_f7200 {
  margin-bottom: 12rem;
}

@keyframes App_fadeIn_a5181 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInThreeQuarters_a640c {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.75;
  }
}
@keyframes App_fadeInHalf_a82b5 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}
@keyframes App_fadeOut_f7420 {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes App_fadeInWithScale_d201a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App_slideUp_cc09b {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_scale_b1d0a {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes App_raysAppearance_ecb76 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}
@keyframes App_rotate_c3cab {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.App_base_cbab0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
}
.App_close_cf5f8 {
  position: absolute;
  top: 40rem;
  right: 40rem;
}
.App_base__small_e5ad6 .App_close_cf5f8,
.App_base__extraSmall_baa1b .App_close_cf5f8 {
  top: 30rem;
  right: 30rem;
}
.App_header_d0124 {
  position: absolute;
  top: 85rem;
}
.App_base__medium_f3950 .App_header_d0124 {
  top: 65rem;
}
.App_base__small_e5ad6 .App_header_d0124 {
  top: 48rem;
}
.App_base__extraSmall_baa1b .App_header_d0124 {
  top: 40rem;
}
.App_footer_dee43 {
  opacity: 0;
  animation-name: App_slideUp_cc09b;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 1.2s;
  animation-iteration-count: 1;
  position: absolute;
  bottom: 65rem;
}
.App_base__small_e5ad6 .App_footer_dee43 {
  bottom: 50rem;
}
.App_base__extraSmall_baa1b .App_footer_dee43 {
  bottom: 40rem;
}
