.TooltipDecorator_base_c9 {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.images.gui.maps.icons.tooltip.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.App_base_18 {
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  max-width: 375rem;
  padding: 20rem 28rem 28rem;
}

.App_title_7c {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 15rem;
}

.App_significantStats_67 {
  margin: 16rem 10rem 18rem;
  white-space: pre-wrap;
}
