.TooltipDecorator_base_bf61f {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_bf8f8 .TooltipDecorator_decorator_f4de8 {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.atlases.components.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.FormatText_base_f27a4 {
  display: flex;
  flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_ae104 {
  color: #000000;
}

.FormatTextWithColorTags_whiteReal_c12a8 {
  color: #ffffff;
}

.FormatTextWithColorTags_white_c5665 {
  color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_fff65 {
  color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_d24b3 {
  color: #e9e2bf;
}

.FormatTextWithColorTags_par_ee7d9 {
  color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_a5b8c {
  color: #595950;
}

.FormatTextWithColorTags_parTertiary_a0c09 {
  color: #37362e;
}

.FormatTextWithColorTags_red_ad70c {
  color: #ff2717;
}

.FormatTextWithColorTags_redDark_afb30 {
  color: #b70000;
}

.FormatTextWithColorTags_yellow_e47d1 {
  color: #feab34;
}

.FormatTextWithColorTags_orange_e08c4 {
  color: #ee7000;
}

.FormatTextWithColorTags_cream_f2e96 {
  color: #ffdd99;
}

.FormatTextWithColorTags_brown_ed7be {
  color: #cbac77;
}

.FormatTextWithColorTags_greenBright_b0875 {
  color: #80d43a;
}

.FormatTextWithColorTags_green_d0263 {
  color: #7ab300;
}

.FormatTextWithColorTags_greenDark_f19b8 {
  color: #497212;
}

.FormatTextWithColorTags_blueBooster_fd3be {
  color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_fd915 {
  color: #09e2ff;
}

.FormatTextWithColorTags_cred_fdafa {
  color: #ced9d9;
}

.FormatTextWithColorTags_gold_ab90e {
  color: #ffc363;
}

.FormatTextWithColorTags_bond_e83f5 {
  color: #c9c9b6;
}

.FormatTextWithColorTags_prom_aa30c {
  color: #a29b70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_bf7ac {
  width: 0;
  color: #8c8c7e;
}

.Category_base_c197f {
  display: flex;
}

.Category_image_b1f11 {
  width: 48rem;
  height: 48rem;
  margin-right: 10rem;
  background: no-repeat center / contain;
}

.Category_content_b18b3 {
  flex: 1 1 100%;
  padding-top: 3rem;
}

.Category_title_faa8f {
  color: #e9e2bf;
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 5rem;
}

.Category_rewards_c3738 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.Category_counter_f6043 {
  color: #f2f2f7;
}

.App_base_c902e {
  width: 508rem;
  padding: 20rem 20rem 10rem;
  box-shadow: inset 0 0 25rem rgba(242, 242, 230, 0.1);
  background-color: #12110b;
  background-image: linear-gradient(
    180deg,
    rgba(51, 51, 41, 0.3) 0%,
    transparent 15.62%,
    transparent 88.02%,
    rgba(51, 51, 41, 0.1) 100%
  );
}

.App_title_be5e0 {
  color: rgba(233, 226, 191, 0.5);
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10rem;
}

.App_description_bd7ea {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 10rem;
}

.App_divider_b7b46 {
  height: 9rem;
  margin: 0 -20rem;
  background: url("R.images.gui.maps.icons.selectableReward.tooltips.divider") repeat-x center left;
  mask-image: linear-gradient(
    90deg,
    transparent 0%,
    rgba(201, 201, 182, 0.2) 38.22%,
    rgba(201, 201, 182, 0.2) 64.56%,
    transparent 100%
  );
  mask-repeat: no-repeat;
}

.App_category_ae744 {
  margin: 10rem 0;
}
