/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#CloseButton_root_987cb365,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

@keyframes CloseButton_fadeInWithScale_987cb365 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes CloseButton_slideUp_987cb365 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes CloseButton_blink_987cb365 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes CloseButton_scale_987cb365 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes CloseButton_rotate_987cb365 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes CloseButton_windowIn_987cb365 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes CloseButton_fadeOut_987cb365 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes CloseButton_fadeIn_987cb365 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.CloseButton_closeButton_f6b08b1c {
  display: flex;
  flex-direction: column;
  width: 48rem;
  height: 48rem;
  opacity: 0.4;
  position: absolute;
  top: 30rem;
  right: 30rem;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.CloseButton_closeButton_f6b08b1c:hover {
  opacity: 1;
}
.CloseButton_closeButton_f6b08b1c:active {
  opacity: 0.5;
}
.CloseButton_closeButton__withWallet_ec6cd767 {
  top: 60rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ButtonGroup_root_7b2e7b98,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

@keyframes ButtonGroup_fadeInWithScale_7b2e7b98 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ButtonGroup_slideUp_7b2e7b98 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ButtonGroup_blink_7b2e7b98 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes ButtonGroup_scale_7b2e7b98 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ButtonGroup_rotate_7b2e7b98 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ButtonGroup_windowIn_7b2e7b98 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ButtonGroup_fadeOut_7b2e7b98 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ButtonGroup_fadeIn_7b2e7b98 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ButtonGroup_buttonGroup_92a5d98f {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.ButtonGroup_buttonGroup_92a5d98f .ButtonGroup_button_46118514 {
  min-width: 108rem;
  margin: 0 8rem;
  padding-bottom: 1rem;
}
.mediaMedium .ButtonGroup_buttonGroup_92a5d98f .ButtonGroup_button_46118514 {
  min-width: 160rem;
}
.mediaExtraLarge .ButtonGroup_buttonGroup_92a5d98f .ButtonGroup_button_46118514 {
  min-width: 190rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Description_root_49efcb55,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

@keyframes Description_fadeInWithScale_49efcb55 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Description_slideUp_49efcb55 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Description_blink_49efcb55 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Description_scale_49efcb55 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Description_rotate_49efcb55 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Description_windowIn_49efcb55 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Description_fadeOut_49efcb55 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Description_fadeIn_49efcb55 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Description_d68d4456 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
  max-width: 720rem;
  margin-top: 20rem;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  font-weight: 400;
}
.mediaLarge .Description_d68d4456 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .Description_d68d4456 {
  font-size: 28rem;
}
.Description_description_text_4fa9ae25 {
  justify-content: center;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#IconImage_root_d8f38f04,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

@keyframes IconImage_fadeInWithScale_d8f38f04 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes IconImage_slideUp_d8f38f04 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes IconImage_blink_d8f38f04 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes IconImage_scale_d8f38f04 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes IconImage_rotate_d8f38f04 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes IconImage_windowIn_d8f38f04 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes IconImage_fadeOut_d8f38f04 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes IconImage_fadeIn_d8f38f04 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.IconImage_iconImage_6e28ba78 {
  width: 188rem;
  height: 188rem;
}
.mediaExtraLarge .IconImage_iconImage_6e28ba78 {
  width: 256rem;
  height: 256rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Title_root_2e63cf3,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

@keyframes Title_fadeInWithScale_2e63cf3 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Title_slideUp_2e63cf3 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Title_blink_2e63cf3 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Title_scale_2e63cf3 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Title_rotate_2e63cf3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Title_windowIn_2e63cf3 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Title_fadeOut_2e63cf3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Title_fadeIn_2e63cf3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Title_12429550 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 30rem;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  z-index: 2;
}
.mediaLarge .Title_12429550 {
  font-size: 44rem;
}

.Title_icon_79eed3a0 {
  margin-left: 5rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Currency_root_271064ec,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

@keyframes Currency_fadeInWithScale_271064ec {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Currency_slideUp_271064ec {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Currency_blink_271064ec {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Currency_scale_271064ec {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Currency_rotate_271064ec {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Currency_windowIn_271064ec {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Currency_fadeOut_271064ec {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Currency_fadeIn_271064ec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Currency_92022680 + .Currency_92022680 .Currency_hintWrapper_530465b9,
.Currency_92022680 + .Currency_92022680 {
  padding-left: 10rem;
}
.mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 .Currency_hintWrapper_530465b9,
.Currency_92022680 + .Currency_92022680 .mediaExtraLargeWidth .Currency_hintWrapper_530465b9,
.mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 {
  padding-left: 20rem;
}

.Currency_92022680 {
  min-width: 50rem;
  position: relative;
}
.Currency_base__interactive_52396ddd {
  cursor: pointer;
}
.Currency_92022680 + .Currency_92022680 {
  min-width: 60rem;
}
.mediaLargeWidth .Currency_92022680 + .Currency_92022680 {
  min-width: 66rem;
}
.mediaExtraLargeWidth .Currency_92022680 + .Currency_92022680 {
  min-width: 70rem;
}

.Currency_currencyWrapper_b13579ba {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.Currency_currencyIcon_346f8c78 {
  margin-left: 4rem;
  opacity: 0.9;
}

.Currency_value_b1cf6531 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  text-shadow: var(--hangar-highlight-shadow);
  white-space: nowrap;
  opacity: 0.85;
}
.mediaLargeWidth .Currency_value_b1cf6531 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
}
.mediaExtraLargeWidth .Currency_value_b1cf6531 {
  font-size: 26rem;
  font-weight: 700;
  line-height: 1.3em;
  font-weight: 500;
}
.Currency_value__unavailable_3a328d4 {
  margin-bottom: 2rem;
  line-height: 1;
}
.mediaLargeWidth .Currency_value__unavailable_3a328d4 {
  line-height: 1;
}
.mediaExtraLargeWidth .Currency_value__unavailable_3a328d4 {
  line-height: 1;
}

.Currency_dash_2806b61e + .Currency_dash_2806b61e {
  margin-left: 1rem;
}
.mediaLargeWidth .Currency_dash_2806b61e + .Currency_dash_2806b61e {
  margin-left: 0;
}

.Currency_formattedValue_b7cad7e0 {
  flex-wrap: nowrap;
}

.Currency_hintWrapper_530465b9 {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
}
.Currency_hint_f9d16bb2 {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.Currency_base__hidden_271064ec .Currency_hint_f9d16bb2 {
  opacity: 0;
}

.Currency_text_f4484816 {
  mask-image: linear-gradient(to bottom, transparent, #e1d3c1);
  mask-repeat: no-repeat;
  color: #e1d3c1;
}
.Currency_text__overlay_64b93131 {
  color: #fcf6eb;
  mask-image: linear-gradient(to top, transparent, #fcf6eb);
}

.Currency_discountWithHintText_95e3324b {
  opacity: 0;
}
.Currency_base__discount_271064ec:hover .Currency_discountWithHintText_95e3324b {
  opacity: 1;
}

.Currency_onlyHintText_61ecd7b0 {
  opacity: 0;
}
.Currency_92022680:hover .Currency_onlyHintText_61ecd7b0 {
  opacity: 1;
}
.Currency_base__discount_271064ec:hover .Currency_onlyHintText_61ecd7b0 {
  opacity: 0;
}

.Currency_onlyDiscount_61ecd7b0 {
  opacity: 0;
}
.Currency_base__discount_271064ec .Currency_onlyDiscount_61ecd7b0 {
  opacity: 1;
}
.Currency_92022680:hover .Currency_onlyDiscount_61ecd7b0 {
  opacity: 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Wallet_root_18fc2cec,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

@keyframes Wallet_fadeInWithScale_18fc2cec {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Wallet_slideUp_18fc2cec {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Wallet_blink_18fc2cec {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Wallet_scale_18fc2cec {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Wallet_rotate_18fc2cec {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Wallet_windowIn_18fc2cec {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Wallet_fadeOut_18fc2cec {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Wallet_fadeIn_18fc2cec {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Wallet_26bfe88f {
  display: flex;
  margin-top: 30rem;
  position: absolute;
  top: 0;
  right: 30rem;
}

.Wallet_currencyWrapper_b451995f {
  margin-left: 20rem;
  margin-bottom: 10rem;
}

.Wallet_currencyIcon_583b0be2 {
  margin-left: 4rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ChallengeDialog_root_b1986f89,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

@keyframes ChallengeDialog_fadeInWithScale_b1986f89 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ChallengeDialog_slideUp_b1986f89 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ChallengeDialog_blink_b1986f89 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes ChallengeDialog_scale_b1986f89 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes ChallengeDialog_rotate_b1986f89 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ChallengeDialog_windowIn_b1986f89 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ChallengeDialog_fadeOut_b1986f89 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ChallengeDialog_fadeIn_b1986f89 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ChallengeDialog_26c722b9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.ChallengeDialog_body_a7e1a4a4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  text-align: center;
  position: relative;
}

.ChallengeDialog_divider_c77f93bc {
  width: 400rem;
  height: 1rem;
  margin: 30rem 0;
  background: rgba(196, 198, 192, 0.5) url("R.images.gui.maps.icons.ui.noise") center/100rem 100rem
    repeat;
  opacity: 0.3;
  position: relative;
  z-index: 1;
}
.mediaLarge .ChallengeDialog_divider_c77f93bc {
  width: 600rem;
  margin: 40rem 0;
}

.ChallengeDialog_footer_349418cb {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  padding: 0 61rem;
  position: relative;
}

.ChallengeDialog_overlay_ae4c55b5 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: -1;
}
