@keyframes Body_fadeIn_26aeb497 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Body_9b6a113b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}@keyframes Close_fadeIn_fd7bc94e {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Close_179bd5e3 {
  position: absolute;
  top: 16rem;
  right: 10rem;
}
.mediaMedium .Close_179bd5e3 {
  top: 30rem;
  right: 30rem;
}
.Close_179bd5e3 {
  z-index: 2;
}@keyframes Heading_fadeIn_da06193d {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Heading_82ae16e4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 72rem;
  right: 0;
  left: 0;
  z-index: 1;
}
.mediaLarge .Heading_82ae16e4 {
  top: 84rem;
}
.mediaExtraLarge .Heading_82ae16e4 {
  top: 120rem;
}

.Heading_subtitle_ffa177a {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 5rem;
  color: var(--color-general-secondary);
  line-height: 1;
  text-shadow: 0 2rem 30rem rgba(23, 23, 23, 0.4), 0 1rem 0 rgba(0, 0, 0, 0.3);
}
.mediaMedium .Heading_subtitle_ffa177a {
  margin-bottom: 7rem;
}
.mediaLarge .Heading_subtitle_ffa177a {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 11rem;
  font-weight: 400;
  line-height: 1;
}

.Heading_82ae16e4 .Heading_title_2b8ff5c5 {
  line-height: 1;
}@keyframes PanelControls_fadeIn_ab4505f8 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PanelControls_a0535d59 {
  position: absolute;
  top: 16rem;
  left: 20rem;
}
.mediaMedium .PanelControls_a0535d59 {
  top: 30rem;
  left: 40rem;
}
.PanelControls_a0535d59 {
  display: flex;
  z-index: 2;
}@keyframes Switcher_fadeIn_9ba1e4f {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Switcher_2841375e {
  position: absolute;
  top: 50%;
  left: 20rem;
  z-index: 2;
  transform: translateY(-50%);
}
.mediaMedium .Switcher_2841375e {
  left: 40rem;
}@keyframes Page_fadeIn_fefb19c8 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Page_a1e5a08c {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}@keyframes ImageLayer_fadeIn_458f15d4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ImageLayer_f8eebc6c {
  background: no-repeat center/cover;
}@keyframes ResourceLayer_fadeIn_e31dcf70 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ResourceLayer_62748772 {
  width: 100%;
  height: 100%;
  position: relative;
}

.ResourceLayer_62748772 .ResourceLayer_layer_c06d2ca4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ResourceLayer_62748772 .ResourceLayer_layer__video_445e841b {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}@keyframes Hover_fadeIn_398b1759 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Hover_55af9f42 {
  position: relative;
}

.Hover_hoverTrigger_82df64e5 {
  position: absolute;
}
.Hover_hoverTrigger_82df64e5:hover {
  cursor: pointer;
}@keyframes Vignette_fadeIn_181a81d5 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Vignette_96c6d4bc {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000 0%, transparent 20%, transparent 80%, #000 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, transparent 30%, transparent 100%);
}@keyframes BoxLayout_fadeIn_9c8a2c10 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.BoxLayout_5663f366 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}@keyframes CompositeScene_fadeIn_c16d0a29 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.CompositeScene_c16d0a29 .CompositeScene_vignette_c16d0a29, .CompositeScene_c16d0a29 .CompositeScene_box_ff78dbca, .CompositeScene_c16d0a29 .CompositeScene_idle_abfdd117, .CompositeScene_c16d0a29 .CompositeScene_glow_15c55d55, .CompositeScene_c16d0a29 .CompositeScene_background_88262b79 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.CompositeScene_c16d0a29 .CompositeScene_background_88262b79 {
  opacity: 0;
  transition: opacity 0.2s 0.2s linear;
}
.CompositeScene_c16d0a29 .CompositeScene_background__show_5ad4ed30 {
  opacity: 1;
}
.CompositeScene_c16d0a29 .CompositeScene_glow_15c55d55 {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
.CompositeScene_c16d0a29 .CompositeScene_glow__show_6d031a33 {
  opacity: 1;
  transition: opacity 0.7s ease-out;
}
.CompositeScene_c16d0a29 .CompositeScene_idle_abfdd117 {
  opacity: 0;
}
.CompositeScene_c16d0a29 .CompositeScene_idle__show_314703c5 {
  animation: CompositeScene_fadeIn_c16d0a29 0.8s ease-in forwards;
}
.CompositeScene_c16d0a29 .CompositeScene_hover_63da4085 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.CompositeScene_c16d0a29 .CompositeScene_box_ff78dbca {
  opacity: 0;
}
.CompositeScene_c16d0a29 .CompositeScene_box__show_5ad4ed30 {
  opacity: 1;
}
.CompositeScene_base__graphicsHigh_c16d0a29 .CompositeScene_box_ff78dbca {
  transition: opacity 0.4s linear;
}

@keyframes CompositeScene_fadeIn_c16d0a29 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}@keyframes SubTitle_fadeIn_c315a83c {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.SubTitle_df241777 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-secondary);
  text-shadow: 0 2rem 0 rgba(0, 0, 0, 0.3), 0 2rem 30rem rgba(23, 23, 23, 0.4);
}
.mediaLarge .SubTitle_df241777 {
  font-size: 22rem;
}
.SubTitle_base__center_849a659e {
  text-align: center;
}
.SubTitle_base__left_25e95ddb {
  text-align: left;
}
.SubTitle_base__right_43c92756 {
  text-align: right;
}@keyframes Asset_fadeIn_fee8168d {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Asset_b183621e {
  width: 560rem;
  height: 280rem;
  background: no-repeat center/contain;
}
.mediaLarge .Asset_b183621e {
  width: 760rem;
  height: 380rem;
}@keyframes Content_fadeIn_da09528a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_5b2426e4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}@keyframes Shadow_fadeIn_8d56b15 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Shadow_6b416642 {
  width: 600rem;
  height: 250rem;
  background-image: radial-gradient(50% 50% at 50% 50%, #000, transparent);
  opacity: 0.3;
}@keyframes Body_fadeIn_26aeb497 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Body_4f642c84 {
  width: 100%;
  position: relative;
}@keyframes Content_fadeIn_da09528a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_buttons_8eaaf71a {
  display: flex;
}

.Content_secondaryButton_e97477a8 {
  margin-left: 12rem;
}
.mediaLarge .Content_secondaryButton_e97477a8 {
  margin-left: 16rem;
}

.Content_da09528a .Content_asset_7b492161 {
  transform: translateY(25rem);
}
.mediaLarge .Content_da09528a .Content_asset_7b492161 {
  transform: translateY(30rem);
}

.Content_da09528a .Content_subTitle_27410b8b {
  width: 100%;
  margin-bottom: 14rem;
  position: relative;
  z-index: 0;
}
.mediaLarge .Content_da09528a .Content_subTitle_27410b8b {
  margin-bottom: 20rem;
}
.Content_da09528a .Content_subTitle_27410b8b::before {
  width: 340rem;
  height: 100rem;
  background: radial-gradient(ellipse at center, rgb(34, 34, 34) 0%, rgba(34, 34, 34, 0) 70%);
  opacity: 0.7;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.mediaLarge .Content_da09528a .Content_subTitle_27410b8b::before {
  width: 440rem;
  height: 160rem;
}

.Content_da09528a .Content_shadow_d31ad2ce {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}@keyframes NoBoxes_fadeIn_1c22f7df {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.NoBoxes_1c22f7df .NoBoxes_layer_1169dd08 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}@keyframes Content_fadeIn_da09528a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_63f6f934 {
  position: relative;
}

.Content_fe5f3784 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}@keyframes Close_fadeIn_fd7bc94e {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Close_74b783 {
  position: absolute;
  top: 10rem;
  right: 10rem;
}@keyframes Background_fadeIn_26effab7 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Background_9cc315a3 {
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.4) no-repeat center/cover;
  backdrop-filter: blur(20px);
  position: relative;
}

.Background_border_caf5e725 {
  width: 1rem;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #fff 50.5%, rgba(255, 255, 255, 0.5) 100%) no-repeat center/cover;
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-180deg);
}

.Background_noise_7edfd4f1 {
  width: 100%;
  height: 100%;
  background: no-repeat center/cover;
  opacity: 0.09;
  position: absolute;
  top: 0;
  left: 0;
}@keyframes Body_fadeIn_26aeb497 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Body_5abb9234 {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
}@keyframes Content_fadeIn_da09528a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_15583580 {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}@keyframes Shadow_fadeIn_8d56b15 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Shadow_28212855 {
  width: 280rem;
  height: 100%;
  background: radial-gradient(100% 50% at 100% 50%, #111 0%, rgba(17, 17, 17, 0) 100%, rgba(17, 17, 17, 0) 100%) no-repeat center/cover;
  position: absolute;
  top: 0;
  right: -280rem;
  transform: rotate(180deg);
  pointer-events: none;
}@keyframes Layout_fadeIn_750f09cf {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Layout_8695f8df {
  display: flex;
  height: 100%;
}@keyframes Text_fadeIn_e1d6e9be {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Text_count_c95b6e1 {
  color: #ffe4c0;
}@keyframes Header_fadeIn_65f475ba {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Header_499c0cf2 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 600;
}
.mediaLarge .Header_499c0cf2 {
  font-size: 40rem;
  font-weight: 500;
}@keyframes Count_fadeIn_d63373f8 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Count_65e735c {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 1.2em;
}
.Count_base__premium_plus_d63373f8, .Count_base__gold_d91af6cc {
  color: var(--color-currency-gold);
}
.Count_base__credits_431272aa {
  color: var(--color-currency-credits);
}
.Count_base__freeXP_d63373f8, .Count_base__crystal_b7000d42 {
  color: var(--color-currency-bond);
}
.Count_base__big_99c23e4a {
  font-size: 24rem;
}@keyframes Description_fadeIn_49efcb55 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Description_7ef73286 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}@keyframes Icon_fadeIn_55a8ab20 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Icon_d9a247ec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 48rem;
  height: 48rem;
  margin-right: 8rem;
  background: no-repeat center/cover;
  position: relative;
}
.Icon_base__big_a4d5640f {
  width: 80rem;
  height: 80rem;
  margin-right: 12rem;
}@keyframes Label_fadeIn_e3f8b3ce {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Label_485b9088 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 256rem;
  color: var(--color-general-secondary);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.Label_base__big_2861872f {
  width: 216rem;
  font-size: 18rem;
}
.Label_base__smallDouble_ddda1810 {
  width: 144rem;
}
.Label_base__bigDouble_50db1115 {
  width: 192rem;
  font-size: 18rem;
}@keyframes Category_fadeIn_b894c2f0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Category_11bd884e {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48rem;
  overflow: hidden;
}
.Category_base__big_9223dd50 {
  height: 80rem;
}@keyframes Info_fadeIn_3f9bb731 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Info_162bf281 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}@keyframes Categories_fadeIn_c099b2e6 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Categories_f228c023 {
  display: flex;
  justify-content: center;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.Categories_area_ffccdaa6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 312rem;
}
.Categories_base__wide_c099b2e6 .Categories_area_ffccdaa6 {
  width: 408rem;
}
.mediaMedium .Categories_base__wide_c099b2e6 .Categories_area_ffccdaa6 {
  width: 584rem;
}

.Categories_f228c023 .Categories_scroll_ac411673 {
  flex: 1;
  width: auto;
}

.Categories_f228c023 .Categories_scrollContent_780b1d42 {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  width: auto;
  padding: 0 32rem;
  position: relative;
}
.mediaMedium .Categories_f228c023 .Categories_scrollContent_780b1d42 {
  padding: 0 40rem;
}

.Categories_f228c023 .Categories_scrollBar_d74b6295 {
  height: auto;
  top: 24rem;
  right: 8rem;
  bottom: 24rem;
}

.Categories_f228c023 .Categories_lip_737cb362 {
  width: 100%;
  animation: Categories_fadeIn_c099b2e6 0.3s ease-in;
}

@keyframes Categories_fadeIn_c099b2e6 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}@keyframes Rewards_fadeIn_405577a5 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Rewards_ff33843c {
  justify-content: flex-start;
}

.Rewards_ff33843c .Rewards_reward_e4f396cf {
  margin-bottom: 12rem;
}@keyframes Popover_fadeIn_b6b2f5f6 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Popover_b5a0d9d4 {
  transform: translateX(-100%);
  transition: 0.3s ease-in-out transform;
}
.Popover_base__show_ab334a8 {
  transform: translateX(0%);
}

.Popover_b5a0d9d4 .Popover_background_7cb1d547 {
  position: absolute;
  top: 0;
  left: 0;
}

.Popover_b5a0d9d4 .Popover_content_8d9b0025 {
  padding: 24rem 0;
}
.mediaMedium .Popover_b5a0d9d4 .Popover_content_8d9b0025 {
  padding: 32rem 0;
}

.Popover_b5a0d9d4 .Popover_shadow_68af0352 {
  opacity: 0;
  transition: 0.2s ease-in-out opacity;
}
.Popover_base__show_ab334a8 .Popover_shadow_68af0352 {
  opacity: 0.6;
  transition: 0.3s ease-in-out opacity 0.1s;
}

.Popover_b5a0d9d4 .Popover_header_e8f4645e {
  margin: 0 32rem 10rem;
}
.mediaMedium .Popover_b5a0d9d4 .Popover_header_e8f4645e {
  margin: 0 40rem 20rem;
}

.Popover_b5a0d9d4 .Popover_reset_bd09be7b {
  display: flex;
  min-width: 128rem;
  margin: 24rem 0 0 32rem;
}
.mediaMedium .Popover_b5a0d9d4 .Popover_reset_bd09be7b {
  margin: 32rem 0 0 40rem;
}@keyframes Select_fadeIn_df60c8c6 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Select_df60c8c6 .Select_switcherItem_4623ba80 {
  width: 60rem;
  height: 32rem;
}
.mediaLarge .Select_df60c8c6 .Select_switcherItem_4623ba80 {
  width: 65rem;
  height: 40rem;
}

.Select_content_bd99ea75 {
  margin: 4rem;
  font-size: 24rem;
  font-weight: 600;
}@keyframes BoxOpenPanel_fadeIn_1640485f {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.BoxOpenPanel_1640485f .BoxOpenPanel_guaranteedTitle_1d4d1680 {
  margin-bottom: 7rem;
}
.mediaLarge .BoxOpenPanel_1640485f .BoxOpenPanel_guaranteedTitle_1d4d1680 {
  margin-bottom: 9rem;
}

.BoxOpenPanel_buttons_9cc1b845 {
  margin-bottom: 16rem;
}
.mediaLarge .BoxOpenPanel_buttons_9cc1b845 {
  margin-bottom: 22rem;
}

.BoxOpenPanel_1640485f .BoxOpenPanel_button_68661221 {
  min-width: 128rem;
}
.BoxOpenPanel_1640485f .BoxOpenPanel_button__withCheckboxes_7e0d1282 {
  margin-left: 8rem;
}
.mediaLarge .BoxOpenPanel_1640485f .BoxOpenPanel_button__withCheckboxes_7e0d1282 {
  margin-left: 12rem;
}@keyframes App_fadeIn_0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_77962774 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App_77962774 .App_boxLayout_22fa7f35 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.App_base__prepareViewAnimation_0 .App_boxLayout_22fa7f35, .App_base__initialAnimation_0 .App_boxLayout_22fa7f35 {
  opacity: 0;
}
.App_base__openViewAnimation_0 .App_boxLayout_22fa7f35 {
  opacity: 0;
  animation: App_fadeIn_0 0.25s ease-out forwards;
}

.App_base__prepareViewAnimation_0 .App_panelControls_b1f58b8d, .App_base__prepareLayoutAnimation_0 .App_panelControls_b1f58b8d, .App_base__initialAnimation_0 .App_panelControls_b1f58b8d {
  opacity: 0;
}
.App_base__openViewAnimation_0 .App_panelControls_b1f58b8d {
  opacity: 0;
  animation: App_fadeIn_0 0.25s ease-out 0.3s forwards;
}
.App_base__waitAnimation_0 .App_panelControls_b1f58b8d {
  opacity: 1;
  animation: App_fadeOut_0 0.25s ease-out forwards;
}
.App_base__backAnimation_0 .App_panelControls_b1f58b8d {
  opacity: 0;
  animation: App_fadeIn_0 0.25s ease-out forwards;
}

.App_77962774 .App_statsButton_b992bd88 {
  margin-right: 12rem;
}

.App_base__prepareViewAnimation_0 .App_close_b1f58b8d, .App_base__prepareLayoutAnimation_0 .App_close_b1f58b8d, .App_base__initialAnimation_0 .App_close_b1f58b8d {
  opacity: 0;
}
.App_base__openViewAnimation_0 .App_close_b1f58b8d {
  opacity: 0;
  animation: App_fadeIn_0 0.25s ease-out 0.3s forwards;
}
.App_base__waitAnimation_0 .App_close_b1f58b8d {
  opacity: 1;
  animation: App_fadeOut_0 0.25s ease-out forwards;
}
.App_base__backAnimation_0 .App_close_b1f58b8d {
  opacity: 0;
  animation: App_fadeIn_0 0.25s ease-out forwards;
}

.App_headerAnimation_c3dc2c23 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.App_footer_35a0825a {
  position: absolute;
  right: 0;
  bottom: 56rem;
  left: 0;
  z-index: 0;
}
.mediaMedium .App_footer_35a0825a {
  bottom: 72rem;
}
.mediaLarge .App_footer_35a0825a {
  bottom: 76rem;
}
.mediaExtraLarge .App_footer_35a0825a {
  bottom: 100rem;
}

.App_base__waitAnimation_0 .App_boxOpenPanel_a6e2c19d {
  opacity: 1;
  animation: App_fadeOut_0 0.25s ease-out forwards;
  pointer-events: none;
}

.App_77962774 .App_loader_9f50f8e4 {
  width: 100%;
  height: 100rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.App_77962774 .App_checkbox_194935ee {
  position: absolute;
  bottom: 16rem;
  left: 20rem;
}
.mediaMedium .App_77962774 .App_checkbox_194935ee {
  bottom: 30rem;
  left: 40rem;
}
.App_base__prepareViewAnimation_0 .App_checkbox_194935ee, .App_base__prepareLayoutAnimation_0 .App_checkbox_194935ee, .App_base__initialAnimation_0 .App_checkbox_194935ee {
  opacity: 0;
}
.App_base__openViewAnimation_0 .App_checkbox_194935ee {
  opacity: 0;
  animation: App_fadeIn_0 0.25s ease-out 0.3s forwards;
}
.App_base__waitAnimation_0 .App_checkbox_194935ee {
  opacity: 1;
  animation: App_fadeOut_0 0.25s ease-out forwards;
}
.App_base__backAnimation_0 .App_checkbox_194935ee {
  opacity: 0;
  animation: App_fadeIn_0 0.25s ease-out forwards;
}

.App_77962774 .App_purchaseButton_91d9ec24 {
  position: absolute;
  right: 12rem;
  bottom: 12rem;
  z-index: 1;
}
.mediaLarge .App_77962774 .App_purchaseButton_91d9ec24 {
  right: 30rem;
  bottom: 30rem;
}
.App_base__prepareViewAnimation_0 .App_purchaseButton_91d9ec24, .App_base__prepareLayoutAnimation_0 .App_purchaseButton_91d9ec24, .App_base__initialAnimation_0 .App_purchaseButton_91d9ec24 {
  opacity: 0;
}
.App_base__openViewAnimation_0 .App_purchaseButton_91d9ec24 {
  opacity: 0;
  animation: App_fadeIn_0 0.25s ease-out 0.3s forwards;
}
.App_base__waitAnimation_0 .App_purchaseButton_91d9ec24 {
  opacity: 1;
  animation: App_fadeOut_0 0.25s ease-out forwards;
}
.App_base__backAnimation_0 .App_purchaseButton_91d9ec24 {
  opacity: 0;
  animation: App_fadeIn_0 0.25s ease-out forwards;
}

.App_base__openViewAnimation_0 .App_tabs_7a430c78 {
  opacity: 0;
  animation: App_fadeIn_0 0.25s ease-out forwards;
}
.App_base__prepareViewAnimation_0 .App_tabs_7a430c78, .App_base__prepareLayoutAnimation_0 .App_tabs_7a430c78, .App_base__initialAnimation_0 .App_tabs_7a430c78 {
  opacity: 0;
}
.App_base__waitAnimation_0 .App_tabs_7a430c78 {
  opacity: 1;
  animation: App_fadeOut_0 0.25s ease-out forwards;
}
.App_base__backAnimation_0 .App_tabs_7a430c78 {
  opacity: 0;
  animation: App_fadeIn_0 0.25s ease-out forwards;
}

.App_popover_e06fed7f {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.App_contentWrapper_3bce0eb1 {
  height: 100%;
}

@keyframes App_fadeIn_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes App_fadeInWait_0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes App_fadeOut_0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes App_shiftTop_0 {
  0% {
    opacity: 0;
    transform: translateY(-15rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes App_shiftBottom_0 {
  0% {
    opacity: 0;
    transform: translateY(15rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}