@keyframes Ordinal_fadeIn_e1ecc288 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Ordinal_c2d1e05 {
  display: flex;
  align-items: center;
  color: var(--color-general-secondary);
  font-size: 46rem;
  font-weight: 600;
  text-shadow: 0 2rem 0 rgba(0, 0, 0, 0.3);
}

.Ordinal_number_dae68cd8 {
  width: 38rem;
  text-align: center;
}

.Ordinal_c2d1e05 .Ordinal_divider_7beeb965 {
  margin-left: 20rem;
}@keyframes Rewards_fadeIn_405577a5 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Rewards_881b1493 {
  display: flex;
  justify-content: flex-start;
  padding: 12rem 0;
  position: relative;
}
.mediaLarge .Rewards_881b1493 {
  padding: 28rem 0;
}

.Rewards_divider_44d40928 {
  position: absolute;
  bottom: 0;
  left: 0;
}@keyframes Compensation_fadeIn_db29c4dc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Compensation_22c7fec0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}@keyframes Content_fadeIn_da09528a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_8f2fef40 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}@keyframes Glow_fadeIn_a44066b8 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Glow_86ec1932 {
  width: 128rem;
  height: 128rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  pointer-events: none;
}@keyframes PreviewButton_fadeIn_22577403 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PreviewButton_fdc3bedf {
  display: flex;
  align-items: center;
}

.PreviewButton_fdc3bedf .PreviewButton_loupeButton_3b872270 {
  opacity: 0.75;
}
.PreviewButton_fdc3bedf .PreviewButton_loupeButton_3b872270:hover {
  opacity: 1;
}@keyframes Title_fadeIn_2e63cf3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Title_4a8f0758 {
  display: flex;
  justify-content: center;
}
.Title_base__premium_plus_8be25f37 {
  transform: translateY(7rem);
}

.Title_value_5c3353d2 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  margin-top: -7rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 120%;
  text-align: center;
}
.Title_base__credits_2e63cf3 .Title_value_5c3353d2 {
  color: var(--color-currency-credits);
}
.Title_base__gold_2e63cf3 .Title_value_5c3353d2, .Title_base__premium_plus_8be25f37 .Title_value_5c3353d2 {
  color: var(--color-currency-gold);
}
.Title_base__freeXP_2e63cf3 .Title_value_5c3353d2, .Title_base__bptaler_2e63cf3 .Title_value_5c3353d2, .Title_base__crystal_2e63cf3 .Title_value_5c3353d2 {
  color: var(--color-currency-bond);
}

.Title_plural_6d2ab7fe {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-left: 4rem;
  margin-top: -7rem;
  color: var(--color-currency-gold);
  line-height: 120%;
}@keyframes VehicleTitle_fadeIn_8292520d {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.VehicleTitle_cc85cff9 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-currency-gold);
  white-space: nowrap;
}@keyframes RewardCard_fadeIn_a49b43b7 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RewardCard_447f9fb1 {
  width: 80rem;
  height: 80rem;
  position: relative;
  z-index: 0;
}@keyframes Compensation_fadeIn_db29c4dc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Compensation_iconWrapper_fc198a86 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.Compensation_icon_54e1c9 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10rem, -8rem);
}
.Compensation_icon__withCounter_4d92acbd {
  transform: translate(8rem, 0);
}
.mediaLarge .Compensation_icon__withCounter_4d92acbd {
  transform: translate(8rem, -8rem);
}

.Compensation_particles_9b14546e {
  width: 128rem;
  height: 128rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}@keyframes Card_fadeIn_f4c22d1c {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Card_334a5baa {
  margin-left: 16rem;
}

.Card_334a5baa .Card_reward_ff2c5c28 {
  margin: 0;
}

.Card_334a5baa .Card_compensation_46864467 {
  position: absolute;
}

.Card_334a5baa .Card_title_43ce242d {
  z-index: 1;
}

.Card_334a5baa .Card_vehicleTitle_a2262475 {
  margin-top: -7rem;
}

.Card_loupeWrapper_e3dd749b {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 6rem;
  left: 0;
}

.Card_334a5baa .Card_video_30ee6c3b {
  width: 256rem;
  height: 256rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}@keyframes RewardsRow_fadeIn_8819d1ca {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RewardsRow_8819d1ca .RewardsRow_ordinal__0_e5b77023 {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.animation_0_CONCURRENT_APPEAR .RewardsRow_8819d1ca .RewardsRow_ordinal__0_e5b77023 {
  opacity: 1;
}
.animation_0_CONCURRENT_APPEAR__skip .RewardsRow_8819d1ca .RewardsRow_ordinal__0_e5b77023 {
  opacity: 1;
  transition: opacity 0s ease-out;
}
.RewardsRow_8819d1ca .RewardsRow_ordinal__1_e5b77023 {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.animation_1_CONCURRENT_APPEAR .RewardsRow_8819d1ca .RewardsRow_ordinal__1_e5b77023 {
  opacity: 1;
}
.animation_1_CONCURRENT_APPEAR__skip .RewardsRow_8819d1ca .RewardsRow_ordinal__1_e5b77023 {
  opacity: 1;
  transition: opacity 0s ease-out;
}
.RewardsRow_8819d1ca .RewardsRow_ordinal__2_e5b77023 {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.animation_2_CONCURRENT_APPEAR .RewardsRow_8819d1ca .RewardsRow_ordinal__2_e5b77023 {
  opacity: 1;
}
.animation_2_CONCURRENT_APPEAR__skip .RewardsRow_8819d1ca .RewardsRow_ordinal__2_e5b77023 {
  opacity: 1;
  transition: opacity 0s ease-out;
}
.RewardsRow_8819d1ca .RewardsRow_ordinal__3_e5b77023 {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.animation_3_CONCURRENT_APPEAR .RewardsRow_8819d1ca .RewardsRow_ordinal__3_e5b77023 {
  opacity: 1;
}
.animation_3_CONCURRENT_APPEAR__skip .RewardsRow_8819d1ca .RewardsRow_ordinal__3_e5b77023 {
  opacity: 1;
  transition: opacity 0s ease-out;
}
.RewardsRow_8819d1ca .RewardsRow_ordinal__4_e5b77023 {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.animation_4_CONCURRENT_APPEAR .RewardsRow_8819d1ca .RewardsRow_ordinal__4_e5b77023 {
  opacity: 1;
}
.animation_4_CONCURRENT_APPEAR__skip .RewardsRow_8819d1ca .RewardsRow_ordinal__4_e5b77023 {
  opacity: 1;
  transition: opacity 0s ease-out;
}

.RewardsRow_8819d1ca .RewardsRow_divider__0_e5b77023 {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.animation_0_CONCURRENT_APPEAR .RewardsRow_8819d1ca .RewardsRow_divider__0_e5b77023 {
  opacity: 1;
}
.animation_0_CONCURRENT_APPEAR__skip .RewardsRow_8819d1ca .RewardsRow_divider__0_e5b77023 {
  opacity: 1;
  transition: opacity 0s ease-out;
}
.RewardsRow_8819d1ca .RewardsRow_divider__1_e5b77023 {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.animation_1_CONCURRENT_APPEAR .RewardsRow_8819d1ca .RewardsRow_divider__1_e5b77023 {
  opacity: 1;
}
.animation_1_CONCURRENT_APPEAR__skip .RewardsRow_8819d1ca .RewardsRow_divider__1_e5b77023 {
  opacity: 1;
  transition: opacity 0s ease-out;
}
.RewardsRow_8819d1ca .RewardsRow_divider__2_e5b77023 {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.animation_2_CONCURRENT_APPEAR .RewardsRow_8819d1ca .RewardsRow_divider__2_e5b77023 {
  opacity: 1;
}
.animation_2_CONCURRENT_APPEAR__skip .RewardsRow_8819d1ca .RewardsRow_divider__2_e5b77023 {
  opacity: 1;
  transition: opacity 0s ease-out;
}
.RewardsRow_8819d1ca .RewardsRow_divider__3_e5b77023 {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.animation_3_CONCURRENT_APPEAR .RewardsRow_8819d1ca .RewardsRow_divider__3_e5b77023 {
  opacity: 1;
}
.animation_3_CONCURRENT_APPEAR__skip .RewardsRow_8819d1ca .RewardsRow_divider__3_e5b77023 {
  opacity: 1;
  transition: opacity 0s ease-out;
}@keyframes Layout_fadeIn_750f09cf {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Layout_1c0c8eb5 {
  pointer-events: none;
}
.Layout_base__ready_73e4204f {
  pointer-events: auto;
}

.Layout_rewards_82ba0c21 {
  display: flex;
  flex-direction: column;
}

.Layout_1c0c8eb5 .Layout_overlay_2156876 {
  z-index: 4;
  pointer-events: auto;
}@keyframes App_fadeIn_0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_0 .App_background_bb0bfe54 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App_loaderWrapper_60701c61 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}