/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.AssemblingVideo_e9b4126e {
  width: 100%;
  height: 100%;
  background-color: #000;
  pointer-events: none;
}

.AssemblingVideo_video_64714e8e {
  width: 100%;
  height: 100%;
}