/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Disclaimer_c21b7af0 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Disclaimer_icon_baeb32dd {
  width: 16rem;
  height: 16rem;
  margin-right: 6rem;
  background: url(R.images.gui.maps.icons.prebattle_highlights.disclaimer_icon) no-repeat
    center/contain;
}
.mediaLarge .Disclaimer_icon_baeb32dd {
  margin-top: -1rem;
}

.Disclaimer_text_f693b49c {
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 1.5rem 0 rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.5);
  font-size: 16rem;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.mediaLarge .Disclaimer_text_f693b49c {
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 2rem 0 rgba(0, 0, 0, 0.4);
  font-size: 18rem;
}
.mediaExtraLarge .Disclaimer_text_f693b49c {
  font-size: 22rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Player_badge_556af5a3 {
  margin-right: 4rem;
}
.mediaExtraLarge .Player_badge_556af5a3 {
  margin-right: 6rem;
}

.Player_name_982ea236,
.Player_clan_c3ebce11 {
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 1.5rem 0 rgba(0, 0, 0, 0.4);
  margin-right: 0;
  padding-bottom: 0;
  color: rgba(255, 255, 255, 0.95);
  font-size: 18rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
}
.mediaLarge .Player_name_982ea236,
.mediaLarge .Player_clan_c3ebce11 {
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 2rem 0 rgba(0, 0, 0, 0.4);
  font-size: 25rem;
  letter-spacing: 0.6rem;
}
.mediaExtraLarge .Player_name_982ea236,
.mediaExtraLarge .Player_clan_c3ebce11 {
  font-size: 32rem;
}
.Player_name__personal_982ea236,
.Player_clan__personal_d77ec456 {
  color: rgba(255, 221, 153, 0.95);
}
.Player_base__topPlayer_982ea236 .Player_name_982ea236,
.Player_base__topPlayer_982ea236 .Player_clan_c3ebce11 {
  font-size: 28rem;
  letter-spacing: 0.5rem;
}
.mediaLarge .Player_base__topPlayer_982ea236 .Player_name_982ea236,
.mediaLarge .Player_base__topPlayer_982ea236 .Player_clan_c3ebce11 {
  font-size: 36rem;
  letter-spacing: 0.6rem;
}
.mediaExtraLarge .Player_base__topPlayer_982ea236 .Player_name_982ea236,
.mediaExtraLarge .Player_base__topPlayer_982ea236 .Player_clan_c3ebce11 {
  font-size: 44rem;
  letter-spacing: 0.8rem;
}

.Player_clan_c3ebce11 {
  margin-left: 5rem;
}
.mediaExtraLarge .Player_clan_c3ebce11 {
  margin-left: 8rem;
}
.Player_base__topPlayer_982ea236 .Player_clan_c3ebce11 {
  margin-left: 5rem;
}
.mediaLarge .Player_base__topPlayer_982ea236 .Player_clan_c3ebce11 {
  margin-left: 9rem;
}
.mediaExtraLarge .Player_base__topPlayer_982ea236 .Player_clan_c3ebce11 {
  margin-left: 11rem;
}

.Player_truncatedText_3a7272e {
  max-width: 140rem;
}
.mediaMedium .Player_truncatedText_3a7272e {
  max-width: 170rem;
}
.mediaLarge .Player_truncatedText_3a7272e {
  max-width: 250rem;
}
.mediaExtraLarge .Player_truncatedText_3a7272e {
  max-width: 340rem;
}
.Player_base__topPlayer_982ea236 .Player_truncatedText_3a7272e {
  max-width: 200rem;
}
.mediaMedium .Player_base__topPlayer_982ea236 .Player_truncatedText_3a7272e {
  max-width: 245rem;
}
.mediaLarge .Player_base__topPlayer_982ea236 .Player_truncatedText_3a7272e {
  max-width: 330rem;
}
.mediaExtraLarge .Player_base__topPlayer_982ea236 .Player_truncatedText_3a7272e {
  max-width: 430rem;
}
.Player_truncatedText__clanTag_f2c8e059 {
  max-width: 100rem;
}
.mediaMedium .Player_truncatedText__clanTag_f2c8e059 {
  max-width: 125rem;
}
.mediaLarge .Player_truncatedText__clanTag_f2c8e059 {
  max-width: 190rem;
}
.mediaExtraLarge .Player_truncatedText__clanTag_f2c8e059 {
  max-width: 245rem;
}
.Player_base__topPlayer_982ea236 .Player_truncatedText__clanTag_f2c8e059 {
  max-width: 125rem;
}
.mediaMedium .Player_base__topPlayer_982ea236 .Player_truncatedText__clanTag_f2c8e059 {
  max-width: 170rem;
}
.mediaLarge .Player_base__topPlayer_982ea236 .Player_truncatedText__clanTag_f2c8e059 {
  max-width: 245rem;
}
.mediaExtraLarge .Player_base__topPlayer_982ea236 .Player_truncatedText__clanTag_f2c8e059 {
  max-width: 300rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Prestige_base__animation_d8010b06 {
  animation: Prestige_slideInFromLeft_61dd184 330ms cubic-bezier(0.75, 0, 0.67, 1) 170ms both;
}
.mediaLarge .Prestige_base__animation_d8010b06 {
  animation-name: Prestige_slideInFromLeftBig_61dd184;
}

.Prestige_icon_61dd184,
.Prestige_emblem_5471aa59 {
  width: 72rem;
  height: 72rem;
}
.mediaLarge .Prestige_icon_61dd184,
.mediaLarge .Prestige_emblem_5471aa59 {
  width: 100rem;
  height: 75rem;
}
.mediaExtraLarge .Prestige_icon_61dd184,
.mediaExtraLarge .Prestige_emblem_5471aa59 {
  width: 115rem;
  height: 84rem;
}
.Prestige_base__topPlayer_61dd184 .Prestige_icon_61dd184,
.Prestige_base__topPlayer_61dd184 .Prestige_emblem_5471aa59 {
  width: 100rem;
  height: 75rem;
}
.mediaLarge .Prestige_base__topPlayer_61dd184 .Prestige_icon_61dd184,
.mediaLarge .Prestige_base__topPlayer_61dd184 .Prestige_emblem_5471aa59 {
  width: 143rem;
  height: 104rem;
}
.mediaExtraLarge .Prestige_base__topPlayer_61dd184 .Prestige_icon_61dd184,
.mediaExtraLarge .Prestige_base__topPlayer_61dd184 .Prestige_emblem_5471aa59 {
  width: 170rem;
  height: 124rem;
}
.Prestige_base__upscale_61dd184 .Prestige_icon_61dd184,
.Prestige_base__upscale_61dd184 .Prestige_emblem_5471aa59 {
  width: 100rem;
  height: 75rem;
}
.Prestige_base__topPlayer_61dd184.Prestige_base__upscale_61dd184 .Prestige_icon_61dd184,
.Prestige_base__topPlayer_61dd184.Prestige_base__upscale_61dd184 .Prestige_emblem_5471aa59 {
  width: 143rem;
  height: 104rem;
}

.Prestige_level_17d61673 {
  width: 9rem;
  height: 19rem;
}
.mediaLarge .Prestige_level_17d61673 {
  width: 14rem;
  height: 27rem;
}
.mediaExtraLarge .Prestige_level_17d61673 {
  width: 16rem;
  height: 33rem;
}
.Prestige_base__topPlayer_61dd184 .Prestige_level_17d61673 {
  width: 14rem;
  height: 27rem;
}
.mediaLarge .Prestige_base__topPlayer_61dd184 .Prestige_level_17d61673 {
  width: 20rem;
  height: 41rem;
}
.mediaExtraLarge .Prestige_base__topPlayer_61dd184 .Prestige_level_17d61673 {
  width: 23rem;
  height: 48rem;
}
.Prestige_base__upscale_61dd184 .Prestige_level_17d61673 {
  width: 14rem;
  height: 27rem;
}
.Prestige_base__topPlayer_61dd184.Prestige_base__upscale_61dd184 .Prestige_level_17d61673 {
  width: 20rem;
  height: 41rem;
}

@keyframes Prestige_slideInFromLeft_61dd184 {
  from {
    transform: translateX(-350rem) scale(0);
  }
  to {
    transform: translateX(0) scale(1);
  }
}
@keyframes Prestige_slideInFromLeftBig_61dd184 {
  from {
    transform: translateX(-450rem) scale(0);
  }
  to {
    transform: translateX(0) scale(1);
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PrestigeEffects_e45a612f {
  position: relative;
}

.PrestigeEffects_first_4733a460,
.PrestigeEffects_loop_dea36d09 {
  width: 600rem;
  height: 300rem;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-66%, -52%);
  transition: opacity 1s ease;
}
.mediaLarge .PrestigeEffects_first_4733a460,
.mediaLarge .PrestigeEffects_loop_dea36d09 {
  width: 900rem;
  height: 450rem;
  transform: translate(-71.3%, -49.6%);
}
.mediaExtraLarge .PrestigeEffects_first_4733a460,
.mediaExtraLarge .PrestigeEffects_loop_dea36d09 {
  transform: translate(-69.8%, -49.7%);
}
.PrestigeEffects_first__invisible_4733a460,
.PrestigeEffects_loop__invisible_31038c09 {
  opacity: 0;
}
.PrestigeEffects_base__topPlayer_4733a460 .PrestigeEffects_first_4733a460,
.PrestigeEffects_base__topPlayer_4733a460 .PrestigeEffects_loop_dea36d09 {
  transform: translate(-63.3%, -52.4%);
}
.mediaLarge .PrestigeEffects_base__topPlayer_4733a460 .PrestigeEffects_first_4733a460,
.mediaLarge .PrestigeEffects_base__topPlayer_4733a460 .PrestigeEffects_loop_dea36d09 {
  transform: translate(-58%, -49.3%);
}
.mediaExtraLarge .PrestigeEffects_base__topPlayer_4733a460 .PrestigeEffects_first_4733a460,
.mediaExtraLarge .PrestigeEffects_base__topPlayer_4733a460 .PrestigeEffects_loop_dea36d09 {
  transform: translate(-66.7%, -49.8%);
}
.PrestigeEffects_base__upscale_4733a460 .PrestigeEffects_first_4733a460,
.PrestigeEffects_base__upscale_4733a460 .PrestigeEffects_loop_dea36d09 {
  width: 900rem;
  height: 450rem;
  transform: translate(-63.3%, -48.4%);
}
.PrestigeEffects_base__topPlayer_4733a460.PrestigeEffects_base__upscale_4733a460
  .PrestigeEffects_first_4733a460,
.PrestigeEffects_base__topPlayer_4733a460.PrestigeEffects_base__upscale_4733a460
  .PrestigeEffects_loop_dea36d09 {
  width: 900rem;
  height: 450rem;
  transform: translate(-60.8%, -48%);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Vehicle_level_c03ad304,
.Vehicle_name_1222d3f3 {
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 1.5rem 0 rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.95);
  font-size: 16rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.3rem;
  opacity: 0.9;
}
.mediaLarge .Vehicle_level_c03ad304,
.mediaLarge .Vehicle_name_1222d3f3 {
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 2rem 0 rgba(0, 0, 0, 0.4);
  font-size: 21rem;
  letter-spacing: 0.5rem;
}
.mediaExtraLarge .Vehicle_level_c03ad304,
.mediaExtraLarge .Vehicle_name_1222d3f3 {
  font-size: 28rem;
}
.media-upscale .Vehicle_level_c03ad304,
.media-upscale .Vehicle_name_1222d3f3 {
  font-size: 20rem;
}
.Vehicle_base__topPlayer_c03ad304 .Vehicle_level_c03ad304,
.Vehicle_base__topPlayer_c03ad304 .Vehicle_name_1222d3f3 {
  font-size: 24rem;
  letter-spacing: 0.4rem;
}
.mediaLarge .Vehicle_base__topPlayer_c03ad304 .Vehicle_level_c03ad304,
.mediaLarge .Vehicle_base__topPlayer_c03ad304 .Vehicle_name_1222d3f3 {
  font-size: 32rem;
}
.mediaExtraLarge .Vehicle_base__topPlayer_c03ad304 .Vehicle_level_c03ad304,
.mediaExtraLarge .Vehicle_base__topPlayer_c03ad304 .Vehicle_name_1222d3f3 {
  font-size: 36rem;
}

.Vehicle_icon_5b01d88d {
  width: 17rem;
  height: 24rem;
}
.mediaLarge .Vehicle_icon_5b01d88d {
  width: 22rem;
  height: 32rem;
}
.mediaExtraLarge .Vehicle_icon_5b01d88d {
  width: 33rem;
  height: 48rem;
}
.Vehicle_base__topPlayer_c03ad304 .Vehicle_icon_5b01d88d {
  width: 22rem;
  height: 32rem;
}
.mediaLarge .Vehicle_base__topPlayer_c03ad304 .Vehicle_icon_5b01d88d {
  width: 33rem;
  height: 48rem;
}
.Vehicle_icon__premium_f4dac448 {
  width: 24rem;
}
.mediaLarge .Vehicle_icon__premium_f4dac448 {
  width: 32rem;
}
.mediaExtraLarge .Vehicle_icon__premium_f4dac448 {
  width: 48rem;
}
.Vehicle_base__topPlayer_c03ad304 .Vehicle_icon__premium_f4dac448 {
  width: 32rem;
}
.mediaLarge .Vehicle_base__topPlayer_c03ad304 .Vehicle_icon__premium_f4dac448 {
  width: 48rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Marker_8c70e8c3 {
  display: flex;
  align-items: center;
  z-index: 0;
}

.Marker_wrapper_92577edd {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.Marker_wrapper__prestige_e68b57d1 {
  align-items: flex-end;
  margin-top: 1rem;
  margin-right: 2rem;
}
.mediaLarge .Marker_wrapper__prestige_e68b57d1 {
  margin-right: 6rem;
}
.mediaExtraLarge .Marker_wrapper__prestige_e68b57d1 {
  margin-top: 5rem;
  margin-right: 5rem;
}
.Marker_base__topPlayer_8a35c519 .Marker_wrapper__prestige_e68b57d1 {
  margin-top: -3rem;
  margin-right: 5rem;
}
.mediaLarge .Marker_base__topPlayer_8a35c519 .Marker_wrapper__prestige_e68b57d1 {
  margin-top: 4rem;
  margin-right: 6rem;
}
.mediaExtraLarge .Marker_base__topPlayer_8a35c519 .Marker_wrapper__prestige_e68b57d1 {
  margin-top: -7rem;
  margin-right: 4rem;
}
.Marker_base__topPlayer_8a35c519.Marker_base__upscale_8a35c519 .Marker_wrapper__prestige_e68b57d1 {
  margin-top: 3rem;
}

.Marker_vehicle_58dbe185 {
  margin-top: -3rem;
}
.mediaLarge .Marker_vehicle_58dbe185 {
  margin-top: -1rem;
  margin-right: -2rem;
}
.mediaExtraLarge .Marker_vehicle_58dbe185 {
  margin-top: 2rem;
}
.Marker_base__topPlayer_8a35c519 .Marker_vehicle_58dbe185 {
  margin-top: 0;
}
.mediaLarge .Marker_base__topPlayer_8a35c519 .Marker_vehicle_58dbe185 {
  margin-right: 1rem;
}
.mediaExtraLarge .Marker_base__topPlayer_8a35c519 .Marker_vehicle_58dbe185 {
  margin-top: -2rem;
  margin-right: 0;
}
.Marker_wrapper__prestige_e68b57d1 .Marker_vehicle_58dbe185 {
  margin-top: 0;
  margin-right: 1rem;
}
.mediaLarge .Marker_wrapper__prestige_e68b57d1 .Marker_vehicle_58dbe185 {
  margin-top: 3rem;
  margin-right: 0;
}
.mediaExtraLarge .Marker_wrapper__prestige_e68b57d1 .Marker_vehicle_58dbe185 {
  margin-top: -4rem;
}
.Marker_base__upscale_8a35c519 .Marker_wrapper__prestige_e68b57d1 .Marker_vehicle_58dbe185 {
  margin-top: 3rem;
}
.Marker_base__topPlayer_8a35c519 .Marker_wrapper__prestige_e68b57d1 .Marker_vehicle_58dbe185 {
  margin: 0;
}
.mediaLarge
  .Marker_base__topPlayer_8a35c519
  .Marker_wrapper__prestige_e68b57d1
  .Marker_vehicle_58dbe185 {
  margin-top: 4rem;
}
.Marker_base__upscale_8a35c519
  .Marker_base__topPlayer_8a35c519
  .Marker_wrapper__prestige_e68b57d1
  .Marker_vehicle_58dbe185 {
  margin-top: -3rem;
}
.Marker_vehicle__animation_262dcfb5 {
  animation: Marker_slide-in-left_8a35c519 200ms cubic-bezier(0.05, 0, 0, 1) both;
}
.Marker_wrapper__prestige_e68b57d1 .Marker_vehicle__animation_262dcfb5 {
  animation-delay: 600ms;
}

.Marker_player__animation_dbd10297 {
  animation: Marker_slide-in-left_8a35c519 200ms cubic-bezier(0.05, 0, 0, 1) both;
}
.Marker_wrapper__prestige_e68b57d1 .Marker_player__animation_dbd10297 {
  animation-delay: 400ms;
}

.Marker_shadow_5d653daf {
  width: 150%;
  height: 150%;
  background: radial-gradient(
    54% 61% at 50% 50%,
    rgba(4, 10, 54, 0.6) 0%,
    rgba(34, 40, 87, 0) 100%
  );
  filter: blur(28rem);
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.mediaLarge .Marker_shadow_5d653daf {
  opacity: 0.7;
}

@keyframes Marker_slide-in-left_8a35c519 {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Markers_marker_35bb5b0 {
  position: absolute;
  top: 0;
  left: 0;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.SkipHint_647c4d7f {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SkipHint_keyButton_51887ee6 {
  cursor: auto;
}

.SkipHint_keyButton_51887ee6,
.SkipHint_background_b105184d,
.SkipHint_border_b4ce15c0,
.SkipHint_background_b105184d::after {
  border-radius: 3rem;
}

.SkipHint_content_7a8de1f4 {
  height: 20rem;
  padding: 0 7rem;
  font-size: 16rem;
  letter-spacing: 0.06rem;
}
.mediaLarge .SkipHint_content_7a8de1f4 {
  height: 32rem;
  padding: 0 14rem 0 15rem;
  font-size: 20rem;
}

.mediaLarge .SkipHint_border_b4ce15c0 {
  border-width: 2rem;
  box-shadow:
    0 0 0 1rem rgba(13, 14, 16, 0.4),
    inset 0 0 0 2rem rgba(13, 14, 16, 0.32);
}

.SkipHint_text_75076858 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 1.5rem 0 rgba(0, 0, 0, 0.4);
  margin-left: 8rem;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.4rem;
}
.mediaLarge .SkipHint_text_75076858 {
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 2rem 0 rgba(0, 0, 0, 0.4);
  font-size: 22rem;
}
.mediaExtraLarge .SkipHint_text_75076858 {
  font-size: 26rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Statistic_3a3678a3 {
  display: flex;
  align-items: center;
}

.Statistic_icon_4a397cee {
  width: 80rem;
  height: 80rem;
}
.mediaLarge .Statistic_icon_4a397cee {
  width: 100rem;
  height: 100rem;
}
.mediaExtraLarge .Statistic_icon_4a397cee {
  width: 130rem;
  height: 130rem;
}
.Statistic_base__animation_e8e4bd3a .Statistic_icon_4a397cee {
  animation: Statistic_slide-in-left_e8e4bd3a 700ms cubic-bezier(0.33, 0, 0.25, 1) both;
}

.Statistic_wrapper_c249195c {
  display: flex;
  align-items: center;
}
.Statistic_base__animation_e8e4bd3a .Statistic_wrapper_c249195c {
  animation: Statistic_slide-in-right_e8e4bd3a 700ms cubic-bezier(0.33, 0, 0.25, 1) both;
}

.Statistic_value_e61a02be {
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 1.5rem 0 rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.9);
  font-size: 44rem;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.mediaLarge .Statistic_value_e61a02be {
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 2rem 0 rgba(0, 0, 0, 0.4);
  font-size: 56rem;
}
.mediaExtraLarge .Statistic_value_e61a02be {
  font-size: 72rem;
}

.Statistic_description_45ba82aa {
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 1.5rem 0 rgba(0, 0, 0, 0.4);
  max-width: 235rem;
  margin-left: 7rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mediaLarge .Statistic_description_45ba82aa {
  text-shadow:
    0 0 80rem rgba(21, 21, 21, 0.24),
    0 0 40rem rgba(28, 28, 28, 0.3),
    0 1rem 10rem rgba(22, 22, 22, 0.2),
    0 2rem 0 rgba(0, 0, 0, 0.4);
  max-width: 250rem;
}
.mediaExtraLarge .Statistic_description_45ba82aa {
  max-width: 275rem;
  margin-left: 6rem;
}

.Statistic_achievement_592d340f {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18rem;
}
.mediaLarge .Statistic_achievement_592d340f {
  font-size: 22rem;
}
.mediaExtraLarge .Statistic_achievement_592d340f {
  font-size: 24rem;
}

.Statistic_condition_da409f47 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14rem;
}
.mediaLarge .Statistic_condition_da409f47 {
  font-size: 16rem;
}
.mediaExtraLarge .Statistic_condition_da409f47 {
  font-size: 18rem;
}

@keyframes Statistic_slide-in-left_e8e4bd3a {
  0% {
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes Statistic_slide-in-right_e8e4bd3a {
  0% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(0);
  }
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.StatisticsBlock_9af11d2d {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 40rem;
}
.mediaMedium .StatisticsBlock_9af11d2d {
  padding: 0 60rem;
}
.mediaLarge .StatisticsBlock_9af11d2d {
  padding: 0 100rem;
}
.mediaExtraLarge .StatisticsBlock_9af11d2d {
  padding: 0 130rem;
}

.StatisticsBlock_statistic_8466ee0c {
  flex: 0 0 auto;
}
.StatisticsBlock_statistic_8466ee0c + .StatisticsBlock_statistic_8466ee0c {
  margin-left: 40rem;
}

.StatisticsBlock_separator_1e08e842 {
  display: flex;
  flex: 1;
  height: 1rem;
}
.StatisticsBlock_separator_1e08e842::before,
.StatisticsBlock_separator_1e08e842::after {
  height: 1rem;
  background: rgba(217, 217, 217, 0.3);
  content: "";
}
.StatisticsBlock_separator__left_784c8a40 {
  margin-right: 20rem;
}
.StatisticsBlock_separator__left_784c8a40::before {
  flex-shrink: 0;
  width: 4rem;
  margin-right: 3rem;
}
.StatisticsBlock_separator__left_784c8a40::after {
  flex: 1;
}
.StatisticsBlock_separator__right_1ca5e556 {
  margin-left: 20rem;
}
.StatisticsBlock_separator__right_1ca5e556::before {
  flex: 1;
  margin-right: 3rem;
}
.StatisticsBlock_separator__right_1ca5e556::after {
  flex-shrink: 0;
  width: 4rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Page_vignette_2c6d96fa,
.Page_vignetteFirstLayer_c7344b16,
.Page_vignetteSecondLayer_d15ded3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Page_4d694112 {
  width: 100%;
  height: 100%;
  position: relative;
}

.Page_vignette_2c6d96fa {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.Page_vignette__visible_6a5909e0 {
  opacity: 1;
}

.Page_topVignette_4bc20d5f {
  width: 100%;
  height: 35%;
  opacity: 0.35;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(180deg);
}

.Page_bottomVignette_f81748be {
  width: 100%;
  height: 35%;
  opacity: 0.7;
  position: absolute;
  left: 0;
  bottom: 0;
}

.Page_vignetteFirstLayer_c7344b16 {
  background: linear-gradient(0deg, #2c2c2c 0%, #1c1c1c 100%);
  opacity: 0.85;
  mask: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%) no-repeat;
}

.Page_vignetteSecondLayer_d15ded3 {
  background: linear-gradient(0deg, #2c2c2c 0%, #1c1c1c 100%);
  opacity: 0.1;
  mask: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%) no-repeat;
}

.Page_skipHint_53bcee3a {
  position: absolute;
  bottom: 30rem;
  left: 30rem;
}
.mediaLarge .Page_skipHint_53bcee3a {
  bottom: 40rem;
  left: 40rem;
}

.Page_statBlock_dff0bce9 {
  position: absolute;
  bottom: 55rem;
  left: 50%;
  transform: translateX(-50%);
}
.mediaMedium .Page_statBlock_dff0bce9 {
  bottom: 75rem;
}
.mediaLarge .Page_statBlock_dff0bce9 {
  bottom: 100rem;
}
.mediaExtraLarge .Page_statBlock_dff0bce9 {
  bottom: 110rem;
}
.Page_statBlock__disclaimer_3d20fbe4 {
  bottom: 57rem;
}
.mediaMedium .Page_statBlock__disclaimer_3d20fbe4 {
  bottom: 77rem;
}
.mediaLarge .Page_statBlock__disclaimer_3d20fbe4 {
  bottom: 102rem;
}
.mediaExtraLarge .Page_statBlock__disclaimer_3d20fbe4 {
  bottom: 112rem;
}

.Page_disclaimer_c48d0173 {
  position: absolute;
  bottom: 33rem;
  left: 50%;
  transform: translateX(-50%);
}
.mediaMedium .Page_disclaimer_c48d0173 {
  bottom: 35rem;
}
.mediaLarge .Page_disclaimer_c48d0173 {
  bottom: 46rem;
}
.mediaExtraLarge .Page_disclaimer_c48d0173 {
  bottom: 45rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_fac56ab6 {
  width: 100%;
  height: 100%;
  color: var(--color-general-primary);
  overflow: hidden;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#root,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}
