.TooltipDecorator_base_c9 {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.images.gui.maps.icons.tooltip.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.Box_mt__XS_0c {
  margin-top: 4rem;
}
.Box_mt__SM_eb {
  margin-top: 8rem;
}
.Box_mt__SMp_cf {
  margin-top: 10rem;
}
.Box_mt__MD_25 {
  margin-top: 16rem;
}
.Box_mt__MDp_49 {
  margin-top: 20rem;
}
.Box_mt__LG_e8 {
  margin-top: 32rem;
}
.Box_mt__XL_83 {
  margin-top: 64rem;
}

.Box_mr__XS_7c {
  margin-right: 4rem;
}

.Box_mr__SM_08 {
  margin-right: 8rem;
}

.Box_mr__SMp_06 {
  margin-right: 10rem;
}

.Box_mr__MD_4a {
  margin-right: 16rem;
}

.Box_mr__MDp_b6 {
  margin-right: 20rem;
}

.Box_mr__LG_d0 {
  margin-right: 32rem;
}

.Box_mr__XL_db {
  margin-right: 64rem;
}

.Box_mb__XS_bb {
  margin-bottom: 4rem;
}

.Box_mb__SM_83 {
  margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
  margin-bottom: 10rem;
}

.Box_mb__MD_ed {
  margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
  margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
  margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
  margin-bottom: 64rem;
}

.Box_ml__XS_8a {
  margin-left: 4rem;
}

.Box_ml__SM_e6 {
  margin-left: 8rem;
}

.Box_ml__SMp_fb {
  margin-left: 10rem;
}

.Box_ml__MD_2b {
  margin-left: 16rem;
}

.Box_ml__MDp_c7 {
  margin-left: 20rem;
}

.Box_ml__LG_39 {
  margin-left: 32rem;
}

.Box_ml__XL_4a {
  margin-left: 64rem;
}

.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
  font-size: 10rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_paragraph-P12_22 {
  font-size: 12rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P14_a7 {
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.Text_paragraph-P16_90 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P18_50 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.25;
}
.Text_paragraph-P24_33 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 32rem;
}
.Text_heading-H14_8b {
  font-size: 14rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H15_9e {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.Text_heading-H18_b7 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H20R_f6 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H22_27 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H24R_be {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.2;
}
.Text_heading-H24_0c {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.2;
}
.Text_heading-H28_78 {
  font-size: 28rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H36_32 {
  font-size: 36rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H56_c3 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H73_8f {
  font-size: 73rem;
  font-weight: 700;
  line-height: 1.1;
}
.Text_heading-H144_a9 {
  font-size: 144rem;
  font-weight: 700;
  line-height: 1;
}
.Text_BLACK_REAL_30 {
  color: #000000;
}
.Text_WHITE_REAL_bc {
  color: #ffffff;
}
.Text_WHITE_62 {
  color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
  color: #fefeec;
}
.Text_WHITE_SPANISH_df {
  color: #e9e2bf;
}
.Text_PAR_15 {
  color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
  color: #595950;
}
.Text_PAR_TERTIARY_c9 {
  color: #37362e;
}
.Text_INFO_RED_30 {
  color: #ff0000;
}
.Text_RED_66 {
  color: #ff2717;
}
.Text_RED_DARK_d8 {
  color: #b70000;
}
.Text_YELLOW_ed {
  color: #feab34;
}
.Text_ORANGE_be {
  color: #ee7000;
}
.Text_CREAM_57 {
  color: #ffdd99;
}
.Text_BROWN_18 {
  color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
  color: #80d43a;
}
.Text_GREEN_e3 {
  color: #7ab300;
}
.Text_GREEN_DARK_f1 {
  color: #497212;
}
.Text_BLUE_BOOSTER_21 {
  color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
  color: #09e2ff;
}
.Text_CRED_f7 {
  color: #ced9d9;
}
.Text_GOLD_28 {
  color: #ffc363;
}
.Text_BOND_be {
  color: #c9c9b6;
}
.Text_PROM_65 {
  color: #a29b70;
}

.App_base_b2 {
  width: 365rem;
  height: 472rem;
  position: relative;
}

.App_base__disabled_eb,
.App_base__disabledLevel_cb,
.App_base__available_1e {
  height: 452rem;
}

.App_base__completedPerfectly_7d {
  height: 192rem;
}
.App_bg_3c {
  width: 365rem;
  height: 140rem;
  background: no-repeat center / cover;
  position: absolute;
  z-index: 1;
}
.App_content_32 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.App_paddingContent_c1 {
  width: 100%;
  height: 368rem;
  padding: 22rem 0 0 20rem;
  position: relative;
}
.App_base__completedPerfectly_7d .App_paddingContent_c1 {
  height: 76rem;
}
.App_header_dd {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 43rem;
}
.App_base__completedPerfectly_7d .App_header_dd {
  margin-bottom: 34rem;
}
.App_subtitleWrapper_d2 {
  display: flex;
  align-items: center;
  margin-bottom: 20rem;
}
.App_subtitle_34 {
  color: #e9e2bf;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
  margin-right: 8rem;
}
.App_subtitle__rewards_70 {
  margin-right: 0;
  position: absolute;
  top: 16rem;
  z-index: 2;
}
.App_branchesWrapper_a6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20rem;
}
.App_branch_3d {
  display: flex;
  align-items: center;
  margin-left: 66rem;
  margin-bottom: 6rem;
}
.App_branch__last_35 {
  margin-bottom: 0;
}
.App_branchText_50 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.App_branchText__done_4a,
.App_branchText__divider_c8 {
  margin-right: 2rem;
}
.App_branchText__name_46 {
  display: flex;
  justify-content: flex-end;
  width: 100rem;
  margin-right: 12rem;
}
.App_branchText__completed_dd {
  color: #7ab300;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.App_branchText__active_1a {
  color: #feab34;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.App_branchText__empty_dd {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}
.App_branchText__subtitle_b5 {
  color: #8c8c7e;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.App_branchText__subtitle__completed_3e {
  color: #7ab300;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.App_branchText__subtitle__active_08 {
  color: #feab34;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.App_branchText__subtitle__empty_79 {
  color: #8c8c7e;
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.15;
}
.App_rewardsSection_6b {
  width: 100%;
  height: 137rem;
  padding-top: 16rem;
  position: relative;
}
.App_rewardsWrapper_4d {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 49rem;
  left: -20rem;
  z-index: 2;
}
.App_reward_fc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12rem;
}
.App_reward__lastInRow_6f {
  margin-right: 0;
}
.App_rewardIcon_9d {
  width: 80rem;
  height: 80rem;
  background: no-repeat center / cover;
}
.App_rewardText_c8 {
  color: #ffdd99;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8rem;
}
.App_ribbon_8a {
  width: 365rem;
  height: 160rem;
  background: url("R.images.gui.maps.icons.personalMissions3.tooltips.OperationsTooltip.ribbon")
    no-repeat center / cover;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: -20rem;
  z-index: 1;
}
.App_divider_15 {
  width: 363rem;
  height: 9rem;
  margin-bottom: 9rem;
  background: url("R.images.gui.maps.icons.personalMissions3.tooltips.OperationsTooltip.divider")
    no-repeat center / cover;
}
.App_base__active_93 .App_divider_15 {
  margin-bottom: 7rem;
}
.App_base__disabled_eb .App_divider_15 {
  margin-bottom: 0;
}
.App_base__completedPerfectly_7d .App_divider_15 {
  margin-bottom: 11rem;
}
.App_footer_da {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 25rem;
}
.App_base__disabled_eb .App_footer_da {
  bottom: 15rem;
}
.App_base__completedPerfectly_7d .App_footer_da {
  bottom: 25rem;
}
.App_footerLabel_f0 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  transform: translateX(-7rem);
}
.App_base__available_1e .App_footerLabel_f0 {
  margin-bottom: 6rem;
}
.App_base__disabled_eb .App_footerLabel_f0 {
  margin-left: -12rem;
  margin-bottom: 0;
}
.App_footerLabelIcon_c0 {
  width: 24rem;
  height: 24rem;
  margin-right: 4rem;
  background: url("R.images.gui.maps.icons.personalMissions3.tooltips.OperationsTooltip.flag")
    no-repeat center / cover;
}
.App_base__disabledLevel_cb .App_footerLabelIcon_c0 {
  background-image: url("R.images.gui.maps.icons.library.alertBigIcon");
}
.App_base__disabled_eb .App_footerLabelIcon_c0 {
  width: 48rem;
  height: 48rem;
  margin-right: -8rem;
  background-image: url("R.images.gui.maps.icons.missions.commonIcons.lock_mission_48");
}
.App_base__completedPerfectly_7d .App_footerLabelIcon_c0 {
  background-image: url("R.images.gui.maps.icons.personalMissions.operations.states.fullyCompleted");
}
.App_footerLabelText_99 {
  color: #ffdd99;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.App_base__disabled_eb .App_footerLabelText_99 {
  text-shadow:
    0rem 0rem 4rem rgba(255, 127, 0, 0.25),
    0rem 0rem 8rem rgba(255, 42, 0, 0.7),
    0rem 0rem 15rem #e52;
}
.App_base__available_1e .App_footerLabelText_99 {
  color: #fefeec;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.App_base__disabledLevel_cb .App_footerLabelText_99 {
  color: #ee7000;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.App_base__completedPerfectly_7d .App_footerLabelText_99 {
  color: #7ab300;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
}
.App_footerBottomWrapper_c0 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.App_base__disabled_eb .App_footerBottomWrapper_c0 {
  transform: translateY(-8rem);
}
.App_footerBottomText_8e {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280rem;
  text-align: center;
  opacity: 0.7;
}
.App_footerBottomText_8e > div {
  justify-content: center;
}
