.TooltipDecorator_base_bf61f {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_bf8f8 .TooltipDecorator_decorator_f4de8 {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.atlases.components.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.FormatText_base_f27a4 {
  display: flex;
  flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_ae104 {
  color: #000000;
}

.FormatTextWithColorTags_whiteReal_c12a8 {
  color: #ffffff;
}

.FormatTextWithColorTags_white_c5665 {
  color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_fff65 {
  color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_d24b3 {
  color: #e9e2bf;
}

.FormatTextWithColorTags_par_ee7d9 {
  color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_a5b8c {
  color: #595950;
}

.FormatTextWithColorTags_parTertiary_a0c09 {
  color: #37362e;
}

.FormatTextWithColorTags_red_ad70c {
  color: #ff2717;
}

.FormatTextWithColorTags_redDark_afb30 {
  color: #b70000;
}

.FormatTextWithColorTags_yellow_e47d1 {
  color: #feab34;
}

.FormatTextWithColorTags_orange_e08c4 {
  color: #ee7000;
}

.FormatTextWithColorTags_cream_f2e96 {
  color: #ffdd99;
}

.FormatTextWithColorTags_brown_ed7be {
  color: #cbac77;
}

.FormatTextWithColorTags_greenBright_b0875 {
  color: #80d43a;
}

.FormatTextWithColorTags_green_d0263 {
  color: #7ab300;
}

.FormatTextWithColorTags_greenDark_f19b8 {
  color: #497212;
}

.FormatTextWithColorTags_blueBooster_fd3be {
  color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_fd915 {
  color: #09e2ff;
}

.FormatTextWithColorTags_cred_fdafa {
  color: #ced9d9;
}

.FormatTextWithColorTags_gold_ab90e {
  color: #ffc363;
}

.FormatTextWithColorTags_bond_e83f5 {
  color: #c9c9b6;
}

.FormatTextWithColorTags_prom_aa30c {
  color: #a29b70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_bf7ac {
  width: 0;
  color: #8c8c7e;
}

.App_base_dfbc4 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 328rem;
  position: relative;
}

.App_background_f3a03 {
  width: 328rem;
  height: 130rem;
  background: url("R.images.gui.maps.icons.tanksetup.popular_loadouts.tooltip.header_background")
    center center / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.App_header_c4689 {
  display: flex;
  flex-direction: column;
  padding: 16rem 20rem 14rem;
  z-index: 1;
}

.App_header_mainTitle_adfcc {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 8rem;
}

.App_header_desc_c3711 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.App_headerWrapper_f03a0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8rem;
}

.App_headerWrapper_icon_dab4b {
  width: 16rem;
  height: 16rem;
  background: url("R.images.gui.maps.icons.tanksetup.popular_loadouts.tooltip.wotplus_icon") center
    center / cover no-repeat;
}

.App_headerWrapper_title_a8548 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 4rem;
}

.App_body_b04b4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 288rem;
  padding: 10rem 20rem 16rem;
}

.App_body_title_ca6a1 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 12rem;
}

.App_body_commonlyUsed_ae1c4,
.App_body_legendary_c3dfa {
  display: flex;
  flex-direction: row;
}

.App_body_commonlyUsed_icon_b5861,
.App_body_legendary_icon_f4f9a {
  width: 32rem;
  height: 32rem;
}

.App_body_commonlyUsed_desc_fc6a0,
.App_body_legendary_desc_dd851 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 4rem;
}

.App_body_commonlyUsed_ae1c4 {
  margin-bottom: 16rem;
}

.App_body_commonlyUsed_icon_b5861 {
  background: url("R.images.gui.maps.icons.tanksetup.popular_loadouts.common_icon") center center /
    cover no-repeat;
}

.App_body_legendary_c3dfa {
  margin-bottom: 8rem;
}

.App_body_legendary_icon_f4f9a {
  background: url("R.images.gui.maps.icons.tanksetup.popular_loadouts.legendary_icon") center
    center / cover no-repeat;
}

.App_noData_de0bc {
  display: flex;
  flex-direction: column;
  max-width: 320rem;
  padding: 0 20rem 16rem;
}

.App_noData_separator_b5443 {
  width: 328rem;
  height: 104rem;
  margin-left: -20rem;
  background: url("R.images.gui.maps.icons.tanksetup.popular_loadouts.tooltip.separator") center
    center / cover no-repeat;
}

.App_noData_icon_e71f1 {
  width: 16rem;
  height: 16rem;
  margin-left: 50%;
  margin-top: -112rem;
  background: url("R.images.gui.maps.icons.library.maps") center center / cover no-repeat;
  z-index: 1;
  transform: translateX(-50%);
}

.App_noData_header_eccbc {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 4rem;
  z-index: 2;
  color: #feab34;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
}

.App_noData_desc_e3040 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  width: 100%;
  text-shadow: 0 0 1rem #000;
  z-index: 2;
}
