/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ArmorLayer_root_f9bb9b75,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ArmorLayer_94179689 {
  font-size: 15rem;
  font-weight: 400;
  line-height: 1.2em;
  display: flex;
  color: var(--color-general-tertiary);
  filter: saturate(1.4) brightness(1.6) contrast(0.5);
  position: relative;
}

.ArmorLayer_layer_5ad9db4 {
  display: flex;
  align-items: flex-end;
}
.ArmorLayer_layer_5ad9db4 .ArmorLayer_armor_9a7e5b0 {
  align-items: flex-end;
  white-space: pre-wrap;
}/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
      0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#App_root_0,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang=ja] body, html[lang=ko] body, html[lang=zh_tw] body, html[lang=zh_sg] body, html[lang=zh_cn] body, html[lang=vi] body, html[lang=th] body,
html[lang=ja] button,
html[lang=ko] button,
html[lang=zh_tw] button,
html[lang=zh_sg] button,
html[lang=zh_cn] button,
html[lang=vi] button,
html[lang=th] button,
html[lang=ja] input,
html[lang=ko] input,
html[lang=zh_tw] input,
html[lang=zh_sg] input,
html[lang=zh_cn] input,
html[lang=vi] input,
html[lang=th] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14rem;
}

.App_4ddf07be {
  display: flex;
  padding: 20rem;
  position: absolute;
}

.App_content_99d3405e {
  min-width: 157rem;
  padding: 15rem 14rem 10rem 15rem;
  border-radius: 2rem;
  background: rgba(30, 30, 30, 0.95);
  position: relative;
}

.App_section_8d81c223 {
  display: flex;
  align-items: center;
  margin: 2rem 0 4rem;
}
.App_section__nominal_multiple_ccfcd1c9 {
  margin-bottom: 6rem;
}
.App_section__angle_0, .App_section__effective_1febaf50 {
  margin-bottom: 3rem;
}
.App_section__dcc_4ee5cb89 {
  margin: 7rem 0 9rem;
}
.App_section__dcc_no_damage_369f0583 {
  margin: 8rem 0;
}

.App_image_4d2b9a23 {
  width: 24rem;
  height: 24rem;
  background: no-repeat 50%/contain;
}
.App_image__nominal_4645aa40 {
  align-self: flex-start;
  margin-top: -2rem;
  background-image: url(R.images.gui.maps.icons.lobby.armor_inspector.tooltip.nominal_armor);
}
.App_image__angle_a810893a {
  background-image: url(R.images.gui.maps.icons.lobby.armor_inspector.tooltip.impact_angle);
}
.App_image__effective_64e0c709 {
  background-image: url(R.images.gui.maps.icons.lobby.armor_inspector.tooltip.effective_armor);
}
.App_image__dcc_7a228b6 {
  background-image: url(R.images.gui.maps.icons.lobby.armor_inspector.tooltip.dcc);
}
.App_image__no_damage_4a0ce0c5 {
  background-image: url(R.images.gui.maps.icons.lobby.armor_inspector.tooltip.no_damage);
}
.App_image__ricochet_d9df22db {
  background-image: url(R.images.gui.maps.icons.lobby.armor_inspector.tooltip.ricochet);
}

.App_info_c3da088b {
  margin-left: 4rem;
}
.App_section__dcc_4ee5cb89 .App_info_c3da088b {
  display: flex;
}

.App_value_a6176592 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  align-items: flex-end;
  margin: -4rem 0 -1rem;
  color: var(--color-general-primary);
  opacity: 0.9;
}
.App_value__angle_af94c4a7 {
  margin-top: -5rem;
  font-size: 20rem;
}
.App_value__dcc_filter_ece5f858 {
  filter: saturate(1.4) brightness(1.6) contrast(0.5);
}
.App_value__dcc_e69021c4 {
  margin-bottom: 0;
  color: var(--color-general-tertiary);
  opacity: 1;
}
.App_section__dcc_no_damage_369f0583 .App_value_a6176592 {
  margin-top: -1rem;
  font-size: 18rem;
}

.App_calculations_f78ad647 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin: -4rem 0;
  color: var(--color-general-tertiary);
}

.App_majorValue_cb0d7c5 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: -1rem;
  font-weight: 400;
}
.App_section__dcc_4ee5cb89 .App_majorValue_cb0d7c5 {
  color: var(--color-general-primary);
  opacity: 0.9;
}

.App_divider_9b66e1ca {
  display: flex;
  justify-content: center;
  min-width: 0;
  height: 9rem;
  margin: 1rem 0;
  overflow: hidden;
  position: relative;
}

.App_dividerImage_94ed318e {
  width: 137rem;
  height: 9rem;
  background: url(R.images.gui.maps.icons.lobby.armor_inspector.tooltip.divider_dotty) no-repeat center/cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateX(0.5rem);
}

.App_layers_ee23ccfe {
  margin: -3rem 0 -3rem 4rem;
  padding-top: 2rem;
  position: relative;
}

.App_layer_ec0b9703 {
  display: flex;
  margin: -1rem 0 -1rem 9rem;
  position: relative;
}

.App_separator_44573a34 {
  width: 1rem;
  background: #ede6d9;
  opacity: 0.16;
  position: absolute;
  top: 5rem;
  bottom: 7rem;
  left: 0;
}

.App_line_9b60d064 {
  width: 5rem;
  height: 1rem;
  background: #ede6d9;
  opacity: 0.16;
  position: absolute;
  top: 50%;
  left: -7rem;
}