.RankEmblem_base_ec {
    width: var(--imageSize);
    height: var(--imageSize);
    background: no-repeat center / cover;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
    width: 100%;
    height: 12rem;
    position: relative;
}
.ProgressBar_base__medium_62 {
        height: 6rem;
    }
.ProgressBar_base__small_df {
        height: 2rem;
    }
.ProgressBar_background_51 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__medium_6e {
        height: 6rem;
    }
.ProgressBar_background__small_46 {
        height: 2rem;
    }
.ProgressBar_lineWrapper_6a {
    display: flex;
    flex: 1;
}


.ProgressBarBlink_base_24 {
    width: 60rem;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

    .ProgressBarBlink_base__medium_ec {
        width: 42rem;
        height: 70rem;
    }

    .ProgressBarBlink_base__small_0f {
        width: 44rem;
        height: 43rem;
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
        background-color: var(--progress-line-disabled);
    }
.ProgressLineImpose_base__finished_d4 {
        background-color: var(--progress-line-finished);
    }
.ProgressLineImpose_base__withoutBounce_56 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressLineImpose_pattern_1c {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
        background-image: var(--progress-pattern-disabled);
        left: 0;
    }
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
        background-image: var(--progress-pattern-finished);
    }
.ProgressLineImpose_gradient_35 {
    max-width: 8001px;
    background-image: linear-gradient(90deg, rgba(0,0,0, .5), rgba(255,255,255, .75));
    mix-blend-mode: overlay;
    position: absolute;
    top: 1rem;
    right: 0;
    bottom: 1rem;
    left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
        display: none;
    }
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
        background-image: linear-gradient(90deg, rgba(0,0,0, .5), rgba(255,255,255, .75), rgba(0,0,0, .5));
    }
.ProgressLineImpose_glow_a5 {
    width: 60rem;
    max-width: 8001px;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
        left: 1rem;
    }
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
    .ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
        display: none;
    }
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
        width: 44rem;
        height: 43rem;
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1), cubic-bezier(.21, .61, .35, 1);
    transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressBarDeltaGrow_glow_68 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }

.Box_mt__XS_0c {
            margin-top: 4rem;
        }
        .Box_mt__SM_eb {
            margin-top: 8rem;
        }
        .Box_mt__SMp_cf {
            margin-top: 10rem;
        }
        .Box_mt__MD_25 {
            margin-top: 16rem;
        }
        .Box_mt__MDp_49 {
            margin-top: 20rem;
        }
        .Box_mt__LG_e8 {
            margin-top: 32rem;
        }
        .Box_mt__XL_83 {
            margin-top: 64rem;
        }

.Box_mr__XS_7c {
            margin-right: 4rem;
        }

.Box_mr__SM_08 {
            margin-right: 8rem;
        }

.Box_mr__SMp_06 {
            margin-right: 10rem;
        }

.Box_mr__MD_4a {
            margin-right: 16rem;
        }

.Box_mr__MDp_b6 {
            margin-right: 20rem;
        }

.Box_mr__LG_d0 {
            margin-right: 32rem;
        }

.Box_mr__XL_db {
            margin-right: 64rem;
        }

.Box_mb__XS_bb {
            margin-bottom: 4rem;
        }

.Box_mb__SM_83 {
            margin-bottom: 8rem;
        }

.Box_mb__SMp_04 {
            margin-bottom: 10rem;
        }

.Box_mb__MD_ed {
            margin-bottom: 16rem;
        }

.Box_mb__MDp_65 {
            margin-bottom: 20rem;
        }

.Box_mb__LG_c8 {
            margin-bottom: 32rem;
        }

.Box_mb__XL_f8 {
            margin-bottom: 64rem;
        }

.Box_ml__XS_8a {
            margin-left: 4rem;
        }

.Box_ml__SM_e6 {
            margin-left: 8rem;
        }

.Box_ml__SMp_fb {
            margin-left: 10rem;
        }

.Box_ml__MD_2b {
            margin-left: 16rem;
        }

.Box_ml__MDp_c7 {
            margin-left: 20rem;
        }

.Box_ml__LG_39 {
            margin-left: 32rem;
        }

.Box_ml__XL_4a {
            margin-left: 64rem;
        }

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
        font-size: 10rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_paragraph-P12_22 {
        font-size: 12rem;
        font-weight: 400;
        line-height: 1.3;
}
.Text_paragraph-P14_a7 {
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.3;
}
.Text_paragraph-P16_90 {
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
}
.Text_paragraph-P18_50 {
        font-size: 18rem;
        font-weight: 400;
        line-height: 1.25;
}
.Text_paragraph-P24_33 {
        font-size: 24rem;
        font-weight: 400;
        line-height: 32rem;
}
.Text_heading-H14_8b {
        font-size: 14rem;
        font-weight: 700;
        line-height: 1.15;
}
.Text_heading-H15_9e {
        font-size: 15rem;
        font-weight: 700;
        line-height: 1.15;
}
.Text_heading-H18_b7 {
        font-size: 18rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H20R_f6 {
        font-size: 20rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_heading-H22_27 {
        font-size: 22rem;
        font-weight: 700;
        line-height: 1.2;
}
.Text_heading-H24R_be {
        font-size: 24rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_heading-H24_0c {
        font-size: 24rem;
        font-weight: 700;
        line-height: 1.2;
}
.Text_heading-H28_78 {
        font-size: 28rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H36_32 {
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H56_c3 {
        font-size: 56rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H73_8f {
        font-size: 73rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H144_a9 {
        font-size: 144rem;
        font-weight: 700;
        line-height: 1;
}
.Text_BLACK_REAL_30 {
        color: #000000;
    }
.Text_WHITE_REAL_bc {
        color: #FFFFFF;
    }
.Text_WHITE_62 {
        color: #F2F2F7;
    }
.Text_WHITE_ORANGE_54 {
        color: #FEFEEC;
    }
.Text_WHITE_SPANISH_df {
        color: #E9E2BF;
    }
.Text_PAR_15 {
        color: #8C8C7E;
    }
.Text_PAR_SECONDARY_5d {
        color: #595950;
    }
.Text_PAR_TERTIARY_c9 {
        color: #37362E;
    }
.Text_INFO_RED_30 {
        color: #FF0000;
    }
.Text_RED_66 {
        color: #FF2717;
    }
.Text_RED_DARK_d8 {
        color: #B70000;
    }
.Text_YELLOW_ed {
        color: #FEAB34;
    }
.Text_ORANGE_be {
        color: #EE7000;
    }
.Text_CREAM_57 {
        color: #FFDD99;
    }
.Text_BROWN_18 {
        color: #CBAC77;
    }
.Text_GREEN_BRIGHT_3f {
        color: #80D43A;
    }
.Text_GREEN_e3 {
        color: #7AB300;
    }
.Text_GREEN_DARK_f1 {
        color: #497212;
    }
.Text_BLUE_BOOSTER_21 {
        color: #CCFFFF;
    }
.Text_BLUE_TEAMKILLER_ab {
        color: #09E2FF;
    }
.Text_CRED_f7 {
        color: #CED9D9;
    }
.Text_GOLD_28 {
        color: #FFC363;
    }
.Text_BOND_be {
        color: #C9C9B6;
    }
.Text_PROM_65 {
        color: #A29B70;
    }

/* delay should be set always separately only for appearance effect, not hiding */
/* should be percentage of screen width */
.Progress_base_2e {
    width: 86rem;
}
.Progress_progress_32 {
    margin-bottom: 10rem;
}
.Progress_status_95 {
    color: #CBAC77;
    font-size: 12rem;
    text-align: center;
    text-shadow: 0 0 4rem rgba(255, 127, 0, .25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
}
.Progress_statusPoints_73 {
    color: #FFDD99;
    text-shadow: 0 0 4rem rgba(255, 127, 0, .25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
}
.Progress_points_a7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Progress_dash_32 {
    width: 66rem;
    height: 31rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.light_dash') no-repeat center / cover;
}
.Progress_dash__right_fb {
        transform: rotate(180deg);
    }
.Progress_score_c0 {
    margin: 0 -6rem;
    color: #FFDD99;
    text-shadow: 0 0 4rem rgba(255, 127, 0, .25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_16 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_ca {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362E;
}

.FormatTextWithColorTags_red_60 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_c5 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_4e {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_90 {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_71 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_dd {
    color: #A29B70;
}

/* delay should be set always separately only for appearance effect, not hiding */
/* should be percentage of screen width */
.QualificationCounter_base_fb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.QualificationCounter_dash_e2 {
    width: 66rem;
    height: 32rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.light_dash') no-repeat center / cover;
}
.QualificationCounter_dash__right_3e {
        transform: rotate(180deg);
    }
.QualificationCounter_iconContainer_c3 {
    display: flex;
    width: 26rem;
    position: relative;
    transform: translateY(1rem);
}
.QualificationCounter_battleIcon_2e {
    width: 42rem;
    height: 42rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.battles_42x42') no-repeat center / cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.QualificationCounter_score_3b {
    margin: 0 -6rem 0 -12rem;
    color: #CBAC77;
    text-shadow: 0 0 4rem rgba(255, 127, 0, .25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
    transform: translateY(-1rem);
}

/* delay should be set always separately only for appearance effect, not hiding */
/* should be percentage of screen width */
.Qualification_base_46 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Qualification_qualificationEmblem_01 {
    background: url('R.images.comp7.gui.maps.icons.comp7.ranks.c_150.qualification') no-repeat center / cover;
}
.Qualification_ratingCalculation_8f {
    display: flex;
    justify-content: center;
    color: #FFDD99;
    text-align: center;
    text-shadow: 0 0 4rem rgba(255, 127, 0, .25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
}
.Qualification_timer_78 {
    width: 33rem;
    height: 33rem;
    margin: -7rem -5rem 0 -10rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.timer') no-repeat center / cover;
    filter: drop-shadow(0rem 0rem 4rem rgba(255, 127, 0, .25)) drop-shadow(0rem 0rem 8rem #ff2a00);
}

/* delay should be set always separately only for appearance effect, not hiding */
/* should be percentage of screen width */
.Warning_base_a5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12rem;
    position: relative;
}
.Warning_lighting_e0 {
    width: 111rem;
    height: 58rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.lighting') no-repeat center / cover;
    opacity: .6;
    position: absolute;
    top: -12rem;
    right: 50%;
    transform: translateX(55rem);
    pointer-events: none;
}
.Warning_value_1e {
    color: #FFDD99;
    text-shadow: 0 0 4rem rgba(255, 127, 0, .25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
}
.Warning_base__text_08 .Warning_value_1e {
        color: #FF2717;
        text-shadow: 0 0 14rem #f00;
    }
.Warning_timer_fe {
    width: 30rem;
    height: 30rem;
    margin: 0 -10rem -2rem -5rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.timer') no-repeat center / cover;
    position: relative;
}

.App_base_de {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    overflow: hidden;
}
.App_content_da {
    width: 130rem;
    position: relative;
    z-index: 1;
}
.mediaMediumHeight .App_content_da {
        width: 150rem;
}
.App_emblemContainer_dc {
    width: 100%;
    filter: brightness(1);
    transition: filter .2s linear;
    cursor: pointer;
}
.App_emblemContainer_dc:hover {
        filter: brightness(1.15);
    }
.App_base__unavailable_e1 .App_emblemContainer_dc {
        filter: brightness(.53);
        cursor: default;
    }
.App_emblem_90 {
    width: 130rem;
    height: 130rem;
    margin-bottom: 10rem;
}
.App_base__unavailable_e1 .App_emblem_90 {
        filter: saturate(0%);
    }
.mediaMediumHeight .App_emblem_90 {
        width: 150rem;
        height: 150rem;
        margin-bottom: 0;
}
.App_progression_e6 {
    margin: 0 0 8rem 22rem;
}
.mediaMediumHeight .App_progression_e6 {
        margin-left: 32rem;
}
.App_warning_f8 {
    margin-top: -5rem;
}

