.TooltipDecorator_base_bf61f {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_bf8f8 .TooltipDecorator_decorator_f4de8 {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.atlases.components.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.Body_base_a339b {
  width: 365rem;
  background: linear-gradient(
    180deg,
    rgba(51, 51, 41, 0.3) 0%,
    rgba(51, 51, 41, 0) 15.62%,
    rgba(51, 51, 41, 0) 88.02%,
    rgba(51, 51, 41, 0.1) 100%
  );
}
.Body_title_bb92d {
  margin: 20rem 20rem 10rem;
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
}
.Body_description_a6fcd {
  margin: 0 20rem 5rem;
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  font-style: normal;
  line-height: 18rem;
}
.Body_description__last_e0898 {
  margin-bottom: 20rem;
}
.Body_listHeader_c769b {
  display: flex;
  padding: 5rem 20rem;
}
.Body_listColumnHeader_a4ccb {
  width: 38%;
  color: #595950;
  font-size: 14rem;
  font-weight: 400;
  line-height: 24rem;
}
.Body_list_bf0f7 {
  display: flex;
  flex-direction: column;
}
.Body_listRow_cf1be {
  display: flex;
  align-items: flex-start;
  padding: 8rem 0 8rem 15rem;
}
.Body_listRow__best_db5f1 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.02) 100%);
}
.Body_listCell_d25ea {
  display: flex;
  width: 60%;
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 24rem;
  opacity: 1;
}
.Body_listRow__invalid_f77d6 .Body_listCell_d25ea {
  opacity: 0.5;
}
.Body_listRow__current_ce6ad .Body_listCell_d25ea {
  color: #fefeec;
}
.Body_listRow__best_db5f1 .Body_listCell_d25ea {
  color: #ffc363;
}
.Body_listCell__narrow_f90b7 {
  width: 38%;
}
.Body_separator_ac7e9 {
  height: 1rem;
  background: url("R.images.gui.maps.icons.dogtags.monthly_separator") no-repeat center / contain;
}
.Body_stateIcon_cd0cb {
  width: 24rem;
  height: 24rem;
  margin-left: 5rem;
  margin-right: 3rem;
  background: url("R.images.gui.maps.icons.dogtags.icons.close_icon") center no-repeat;
  background-size: 10rem;
}
.Body_listRow__current_ce6ad .Body_stateIcon_cd0cb {
  background-image: url("R.images.gui.maps.icons.dogtags.icons.hour_glass");
  background-size: 10rem 16rem;
}
.Body_listRow__best_db5f1 .Body_stateIcon_cd0cb {
  background-image: url("R.images.gui.maps.icons.dogtags.icons.cup");
  background-size: 24rem;
}
