.TooltipDecorator_base_bf61f {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_bf8f8 .TooltipDecorator_decorator_f4de8 {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.atlases.components.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.ExtendedText_base_d9fc1 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

    .ExtendedText_base__zeroPadding_d1a1c {
        padding: 0;
    }

    .ExtendedText_base__isTruncationAvailable_cb880 {
        width: 100%;
    }

.ExtendedText_truncated_a4268 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_d75b4 {
        opacity: 0;
    }

.ExtendedText_unTruncated_ff478 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #FF2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.ExtendedText_tooltip_b5abd {
    display: flex;
}

.ExtendedText_tooltip__justify-flex-start_ade81 {
        justify-content: flex-start;
    }

.ExtendedText_tooltip__justify-center_aa541 {
        justify-content: center;
    }

.ExtendedText_tooltip__justify-flex-end_af6c3 {
        justify-content: flex-end;
    }

.ExtendedText_tooltip__align-flex-start_fbfc0 {
        align-content: flex-start;
    }

.ExtendedText_tooltip__align-center_d5b4a {
        align-content: center;
    }

.ExtendedText_tooltip__align-flex-end_fc0e0 {
        align-content: flex-end;
    }

.colors_blackReal_a68be {
    color: #000000;
}

.colors_whiteReal_f79f8 {
    color: #FFFFFF;
}

.colors_white_b5c87 {
    color: #F2F2F7;
}

.colors_whiteOrange_ba58d {
    color: #FEFEEC;
}

.colors_whiteSpanish_fd764 {
    color: #E9E2BF;
}

.colors_par_e836f {
    color: #8C8C7E;
}

.colors_parSecondary_f260a {
    color: #595950;
}

.colors_parTertiary_d47f7 {
    color: #37362E;
}

.colors_red_c02cb {
    color: #FF2717;
}

.colors_redDark_cdd63 {
    color: #B70000;
}

.colors_yellow_ec93b {
    color: #FEAB34;
}

.colors_orange_bbde2 {
    color: #EE7000;
}

.colors_cream_e3bb8 {
    color: #FFDD99;
}

.colors_brown_bcb6a {
    color: #CBAC77;
}

.colors_greenBright_e6055 {
    color: #80D43A;
}

.colors_green_b6f21 {
    color: #7AB300;
}

.colors_greenDark_ce9bf {
    color: #497212;
}

.colors_blueBooster_b2848 {
    color: #CCFFFF;
}

.colors_blueTeamkiller_e7dd8 {
    color: #09E2FF;
}

.colors_cred_ddb07 {
    color: #CED9D9;
}

.colors_gold_c405a {
    color: #FFC363;
}

.colors_bond_bb139 {
    color: #C9C9B6;
}

.colors_prom_d1186 {
    color: #A29B70;
}

.renderers_noBreakWrapper_d986b {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_f90ed {
    width: 100%;
    height: 0;
}

.renderers_newLine_ee778 {
    flex: 1;
    width: 100%;
}

.renderers_word_ac32d {
    white-space: pre;
    overflow-wrap: normal;
}

.GradientDecorator_base_d854f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12rem 0 18rem;
    position: relative;
}

.GradientDecorator_bg_b0fba {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url('R.images.gui.maps.icons.library.white_bg') no-repeat 50% / 100% 100%;
}

.GradientDecorator_divider_cbfcf {
    width: 360rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.tooltip.tooltip_perks_divider') no-repeat center / cover;
}

.DirectiveIcon_base_dd3fa {
    width: 80rem;
    height: 80rem;
    display: flex;
    position: relative;
}

.DirectiveIcon_icon_ed40e {
    width: 100%;
    height: 100%;
    background: no-repeat center / cover;
    position: relative;
}

.DirectiveIcon_highlight_bff7c {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    background: url('R.images.gui.maps.icons.quests.bonuses.big.battleBooster_highlight') no-repeat center / cover;
}

.DirectiveIcon_overlay_d6fce {
    width: 128rem;
    height: 128rem;
    background: url('R.images.gui.maps.icons.quests.bonuses.big.battleBooster_overlay') no-repeat center / cover;
    position: absolute;
    bottom: -30rem;
    left: -30rem;
}

.DirectiveConversionTooltipApp_base_f6c13 {
    display: flex;
    flex-direction: column;
    width: 420rem;
    padding: 22rem 20rem 20rem;
    background: url('R.images.gui.maps.icons.crew.npsIntro.directiveConversionGlow') no-repeat top center / 418rem 242rem;
    position: relative;
}

.DirectiveConversionTooltipApp_header_fe059 {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20rem;
    text-align: center;
}

.DirectiveConversionTooltipApp_content_fa446 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}

.DirectiveConversionTooltipApp_arrow_d438c {
    width: 106rem;
    height: 64rem;
    background: url('R.images.gui.maps.icons.library.changeArrow106x64') no-repeat center / cover;
}

.DirectiveConversionTooltipApp_description_afa73 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

