/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes AdditionalRewards_fadeIn_3afa6e1a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes AdditionalRewards_up_3afa6e1a {
  0% {
    transform: translateY(20rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes AdditionalRewards_upScale_3afa6e1a {
  0% {
    transform: scale(1.2) translateY(20rem);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes AdditionalRewards_rotate_3afa6e1a {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.AdditionalRewards_ffae6df {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AdditionalRewards_title_2d8eb236 {
  margin-bottom: 5rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 20rem;
  font-weight: 600;
  opacity: 0;
}
.mediaLarge .AdditionalRewards_title_2d8eb236 {
  margin-bottom: 10rem;
}
.showAdditionalTitle .AdditionalRewards_title_2d8eb236 {
  animation-name: AdditionalRewards_fadeIn_3afa6e1a;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.AdditionalRewards_list_81a45598 {
  display: flex;
}

.AdditionalRewards_reward_ed90708c + .AdditionalRewards_reward_ed90708c {
  margin-left: 24rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Buttons_82277d53 {
  display: flex;
}

.Buttons_button_2eb74e89 {
  min-width: 195rem;
}
.Buttons_button_2eb74e89 + .Buttons_button_2eb74e89 {
  margin-left: 25rem;
}
.mediaMedium .Buttons_button_2eb74e89 + .Buttons_button_2eb74e89 {
  margin-left: 30rem;
}

.Buttons_text_981ee64f {
  font-weight: 700;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.VehicleName_cce06ab3 {
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
}
.VehicleName_base__24x24_e43b4676,
.VehicleName_base__24x24_metal_af74305d {
  font-size: 14rem;
}
.VehicleName_base__48x48_e43b4676,
.VehicleName_base__64x64_a079d4e3 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
}
.VehicleName_base__83x74_1dd2aae1 {
  font-size: 24rem;
  font-weight: 700;
  line-height: 1.3em;
}

.VehicleName_vehicleTypeContainer_1421b13d {
  position: relative;
}
.VehicleName_base__24x24_e43b4676 .VehicleName_vehicleTypeContainer_1421b13d,
.VehicleName_base__24x24_metal_af74305d .VehicleName_vehicleTypeContainer_1421b13d {
  width: 24rem;
}
.VehicleName_base__48x48_e43b4676 .VehicleName_vehicleTypeContainer_1421b13d {
  width: 48rem;
}
.VehicleName_base__60x54_e43b4676 .VehicleName_vehicleTypeContainer_1421b13d {
  width: 40rem;
}
.VehicleName_base__64x64_a079d4e3 .VehicleName_vehicleTypeContainer_1421b13d {
  width: 64rem;
}
.VehicleName_base__83x74_1dd2aae1 .VehicleName_vehicleTypeContainer_1421b13d {
  width: 55rem;
}

.VehicleName_vehicleType_5ec4137d {
  background: no-repeat center/contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.VehicleName_base__24x24_e43b4676 .VehicleName_vehicleType_5ec4137d,
.VehicleName_base__24x24_metal_af74305d .VehicleName_vehicleType_5ec4137d {
  width: 24rem;
  height: 24rem;
}
.VehicleName_base__48x48_e43b4676 .VehicleName_vehicleType_5ec4137d {
  width: 48rem;
  height: 48rem;
}
.VehicleName_base__60x54_e43b4676 .VehicleName_vehicleType_5ec4137d {
  width: 60rem;
  height: 54rem;
}
.VehicleName_base__64x64_a079d4e3 .VehicleName_vehicleType_5ec4137d {
  width: 64rem;
  height: 64rem;
}
.VehicleName_base__83x74_1dd2aae1 .VehicleName_vehicleType_5ec4137d {
  width: 83rem;
  height: 74rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes Header_fadeIn_65f475ba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Header_up_65f475ba {
  0% {
    transform: translateY(20rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes Header_upScale_65f475ba {
  0% {
    transform: scale(1.2) translateY(20rem);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes Header_rotate_65f475ba {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Header_a3ec173b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Header_subTitle_fcc90c2d {
  margin-bottom: 2rem;
  color: rgba(var(--color-general-primary-rgb), 0.45);
  font-size: 28rem;
  font-weight: 600;
  opacity: 0;
}
.mediaLarge .Header_subTitle_fcc90c2d {
  margin-bottom: 0;
}
.showSubtitle .Header_subTitle_fcc90c2d {
  animation-name: Header_fadeIn_65f475ba, Header_up_65f475ba;
  animation-duration: 0.4s, 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.Header_title_63b15d15 {
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 40rem;
  font-weight: 600;
  opacity: 0;
}
.mediaLarge .Header_title_63b15d15 {
  font-size: 56rem;
}
.showTitle .Header_title_63b15d15 {
  animation-name: Header_fadeIn_65f475ba, Header_up_65f475ba;
  animation-duration: 0.4s, 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.Header_honorsBack_6ebc07c1 {
  width: 791rem;
  height: 781rem;
  position: absolute;
}

.Header_vehicleName_17df3d4c {
  margin-top: 15rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 24rem;
  font-weight: 600;
  opacity: 0;
}
.mediaMedium .Header_vehicleName_17df3d4c {
  margin-top: 20rem;
  font-size: 32rem;
}
.mediaExtraLarge .Header_vehicleName_17df3d4c {
  margin-top: 15rem;
}
.showTankName .Header_vehicleName_17df3d4c {
  animation-name: Header_fadeIn_65f475ba, Header_up_65f475ba;
  animation-duration: 0.4s, 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes RegularMainReward_fadeIn_54e4f800 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes RegularMainReward_up_54e4f800 {
  0% {
    transform: translateY(20rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes RegularMainReward_upScale_54e4f800 {
  0% {
    transform: scale(1.2) translateY(20rem);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes RegularMainReward_rotate_54e4f800 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.RegularMainReward_d1a37b82 {
  position: relative;
}

.RegularMainReward_image_ca63a3d4 {
  opacity: 0;
}
.showMainRewards .RegularMainReward_image_ca63a3d4 {
  animation-name: RegularMainReward_fadeIn_54e4f800, RegularMainReward_upScale_54e4f800;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.RegularMainReward_label_a21d4175 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 100%;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  text-align: center;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}
.mediaLarge .RegularMainReward_label_a21d4175 {
  font-size: 20rem;
}
.showMainRewardsLabels .RegularMainReward_label_a21d4175 {
  animation-name: RegularMainReward_fadeIn_54e4f800;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.RegularMainReward_info_59fd3db8 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 0;
  opacity: 0;
}
.mediaLarge .RegularMainReward_info_59fd3db8 {
  font-size: 20rem;
}
.RegularMainReward_base__attachment_54e4f800 .RegularMainReward_info_59fd3db8,
.RegularMainReward_base__style_3d_54e4f800 .RegularMainReward_info_59fd3db8 {
  visibility: hidden;
}
.showMainRewardsLabels .RegularMainReward_info_59fd3db8 {
  animation-name: RegularMainReward_fadeIn_54e4f800;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes VehiclePart_fadeIn_4fbae416 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes VehiclePart_up_4fbae416 {
  0% {
    transform: translateY(20rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes VehiclePart_upScale_4fbae416 {
  0% {
    transform: scale(1.2) translateY(20rem);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes VehiclePart_rotate_4fbae416 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.VehiclePart_15b78928 {
  position: relative;
}

.VehiclePart_image_f33361cd {
  opacity: 0;
}
.showMainRewards .VehiclePart_image_f33361cd {
  animation-name: VehiclePart_fadeIn_4fbae416, VehiclePart_upScale_4fbae416;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.VehiclePart_label_5cfdac0 {
  margin-top: 5rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 22rem;
  font-weight: 600;
  text-align: center;
  opacity: 0;
}
.showMainRewardsLabels .VehiclePart_label_5cfdac0 {
  animation-name: VehiclePart_fadeIn_4fbae416;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes MainRewards_fadeIn_56da68ed {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes MainRewards_up_56da68ed {
  0% {
    transform: translateY(20rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes MainRewards_upScale_56da68ed {
  0% {
    transform: scale(1.2) translateY(20rem);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes MainRewards_rotate_56da68ed {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MainRewards_9aca825a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.MainRewards_ribbonWrapper_30eeaba3 {
  position: absolute;
  transform: translateY(74rem);
}
.mediaMedium .MainRewards_ribbonWrapper_30eeaba3 {
  transform: translateY(96rem);
}
.mediaLarge .MainRewards_ribbonWrapper_30eeaba3 {
  transform: translateY(100rem);
}

.MainRewards_ribbon_7f79f96d {
  opacity: 0;
}
.showRibbon .MainRewards_ribbon_7f79f96d {
  animation-name: MainRewards_fadeIn_56da68ed, MainRewards_up_56da68ed;
  animation-duration: 0.4s, 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.MainRewards_list_597b951b {
  display: flex;
  position: relative;
}

.MainRewards_rays_466e2f66 {
  width: 1300rem;
  height: 1300rem;
  margin: -830rem 0 0 -650rem;
  background: url(R.images.gui.maps.icons.personal_missions_30.common.lines) no-repeat
    center/contain;
  opacity: 0;
  mix-blend-mode: additive;
  position: absolute;
  top: 100%;
  left: 50%;
  transition: opacity 0.8s ease-out;
  animation-name: MainRewards_rotate_56da68ed;
  animation-duration: 120s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  pointer-events: none;
}
.showMainRewards .MainRewards_rays_466e2f66 {
  opacity: 0.35;
}
.MainRewards_base__operationWithHonors_56da68ed .MainRewards_rays_466e2f66 {
  margin-top: -790rem;
}
.MainRewards_base__campaignWithHonors_56da68ed .MainRewards_rays_466e2f66 {
  margin-top: -770rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.VehicleVideo_210aecbb {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.VehicleVideo_fading_d689de26 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.VehicleVideo_video_6832c75d {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
@keyframes Rewards_fadeIn_405577a5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Rewards_up_405577a5 {
  0% {
    transform: translateY(20rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes Rewards_upScale_405577a5 {
  0% {
    transform: scale(1.2) translateY(20rem);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes Rewards_rotate_405577a5 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Rewards_b4f00ae2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 60rem 0 70rem;
  overflow: hidden;
  position: relative;
}
.mediaMedium .Rewards_b4f00ae2 {
  padding: 80rem 0 90rem;
}
.mediaLarge .Rewards_b4f00ae2 {
  padding: 90rem 0 100rem;
}
.Rewards_base__campaignWithHonors_f96bb2ad {
  padding: 60rem 0;
}
.mediaMedium .Rewards_base__campaignWithHonors_f96bb2ad {
  padding: 60rem 0 70rem;
}
.mediaMedium .Rewards_base__campaignWithHonors_f96bb2ad {
  padding: 90rem 0 70rem;
}
.mediaExtraLarge .Rewards_base__campaignWithHonors_f96bb2ad {
  padding: 90rem 0 100rem;
}
.Rewards_base__operation_732634ed {
  padding: 50rem 0 60rem;
}
.mediaMedium .Rewards_base__operation_732634ed {
  padding: 65rem 0 80rem;
}
.mediaExtraLarge .Rewards_base__operation_732634ed {
  padding: 80rem 0 100rem;
}

.Rewards_background_648064f5 {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.showBack .Rewards_background_648064f5 {
  animation-name: Rewards_fadeIn_405577a5;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.Rewards_closeButtonWrapper_37b0a4f9 {
  opacity: 0;
  position: absolute;
  top: 30rem;
  right: 30rem;
  pointer-events: none;
}
.showBack .Rewards_closeButtonWrapper_37b0a4f9 {
  animation-name: Rewards_fadeIn_405577a5;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  pointer-events: auto;
}
.Rewards_base__operation_732634ed.showTitle .Rewards_closeButtonWrapper_37b0a4f9 {
  animation-name: Rewards_fadeIn_405577a5;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  pointer-events: auto;
}

.Rewards_closeButton_550ea6e3 {
  width: 48rem;
  height: 48rem;
  background: url(R.images.gui.maps.icons.personal_missions_30.rewards.close) no-repeat
    center/contain;
  opacity: 0.6;
  transition: opacity 0.3s;
  cursor: pointer;
}
.Rewards_closeButton_550ea6e3:hover {
  opacity: 1;
}

.Rewards_rewardsContainer_fe9e462d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  width: 100%;
  position: relative;
}

.Rewards_base__campaignWithHonors_f96bb2ad .Rewards_main_e6e4b036 {
  transform: translateY(10rem);
}
.mediaMedium .Rewards_base__campaignWithHonors_f96bb2ad .Rewards_main_e6e4b036 {
  transform: translateY(30rem);
}
.mediaLarge .Rewards_base__campaignWithHonors_f96bb2ad .Rewards_main_e6e4b036 {
  transform: translateY(20rem);
}
.mediaExtraLarge .Rewards_base__campaignWithHonors_f96bb2ad .Rewards_main_e6e4b036 {
  transform: translateY(60rem);
}
.Rewards_base__vehiclePart_405577a5 .Rewards_main_e6e4b036 {
  transform: translateY(-20rem);
}
.mediaMedium .Rewards_base__vehiclePart_405577a5 .Rewards_main_e6e4b036 {
  transform: translateY(-30rem);
}
.mediaLarge .Rewards_base__vehiclePart_405577a5 .Rewards_main_e6e4b036 {
  transform: translateY(-20rem);
}
.mediaExtraLarge .Rewards_base__vehiclePart_405577a5 .Rewards_main_e6e4b036 {
  transform: translateY(10rem);
}
.Rewards_base__operationWithHonors_405577a5 .Rewards_main_e6e4b036 {
  transform: translateY(20rem);
}
.mediaMedium .Rewards_base__operationWithHonors_405577a5 .Rewards_main_e6e4b036 {
  transform: translateY(-10rem);
}
.mediaLarge .Rewards_base__operationWithHonors_405577a5 .Rewards_main_e6e4b036 {
  transform: translateY(30rem);
}
.mediaExtraLarge .Rewards_base__operationWithHonors_405577a5 .Rewards_main_e6e4b036 {
  transform: translateY(60rem);
}

.Rewards_additional_2ae9fbc8 {
  margin-bottom: 15rem;
  position: relative;
}
.mediaExtraLarge .Rewards_additional_2ae9fbc8 {
  margin-bottom: 40rem;
}

.Rewards_nextOperation_5eb1386a {
  margin-bottom: 15rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-size: 24rem;
  font-weight: 600;
  opacity: 0;
  position: relative;
}
.mediaExtraLarge .Rewards_nextOperation_5eb1386a {
  margin-bottom: 50rem;
}
.showNextOperation .Rewards_nextOperation_5eb1386a {
  animation-name: Rewards_fadeIn_405577a5;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.Rewards_divider_9db12b94 {
  width: 480rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
}
.mediaMedium .Rewards_divider_9db12b94 {
  width: 670rem;
}
.showButtons .Rewards_divider_9db12b94 {
  animation-name: Rewards_fadeIn_405577a5;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.Rewards_buttons_a3bb560b {
  margin-top: 25rem;
  opacity: 0;
  pointer-events: none;
}
.mediaExtraLarge .Rewards_buttons_a3bb560b {
  margin-top: 50rem;
}
.showButtons .Rewards_buttons_a3bb560b {
  pointer-events: auto;
  animation-name: Rewards_fadeIn_405577a5, Rewards_up_405577a5;
  animation-duration: 0.4s, 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
