.TooltipDecorator_base_bf61f {
  display: flex;
  position: absolute;
}

.TooltipDecorator_base__theme-default_bf8f8 .TooltipDecorator_decorator_f4de8 {
  padding: 4rem 6rem 8rem;
  border-image-source: url("R.atlases.components.tooltip_background");
  border-image-slice: 24 fill;
  border-image-width: 24rem;
  position: relative;
}

.Content_base_c046c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 165rem;
  padding: 21rem 0 23rem;
  background: url("R.images.gui.maps.icons.library.white_bg") no-repeat 50% / 100%;
  position: relative;
}

.Content_separator_d6904 {
  width: 100%;
  height: 1rem;
  background: url("R.images.gui.maps.icons.components.tooltip.tool_tip_separator") 50% / contain
    no-repeat;
  position: absolute;
}

.Content_separator__top_c6134 {
  top: 0;
}

.Content_separator__bottom_b107a {
  bottom: 0;
}

.Content_arrow_fd9e5 {
  width: 128rem;
  height: 128rem;
  margin: 0 -35rem;
  background: url("R.images.gui.maps.icons.library.changeArrow") no-repeat center / contain;
}

.Content_block_f43bb {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  width: 130rem;
  height: 100%;
  position: relative;
}

.Content_sectionTitleLong_c612d {
  width: 100%;
  text-align: center;
}

.Content_iconLabelBlock_eeda4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Content_base__crewSkin_e4377 .Content_iconBeforeBlock_f07af {
  padding: 3rem 0 11rem;
}

.Content_iconBefore_ea9d0 {
  width: 120rem;
  height: 80rem;
  background: no-repeat 50% 100% / contain;
}

.Content_base__crewSkin_e4377 .Content_iconBefore_ea9d0 {
  width: 87rem;
  height: 65rem;
}

.Content_base__crewSkin_e4377 .Content_leftLabel_fe2d2 {
  color: #e9e2bf;
  text-align: center;
}

.Content_vehicleLabelBlock_fa8b8 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.Content_vehicleTypeImg_bee28 {
  width: 27rem;
  height: 17rem;
  margin-top: 1rem;
  background: no-repeat center / contain;
}

.Content_iconAfter_eb89d {
  width: 80rem;
  height: 80rem;
  background: no-repeat 50% 100% / contain;
}

.Footer_base_c3368 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 46rem;
  margin-top: 15rem;
}

.Footer_icon_e4d70 {
  width: 24rem;
  height: 24rem;
  background: url("R.images.gui.maps.icons.library.changeTank") no-repeat center / 100%;
}

.Footer_text_ee382 {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-left: 5rem;
}

.App_base_a1698 {
  display: flex;
  flex-direction: column;
  width: 380rem;
  padding: 21rem 20rem 23rem;
  overflow: hidden;
  position: relative;
}

.App_base__base_e8be9,
.App_base__crewSkin_d10c6 {
  margin-bottom: -14rem;
}

.App_header_b69cc {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 1rem;
}

.App_subheader_e3cce {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 5rem;
  margin-bottom: 15rem;
}

.App_content_ccf97 {
  margin-left: -20rem;
  margin-right: -20rem;
}
