.ToggleButton_base_2c {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30rem;
    min-height: 20rem;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
}

    .ToggleButton_base__button_cb.ToggleButton_base__active_a6 {
    border-image: linear-gradient(90deg, #ac802c 0%, #eece63 48.95%, #efd065 48.96%, #ae842e 100%) 1 1 1 stretch;
    border-image-width: 1rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, .6), 0 0 7rem rgba(250, 112, 0, .6);
    background: linear-gradient(180deg, rgba(255,42,0, .1) 0%, rgba(255,42,0, 0) .01%, rgba(255,128,0, .1) 100%);
        }

    .ToggleButton_base__button_cb.ToggleButton_base__active_a6:hover {
                box-shadow: 0 0 0 1rem rgba(0,0,0, .6), 0 0 7rem rgba(250,112,0, .6), inset 0 0 40rem rgba(255,255,255, .1);
            }

    .ToggleButton_base__slot_98 {
        min-width: 80rem;
        min-height: 80rem;
        border: 1rem solid rgba(255,255,255, .15);
        background: rgba(0,0,0, .1);
    }

    .ToggleButton_base__slot_98:hover {
            background: radial-gradient(rgba(0,0,0, 0) 10%, rgba(150,150,150, .1));
        }

    .ToggleButton_base__slot_98:active,.ToggleButton_base__slot_98  {
            box-shadow: none;
            background: rgba(0,0,0, .2);
        }

    .ToggleButton_base__slot_98.ToggleButton_base__active_a6 {
    border-image: linear-gradient(90deg, #ac802c 0%, #eece63 48.95%, #efd065 48.96%, #ae842e 100%) 1 1 1 stretch;
    border-image-width: 1rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, .6), 0 0 7rem rgba(250, 112, 0, .6);
    background: linear-gradient(180deg, rgba(255,42,0, .1) 0%, rgba(255,42,0, 0) .01%, rgba(255,128,0, .1) 100%);
        }

    .ToggleButton_base__slot_98.ToggleButton_base__active_a6:active {
                background: rgba(0,0,0, .2);
            }

    .ToggleButton_base__disabled_19 {
        cursor: initial;
        pointer-events: none;
    }

.ToggleButton_texture_f1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    z-index: 1;
}

.ToggleButton_background_ef {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    z-index: -1;
}

.ToggleButton_background__main_68 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }

.ToggleButton_background__primary_a9 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }

.ToggleButton_background__primaryGreen_4f {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

.ToggleButton_background__primaryRed_ca {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

.ToggleButton_background__secondary_b2 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

.ToggleButton_background__ghost_d6 {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, .3), 0 0 0 1rem rgba(255,255,255, .15) inset;
        background-color: rgba(0,0,0, .15);
    }

.ToggleButton_content_63 {
    color: #f1f0e0;
    font-size: 13rem;
    font-weight: 300;
    text-align: center;
    text-shadow: 0 -1rem 2rem rgba(0,0,0, .7);
}

.ToggleButton_base__slot_98 .ToggleButton_content_63 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 auto;
        position: relative;
        z-index: -1;
    }

.ToggleButton_overlay_23 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2rem;
    z-index: 3;
    pointer-events: none;
}

.ToggleButton_base__disabled_19 .ToggleButton_overlay_23 {
        margin: -1rem;
        background: url('R.images.gui.maps.icons.buttons.toggle_disable') repeat;
    }

.ToggleButton_base__button_cb .ToggleButton_overlay_23 {
        background-color: rgba(255,255,255, .04);
    }

.ToggleButton_base__button_cb:hover .ToggleButton_overlay_23 {
        box-shadow: inset 0 0 40rem rgba(255,255,255, .1);
    }

.ToggleButton_base__button_cb:active .ToggleButton_overlay_23 {
        box-shadow: none;
        background: rgba(0,0,0, .2);
    }

.ToggleButton_base__button_cb.ToggleButton_base__active_a6:active .ToggleButton_overlay_23 {
        background: rgba(0,0,0, .2);
    }

.ToggleButton_indicator_a7 {
    /* This Needs to be an even number otherwise translate(-50%) makes it at half a pixel position and causes sub pixel blurring */
    width: 16rem;
    height: 5rem;
    background: url('R.images.gui.maps.icons.buttons.toggle_switcher_off');
    background-size: 16rem 5rem;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0);
    pointer-events: none;
}

.ToggleButton_base__slot_98 .ToggleButton_indicator_a7 {
        width: 64rem;
        height: 32rem;
        background-image: none;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        bottom: -17rem;
    }

.ToggleButton_base__slot_98.ToggleButton_base__active_a6 .ToggleButton_indicator_a7 {
        background-image: url('R.images.gui.maps.icons.buttons.toggle_check');
    }

.ToggleButton_base__button_cb.ToggleButton_base__active_a6 .ToggleButton_indicator_a7 {
        background-image: url('R.images.gui.maps.icons.buttons.toggle_switcher_on');
    }

.FavoritesButton_base_1f {
    position: relative;
}

.FavoritesButton_button_45 {
    width: 100%;
    height: 100%;
    border: 1rem solid #000;
    position: relative;
}

.FavoritesButton_icon_32 {
    width: 54rem;
    height: 18rem;
    background: url('R.images.gui.maps.icons.library.favorite') no-repeat center / contain;
    position: relative;
}

.FiltersBlock_base_72 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FiltersBlock_button_6a {
    width: 42rem;
    height: 22rem;
    margin: 5rem 12rem;
    position: relative;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, .6);
    position: relative;
    cursor: pointer;
}

    .CButton_base__main_42,
    .CButton_base__primary_7f,
    .CButton_base__primaryGreen_6f,
    .CButton_base__primaryRed_ec,
    .CButton_base__secondary_50 {
        background-size: 100% 100%;
    }

    .CButton_base__main_42 {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_7f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_6f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_ec {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_50 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_ed {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, .3),
            0 0 0 1rem rgba(255,255,255, .15) inset;
        background-color: rgba(0,0,0, .15);
    }

    .CButton_base__extraSmall_27 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_df,
    .CButton_base__medium_74 {
        padding: 0 20rem;
    }

    .CButton_base__small_df {
        min-height: 18rem;
    }

    .CButton_base__medium_74 {
        min-height: 32rem;
    }

    .CButton_base__disabled_d9 {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_7f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_6f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_ec .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_50 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow .16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, .2);
    }
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff, .CButton_base__firstHover_d5 .CButton_stateHighlightActive_35, .CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
        transition: opacity .16s ease-in-out;
    }
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(180deg, rgba(252,248,235, .25) 0%, rgba(252,248,235, .1) 50%, rgba(255,255,255, 0) 100%);
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
        opacity: 1;
    }
.CButton_base_40:active .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
        box-shadow: 0 15rem 12rem 0 rgba(242,242,230, .11) inset;
        background-color: rgba(8,6,0, .18);
        background-image: none;
    }
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0,0,0, .3) 0%, rgba(0,0,0, .15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
        opacity: 1;
    }
.CButton_stateDisabled_54 {
    background-color: rgba(0,0,0, .25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
        opacity: 1;
    }
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: .03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang=ja],
    .CButton_content_cc[lang=ko],
    .CButton_content_cc[lang=zh_tw],
    .CButton_content_cc[lang=zh_sg],
    .CButton_content_cc[lang=zh_cn],
    .CButton_content_cc[lang=th] {
        font-weight: 400;
    }
.CButton_base__main_42 .CButton_content_cc,
    .CButton_base__primaryRed_ec .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_50 .CButton_content_cc {
        color: rgba(254,254,236, .75);
    }
.CButton_base__primaryGreen_6f .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
.CButton_base__extraSmall_27 .CButton_content_cc {
        font-size: 12rem;
    }
.CButton_base__small_df .CButton_content_cc {
        font-size: 14rem;
    }
.CButton_base__medium_74 .CButton_content_cc {
        font-size: 15rem;
    }
.CButton_base__disabled_d9 .CButton_content_cc {
        opacity: .6;
    }

.PopoverDecorator_base_ed {
    display: flex;
    position: absolute;
}

.PopoverDecorator_decorator_d3 {
    padding: 58rem;
    border-image-source: url('R.images.gui.maps.icons.popovers.popover_bg');
    border-image-slice: 90 fill;
    border-image-width: 90rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.PopoverDecorator_arrow_8a {
    background: no-repeat 0 0 / contain;
    position: absolute;
}

.PopoverDecorator_arrow__bottom_c3,
    .PopoverDecorator_arrow__top_6e {
        width: 301rem;
        height: 90rem;
        margin: 0 58rem;
        background-image: url('R.images.gui.maps.icons.popovers.popover_arrow_top');
        left: 50%;
    }

.PopoverDecorator_arrow__left_7a,
    .PopoverDecorator_arrow__right_b6 {
        width: 84rem;
        height: 181rem;
        margin: 58rem 0;
        background-image: url('R.images.gui.maps.icons.popovers.popover_arrow_left');
        top: 50%;
    }

.PopoverDecorator_arrow__left_7a {
        right: 10rem;
        transform: scaleX(-1) translateY(-90rem);
    }

.PopoverDecorator_arrow__right_b6 {
        left: 10rem;
        transform: translateY(-90rem);
    }

.PopoverDecorator_arrow__top_6e {
        bottom: 8rem;
        transform: scaleY(-1) translateX(-150rem);
    }

.PopoverDecorator_arrow__bottom_c3 {
        top: 8rem;
        transform: translateX(-150rem);
    }

.PopoverDecorator_closeBtn_32 {
    width: 18rem;
    height: 18rem;
    background: url('R.images.gui.maps.icons.popovers.close_button_slim_up') no-repeat 0 0 / contain;
    position: absolute;
    top: 6rem;
    right: 6rem;
    z-index: 3;
    cursor: pointer;
}

.PopoverDecorator_closeBtn_32:hover {
        filter: brightness(160%);
    }

.PopoverDecorator_closeBtn_32:active {
        background-image: url('R.images.gui.maps.icons.popovers.close_button_slim_press');
        filter: brightness(100%);
    }

.PopoverDecorator_content_f0 {
    position: relative;
    z-index: 2;
}

.FiltersButton_base_83 {
    position: relative;
}

.FiltersButton_button_49 {
    width: 100%;
    height: 100%;
    position: relative;
}

.FiltersButton_icon_b3 {
    width: 40rem;
    height: 24rem;
    background: url('R.images.gui.maps.icons.library.tank') no-repeat center / contain;
    position: relative;
}

.RentedButton_base_71 {
    position: relative;
}

.RentedButton_button_da {
    width: 100%;
    height: 100%;
    border: 1rem solid #000;
    position: relative;
}

.RentedButton_icon_85 {
    width: 19rem;
    height: 19rem;
    background: url('R.images.gui.maps.icons.library.rent_ico_big') no-repeat center / contain;
    position: relative;
}

.Box_mt__XS_0c {
            margin-top: 4rem;
        }
        .Box_mt__SM_eb {
            margin-top: 8rem;
        }
        .Box_mt__SMp_cf {
            margin-top: 10rem;
        }
        .Box_mt__MD_25 {
            margin-top: 16rem;
        }
        .Box_mt__MDp_49 {
            margin-top: 20rem;
        }
        .Box_mt__LG_e8 {
            margin-top: 32rem;
        }
        .Box_mt__XL_83 {
            margin-top: 64rem;
        }

.Box_mr__XS_7c {
            margin-right: 4rem;
        }

.Box_mr__SM_08 {
            margin-right: 8rem;
        }

.Box_mr__SMp_06 {
            margin-right: 10rem;
        }

.Box_mr__MD_4a {
            margin-right: 16rem;
        }

.Box_mr__MDp_b6 {
            margin-right: 20rem;
        }

.Box_mr__LG_d0 {
            margin-right: 32rem;
        }

.Box_mr__XL_db {
            margin-right: 64rem;
        }

.Box_mb__XS_bb {
            margin-bottom: 4rem;
        }

.Box_mb__SM_83 {
            margin-bottom: 8rem;
        }

.Box_mb__SMp_04 {
            margin-bottom: 10rem;
        }

.Box_mb__MD_ed {
            margin-bottom: 16rem;
        }

.Box_mb__MDp_65 {
            margin-bottom: 20rem;
        }

.Box_mb__LG_c8 {
            margin-bottom: 32rem;
        }

.Box_mb__XL_f8 {
            margin-bottom: 64rem;
        }

.Box_ml__XS_8a {
            margin-left: 4rem;
        }

.Box_ml__SM_e6 {
            margin-left: 8rem;
        }

.Box_ml__SMp_fb {
            margin-left: 10rem;
        }

.Box_ml__MD_2b {
            margin-left: 16rem;
        }

.Box_ml__MDp_c7 {
            margin-left: 20rem;
        }

.Box_ml__LG_39 {
            margin-left: 32rem;
        }

.Box_ml__XL_4a {
            margin-left: 64rem;
        }

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
        font-size: 10rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_paragraph-P12_22 {
        font-size: 12rem;
        font-weight: 400;
        line-height: 1.3;
}
.Text_paragraph-P14_a7 {
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.3;
}
.Text_paragraph-P16_90 {
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
}
.Text_paragraph-P18_50 {
        font-size: 18rem;
        font-weight: 400;
        line-height: 1.25;
}
.Text_paragraph-P24_33 {
        font-size: 24rem;
        font-weight: 400;
        line-height: 32rem;
}
.Text_heading-H14_8b {
        font-size: 14rem;
        font-weight: 700;
        line-height: 1.15;
}
.Text_heading-H15_9e {
        font-size: 15rem;
        font-weight: 700;
        line-height: 1.15;
}
.Text_heading-H18_b7 {
        font-size: 18rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H20R_f6 {
        font-size: 20rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_heading-H22_27 {
        font-size: 22rem;
        font-weight: 700;
        line-height: 1.2;
}
.Text_heading-H24R_be {
        font-size: 24rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_heading-H24_0c {
        font-size: 24rem;
        font-weight: 700;
        line-height: 1.2;
}
.Text_heading-H28_78 {
        font-size: 28rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H36_32 {
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H56_c3 {
        font-size: 56rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H73_8f {
        font-size: 73rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H144_a9 {
        font-size: 144rem;
        font-weight: 700;
        line-height: 1;
}
.Text_BLACK_REAL_30 {
        color: #000000;
    }
.Text_WHITE_REAL_bc {
        color: #FFFFFF;
    }
.Text_WHITE_62 {
        color: #F2F2F7;
    }
.Text_WHITE_ORANGE_54 {
        color: #FEFEEC;
    }
.Text_WHITE_SPANISH_df {
        color: #E9E2BF;
    }
.Text_PAR_15 {
        color: #8C8C7E;
    }
.Text_PAR_SECONDARY_5d {
        color: #595950;
    }
.Text_PAR_TERTIARY_c9 {
        color: #37362E;
    }
.Text_INFO_RED_30 {
        color: #FF0000;
    }
.Text_RED_66 {
        color: #FF2717;
    }
.Text_RED_DARK_d8 {
        color: #B70000;
    }
.Text_YELLOW_ed {
        color: #FEAB34;
    }
.Text_ORANGE_be {
        color: #EE7000;
    }
.Text_CREAM_57 {
        color: #FFDD99;
    }
.Text_BROWN_18 {
        color: #CBAC77;
    }
.Text_GREEN_BRIGHT_3f {
        color: #80D43A;
    }
.Text_GREEN_e3 {
        color: #7AB300;
    }
.Text_GREEN_DARK_f1 {
        color: #497212;
    }
.Text_BLUE_BOOSTER_21 {
        color: #CCFFFF;
    }
.Text_BLUE_TEAMKILLER_ab {
        color: #09E2FF;
    }
.Text_CRED_f7 {
        color: #CED9D9;
    }
.Text_GOLD_28 {
        color: #FFC363;
    }
.Text_BOND_be {
        color: #C9C9B6;
    }
.Text_PROM_65 {
        color: #A29B70;
    }

.PopoverInfoBlock_base_50 {
    display: block;
    cursor: pointer;
}

    .PopoverInfoBlock_base__invisible_a3 {
        display: None;
    }

.PopoverInfoBlock_counter_a5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 80rem;
    text-shadow: 1rem 1rem 5rem #000000;
    position: absolute;
    bottom: 10rem;
}

.PopoverInfoBlock_divider_58 {
    margin: 0 4rem;
}

.PopoverInfoBlock_glow_af {
    width: 74rem;
    height: 57rem;
    background-image: url('R.images.gui.maps.icons.components.arrow.glow');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -24rem;
    transform: rotate(180deg);
}

.PopoverInfoBlock_button_df {
    width: 20rem;
    height: 20rem;
    margin-left: 8rem;
    padding: 0;
    border-radius: 1rem;
    position: relative;
    top: 2rem;
}

.PopoverInfoBlock_icon_6d {
    width: 12rem;
    height: 12rem;
    background: url('R.images.gui.maps.icons.components.input.crossIcon') no-repeat center / 12rem;
    position: relative;
    top: 1rem;
}

.HorizontalBar_base_49 {
    display: flex;
    width: 100%;
    height: 13rem;
    position: relative;
}

    .HorizontalBar_base__nonActive_82 {
        visibility: hidden;
    }

    .HorizontalBar_base_49 .disable,
    .HorizontalBar_base_49 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover, .HorizontalBar_rightButton_03:hover {
        opacity: 1;
    }

.HorizontalBar_leftButton_5f {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_03 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_0d {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_fd {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem 7rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
        opacity: 1;
    }

.HorizontalBar_rail_32 {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_32:hover {
        opacity: .7;
    }


.HorizontalScroll_base_29 {
    width: 100%;
}

.HorizontalScroll_wrapper_1e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
    width: 100%;
    margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    position: relative;
}

    .VerticalBar_base__nonActive_42 {
        visibility: hidden;
    }

    .VerticalBar_base_f3 .disable,
    .VerticalBar_base_f3 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_topButton_d7:hover, .VerticalBar_bottomButton_06:hover {
        opacity: 1;
    }

.VerticalBar_topButton_d7 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.VerticalBar_bottomButton_06 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.VerticalBar_track_df {
    flex: 1;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
}

.VerticalBar_thumb_32 {
    display: flex;
    flex: 0 0 13rem;
    width: 13rem;
    height: 100%;
    min-height: 20rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb') no-repeat center / 7rem 8rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_thumb_32:hover {
        opacity: 1;
    }

.VerticalBar_rail_43 {
    width: 0;
    height: 100%;
    border-left: 1rem solid #2f2e24;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
}

.VerticalBar_rail_43:hover {
        opacity: .7;
    }


.VerticalScroll_content_cb {
    height: 100%;
    overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
    display: flex;
}

.VerticalScroll_bar_1e {
    flex: 1;
    margin-left: 7rem;
}

.VerticalScroll_area_af {
    flex: 1;
}

.VehiclesBlock_base_24 {
    display: flex;
    flex-direction: row;
}

    .VehiclesBlock_base__textMessage_5b {
        justify-content: center;
        align-items: center;
    }

.VehiclesBlock_prev_29,
.VehiclesBlock_next_46 {
    width: var(--arrow-width);
    max-height: 100rem;
    margin: 10rem 0;
    border: 1rem solid rgba(242,242,247, 0);
    background: url('R.images.gui.maps.icons.components.arrow.arrow') no-repeat center;
    transition: border .3s linear;
    cursor: pointer;
}

.VehiclesBlock_prev__hovered_8c, .VehiclesBlock_next__hovered_db {
        border: 1rem solid rgba(242,242,247, .2);
    }

.VehiclesBlock_prev__disabled_6a, .VehiclesBlock_next__disabled_ca {
        border: 1rem solid rgba(242,242,247, 0);
        background: url('R.images.gui.maps.icons.components.arrow.arrow_grey') no-repeat center;
        cursor: default;
    }

.VehiclesBlock_next_46 {
    transform: rotate(180deg);
}

.VehiclesBlock_content_e9 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 16rem;
}

.VehiclesBlock_scrollContainer_c8 {
    display: flex;
    align-items: flex-start;
}

.VehiclesBlock_horizontalWrapper_95 {
    justify-content: left;
}

.VehiclesBlock_scroll_83 {
    --scroll-width: 100rem;
    display: flex;
    flex-direction: row;
    width: var(--scroll-width);
}

.VehiclesBlock_noFilteredVehiclesMessage_32 {
    width: fit-content;
    margin-right: var(--filter-width);
    color: #fedc98;
    text-align: center;
    text-shadow: 0 0 4rem rgba(255, 127, 0, 0.25), 0 0 8rem rgb(255, 42, 0), 0 0 15rem rgb(238, 85, 34);
}

.VehicleSlot_base_c0 {
    width: 160rem;
    height: 100rem;
    margin: 0 5rem;
    background-color: rgba(0, 0, 0, 0.32);
    position: relative;
    cursor: pointer;
}

    .VehicleSlot_base__small_63 {
        height: 35rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

.VehicleSlot_frame_9d {
    width: 160rem;
    height: 100rem;
    border: 1rem solid rgba(242, 242, 247, 0.2);
    border-radius: 2rem;
    position: absolute;
    transition: border 0.3s linear;
}

.VehicleSlot_frame__hover_01 {
        border: 1rem solid rgba(242,242,247, 0.5);
    }

.VehicleSlot_frame__small_ca {
        height: 35rem;
    }

.VehicleSlot_highlightFrame_0e {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-image: linear-gradient(
        180deg,
        rgba(255, 182, 182, 0.09) 0%,
        rgba(255, 103, 103, 0.17) 33.48%,
        rgba(255, 207, 82, 0.4) 82.97%
    );
}

.VehicleSlot_highlightCircle_5c {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: radial-gradient(
        100.9% 100% at 50% 100%,
        rgba(239, 211, 133, 1) 1%,
        rgba(235, 190, 74, 1) 2.39%,
        rgba(235, 158, 62, 0.82) 8.58%,
        rgba(213, 102, 39, 0.56) 29.5%,
        rgba(191, 17, 17, 0.24) 57%,
        rgba(140, 41, 19, 0.2) 77%,
        rgba(114, 20, 20, 0) 100%
    );
}

.VehicleSlot_shadow_34 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 14%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 1) 100%
    );
    opacity: 1;
    transition: opacity 0.3s linear;
}

.VehicleSlot_shadow__hover_4a {
        opacity: 0;
    }

.VehicleSlot_vehicle_c9 {
    color: #E9E2BF;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    align-items: center;
    text-shadow: 0 1rem 2rem rgb(0, 0, 0);
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.VehicleSlot_vehicle__small_27 {
        padding-right: 4rem;
        left: 100%;
        transform: translateX(-100%);
    }

.VehicleSlot_vehicle__selected_7f {
        color: #FFDD99;
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.3;
        text-shadow: 1rem 1rem 20rem rgb(255, 42, 0), 0 1rem 10rem rgba(238, 85, 34, 1), 0 0 0.5rem rgba(238, 85, 34, 1);
    }

.VehicleSlot_vehicleWrapper_97 {
    display: flex;
}

.VehicleSlot_vehicleTypeIcon_99 {
    width: 35rem;
    height: 40rem;
    background: no-repeat center / cover;
    position: absolute;
}

.VehicleSlot_vehicleTypeIcon__small_d6 {
        width: 34rem;
        height: 38rem;
    }

.VehicleSlot_vehicleRoleIcon_91 {
    width: 22rem;
    height: 22rem;
    background: no-repeat center / cover;
    position: absolute;
    top: 16rem;
    left: 17rem;
}

.VehicleSlot_vehicleRoleIcon__small_af {
        width: 14rem;
        height: 14rem;
        top: 17rem;
        left: 18rem;
    }

.VehicleSlot_flag_f0 {
    width: 160rem;
    height: 100rem;
    background: no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 0;
}

.VehicleSlot_flag__small_b8 {
        height: 35rem;
    }

.VehicleSlot_vehicleIcon_19 {
    width: 160rem;
    height: 100rem;
    background: no-repeat 0 / cover;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}

.VehicleSlot_vehicleIcon__small_49 {
        width: 124rem;
        height: 31rem;
    }

.VehicleSlot_favorite_4f {
    width: 41rem;
    height: 49rem;
    background: no-repeat center / cover;
    position: absolute;
    right: 0;
    bottom: 0;
}

.VehicleSlot_favorite__small_7a {
        width: 20rem;
        height: 18rem;
    }

.CarouselView_base_d3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120rem;
    margin-top: 20rem;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0.56) 90%, rgba(0, 0, 0, 0) 98%);
    position: relative;
}

.CarouselView_filters_3c {
    --filters-width: 72rem;
    width: var(--filters-width);
    height: 120rem;
}

.CarouselView_vehicles_04 {
    width: 100%;
    height: 120rem;
}

.CarouselView_popoverInfo_a4 {
    width: 92rem;
    height: 30rem;
    position: absolute;
    top: -17rem;
}

.CarouselView_blur_9e {
    width: 100%;
    height: 139rem;
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 0;
    z-index: 5;
}

.CarouselView_blur__hide_04 {
        display: none;
    }

