.Bonus_base_dd {
    width: 54rem;
    height: 54rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

    .Bonus_base__fitting_d1 {
        opacity: .5;
    }
.Bonus_icon_3b {
    width: 96rem;
    height: 96rem;
    background: no-repeat center / contain;
    position: absolute;
}
.Bonus_icon__battleBooster_66 {
        top: -14rem;
        left: -20rem;
    }
.Bonus_icon__battleBoosterReplace_8d {
        top: -12rem;
        left: -20rem;
    }
.Bonus_icon__equipmentPlus_48 {
        top: -28rem;
        left: -20rem;
    }
.Bonus_icon__builtInEquipment_77 {
        top: -21rem;
        left: -23rem;
    }
.Bonus_icon__equipmentModernized_76 {
        top: -23rem;
        left: -19rem;
    }
.Bonus_icon__equipmentTrophyBasic_a4,
    .Bonus_icon__equipmentTrophyUpgraded_6d {
        top: -23rem;
        left: -19rem;
    }

