.HorizontalBar_base_49 {
    display: flex;
    width: 100%;
    height: 13rem;
    position: relative;
}

    .HorizontalBar_base__nonActive_82 {
        visibility: hidden;
    }

    .HorizontalBar_base_49 .disable,
    .HorizontalBar_base_49 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover, .HorizontalBar_rightButton_03:hover {
        opacity: 1;
    }

.HorizontalBar_leftButton_5f {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_03 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_0d {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_fd {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem 7rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
        opacity: 1;
    }

.HorizontalBar_rail_32 {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_32:hover {
        opacity: .7;
    }


.HorizontalScroll_base_29 {
    width: 100%;
}

.HorizontalScroll_wrapper_1e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
    width: 100%;
    margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    position: relative;
}

    .VerticalBar_base__nonActive_42 {
        visibility: hidden;
    }

    .VerticalBar_base_f3 .disable,
    .VerticalBar_base_f3 .disable:hover {
        opacity: .3;
        cursor: default;
    }

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: no-repeat center / 7rem 5rem;
    opacity: .5;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_topButton_d7:hover, .VerticalBar_bottomButton_06:hover {
        opacity: 1;
    }

.VerticalBar_topButton_d7 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.VerticalBar_bottomButton_06 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.VerticalBar_track_df {
    flex: 1;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
}

.VerticalBar_thumb_32 {
    display: flex;
    flex: 0 0 13rem;
    width: 13rem;
    height: 100%;
    min-height: 20rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255,255,190, .3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb') no-repeat center / 7rem 8rem;
    opacity: .5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_thumb_32:hover {
        opacity: 1;
    }

.VerticalBar_rail_43 {
    width: 0;
    height: 100%;
    border-left: 1rem solid #2f2e24;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
}

.VerticalBar_rail_43:hover {
        opacity: .7;
    }


.VerticalScroll_content_cb {
    height: 100%;
    overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
    display: flex;
}

.VerticalScroll_bar_1e {
    flex: 1;
    margin-left: 7rem;
}

.VerticalScroll_area_af {
    flex: 1;
}

.AchievementTooltip_base_4d {
    display: flex;
    justify-content: center;
    flex: 1;
}

.Achievement_base_1a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Achievement_image_09 {
    width: 67rem;
    height: 71rem;
}

.Achievement_base__small_c8 .Achievement_image_09 {
        width: 100rem;
        height: 100rem;
    }

.Achievement_base__medium_e1 .Achievement_image_09 {
        width: 120rem;
        height: 120rem;
    }

.Achievement_base__large_1d .Achievement_image_09 {
        width: 150rem;
        height: 150rem;
    }

.Achievement_base__extraLarge_1b .Achievement_image_09 {
        width: 180rem;
        height: 180rem;
    }

.Achievement_image_09 {
    background: no-repeat center / contain;
    position: relative;
}

.Achievement_counter_97 {
    position: absolute;
    right: -4rem;
    bottom: 4rem;
}

.Achievement_base__small_c8 .Achievement_counter_97 {
        right: 15rem;
        bottom: 15rem;
    }

.Achievement_base__medium_e1 .Achievement_counter_97 {
        right: 10rem;
        bottom: 12rem;
    }

.Achievement_base__large_1d .Achievement_counter_97 {
        right: 24rem;
        bottom: 24rem;
    }

.Achievement_base__extraLarge_1b .Achievement_counter_97 {
        right: 28rem;
        bottom: 28rem;
    }

.Counter_base_03 {
    height: 16rem;
    z-index: 0;
}

    .Counter_base__medium_55 {
        height: 20rem;
    }

    .Counter_base__large_0c {
        height: 24rem;
    }

.Counter_background_36 {
    height: 100%;
    border: 1rem solid;
    border-image: url('R.images.gui.maps.icons.achievements.counter.simple') 1 fill;
}

.Counter_base__series_e9 .Counter_background_36 {
        border-image-source: url('R.images.gui.maps.icons.achievements.counter.series');
    }

.Counter_base__stages_c7 .Counter_background_36 {
        border-image-source: url('R.images.gui.maps.icons.achievements.counter.stages');
    }

.Counter_arrow_78 {
    width: 17rem;
    height: 16rem;
    background: url('R.images.gui.maps.icons.achievements.counter.arrow_small') no-repeat center / contain;
    position: absolute;
    top: 1rem;
    right: -9rem;
    z-index: -1;
}

.Counter_base__medium_55 .Counter_arrow_78 {
        width: 20rem;
        height: 20rem;
        background-image: url('R.images.gui.maps.icons.achievements.counter.arrow');
        top: 2rem;
        right: -10rem;
    }

.Counter_base__large_0c .Counter_arrow_78 {
        width: 21rem;
        height: 24rem;
        background-image: url('R.images.gui.maps.icons.achievements.counter.arrow_big');
        top: 2rem;
        right: -11rem;
    }

.Counter_arrow__left_e6 {
        left: -9rem;
        transform: scaleX(-1);
    }

.Counter_base__medium_55 .Counter_arrow__left_e6 {
            left: -10rem;
        }

.Counter_base__large_0c .Counter_arrow__left_e6 {
            left: -11rem;
        }

.Counter_count_f2 {
    color: #E9E2BF;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    min-width: 24rem;
    padding: 0 4rem 2rem;
    line-height: 14rem;
    text-align: center;
    text-shadow: 0 1rem 1rem rgba(0,0,0, .5);
    position: relative;
    bottom: 1rem;
}

.Counter_base__medium_55 .Counter_count_f2 {
        color: #E9E2BF;
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.3;
        min-width: 28rem;
        line-height: 18rem;
    }

.Counter_base__large_0c .Counter_count_f2 {
        color: #E9E2BF;
        font-size: 18rem;
        font-weight: 400;
        line-height: 1.25;
        min-width: 34rem;
        line-height: 20rem;
    }

.AchievementPlaceholder_base_06 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.AchievementPlaceholder_image_92 {
    width: 67rem;
    height: 71rem;
}

.AchievementPlaceholder_base__small_b7 .AchievementPlaceholder_image_92 {
        width: 100rem;
        height: 100rem;
    }

.AchievementPlaceholder_base__medium_ef .AchievementPlaceholder_image_92 {
        width: 120rem;
        height: 120rem;
    }

.AchievementPlaceholder_base__large_c5 .AchievementPlaceholder_image_92 {
        width: 150rem;
        height: 150rem;
    }

.AchievementPlaceholder_base__extraLarge_d5 .AchievementPlaceholder_image_92 {
        width: 180rem;
        height: 180rem;
    }

.AchievementPlaceholder_image_92 {
    background: url('R.images.gui.maps.icons.achievements.summary.empty_achievement.medium') no-repeat center / contain;
    opacity: .25;
}

.AchievementPlaceholder_base__large_c5 .AchievementPlaceholder_image_92,
    .AchievementPlaceholder_base__extraLarge_d5 .AchievementPlaceholder_image_92 {
        background-image: url('R.images.gui.maps.icons.achievements.summary.empty_achievement.big');
    }

.Achievements_base_96 {
    width: 100%;
    z-index: 1;
}

    .Achievements_base__visibleWithAnimation_0a {
        animation: Achievements_fadeIn_f2 .25s forwards;
    }

    .Achievements_base__hide_33 {
        animation: Achievements_fadeOut_e6 .25s .25s cubic-bezier(.22, 1, .36, 1) forwards;
    }
.Achievements_header_a9 {
    width: 100%;
    margin-bottom: -4rem;
}
.mediaMedium .Achievements_header_a9 {
        margin-bottom: -8rem;
}
.mediaLarge .Achievements_header_a9 {
        margin-bottom: 0;
}
.Achievements_ribbon_06 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1366rem;
    height: 224rem;
    margin-bottom: -20rem;
    padding-top: 27rem;
    padding-bottom: 39rem;
    background: url('R.images.gui.maps.icons.achievements.summary.ribbon_small') no-repeat center / 100% 100%;
}
.mediaMedium .Achievements_ribbon_06 {
        width: 1920rem;
        height: 294rem;
        padding-top: 35rem;
        padding-bottom: 57rem;
        background-image: url('R.images.gui.maps.icons.achievements.summary.ribbon');
}
.mediaExtraLarge .Achievements_ribbon_06 {
        width: 2560rem;
        height: 394rem;
        padding-top: 50rem;
        padding-bottom: 70rem;
        background-image: url('R.images.gui.maps.icons.achievements.summary.ribbon_large');
}
.Achievements_base__fullAnimation_10 .Achievements_ribbon_06 {
        opacity: 0;
        animation: Achievements_fadeIn_f2 250ms 250ms cubic-bezier(.22, 1, .36, 1) forwards;
    }
.Achievements_list_55 {
    display: flex;
}
.Achievements_item_a4 {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 112rem;
    position: relative;
}
.mediaMedium .Achievements_item_a4 {
        width: 120rem;
}
.Achievements_item_a4 + .Achievements_item_a4 {
        margin-left: 10rem;
    }
.mediaSmall .Achievements_item_a4 + .Achievements_item_a4 {
            margin-left: 25rem;
}
.mediaMedium .Achievements_item_a4 + .Achievements_item_a4 {
            margin-left: 68rem;
}
.mediaLarge .Achievements_item_a4 + .Achievements_item_a4 {
            margin-left: 92rem;
}
.mediaExtraLarge .Achievements_item_a4 + .Achievements_item_a4 {
            margin-left: 145rem;
            margin-bottom: 6rem;
}
.Achievements_item_a4 + .Achievements_item__fixedIndent_0c {
            margin-left: 26rem;
        }
.Achievements_base__fullAnimation_10 .Achievements_item_a4 {
        opacity: 0;
        animation: Achievements_fadeInScale_bc 350ms cubic-bezier(.32, 0, .67, 0) forwards;
    }
.Achievements_achievement_64 {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: Achievements_fadeInScale_bc 350ms cubic-bezier(.32, 0, .67, 0) forwards;
}
.Achievements_achievementPlaceholder_42 {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: Achievements_fadeOutScale_6a 250ms cubic-bezier(.45, 0, .55, 1) forwards;
    pointer-events: none;
}
@keyframes Achievements_fadeIn_f2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes Achievements_fadeOut_e6 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes Achievements_fadeInScale_bc {
    0% {
        opacity: 0;
        transform: scale(1.4);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes Achievements_fadeOutScale_6a {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(.6);
    }
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0,0,0, .6);
    position: relative;
    cursor: pointer;
}

    .CButton_base__main_42,
    .CButton_base__primary_7f,
    .CButton_base__primaryGreen_6f,
    .CButton_base__primaryRed_ec,
    .CButton_base__secondary_50 {
        background-size: 100% 100%;
    }

    .CButton_base__main_42 {
        background-image: url('R.images.gui.maps.icons.components.button.back_main');
    }

    .CButton_base__primary_7f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary');
    }

    .CButton_base__primaryGreen_6f {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }

    .CButton_base__primaryRed_ec {
        background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }

    .CButton_base__secondary_50 {
        background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
    }

    .CButton_base__ghost_ed {
        border-radius: 3rem;
        box-shadow: 0 0 0 1rem rgba(0,0,0, .3),
            0 0 0 1rem rgba(255,255,255, .15) inset;
        background-color: rgba(0,0,0, .15);
    }

    .CButton_base__extraSmall_27 {
        min-height: 17rem;
        padding: 0 16rem;
    }

    .CButton_base__small_df,
    .CButton_base__medium_74 {
        padding: 0 20rem;
    }

    .CButton_base__small_df {
        min-height: 18rem;
    }

    .CButton_base__medium_74 {
        min-height: 32rem;
    }

    .CButton_base__disabled_d9 {
        cursor: default;
    }
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
    }
.CButton_base__primary_7f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
    }
.CButton_base__primaryGreen_6f .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
    }
.CButton_base__primaryRed_ec .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
    }
.CButton_base__secondary_50 .CButton_back_e5 {
        border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
    }
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow .16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
        border-radius: 2rem;
        box-shadow: inset 0 0 2rem 1rem rgba(255,85,0, .2);
    }
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff, .CButton_base__firstHover_d5 .CButton_stateHighlightActive_35, .CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
        transition: opacity .16s ease-in-out;
    }
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(180deg, rgba(252,248,235, .25) 0%, rgba(252,248,235, .1) 50%, rgba(255,255,255, 0) 100%);
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
        opacity: 1;
    }
.CButton_base_40:active .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
        opacity: 0;
    }
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
        box-shadow: 0 15rem 12rem 0 rgba(242,242,230, .11) inset;
        background-color: rgba(8,6,0, .18);
        background-image: none;
    }
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0,0,0, .3) 0%, rgba(0,0,0, .15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
        opacity: 1;
    }
.CButton_stateDisabled_54 {
    background-color: rgba(0,0,0, .25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
        opacity: 1;
    }
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: .03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang=ja],
    .CButton_content_cc[lang=ko],
    .CButton_content_cc[lang=zh_tw],
    .CButton_content_cc[lang=zh_sg],
    .CButton_content_cc[lang=zh_cn],
    .CButton_content_cc[lang=th] {
        font-weight: 400;
    }
.CButton_base__main_42 .CButton_content_cc,
    .CButton_base__primaryRed_ec .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #600;
    }
.CButton_base__secondary_50 .CButton_content_cc {
        color: rgba(254,254,236, .75);
    }
.CButton_base__primaryGreen_6f .CButton_content_cc {
        text-shadow: 0 -1rem 1rem #1c2502;
    }
.CButton_base__extraSmall_27 .CButton_content_cc {
        font-size: 12rem;
    }
.CButton_base__small_df .CButton_content_cc {
        font-size: 14rem;
    }
.CButton_base__medium_74 .CButton_content_cc {
        font-size: 15rem;
    }
.CButton_base__disabled_d9 .CButton_content_cc {
        opacity: .6;
    }

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Header_base_95 {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
    .mediaExtraLarge .Header_base_95 {
        align-items: flex-end;
}

.Header_title_71 {
    color: rgba(254,254,236, .8);
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
    margin-right: 10rem;
}

.mediaMedium .Header_title_71 {
        color: rgba(254,254,236, .8);
        font-size: 24rem;
        font-weight: 400;
        line-height: 1.2;
        margin-right: 20rem;
}

.mediaExtraLarge .Header_title_71 {
        font-size: 32rem;
}

.Header_buttonContainer_38 {
    position: relative;
}

.Header_editButton_0c {
    min-height: 24rem;
    padding: 0 16rem;
}

.mediaMedium .Header_editButton_0c {
        min-height: 32rem;
        padding: 0 18rem;
}

.Header_buttonIcon_6d {
    width: 16rem;
    height: 16rem;
    background: url('R.images.gui.maps.icons.achievements.summary.edit_small') no-repeat center / contain;
    opacity: .3;
    position: relative;
    top: 1rem;
}

.mediaMedium .Header_buttonIcon_6d {
        width: 24rem;
        height: 24rem;
        background-image: url('R.images.gui.maps.icons.achievements.summary.edit');
}

.Header_base__available_43 .Header_buttonIcon_6d {
        opacity: 1;
    }

.Header_alert_fc {
    width: 100%;
    height: 8rem;
    background-image: radial-gradient(54% 78% at 50% 0%, rgba(255,98,49, .3) 0%, rgba(255,153,49, .08) 55%, transparent 100%);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.mediaMedium .Header_alert_fc {
        height: 10rem;
}

.Header_alertIcon_9d {
    width: 16rem;
    height: 16rem;
    background: url('R.images.gui.maps.icons.library.alertIcon') no-repeat center / contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Header_info_f5 {
    color: rgba(254,254,236, .6);
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15rem;
    position: absolute;
    right: 0;
    bottom: -2rem;
}

.mediaSmall .Header_info_f5 {
        flex-direction: row;
        align-items: flex-start;
        padding-right: 0;
        bottom: 4rem;
}

.mediaMedium .Header_info_f5 {
        color: rgba(254,254,236, .6);
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
}

.mediaExtraLarge .Header_info_f5 {
        padding-right: 26rem;
        font-size: 22rem;
}

.Header_info__inline_68 {
        flex-direction: row;
        align-items: flex-start;
        bottom: 4rem;
    }

.Header_infoItem_a8 {
    margin-top: 6rem;
}

.mediaSmall .Header_infoItem_a8 {
        margin-left: 20rem;
        margin-top: 0;
}

.mediaMedium .Header_infoItem_a8 {
        margin-left: 30rem;
}

.mediaExtraLarge .Header_infoItem_a8 {
        margin-left: 40rem;
}

.Header_info__inline_68 .Header_infoItem_a8 {
        margin: 0 0 0 20rem;
    }

.Header_accent_52 {
    color: rgba(254,254,236, .9);
    font-weight: 700;
}

.Header_base_90 {
    color: #FEFEEC;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    align-items: center;
}
    .mediaMedium .Header_base_90 {
        font-size: 32rem;
}
    .mediaLarge .Header_base_90 {
        font-size: 36rem;
}
    .mediaExtraLarge .Header_base_90 {
        font-size: 48rem;
}

.Header_iconInfo_20 {
    width: 18rem;
    height: 18rem;
    margin-left: 7rem;
    background: url('R.images.gui.maps.icons.achievements.info_icon') no-repeat center / contain;
    position: relative;
    top: 3rem;
}

.mediaMedium .Header_iconInfo_20 {
        margin-left: 9rem;
        top: 4rem;
}

.mediaLarge .Header_iconInfo_20 {
        width: 24rem;
        height: 24rem;
        margin-left: 11rem;
        top: 6rem;
}

.mediaExtraLarge .Header_iconInfo_20 {
        margin-left: 12rem;
        top: 7rem;
}

.TextOverflow_base_3b {
    flex: 0 1 auto;
    width: auto;
    line-height: 1.3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Clan_base_98 {
    color: rgba(242,242,247, .5);
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 400rem;
    padding-left: 44rem;
    text-align: left;
    position: relative;
}

.Clan_title_88 {
    color: #E9E2BF;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 8rem;
}

.Clan_icon_46 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.Clan_row_e6 {
    display: flex;
}

.Clan_row_e6 + .Clan_row_e6 {
        margin-top: 4rem;
    }

.Clan_caption_1a {
    display: flex;
    align-items: flex-end;
    flex: 1;
}

.Clan_caption_1a::after {
        flex: 1;
        height: 3rem;
        /* border dotted*/
        background: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(242,242,247, .15) 32%, transparent 35%) repeat left bottom / 3rem 3rem;
        content: '';
        position: relative;
        top: -2rem;
    }

.Clan_buttonBox_bc {
    display: flex;
    margin-top: 20rem;
}

.Clan_button_1d {
    padding: 0 16rem;
}

.DogTag_base_75 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200rem;
    height: 120rem;
    position: relative;
}

.DogTag_glow_47 {
    width: 700rem;
    height: 290rem;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(9,31,88, .4), transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.DogTag_icon_ff {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat center / contain;
}

.DogTag_frame_fd {
    width: 300rem;
    height: 200rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.DogTag_tooltipHitZone_1e {
    width: 100rem;
    height: 100%;
    position: relative;
}

.PlayerInfo_base_ed {
    display: flex;
    align-items: center;
    min-height: 126rem;
}

.PlayerInfo_dogTag_17 {
    width: 288rem;
}

.PlayerInfo_iconLock_ab {
    width: 58rem;
    height: 71rem;
    margin-bottom: -10rem;
    background: url('R.images.gui.maps.icons.achievements.summary.dog_tag.lock') no-repeat center / contain;
}

.PlayerInfo_dogTagStatus_f8 {
    color: rgba(242,242,247, .5);
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    white-space: pre-wrap;
}

.PlayerInfo_separator_83 {
    width: 1rem;
    height: 100%;
    background-image: linear-gradient(180deg, transparent, rgba(255,255,255, .1), transparent);
}

.PlayerInfo_clan_87 {
    color: rgba(242,242,247, .3);
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    width: 475rem;
}

.DowngradeAnimation_base_1c {
    position: relative;
}

.DowngradeAnimation_oldElement_48 {
    animation: DowngradeAnimation_fadeOut_0f ease-in-out forwards;
}

.DowngradeAnimation_newElement_d5 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    animation: DowngradeAnimation_fadeIn_df ease-in-out forwards;
}

@keyframes DowngradeAnimation_fadeOut_0f {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-10%);
    }
}

@keyframes DowngradeAnimation_fadeIn_df {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.LevelUpAnimation_base_8a {
    position: relative;
}

.LevelUpAnimation_particlesAnim_e9 {
    width: 250rem;
    height: 250rem;
    mix-blend-mode: screen;
    position: absolute;
    top: 72%;
    left: 28%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.mediaSmall .LevelUpAnimation_particlesAnim_e9 {
        width: 305rem;
        height: 305rem;
        top: 74%;
        left: 27%;
}

.mediaMedium .LevelUpAnimation_particlesAnim_e9 {
        width: 430rem;
        height: 430rem;
}

.mediaLarge .LevelUpAnimation_particlesAnim_e9 {
        width: 476rem;
        height: 476rem;
}

.mediaExtraLarge .LevelUpAnimation_particlesAnim_e9 {
        width: 620rem;
        height: 620rem;
}

.LevelUpAnimation_oldElement_08 {
    mask-image: linear-gradient(55deg, transparent 0%, #000 0%);
}

.LevelUpAnimation_newElement_4a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    mask-image: linear-gradient(55deg, #000 0%, transparent 0%);
}

.Content_icon_bd {
    width: 148rem;
    height: 148rem;
}
    .mediaSmall .Content_icon_bd {
        width: 180rem;
        height: 180rem;
}
    .mediaMedium .Content_icon_bd {
        width: 252rem;
        height: 252rem;
}
    .mediaLarge .Content_icon_bd {
        width: 280rem;
        height: 280rem;
}
    .mediaExtraLarge .Content_icon_bd {
        width: 360rem;
        height: 360rem;
}
    .Content_icon_bd {
    background: no-repeat center / contain;
    overflow: hidden;
    position: relative;
}

.Points_base_2a {
    color: #FFDD99;
    font-size: 28rem;
    font-weight: 700;
}
    .mediaMedium .Points_base_2a {
        font-size: 36rem;
}
    .mediaExtraLarge .Points_base_2a {
        font-size: 48rem;
}
    .Points_base__wotpr_fb {
        color: #FFDD99;
    }

.Points_prevPoints_e8 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.Points_base__increase_fb .Points_prevPoints_e8 {
        animation: Points_increasePrev_ad .5s ease-in-out forwards;
    }

.Points_base__decrease_dd .Points_prevPoints_e8 {
        animation: Points_decreasePrev_e6 .5s ease-in-out forwards;
    }

.Points_newPoints_6f {
    opacity: 0;
}

.Points_base__increase_fb .Points_newPoints_6f {
        animation: Points_increaseNew_fc .5s ease-in-out forwards;
    }

.Points_base__decrease_dd .Points_newPoints_6f {
        animation: Points_decreaseNew_d4 .5s ease-in-out forwards;
    }

@keyframes Points_increasePrev_ad {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(40%);
    }
}

@keyframes Points_increaseNew_fc {
    0% {
        opacity: 0;
        transform: translateY(-40%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes Points_decreasePrev_e6 {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-40%);
    }
}

@keyframes Points_decreaseNew_d4 {
    0% {
        opacity: 0;
        transform: translateY(40%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.Status_base_48 {
    width: 203rem;
    padding-top: 5rem;
    color: rgba(254,254,236, .7);
    font-size: 14rem;
    line-height: 1.25;
}
    .mediaSmall .Status_base_48 {
        width: 250rem;
}
    .mediaMedium .Status_base_48 {
        width: 340rem;
        font-size: 16rem;
}
    .mediaLarge .Status_base_48 {
        padding-top: 15rem;
        font-size: 18rem;
}
    .mediaExtraLarge .Status_base_48 {
        width: 420rem;
        padding-top: 18rem;
        font-size: 20rem;
}

.Status_statusText_33 {
    justify-content: center;
}

.Status_caption_5f {
    color: #E9E2BF;
    font-weight: 700;
}

.RatingWidget_base_dc {
    position: relative;
}

.RatingWidget_image_7d {
    width: 148rem;
    height: 148rem;
}

.mediaSmall .RatingWidget_image_7d {
        width: 180rem;
        height: 180rem;
}

.mediaMedium .RatingWidget_image_7d {
        width: 252rem;
        height: 252rem;
}

.mediaLarge .RatingWidget_image_7d {
        width: 280rem;
        height: 280rem;
}

.mediaExtraLarge .RatingWidget_image_7d {
        width: 360rem;
        height: 360rem;
}

.RatingWidget_image_7d {
    position: relative;
    pointer-events: none;
}

.mediaLarge .RatingWidget_image_7d {
        margin-bottom: -5rem;
}

.mediaExtraLarge .RatingWidget_image_7d {
        margin-bottom: -4rem;
}

.RatingWidget_decoration_9f {
    width: 620rem;
    height: 410rem;
    background: url('R.images.gui.maps.icons.achievements.summary.rating.decoration') no-repeat center / contain;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.RatingWidget_decoration__otherPlayer_95 {
        width: 554rem;
        height: 380rem;
        top: 60%;
    }

.mediaMedium .RatingWidget_decoration_9f {
        width: 860rem;
        height: 564rem;
        top: 60%;
}

.mediaLarge .RatingWidget_decoration_9f {
        width: 1060rem;
        height: 697rem;
        top: 58%;
}

.mediaExtraLarge .RatingWidget_decoration_9f {
        width: 1350rem;
        height: 890rem;
        top: 60%;
}

.RatingWidget_particlesBox_8d {
    opacity: 0;
    mix-blend-mode: screen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: RatingWidget_particlesAppearance_61 .3s .2s forwards;
}

.RatingWidget_particles_36 {
    width: 540rem;
    height: 540rem;
    background: url('swf://gui/flash/animations/battlePass/rays.swf') no-repeat center / cover;
}

.mediaMedium .RatingWidget_particles_36 {
        transform: scale(1.5);
}

.mediaLarge .RatingWidget_particles_36 {
        transform: scale(1.8);
}

.RatingWidget_footer_0e {
    position: absolute;
    top: 100%;
}

@keyframes RatingWidget_particlesAppearance_61 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Statistic_base_79 {
    width: 100%;
}

.Statistic_list_41 {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.Statistic_part_90 {
    display: flex;
    flex: 1;
}

.Statistic_item_87 {
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    padding: 0 5rem;
    position: relative;
}

.Statistic_item_87 + .Statistic_item_87::before {
            width: 1rem;
            content: '';
            position: absolute;
            top: 30%;
            bottom: 30%;
            left: 0;
        }

.Statistic_ratingWidget_9d {
    padding: 8rem 15rem 0;
}

.mediaSmall .Statistic_ratingWidget_9d {
        margin-top: -8rem;
        padding-top: 0;
}

.mediaMedium .Statistic_ratingWidget_9d {
        margin-top: -20rem;
        padding: 0 20rem;
}

.mediaLarge .Statistic_ratingWidget_9d {
        margin-top: -35rem;
}

.mediaExtraLarge .Statistic_ratingWidget_9d {
        padding: 0 50rem;
}

.StatisticItem_base_d9 {
    color: rgba(242,242,247, .6);
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .mediaMedium .StatisticItem_base_d9 {
        color: rgba(242,242,247, .6);
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
}
    .mediaExtraLarge .StatisticItem_base_d9 {
        font-size: 20rem;
}

.StatisticItem_icon_4e {
    width: 64rem;
    height: 64rem;
    background: no-repeat center / contain;
    opacity: .7;
}

.mediaMedium .StatisticItem_icon_4e {
        width: 80rem;
        height: 80rem;
}

.mediaExtraLarge .StatisticItem_icon_4e {
        width: 120rem;
        height: 120rem;
        margin-bottom: -4rem;
}

.StatisticItem_amount_de {
    color: rgba(254,254,236, .9);
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 6rem;
}

.mediaMedium .StatisticItem_amount_de {
        color: rgba(254,254,236, .9);
        font-size: 28rem;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 10rem;
}

.mediaExtraLarge .StatisticItem_amount_de {
        color: rgba(254,254,236, .9);
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 12rem;
}

.StatisticItem_title_f7 {
    display: flex;
    flex: 1;
    white-space: pre-wrap;
}

.StatisticItem_caption_65 {
    width: 100%;
    color: rgba(254,254,236, .9);
    font-weight: 700;
}

.mediaMedium .StatisticItem_caption_65 {
        width: auto;
}

.StatisticItem_footer_61 {
    display: flex;
    margin-top: 8rem;
    padding-top: 8rem;
    font-size: 14rem;
    position: relative;
}

.mediaMedium .StatisticItem_footer_61 {
        margin-top: 15rem;
        padding-top: 11rem;
        font-size: 16rem;
}

.mediaExtraLarge .StatisticItem_footer_61 {
        margin-top: 19rem;
        padding-top: 15rem;
        font-size: 20rem;
}

.StatisticItem_footer_61::before {
        width: 22rem;
        height: 1rem;
        background-color: rgba(255,255,255, .2);
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

.mediaExtraLarge .StatisticItem_footer_61::before {
            width: 30rem;
            height: 2rem;
}

.StatisticItem_footerText_2f {
    justify-content: center;
}

.Content_base_3e {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 820rem;
    max-width: 90%;
    padding-bottom: 32rem;
}
    .mediaSmall .Content_base_3e {
        width: 1040rem;
}
    .mediaMedium .Content_base_3e {
        width: 1320rem;
        padding-bottom: 30rem;
}
    .mediaLarge .Content_base_3e {
        width: 1515rem;
        padding-bottom: 85rem;
}
    .mediaExtraLarge .Content_base_3e {
        width: 1870rem;
        padding-bottom: 0;
}
    .Content_base__otherPlayer_61 {
        width: 960rem;
        max-width: 100%;
        padding-right: 10rem;
    }

.Content_header_2d {
    margin-bottom: 35rem;
}

.mediaMedium .Content_header_2d {
        margin-bottom: 50rem;
}

.mediaLarge .Content_header_2d {
        margin-bottom: 83rem;
}

.mediaExtraLarge .Content_header_2d {
        margin-bottom: 76rem;
}

.Content_base__otherPlayer_61 .Content_header_2d {
        margin-bottom: 27rem;
    }

.Content_statistic_6c {
    width: 100%;
    margin-bottom: 10vh;
}

.mediaMedium .Content_statistic_6c {
        margin-bottom: 11vh;
}

.mediaLarge .Content_statistic_6c {
        margin-bottom: 14vh;
}

.mediaExtraLarge .Content_statistic_6c {
        margin-bottom: 17vh;
}

.Content_playerInfo_62 {
    padding-top: 25rem;
}

.Error_base_e9 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Error_icon_51 {
    width: 128rem;
    height: 100rem;
    background: url('R.images.gui.maps.icons.achievements.summary.info.info_icon') no-repeat center / contain;
    position: relative;
}

.Error_icon_51::before {
        width: 492rem;
        height: 309rem;
        background: url('R.images.gui.maps.icons.achievements.summary.info.glow') no-repeat center / contain;
        mix-blend-mode: screen;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

.Error_title_fe {
    color: #F2F2F7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 50rem 0 18rem;
}

.Error_description_85 {
    color: rgba(242,242,247, .5);
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
    max-width: 350rem;
}

.Error_caption_74 {
    margin-top: 28rem;
    color: rgba(242,242,247, .7);
    font-size: 16rem;
}

.App_base_bb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 70rem 0 20rem;
    background: url('R.images.gui.maps.icons.achievements.bg_summary') no-repeat center / cover;
    text-align: center;
}
    .mediaMedium .App_base_bb {
        padding: 60rem 0 15rem;
}
    .mediaLarge .App_base_bb {
        padding: 110rem 0 25rem;
}
    .mediaExtraLarge .App_base_bb {
        padding: 80rem 0 32rem;
}
    .App_base__withScroll_05 {
        padding: 0 0 50rem;
    }

.App_scroll_be {
    width: 100%;
}

.App_scrollContent_2a {
    width: 100%;
}

.App_bar_52 {
    height: auto;
    position: absolute;
    top: 15rem;
    right: 8rem;
    bottom: 15rem;
}

.App_content_13 {
    width: 100%;
    padding-top: 20rem;
    overflow: hidden;
}

.App_footer_b9 {
    color: rgba(242,242,247, 0.4);
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    position: absolute;
    bottom: 20rem;
}

.mediaMedium .App_footer_b9 {
        color: rgba(242,242,247, 0.4);
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
}

.mediaLarge .App_footer_b9 {
        bottom: 30rem;
}

.mediaExtraLarge .App_footer_b9 {
        font-size: 20rem;
        bottom: 40rem;
}

.App_errorWrapper_65 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.App_error_a2 {
    transform: translateY(-33%);
}

