/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.EfficiencyBonus_d696ae91 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 12rem;
}

.EfficiencyBonus_title_cb6cd9b1 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
  font-weight: 500;
}

.EfficiencyBonus_icons_3214fcc7 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 8rem;
}

.EfficiencyBonus_bonus_6551325b {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48rem;
  margin-right: 16rem;
}
.EfficiencyBonus_bonus__disabled_d820b959 {
  height: 28rem;
}

.EfficiencyBonus_bonusIcons_ec77b4c9 {
  width: 24rem;
  height: 24rem;
  position: relative;
}
.EfficiencyBonus_bonus__disabled_d820b959 .EfficiencyBonus_bonusIcons_ec77b4c9 {
  opacity: 0.5;
}

.EfficiencyBonus_battleBoostersOverlay_798a4d63 {
  width: 39rem;
  height: 39rem;
  background: url(R.images.gui.maps.icons.artefact.battleBooster_overlay) center/contain no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.EfficiencyBonus_bonusPercentage_bb4d7cec {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 4rem;
  color: var(--color-status-done);
  font-weight: 500;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Header_b0317c12 {
  width: 100%;
  min-height: 54rem;
  padding-bottom: 10rem;
  position: relative;
}

.Header_role_2ccc4739 {
  display: flex;
  align-items: center;
  margin-top: -4rem;
}

.Header_roleIcon_830cdda2 {
  width: 16rem;
  height: 16rem;
  margin-right: 4rem;
}

.Header_roleName_c9393f08 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-general-tertiary);
}

.Header_name_f879f6e9 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  max-width: 146rem;
  color: #e9e7dc;
  font-weight: 600;
  line-height: 1.1;
}

.Header_image_7903c260 {
  width: 158rem;
  height: 118rem;
  position: absolute;
  right: -20rem;
  bottom: 0;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.LowEfficiency_1efeab37 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  width: 100%;
  padding: 20rem 0 21rem;
  color: var(--color-general-tertiary);
  font-weight: 500;
}

.LowEfficiency_progressBarValue_905540b4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2rem 0;
}

.LowEfficiency_percentage_db7e92dc {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-bottom: 4rem;
  color: #ff2717;
}

.LowEfficiency_skillsEfficiency_a34ad6cd {
  color: var(--color-general-tertiary);
}

.LowEfficiency_skillsEfficiencyDivider_90d40a96 {
  margin: 0 2rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PerkTile_c4fa07da {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32rem;
  height: 32rem;
  position: relative;
}

.PerkTile_perkBorder_62732f00 {
  width: 100%;
  height: 100%;
  border: 1rem solid transparent;
  border-radius: 2rem;
  background: center/contain no-repeat;
}
.PerkTile_base__default_d25f8651 .PerkTile_perkBorder_62732f00, .PerkTile_base__disable_d25f8651 .PerkTile_perkBorder_62732f00, .PerkTile_base__lock_d25f8651 .PerkTile_perkBorder_62732f00 {
  border-left-color: var(--color-general-primary);
  border-top-color: var(--color-general-primary);
  border-right-color: var(--color-general-primary);
  border-bottom-color: var(--color-general-primary);
  opacity: 0.2;
}
.PerkTile_base__active_d25f8651 .PerkTile_perkBorder_62732f00, .PerkTile_base__activeDisable_d25f8651 .PerkTile_perkBorder_62732f00 {
  border-color: #feab34;
  opacity: 1;
}
.PerkTile_base__low_d25f8651 .PerkTile_perkBorder_62732f00 {
  border-color: #ff2717;
  opacity: 0.6;
}
.PerkTile_base__newFull_d25f8651 .PerkTile_perkBorder_62732f00, .PerkTile_base__newLow_d25f8651 .PerkTile_perkBorder_62732f00 {
  border-color: #fd9;
  opacity: 1;
}
.PerkTile_base__newDisableFull_d25f8651 .PerkTile_perkBorder_62732f00, .PerkTile_base__newDisableLow_d25f8651 .PerkTile_perkBorder_62732f00 {
  border-color: #fd9;
  opacity: 0.6;
}
.PerkTile_base__bonus_d25f8651 .PerkTile_perkBorder_62732f00 {
  border: 0;
  opacity: 1;
}
.PerkTile_base__bonus_d25f8651.PerkTile_base__default_d25f8651 .PerkTile_perkBorder_62732f00, .PerkTile_base__bonus_d25f8651.PerkTile_base__disable_d25f8651 .PerkTile_perkBorder_62732f00, .PerkTile_base__bonus_d25f8651.PerkTile_base__lock_d25f8651 .PerkTile_perkBorder_62732f00 {
  background-image: url(R.images.gui.maps.icons.crew.tooltips.dash);
}
.PerkTile_base__bonus_d25f8651.PerkTile_base__active_d25f8651 .PerkTile_perkBorder_62732f00, .PerkTile_base__bonus_d25f8651.PerkTile_base__activeDisable_d25f8651 .PerkTile_perkBorder_62732f00 {
  background-image: url(R.images.gui.maps.icons.crew.tooltips.dashActive);
}
.PerkTile_base__bonus_d25f8651.PerkTile_base__low_d25f8651 .PerkTile_perkBorder_62732f00 {
  background-image: url(R.images.gui.maps.icons.crew.tooltips.dashRed);
}
.PerkTile_base__bonus_d25f8651.PerkTile_base__newFull_d25f8651 .PerkTile_perkBorder_62732f00, .PerkTile_base__bonus_d25f8651.PerkTile_base__newLow_d25f8651 .PerkTile_perkBorder_62732f00 {
  width: 44rem;
  height: 44rem;
  background-image: url(R.images.gui.maps.icons.crew.tooltips.dashNew);
}
.PerkTile_base__bonus_d25f8651.PerkTile_base__newDisableFull_d25f8651 .PerkTile_perkBorder_62732f00, .PerkTile_base__bonus_d25f8651.PerkTile_base__newDisableLow_d25f8651 .PerkTile_perkBorder_62732f00 {
  width: 44rem;
  height: 44rem;
  background-image: url(R.images.gui.maps.icons.crew.tooltips.dashNew);
  opacity: 0.6;
}

.PerkTile_newPerkBackground_92b5f848 {
  width: 30rem;
  height: 30rem;
  background-color: #ff5c00;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PerkTile_disabledOverlay_b9db2d59 {
  width: 30rem;
  height: 30rem;
  border-radius: 2rem;
  background: url(R.images.gui.maps.icons.crew.tooltips.disabledTexture) center/contain no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.PerkTile_perkIcon_e41d7d0a {
  width: 30rem;
  height: 30rem;
  border-radius: 2rem;
  background: center/contain no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.PerkTile_base__lock_d25f8651 .PerkTile_perkIcon_e41d7d0a {
  width: 14rem;
  height: 16rem;
  background-image: url(R.images.gui.maps.icons.crew.tooltips.lockedPerk);
}
.PerkTile_base__newFull_d25f8651 .PerkTile_perkIcon_e41d7d0a, .PerkTile_base__newLow_d25f8651 .PerkTile_perkIcon_e41d7d0a, .PerkTile_base__newDisableFull_d25f8651 .PerkTile_perkIcon_e41d7d0a, .PerkTile_base__newDisableLow_d25f8651 .PerkTile_perkIcon_e41d7d0a {
  width: 46rem;
  height: 46rem;
  background-image: url(R.images.gui.maps.icons.crew.tooltips.plusIcon);
}
.PerkTile_base__newDisableFull_d25f8651 .PerkTile_perkIcon_e41d7d0a, .PerkTile_base__newDisableLow_d25f8651 .PerkTile_perkIcon_e41d7d0a, .PerkTile_base__activeDisable_d25f8651 .PerkTile_perkIcon_e41d7d0a, .PerkTile_base__disable_d25f8651 .PerkTile_perkIcon_e41d7d0a {
  opacity: 0.3;
}

.PerkTile_currentProgress_dd2e40d8 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-currency-gold);
  font-weight: 500;
  position: absolute;
  bottom: -22rem;
  left: 50%;
  transform: translateX(-50%);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PerksProgression_27852bb8 {
  display: flex;
  align-items: center;
}

.PerksProgression_icon_ad282d1e {
  margin-right: 8rem;
}

.PerksProgression_perkTile_b0b6668d {
  margin: 14rem 0;
}

.PerksProgression_perkLine_5da1ae7d {
  width: 6rem;
  height: 2rem;
  margin: 2rem;
  background-color: var(--color-general-primary);
  opacity: 0.16;
}
.PerksProgression_perkLine__bonus_523b1287 {
  width: 48rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PerksBlock_f82e9f49 {
  width: 100%;
  padding: 5rem 0 2rem;
}

.PerksBlock_perksBlockWrapper_c9f73338 {
  padding: 11rem 0;
}
.PerksBlock_perksBlockWrapper__bonus_e20f2761 {
  padding: 0 0 11rem;
}
.PerksBlock_perksBlockWrapper__compact_9d1d73ac {
  padding-bottom: 0rem;
}

.PerksBlock_perksBlockHeader_64846481 {
  display: flex;
  align-items: center;
  margin-bottom: -8rem;
}

.PerksBlock_perkCounter_fd44504f {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 17rem;
  height: 20rem;
  border-radius: 2rem;
  background-color: #332e28;
  color: #b6aea5;
  font-size: 17rem;
  font-weight: 500;
  line-height: 1.1;
  position: relative;
}

.PerksBlock_perksText_dec68431 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-left: 6rem;
  color: var(--color-general-tertiary);
  font-weight: 500;
}

.PerksBlock_accelerateTraining_dc79b4c3 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  margin: -2rem 0 7rem;
  color: var(--color-currency-free-experience);
  font-weight: 500;
}

.PerksBlock_accelerateTrainingIcon_c34017ae {
  width: 24rem;
  height: 24rem;
  margin: 0 3rem 0 -3rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Specialization_b8ff1390 {
  width: 100%;
  padding: 9rem 0 13rem;
}

.Specialization_specializationTitle_9a88dfae {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 12rem;
  color: var(--color-general-tertiary);
  font-weight: 500;
}

.Specialization_specializationList_b4709f0f {
  margin-left: 20rem;
}

.Specialization_specializationItem_51eceac3 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  margin: 2rem 0;
  color: #ffe4c0;
}

.Specialization_vehicleText_d256022e {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: #fefeec;
}

.Specialization_premiumVehicleIcon_eddfdf68 {
  width: 24rem;
  height: 24rem;
  margin: 0 4rem 0 -4rem;
  background: url(R.images.gui.maps.icons.crew.tooltips.premiumVehicleIcon) center/contain no-repeat;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.UntrainedPenalty_ac022fb6 {
  width: 100%;
  padding-top: 9rem;
}

.UntrainedPenalty_penaltyHeader_6a22cae9 {
  display: flex;
}

.UntrainedPenalty_untrainedIcon_90be7885 {
  width: 48rem;
  height: 48rem;
  margin: -11rem;
  filter: drop-shadow(0 0 6rem rgba(255, 0, 0, 0.9));
}

.UntrainedPenalty_title_b69187b5 {
  font-size: 20rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-left: 8rem;
  color: var(--color-general-primary);
  font-weight: 600;
}

.UntrainedPenalty_description_69c628c {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 6rem;
  color: #ff2717;
  line-height: 1.2;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Index_4a4da35 {
  margin-top: 28rem;
}

.Index_decorator_a30857d {
  width: 316rem;
  margin: 20rem;
  padding: 0;
  border-image: url(R.images.gui.maps.icons.tooltip.background_with_border) 4 fill/4rem round;
  box-shadow: 0 0 32px rgba(15, 15, 15, 0.8);
  position: relative;
}

.Index_crewInfoBase_fd519c21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20rem;
}

.Index_section_638478ff {
  position: relative;
}
.Index_section_638478ff::after {
  width: 312rem;
  height: 9rem;
  background: url(R.images.gui.maps.icons.tooltip.divider) center/contain no-repeat;
  content: "";
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Index_5056ae66 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  width: 235rem;
  padding: 14rem 19rem;
  color: #8e867d;
}
.mediaLarge .Index_5056ae66 {
  width: 260rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Hint_base_wrapper_653f0747 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem 4rem;
}
.Hint_base_icon_cd32cfad {
  width: 10rem;
  height: 14rem;
  margin-right: 12rem;
}
.Hint_base_text_f734dbc2 {
  color: rgba(238, 237, 233, 0.9);
  font-size: 20rem;
  line-height: 1;
}
.Hint_base__steamCn_135a3ed .Hint_base_text_f734dbc2 {
  color: #e9e2bf;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Bonuslist_30606a62 .Bonuslist_list_d0c73d0d {
  display: flex;
  max-height: 366rem;
  padding: 0 18rem 10rem;
  overflow: hidden;
}
.Bonuslist_30606a62 .Bonuslist_list_leftColumn_30606a62, .Bonuslist_30606a62 .Bonuslist_list_rightColumn_30606a62, .Bonuslist_30606a62 .Bonuslist_list_proBonusesLeftColumn_30606a62, .Bonuslist_30606a62 .Bonuslist_list_proBonusesRightColumn_f94cf518 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.Bonuslist_30606a62 .Bonuslist_list__unlockPro_30606a62 .Bonuslist_list_item_a02b09a8 .Bonuslist_icon_280817ab {
  opacity: 0.5;
}
.Bonuslist_30606a62 .Bonuslist_list__unlockPro_30606a62 .Bonuslist_list_item_a02b09a8 .Bonuslist_iconLock_239f55db {
  display: flex;
}
.Bonuslist_30606a62 .Bonuslist_list_item_a02b09a8 {
  display: flex;
  align-items: center;
  margin: 10rem 0;
}
.Bonuslist_30606a62 .Bonuslist_list_item_a02b09a8 .Bonuslist_icon_280817ab {
  width: 32rem;
  height: 32rem;
  margin-right: 5rem;
}
.Bonuslist_30606a62 .Bonuslist_list_item_a02b09a8 .Bonuslist_iconLock_239f55db {
  display: none;
  width: 24rem;
  height: 24rem;
}
.Bonuslist_30606a62 .Bonuslist_list_item_a02b09a8 .Bonuslist_name_5f548721 {
  flex: 1 1 0;
  padding-right: 10rem;
  color: rgba(238, 237, 233, 0.5);
  font-size: 16rem;
  line-height: 1;
}
.Bonuslist_30606a62 .Bonuslist_list_item__pro_30606a62 .Bonuslist_name_5f548721 {
  color: #e9e2bf;
  text-shadow: 0 0.5px 0.2px rgba(0, 0, 0, 0.66), 0 1px 3.5px rgba(255, 189, 66, 0.6);
}
.Bonuslist_30606a62 .Bonuslist_list__pro_15c23dd {
  margin-bottom: 10rem;
}
.Bonuslist_30606a62 .Bonuslist_list__pro_15c23dd .Bonuslist_name_5f548721 {
  color: #e9e2bf;
  text-shadow: 0 0.5px 0.2px rgba(0, 0, 0, 0.66), 0 1px 3.5px rgba(255, 189, 66, 0.6);
}
.Bonuslist_30606a62 .Bonuslist_list__extended_b282b07a {
  max-height: 447rem;
}
.Bonuslist_30606a62 .Bonuslist_proBenefits_10504c1 {
  max-height: 169rem;
  padding-top: 10rem;
  background: url("R.images.gui.maps.icons.subscription.wot_plus_pro_glow_center") top center/cover no-repeat;
  position: relative;
}
.Bonuslist_30606a62 .Bonuslist_proBenefits_10504c1::before {
  height: 1rem;
  background: linear-gradient(to right, rgba(245, 222, 128, 0.2) 0, rgba(245, 222, 128, 0.2) 1rem, rgba(245, 222, 128, 0) 1rem, rgba(245, 222, 128, 0) 100%) 0 0/3rem 1rem repeat-x;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 33%, rgb(0, 0, 0) 66%, rgba(0, 0, 0, 0) 100%);
}
.Bonuslist_30606a62 .Bonuslist_proBenefits__upgraded_1052ec71 {
  max-height: 168rem;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Header_5400049d {
  display: flex;
  align-items: center;
  min-height: 96rem;
  padding: 20rem 10rem;
  position: relative;
}
.Header_base_column_e43fe643 + .Header_base_column_e43fe643 {
  margin-left: 20rem;
}

.Header_background_fbb8754f {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.Header_background__core_3cecc71e {
  background: url("R.images.gui.maps.icons.subscription.wot_plus_core_glow") 50% 50%/cover no-repeat;
}
.Header_background__pro_8e2017ec {
  background: url("R.images.gui.maps.icons.subscription.wot_plus_pro_glow") 50% 50%/cover no-repeat;
}

.Header_icon_efb3dd40 {
  width: 96rem;
  height: 96rem;
  background: no-repeat center/100% auto url(R.images.gui.maps.icons.subscription.wot_plus_96x96);
  background-size: cover;
}
.Header_icon__none_1f403126 {
  background-image: url(R.images.gui.maps.icons.subscription.wot_plus_96x96_disabled);
}
.Header_icon__pro_67196101 {
  background-image: url(R.images.gui.maps.icons.subscription.wot_plus_pro_96x96);
}

.Header_state_4717d7c {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.Header_state_title_4709f526,
.Header_state_status_35e9eca0 {
  color: rgba(238, 237, 233, 0.9);
  font-size: 20rem;
  font-weight: 600;
  line-height: 1.1;
}

.Header_state_title_4709f526 {
  display: flex;
  flex-direction: row;
  margin-right: 4rem;
}

.Header_state_status__cancelled_99d267ac {
  color: #ee7000;
}
.Header_state_status__active_4249588a {
  color: #64ba21;
}

.Header_getSubscriptionHint_65f475ba,
.Header_periodicity_65f475ba,
.Header_extendsOn_f208a15b {
  margin-bottom: 2rem;
  color: rgba(238, 237, 233, 0.5);
  font-size: 20rem;
  line-height: 1;
}/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Index_decorator_29808c75 {
  width: 366rem;
  margin: 20rem;
  padding: 0;
  border-image: url(R.images.gui.maps.icons.tooltip.background_with_border) 4 fill/4rem round;
  box-shadow: 0 0 32px rgba(15, 15, 15, 0.8);
  position: relative;
}

.Index_wrapper_99411988 {
  background: radial-gradient(55.6% 100% at 50% 0%, rgba(81, 176, 181, 0.15) 0%, rgba(81, 176, 181, 0.02) 100%);
}
.Index_wrapper__pro_fe256643 {
  background: radial-gradient(86.64% 100% at 50% 0%, rgba(172, 131, 42, 0.2) 0%, rgba(172, 131, 42, 0.02) 100%);
}