/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#DefaultDialogTemplate_root_d8935f55,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.DefaultDialogTemplate_2b940a27 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.DefaultDialogTemplate_overlay_a401350d {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.DefaultDialogTemplate_body_df1a2692 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  position: relative;
}

.DefaultDialogTemplate_iconImage_1ea84ffb {
  width: 188rem;
  height: 188rem;
}
.mediaExtraLarge .DefaultDialogTemplate_iconImage_1ea84ffb {
  width: 256rem;
  height: 256rem;
}

.DefaultDialogTemplate_title_ff9a8518 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  color: #f2f2f7;
  font-size: 30rem;
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  z-index: 2;
}
.mediaMedium .DefaultDialogTemplate_title_ff9a8518 {
  font-size: 36rem;
}
.mediaExtraLarge .DefaultDialogTemplate_title_ff9a8518 {
  font-size: 48rem;
}

.DefaultDialogTemplate_description_8f648786 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  max-width: 720rem;
  margin-top: 20rem;
  color: var(--color-general-tertiary);
  font-weight: 400;
}
.mediaMedium .DefaultDialogTemplate_description_8f648786 {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaLarge .DefaultDialogTemplate_description_8f648786 {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .DefaultDialogTemplate_description_8f648786 {
  font-size: 28rem;
}
.DefaultDialogTemplate_description_text_9e3e132c {
  justify-content: center;
}

.DefaultDialogTemplate_divider_4d4ef886 {
  width: 400rem;
  height: 1rem;
  margin: 40rem 0 30rem;
  background: rgba(196, 198, 192, 0.5) url("R.images.gui.maps.icons.ui.noise") center/100rem 100rem
    repeat;
  opacity: 0.3;
  position: relative;
  z-index: 1;
}
.mediaLarge .DefaultDialogTemplate_divider_4d4ef886 {
  width: 600rem;
}

.DefaultDialogTemplate_buttonGroup_8ab4d55c {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.DefaultDialogTemplate_buttonGroup_8ab4d55c .DefaultDialogTemplate_button_c76aebb7 {
  min-width: 108rem;
  margin: 0 8rem;
  padding-bottom: 1rem;
}
.mediaMedium .DefaultDialogTemplate_buttonGroup_8ab4d55c .DefaultDialogTemplate_button_c76aebb7 {
  min-width: 160rem;
}
.mediaExtraLarge
  .DefaultDialogTemplate_buttonGroup_8ab4d55c
  .DefaultDialogTemplate_button_c76aebb7 {
  min-width: 190rem;
}

.DefaultDialogTemplate_closeButton_7efb3d0a {
  display: flex;
  flex-direction: column;
  width: 48rem;
  height: 48rem;
  opacity: 0.4;
  position: absolute;
  top: 30rem;
  right: 30rem;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.DefaultDialogTemplate_closeButton_7efb3d0a:hover {
  opacity: 1;
}
.DefaultDialogTemplate_closeButton_7efb3d0a:active {
  opacity: 0.5;
}

.DefaultDialogTemplate_currencyIcon_c313f742 {
  margin-left: 8rem;
}

.DefaultDialogTemplate_footer_aa9b73fa {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  padding: 0 61rem;
  position: relative;
  /* There is a bug in GF here, this div cannot be centered properly. position: absolute, left: 50% does not align it's left side to the center. No idea why. */
}
.DefaultDialogTemplate_footer_glowWrapper_200951f2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 64rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}
.DefaultDialogTemplate_footer_glow_cf98773e {
  width: 333rem;
  height: 64rem;
  background-image: radial-gradient(
    50% 100% at 50% 0%,
    var(--footer-highlight-color) 0%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.2;
  mix-blend-mode: hard-light;
}
.DefaultDialogTemplate_footer_border_f9a7d920 {
  width: 333rem;
  height: 1rem;
  mask-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
  background-color: var(--footer-highlight-color);
  background-size: 100rem 100rem;
}
.mediaMedium .DefaultDialogTemplate_footer_border_f9a7d920 {
  width: 400rem;
}
.mediaExtraLarge .DefaultDialogTemplate_footer_border_f9a7d920 {
  width: 544rem;
}
.DefaultDialogTemplate_footer_text_fa82ceed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  color: rgba(var(--color-general-primary-rgb), 0.5);
  text-align: center;
  position: relative;
  z-index: 1;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaMedium .DefaultDialogTemplate_footer_text_fa82ceed {
  font-size: 20rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaLarge .DefaultDialogTemplate_footer_text_fa82ceed {
  font-size: 24rem;
  font-weight: 400;
  line-height: 1.3em;
}
.mediaExtraLarge .DefaultDialogTemplate_footer_text_fa82ceed {
  font-size: 28rem;
}
.DefaultDialogTemplate_footer_image_441f56cf {
  width: 40rem;
  height: 40rem;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
}
.mediaMedium .DefaultDialogTemplate_footer_image_441f56cf {
  width: 60rem;
  height: 60rem;
}
