.Box_mt__XS_0c {
            margin-top: 4rem;
        }
        .Box_mt__SM_eb {
            margin-top: 8rem;
        }
        .Box_mt__SMp_cf {
            margin-top: 10rem;
        }
        .Box_mt__MD_25 {
            margin-top: 16rem;
        }
        .Box_mt__MDp_49 {
            margin-top: 20rem;
        }
        .Box_mt__LG_e8 {
            margin-top: 32rem;
        }
        .Box_mt__XL_83 {
            margin-top: 64rem;
        }

.Box_mr__XS_7c {
            margin-right: 4rem;
        }

.Box_mr__SM_08 {
            margin-right: 8rem;
        }

.Box_mr__SMp_06 {
            margin-right: 10rem;
        }

.Box_mr__MD_4a {
            margin-right: 16rem;
        }

.Box_mr__MDp_b6 {
            margin-right: 20rem;
        }

.Box_mr__LG_d0 {
            margin-right: 32rem;
        }

.Box_mr__XL_db {
            margin-right: 64rem;
        }

.Box_mb__XS_bb {
            margin-bottom: 4rem;
        }

.Box_mb__SM_83 {
            margin-bottom: 8rem;
        }

.Box_mb__SMp_04 {
            margin-bottom: 10rem;
        }

.Box_mb__MD_ed {
            margin-bottom: 16rem;
        }

.Box_mb__MDp_65 {
            margin-bottom: 20rem;
        }

.Box_mb__LG_c8 {
            margin-bottom: 32rem;
        }

.Box_mb__XL_f8 {
            margin-bottom: 64rem;
        }

.Box_ml__XS_8a {
            margin-left: 4rem;
        }

.Box_ml__SM_e6 {
            margin-left: 8rem;
        }

.Box_ml__SMp_fb {
            margin-left: 10rem;
        }

.Box_ml__MD_2b {
            margin-left: 16rem;
        }

.Box_ml__MDp_c7 {
            margin-left: 20rem;
        }

.Box_ml__LG_39 {
            margin-left: 32rem;
        }

.Box_ml__XL_4a {
            margin-left: 64rem;
        }

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
        font-size: 10rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_paragraph-P12_22 {
        font-size: 12rem;
        font-weight: 400;
        line-height: 1.3;
}
.Text_paragraph-P14_a7 {
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.3;
}
.Text_paragraph-P16_90 {
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
}
.Text_paragraph-P18_50 {
        font-size: 18rem;
        font-weight: 400;
        line-height: 1.25;
}
.Text_paragraph-P24_33 {
        font-size: 24rem;
        font-weight: 400;
        line-height: 32rem;
}
.Text_heading-H14_8b {
        font-size: 14rem;
        font-weight: 700;
        line-height: 1.15;
}
.Text_heading-H15_9e {
        font-size: 15rem;
        font-weight: 700;
        line-height: 1.15;
}
.Text_heading-H18_b7 {
        font-size: 18rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H20R_f6 {
        font-size: 20rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_heading-H22_27 {
        font-size: 22rem;
        font-weight: 700;
        line-height: 1.2;
}
.Text_heading-H24R_be {
        font-size: 24rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_heading-H24_0c {
        font-size: 24rem;
        font-weight: 700;
        line-height: 1.2;
}
.Text_heading-H28_78 {
        font-size: 28rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H36_32 {
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H56_c3 {
        font-size: 56rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H73_8f {
        font-size: 73rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H144_a9 {
        font-size: 144rem;
        font-weight: 700;
        line-height: 1;
}
.Text_BLACK_REAL_30 {
        color: #000000;
    }
.Text_WHITE_REAL_bc {
        color: #FFFFFF;
    }
.Text_WHITE_62 {
        color: #F2F2F7;
    }
.Text_WHITE_ORANGE_54 {
        color: #FEFEEC;
    }
.Text_WHITE_SPANISH_df {
        color: #E9E2BF;
    }
.Text_PAR_15 {
        color: #8C8C7E;
    }
.Text_PAR_SECONDARY_5d {
        color: #595950;
    }
.Text_PAR_TERTIARY_c9 {
        color: #37362E;
    }
.Text_INFO_RED_30 {
        color: #FF0000;
    }
.Text_RED_66 {
        color: #FF2717;
    }
.Text_RED_DARK_d8 {
        color: #B70000;
    }
.Text_YELLOW_ed {
        color: #FEAB34;
    }
.Text_ORANGE_be {
        color: #EE7000;
    }
.Text_CREAM_57 {
        color: #FFDD99;
    }
.Text_BROWN_18 {
        color: #CBAC77;
    }
.Text_GREEN_BRIGHT_3f {
        color: #80D43A;
    }
.Text_GREEN_e3 {
        color: #7AB300;
    }
.Text_GREEN_DARK_f1 {
        color: #497212;
    }
.Text_BLUE_BOOSTER_21 {
        color: #CCFFFF;
    }
.Text_BLUE_TEAMKILLER_ab {
        color: #09E2FF;
    }
.Text_CRED_f7 {
        color: #CED9D9;
    }
.Text_GOLD_28 {
        color: #FFC363;
    }
.Text_BOND_be {
        color: #C9C9B6;
    }
.Text_PROM_65 {
        color: #A29B70;
    }

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #FFFFFF;
}

.FormatTextWithColorTags_white_16 {
    color: #F2F2F7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #FEFEEC;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #E9E2BF;
}

.FormatTextWithColorTags_par_ca {
    color: #8C8C7E;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362E;
}

.FormatTextWithColorTags_red_60 {
    color: #FF2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #B70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #FEAB34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #EE7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #FFDD99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #CBAC77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80D43A;
}

.FormatTextWithColorTags_green_c5 {
    color: #7AB300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #CCFFFF;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09E2FF;
}

.FormatTextWithColorTags_cred_4e {
    color: #CED9D9;
}

.FormatTextWithColorTags_gold_90 {
    color: #FFC363;
}

.FormatTextWithColorTags_bond_71 {
    color: #C9C9B6;
}

.FormatTextWithColorTags_prom_dd {
    color: #A29B70;
}

.FailedFetchPointsText_base_be {
    display: flex;
    align-items: center;
    z-index: 2;
}

.FailedFetchPointsText_icon_76 {
    width: 18rem;
    height: 18rem;
    background: url('R.images.gui.maps.icons.library.alertBigIcon') no-repeat center / cover;
}

.FailedFetchPointsText_text_ea {
    margin-left: 4rem;
    margin-bottom: 2rem;
    color: #EE7000;
    font-size: 16rem;
}

.HonorsPlace_base_57 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
}
    .mediaLarge .HonorsPlace_base_57 {
        margin-top: 31rem;
}
    .HonorsPlace_base__error_c4 {
        height: 100%;
        margin-top: 0;
    }
    .HonorsPlace_base__tooltip_b9 {
        margin-top: 2rem;
        margin-bottom: 10rem;
    }
    .HonorsPlace_base__tooltipError_3c {
        margin-top: 30rem;
    }

.HonorsPlace_transferPlace_46 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.HonorsPlace_elitePlace_eb {
    width: 102rem;
    height: 48rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 2;
    pointer-events: none;
}

.mediaLarge .HonorsPlace_elitePlace_eb {
        width: 102rem;
        height: 80rem;
}

.HonorsPlace_elitePlace__bronze_5b {
        background-image: url('R.images.comp7.gui.maps.icons.comp7.backgrounds.legend_place.legendBronzePlace');
    }

.HonorsPlace_elitePlace__silver_cd {
        background-image: url('R.images.comp7.gui.maps.icons.comp7.backgrounds.legend_place.legendSilverPlace');
    }

.HonorsPlace_elitePlace__gold_87 {
        background-image: url('R.images.comp7.gui.maps.icons.comp7.backgrounds.legend_place.legendGoldPlace');
    }

.HonorsPlace_elitePlace__tooltip_0a {
        height: 62rem;
    }

.HonorsPlace_elitePlace__modeSelector_dc {
        height: 24rem;
    }

.mediaMedium .HonorsPlace_elitePlace__modeSelector_dc {
            height: 40rem;
}

.HonorsPlace_garland_ab {
    width: 45rem;
    height: 48rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
}

.mediaLarge .HonorsPlace_garland_ab {
        width: 45rem;
        height: 80rem;
}

.HonorsPlace_garland__transferPlaceLeft_e7 {
        margin-right: -18rem;
        background-image: url('R.images.comp7.gui.maps.icons.comp7.backgrounds.champion_garland.championGarlandLeft');
    }

.HonorsPlace_garland__transferPlaceLeft__tooltip_23 {
            margin-right: -11rem;
        }

.HonorsPlace_garland__transferPlaceLeft__modeSelector_5a {
            margin-right: -2rem;
        }

.HonorsPlace_garland__transferPlaceRight_d4 {
        margin-left: -18rem;
        background-image: url('R.images.comp7.gui.maps.icons.comp7.backgrounds.champion_garland.championGarlandRight');
    }

.HonorsPlace_garland__transferPlaceRight__tooltip_20 {
            margin-left: -11rem;
        }

.HonorsPlace_garland__transferPlaceRight__modeSelector_9f {
            margin-left: -2rem;
        }

.HonorsPlace_garland__tooltip_3f {
        width: 34rem;
        height: 62rem;
    }

.mediaLarge .HonorsPlace_garland__tooltip_3f {
            width: 34rem;
            height: 62rem;
}

.HonorsPlace_garland__modeSelector_e0 {
        width: 13rem;
        height: 24rem;
    }

.mediaMedium .HonorsPlace_garland__modeSelector_e0 {
            width: 23rem;
            height: 42rem;
}

.mediaLarge .HonorsPlace_garland__modeSelector_e0 {
            width: 23rem;
            height: 42rem;
}

.HonorsPlace_placeText_23 {
    margin-top: -5rem;
    font-size: 44rem;
    font-weight: 700;
    line-height: 44rem;
}

.mediaLarge .HonorsPlace_placeText_23 {
        font-size: 73rem;
        line-height: 73rem;
}

.HonorsPlace_placeText__transfer_d3 {
        color: transparent;
        top: 3rem;
    }

.HonorsPlace_placeText__transfer__copied_0f {
            color: #988c84;
            position: absolute;
            mask-image: linear-gradient(to top, transparent -30%, #988c84);
        }

.HonorsPlace_placeText__tooltip_98 {
        font-size: 56rem;
        line-height: 56rem;
    }

.mediaLarge .HonorsPlace_placeText__tooltip_98 {
            font-size: 56rem;
            line-height: 56rem;
}

.HonorsPlace_placeText__notInLeaderboard_81 {
        top: 0;
    }

.HonorsPlace_placeText__modeSelector_57 {
        margin-top: -7rem;
        font-size: 23rem;
        line-height: 23rem;
        top: 6rem;
    }

.mediaMedium .HonorsPlace_placeText__modeSelector_57 {
            font-size: 36rem;
            line-height: 36rem;
}

.mediaLarge .HonorsPlace_placeText__modeSelector_57 {
            font-size: 36rem;
            line-height: 36rem;
}

.HonorsPlace_positionTitle_c9 {
    color: #FEFEEC;
    font-size: 14rem;
}

.HonorsPlace_positionTitle__tooltip_8a {
        color: #8C8C7E;
    }

.HonorsPlace_positionTitle__modeSelector_c7 {
        margin-top: 6rem;
        color: #8C8C7E;
        font-size: 12rem;
    }

.mediaMedium .HonorsPlace_positionTitle__modeSelector_c7 {
            font-size: 14rem;
}

.HonorsPlace_titleDescriptionContainer_15 {
    display: flex;
    align-items: center;
    z-index: 2;
}

.HonorsPlace_descriptionText_b8 {
    margin-right: 6rem;
    margin-bottom: 0;
    color: #8C8C7E;
    font-size: 12rem;
}

.HonorsPlace_descriptionText__tooltip_70 {
        margin-right: 8rem;
        font-size: 14rem;
    }

.HonorsPlace_descriptionText__withoutMargin_a9 {
        margin-right: 0;
    }

.HonorsPlace_descriptionText__blackout_3a {
        color: #595950;
    }

.HonorsPlace_infoIcon_75 {
    width: 24rem;
    height: 24rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.infoIcon') no-repeat center / cover;
}

.HonorsPlace_rankInactivityCount_34 {
    margin-left: 4rem;
}

.HonorsPlace_failedFetchPointsText_e2 {
    margin-bottom: 30rem;
}

.LastUpdateNote_base_7f {
    display: flex;
    align-items: center;
}

.LastUpdateNote_infoIcon_5c {
    width: 24rem;
    height: 24rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.infoIcon') no-repeat center / cover;
}

.LastUpdateNote_lineDivider_2c {
    width: 1rem;
    height: 14rem;
    margin-left: 8rem;
    margin-top: 2rem;
    background-color: #595950;
    opacity: .5;
}

.RankInactivityCount_base_c2 {
    display: flex;
    align-items: center;
}

.RankInactivityCount_count_28 {
    color: #E9E2BF;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    margin-right: 2rem;
}

.RankInactivityCount_iconContainer_85 {
    width: 16rem;
    height: 16rem;
    position: relative;
}

.RankInactivityCount_icon_52 {
    width: 42rem;
    height: 43rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.timer') no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.tooltips_base_6b {
    display: flex;
    flex-direction: column;
    padding: 15rem 20rem 20rem;
}

.tooltips_heading_ac {
    color: #E9E2BF;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.tooltips_subHeading_2c {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.tooltips_subHeading__topIndent_e1 {
        margin-top: 8rem;
    }

.tooltips_divider_26 {
    width: 100%;
    height: 1rem;
    margin: 12rem 0 8rem;
    background: linear-gradient(to right, rgba(201, 201, 182, .2) 33.33%, rgba(201, 201, 182, 0) 33.33%, rgba(201, 201, 182, 0)) repeat right / 3rem 1rem;
    mask: linear-gradient(90deg, transparent, rgba(0, 0, 0, .6) 5%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, .6) 95%, transparent);
}

.tooltips_description_85 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    max-width: 400rem;
}

.tooltips_description__topIndent_ba {
        margin-top: 14rem;
    }

.tooltips_highlight_87 {
    color: #E9E2BF;
}

.Description_formatTextString_6b {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: inline;
    width: 340rem;
    text-align: center;
}

.RankEmblem_base_ec {
    width: var(--imageSize);
    height: var(--imageSize);
    background: no-repeat center / cover;
}

.App_base_c8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 398rem;
    padding: 15rem 0 20rem;
    background: #070707 url('R.images.comp7.gui.maps.icons.comp7.backgrounds.widget_tooltip_bg') no-repeat top / contain;
    color: #fff;
    overflow: hidden;
}

.App_heading_97 {
    color: #FFFFFF;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
    line-height: 1.3;
}

.App_season_8d {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 5rem 0 30rem;
}

.App_rankName_af {
    color: #FFDD99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10rem;
    text-shadow: 0 4rem 4rem rgba(0, 0, 0, .25);
}

.App_emblemContainer_08 {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.App_emblem_90 {
    position: relative;
}

.App_rays_e2 {
    width: 398rem;
    height: 430rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.rays') no-repeat top / contain;
    mix-blend-mode: screen;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.App_content_ab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 15rem;
}

.App_content__generalRank_f1 {
        transform: translateY(-10rem);
    }

.App_division_8e {
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: inline;
    margin-bottom: 20rem;
    text-align: center;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
    width: 100%;
    height: 12rem;
    position: relative;
}
.ProgressBar_base__medium_62 {
        height: 6rem;
    }
.ProgressBar_base__small_df {
        height: 2rem;
    }
.ProgressBar_background_51 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__medium_6e {
        height: 6rem;
    }
.ProgressBar_background__small_46 {
        height: 2rem;
    }
.ProgressBar_lineWrapper_6a {
    display: flex;
    flex: 1;
}


.ProgressBarBlink_base_24 {
    width: 60rem;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

    .ProgressBarBlink_base__medium_ec {
        width: 42rem;
        height: 70rem;
    }

    .ProgressBarBlink_base__small_0f {
        width: 44rem;
        height: 43rem;
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
        background-color: var(--progress-line-disabled);
    }
.ProgressLineImpose_base__finished_d4 {
        background-color: var(--progress-line-finished);
    }
.ProgressLineImpose_base__withoutBounce_56 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressLineImpose_pattern_1c {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
        background-image: var(--progress-pattern-disabled);
        left: 0;
    }
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
        background-image: var(--progress-pattern-finished);
    }
.ProgressLineImpose_gradient_35 {
    max-width: 8001px;
    background-image: linear-gradient(90deg, rgba(0,0,0, .5), rgba(255,255,255, .75));
    mix-blend-mode: overlay;
    position: absolute;
    top: 1rem;
    right: 0;
    bottom: 1rem;
    left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
        top: 0;
        bottom: 0;
    }
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
        display: none;
    }
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
        background-image: linear-gradient(90deg, rgba(0,0,0, .5), rgba(255,255,255, .75), rgba(0,0,0, .5));
    }
.ProgressLineImpose_glow_a5 {
    width: 60rem;
    max-width: 8001px;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
        left: 1rem;
    }
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
    .ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
        display: none;
    }
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
        width: 44rem;
        height: 43rem;
        background-image: var(--progress-glow-small);
    }

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1), cubic-bezier(.21, .61, .35, 1);
    transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }
.ProgressBarDeltaGrow_glow_68 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, .92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
        transition-timing-function: cubic-bezier(1, 0, .75, .75);
    }

.GeneralRankContent_base_5b {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GeneralRankContent_division_a2 {
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 20rem;
}

.GeneralRankContent_currentScore_0e {
    color: #FFDD99;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10rem;
}

.GeneralRankContent_progressContainer_b9 {
    width: 280rem;
    margin-bottom: 35rem;
    position: relative;
}

.GeneralRankContent_progressValue_0d {
    color: #8C8C7E;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    position: absolute;
    top: 5rem;
}

.GeneralRankContent_progressValue__left_76 {
        left: 0;
        transform: translateX(-50%);
    }

.GeneralRankContent_progressValue__right_db {
        right: 0;
        transform: translateX(50%);
    }

.QualificationContent_base_b6 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.QualificationContent_qualificationEmblem_c9 {
    width: 150rem;
    height: 150rem;
    margin: 10rem 0 16rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.ranks.c_150.qualification') no-repeat center / cover;
    position: relative;
}

.QualificationContent_iconContainer_08 {
    display: flex;
    width: 30rem;
    position: relative;
    transform: translateY(1rem);
}

.QualificationContent_dash_65 {
    width: 66rem;
    height: 32rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.light_dash') no-repeat center / cover;
}

.QualificationContent_dash__right_b2 {
        transform: rotate(180deg);
    }

.QualificationContent_score_78 {
    margin: 0 -6rem 0 -10rem;
    color: #CBAC77;
    font-size: 20rem;
    line-height: 1;
    text-shadow: 0 0 4rem rgba(255, 127, 0, .25), 0 0 8rem #ff2a00, 0 0 15rem #e52;
    transform: translateY(-1rem);
}

.QualificationContent_battlesCounter_4c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.QualificationContent_battleIcon_3e {
    width: 45rem;
    height: 46rem;
    background: url('R.images.comp7.gui.maps.icons.comp7.icons.battles_45x46') no-repeat center / cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.QualificationContent_condition_6f {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    margin-bottom: 20rem;
}

.QualificationContent_divider_0b {
    width: auto;
    margin: 16rem 0;
}

