/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#SeniorityAwardsViewFooter_root_23686c8a,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
@keyframes SeniorityAwardsViewFooter_fadeOut_23686c8a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes SeniorityAwardsViewFooter_raysAppearance_23686c8a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
}
@keyframes SeniorityAwardsViewFooter_rotate_23686c8a {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes SeniorityAwardsViewFooter_fadeInWithScale_23686c8a {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes SeniorityAwardsViewFooter_slideUp_23686c8a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes SeniorityAwardsViewFooter_slideDown_23686c8a {
  0% {
    opacity: 0;
    transform: translateY(-20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes SeniorityAwardsViewFooter_slideRibbonUp_23686c8a {
  0% {
    opacity: 0;
    transform: translateY(100rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes SeniorityAwardsViewFooter_fadeIn_23686c8a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes SeniorityAwardsViewFooter_scale_23686c8a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.SeniorityAwardsViewFooter_ee5e4688 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SeniorityAwardsViewFooter_description_ad1f38e5 {
  opacity: 0;
  animation-name: SeniorityAwardsViewFooter_fadeIn_23686c8a;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 22rem;
  color: rgba(238, 237, 233, 0.9);
}
.mediaLarge .SeniorityAwardsViewFooter_description_ad1f38e5 {
  margin-bottom: 26rem;
  font-size: 20rem;
}

.SeniorityAwardsViewFooter_buttonHolder_b0449970 {
  opacity: 0;
  animation-name: SeniorityAwardsViewFooter_fadeIn_23686c8a;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: row;
}

.SeniorityAwardsViewFooter_button_925ad150 {
  position: relative;
  z-index: 1;
}

.SeniorityAwardsViewFooter_buttonWrapper_3ea3a32b {
  position: relative;
}
.SeniorityAwardsViewFooter_buttonWrapper_3ea3a32b
  + .SeniorityAwardsViewFooter_buttonWrapper_3ea3a32b {
  margin-left: 16rem;
}
.mediaLarge
  .SeniorityAwardsViewFooter_buttonWrapper_3ea3a32b
  + .SeniorityAwardsViewFooter_buttonWrapper_3ea3a32b {
  margin-left: 20rem;
}

.SeniorityAwardsViewFooter_glow_40376564 {
  width: 524rem;
  height: 228rem;
  background: url(R.images.gui.maps.icons.seniorityAwards.store_button_glow) no-repeat center/cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#HeaderButton_root_59fd57eb,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HeaderButton_a376d13c {
  display: flex;
  align-items: center;
  position: relative;
}

.HeaderButton_caption_915bc256 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(238, 237, 233, 0.9);
}
.mediaLarge .HeaderButton_caption_915bc256 {
  font-size: 20rem;
}

.HeaderButton_icon_b123e86b {
  width: 14rem;
  height: 15rem;
  margin-left: 7rem;
  margin-top: -1rem;
  background: url(R.images.gui.maps.icons.library.info_14x15) no-repeat center/contain;
  opacity: 0.9;
}
.mediaLarge .HeaderButton_icon_b123e86b {
  margin-top: 0;
} /* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#SeniorityAwardsViewHeader_root_8297fd9f,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.SeniorityAwardsViewHeader_699fc570 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.SeniorityAwardsViewHeader_titleBox_dddc842b {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SeniorityAwardsViewHeader_light_23331022 {
  width: 1205rem;
  height: 237rem;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(40, 40, 67, 0.5), transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  pointer-events: none;
}
.mediaMedium .SeniorityAwardsViewHeader_light_23331022 {
  width: 1165rem;
  height: 225rem;
}
.mediaLarge .SeniorityAwardsViewHeader_light_23331022 {
  width: 1741rem;
  height: 285rem;
}
.mediaExtraLarge .SeniorityAwardsViewHeader_light_23331022 {
  width: 2057rem;
  height: 428rem;
}

.SeniorityAwardsViewHeader_line_eb9e2523 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 300rem;
  height: 1rem;
  background-image: linear-gradient(90deg, transparent, #fd9);
}
.SeniorityAwardsViewHeader_line__inverted_fd812922 {
  transform: rotate(180deg);
}

.SeniorityAwardsViewHeader_square_67a0fdc5 {
  width: 7rem;
  height: 7rem;
  background-color: #fd9;
  transform: rotate(45deg);
}
.mediaLarge .SeniorityAwardsViewHeader_square_67a0fdc5 {
  width: 9rem;
  height: 9rem;
}

.SeniorityAwardsViewHeader_title_5cda5632 {
  font-size: 32rem;
  font-weight: 700;
  line-height: 1.3em;
  margin: 0 22rem;
  color: #ffdaa8;
  letter-spacing: 0.4rem;
  position: relative;
}
.mediaLarge .SeniorityAwardsViewHeader_title_5cda5632 {
  margin: 0 26rem;
  font-size: 40rem;
}

.SeniorityAwardsViewHeader_subTitle_55b48fc7 {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  justify-content: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
  color: rgba(238, 237, 233, 0.9);
  letter-spacing: 1.1rem;
  position: relative;
}
.mediaLarge .SeniorityAwardsViewHeader_subTitle_55b48fc7 {
  margin-top: -3rem;
  margin-bottom: 3rem;
  font-size: 80rem;
  letter-spacing: 0.4rem;
}
.mediaExtraLarge .SeniorityAwardsViewHeader_subTitle_55b48fc7 {
  margin-bottom: 2rem;
}

.SeniorityAwardsViewHeader_rank_ba17e17 {
  color: #ffdaa8;
}
