/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.WelcomeSlide_10571b6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360rem;
  margin: 0 10rem;
}
.mediaMedium .WelcomeSlide_10571b6 {
  margin: 0 25rem;
}
.mediaExtraLarge .WelcomeSlide_10571b6 {
  width: 460rem;
}

.WelcomeSlide_icon_7a91e778 {
  width: 100%;
  height: 280rem;
}
.mediaExtraLarge .WelcomeSlide_icon_7a91e778 {
  height: 358rem;
}

.WelcomeSlide_description_1a6e8bb7 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 18rem;
  padding: 0 40rem;
  color: var(--color-general-tertiary);
  line-height: 20rem;
}
.mediaExtraLarge .WelcomeSlide_description_1a6e8bb7 {
  margin-top: 8rem;
  font-size: 20rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.WelcomeScreen_ab241149 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url(R.images.gui.maps.icons.windows.background) no-repeat center/cover;
  position: relative;
}

.WelcomeScreen_closeButton_79330f3f {
  position: absolute;
  top: 30rem;
  right: 30rem;
}

.WelcomeScreen_contentWrapper_1d301b40 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.WelcomeScreen_header_c3b6d039 {
  display: flex;
  flex-direction: column;
}

.WelcomeScreen_title_928b146d {
  font-size: 56rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 44rem;
  color: var(--color-general-primary);
}
.mediaMedium .WelcomeScreen_title_928b146d {
  margin-top: 54rem;
}
.mediaLarge .WelcomeScreen_title_928b146d {
  margin-top: 57rem;
  font-size: 80rem;
}
.mediaExtraLarge .WelcomeScreen_title_928b146d {
  margin-top: 87rem;
}

.WelcomeScreen_subTitle_51adf2e3 {
  font-size: 16rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 6rem;
  color: var(--color-general-secondary);
  font-weight: 400;
}
.mediaMedium .WelcomeScreen_subTitle_51adf2e3 {
  margin-top: 6rem;
  font-size: 20rem;
}
.mediaLarge .WelcomeScreen_subTitle_51adf2e3 {
  margin-top: 4rem;
  font-size: 24rem;
}
.mediaExtraLarge .WelcomeScreen_subTitle_51adf2e3 {
  margin-top: 12rem;
}

.WelcomeScreen_content_eaa16083 {
  display: flex;
  width: 100%;
  margin-top: -82rem;
}
.mediaMedium .WelcomeScreen_content_eaa16083 {
  margin-top: -52rem;
}
.mediaLarge .WelcomeScreen_content_eaa16083 {
  margin-top: -170rem;
}
.mediaExtraLarge .WelcomeScreen_content_eaa16083 {
  margin-top: -260rem;
}

.WelcomeScreen_footer_3a73e6d0 {
  margin-bottom: 60rem;
}
.mediaMedium .WelcomeScreen_footer_3a73e6d0 {
  margin-bottom: 70rem;
}
.mediaLarge .WelcomeScreen_footer_3a73e6d0 {
  margin-bottom: 80rem;
}
.mediaExtraLarge .WelcomeScreen_footer_3a73e6d0 {
  margin-bottom: 110rem;
}

.WelcomeScreen_button_9a86d63 {
  min-width: 168rem;
  height: 48rem;
  margin: 0 12rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
  --hangar-highlight-shadow:
    0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4),
    0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#root,
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-general-primary);
  font-size: 14rem;
}

body,
button,
input {
  font-family: PFDINMax;
  font-weight: 400;
  letter-spacing: 0.02em;
}
html[lang="ja"] body,
html[lang="ko"] body,
html[lang="zh_tw"] body,
html[lang="zh_sg"] body,
html[lang="zh_cn"] body,
html[lang="vi"] body,
html[lang="th"] body,
html[lang="ja"] button,
html[lang="ko"] button,
html[lang="zh_tw"] button,
html[lang="zh_sg"] button,
html[lang="zh_cn"] button,
html[lang="vi"] button,
html[lang="th"] button,
html[lang="ja"] input,
html[lang="ko"] input,
html[lang="zh_tw"] input,
html[lang="zh_sg"] input,
html[lang="zh_cn"] input,
html[lang="vi"] input,
html[lang="th"] input {
  font-family: Warhelios;
  letter-spacing: 0;
}
