@keyframes CurrencyReward_fadeInWithScale_798b3220 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes CurrencyReward_slideUp_798b3220 {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes CurrencyReward_blink_798b3220 {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes CurrencyReward_scale_798b3220 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes CurrencyReward_rotate_798b3220 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes CurrencyReward_windowIn_798b3220 {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes CurrencyReward_fadeOut_798b3220 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes CurrencyReward_fadeIn_798b3220 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.CurrencyReward_1a2de39e {
  display: flex;
  align-items: center;
  position: relative;
}

.CurrencyReward_icon_fc335ed4 {
  width: 48rem;
  height: 48rem;
  background: no-repeat center/contain;
  position: relative;
  z-index: 1;
}
.CurrencyReward_icon__credits_14df6f8b {
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.money_silver");
}
.CurrencyReward_icon__gold_e0aed32e {
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.money_gold");
}
.CurrencyReward_icon__crystal_369cdeb0 {
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.money_bonds");
}
.CurrencyReward_icon__xp_fdb5bdd8 {
  margin: 0 -5rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.exp");
}
.CurrencyReward_icon__freeXP_70ceb4df {
  margin: 0 -5rem;
  background-image: url("R.images.gui.maps.shop.rewards.c_48x48.freeExp");
}

.CurrencyReward_value_d64c1f95 {
  color: #f2f2f7;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  padding-right: 2rem;
  position: relative;
  z-index: 2;
}
.CurrencyReward_value__freeXP_14604aab {
  color: #f2f2f7;
}
.CurrencyReward_value__xp_798b3220,
.CurrencyReward_value__credits_7febd935 {
  color: #ced9d9;
}
.CurrencyReward_value__gold_b344cb5e {
  color: #ffc363;
}
.CurrencyReward_value__crystal_8d9d5181 {
  color: #c9c9b6;
}
@keyframes Content_fadeInWithScale_da09528a {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Content_slideUp_da09528a {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes Content_blink_da09528a {
  0% {
    filter: brightness(1);
  }
  16% {
    filter: brightness(3);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes Content_scale_da09528a {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Content_rotate_da09528a {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes Content_windowIn_da09528a {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Content_fadeOut_da09528a {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes Content_fadeIn_da09528a {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_7bb15980 {
  line-height: normal;
}
.Content_separator_9582cf97 {
  width: 283rem;
  height: 1rem;
  background: url("../../../../../styles/R.images.gui.maps.icons.battlePass.tooltips.Devider_points")
    50% / contain no-repeat;
}
.Content_rewards_a1ee43b6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 403rem;
  height: 154rem;
  background: url("../../../../../styles/R.images.gui.maps.icons.battlePass.tooltips.Ribbon_large")
    bottom/cover no-repeat;
  color: #c9c9b6;
  font-size: 14rem;
}
.Content_7bb15980 {
  width: 420rem;
  padding: 11rem 20rem 8rem;
}
.Content_image_c31329d1 {
  width: 100%;
  height: 222rem;
  margin-bottom: 12rem;
  background: url("R.images.gui.maps.icons.battlePass.tooltips.quests_chain") no-repeat 50% /
    contain;
}
.Content_section_3b18e32a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(201, 201, 182, 0.07) 37%,
    rgba(201, 201, 182, 0.07) 63%,
    transparent
  );
}
.Content_title_616045b9 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 18rem 0 12rem;
}
.Content_text_8f35597f {
  color: #8c8c7e;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 20rem;
  line-height: 1.5;
}
.Content_funds_633ee744 {
  color: #e9e2bf;
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10rem 0;
  text-align: center;
}
.Content_funds_633ee744 > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10rem;
}
.Content_secondaryText_69f1894 {
  color: #595950;
  font-size: 14rem;
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  margin: 16rem 0 17rem;
  line-height: 1.5;
}
