.Reward_base_ea {
    display: flex;
    flex-direction: column;
    position: relative;
}

    .Reward_base__s48x48_46,
    .Reward_base__small_c0 {
        width: 48rem;
        height: 48rem;
    }

    .Reward_base__s80x80_ce,
    .Reward_base__big_e5 {
        width: 80rem;
        height: 80rem;
    }

    .Reward_base__s128x100_c3 {
        width: 128rem;
        height: 100rem;
    }

    .Reward_base__s180x135_7c {
        width: 180rem;
        height: 135rem;
    }

    .Reward_base__s232x174_67 {
        width: 232rem;
        height: 174rem;
    }

    .Reward_base__s296x222_78 {
        width: 296rem;
        height: 222rem;
    }

    .Reward_base__s400x300_07 {
        width: 400rem;
        height: 300rem;
    }

    .Reward_base__s600x450_f8 {
        width: 600rem;
        height: 450rem;
    }

.Reward_tooltipWrapper_b5 {
    height: 100%;
}

.Reward_icon_df {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_68 {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
    .Reward_base__small_c0 .Reward_overlay_68 {
        width: 96rem;
        height: 96rem;
        background-size: 100%;
        overflow: visible;
    }

.Reward_base__s80x80_ce .Reward_overlay_68,
    .Reward_base__big_e5 .Reward_overlay_68 {
        width: 128rem;
        height: 128rem;
    }

.Reward_base__s180x135_7c .Reward_overlay_68 {
        width: 266rem;
        height: 241rem;
    }

.Reward_base__s232x174_67 .Reward_overlay_68 {
        width: 344rem;
        height: 312rem;
    }

.Reward_base__s296x222_78 .Reward_overlay_68 {
        width: 450rem;
        height: 408rem;
    }

.Reward_base__s400x300_07 .Reward_overlay_68 {
        width: 618rem;
        height: 590rem;
    }

.Reward_base__s600x450_f8 .Reward_overlay_68 {
        width: 670rem;
        height: 575rem;
    }

.Reward_highlight_36 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_89 {
    position: relative;
}

.Reward_info_72 {
    margin-top: -13rem;
    color: #e9e2bf;
    font-size: 14rem;
    line-height: 18rem;
    text-align: center;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
    .Reward_base__small_c0 .Reward_info_72 {
        margin: -10rem -10rem 0;
    }

.Reward_info__multi_63 {
        margin-right: 2rem;
        text-align: right;
    }

.Reward_base__s48x48_46 .Reward_info__multi_63,
        .Reward_base__small_c0 .Reward_info__multi_63 {
            margin-right: 0;
        }

.Reward_info__credits_ef {
        color: #E9E2BF;
    }

.Reward_info__gold_36 {
        color: #FFC363;
    }

.Reward_info__crystal_36 {
        color: #C9C9B6;
    }

.Reward_info__premiumTank_d3 {
        color: #FFDD99;
    }

.Reward_timer_d3 {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
    .Reward_base__small_c0 .Reward_timer_d3 {
        width: 23rem;
        height: 23rem;
        background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
        top: -6rem;
        right: -6rem;
    }

.Reward_base__s80x80_ce .Reward_timer_d3,
    .Reward_base__big_e5 .Reward_timer_d3 {
        width: 48rem;
        height: 48rem;
        background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
        top: -14rem;
        right: -14rem;
    }

.Box_mt__XS_0c {
            margin-top: 4rem;
        }
        .Box_mt__SM_eb {
            margin-top: 8rem;
        }
        .Box_mt__SMp_cf {
            margin-top: 10rem;
        }
        .Box_mt__MD_25 {
            margin-top: 16rem;
        }
        .Box_mt__MDp_49 {
            margin-top: 20rem;
        }
        .Box_mt__LG_e8 {
            margin-top: 32rem;
        }
        .Box_mt__XL_83 {
            margin-top: 64rem;
        }

.Box_mr__XS_7c {
            margin-right: 4rem;
        }

.Box_mr__SM_08 {
            margin-right: 8rem;
        }

.Box_mr__SMp_06 {
            margin-right: 10rem;
        }

.Box_mr__MD_4a {
            margin-right: 16rem;
        }

.Box_mr__MDp_b6 {
            margin-right: 20rem;
        }

.Box_mr__LG_d0 {
            margin-right: 32rem;
        }

.Box_mr__XL_db {
            margin-right: 64rem;
        }

.Box_mb__XS_bb {
            margin-bottom: 4rem;
        }

.Box_mb__SM_83 {
            margin-bottom: 8rem;
        }

.Box_mb__SMp_04 {
            margin-bottom: 10rem;
        }

.Box_mb__MD_ed {
            margin-bottom: 16rem;
        }

.Box_mb__MDp_65 {
            margin-bottom: 20rem;
        }

.Box_mb__LG_c8 {
            margin-bottom: 32rem;
        }

.Box_mb__XL_f8 {
            margin-bottom: 64rem;
        }

.Box_ml__XS_8a {
            margin-left: 4rem;
        }

.Box_ml__SM_e6 {
            margin-left: 8rem;
        }

.Box_ml__SMp_fb {
            margin-left: 10rem;
        }

.Box_ml__MD_2b {
            margin-left: 16rem;
        }

.Box_ml__MDp_c7 {
            margin-left: 20rem;
        }

.Box_ml__LG_39 {
            margin-left: 32rem;
        }

.Box_ml__XL_4a {
            margin-left: 64rem;
        }

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
        font-size: 10rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_paragraph-P12_22 {
        font-size: 12rem;
        font-weight: 400;
        line-height: 1.3;
}
.Text_paragraph-P14_a7 {
        font-size: 14rem;
        font-weight: 400;
        line-height: 1.3;
}
.Text_paragraph-P16_90 {
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
}
.Text_paragraph-P18_50 {
        font-size: 18rem;
        font-weight: 400;
        line-height: 1.25;
}
.Text_paragraph-P24_33 {
        font-size: 24rem;
        font-weight: 400;
        line-height: 32rem;
}
.Text_heading-H14_8b {
        font-size: 14rem;
        font-weight: 700;
        line-height: 1.15;
}
.Text_heading-H15_9e {
        font-size: 15rem;
        font-weight: 700;
        line-height: 1.15;
}
.Text_heading-H18_b7 {
        font-size: 18rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H20R_f6 {
        font-size: 20rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_heading-H22_27 {
        font-size: 22rem;
        font-weight: 700;
        line-height: 1.2;
}
.Text_heading-H24R_be {
        font-size: 24rem;
        font-weight: 400;
        line-height: 1.2;
}
.Text_heading-H24_0c {
        font-size: 24rem;
        font-weight: 700;
        line-height: 1.2;
}
.Text_heading-H28_78 {
        font-size: 28rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H36_32 {
        font-size: 36rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H56_c3 {
        font-size: 56rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H73_8f {
        font-size: 73rem;
        font-weight: 700;
        line-height: 1.1;
}
.Text_heading-H144_a9 {
        font-size: 144rem;
        font-weight: 700;
        line-height: 1;
}
.Text_BLACK_REAL_30 {
        color: #000000;
    }
.Text_WHITE_REAL_bc {
        color: #FFFFFF;
    }
.Text_WHITE_62 {
        color: #F2F2F7;
    }
.Text_WHITE_ORANGE_54 {
        color: #FEFEEC;
    }
.Text_WHITE_SPANISH_df {
        color: #E9E2BF;
    }
.Text_PAR_15 {
        color: #8C8C7E;
    }
.Text_PAR_SECONDARY_5d {
        color: #595950;
    }
.Text_PAR_TERTIARY_c9 {
        color: #37362E;
    }
.Text_INFO_RED_30 {
        color: #FF0000;
    }
.Text_RED_66 {
        color: #FF2717;
    }
.Text_RED_DARK_d8 {
        color: #B70000;
    }
.Text_YELLOW_ed {
        color: #FEAB34;
    }
.Text_ORANGE_be {
        color: #EE7000;
    }
.Text_CREAM_57 {
        color: #FFDD99;
    }
.Text_BROWN_18 {
        color: #CBAC77;
    }
.Text_GREEN_BRIGHT_3f {
        color: #80D43A;
    }
.Text_GREEN_e3 {
        color: #7AB300;
    }
.Text_GREEN_DARK_f1 {
        color: #497212;
    }
.Text_BLUE_BOOSTER_21 {
        color: #CCFFFF;
    }
.Text_BLUE_TEAMKILLER_ab {
        color: #09E2FF;
    }
.Text_CRED_f7 {
        color: #CED9D9;
    }
.Text_GOLD_28 {
        color: #FFC363;
    }
.Text_BOND_be {
        color: #C9C9B6;
    }
.Text_PROM_65 {
        color: #A29B70;
    }

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
        padding: 4rem 6rem 8rem;
        border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
        border-image-slice: 24 fill;
        border-image-width: 24rem;
        position: relative;
    }

.App_base_f8 {
    width: 395rem;
    height: 100%;
    background: #0d0d0c;
}

.App_header_ba {
    color: #FEFEEC;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    align-items: center;
    padding: 30rem 20rem;
}

.App_conditionTitle_72 {
    color: #FFDD99;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    padding-left: 20rem;
}

.App_conditionTitle__honor_08 {
        margin-top: 12rem;
    }

.App_taskConditionWrapper_ff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 20rem 0;
}

.App_taskCondition_89 {
    display: flex;
}

.App_taskIcon_05 {
    width: 90rem;
    height: 90rem;
    margin-top: -20rem;
    background: no-repeat center / contain;
}

.App_taskText_db {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 265rem;
}

.App_rewardRibbon_c3 {
    width: 395rem;
    height: 160rem;
    background: url('R.images.gui.maps.icons.personalMissions3.tooltips.QuestCardTooltip.ribbon') no-repeat center /
        cover;
}

.App_rewardRibbon__large_3b {
        margin-bottom: 60rem;
    }

.App_rewardRibbon__tight_13 {
        padding: 0 60rem;
    }

.App_rewardsTitle_96 {
    color: #FFDD99;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    padding-left: 20rem;
    padding-top: 16rem;
}

.App_rewards_7a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -12rem;
    padding-top: 10rem;
}

.App_reward_f9 {
    margin-left: 12rem;
}

.App_reward__secondRow_a0 {
        margin-top: 8rem;
    }

.App_content_dc {
    display: flex;
    justify-content: center;
    padding-top: 20rem;
}

.App_footer_9a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 7rem;
}

.App_footer__pause_29 {
        padding-top: 5rem;
        padding-bottom: 20rem;
    }

.App_questStatusWrapper_75 {
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
}

.App_questStatusWrapper__pause_07 {
        padding-bottom: 0;
    }

.App_statusIcon_fa {
    width: 24rem;
    height: 24rem;
    background: no-repeat center / cover;
}

.App_statusIcon__done_e4,
    .App_statusIcon__doneBasic_46 {
        width: 48rem;
        height: 48rem;
        margin: -14rem -12rem -12rem;
    }

.App_statusIcon__previousProgressAll_65 {
        width: 48rem;
        height: 48rem;
        margin: -15rem -12rem -12rem;
    }

.App_statusIcon__previousProgress_16 {
        width: 48rem;
        height: 48rem;
        margin: -15rem -12rem -12rem;
    }

.App_statusIcon__noTech_51 {
        width: 48rem;
        height: 48rem;
        margin: -15rem -12rem -12rem;
    }

.App_statusIcon__doneHonor_f7 {
        margin-top: -3rem;
    }

.App_statusIcon__inProgress_73,
    .App_statusIcon__inProgressHonor_54 {
        margin-top: -3rem;
    }

.App_statusIcon__available_c8 {
        display: none;
    }

.App_questStatus_dc {
    color: #FFDD99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 8rem;
}

.App_questStatus__locked_c0 {
        text-shadow: 0rem 0rem 15rem #e52, 0rem 0rem 8rem #ff2a00b2, 0rem 0rem 4rem #ff7f0040;
    }

.App_questStatus__previousProgress_62 {
        text-shadow: 0rem 0rem 15rem #e52, 0rem 0rem 8rem #ff2a00b2, 0rem 0rem 4rem #ff7f0040;
    }

.App_questStatus__previousProgressAll_b4 {
        text-shadow: 0rem 0rem 15rem #e52, 0rem 0rem 8rem #ff2a00b2, 0rem 0rem 4rem #ff7f0040;
    }

.App_questStatus__inProgressHonor_10 {
        margin-left: -24rem;
    }

.App_questStatus__done_53,
    .App_questStatus__doneHonor_73,
    .App_questStatus__doneBasic_67 {
        color: #7AB300;
    }

.App_questStatus__pause_1e {
        color: #C9C9B6;
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
        margin-left: 0;
    }

.App_questAdditionalCondition_36 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: -10rem;
    padding: 2rem 0 10rem;
}

.App_questAdditionalCondition__pause_a5 {
        color: #8C8C7E;
        font-size: 16rem;
        font-weight: 400;
        line-height: 1.25;
        margin-top: -5rem;
        padding: 0;
        opacity: 0.7;
    }

.App_divider_e5 {
    width: 365rem;
    height: 9rem;
    background: url('R.images.gui.maps.icons.personalMissions3.tooltips.QuestCardTooltip.devider') no-repeat center /
        contain;
}

.QuestList_base_ec {
    display: flex;
    flex-direction: column;
}

.QuestList_conditionTitle_b7 {
    color: #FFDD99;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    padding-left: 20rem;
}

.QuestList_taskConditionWrapper_86 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20rem 20rem 0;
}

.QuestList_taskCondition_53 {
    display: flex;
    flex-direction: column;
    margin-top: -10rem;
    margin-bottom: -12rem;
}

.QuestList_taskIcon_65 {
    width: 80rem;
    height: 80rem;
    background: no-repeat center / cover;
}

.QuestList_taskText_69 {
    color: #8C8C7E;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 285rem;
    padding-right: 16rem;
}

.QuestList_taskContent_f5 {
    display: flex;
    align-items: center;
}

.QuestList_countBattles_7b {
    color: #FEAB34;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-left: 5rem;
    padding-top: 16rem;
    padding-bottom: 8rem;
}

.QuestList_groups_68 {
    display: flex;
    flex-direction: column;
}

.QuestList_or_a4 {
    color: #CBAC77;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: -10rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
    position: relative;
    left: 80rem;
}

