.FormatText_base_d0 {
  display: flex;
  flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_3c {
  color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
  color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
  color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
  color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
  color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
  color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
  color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
  color: #37362e;
}

.FormatTextWithColorTags_red_60 {
  color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
  color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
  color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
  color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
  color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
  color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
  color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
  color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
  color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
  color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
  color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
  color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
  color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
  color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
  color: #a29b70;
}

.Icon_base_67 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SimpleTextApp_base_bd {
  text-align: center;
}

.SimpleTextApp_formatText_fa {
  justify-content: center;
  align-items: flex-start;
}
