@keyframes ExtraReward_fadeIn_2fa8afb6 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ExtraReward_9354b7c3 {
  width: 80rem;
  height: 80rem;
  margin: 0 8rem;
  background: no-repeat center/contain;
  position: relative;
}
@keyframes Title_fadeIn_2e63cf3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Title_4a8f0758 {
  display: flex;
  justify-content: center;
}
.Title_base__premium_plus_8be25f37 {
  transform: translateY(7rem);
}

.Title_value_5c3353d2 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  margin-top: -7rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 120%;
  text-align: center;
}
.Title_base__credits_2e63cf3 .Title_value_5c3353d2 {
  color: var(--color-currency-credits);
}
.Title_base__gold_2e63cf3 .Title_value_5c3353d2,
.Title_base__premium_plus_8be25f37 .Title_value_5c3353d2 {
  color: var(--color-currency-gold);
}
.Title_base__freeXP_2e63cf3 .Title_value_5c3353d2,
.Title_base__bptaler_2e63cf3 .Title_value_5c3353d2,
.Title_base__crystal_2e63cf3 .Title_value_5c3353d2 {
  color: var(--color-currency-bond);
}

.Title_plural_6d2ab7fe {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-left: 4rem;
  margin-top: -7rem;
  color: var(--color-currency-gold);
  line-height: 120%;
}
@keyframes VehicleTitle_fadeIn_8292520d {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.VehicleTitle_cc85cff9 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: var(--color-currency-gold);
  white-space: nowrap;
}
@keyframes ExtraRewards_fadeIn_91712b2e {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ExtraRewards_a358aca3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ExtraRewards_extraRewardsWrapper_671c8474 {
  display: flex;
  flex-direction: row;
}

.ExtraRewards_text_21b7c375 {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 6rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
}
.mediaMedium .ExtraRewards_text_21b7c375 {
  margin-bottom: 8rem;
  font-size: 22rem;
}
@keyframes AdditionRewards_fadeIn_dd9e5582 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.AdditionRewards_6fbe30c4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.AdditionRewards_6fbe30c4 .AdditionRewards_extraRewards_d23daaa9 {
  width: 100%;
}
@keyframes Rewards_fadeIn_405577a5 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Rewards_d61855f1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
@keyframes Title_fadeIn_2e63cf3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Title_60f02b6b {
  width: 100%;
}

.Title_label_89fdbc07 {
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3em;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  text-align: center;
}
.Title_base__lootBox_2e63cf3 .Title_label_89fdbc07 {
  color: var(--color-currency-credits);
  font-size: 18rem;
}

.Title_description_5c6cc82d {
  font-size: 18rem;
  font-weight: 400;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  line-height: 120%;
  text-align: center;
}
.Title_base__credits_2e63cf3 .Title_description_5c6cc82d {
  color: var(--color-currency-credits);
}
.Title_base__gold_2e63cf3 .Title_description_5c6cc82d,
.Title_base__premium_plus_2e63cf3 .Title_description_5c6cc82d {
  color: var(--color-currency-gold);
}
.Title_base__crystal_2e63cf3 .Title_description_5c6cc82d {
  color: var(--color-currency-bond);
}
@keyframes Compensation_fadeIn_db29c4dc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Compensation_22c7fec0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@keyframes PreviewButton_fadeIn_22577403 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.PreviewButton_fdc3bedf {
  display: flex;
  align-items: center;
}
@keyframes RareGlow_fadeIn_c6e2840e {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RareGlow_c6e2840e,
.RareGlow_video_c4cd6073 {
  width: 100%;
  height: 100%;
}
@keyframes Label_fadeIn_e3f8b3ce {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Label_7f88fbb1 {
  font-size: 22rem;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  justify-content: center;
  color: rgba(var(--color-general-primary-rgb), 0.9);
  font-weight: 400;
  line-height: 115%;
}
.Label_base__credits_c318c9f1 {
  color: var(--color-currency-credits);
}
.Label_base__gold_e3f8b3ce,
.Label_base__premium_plus_5d5126e1 {
  color: var(--color-currency-gold);
}
.Label_base__freeXP_e3f8b3ce,
.Label_base__bptaler_e3f8b3ce,
.Label_base__crystal_34a7d691 {
  color: var(--color-currency-bond);
}
@keyframes Plural_fadeIn_e8c3c4d2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Plural_97a9f954 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  margin-left: 4rem;
  color: var(--color-status-alert);
  font-weight: 400;
  line-height: 1.15em;
}
.Plural_base__premium_plus_3f7ab6cc {
  color: var(--color-currency-gold);
}
@keyframes Title_fadeIn_2e63cf3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Title_60f02b6b {
  width: 100%;
}
@keyframes RewardCard_fadeIn_a49b43b7 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RewardCard_ecfc0889 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@keyframes Compensation_fadeIn_db29c4dc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Compensation_db29c4dc .Compensation_glow_db29c4dc,
.Compensation_particles_6a26f8c1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.Compensation_particles_6a26f8c1 {
  z-index: 1;
}

.Compensation_db29c4dc .Compensation_compensationIcon_ecf2b736 {
  position: absolute;
  top: 24rem;
  right: 24rem;
}
.mediaLarge .Compensation_db29c4dc .Compensation_compensationIcon_ecf2b736 {
  top: 50rem;
  right: 50rem;
}
@keyframes Title_fadeIn_2e63cf3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Title_2e63cf3 .Title_text_f2795d1c {
  justify-content: center;
}
@keyframes Card_fadeIn_f4c22d1c {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Card_f8ca6727 {
  margin: 0 8rem;
}
.mediaLarge .Card_f8ca6727 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.Card_previewWrapper_58bcc92f {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Card_f8ca6727 .Card_previewButton_6ec3b3ed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.Card_f8ca6727 .Card_previewButton__ready_affac095 {
  pointer-events: auto;
}

.Card_f8ca6727 .Card_rareVideo_f4c22d1c,
.Card_glow_951fb0ef {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.Card_f8ca6727 .Card_compensation_36747d95 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Card_glow_951fb0ef {
  z-index: -1;
}
@keyframes RewardList_fadeIn_e54afe17 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.RewardList_7f0b73c7 {
  z-index: 1;
}
@keyframes Layout_fadeIn_750f09cf {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Layout_1c0c8eb5 {
  pointer-events: none;
}
.Layout_base__ready_73e4204f {
  pointer-events: auto;
}

.Layout_1c0c8eb5 .Layout_overlay_2156876 {
  z-index: 4;
  pointer-events: auto;
}

.Layout_1c0c8eb5 .Layout_extraRewards_8960bd4d {
  margin-top: 40rem;
}
.mediaLarge .Layout_1c0c8eb5 .Layout_extraRewards_8960bd4d {
  margin-top: 60rem;
}
@keyframes App_fadeIn_0 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_loaderWrapper_a177675d {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.App_0 .App_background_bb0bfe54 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
