.Layout_base_ee0e1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 996rem;
  height: 100%;
  position: relative;
}

.Layout_base__small_bee92,
.Layout_base__medium_c94b7 {
  width: 1310rem;
}

.Layout_base__large_ae38a,
.Layout_base__huge_d2a83 {
  width: 1560rem;
}
.Layout_header_ae832 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10rem 0 20rem;
}
.Layout_base__compare_ae1ac .Layout_header_ae832 {
  flex-direction: column;
  align-items: center;
}
.Layout_header__small_b589f,
.Layout_header__tiny_ea38c {
  margin: 10rem 0 16rem;
}
.Layout_content_d16b9 {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}
.Layout_base__compare_ae1ac .Layout_content_d16b9 {
  justify-content: center;
  margin-top: 7rem;
  padding-top: 20rem;
  padding-bottom: 10rem;
}
.Layout_main_ad9fe {
  width: 596rem;
  border-top: 1rem solid rgba(255, 255, 255, 0.1);
  border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
}
.Layout_base__compare_ae1ac .Layout_main_ad9fe {
  width: 902rem;
}
.Layout_base__small_bee92 .Layout_main_ad9fe,
.Layout_base__medium_c94b7 .Layout_main_ad9fe {
  width: 902rem;
}
.Layout_base__large_ae38a .Layout_main_ad9fe,
.Layout_base__huge_d2a83 .Layout_main_ad9fe {
  width: 1102rem;
}
.Layout_inner_ab43f {
  margin: 0 -16rem;
}
.Layout_base__large_ae38a .Layout_inner_ab43f,
.Layout_base__huge_d2a83 .Layout_inner_ab43f {
  margin: 0 -20rem;
}
.Layout_footer_a41d6 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 596rem;
  height: 166rem;
  padding-top: 20rem;
}
.Layout_base__small_bee92 .Layout_footer_a41d6,
.Layout_base__medium_c94b7 .Layout_footer_a41d6 {
  width: 902rem;
}
.Layout_base__large_ae38a .Layout_footer_a41d6,
.Layout_base__huge_d2a83 .Layout_footer_a41d6 {
  width: 1102rem;
}

.WeaponOccupancy_base_fac40 {
  display: flex;
  color: #7ab300;
  font-weight: 700;
}

.WeaponOccupancy_base__incomplete_de8b2 {
  color: #ff2717;
}

.WeaponOccupancy_tip_bc0bf {
  margin-right: 5rem;
}

.WeaponOccupancy_occupancy_bfd5c {
  color: #80d43a;
  font-size: 24rem;
}

.WeaponOccupancy_occupancy__incomplete_fd86a {
  color: #ff2717;
}

.WeaponOccupancy_occupancy__large_d394e,
.WeaponOccupancy_occupancy__huge_bc95b {
  font-size: 28rem;
}
