/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_6fb69530 {
  display: flex;
  flex-direction: column;
  color: #8c8c7e;
  font-size: 14rem;
  line-height: 1.3;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Footer_5a116bc3 {
  display: flex;
  flex-direction: column;
  font-size: 14rem;
}

.Footer_list_feff181a {
  margin-bottom: 10rem;
}

.Footer_listTitle_edf96c67 {
  margin-bottom: 10rem;
  color: #37362e;
  font-weight: 700;
}

.Footer_items_ba6fe6b4 {
  color: #8c8c7e;
}

.Footer_row_85f76f88 {
  display: flex;
  align-items: center;
  margin-left: 20rem;
}

.Footer_icon_5fdf9d06 {
  margin-right: 5rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Header_4824f534 {
  display: flex;
  align-items: center;
  height: 48rem;
  padding-left: 70rem;
  position: relative;
}

.Header_iconWrapper_ca45cf {
  width: 90rem;
  height: 90rem;
  position: absolute;
  top: -20rem;
  left: -20rem;
}

.Header_description_d362ea56 {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.3em;
  color: #e9e2bf;
  position: relative;
  top: -1rem;
} /* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_48b0ea08 {
  display: flex;
  flex-direction: column;
  min-width: 310rem;
  max-width: 380rem;
  padding: 18rem 20rem;
}

.App_header_a90e0bc2 {
  margin-bottom: 10rem;
}

.App_content_962209c7 {
  margin: 10rem 0;
}

.App_footer_80741629 {
  margin-top: 10rem;
}
