.HintButton_base_b8f09 {
    margin-right: 5rem;
    position: relative;
}

    .HintButton_base__small_a976e .HintButton_btnInner_a1365 {
            height: 10rem;
            font-size: 8rem;
            line-height: 1.1;
        }

.HintButton_btnOuter_d6179 {
    display: flex;
    flex-direction: row;
    border: 2rem solid #ff981f;
    border-radius: 6rem;
}

.HintButton_btnOuter__blink_c47d8 {
        border: 2rem solid #ffbd1f;
    }

.HintButton_animationContainer_c28a6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

.HintButton_buttonContainer_fb6b9 {
    display: flex;
    flex-direction: row;
}

.HintButton_btnInner_a1365 {
    display: flex;
    flex-direction: row;
    height: 12rem;
    margin: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
    background: #ff981f;
    color: #000;
    font-size: 11rem;
    font-weight: 700;
    line-height: 13rem;
}

.HintButton_btnInner__blink_ae582 {
        background: #ffbd1f;
    }

