@keyframes ScrollWithLips_fadeIn_846161e6 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ScrollWithLips_7a136195 {
  display: flex;
  justify-content: center;
  position: relative;
}

.ScrollWithLips_lip_5ca29cc2 {
  width: 752rem;
  height: 64rem;
  background: no-repeat center/cover;
  position: absolute;
  left: 50%;
  z-index: 2;
  pointer-events: none;
}
.ScrollWithLips_lip__top_b267d4b5 {
  top: 0;
  transform: translate(-50%, -100%);
}
.ScrollWithLips_lip__bottom_7aafaed7 {
  bottom: 0;
  transform: translate(-50%, 100%) rotate(180deg);
}

.ScrollWithLips_scroll_8e476a4 {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.ScrollWithLips_scroll__loaded_76bcfcc5 {
  visibility: visible;
}

.ScrollWithLips_scrollContent_e516a6a5 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ScrollWithLips_track_a8bacc80 {
  margin: 0 0 1rem;
}
