.FormatText_base_f27a4 {
  display: flex;
  flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_ae104 {
  color: #000000;
}

.FormatTextWithColorTags_whiteReal_c12a8 {
  color: #ffffff;
}

.FormatTextWithColorTags_white_c5665 {
  color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_fff65 {
  color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_d24b3 {
  color: #e9e2bf;
}

.FormatTextWithColorTags_par_ee7d9 {
  color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_a5b8c {
  color: #595950;
}

.FormatTextWithColorTags_parTertiary_a0c09 {
  color: #37362e;
}

.FormatTextWithColorTags_red_ad70c {
  color: #ff2717;
}

.FormatTextWithColorTags_redDark_afb30 {
  color: #b70000;
}

.FormatTextWithColorTags_yellow_e47d1 {
  color: #feab34;
}

.FormatTextWithColorTags_orange_e08c4 {
  color: #ee7000;
}

.FormatTextWithColorTags_cream_f2e96 {
  color: #ffdd99;
}

.FormatTextWithColorTags_brown_ed7be {
  color: #cbac77;
}

.FormatTextWithColorTags_greenBright_b0875 {
  color: #80d43a;
}

.FormatTextWithColorTags_green_d0263 {
  color: #7ab300;
}

.FormatTextWithColorTags_greenDark_f19b8 {
  color: #497212;
}

.FormatTextWithColorTags_blueBooster_fd3be {
  color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_fd915 {
  color: #09e2ff;
}

.FormatTextWithColorTags_cred_fdafa {
  color: #ced9d9;
}

.FormatTextWithColorTags_gold_ab90e {
  color: #ffc363;
}

.FormatTextWithColorTags_bond_e83f5 {
  color: #c9c9b6;
}

.FormatTextWithColorTags_prom_aa30c {
  color: #a29b70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_bf7ac {
  width: 0;
  color: #8c8c7e;
}

.Icon_base_bfe62 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SimpleTextApp_base_e1cc6 {
  text-align: center;
}

.SimpleTextApp_formatText_bfadc {
  justify-content: center;
  align-items: flex-start;
}

.MultipleIconsSetApp_base_e0c6c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MultipleIconsSetApp_mainIcon_c6fef {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.MultipleIconsSetApp_iconContainer_b36b8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MultipleIconsSetApp_iconLabel_bac68 {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #8c8c7e;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.25;
  z-index: 3;
}

.MultipleIconsSetApp_container_f5379 {
  width: 180rem;
  height: 135rem;
  position: relative;
}

.MultipleIconsSetApp_icon_a6505 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
